[2015-10-13 03:18] kilbyjmichael opened #1597 "IOError on --onefile"
36 INFO: PyInstaller: 3.0
37 INFO: Python: 2.7.6
37 INFO: Platform: Linux-3.13.0-57-generic-x86_64-with-Ubuntu-14.04-trusty
Traceback (most recent call last):
  File "/usr/local/bin/pyinstaller", line 9, in <module>
    load_entry_point('PyInstaller==3.0', 'console_scripts', 'pyinstaller')()
  File "/usr/local/lib/python2.7/dist-packages/PyInstaller/__main__.py", line 97, in run
    spec_file = ru

[2015-10-13 08:38] phelixbtc commented on #1582
In the code I stumbled across parts that do things differently for older Windows versions. I am a bit ashamed to admit that I was testing against Windows XP. I will try again with win8.1/win8.1. This should also make it easier to get the DLLs right.

[2015-10-13 08:39] matysek commented on #1597
Please follow this guide: https://github.com/pyinstaller/pyinstaller/wiki/If-Things-Go-Wrong and https://github.com/pyinstaller/pyinstaller/wiki/How-to-Report-Bugs

[2015-10-13 15:29] seanthegeek opened #1598 "os.path.dirname(os.path.realpath(__file__)) incorrectly returns current working directory"
In pyinstaller 3.1-dev0 on Python 3.5.0 (MacPorts) on Mas OS 10.11

    os.path.dirname(os.path.realpath(__file__))

Always returns the current working directory, rather than the directory that  `__file__`  is actually located in. This breaks the ability to locate included files.

Is there another way to find that path in the meantime?

[2015-10-13 15:35] seanthegeek commented on #1598
I didn't RTFM fully :\

[2015-10-13 15:38] codewarrior0 commented on #1598
There's technically a bug here. The manual does say to use `sys._MEIPASS` to find included files, but many python modules are able to find their included files without it. This is because we synthesize a `__file__` attribute for those modules when frozen, and that attribute points to a file inside `sys._MEIPASS` such that finding data files relative to it will work.

The main script is an exceptio

[2015-10-13 15:38] #1598 closed

[2015-10-13 18:47] r0x0r commented on #1322
This is how py2exe handles this module if this is of any help
http://www.py2exe.org/index.cgi/win32com.shell

[2015-10-13 18:59] matysek commented on #1580
@jksfiftyfive @dloman or @rth could anyone of you confirm that these commits fix this issue?

[2015-10-13 19:11] matysek commented on #1598
@codewarrior0 Is this anything you think  should be fixed?

[2015-10-13 19:13] matysek commented on #1130
Not responded for a long time.

[2015-10-13 19:13] #1130 closed

[2015-10-13 19:59] codewarrior0 commented on #1598
Yes. Included modules can already find their data files using `__file__`, so there's no reason we can't extend that to the main script also.

[2015-10-13 22:18] matysek commented on #1448
Closing:
* https://nightli.es/ runs the osx tests once per day.
* I think for now running OS X tests once per day is sufficient.

[2015-10-13 22:18] #1448 closed

[2015-10-13 22:40] rth commented on #1580
@matysek  I can confirm that the above commits fixed the issue for me on Windows 8.1 with Anaconda, (Python 2.7 and 3.4), as well as on Linux (Python 2.7 and 3.4). Thanks!

[2015-10-13 23:04] #1580 closed

[2015-10-14 07:59] chrisb1989 commented on #1593
I have the same issue. did you figure this out?

[2015-10-14 08:30] matysek commented on #1593
@goyodiaz Does this workaround work for your usecase?

[2015-10-14 10:13] soupault commented on #1580
Fixed for me also (Win7, Anaconda, Python 3.4).

[2015-10-14 10:23] soupault opened #1600 "PyQt5 is missing from includes unless specified in hidden-import"
Here is a simple Qt-based app from the internet - http://pastebin.com/9Ef06GQi .

Using both stable 3.0 and latest 3.1dev I tried to create `--onedir` build.

The issue is that application fails to start, writing `No module named 'PyQt5'` in the console.

Tried to add direct import like `import PyQt5` in the source file.

Built with `-hidden-import=PyQt5` application starts to work.

[2015-10-14 10:28] AcidWeb commented on #1600
Windows?

Because PyQT5 hook work correctly on OS X and Linux.

[2015-10-14 10:30] matysek commented on #1322
@htgoebel Does this look like a new candidate for `pre_find_module_path` hook?
@codewarrior0 Are you going to work on this issue?

[2015-10-14 10:35] soupault commented on #1600
Yes, sorry, forgot to mention SW specs:

Windows 7 x64, Python 3.4 (anaconda), Qt5.5, PyQt5.

[2015-10-14 10:40] AcidWeb commented on #1600
Due to lack of installers (Python 3.5) I not tested QT5 with pyinstaller yet - so can't help.
But I'm 100% sure that hook is working correctly on other OS.

[2015-10-14 12:32] seanthegeek commented on #1566
@codewarrior0 I don't know much about Windows internals, but I do have a powerful system running Windows 10 bare metal that I'd be happy to run tests on as needed, as this bug effects the dev environment for my latest project.

[2015-10-14 13:21] goyodiaz commented on #1593
Apologies for the delay. The suggested workaround worked.

Actually editing just hook-PIL.py was enough for the package to build and run (in the same computer). I did not have to touch hook-PIL.SpiderImagePlugin.py.

[2015-10-14 16:54] olemoign commented on #842
Hi,
I retried today with Pyinstaller 3 and the problem seems resolved.
Thank you for the work.

[2015-10-14 17:13] matysek commented on #842
@olemoign Could you please try latest `develop` version if that still works for you? There were some recent changes related to pyzmq support.

[2015-10-14 19:18] bjones1 opened #1601 "Failing tests (Appveyor, Travis OS X)"
It seems that Appveyor testing is broken right now, so we're missing CI coverage on Windows. On my PC (Win 7, Py 2.7), I see the following failures. Can anyone else confirm these, or do I have a broken setup? Thanks for any help.

[code]

[2015-10-14 19:50] bjones1 commented on #1595
OK. Done per #1602.

[2015-10-14 20:04] #1595 closed

[2015-10-14 20:07] matysek commented on #1593
Closing. Duplicate of #1584

[2015-10-14 20:07] #1593 closed

[2015-10-14 20:36] htgoebel commented on #1322
This should become a `pre_save_import` hook, as we need to extend the path *after* the package has been found, but *before* processing it's imports.

[2015-10-14 20:40] olemoign commented on #842
Same with the latest `develop`, it's now working. I even tried with pyzmq 13.1 and 14.7.

[2015-10-14 20:52] #842 closed

[2015-10-15 01:11] dloman commented on #1580
Fixed for me as well :+1:

[2015-10-15 07:13] matysek commented on #1322
Ok, I'm going to try that.

[2015-10-15 10:04] olemoign opened #1603 "UPX on Windows leads to python27.dll loading error"
Windows 7
Python 2.7.10
Pyinstaller 3 and `develop`
UPX 3.91

Packaging works fine without UPX but using UPX, I get (in onefile and onedir):
`Error loading Python DLL: C:\Users\Olivier\AppData\Local\Temp\_MEI60122\python27.dll (error code 14001)`

[2015-10-15 10:40] HeartUnchange opened #1604 "UnicodeDecodeError - collect_data_files does not return filenames as unicode"
all information is here:

    E:\python27\Scripts>pyinstaller.exe --onefile --windowed D:\fuck\dla.py
    65 INFO: PyInstaller: 3.0
    65 INFO: Python: 2.7.10
    65 INFO: Platform: Windows-7-6.1.7601-SP1
    66 INFO: wrote E:\python27\Scripts\dla.spec
    69 INFO: UPX is not available.
    72 INFO: Extending PYTHONPATH with D:\fuck
    72 INFO: checking Analysis
    237 INFO: checking PYZ
    30

[2015-10-15 11:02] htgoebel commented on #1604
There seams to be some filename containing "wrong" (non-ascii) characters. Somewhere PyInstaller is reading a filename which is *not* converted to unicode. So wee need to find out how this happens.

Please post the generated `.spec`-file and search the generated `out00-PKG.toc` file (it it exists, else the other `.toc` files).

[2015-10-15 11:21] HeartUnchange commented on #1604
i have upload these files here:

https://github.com/HeartUnchange/my-tools/tree/master/pyinstaller_issue

[2015-10-15 11:47] HeartUnchange opened #1605 "the executable created by pyinstall return -1"
![1](https://cloud.githubusercontent.com/assets/8402502/10512464/1d81a5ac-7373-11e5-8e8a-327c2ab5f5c8.PNG)

build information is here

    C:\Users\zhx>pyinstaller --windowed --onefile  D:\fuck\pyqt\what.py
    55 INFO: PyInstaller: 3.0
    56 INFO: Python: 2.7.10
    58 INFO: Platform: Windows-7-6.1.7601-SP1
    59 INFO: wrote C:\Users\zhx\what.spec
    62 INFO: UPX is not available.
    65 INFO:

[2015-10-15 12:29] htgoebel commented on #1604
I can't spot any unusual stuff there. Please warp
[code]

by
[code]
This shoud print the offending `nm`.

[2015-10-15 12:45] HeartUnchange commented on #1604
the result is

    AssertionError: 'ipython\\qt\\console\\qtconsoleapp.pyw - \xbf\xec\xbd\xdd\xb7\x
    bd\xca\xbd.lnk'

[2015-10-15 13:06] HeartUnchange commented on #1604
I delete this .lnk and build again.
building is successful.but.the executable is not right.The error infomation is like to [issue#1605](https://github.com/pyinstaller/pyinstaller/issues/1605)

[2015-10-15 13:10] HeartUnchange commented on #1605
I delete the option --windowed ,and I get the error information:

C:\Users\zhx>C:\Users\zhx\dist\dla.exe
Traceback (most recent call last):
  File "<string>", line 6, in <module>
  File "e:\python27\Lib\site-packages\PyInstaller\loader\pyimod03_importers.py",
 line 363, in load_module
    exec(bytecode, module.__dict__)
  File "e:\python27\lib\site-packages\matplotlib\pyplot.py", line 114, in <mod

[2015-10-15 13:20] HeartUnchange commented on #1605
the solution is here:
http://stackoverflow.com/questions/25733467/pyinstaller-no-module-named

[2015-10-15 13:24] HeartUnchange commented on #1604
the solution is here:

http://stackoverflow.com/questions/25733467/pyinstaller-no-module-named

[2015-10-15 13:26] htgoebel commented on #1604
No, this is not the solution for *this* issue, since you removed the link.

[2015-10-15 13:37] HeartUnchange commented on #1605
in py-file i write these:
    import sip
    sip.setapi('QVariant', 2)
    sip.setapi('QString', 2)

and then the executable show the error information:

    Traceback (most recent call last):
      File "<string>", line 8, in <module>
    ValueError: API 'QVariant' has already been set to version 1

I have found :
https://github.com/pyinstaller/pyinstaller/wiki/Recipe-PyQt4-API-Version

[2015-10-15 13:37] #1605 closed

[2015-10-15 13:41] htgoebel commented on #1604
I assume, the reason for *this* issue is that `collect_data_files()` does not return filenames as unicode, but as string. I'll try to write a test-case for this.

[2015-10-15 13:50] htgoebel commented on #1604
@HeartUnchange  Please try if my test-case fails on your machine:
- Download and unpack https://github.com/htgoebel/pyinstaller/archive/issue-1604-collect_data_files-unicode.zip
[code]
should
[code]

[2015-10-15 14:48] matysek commented on #1603
@olemoign could you play a little bit with different upx options on the python27.dll?
* Currently PyInstaller uses these upx options on windows: `--lzma -q`
* Probably create onedir exe from your app without upx and then just copy there upxed python27.dll there with different upx options?
* Are you able to find out options that works for python27.dll?

[2015-10-15 19:46] matysek commented on #1532
@htgoebel
* Does the new function `add_package_path` fulfills your requirements for __path__ manipulation?
* Could this issue be closed or anything else to do?

[2015-10-15 19:47] matysek commented on #1322
Closing. This should be fixed.
@Torxed or @r0x0r could you verify that it works for you?

[2015-10-15 19:47] #1322 closed

[2015-10-15 19:51] matysek commented on #1530
@htgoebel Could this be implemented like the hook `hooks\pre_safe_import_module\hook-win32com.py'?

[2015-10-15 22:32] LevN0 opened #1606 "OS X, Tk/TCL and matplotlib"
Hello,

Python version: 2.7.10
PyInstaller version: 3.0
Matplotlib version: 1.4.3

A proposed workaround to the OSX bug reported in the link below, where Tk/TCL is not packaged on MacOS, is to install python via homebrew. Here's the issue description:

https://github.com/pyinstaller/pyinstaller/issues/1350

Following this method, I installed python 2.7 via homebrew, and added only matplotlib and i

[2015-10-16 02:09] HeartUnchange commented on #1604
yes the result is

    tests\unit\test_hookutils.py:220: AssertionError
    =========================== short test summary info ===========================
    FAIL tests/unit/test_hookutils.py::test_collect_data_all_included[package]

[2015-10-16 07:50] matysek commented on #1606
Thanks for reporting this issue. We get similar error while running `test_tkinter` in travis: https://travis-ci.org/pyinstaller/pyinstaller-osx-tests

[2015-10-16 09:44] matysek commented on #1604
@HeartUnchange I'm just guessing but does this patch fixes the unicode error?
[code]

[2015-10-16 10:16] JokerQyou commented on #1605
Did you find any solution to this? I'm having the same problem here. Nothing but that message box pop up and says 'main returned -1'. I've tried build with the `--debug` flag but the executable still does not log anything.

I'm on Windows 10 with Python 2.7.10 and PyInstaller 3.0.

[2015-10-16 10:24] JokerQyou commented on #1605
The `sip` related workaround does not work. I'm not doing anything with the API version of PyQt4.

[2015-10-16 12:13] JokerQyou opened #1607 "PyInstaller 3.0 cannot find required imports from .egg files"
Let's say I have a main script named `main.py`, and I want to package that into a `.exe` executable. I've specified hidden imports in `main.spec`

[code]

The packages `pyoauth2` and `edo_client` are installed in `.egg` files, named `edo_client-0.9.3-py2.7.egg` and `py_oauth2-0.0.10-py2.7.egg`. (They are installed using `pip` or directly from `python setup.py install`)

And PyInstaller cannot find

[2015-10-16 12:45] matysek commented on #1584
@htgoebel Don't you mind if I work on this?

[2015-10-16 12:54] matysek commented on #1607
This looks like a duplicate of #1581

[2015-10-16 13:34] HeartUnchange commented on #1605
@JokerQyou you can build without the option --windowed so that you can see error information when you run the executable.

[2015-10-16 13:36] JokerQyou commented on #1605
Thank you for the tip! I have already done that after I replied here, and have found the reason. I've created another issue about this problem, #1607 .

[2015-10-16 13:37] JokerQyou commented on #1607
Yes I think this is a duplicate.

[2015-10-16 14:31] matysek commented on #1607
This is duplicate of #1581.

[2015-10-16 14:31] #1607 closed

[2015-10-16 14:49] phelixbtc commented on #1582
I will have to set up a new machine for proper testing. This will take me a while.

[2015-10-16 15:05] ryansturmer opened #1608 "Error when looking for ctypes DLLs"
Version 3.0 of pyinstaller gives me this error on Windows 7 using python 2.7.5

[code]

This is a relatively simple application that uses wxpython, and a single ctypes-loaded dll (loaded by
`windll.LoadLibrary` using a bare filename)

[2015-10-16 15:37] codewarrior0 commented on #1604
The problem here is caused by Python 2's implicit `decode` operation. `str` types are already encoded. When you call `str.encode('UTF-8')`, Python 2 automatically does `str.decode('ASCII').encode('UTF-8')`. The fix is to do something like:

[code]

[2015-10-16 15:44] codewarrior0 commented on #1604
On Python 2, all filenames PyInstaller receives are `str` types. Converting all filenames to `unicode` is kind of a big project. I'd have to find every point in the code where PyInstaller gets a filename, and either change it to get the filename using a unicode API (for example, passing a unicode string to `os.listdir` calls the unicode API), or explicitly decode the filename using the filesystem

[2015-10-16 15:54] htgoebel commented on #1604
@codewarrior0 Can I give this into your experienced hands?

[2015-10-16 15:57] htgoebel commented on #1584
I plan working an these hook-issues this weekend. Is this okay for you?

[2015-10-16 16:04] htgoebel commented on #1608
Please provide more information, see https://github.com/pyinstaller/pyinstaller/wiki/How-to-Report-Bugs

[2015-10-16 16:31] matysek commented on #1584
@htgoebel give it a try then. I will focus on #1581.

I was thinking about this a little bit:
* It's not that straightforward as it seems.
* The best solution would be to first do #1554:
  * it would allow to keep
  * it's more work
* One possibility to implement it is to take advantage of `lazyimports`:
  * I was playing with it a little bit: https://github.com/matysek/pyinstaller/commit/b8309f18

[2015-10-16 17:41] HeartUnchange opened #1609 "ctypes - loading external DLL (not bundled) fails (not able to load DLL from current working directory)"
i have a problem again,I build py file which use ctypes and pyqt4 modules.but it failed,the error information is here:

    D:\fuck\bp>pyinstaller --onefile bp.py
    55 INFO: PyInstaller: 3.0
    55 INFO: Python: 2.7.10
    57 INFO: Platform: Windows-7-6.1.7601-SP1
    58 INFO: wrote D:\fuck\bp\bp.spec
    60 INFO: UPX is not available.
    61 INFO: Extending PYTHONPATH with D:\fuck\bp
    61 INF

[2015-10-16 17:56] LevN0 commented on #1059
The workaround proposed here does not seem to work on Linux. Moreover if you put the same name for the PYZ file as your application output file then the created binary does not start (exits without error immediately upon launch) and if it's different then traceback outputs full paths as before.

[2015-10-16 18:03] HeartUnchange commented on #1609
i print the binary in function scan_code_for_ctypes that is contained in File "e:\python27\lib\site-packages\PyInstaller\depend\utils.py".

and get these:
    12503 INFO: Looking for ctypes DLLs
    []
    []
    ['kernel32.dll']
    []
    []
    ['kernel32.dll', 'kernel32.dll', 'kernel32.dll']
    ['kernel32.dll']
    []
    []
    ['user32.dll']
    ['D:/fuck/bp/library.dll']
    []
    []

[2015-10-16 19:05] matysek commented on #1581
While working  on this it looks like bundling datas of zipped .egg files never worked on Windows.

[2015-10-16 19:08] htgoebel commented on #1581
Only on WIndows?

[2015-10-16 19:21] matysek commented on #1581
@htgoebel Where are put data files for zipped eggs? Should they be kept unpacked? e.g. `MEIPASS/zipped_egg/data/datafile.tx`?

[2015-10-16 19:40] matysek commented on #1581
I see, they are bundled as modules:
[code]

[2015-10-16 20:40] matysek commented on #1601
@bjones1 Yes, appveyor is broken. It might get better when `excludedimports` are fixed - #1584.

I'm not sure about the status of wx hooks. @htgoebel Regarding new hook types, what is the status of `wx` hooks? Is it necessary to do any updates?

[2015-10-16 21:42] matysek commented on #1581
This should be fixed. @gkorf or @JokerQyou could anyone of you test this?

[2015-10-16 21:42] #1581 closed

[2015-10-17 01:54] HeartUnchange opened #1610 "the executable return -1"
i write a application which using PyQt4 ,ctypes and numpysmodules.
the source is [here](https://github.com/HeartUnchange/for_issue/blob/master/pyinstaller/new_bp/bp.py)
and the source file of loaded dll is [here](https://github.com/HeartUnchange/for_issue/blob/master/pyinstaller/new_bp/Source.cpp)

i build the py file to executable successfully.
all buiding information is [here](https://github.com

[2015-10-17 08:56] BjornFJohansson opened #1611 "executable built on appveyor does not seem to respect --noconsole"
Hi all,

I have a small wxpython [app](https://github.com/BjornFJohansson/seguid_calculator) for which I build windows executables using Appveyor.

They are built using:

    pyinstaller --noconsole --icon=calc.ico --onefile seguid.py --name seguid_calculator

The build depends on pywin32 and wxpython which is the new phoenix version.

see [appveyor.yml](https://github.com/BjornFJohansson/seguid_c

[2015-10-17 11:54] htgoebel opened #1612 "Move tests for accessing data into separte test-cases."
See f597f645b7e6042c15d1c4ef2f4332ded61d937e:

The old suite already has a separate test-case for this, It's better to not mix several test into one as this makes it much more complicated to spot the issue and to extend the tests.

Esp. here you are only testing pkg_resources, but pgkutil has to be tested, too. The old-suite already contains tests for both.

[2015-10-17 13:40] giumas opened #1613 "Missing data when freezing lxml.isoschematron application"
On all platforms, with the last `develop` commit, there is an issue with the missing schema files required by `lxml.isoschematron`.

A minimal example is just:

    from lxml import isoschematron

The missing resources are under the `lxml` package in the subdir: `isoschematron/resources`.

The error stack is:

    Traceback (most recent call last):
      File "<string>", line 2, in <module>

[2015-10-17 14:24] #1613 closed

[2015-10-17 14:36] #1589 closed

[2015-10-17 16:39] #1564 closed

[2015-10-17 20:03] matysek commented on #1610
@HeartUnchange Please debug your linked app into just a few lines of code that cause this error.

[2015-10-17 20:43] matysek commented on #1611
* On Linux this is expected since console window is a Windows only feature.
* I'm able to reproduce it.

[2015-10-17 20:45] matysek commented on #1611
@BjornFJohansson It should be fixed. Please try the referenced version and reopen if it does not work. Thanks for reporting.

[2015-10-17 20:45] #1611 closed

[2015-10-17 20:47] matysek commented on #1601
Tests should be really cleaned up for Appveyor and OS X (Travis).

[2015-10-18 02:06] springermac opened #1615 "Empty datas attribute causes PyInstaller to add contents of PyInstaller root directory to data TOC"
If the datas attribute of a hook is an empty list PyInstaller will include files from the PyInstaller root directory in the hooks datas object.

Found this when the qt4_menu_nib_dir function didn't find a nib.

[2015-10-18 05:22] HeartUnchange commented on #1610
code:
    #!/usr/bin/env python
    #-*- coding:utf-8 -*-

    __author__ = 'Heartunchage'

    import ctypes
    from numpy.ctypeslib import ndpointer

    libHandle = ctypes.windll.kernel32.LoadLibraryA('library.dll')
    lib = ctypes.WinDLL(None, handle=libHandle)
    lib.haha.restype = ndpointer(dtype=ctypes.c_int, shape=(401,401))
    data = lib.haha()
    print data[200,200]
    del lib

[2015-10-18 06:42] BjornFJohansson commented on #1611
works! thank you very much!

[2015-10-18 08:10] htgoebel commented on #1615
Are you sure about that `datas == []`? Or does `datas` contain an element witch is the empty string (`datas == ['']`).

Looking at `utils.hooks.qt4_menu_nib_dir()`: This returns an empty string in case the qt_menu.nib directory is not found. Thus resulting in an empty string in `datas`.

[2015-10-18 12:54] htgoebel commented on #1584
Buh, I had to change the implementation if TOC and Tree first to get the `.toc`-files really pretty printed. This took quite some time.

@matysek My approach would be this: In a hook, "excludedimports" would *not* remove all references to that module, but just the edge from this hook's module to the "excluded" import.

When looking at `_ImportHook.process_excludedimports`, I have the impression th

[2015-10-18 13:27] htgoebel commented on #1584
Buh, this is very tricky:
[code]

[2015-10-18 14:31] HeartUnchange commented on #1610
I have known what is the problem.
in my script, i try to use these codes to unload dll:

    libHandle = ctypes.windll.kernel32.LoadLibraryA('library.dll')
    lib = ctypes.WinDLL(None, handle=libHandle)
    ....
    del lib
    ctypes.windll.kernel32.FreeLibrary(libHandle)

but the variable  lib is initialed with argument <em>None</em>,when pyinstaller build ,it didn't provide a path ,so that it

[2015-10-18 14:40] HeartUnchange commented on #1609
it didn't happen again,amazing,lol.

[2015-10-18 14:49] htgoebel commented on #1584
Argl, the error in the original app only shows up on win32, since only there, TKinter import FixTk.
PIL is an optional component of `pywinauto`, thus in the original app imported via that.

[2015-10-18 15:26] HeartUnchange commented on #1609
i found if load dll happen in a class initlazation,pyinstaller cann't build.
like this:
    class Canvas(QtGui.QWidget):
        def __init__(self,parent=None,size_w=0,size_h=0):
            super(Canvas, self).__init__(parent)
            self.lib = ctypes.CDLL('D:/fuck/bp/library.dll')

[2015-10-18 19:32] matysek commented on #1610
@HeartUnchange Should be anything fixed in pyinstaller that you reopened the issue?

[2015-10-19 03:23] springermac commented on #1615
Ah right its when `datas == ['']`.

[2015-10-19 03:27] springermac opened #1616 "Code Style"
Does the PyInstaller project have a stated code style?

[2015-10-19 04:36] #1610 closed

[2015-10-19 07:25] matysek commented on #1615
So how should be this fixed?

[2015-10-19 09:27] matysek commented on #1616
@springermac It does not but it should be formalized. Do you have any suggestion?
Landscape.io reports a lot of style issues: https://landscape.io/github/pyinstaller/pyinstaller

[2015-10-19 09:32] matysek commented on #1609
Does it work when you use backslashes in the path?

[2015-10-19 09:36] htgoebel commented on #1615
1. I suggest to test the result at the place where qt4_menu_nib_dir is used.
2. Maybe it's good idea qt4_menu_nib_dir to return `None` in this case, as this will show up errors more easily (one can not `listdir(None)`

Same for qt5.

Are you going to provide a pull-request?

[2015-10-19 09:59] htgoebel commented on #1609
PyInstaller can not handle absolute pates here. The absolute path will be there in the frozen app, too, but the dll will not.

@matysek: I' thinking about checking this in scan_code_for_ctypes and *fail* is an absolute path occurs as the first. element.

[2015-10-19 12:22] eudoxos commented on #1128
lib2to3 is needed by the future module, which is often used to write both python2 & python3 source-compatible code.

[2015-10-19 13:09] htgoebel commented on #1128
IC.

[2015-10-19 15:02] ryansturmer commented on #1609
I have found also that ctypes dlls loaded from within a class cause this crash.

[2015-10-19 15:03] ryansturmer commented on #1608
Closing this as it seems the same as #1609

[2015-10-19 15:03] #1608 closed

[2015-10-19 15:12] htgoebel commented on #1609
So please provide a **minimal** example showing this issue. The stuff at https://github.com/HeartUnchange/for_issue/tree/master/pyinstaller/bp is much to long to spot the problem area.

[2015-10-19 15:29] springermac commented on #1616
I think PEP8 and PEP257 would be good places to start.

[2015-10-19 15:33] springermac commented on #1615
I'm working on some cleanups and fix for the qt functions but this does raise the question again of what should happen if a hook cannot find its needed datas or binaries. Should it print a warning and let PyInstaller continue or print a warning and cause PyInstaller to exit?

[2015-10-19 16:49] htgoebel commented on #1600
Sounds like a duplicate to #1584. Please run pyinstaller with `--debug` and post the complete log. Tahnsk.

[2015-10-19 18:36] bjones1 commented on #1601
Investigating a bit, in `test_wx_lib_pubsub_protocol_arg1`, I see this:

[code]

If I re-run the test as Administrator, then test passes. Another odd thing: If I run the .exe produced from the command prompt, it opens another command prompt window, run the program, then closes it; I can't see the resulting output. If I run it using the Python interpreter (`python tests\functional\scripts\pyi_hooks

[2015-10-19 21:27] matysek commented on #1609
@HeartUnchange I see similar issue when trying to use vlc python bindings: https://wiki.videolan.org/PythonBinding/
* source
[code]
* frozen
[code]

[2015-10-19 22:37] #1584 closed

[2015-10-19 22:39] htgoebel commented on #1600
@soupault Prior to posting the complete log please try the current development head. I just fixed #1584, so I expect this one to be fixed, too.

[2015-10-20 02:01] springermac commented on #1609
I think I may have found the problem.

In the bootloader we call SetDllDirectory with our extraction path. For some reason this seems to prevent loading a dll from the current directory.
If SetDllDirectory is called with a Null argument to reset the dll search path loading a dll from the current directory works.

Example based on vlc and the libvlc.dll.

Doesn't work:

    import ctypes
    import

[2015-10-20 02:08] codewarrior0 commented on #1609
Right, that's a side-effect of SetDllDirectory. In the DLL search order, it replaces <cwd> with the given path. Since I added that call, someone has added a runtime hook that overrides `ctypes` to add the extraction dir to the search path, so the SetDllDirectory call can probably be removed now. (The other bootloader code that sets LD_LIBRARY_PATH could probably be removed too in light of the `cty

[2015-10-20 09:39] htgoebel commented on #1609
I doubt this. The bootloader will need to load a lot of DLLs until it comes to execute the loader scripts. At least it requires to load libpython.

Further: Loading DLLs from the current directory is a security hole! Remember the Windows did this for along time, allowing for lots of attacks.

[2015-10-20 13:36] matysek commented on #1609
@htgoebel @codewarrior0 should this issue be then converted into a recipe?

[2015-10-20 14:59] bjones1 commented on #1601
A guess: some sort of privilege-elevation trick such as http://stackoverflow.com/questions/130763/request-uac-elevation-from-within-a-python-script produces the second window open. If that's the cause, why does PyPubSub do this only when frozen, and not from the command prompt?

[2015-10-20 15:24] aclewis182 opened #1619 "Bootloader in 3.0 Fails on Linux-32bit-arm"
I've been using PyInstaller 2.1 for months using a boot loader built from the WAF on an ARM A9 processor.  I recently attempted to switch to PyInstaller 3.0, however when running the WAF to generate the boot loader (via the --no-lsb option) it fails to locate the DL library.

PyInstaller 2.0 works fine finding the library, but 3.0 doesn't.  I have attempted to set the LD_LIBRARY_PATH and the PRELO

[2015-10-20 15:27] giumas commented on #1309
@AcidWeb Has there been any progress on the issue? I am hitting the same problem with wxPython

[2015-10-20 15:36] AcidWeb commented on #1309
I'm not working on this issue.
If you really need it - use py2app.

[2015-10-20 16:02] aclewis182 commented on #1619
System Information: Debian running on an ARM A9 Cortex (Beagle Bone Black revC)
Python Version:  2.7.3

Using command `./waf distclean --no-lsb all` from the current develop branch it fails.  Below is the output from the config.log.  Really not sure where to go from here.

[code]

[2015-10-20 16:14] springermac commented on #1609
Commit 6c1a02c7a3aafd925c3831c3e45688aeeabe6159 is the commit which broke loading DLLs from the current directory.

[2015-10-20 16:20] matysek opened #1620 "ctypes dll scan - absolute paths not working"
This is a followup from #1609. PyInstaller can not handle absolute paths. The absolute path will be there in the frozen app, too, but the dll will not. We are thinking about checking this in scan_code_for_ctypes and fail is an absolute path occurs as the first. element.

How to reproduce this issue: Use `vlc.py` from https://wiki.videolan.org/PythonBinding/ and freeze it. Example output on linux:

[2015-10-20 16:23] matysek commented on #1609
@HeartUnchange I'm sorry for misleading in this issue. Issue for your original bug report is in #1620.

[2015-10-20 16:24] matysek commented on #1609
@htgoebel I created #1620 for this.

[2015-10-20 17:47] matysek commented on #1619
@aclewis182 Could you try a new version of the `waf` file if that fixes arm detection? https://waf.io/waf-1.8.15

[2015-10-20 17:48] bjones1 commented on #1601
As of 8ae75f01c975b7708896293faa18947f81cc2ecb, test_scipy now passes.

[2015-10-20 17:58] aclewis182 commented on #1619
Replaced `waf`with the version you linked too.  Still shows as non-arm

[code]

[2015-10-20 18:16] matysek commented on #1619
This is probably the cause of the failure. Try remove '-m32' from the wscript file.

[2015-10-20 18:23] aclewis182 commented on #1619
That compiled!  I'll test out the output from the boot loader and update this.  Thank you for the quick responses.

[2015-10-20 18:28] matysek commented on #1619
@aclewis182 What is your linux distribution and Python version? Is this all what needs to be done to fix this?
* use latest `waf`
* ignore -m32 option when 32bit arm linux is detected?

[2015-10-20 18:31] aclewis182 commented on #1619
In order to compile the boot loader - what you have listed is all I had done from the develop branch.  Still testing the boot loader itself tho.  ATM having a hard time finding the run/runw output..

PRETTY_NAME="Debian GNU/Linux 7 (wheezy)"
NAME="Debian GNU/Linux"
VERSION_ID="7"
VERSION="7 (wheezy)"
ID=debian
ANSI_COLOR="1;31"
HOME_URL="http://www.debian.org/"
SUPPORT_URL="http://www.debian.org/s

[2015-10-20 18:41] aclewis182 commented on #1619
Confirmed.  It's complied and installed the boot loader properly under `Linux-32bit-arm` and building the one file output works thus far on two different machines.

[2015-10-20 22:37] matysek commented on #1619
@aclewis182 it should be fixed. Could you verify that?

[2015-10-20 22:37] #1619 closed

[2015-10-21 13:55] HeartUnchange commented on #1609
@matysek it's ok.I am very pleased that we can find so much through this issue,

[2015-10-21 14:30] HeartUnchange commented on #1620
there is a example on windows,

    #!/usr/bin/env python
    #-*- coding:utf-8 -*-

    import ctypes

    class test_class:
        def __init__(self):
            self.lib = ctypes.CDLL("library.dll")
        def life(self):
            self.lib.love()

    if __name__ == '__main__':
        test = test_class()
        test.life()

the source of library.dll is :

    extern "C"{
        #includ

[2015-10-21 14:33] HeartUnchange commented on #1609
@htgoebel  there is a minimal example i can provide:
[#1620](https://github.com/pyinstaller/pyinstaller/issues/1620)

[2015-10-21 14:40] aclewis182 commented on #1619
6d65e7c Seems to compile the boot loader properly on the Beagle Bone.  Thank you for the swift response and support!

[2015-10-21 14:41] HeartUnchange commented on #1620
i use the bare filenames but it still failed.so i think the problem is not caused by absolute paths.
this is an example without class:

    #!/usr/bin/env python
    #-*- coding:utf-8 -*-

    __author__ = 'Heartunchange'

    import ctypes

    if __name__ == '__main__':
        lib = ctypes.CDLL("library.dll")
        lib.love()

i use pyinstaller build it successfully.

[2015-10-21 14:57] HeartUnchange commented on #1609
@htgoebel
there is a example on windows,

    #!/usr/bin/env python
    #-*- coding:utf-8 -*-

    import ctypes

    class test_class:
        def __init__(self):
            self.lib = ctypes.CDLL("library.dll")
        def life(self):
            self.lib.love()

    if __name__ == '__main__':
        test = test_class()
        test.life()

the source of library.dll is :

    extern "C"{

[2015-10-21 14:58] HeartUnchange commented on #1609
i use the bare filenames but it still failed.so i think the problem is not caused by absolute paths.
this is an example without class:

    #!/usr/bin/env python
    #-*- coding:utf-8 -*-

    __author__ = 'Heartunchange'

    import ctypes

    if __name__ == '__main__':
        lib = ctypes.CDLL("library.dll")
        lib.love()

i use pyinstaller build it successfully.

[2015-10-21 15:15] htgoebel commented on #1604
This issue is *not* solved.

[2015-10-21 18:34] matysek opened #1621 "Appveyor - use pip-accel to speed up environment setup"
`pip-accel` package might speed up setting up environment for testing on Appveyor.
* now it takes on appveyor about 15 min. to pip-install all dependencies for tests
* most of the time (around 10 min) is taken by compiling `numpy` and `pycrypto`
I tested the speed up on my Win7 VM and I got this times to install all dependencies:
* 1st run: 14 min 19 sec
* 2nd run: 1 min 23 sec

This is the relate

[2015-10-22 10:53] lyuhongley opened #1622 "No handlers could be found for logger "PyInstaller.utils.misc""
1) Enviroment:
OS: redhat linux 7.0
Python: 2.7
when using, No handlers could be found for logger "PyInstaller.utils.misc".

2) Analysing:
I searched the web, and some same errors:
Error message “no handlers could be found for logger ZODB.FileStorage” on copied ZODB database
http://stackoverflow.com/questions/11191398/error-message-no-handlers-could-be-found-for-logger-zodb-filestorage-on-copied
S

[2015-10-22 12:00] matysek commented on #1622
@lyuhongley Could you try latest dev version? It should be fixed there. For details see #1564. Closing as duplicate.

[2015-10-22 12:00] #1622 closed

[2015-10-22 14:48] JokerQyou commented on #1586
I'm experiencing the same problem here. PyInstaller breaks with `OSError: [Errno 1] Operation not permitted` on one of its `bincache` files. I think it's either file permission issue or `chflags` issue.
My environment is Mac OS X 10.11 with prebuilt Python 2.7.10, PyInstaller 3.0.

[2015-10-22 16:22] matysek commented on #1586
@JokerQyou please open a new issue in that case.

[2015-10-23 15:06] patillacode opened #1623 "ctypes.utils not found"
Hi there,

I found that when trying to run pyinstaller I get the following error, both in windows 7 and Mac OS X 10.9.5 - both machines run Python 2.7

[code]

The weird part is that when running a python console and import ctype I can find utils without problems.

this only happens with one of my scripts. Imports in this problematic script are below, in case it may help:
[code]

Can't get my head

[2015-10-23 15:52] rth commented on #1203
This is an old issue submitted before the 3.0 release, that was fixed since (not reproducible with the last developmental version nor the 3.0 version) and is therefore not relevant anymore.

[2015-10-23 15:52] #1203 closed

[2015-10-23 17:48] htgoebel opened #1624 "Remove entry-point pprint_toc"
The `pprint_toc` utility is not documented anywhere and is not longer necessary now that toc-files are really pretty-printed (see 5a25de74e15402d0fdfb19a3a8d0d9b2d7acb9d6).

I propose removing it. What do you think?

[2015-10-23 18:28] #686 closed

[2015-10-23 19:01] htgoebel commented on #1110
Implementing this is not *that* easy, since the make-spec options are added in `building/makespec.py`, but the `scriptname` argument is added in `__main__.py`. Also when doing a quick internet search, I did not find a simple solution for specifying conflicts. `argparse` seams to only support mutal-exclusive groups. And argparse does not support nested groups, so calling `PyInstaller.building.makes

[2015-10-23 19:08] htgoebel commented on #1592
I'm putting this on my todo-list, since I've made the proposal how I would fix it.

[2015-10-23 19:09] htgoebel commented on #1621
Mind setting COLOREDLOGS_LOG_FORMAT to get more terse logging of pip-accel.

[2015-10-23 19:20] htgoebel commented on #1470
Not worth spending time on this.

[2015-10-23 19:20] #1470 closed

[2015-10-23 20:08] tallforasmurf opened #1625 "PyQt5.QtMultimedia needs hook for plugins"
It needs Qt5 plugins from two directories, plugins/audio and plugins/mediaservice.
It also imports PyQt5.QtNetwork, needs to be added as a hiddenimport.

[2015-10-23 20:18] tallforasmurf commented on #1625
I am having trouble pushing this new file. Sorry to be such a dweeb.
This fixes my problem with audio not working in a bundled app.

[code]

[2015-10-23 20:47] htgoebel commented on #1582
I just pushed a possible solution to my personal repo. If CI tests pass, I'll merge here in the next days.

[2015-10-23 21:17] htgoebel commented on #1582
@phelixbtc Please test with the version I just pushed. If ensures that the content of the PYZ is sorted alphabetically.

This should be okay for onedir build.

For onefile, we still need to sort the CTOC.

[2015-10-23 21:43] htgoebel commented on #1582
Okay. The CTOC is now sorted, too. So except of the filepaths contained in the byte-code (see #1059 and #1302) this should be reproducible now.

[2015-10-24 18:07] #1625 closed

[2015-10-24 19:19] runbing opened #1628 "WARNING: failed to copy flags of ..."
Hi,

When I trying to use pyinstaller, I get the following error in Mac OS X 10.11, Python 2.7.8. Any help please?

[code]

[2015-10-24 19:53] giumas commented on #1309
@matysek Do you have plan to work on this ticket? I would like to help on solve this issue... but Mac world is quite obscure to me!

[2015-10-24 23:48] JPLeBreton commented on #1191
If it's definitely the case that apps built with newer versions of OSX don't work with older versions, it would be nice to add a section like the one for Linux forward-compatibility http://pythonhosted.org/PyInstaller/#making-linux-apps-forward-compatible to the documentation.

[2015-10-25 13:10] htgoebel opened #1629 "Document adding a new test-case for libraries"
From https://github.com/pyinstaller/pyinstaller/pull/1614#issuecomment-150847908 and follow-ups:
1. add the package (e.g., `lxml`) to https://github.com/pyinstaller/pyinstaller/blob/develop/tests/requirements.txt#L21 (if yes, why `wxPython` is not present in the list?)
2. Additionally you should add the related apt-package to `.travis.xml`.
3. There are 2 possible approaches:
   - using `pyi_build

[2015-10-25 13:53] htgoebel commented on #1620
This in case by using ctypes in a function or method. In this case, `scan_code_for_ctypes` is calling itself recursively, but the recursed call already returns a tuple.

[2015-10-25 16:01] #1620 closed

[2015-10-25 18:41] AcidWeb commented on #1167
Problem no longer occurs when using Python 3.4 + PyInstaller 3.0 + PyQt5 5.5.1.

[2015-10-25 18:41] #1167 closed

[2015-10-25 18:44] AcidWeb commented on #1166
PyInstaller 3.0 fixed it this issue.

Additionally on Windows some QT plugins are broken by UPX compression. That cause error like they are missing. Remember that if you ever have similar problem reported.

[2015-10-25 18:44] #1166 closed

[2015-10-25 19:34] htgoebel commented on #1592
I checked this again. Conslusion:

1. **`attrs` can competently be removed**
2. No change to modulegraph necessary - my analysis in https://github.com/pyinstaller/pyinstaller/issues/1592#issuecomment-147230772 was wrong
3. Le'ts remove `attrs`.

**Re 2:** first :-)

The hooks `attrs` adds names to the module after it has been imported. This is what modulegraph basically does, too. (Modulegraph sto

[2015-10-25 23:47] ProfPh opened #1631 "openpyxl: data-files missing"
Working on Windows 10 x64 with Python 3.5

During build I get the api-ms-win-cert dependency errors (I have all the redistributable packages + the SDK) but the build does complete and give me an .exe

The .exe only runs (blinks) to briefly display some error and then closes. Examining the warning logs show:
[code]
Even the standard built in modules are not being imported.

[2015-10-26 07:54] htgoebel commented on #1631
Please follow the instructions in https://github.com/pyinstaller/pyinstaller/wiki/If-Things-Go-Wrong and https://github.com/pyinstaller/pyinstaller/wiki/How-to-Report-Bugs. Otherwise we will not be able to help you.

Whar is this `123.py` module? Why are you importing `posix` there whil running on windows?

[2015-10-26 09:03] htgoebel commented on #1609
This definitely is solved by  #1630, more precise by 989efa75c7cd07a50b53d5b1c53798ee0808b65c  Also see 11d779ff41ed71ec777fb5cc901d3145701d7e4e for a test-case and #1620.

@HeartUnchange Thanks for reporting. This was a very tricky one.

[2015-10-26 09:03] #1609 closed

[2015-10-26 10:44] thebongy opened #1632 "Import Error With Message module."
I am trying to convert a python flask application into an exe. It is rasing an import error with the message module, even though this file appears to be present in the `.pyz` file. Why is the Import error raised, even though the module appears to exist? I am using python 2.7 with Pyinstaller 3.0 .
The Error:
[error1](https://cloud.githubusercontent.com/assets/7080652/10726997/82247912-7bfc-11e5-86

[2015-10-26 10:47] htgoebel commented on #1632
Please follow the instructions in https://github.com/pyinstaller/pyinstaller/wiki/If-Things-Go-Wrong and https://github.com/pyinstaller/pyinstaller/wiki/How-to-Report-Bugs. Otherwise we will not be able to help you.

[2015-10-26 11:12] thebongy commented on #1632
I have tried everything @htgoebel , but still the error persists.....

[2015-10-26 11:17] htgoebel commented on #1632
Please follow https://github.com/pyinstaller/pyinstaller/wiki/How-to-Report-Bugs

[2015-10-26 11:33] thebongy commented on #1632
OS:Windows Vista,
Python-Version:2.7
PyInstaller Version:3.0 (Also Tested with latest dev version from github)

[2015-10-26 11:40] htgoebel commented on #1632
Read *all* of the Wiki-page and provide *all* of the information. If you want us to help you, you need to provide enough information. And this s what we described in the wiki.

[2015-10-26 11:54] matysek commented on #1309
@giumas not any particular plan yet. The only plan I could think of is doing it similar as py2 app does. It could be helpful if you could find out what from the py2 app principles could be applied to pyinstaller.

[2015-10-26 12:05] georgemunteanu opened #1633 "How can I package multiple .py files into single .exe file ?"
1. [PROBLEM]
input: multiple .py files
output: a single .exe file

2. [CODE]
Test example:
I have a main.py + component.py.
[ main.py code ]
[code]

[CURRENT RESULT]
The exe file will check for component.py and because it will not find it, it will fail to open the msgBox.
Note: I have build only the main.py file
Note: I am using python 2.7.10 + pyinstaller 3.0.

[2015-10-26 12:07] matysek commented on #1624
Go ahead. I've never used it myself.

[2015-10-26 12:21] matysek commented on #1623
@patillacode Could you  try the latest dev  version? Is the failure still the same?

[2015-10-26 12:23] htgoebel commented on #1633
This is not supported by PyInstaller.

I suggest using "import component" as the easiest way to get your expected result.

[2015-10-26 12:23] #1633 closed

[2015-10-26 12:26] thebongy commented on #1632
Here is a simple reproduction of the error:
1.Download this gist: https://gist.github.com/thebongy/7ac17b98a63a218223ce
a) Ensure Flask is installed on machine:
`pip install Flask`

2.Use `pyInstaller main.py` to create the exe/

3.Run the exe,
`/dist/main.exe`
The following import error is produced:
![error1](https://cloud.githubusercontent.com/assets/7080652/10728716/415f96e2-7c0a-11e5-9512-a11a

[2015-10-26 12:35] georgemunteanu commented on #1633
thanks. I will consider every .py as a separate module.

[2015-10-26 13:02] htgoebel commented on #1632
Thanks. The error message is misleading. It's the module `email.message` which is missing. Python 2.7 gives inprecise error messages when importing a submodule fails.

Please check if `email.message` is in the PYZ. It should, since we support it and have a test-case for it. So it may be a problem of `werkzeug`.

And please post test, not pictures. Images can not be quoted.

[2015-10-26 13:15] thebongy commented on #1632
Yes email.message is in the PYZ. Is there any present workaround for the problem?

[2015-10-26 13:39] htgoebel commented on #1632
Nothing I'm aware of. Sorry.

[2015-10-26 13:53] thebongy commented on #1632
@htgoebel No Worries :) . I plan to transfer my work to the `bottle` library instead of `flask` because it seems to work fine as an exe with a simple program.

Anyway, thank you for your support :+1:

[2015-10-26 14:00] #1632 closed

[2015-10-26 14:42] tallforasmurf commented on #1629
Sorry, what is needed from me? I am working on the user manual which has nothing about the test environment?

[2015-10-26 14:43] tallforasmurf commented on #1191
I will double check that this is covered, I think I already did it but have not checked it in.

[2015-10-26 14:44] tallforasmurf commented on #895
I will return to this after I check in the updated manual with "hooks" chapter this week.

[2015-10-26 14:45] tallforasmurf commented on #896
I will return to this after I check in the updated manual with hooks chapter this week.

[2015-10-26 14:55] ThomasWaldmann opened #1634 "bootloader: exe location discovery in PATH broken"
For binaries made with single-file mode, there is some code to find the actual position of the executable while traversing PATH, but it is incomplete and does not work as it is.

See my comments there:
https://github.com/pyinstaller/pyinstaller/commit/d2e749f0d1fede80828c29837940a9269f596ebb

This affects all systems where the special hacks (like looking into /proc) do not apply. It also bites if

[2015-10-26 14:56] htgoebel commented on #1629
Oh, I thought I could off-load documenting this, too :-) If you do not consider this as your job, please assign back and I'll create a simple wiki-page.

[2015-10-26 14:59] ThomasWaldmann opened #1635 "bootloader & freebsd: exe location extraction from /proc broken"
For binaries made with single-file mode and if /proc is mounted on FreeBSD (seems not all users have it mounted), it tries to get the full path from there, but there are some funny characters at the end:
[code]
Maybe some \0 missing?

See there, line 253:
https://github.com/pyinstaller/pyinstaller/commit/d2e749f0d1fede80828c29837940a9269f596ebb

[2015-10-26 15:06] ThomasWaldmann commented on #1066
Maybe related: #1634

[2015-10-26 15:20] ThomasWaldmann commented on #1635
Working on this...

[2015-10-26 15:23] giumas commented on #1629
I was wondering if some kind of order could be defined in `test_libraries.py`.. I mean to shuffle the functions to follow (for instance) the alphabetical order of the libraries.

[2015-10-26 15:36] htgoebel commented on #1629
@giumas This is a good idea.

[2015-10-26 15:37] htgoebel opened #1636 "Sort tests in test_libraries alphabetical."
This makes it easier to find.

[2015-10-26 15:44] giumas commented on #1636
If you want, I can do the PR for this (before the PR for adding the `lxml.isoschematron` test: https://github.com/pyinstaller/pyinstaller/issues/1629)

[2015-10-26 15:58] htgoebel commented on #1553
Re https://github.com/pyinstaller/pyinstaller/issues/1553#issuecomment-144934669 ("the current implementation of the `excludedimports` hook global isn't necessarily ideal"): This has been solved in 5fb3d7bf0d56702220f9a35c887a0c53da4af2c8 and esp. 98100abde55f1fb0ab455f95b9259c3adcdbab2c.

The oterh topics of this issue have already been implemented for release 3.0.

[2015-10-26 15:58] #1553 closed

[2015-10-26 15:58] #1624 closed

[2015-10-26 16:04] tallforasmurf commented on #1629
I could look at it next week but I know zip about the test environment, or testing in general, or how it is documented now (if at all) so it would take a while to get up to speed.

[2015-10-26 16:17] htgoebel commented on #1636
I changed my mind. Doing this makes it very hard to follow changes.
@giumas Thanks for your offer anyway.

[2015-10-26 16:17] #1636 closed

[2015-10-26 16:18] giumas commented on #1636
@htgoebel OK, so where I should put a new test function? at the beginning or at the end?

[2015-10-26 16:25] htgoebel commented on #1636
I suggest putting it between keyring and numpy. So at least this test is sorted alphabetical :-)

[2015-10-26 16:32] htgoebel commented on #1532
matysek: This method helps, but the other topics are still open.

[2015-10-26 16:46] htgoebel commented on #1531
test-suite already does this.

[2015-10-26 16:47] breyer commented on #1635
On a different terminal, does funny characters are question marks:

[code]

[2015-10-26 16:55] htgoebel commented on #1469
It is more complicated: `scipy.test` is `numpy.testing.Tester().test`.

We'd better leave it as it is until somebody reports an issue.

[2015-10-26 16:55] #1469 closed

[2015-10-26 16:55] #1531 closed

[2015-10-26 17:09] ThomasWaldmann commented on #1635
@breyer yes, in fact it could be arbitrary crap of indefinite length.

[2015-10-26 17:12] ThomasWaldmann commented on #1634
I try fixing this...

[2015-10-26 18:17] ProfPh commented on #1631
123.py is a test script with only
    print("hello world")

So the modules being imported appear to be independant of the imports in the script being turned to an .exe

I have tried it with --onefile, --onedir and with --noupx seperately to no avail.

[2015-10-26 19:16] ThomasWaldmann commented on #1635
Needs a windows developer now to fix it on windows also.

[2015-10-26 19:17] ThomasWaldmann commented on #1634
Needs a windows developer now to fix it on windows also.

[2015-10-27 01:34] nchammas opened #1641 "_find_prefix() fails on Homebrew: IndexError"
I went through the [PyInstaller Recipes](https://github.com/pyinstaller/pyinstaller/wiki/Recipes) and it doesn't look like I've run into any of the common issues.

I'm trying to freeze a simple Python application on OS X. I'm just running `pyinstaller flintrock.py`.

This is the traceback I get:

[code]

Anything I should look into to help debug this issue?

I'm using the latest versions of Python

[2015-10-27 09:36] matysek commented on #1621
Tests are enabled again and pip-accel caching is doing a good job in setting up the virtualenv in a few minutes.

[2015-10-27 09:36] #1621 closed

[2015-10-27 10:52] htgoebel commented on #1641
Looms as if the makefile is found *outside* your Pythin installation.

Can you please add these lines to `PyInstaller/utils/hooks/__init__.py` line 980 and post teh output:
[code]

[2015-10-27 10:54] htgoebel commented on #1631
Need more info: https://github.com/pyinstaller/pyinstaller/wiki/How-to-Report-Bugs

[2015-10-27 12:40] codewarrior0 commented on #1634
Should be fixed in 04d882111564a09d0bac0c9618f21fac5dd29caf

[2015-10-27 13:13] ThomasWaldmann commented on #1634
@codewarrior0 it worked for me on freebsd. the part that needed fixing was windows.

[2015-10-27 13:28] ProfPh commented on #1631
I did start with a clean installation. I did clear cache.The program is getting packaged fine (except the dependency errors). Some module is definitely missing, yes. There is no logdict.log file. The warning logs show the missing modules as posted above. The error occurs when running the application. PyInstaller 3.0. Python 3.5. Windows. Can't use pyi-archive_viewer, it gives the error "failed to

[2015-10-27 13:36] codewarrior0 commented on #1631
Instead of double-clicking on it, run the .exe from a command window so you can see its output. If you build the exe with `--debug` you will get even more output. Post the output here when you get it.

[2015-10-27 13:40] ProfPh commented on #1631
Running debug:

C:\Users\User\Documents\Python>python -m PyInstaller --debug test.py
62 INFO: PyInstaller: 3.0
62 INFO: Python: 3.5.0
62 INFO: Platform: Windows-10.0.10240
62 INFO: wrote C:\Users\User\Documents\Python\test.spec
62 INFO: UPX is not available.
62 INFO: Extending PYTHONPATH with C:\Users\User\Documents\Python
62 INFO: checking Analysis
78 INFO: checking PYZ
78 INFO: checking PKG
78 I

[2015-10-27 13:42] codewarrior0 commented on #1631
[code]

This output indicates success. It seems your problem was double-clicking the EXE instead of running it from a command window.

Feel free to open another issue when something actually goes wrong. ;)

[2015-10-27 13:44] ProfPh commented on #1631
What... as I said originally this was always working for a hello world script. I was just showing the warnings and errors thrown for such a simple script.

For a script that actually has imports the .exe does not run no matter how you open it..

[2015-10-27 13:45] ProfPh commented on #1631
I didn't actually say that in the first post, my mistake. Running it on an actual script now.

[2015-10-27 13:48] ProfPh commented on #1631
[code]

[2015-10-27 13:52] codewarrior0 commented on #1631
[code]

You must explicitly include any non-Python data files into your exe's folder. Read https://github.com/pyinstaller/pyinstaller/wiki/Recipe-Collect-Data-Files for more info.

[2015-10-27 13:52] ProfPh opened #1642 "PyInstaller 3.0 failing to find/import any modules."
Clean installation, cleared cache.The program packaged fine (except the dependency errors). No logdict.log file. The warning logs show the missing modules as posted below. The error occurs when running the application. PyInstaller 3.0. Python 3.5. Windows. Can't use pyi-archive_viewer, it gives the error "failed to create process" in cmd

During build I get the api-ms-win-cert dependency errors (I

[2015-10-27 13:54] codewarrior0 commented on #1631
Actually, since openpyxl is a third party package, you may want to define a hook file `hook-openpyxl.py` that collects the data files using the `datas` variable.

Manual entry for hooks: https://pythonhosted.org/PyInstaller/#hook-global-variables

Example hook that only collects data files: https://github.com/pyinstaller/pyinstaller/blob/develop/PyInstaller/hooks/hook-appy.pod.py

[2015-10-27 14:06] htgoebel commented on #1642
See #1631

[2015-10-27 14:06] #1642 closed

[2015-10-27 14:07] bjones1 commented on #1601
As of 7de6033af89bd71f9915beda67ab9e9e8041f09f, I now see 59 failures (!!!). I'm *not* running as Admin, which might make a few of the `wx_lib_pubsub` tests work.

On a side note, I've removed pytest-xdist -- it causes the tests not to run, or run slowly, or fail in strange ways. I wonder if this causes Appveyor trouble as well?

[code]

[2015-10-27 14:08] ProfPh commented on #1631
Hey, thanks for reopening it. I'm still a little confused on what to do. I added the snippet of code to the .spec file and then built it using pyinstaller login.spec, where are the datafiles collected after I run it?

[2015-10-27 14:49] matysek opened #1643 "process first post-hooks of parent packages ( propagate excludedimports to submodules)"
There is an issue with `excludedimports`: When `excludedimports` is defined in parent package e.g. `hook-PIL.py`, there is a hook for child module e.g. `hook-PIL.Image.py` and user's code does just `import PIL.Image` then excludedimports from `hook-PIL.py` are not propagated and `tkinter` and other GUI libraries get still bundled.

[2015-10-27 15:09] htgoebel commented on #1643
I can not reproduce this: Using a simple script `import PIL.Image` does not bring any of the GUI modules into the package. There must be more ...

[2015-10-27 15:37] nchammas commented on #1641
In [`hooks/__init__.py`](https://github.com/pyinstaller/pyinstaller/blob/cebd6267e7cfc493bb1c3a9e5be5bc4cecb7ecd9/PyInstaller/utils/hooks/__init__.py#L1003-L1008):
* `repr(prefixes)`:

[code]
* `repr(filename)`:

[code]
* `repr(common), repr(prefix)`:

[code]

So it looks like the problem is that `compat.base_prefix` is not normalized, so `os.path.commonprefix()` doesn't detect the common prefix a

[2015-10-27 15:48] nchammas commented on #1641
To clarify, my fix lets me build successfully, which I couldn't do before. But the resulting package doesn't run:

[code]

I'll save this for a separate issue.

[2015-10-27 17:17] htgoebel commented on #1641
Thanks for debugging. I'll just pushed a fix.
And thanks for offering a PR, too. I've seen this too late.

Re. `os.path.commonpath()`: This is new in Python 3.5, so we can not use it yet.

[2015-10-27 18:08] nchammas commented on #1641
Thanks for investigating with me and applying the fix so fast.

[2015-10-27 18:08] #1641 closed

[2015-10-27 21:25] matysek commented on #1628
@runbing Could you try using latest develop version?

[2015-10-27 21:29] matysek commented on #1592
ok, let's remove them.

[2015-10-27 21:37] mementum opened #1645 "hook-pubsub.core.py for PyPubSub"
wx.lib.pubsub has a nice default hook.

Based on it a working (at least in my project for the default "kwargs" setup) version for PyPubSub

[code]

Best regards

[2015-10-27 22:06] bjones1 commented on #1601
OK, results at 7895cb06a7186a9831c7c158d04d1f3043ed21b7 are much better. Again, I'm running NOT as Admin.

[code]

[2015-10-28 02:54] essandess opened #1646 "No pyinstaller.py created with pip install or configure.py"
I'm trying to install pyinstaller and have not been able to create the `pyinstaller.py` script:

* `sudo -H pip install pyinstaller`
* ``cd `python -c "from distutils.sysconfig import get_python_lib; print(get_python_lib())"`/PyInstaller``
* `ls`

    `__init__.py	building	configure.pc	log.py`
    `__init__.pyc	compat.py	depend		log.pc`
    `__main__.py	compat.pyc	fake-modules	utils`
    `__main__

[2015-10-28 02:59] essandess commented on #1646
Never mind. Here's the install command:

* `sudo -H python -m PyInstaller configure.py`

Should this be documented somewhere?

[2015-10-28 08:52] matysek commented on #1646
@essandess `configure.py` no longer exists and `pip install` creates  command just `pyinstaller`.

[2015-10-28 08:52] #1646 closed

[2015-10-28 08:54] matysek commented on #1645
@mementum Please create a pull request.

[2015-10-28 09:48] patillacode commented on #1623
@matysek yes, same exact problem:

60 INFO: PyInstaller: 3.1.dev0
60 INFO: Python: 2.7.5
65 INFO: Platform: Darwin-13.4.0-x86_64-i386-64bit
70 INFO: wrote /Users/gonzalo.fernandez/Downloads/pyinstaller-develop/broadcast/broadcast.spec
77 INFO: UPX is not available.
78 INFO: Extending PYTHONPATH with /Users/gonzalo.fernandez/projects/imagination-doorman/python
78 INFO: checking Analysis
78 INFO: Bu

[2015-10-28 10:01] matysek commented on #1623
@patillacode Which line of the example is causing this?

[2015-10-28 10:08] patillacode commented on #1623
Hi @matysek
I am not sure but I think it is not even related to my script:

[code]
is the line where it gets stuck, but _ctypes_ is there and has _utils_ as proven via a python terminal.

[2015-10-28 10:36] htgoebel commented on #1623
Something seams to be mixed up with out installation. Please add a `print ctypes` just before the failing line and verify it's the correct `ctypes` module.

[2015-10-28 11:18] codewarrior0 commented on #1623
`depend/utils.py` should have `import ctypes.util`.

If some other module does `import ctypes.util` before that, the `util` name is added to the `ctypes` module and can be used without `import ctypes.util`. Otherwise, trying to use `ctypes.util` without explicitly importing it with `import ctypes.util` raises an AttributeError. This must be why the test suite doesn't catch this error - some other

[2015-10-28 11:20] codewarrior0 commented on #1623
In my case, that other module was `pyreadline`, which is imported automatically when starting up an interactive interpreter. It imports `ctypes.util`, which makes it available to other modules that only import `ctypes`. If I run the interpreter in one-command mode instead of interactive: `python -c 'import ctypes; print ctypes.util'`, then I get the attribute error.

[2015-10-28 11:24] codewarrior0 commented on #1623
Should be fixed in f788dec36b8d55f4518881be9f4188ad865306ec.

[2015-10-28 11:24] #1623 closed

[2015-10-28 11:42] patillacode commented on #1623
@codewarrior0
I was testing, and you are right, I will pull now.

thanks.

[2015-10-28 11:47] patillacode commented on #1623
@codewarrior0
Seems like there is a misprint
file: ```pyinstaller-develop/PyInstaller/depend/utils.```
line: ```171```

[code]

[2015-10-28 11:50] codewarrior0 commented on #1623
Embarassing! Fixed in 85496703d421da2dfb6b1ca33e13888cfd08b56b. I searched for `loggger` just to be sure.

[2015-10-28 11:51] patillacode commented on #1623
All good! :+1:
Thanks!

[2015-10-28 12:22] runbing commented on #1628
Thanks for your reply.
I try to use latest develop version ( 3.1.dev0 ), but the same error below: T_T

[code]

[2015-10-28 16:18] AcidWeb opened #1647 "Onefile, windowed EXE fail to start"
**PyInstaller:** 3.1.dev0-8549670
**Python:** 3.4.3 64bit + PyQT5 5.5.1
**Platform:** Windows-10.0.10240

When application is bundled with ``--onefile --windowed`` options it fail to start with error:
``<script name> returned -1``

When debug is on error appear after:
``LOADER: Running <script name>.py``

``--onedir`` output and ``--onefile --console`` work correctly.

Can't replicate exactly what

[2015-10-28 16:49] matysek commented on #1643
@htgoebel See my branch for a proof-of-concept for new implementation of `excludedimports`. Generalization and cleanup still needed :-)
https://github.com/matysek/pyinstaller/tree/hooks_for_parent_pkgs

[2015-10-28 19:19] AcidWeb commented on #1647
3.0 is also affected.

[2015-10-28 19:31] AcidWeb commented on #1647
Crashes are caused by any usage of ``psutil.Popen``.

[2015-10-28 19:49] AcidWeb commented on #1647
Duplicate of #1339

[2015-10-28 19:49] #1647 closed

[2015-10-28 20:13] ProfPh commented on #1631
If we can say that it's no longer a bug, where should I seek help in using PyInstaller?

[2015-10-28 23:31] matysek commented on #1643
I think the new implementation of `excludedimports` is almost ready.

[2015-10-29 10:23] matysek commented on #1628
Please provide simple code example.

[2015-10-29 11:41] ProfPh commented on #1631
nvm

[2015-10-29 13:51] phelixbtc commented on #1582
@htgoebel Thank you very much. The executable looks quite good now, there are only a couple of places where it differs.
I noticed there might be some differences caused by compression as the uncompressed sizes do match while the compressed do not:

[code]

Also there still was a different version of pywin32 in use which I for some odd reason could only fix half way but will do and report back. May

[2015-10-29 17:28] htgoebel commented on #1582
Well, build can only be reproduced, if all relevant components are at the same version.
https://wiki.debian.org/ReproducibleBuilds

[2015-10-30 18:37] jhrf commented on #1567
Seeing this problem on two separate Mac OSX machines. I've just upgraded PyInstaller to 3.0 from a dev build of 2.1.1. This build was working in the previous version of pyinstaller.

I have tried using the `pyinstaller --clean` option and deleting ~/Library/Application Support/pyinstaller folder. Neither of these suggestions fixed the problem.

Pyinstaller output pasted below:

27 INFO: PyInstalle

[2015-10-30 19:05] htgoebel commented on #1568
This is caused by `_xmlplus` being installed.

[2015-10-30 19:31] htgoebel commented on #1568
@matysek I implemented a fix for this - which was interesting regarding what I learned. **But** this package is *dead*. It is not in Debian, it has been removed in my distributions current version and most comments I found say it is dead, not even working with Python 2.6 and was [removed in Python 3.1](https://bugs.python.org/issue11164).

What do you suggest? Some of my ideas:

1. Keep my fix, ev

[2015-10-30 19:35] #1592 closed

[2015-10-30 21:21] adammenges commented on #1567
@codewarrior0 Yep, `~/Library/Application Support/pyinstaller` was removed too.

[2015-10-30 21:59] tallforasmurf opened #1648 "pyinstaller --help output causes RST errors"
The doc makefile calls `pyinstaller --help` to generate the options list for the manual.

Some recent change in this output is causing the following errors,

    _pyinstaller-options.tmp:15: (WARNING/2) Option list ends without a blank line; unexpected unindent.
    _pyinstaller-options.tmp:88: (WARNING/2) Option list ends without a blank line; unexpected unindent.
    _pyinstaller-options.tmp:99:

[2015-10-30 22:10] tallforasmurf commented on #895
Regarding use of pkgutil.get_data(), are we discussing compile-time use, for example as a way to construct the datas argument to Analysis in the spec file or perhaps the datas list in a hook? Or are we talking about run-time?

I am dubious about how this could work at run-time -- the python doc says it is like,

    d = os.path.dirname(sys.modules[package].__file__)
    data = open(os.path.join(d,

[2015-10-30 22:17] tallforasmurf commented on #896
I believe the current doc addresses this properly, see http://pythonhosted.org/PyInstaller/#multipackage-bundles. Yes it would work for two, --one-file, scripts  (if it worked at all which waits on #1527). The OP is incorrect in saying "common dependencies end up in the same directory and the script executables end up there, too". The shared dependencies end up bundled in the first app. Other bund

[2015-10-30 22:17] #896 closed

[2015-10-30 22:19] tallforasmurf commented on #1191
Yes, I put that in the latest rev, see http://pythonhosted.org/PyInstaller/#making-mac-os-x-apps-forward-compatible

[2015-10-31 12:01] mementum commented on #1645
I believe the "wx" naming is wrong. The PyPubSub package can be independently installed without having wxPython installed.

For the wx.lib.pubsub package included in wxPython (a fork or PyPubSub) PyInstaller already has a working hook

In any case I added the pull request with id #1649

[2015-10-31 15:27] jhrf commented on #1567
Using the most recent version of pyinstaller from the developer branch on github fixed the problem for me.

[2015-10-31 23:25] adammenges commented on #1567
Thanks, that's good to know. I'll go try it.

[2015-11-01 10:46] roco1 opened #1650 "Operation not permitted error when using MAC OS X 10.11.1"
I'm getting an "Operation not permitted" error when using MAC OS X El Capitan (10.11.1):

[code]

I'm guessing this is because of System Integrity Protection in El Capitan - shutil.copy2 calls copystat, which attempts to use os.chflags to set flags on the destination file to match the source.  I'm guessing that the source file it's trying to copy into the cache has the new "restricted" flag - and

[2015-11-01 11:00] roco1 commented on #1650
I've tried this again, with SIP disabled (csrutil disable), and I was still only able to avoid this error by running as root (using sudo).  When I enabled SIP again (csrutil enable), I'm now seeing the same behaviour - when I run as root, it works fine.
So, I only see "Operation not supported" when not running as root.  I'm not sure if this is expected behaviour, but I'm now thinking it's not dire

[2015-11-01 18:38] ThomasWaldmann commented on #1635
Is there any issue with (the now quite trivial) PR #1637 ?

[2015-11-02 00:19] ProfPh commented on #1631
Correct in thinking this is a bug with openpyxl:

https://bitbucket.org/openpyxl/openpyxl/issues/498/moving-constants-to-a-configuration-file
https://bitbucket.org/openpyxl/openpyxl/pull-requests/67/include-constantsjson-as-part-of-the/diff
https://bitbucket.org/openpyxl/openpyxl/pull-requests/83/use-__about__py-instead-of-constantsjson/diff

Using the changes made in the last url and then install

[2015-11-02 10:17] JokerQyou commented on #1650
While it seems like this could be avoid by running pyinstaller as `root` user, I think this is not the expected behaviour -- you cannot just run everything as `root`. What if there's a misspell in the script, thus running as `root` deleted all your important files?

I also tried the latest pyinstaller from `develop` branch and this is not yet fixed, I have the error log as follows:

[code]

[2015-11-02 14:53] #1635 closed

[2015-11-03 13:29] phelixbtc commented on #1582
Thanks to your work it seems I am getting closer now. My relatively large project executable now only shows three differences. In `out00-EXE.toc` I noticed there are some pyinstaller .pyc referenced. Two of the remaining differences also occur if I remove all the .pyc files in the pyinstaller folder and then rerun the pyinstaller process on the same machine. Probably I would have to use the same .

[2015-11-03 16:29] htgoebel commented on #1582
`.pyc` file contain a time-stamp. (Either the mtime of the related `.py` file or the compile time- I'm unsure ATM). So if you have `.pyc` in your EXE, you must ensure they are *not* rebuild between build. And, of course, if you have different machines, you need some external tool to fix the timestamps.

[2015-11-03 17:37] mtwu-aviatrix opened #1652 "ImportError: No module named symbol"
Pull a latest dev Pyinstaller and bump into the following error. Is it a bug in the latest source?
[code]

[2015-11-03 17:49] htgoebel commented on #1652
Need more info: https://github.com/pyinstaller/pyinstaller/wiki/How-to-Report-Bugs

[2015-11-03 19:11] bjones1 commented on #1601
Same results when run on 618b7f064db9ebfcb5361cc17b429c2aa4096cbc.

[2015-11-03 22:21] cb109 commented on #1623
I was going to report this bug when I found this issue. Thanks for fixing so quickly. Can confirm the current **3.1.dev0** works for me on Windows 7, Python 2.7.10 x64. Looking forward to the next release :sunglasses:

[2015-11-04 03:46] codewarrior0 commented on #1601
Looks like there are still some problems with wxPython 2.8.x

[2015-11-04 04:35] codewarrior0 commented on #1601
I found a solution for wxPython.

I can't reproduce the failures for test_pyttsx using Python 2.7.9 and pyttsx-1.1. Do you have any details?

[2015-11-04 05:38] bjones1 commented on #1601
@codewarrior0, I'm excited about a wxPython fix! For pyttsx:

[code]

[2015-11-04 07:52] matysek commented on #1582
@phelixbtc Could you please try version from this pull request if it anyhow improves/breaks reproducibility for your project? https://github.com/pyinstaller/pyinstaller/pull/1651

[2015-11-04 08:30] #1484 closed

[2015-11-04 08:54] matysek commented on #1650
@JokerQyou What are the symptoms?
* Does this happen only for the builtin Python in OS X?
* What code? Just even helloworld?
* What are the permissions of file `/Users/joker/Library/Application Support/pyinstaller/bincache00_py27_64bit/_struct.so`?
[code]
* This is on my mac. Is it similar?
[code]
* Does it work when you manually changes permissions of that file?
*
Maybe the fix would be that pyin

[2015-11-04 10:04] matysek commented on #1568
@htgoebel I vote for this. To inform user. Please add to that hook a TODO with current date and note that it should be removed in a few years.

[2015-11-04 10:09] phelixbtc commented on #1582
@matysek Thanks, I will give it a try. A deterministic order of the "output files in the build folder" might make comparing freezes and finding issues easier.

[2015-11-04 11:56] koutoftimer opened #1655 "wiki/Projects-Using-PyInstaller contains unavailable links"
List of bad links on [wiki][1]
[code]

   [1]: https://github.com/pyinstaller/pyinstaller/wiki/Projects-Using-PyInstaller

[2015-11-04 13:49] matysek commented on #1655
Thanks. I updated them and removed Banta and Tate.

[2015-11-04 13:49] #1655 closed

[2015-11-04 17:47] htgoebel commented on #1582
@phelixbtc What exactly do you mean with "output files in the build folder"?

[2015-11-04 19:42] tallforasmurf commented on #895
The updated doc has a more detailed section on "Adding Files to the Bundle" (http://pythonhosted.org/PyInstaller/#adding-files-to-the-bundle) and it links to the TOC/Tree discussion. So everything about how to add files to the bundle via the spec file is pretty well covered.

The OP seems to be concerned with locating files at run-time. The current doc says nothing about pkgutil (because I didn't

[2015-11-04 19:48] tallforasmurf commented on #1648
When I pull the latest source (4 Nov 15) this problem has gone away.

[2015-11-04 19:52] htgoebel commented on #895
You may want to check out the test-case in `old-suite`. There should be examples.

[2015-11-04 20:02] tallforasmurf commented on #1648
Sorry, I had a bungled installation and _pyinstaller-options.tmp was not being built. Yes the problem still occurs. Investigating.

[2015-11-04 20:23] htgoebel commented on #1648
I'll take care of this.

[2015-11-04 20:51] tallforasmurf commented on #1648
The problem is the restrictive rules of Rst "option lists", see http://docutils.sourceforge.net/docs/ref/rst/restructuredtext.html#option-lists. In an option list there is no provision for displaying detailed syntax of an argument. The option list only supports an *option* followed by "an argument placeholder". A placeholder may be a word, or it may be `< any characters >`.

In the output of pyins

[2015-11-05 00:46] tallforasmurf commented on #895
Thank you, there were useful examples. Most usefully, they show that pkgutil is expected to work.

[2015-11-05 00:47] tallforasmurf commented on #895
Commit #8a1ef63

[2015-11-05 00:47] #895 closed

[2015-11-05 04:05] codewarrior0 commented on #1581
Huh. I think I ran into this bug, investigated it, fixed it, and somehow lost the commit a few days ago. It happened when loading `argparse` from an egg.

The problem I had was that `argparse.py` would be a `InvalidCompiledModule`. I found out the PEP 302 loader for eggfiles would return ".pyc" as the filetype for the module, but `ModuleGraph._find_module_path` would always call `get_source` on th

[2015-11-05 05:25] IPVE opened #1656 "python 3.5 can not locate win32ui.pyd"
use like pyinstaller -D -w , it  pack win32ui.pyd at dist folder and rename to win32ui.cp35-win32.pyd .
this cause the exe can not run

[2015-11-05 05:43] codewarrior0 commented on #1656
Confirmed. Rename occurs during `add_suffix_to_extensions()` (called by COLLECT), which renames a file by adding the first element of `imp.get_suffixes()` if it does not already have that suffix.

Python 3.5:

[code]

Python 3.4:

[code]

I am not clear on why the inms for extension files are added to the TOC without a suffix, and later have the suffix appended during COLLECT.

[2015-11-06 19:18] balddude opened #1657 "pyside signal not fired when communicating between threads"
Hello, when I freeze this code under Mac, signal in "MyThread.run()" is not emitted. Under Windows everything is fine. Other than the signal not being emitted, the code run fines.
For more information see [http://stackoverflow.com/questions/33444132/pyside-signal-not-fired-with-pyinstaller-when-communicating-between-threads]

##### To reproduce
- run filename.app
- Click on "OK" button.
- Click on

[2015-11-06 19:40] codewarrior0 commented on #1657
A couple things to note:

- All of your signals run on the main thread. There are no calls to `moveToThread`, which would move an object and its signals to another thread; and because your worker thread is just spinning in a loop in `functionInDLL`, it would never get a chance to handle those signals anyway. The call to `self.exec_()` in `MyThread.run()` is probably pointless.

- I have frequently

[2015-11-06 21:05] balddude commented on #1657
# oooohhh YEAH!!!
Man, you made my day! heck no, you made my weekend!

On a more serious note. Running a few tests, the lambda seems to solve the problem.
I need to run more tests to see if everything is fine, but it's looking good.

[2015-11-06 21:17] #1568 closed

[2015-11-06 21:51] htgoebel commented on #1581
I can confirm that the example from https://github.com/pyinstaller/pyinstaller/issues/1581#issuecomment-145651803
- fails in a6f4ba4^
- passes in a6f4ba4
- passes in current head.

The example still fails due to module `socket` missing - which is esp. curious since the string "socket" does not even occur in the warnings-file.

[2015-11-06 22:02] htgoebel commented on #1568
Argl, this breaks Ci tests for 2.7 since Travis seams to have xmlplus installed.

[2015-11-06 22:12] htgoebel commented on #1581
This should be solved now, too. see 707b0191c4a8ca76c7a80b4c65fc5efb664f03d4

(CI tests fail at the moment due to an different error.)

[2015-11-07 07:26] da4e commented on #1650
You can fix this by edit the utils.py.
sudo vim /usr/local/lib/python2.7/site-packages/PyInstaller/building/utils.py
move to line 242, change
[code]
to
[code]

[2015-11-07 08:10] JokerQyou commented on #1650
@matysek Here are the details:

* I can confirm this happens for the builtin Python in OS X; but I have not installed Python from Homebrew (and don't want to), so I don't know about Homebrew Python.
* Yes pyinstaller will fail even on helloworld code, like the code attached later.
* The permission of the file is:
[code]
* I did not understand this question. What permission should I change to?

Eve

[2015-11-07 08:27] f418 commented on #1650
you can change utils.py
sudo vim /Users/joker/Works/edo/assistent/test/lib/python2.7/site-packages/PyInstaller-3.1.dev0+1183c04-py2.7.egg/PyInstaller/building/utils.py
change line 242
[code]
to
[code]

[2015-11-07 12:49] spinus opened #1659 "problem with hardcoded ldconfig path"
Hi,

I'm using the system when there is no /sbin/ldconfig and pyinstaller is crashing. I did a symlink and work correctly but wonder if woulndn't be good if pyinstaller will search for ldconfig the same way as it searches for upx? or mayby distutils find_executable would be handly?

[2015-11-07 18:13] htgoebel commented on #1657
Sounds like this is solved.

[2015-11-07 18:13] #1657 closed

[2015-11-07 22:19] htgoebel commented on #1645
#1649 is merged.

[2015-11-07 22:19] #1645 closed

[2015-11-07 22:24] htgoebel commented on #1631
Sound as this is solved?!

[2015-11-07 22:24] #1631 closed

[2015-11-07 22:27] htgoebel commented on #1615
Behavior depends on the hook, I'd say. If the files are known to be required, PyInstaller should raise an error and exit. Otherwise just issue a warning.

[2015-11-07 22:28] htgoebel commented on #1600
@soupault Any news on this topic?

[2015-11-07 22:32] htgoebel commented on #1577
@micmica We need more details, otherwise we can not help you. Please repoen when posting the required info.

[2015-11-07 22:32] #1577 closed

[2015-11-07 22:34] htgoebel commented on #1511
@tallforasmurf Oh, yet another one for you :-)

[2015-11-07 22:37] htgoebel commented on #1502
@jksfiftyfive Since I did not hear anything about this since the release, I assume this is fixed.

[2015-11-07 22:37] #1502 closed

[2015-11-07 22:43] ThomasWaldmann commented on #1635
I can confirm this fix works on freebsd:
[code]
You see, without /proc mounted, it does not work, with /proc mounted it does. So /proc-based discovery of the exe locations works.

[2015-11-07 22:46] ThomasWaldmann commented on #1634
Please reopen, this is currently broken on freebsd, using code from develop branch:
[code]
You see, without /proc mounted, it does not work. It finds the exe and executes it, but then the exe does not find its location via PATH. Only case it finds itself is when the exe is in cwd.

With /proc mounted it does. So /proc-based discovery of the exe locations works.

[2015-11-07 22:48] htgoebel commented on #1279
@glennra Sorry, I've overseen this. can you please test with the 3.0 release and -- if this does not work -- with the current development version. We fixed some issued caused by the referenced commit lately. If it still does not work, please provide the *exact* installtion instructions for these google-modules, as there is no 'google.protobuf' distribution at PyPi.

[2015-11-07 22:50] htgoebel commented on #1412
I'm closing this. Defacto we already forked.

[2015-11-07 22:50] #1412 closed

[2015-11-07 23:05] htgoebel commented on #1261
@MartinBriza I'm clsing this for now. If this still is an issue, please reopen and provide more details.

[2015-11-07 23:05] #1261 closed

[2015-11-07 23:07] htgoebel commented on #1260
@MartinBriza I'm closing this for now. If this still is an issue, please reopen and provide current details.

[2015-11-07 23:07] #1260 closed

[2015-11-07 23:20] htgoebel commented on #1228
@mattshirtliffe I'm closing this for now. Please test with PyInstaller 3.0 or the current development head. If this still is an issue, please reopen and provide more details.

[2015-11-07 23:20] #1228 closed

[2015-11-07 23:21] georgemunteanu opened #1660 "_tkinter.TclError: Tix data files missing"
How can I bypass: _tkinter.TclError: can't find package Tix ?

[code]

On running the .exe file, the system returns:

[code]

NOTE: I am using: python 2.7.10. I am using pyinstaller: 3.0
NOTE: When running the .py in python IDLE, the app. works fine.
NOTE: I have tried -onefile and one-dir options. The same result.
NOTE: As a workaround I will use the progressbarObj from ttk.

Edit 1:
I am using:

[2015-11-07 23:42] #1634 closed

[2015-11-08 00:05] #1118 closed

[2015-11-08 09:59] benmao opened #1663 "PyCrypto - ImportError with Crypto.Cipher._AES when using --key option"
## test4.py

[code]

## build command

## output

[code]

[2015-11-08 17:41] runbing commented on #1628
Is this problem related to the Tkinter?

[code]

[2015-11-08 20:27] virtuald opened #1665 "Building Windows exe under wine includes a number of Wine system DLLs"
Here's the list of files that it included.

[code]

If you can give me some pointers, I can debug this and fix it.

[2015-11-08 20:42] codewarrior0 commented on #1665
These files *should* be excluded because they are found in `c:\windows`. The relevant code is in [`PyInstaller.depend.dylib.WinExcludeList`](https://github.com/pyinstaller/pyinstaller/blob/develop/PyInstaller/depend/dylib.py#L227). I don't think any of us have tested this using wine, so feel free to take a shot at it.

[2015-11-08 21:11] virtuald commented on #1665
Found it, it's a bug in the exclude list object. Apparently os.path.realpath replaces the lowercase c:\ with an uppercase C:\ which breaks the 'startswith' bit. PR coming shortly.

[2015-11-09 00:36] tallforasmurf commented on #1511
OK... I see https://github.com/pyinstaller/pyinstaller/blob/develop/PyInstaller/config.py and see the nice docstring in it. I am trying to grasp where the user could employ this facility.

I think I see some potential for use by the writer of a new hook, maybe. But no actual use in existing hooks, only in hooks/utils, so no examples to steal from.

"...meant for runtime configuration..."? Does thi

[2015-11-09 10:46] phelixbtc commented on #1582
@htgoebel I meant the contents of e.g. the toc files. That might be affected by @matysek 's patch? In my case the order does match already, though. Unfortunately I did not find the time to test matysek's patch yet.

Rebuilding `.pyc` files does not make a change for me. (Only when I did remove all pyinstaller `.pyc` files on two different machines for the first time the output changed. Maybe some

[2015-11-09 12:33] youtux commented on #1565
Same issue here. I found a workaround: compile it using an x86 Windows (with an x86 version of Python, but I don't know if that matters).

[2015-11-09 12:36] soupault commented on #1600
First of all, I updated my workspace to:

Python 3.4.3, Qt5.5.1, PyQt5, latest git-version of PyInstaller (3.1.dev0+2a2c1a2).

Then I cleaned up some modules (including PyQt4) and tried several build-options.

	pyinstaller --onedir --windowed test_app.py
	pyinstaller --onedir --windowed --hidden-import=PyQt5 test_app.py
	pyinstaller --onedir test_app.py
	pyinstaller --onedir --hidden-import=PyQt5

[2015-11-09 20:46] htgoebel commented on #1582
.toc-file are irrelevant, they are just used for caching and help debugging. beside this, .toc-files are expected to be reproducible now.

Archiveviewer is your friend.

I'm closing this issue now, as I see only vague issues. Please open a now ticket when you know what is still missing - and mind providing enough infos :-)

[2015-11-09 20:46] #1582 closed

[2015-11-09 21:03] htgoebel commented on #1600
You assume, this is an Qt-problem. So I suggest you stripping down the example app to the bare minimum - esp. throw out this padas-stuff.
Further freeeze using the `--debug` option. Check the output of both PyInstaller and your running application and post it.

[2015-11-09 21:08] AcidWeb commented on #1600
Can't replicate.

I got same environment and everything is working here.

[2015-11-10 18:45] matysek commented on #1511
* @tallforasmurf By 'runtime configuration' I mean PyInstaller runtime not the frozen exe.
* Go ahead with renaming keys in `CONF` and making them consistent.

[2015-11-10 18:55] matysek commented on #1600
This is similar to #1584.
@soupault try these things:
* comment out lines with `excludedimports` in all hook files or
* try my branch: https://github.com/matysek/pyinstaller/tree/hooks_for_parent_pkgs

[2015-11-10 19:03] #1665 closed

[2015-11-10 19:07] matysek commented on #1663
@benmao Please provide more info:
* pyinstaller version
* pycrypto version
* are you sure that _AES C extension was compiled when insstalling pycrypto?

[2015-11-10 19:53] tallforasmurf commented on #1511
OK, one more question: do I document use of CONF in the manual? Is it open for use by hook-writers?
If not for hook-writers -- if only for developers of PyInstaller -- then it probably should not be in the manual, yes?

[2015-11-10 22:26] matysek commented on #1511
I would not consider CONF being a public stable API. I'd rather not document it at all. @htgoebel Do you need to have CONF documented in manual?

[2015-11-10 22:30] matysek commented on #1660
@georgemunteanu look at these links:
* https://github.com/pyinstaller/pyinstaller/wiki/If-Things-Go-Wrong
* https://github.com/pyinstaller/pyinstaller/wiki/How-to-Report-Bugs

[2015-11-10 22:32] matysek commented on #1659
@spinus What function `find_executable` exactly do you mean? Could you try to fix it and submit a pull request?

[2015-11-10 22:35] spinus commented on #1659
http://epydoc.sourceforge.net/stdlib/distutils.spawn-module.html#find_executable

I could but I'm very busy now and cannot provide any timeline :( probably new year?

[2015-11-10 22:37] matysek commented on #1659
If that's not fixed by that time feel free to do that.

[2015-11-10 22:51] matysek commented on #1628
* @runbing Which line exactly from the example?
* Is #1650 similar to this one?

[2015-11-11 01:30] benmao commented on #1663
@matysek

* pyinstaller 3.1.dev0
* pycrypto 2.6.1
* I can see Crypto.Cipher._AES.pyd in dist folder.

works good.

[2015-11-11 08:11] soupault commented on #1600
As suggested by @htgoebel , I had removed `pandas` import (I have no idea how did I miss it).

Executable is created much faster now and finally works.

Nevertheless, should investigate better into `pandas` hooks as long as `import pandas as pd` is quite typical and recommended codeline. I suppose the issue is related to `pandas` shortcuts to visualize `DataFrame`'s (`df.plot()` instead of traditi

[2015-11-11 08:11] #1600 closed

[2015-11-11 13:46] spinus commented on #1659
OK.

[2015-11-11 20:09] htgoebel commented on #1511
Hubs, sorry, I was wrong. I did not mean `CONF`, but `spec_namespace`, which defines the namespace available in `.spec`-files. See `build/buildmain:build()`

[2015-11-11 21:09] tallforasmurf commented on #1511
fixed #d266276f

[2015-11-11 21:09] #1511 closed

[2015-11-11 23:17] jun0s commented on #1663
Hi, same problem with pyinstaller 3.0 and python 2.7.10 x32 Windows, pycrypto 2.6.1 working fine on "native way" .py scripts.

[2015-11-12 01:41] anarcat opened #1668 "builds not reproducible"
i tried to see if i could generate the same binary with the same source tree by running pyinstaller multiple times. the idea here is that reproducible builds are a useful feature to have to verify the integrity of a binary (compared to the source code). some rationale is well detailed in [Debian's reproducible build project](https://wiki.debian.org/ReproducibleBuilds/About).

turns out that repeat

[2015-11-12 08:23] phelixbtc commented on #1668
relevant: https://github.com/pyinstaller/pyinstaller/issues/1582
There is a link to a dev branch that at least improves things.

[2015-11-12 08:34] phelixbtc opened #1669 "explicitly stated hidden imports get excluded by hooks"
[code]
built with option `--hidden-import=FixTk`
results in build info: `INFO: Excluding import 'FixTk'`
and executable error: `ImportError: No module named FixTk`

It would be nice if the PIL hook would not remove the FixTk module. Particularly it should respect my `hidden-import` argument no matter what the hook says. Same results with imports the other way round. Version 3.0

[2015-11-12 11:23] matysek commented on #1669
* This looks like similar to #1584.
* @phelixbtc Does this happen with the `develop`?
* If it is not yet fixed in `develop`, does it work with branch from pull request #1651?

[2015-11-12 12:48] phelixbtc commented on #1669
@matysek The dev version works. :)

From testing it seems to me that also `--hidden-import` has precedence now as expected. Thank you guys for the great work.

[2015-11-12 12:48] #1669 closed

[2015-11-12 13:03] phelixbtc commented on #1582
OK. I will investigate further with archiveviewer and create a new issue if necessary or report back here if I get it working.

[2015-11-13 09:46] uentity opened #1671 "Cython + PyInstaller once again"
Hi all!

Although this topic was already discussed in issue #1353 it is still very actual for me, because no final solution was provided there.

I have exactly the same problem, as described in #1353 - very similar project layout, everything works just fine when I run PyInstaller on project's Python source tree, but if I cythonize everything and build *.so (*.pyd) extensions from sources Analysis

[2015-11-13 10:04] codewarrior0 commented on #1671
PyInstaller is able to analyze binary Python extensions *only for C shared libraries*. It cannot analyze them for Python imports. If you have compiled your entire source tree using Cython, then PyInstaller will not be able to analyze your Cython compiled files for Python imports and you will have to specify all of them explicitly using `hiddenimports`.

If you have also Cython-compiled your main s

[2015-11-13 11:02] uentity commented on #1671
Thanks for the answer!

@codewarrior0, I'm not sure that I fully understand the following:

Is that mean that PyInstaller only detects:
1. if any of discovered Python source files imports binary shared module X, then X should be included into BINARIES;
2. if shared library X links to another shared library Y, then also include Y into BINARIES (and follow linkage chain further)?

My main start scri

[2015-11-13 11:30] htgoebel commented on #1671
Is there a way to implement 2-nd stage?

Yes, just modify the `.spec` file. It is a normal python script.

[2015-11-13 12:17] sonicnkt opened #1672 "global name error with keyring module"
i wrote a small python app to automatically login a user to specific service using the keyring module (for storing the password in the windows credential vault) and wxpython for a login gui if the date hasnt been stored yet or login didnt work.

The script is working perfectly on a normal python install but i want to deploy this as standalone application.

Keyring doesnt seem to play nice with pyi

[2015-11-13 12:33] georgemunteanu commented on #1660
Hi. I have tried with different code snippets that include Tix widgets.

=======================================
import Tix
root = Tix.Tk()
box = Tix.ButtonBox(root, orientation=Tix.HORIZONTAL)
box.add('a', text='test', underline=0, width=5)
box.pack(side=Tix.BOTTOM, fill=Tix.X)
root.mainloop()
==================================
Output: I got the same message.

[2015-11-13 16:43] tallforasmurf commented on #1671
On Fri, Nov 13, 2015 at 3:02 AM, Alexander Gagarin <notifications@github.com

3. Manually append all Cython-compiled modules to BINARIES.

You probably do not need to work with TOC structures unless you want to.

See the new manual,

    http://pythonhosted.org/PyInstaller/#adding-binary-files

As you say in step 1, let pyinstaller (or pyi-makespec) build a spec file.

Then add a line to the spec

[2015-11-13 16:57] redraven984 opened #1673 "Executable throwing 14001"
So pyinstaller creates an executable but when you click on the executable it has the following error:

Error loading Python DLL: C:\User\....\appData\Local\Temp\_MEI74442\python27.dll

Looks like its creating a temporary folder with python.dll in it, but for some reason it cannot load it. Has anyone seen this before?

[2015-11-13 18:11] tallforasmurf commented on #1673
Creating a temp folder is what the one-file program is supposed to do (http://pythonhosted.org/PyInstaller/#how-the-one-file-program-works). Obviously python27.dll should be included, but does it exist? See https://github.com/pyinstaller/pyinstaller/wiki/If-Things-Go-Wrong for troubleshooting hints.

[2015-11-13 18:22] uentity commented on #1671
Thanks @codewarrior0, @htgoebel, @tallforasmurf!
I actually successfully implemented steps 1 - 3 and now my application actually starts!
Step 2 takes only a few lines of code filtering auto-built TOC.
Now I'm facing another issue: local imports not working. I.e. the following code:
[code]
in module B.py located in directory A throws exception.
I feel that it somehow connected to __init__.py handli

[2015-11-13 19:15] redraven984 commented on #1673
I just checked. Yes, python27.dll exists. The directory itself only exists for a few seconds and is deleted when the program crashes.

[2015-11-13 19:35] redraven984 commented on #1673
Thanks for your pointer. I cleared the pyinstaller temporary folder and I found that the root cause was actually that Tkinter is not included in the imports during compile. Im a little bit confused as to why this may be. Its called in my imports at the top of the script.

[2015-11-13 20:17] tallforasmurf commented on #1673
Interesting. If you explicitly import it in your own code, it should be bundled. Check your warnings text file to see if it wasn't found. n.b. its name is "tkinter" in Python 2.7, "Tkinter" in Python 3.x.

[2015-11-13 20:47] redraven984 commented on #1673
Thats the interesting part. This is actually a GUI that uses Tkinter so its called right at the top:
import Tkinter as Tk and it runs inside Pycharm.

The actual runtime error I am getting now is: ImportError: No module named FixTk

If I look at the warning file I get:
"missing module named tkinter - imported by IPython.lib.clipboard, IPython.lib.inputhook, IPython.kernel.zmq.eventloops, PIL.Image

[2015-11-13 21:20] tallforasmurf commented on #1673
You can write --hidden-import= more than once. Or modify the spec file.

[2015-11-13 21:35] codewarrior0 opened #1674 "Find imports of Cython extensions"
PyInstaller cannot find the Python imports of a Cython-compiled extension module. Cython is used frequently enough that we should have some kind of support for modules built with it. Cython can compile either .py files (pure python) or .pyx files (Cython language) files to extension modules. A few possible approaches to finding the "hidden" imports of a Cython extension:

* **Import the extension

[2015-11-13 23:27] tammela commented on #1663
I got the same problem.
PyInstaller 3.0
pycrypto 2.6
Python 2.7
openSUSE 13.2 X86_64

### output from executable

Traceback (most recent call last):
  File "<string>", line 2, in <module>
  File "/usr/lib/python2.7/site-packages/PyInstaller/loader/pyimod03_importers.py", line 363, in load_module
    exec(bytecode, module.__dict__)
  File "/home/pedro/workspace/ping/src/tools.py", line 4, in <modul

[2015-11-14 00:53] johnstile commented on #801
sys._MEIPASS is missing from my Windows 8.1 system, using Python 2.7.10.
Changing PyInstaller-3.0\PyInstaller\loader\rthooks\pyi_rth_qt4plugins.py
to:
  d = os.path.join(os.path.dirname(sys.executable), d)
fixed my issue.

[2015-11-14 08:15] senkrain opened #1675 "A problem regarding IPython of "ImportError" in scipy"
My Python and IPython are 2.7.10 and 4.0.0 respectfully.

When I run scipy.sparse.linalg on IPython:
![50b8394a-abb8-4518-a83f-15f7e091db2d](https://cloud.githubusercontent.com/assets/15844146/11162730/86794d6a-8aea-11e5-89dd-0d83c00525ac.png)
But actually linalg exists!

When I run the same code on Python, it works well:
<img width="455" alt="c19eb582-f5aa-4089-8d4d-d110e2ce6d10" src="https://clo

[2015-11-14 08:19] codewarrior0 commented on #1675
It doesn't look like you're using PyInstaller. Maybe you're looking for [IPython's issue tracker?](https://github.com/ipython/ipython/)

[2015-11-14 16:51] htgoebel commented on #1675
I can not see why this issue should be related to PyInstaller.

[2015-11-14 16:51] #1675 closed

[2015-11-14 17:27] htgoebel commented on #1668
@anarcat You are using some development version, but which exactly? There has been a change at 2015-10-23 (e04dc31146169e34475f150a44dc933275643d6c) which addresses at least part of the problem.

[2015-11-14 18:49] htgoebel commented on #1668
@anarcat Please mind: Even when using the current development head, you'll see differences between build. This is due to the fact that PyInstaller is compiling many modules even if there already is byte-code module -- and here "hash  randomization" steps in. So you well need to build with `PYTHONHASHSEED` set -- and of course document the value you used for building, like this:

[code]

@tallforas

[2015-11-14 19:14] uentity commented on #1671
I discovered that import errors were caused by missing modules that failed to compile with Cython. So this issue isn't related to PyInstaller.
By replacing missing modules with *.pyc files I fix errors and my packaged application is fully functional.
Once again, thanks for your answers.

[2015-11-14 19:15] #1671 closed

[2015-11-14 21:09] tallforasmurf commented on #1668
It is certainly non-obvious!
I will review this on monday.
Can anyone comment in general on the need for completely reproducible builds?

Is it not the case, that any change in the source code between builds (even in assertions or comments, depending on the Python optimize option) however small, would cause a difference? Or any update to a dependency module?

 So reproducibility is only between tw

[2015-11-14 22:50] anarcat commented on #1668
On 2015-11-14 16:09:31, Nat Picker wrote:

That is correct. It is my expectation, basically.

On 2015-11-14 13:49:41, Hartmut Goebel wrote:

What is the hashseed for? What is the impact of publishing that seed?

A.

--
Music gives a soul to the universe, wings to the mind, flight to the
imagination and life to everything
                         - Plato

[2015-11-14 22:52] anarcat commented on #1668
@tallforasmurf That is correct. It is my expectation, basically.

@htgoebel What is the hashseed for? What is the impact of publishing that seed?

As for the version number, i tried both with the latest 3.x release and the latest `devel.zip` from the time i reported the bug.

[2015-11-15 00:18] benoit-pierre commented on #1581
The behavior is still different than with 2.1: instead of including the egg in the `eggs` directory, the content is included, which is problematic when said egg is using `pkg_resources`.

[2015-11-15 00:31] benoit-pierre commented on #1581
Also, running pyinstaller a second time without '--clean' errors out, apparently when it tries to unpack the egg a second time:

[code]

[2015-11-15 07:48] uentity commented on #1674
This is exactly what I wanted to ask you for. Great to see that such future is already planned! Looking forward for this to be included in future release.

[2015-11-15 08:00] uentity opened #1676 "Paths included manually using Tree() or TOC() are converted to lowercase on Windows"
Following the case in my issue #1671 I manually add Cython-compiled modules tree to ```binaries```. And when PyInstaller finishes, copied filenames are all lowercase in resulting ```dist``` directory. This completely breaks Python imports and may have other negative effects.

Issue isn't present on Linux. Also if I print contents of TOC() with my binaries I can see that filenames are stored correc

[2015-11-15 09:41] htgoebel commented on #1676
Please provide a minimal example to we can reproduce it. Thanks.

[2015-11-15 10:11] htgoebel commented on #1668
"Its purpose is to allow repeatable hashing, such as for selftests for the interpreter itself", see https://docs.python.org/3/using/cmdline.html#envvar-PYTHONHASHSEED. This will *disable* hash-randomization, Hash-randomization is a feature to address certain denial-of-service-attacks, see [this presentation from 23C3](http://events.ccc.de/congress/2011/Fahrplan/attachments/2007_28C3_Effective_DoS_

[2015-11-15 17:15] ProfPh commented on #1580
The commits didn't work for me but the latest dev version did fix it!

[2015-11-16 11:49] diegoherranz commented on #1291
`--clean` also worked for me with a recent (few days old) development version.

[2015-11-16 17:56] redraven984 commented on #1673
I tried adding 2 hidden imports. While pyinstaller is compiling the executable I get the following error messages:

51859 INFO: Excluding import 'FixTk'
51865 WARNING:   Removing import 'FixTk
51865 INFO: Excluding import 'Tkinter'
51865 INFO: Excluding import 'PyQt5'
51867 INFO: Excluding import 'PySide'
51868 INFO: Excluding import 'PyQt4'

But FixTk and Tkinter actually exist in C:\Anaconda\Lib

[2015-11-16 22:23] cricketgriff opened #1677 "Tcl import error when importing pandas and Tkinter"
I received the following error message when trying to run the resulting .exe file created using pyinstaller (option: -w) on the code below.  When I switch the import statements so that I import pandas before Tkinter, pyinstaller works.  This is an issue because I had multiple script files that I wanted to package with pyinstaller and it kept failing due to the order of import statements.  Specific

[2015-11-17 10:25] uentity commented on #1676
Here's minimal example:
https://www.dropbox.com/s/au0ynol8sdcgkfp/pyinstaller_lowercase.zip?dl=0

Run PyInstaller on Windows with test.spec and you should notice that in dist\bin folder there are files ```aa.bin``` and ```bb.bin``` instead of ```aA.bin``` and ```bB.bin``` as user expects.

[2015-11-17 13:40] MartinCharlis opened #1679 "exe file generated by PyInstaller not running on another pc with the same windows version"
When i convert my python script to exe on windows platform by pyinstaller i get the output file ran successfully in the same pc ,
but it doesn't run in another pc and i got this error ..

python 2.7.10

in pyinstaller 2.1:
print this message:
`Traceback (most recent call last):
  File "<string>", line 1, in <module>
  File "c:\users\Martin\appdata\local\temp\pip-build-25jk7z\pyinstaller\PyInstalle

[2015-11-17 14:49] Csega opened #1680 "ImportError: pyi_rth_qt5 returned -1"
Hi guys!

I successfully packaged an application with Pyinstaller (latest development snapshot: ac57f931eb11a63b3ad499d4a1e65c2948ac0990). When I try to run it on my own machine (where all the necessary Python stuff is installed), everything works fine. But when I try to run it on a different machine without the necessary packages, I get the following error message:

Traceback (most recent call la

[2015-11-17 14:53] #1680 closed

[2015-11-17 14:54] Csega commented on #1679
Sorry, I opened another issue, then I realized, I have the same (or at least similar) problem, so I closed it and just copy my original message here:

"Hi guys!

I successfully packaged an application with Pyinstaller (latest development snapshot: ac57f93). When I try to run it on my own machine (where all the necessary Python stuff is installed), everything works fine. But when I try to run it on

[2015-11-17 15:37] tallforasmurf commented on #1679
No quick fix from me, just the observation that these both relate to the boot-loader process, for example pyi_rth_qt5 is a "run-time hook" setting up for PyQt5. Suggest you add the --debug option, it causes the bootloader to emit a lot of info during startup. Then compare the output running on the dev. system and on the test system.

[2015-11-17 19:05] ryoonc commented on #1568
Just to spell it out for others' benefit, since it wasn't immediately obvious to me (and this is the top search result on google), on my machine I found _xmlplus in C:\Python27\Lib\site-packages. From within that directory, I deleted the _xmlplus folder, a PyXML egg, reinstalled pyinstaller, and the runtime messages about cElementTree finally disappeared.

[2015-11-18 07:23] xiekuncn opened #1682 "Cannot import pyusb by pyInstaller3"
Dear PyInstaller Team:
I use the pyintaller 3 to package python program with pyusb by the command:
[code]

But I got the following error:
[code]

Minimal code:

[code]
My System info is:

I've debuged with the source code of the PyInstaller3, and try to guess the structure of the variable **binaries** at **hook-usb.py** , but got nothing. Maybe you can help me to understand the binaries mean, and

[2015-11-18 11:44] Csega commented on #1679
Thanks for the fast reply. Here is what my dev system prints out with the --debug option:

PyInstaller Bootloader 3.x
LOADER: executable is [...]\test\dist\test\test.exe
LOADER: homepath is[...]\test\dist\test
LOADER: _MEIPASS2 is NULL
LOADER: archivename is [...]\test\dist\test\test.exe
LOADER: No need to extract files to run; setting extractionpath to homepath
LOADER: SetDllDirectory([...]\test\

[2015-11-18 15:47] tallforasmurf commented on #1682
The hook is trying to establish a global `binaries` that will tell the main code to include some libs. Normal feature of the hook API. Odd failure because `binaries.pop(2)` is immediately preceded by `assert len(binaries[0]) == 3`

    https://github.com/pyinstaller/pyinstaller/blob/develop/PyInstaller/hooks/hook-usb.py#L54

... oh, wait. I think I see a problem there... @htgoebel this is code fro

[2015-11-18 16:17] Torxed commented on #1322
@matysek Sorry for getting back on this so late.
I have confirmed that the master branch here from git now works, and develop branch also works but as it's unstable at times I haven't tried it out that much.

But all appears to be well. Thank you for looking in to this!

Best regards,
Anton

[2015-11-18 20:03] matysek commented on #1581
@benoit-pierre  pkg_resources is not yet implemented. Please either comment in #183 or report a new issue.

[2015-11-18 20:07] cricketgriff commented on #1677
I did edit a couple of package files before I ran the aforementioned code.
\PyInstaller\hooks\hook-PIL.py and commented out:  `excludedimports = [modname_tkinter, 'FixTk', 'PySide', 'PyQt4', 'PyQt5']`
\PyInstaller\hooks\ hook-PIL.SpiderImagePlugin.py and commented out:  `excludedimports = [modname_tkinter, 'FixTk']`

[2015-11-18 20:19] benoit-pierre commented on #1581
@matysek: it was supported in 2.1 when a package was included as an egg, as still mentioned in the FAQ:

pkg_resources is currently not supported by PyInstaller. This means that an application using a library which uses the the pkg_resources API will probably not work out of the box. The only situation in which it works is when it's being used on .egg files (see above).

[2015-11-18 20:20] benoit-pierre commented on #1581
But with 3.0, the egg is not bundled as-is.

[2015-11-18 22:16] htgoebel commented on #1597
Closing since no more details have been given since a month now.

[2015-11-18 22:16] #1597 closed

[2015-11-18 22:19] htgoebel commented on #1284
Closing since no more details have been given since five months now.
Anyway this could be related to #1676

[2015-11-18 22:19] #1284 closed

[2015-11-18 22:24] htgoebel commented on #1482
Closing since no more details have been given since two months now.

[2015-11-18 22:24] #1482 closed

[2015-11-18 22:28] htgoebel commented on #1449
@jksfiftyfive Any news on this?

[2015-11-18 22:30] htgoebel commented on #1567
@adammenges Solved`

[2015-11-18 22:31] htgoebel commented on #1603
Closing since no more details have been given since a month now.

[2015-11-18 22:41] htgoebel commented on #1679
@MartinCharlis @Csega Could you please use one of the `straces` (see https://github.com/pyinstaller/pyinstaller/wiki/How-to-Report-Bugs#make-sure-everything-is-packaged-correctly) and try to figure out which DLL is been searched.

[2015-11-19 01:20] xiekuncn commented on #1682
Thank you for replying. I test at 4ea614d1ff7d4d601488c1d2ee253df3f6dcb82c and it's failure too.
and i got an error here:
[code]

I notice you fixed this issue at branch python 3, but my interpreter is  python 2.7. Is it all same at this issue?

I try to change the hook-usb.py last line as:

[code]

then I got the error like this:
[code]

[2015-11-19 06:48] MartinCharlis commented on #1679
Thanks for the fast reply. But I found exactly my problem here:
https://github.com/pyinstaller/pyinstaller/issues/1671

thanks again....

[2015-11-19 08:15] #1679 closed

[2015-11-19 08:24] MartinCharlis commented on #1676
hey uentity ..

i did everything you said ..

- converted the py file to c file ..
- then i converted the C file into Pyd file ..
- and i included it in the .spec file inside the `binaries` array
`binaries=[('need\\lib.pyd',''),('need\\lib.c','')],`
so i found this libraries ( lib.pyd, lib.c ) beside the generated exe file by PyInstaller in the ( dist ) folder.

but i still have the same problem
`

[2015-11-19 10:33] uentity commented on #1676
@MartinCharlis we might be talking about different kind of issues.
In my case the problem was that after 'Cythonizing' whole complicated project tree PyInstaller no longer able to find dependencies (both internal, between compiled modules, and external imports of third-party Python extensions).

As I said in #1671, my solution is the following:
1. Start Analysis on Python source tree and let it di

[2015-11-19 13:56] htgoebel commented on #1682
5dbd130 should fix this issue. But then a new one arose - fix for which is currently running in CI my personal repo. Will commit here later this day.

[2015-11-19 14:05] htgoebel commented on #1676
@uentity Pleas post the example *here*. I can not access dropbox without cookies and javascript - ans I will not access it with both enables since I do not trust them.

[2015-11-19 14:23] htgoebel opened #1683 "Add debug-output for the module-graph"
Sometime it's helpful to know from which module some module is imported (ans the other way around). When running with `--debug` we should write this information to the build-directory.

`modulegraph` already is able to dump some debug information, including a graph. This could be used as a base.

[2015-11-19 16:52] Csega commented on #1679
@htgoebel I managed to figure out which dlls are missing on the test machine (I used DependencyWalker):

API-MS-WIN-APPMODEL-RUNTIME-L1-1-0.DLL
API-MS-WIN-CORE-WINRT-ERROR-L1-1-0.DLL
API-MS-WIN-CORE-WINRT-L1-1-0.DLL
API-MS-WIN-CORE-WINRT-ROBUFFER-L1-1-0.DLL
API-MS-WIN-CORE-WINRT-STRING-L1-1-0.DLL
API-MS-WIN-SHCORE-SCALING-L1-1-1.DLL
DCOMP.DLL
GPSVC.DLL
IESHIMS.DLL

Then, I ran the DependencyWalker

[2015-11-20 01:56] xiekuncn commented on #1682
I got the new issue as:
[code]

[2015-11-20 05:13] uentity commented on #1676
@htgoebel https://github.com/uentity/pyinstaller_lowercase_example.git

[2015-11-20 07:21] mo0feng opened #1684 "No module named '_cffi_backend' findings"
@matysek  @reaperhulk
When I found when I import LMDB pyinstaller can be cryptography (Pyopenssl) success.Referencing to LMDB perhaps cryptography has not a good solution.
When not import LMDB failed.
Specific information is as follows:
[code]

[2015-11-20 09:28] Csega commented on #1679
It seems, I've found the root of the error. I found the dlls, which weren't copied to the folder next to the exe. I copied them and now everything works fine.

[2015-11-20 20:55] htgoebel commented on #1683
@tallforasmurf Do you wan to document this?
xref is an html-file and the other a dot-drawing. Both go into the build directory, like the warnfile.

[2015-11-20 21:04] tgc-dk opened #1685 "ctypes - loading external DLL (not bundled) fails"
This is somewhat related to #1620 and #1609. The issue here is actually described here: https://github.com/pyinstaller/pyinstaller/issues/1609#issuecomment-149352392 but it was not the main issue in #1620, so it wasen't really addressed.

When trying to use vlc python bindings: https://wiki.videolan.org/PythonBinding/
The dll is not bundled.

When running from source: c:\python34\python.exe vlc.py

[2015-11-20 21:04] htgoebel commented on #1672
I assume, `keyring.backends._win_crypto` is a module, since you added it to `hiddenimports`. so it looks like the module is not frozen for any reason. Is this an extension-module?

[2015-11-20 21:47] htgoebel commented on #1676
Thanks for the example.

The problem is: All entries in a `Tree` will get type `DATA`. And `DATA` (and `BINARY`) entries get their destination-names normalized. So you need to change them into `EXTENSION` -- which is what cyton compiled modules actually are.

BTW: You could simply put a Tree or TOC into `Collect()`, too, like this. (This has the same effect as adding them to `a.binaries`, since `C

[2015-11-20 22:04] htgoebel opened #1686 "Document typespec `EXTENSION` for TOC?"
Follow-up to https://github.com/pyinstaller/pyinstaller/issues/1676#issuecomment-158534054:

DATA and BINARY entries get their destination-names normalized. So if on needs to keep the case, he/she needs to change the typecode into EXTENSION -- which is what cyton compiled modules actually are.

For this reason we should include `EXTENSION` in the short list in https://pythonhosted.org/PyInstaller/

[2015-11-20 22:06] htgoebel commented on #1676
I just implemented 9aa186038ad9e7a3d56ea5b3ced9ffb4e63673a0: Allow specifying the `typecode` for the files in a `Tree()`
This may ease your issue.

[2015-11-20 22:06] #1676 closed

[2015-11-20 22:19] htgoebel commented on #1668
I take this as solve. If you find further issues, please open a new ticket.

[2015-11-20 22:19] #1668 closed

[2015-11-20 22:29] htgoebel commented on #1659
@spinus Where is `lsconfig` located on your system?

[2015-11-20 22:56] htgoebel commented on #1659
If we work on this, we should reuse the `LDCONFIG_CACHE` in `depend.utils`.
@ThomasWaldmann Could you please post a view lines of FreeBSD `lsconfig -r`-ouput here. Can the first line be skipped like on Linux? Thanks.

[2015-11-20 23:35] ThomasWaldmann commented on #1659
[code]

[2015-11-20 23:49] htgoebel commented on #1659
Uff, this looks quite different than on linux. I'll work on this tomorrow.

[2015-11-21 01:33] xiekuncn commented on #1682
@htgoebel any update?

[2015-11-21 07:46] virtuald commented on #1492
@yniesp Did you figure this out? I'm hitting the same issue, even with my custom GTK hooks installed (see #1662). I feel like I'm missing a data directory or something...

[2015-11-21 08:04] penn5 opened #1687 "pyinstaller fails to recognise the keyword exit()"
in my script the program must exit on user keypress and so i use a simple exit(0) command. however pyinstaller executable gives error -1 exit is not defined!

[2015-11-21 08:19] uentity commented on #1676
@htgoebel thanks for clarification.
But what is the underlying reason for normalizing (lowercasing on Windows) ```DATA``` and ```BINARY``` paths?

[2015-11-21 14:46] spinus commented on #1659
@htgoebel thank you for the effort and a PR, but I'm affraid it won't help too much.

Currently ldconfig in my system can be grabbed from ``/home/spinus/.nix-profile/bin/ldconfig`` (this is in my PATH) which is symlink to ``/nix/store/hd6km3hscbgl2yw8nx7lr5z9s8h89p04-glibc-2.21/bin/ldconfig``.

Any particular reason why hardcoding available search paths is preferred over environment PATH variable

[2015-11-21 15:43] htgoebel commented on #1659
FreeBSD seams to be even more complicated than i thought.. I'll have to set up a vagrant machine myself.

[2015-11-21 15:46] htgoebel commented on #1687
We need for infos to help you. See https://github.com/pyinstaller/pyinstaller/wiki/How-to-Report-Bugs

[2015-11-21 15:48] htgoebel commented on #1676
To be honest: I don't know - I'm not a windows guy and I'm avoiding Windows wherever I can.

[2015-11-21 15:59] ThomasWaldmann commented on #1659
https://github.com/borgbackup/borg/blob/master/Vagrantfile Feedback welcome. :)

[2015-11-21 15:59] htgoebel commented on #1659
@spinus Well, on most Linux-systems, `/sbin` is not on the users path. What kind of system are you using?

[2015-11-21 16:04] spinus commented on #1659
@htgoebel it's http://nixos.org/ (but I'm using debian/ubuntu few others as well), I see, you're right, I totally forgot about this :[

so, maybe PATH + sbin pathes, or this would be too crazy?

[2015-11-22 05:47] JMSwag opened #1688 "with UPX - Could not find or load QT platform plugin "windows""
This application failed to start because it could not find or load the Qt platform plugin "windows".

No warnings in debug output.

Python: 3.4.3
PyInstaller: Latest development branch
PyQt: 5.5.1
Platfrom: Win 7 SP1 - Runs fine on Mac 10.9 - 10.11
Example app & pyinstaller output: https://gist.github.com/JMSwag/54f15d33ac4a8516cb71

I get the same result in onedir & onefile modes

Using --noupx i

[2015-11-22 12:52] codewarrior0 commented on #1676
It's because filesystems on Windows and Mac are case insensitive: `FOO.txt` and `foo.txt` are the same file. The idea is to prevent the file from appearing twice in the TOC. Case insensitivity applies when you open a file by name; but if you do something like list a directory, then you get the actual upper/lowercase letters in each filename, so you can do a case-sensitive check to see if a file ex

[2015-11-22 19:41] #1659 closed

[2015-11-22 19:43] spinus commented on #1659
Thank you!

[2015-11-22 19:45] htgoebel commented on #1659
@ThomasWaldmann Thanks a lot for the Vagrantfile. It made testing this *much* easier!

[2015-11-22 21:35] rodgomesc opened #1690 "Pyqt5 python 3.x, executable always return Fatal Error, main returned -1"
PyInstaller always shows me: main -1 returned when I use  parameter --noconsole python3.x using  Pyqt5/
 my windows is 32bit

![fatal error](https://cloud.githubusercontent.com/assets/4893591/11326214/de84dd24-914a-11e5-8827-8ba760c5ce60.png)

using ```python main.py``` run normally

![python main.py](https://cloud.githubusercontent.com/assets/4893591/11326397/d77259a8-914f-11e5-8958-8b4af047dce0.

[2015-11-22 22:06] htgoebel commented on #1679
Do you want to share your knowledge?

[2015-11-22 22:22] htgoebel commented on #1682
I assume the pyusb-guys can help here much quicker since they know all the internals of their load-engine. It would me take at least an hour to understand this,

[2015-11-22 22:27] htgoebel commented on #1690
Please follow the instructions at https://github.com/pyinstaller/pyinstaller/wiki/If-Things-Go-Wrong.

[2015-11-22 23:41] jun0s commented on #1663
No updates about this issue? @matysek
thanks.

[2015-11-22 23:47] rodgomesc commented on #1690
@htgoebel https://github.com/pyinstaller/pyinstaller/wiki/If-Things-Go-Wrong says:

If generic parts of your application are effected (e.g. commonly used packages like Tkinter, GTK, QT), adding a runtime-hook will help others users

QT is generic, not thirdy part,

sorry my english is not very good.    :)

[2015-11-23 02:18] xiekuncn commented on #1682
@htgoebel thanks a lot. I had found help from pyusb. And is there any documents about the hook's binaries? I am sure pyusb worked at some version of the pyinstaller2. Maybe I can  debug this issue following the instruction of the documents.

[2015-11-23 02:21] #1684 closed

[2015-11-23 07:17] AcidWeb commented on #1690
I guess that ``views/menu.ui`` or ``css/dark.css`` are not part of output and fail to load.

[2015-11-23 07:20] AcidWeb commented on #1688
UPX is corrupting some of QT DLLs.

[2015-11-23 07:53] Csega commented on #1679
I just figured out, which dlls could be missing. They belonged to the cv2 python module, which I compiled myself. I copied the dlls to the directory, where the .exe file was, and it worked. :)

[2015-11-23 09:04] matysek commented on #1370
Closing. It is really not necessary to rename it.

[2015-11-23 09:04] #1370 closed

[2015-11-23 09:17] matysek opened #1691 "design Object Model for PyInstaller"
* PyInstaller evolved over time and functionality was nod added in a consistent manner.
* Some functionality could be better expressed as classes.
* PyInstaller does not have well defined internal components and how they interact.
* We should more take advantage of advanced features of Python. E.g. inheritance, metaclasses, mixins, iterators, generators, context manager, ...

Output of this issue

[2015-11-23 10:54] rodgomesc commented on #1690
Problem solved converting
 ``` menu.ui```  into ```menu.py``` and adding code of ```menu.py``` into ```main.py```

but is very stranger Pyinstaller not accept load originally  generated  ```pyuic5``` file in folder ```views/menu.ui```  because when i use ```pyinstaller main.py``` and put folder views in compiled main.exe directory,  program run normally,
***how we could proceed to resolve this bug

[2015-11-23 15:42] tallforasmurf commented on #1690
Probably everyone knows this, but just to make it clear: You use the Qt Designer to do a drag-and-drop design of the look of some widget or window. Designer writes an encoding of your design as XML to a file with a suffix of `.ui`. Then you apply `pyuic5`, which is a PyQt5 utility, as in

    pyuic5 menu.ui -o menu.py

The output is Python source. If you mean to import it, it should have a `.py` s

[2015-11-23 16:15] rodgomesc commented on #1690
## PROBLEM SOLVED

adding this code in build.cmd

[code]

[2015-11-23 16:15] #1690 closed

[2015-11-23 17:27] aclewis182 commented on #1663
Same issue seen on OS X
[localhost] local: pyinstaller scrat.py --clean --onefile --key *********
28 INFO: PyInstaller: 3.1.dev0+4da2503
28 INFO: Python: 2.7.6
35 INFO: Platform: Darwin-14.5.0-x86_64-i386-64bit

[2015-11-23 17:59] aclewis182 commented on #1663
Same issue on Linux / ARM:
PyInstaller: 3.1.dev0+6d65e7c
[debian@10.1.0.9:22] out: 774 INFO: Python: 2.7.3
[debian@10.1.0.9:22] out: 778 INFO: Platform: Linux-3.8.13-bone47-armv7l-with-debian-7.4

[2015-11-23 20:06] tallforasmurf commented on #1676
my #421a5e9 and #d0c4828 clean up the Tree doc and add an (untested) example of building a TOC of Cython modules.

Note BTW that Tree could be more useful if it had an `include=list-of-suffixes` in addition to the existing `exclude=list-of-suffixes`. For the Cython case specifically, it would be handy to say `include=['*.so']` instead of trying to exclude every type of source file.

[2015-11-23 20:07] #1686 closed

[2015-11-23 20:58] tallforasmurf commented on #1686
#e3dcf94 removes obsolete info about name normalization

[2015-11-23 21:31] tallforasmurf commented on #1683
Worth documenting for sure. However, I'm having a little trouble testing it. I bundle a minimal program, I get `build/minimal/graph-minimal.dot` but when I process this with

    dot -Tpng -O build/minimal/graph-minimal.dot

I get a file `build/minimal/graph-minimal.dot.png` which is basically a one-pixel white square. No nodes, no edges. Probably because the graph file has only subgraph{} items i

[2015-11-23 21:42] codewarrior0 commented on #1683
That `dot` command works for me, even on the pyi_helloworld test script. The graph is a tangled, useless mess though:

![image](https://cloud.githubusercontent.com/assets/307683/11350691/dfb424a2-91d6-11e5-8acf-258fa8fd64d9.png)

[code]

[2015-11-23 21:50] codewarrior0 commented on #1683
I tried using the xref file that modulegraph outputs to debug an issue some months ago. As you say, it is very long, mostly because the required `encodings` module brings in a lot of dependencies. The main thing I did with the xref file was find a particular module, and then keep clicking the "imported by" links until it takes me back to the main script.

I made a couple of attempts at outputting

[2015-11-23 22:15] tallforasmurf commented on #1683
What are the first few lines of your graph- file like? Mine are,

    digraph G {
	concentrate="true";
	rankdir="LR";
	subgraph "cluster_importlib" {
		label="importlib";
	}
	subgraph "cluster_logging" {
		label="logging";
	}

and only more "subgraph" items after, nothing else. I just downloaded a fresh copy of the dev branch and installed it, just in case.

[2015-11-23 22:31] codewarrior0 commented on #1683
[code]

Followed by 2000 more lines of modules. The subgraph items start at around line 500 and are followed by even more modules.

[2015-11-23 23:08] tallforasmurf commented on #1683
Well I believe I see a problem but I don't understand why it works for you. At this line:

https://github.com/pyinstaller/pyinstaller/blob/develop/PyInstaller/lib/modulegraph/modulegraph.py#L1981

we have a for-loop that consumes all of `nodes` which is a map, and hence an iterator. This loop constructs the `nodetoident` dict which for my example, ends up with 526 entries (potential edges). So `no

[2015-11-23 23:21] codewarrior0 commented on #1683
Aha! I'm using python 2, and you're using python 3.

The first line of that function calls `map()`, which on python 2 returns a list, but on python 3 returns a generator object. So on py3, `nodes` may only be iterated once. Try changing the line to `nodes = list(map([...]))`

[2015-11-23 23:35] tallforasmurf commented on #1683
That did it! @htgoebel , do you want to fix that?
However, I have to say that the graph output, as @codewarrior0 notes above, is not precisely useful. The `dot` command ran about 90 seconds to produce a .png file that is 9296 x 36271 pixels and looks like the time the kittens got into my wife's knitting yarn.
I have written a couple paragraphs describing this for the "Finding Out What Went Wrong"

[2015-11-24 01:52] Fuzzwah commented on #1580
Latest dev version isn't working for me (Anaconda2-2.4.0-Windows-x86, Pandas 0.17.0, PyInstaller-3.1.dev0-py2.7)

Here's my (very) minimal test.py:

[code]

Super simple spec file (made by c:\Anaconda2\Scripts\pyi-makespec.exe --onefile test.py)
[code]

Last bit of the output from the pyinstaller.exe test.spec command:

[code]

I'm running the command in a cmd window which has admin rights.

[2015-11-24 02:54] JokerQyou commented on #1650
@f418 I just tried your suggestion, and it seems like there's more than one place we need to change from `copy2` to `copy`, here is the new output:

[code]

[2015-11-24 02:59] JokerQyou commented on #1650
More detailed information:

I'm running pyinstaller within a virtualenv environment, thus I think everything in it is readable by me (which is the user running pyinstaller). The only exception being this virtualenv has access to python packages installed system-wide (this was because I installed PyQt in system python path). Pyinstaller was installed within the virtualenv.

[2015-11-24 03:08] goldalworming opened #1692 "pyinstaller 32 bit output detect as virus"
Hi, I compiled my python code to two version. 32bit and 64bit. in 64, output run well and no virus alert (avast) but the output of the same code of 32 bit result malware-gen in avast.

please give solution for 32 bit.

[2015-11-24 06:56] garrylachman commented on #1684
+1

[2015-11-24 10:44] htgoebel commented on #1683
Fixed the iterator.

Regarding the graph: I output it since if comes for free as modulegraph already implemted it. If it is not useful, we can either not talk about it or remove it at all.

[2015-11-24 10:53] htgoebel opened #1693 "Implement `Tree(... include=[...]`"
Follow up to #1676.
`Tree` could be more useful if it had an include=list-of-suffixes in addition to the existing exclude=list-of-suffixes. For the Cython case specifically, it would be handy to say include=['*.so'] instead of trying to exclude every type of source file.

Then we could use `Tree` for hook-utils, e.g. collect_dynamic_libs, collect_data_files.

[2015-11-24 13:38] Godsmith opened #1694 "import pandas when using anaconda results in enormous file size"
I have created a minimal file pandas_pyinstaller.py:

    import pandas
    print 'hello world'

When I run

    pyinstaller --onefile pandas_pyinstaller.py

when having the latest version of Anaconda for Windows installed, the size of the generated exe file is 138 MB. When I only have having a native installation of python 2.7, pandas, pywin32 and pyinstaller installed, the file size is 25 MB.

I

[2015-11-24 16:18] htgoebel commented on #1694
You can specify the modules to exclude on the command line: `--exclude-module`. Sorry, not much more we can help you here.  The only thing you can do is figuring out which modules you do not need and then exclude them. If this shows up to be a general problem, we'd appreciate a pull-request.

[2015-11-24 16:19] #1694 closed

[2015-11-24 16:29] codewarrior0 commented on #1694
Generally, it's because a lot of the modules and packages in Anaconda have optional dependencies on each other. For example, IPython will use modules from numpy and matplotlib if they are present. PyInstaller doesn't distinguish between hard dependencies and optional ones, so importing one module in your script will result in a big cluster of those modules being included.

We're working on a featu

[2015-11-24 20:06] codewarrior0 commented on #1691
`PyInstaller.depend.bindepend` has a `seen` global that has to be reset at the beginning of Analysis. This is a sign that the bindepend functionality should be refactored into a class, so the instance has the `seen` data and a new instance can be created for each Analysis.

[2015-11-25 05:54] AndCycle commented on #1222
there is also test need to be done for non-ASCII data filename under win32,

one is when add data from specs by glob syntax for folder it will fail,
I can take care of this by walk file by myself,

the other is
I hit this line in bootloader while I  bundle data file with Chinese filename under win32 then try to execute it,

bootloader/src/pyi_archive.c
[code]

[2015-11-25 09:45] Godsmith commented on #1694
Thanks for the detailed explanation. It turns out that in my case, pandas was not required by the core functionality of my application, so I will try to extract the functionality that requires pandas into a separate script, which means I won't have to import pandas at all.

Last time I tried with the latest development version I got some errors, I can try to reproduce the issue if I get the time.

[2015-11-25 10:38] joedborg commented on #1580
Confirmed the dev version (3.1dev0) is the winner.

[2015-11-25 19:23] tallforasmurf commented on #1683
I added "Build-time Dependency Graph" to the "When Things Go Wrong" section. Noting that the files are very large, so the GraphViz file is not very useful "in this release". 71c77f164e804c335eb1826adf6fa5813cd2d748

[2015-11-25 19:24] #1683 closed

[2015-11-26 20:10] matysek commented on #1291
@codewarrior0 could this be closed?

[2015-11-26 20:14] matysek commented on #1660
@georgemunteanu Have you tried the 'develop' version?

[2015-11-26 20:28] matysek commented on #1673
@redraven984 Please provide any simple code example that reproduces your issue.

[2015-11-26 20:35] matysek commented on #1674
I tried this idea one or two years ago  for all C-extensions but it did not work well.

[2015-11-26 20:38] matysek commented on #801
@johnstile Please test the 'develo' version and either create a new issue or create a pull request.

[2015-11-26 20:56] matysek commented on #1677
@cricketgriff Do you have any idea why `Canopy` python distribution is complaining about Tcl version mismatch?

[2015-11-26 21:22] matysek commented on #1672
@sonicnkt Any simple code example to reproduce?

[2015-11-26 21:25] chengchengpei commented on #1682
My hook-usb.py is:
libusb_candidates = (
    # libusb10
    'usb-1.0', 'usb', 'libusb-1.0',
    # libusb01
    'usb-0.1', 'libusb0',
    # openusb
    'openusb',
)

for candidate in libusb_candidates:
    libname = ctypes.util.find_library(candidate)
    if libname is not None:
        break

if libname is not None:
    # Use basename here because Python returns full library path
    # on Mac OSX

[2015-11-26 21:28] matysek commented on #1492
@yniesp or @virtuald any description how to set up the necesary environment and what code snippet?

[2015-11-26 21:42] htgoebel commented on #1674
I wrote to the Cython-developers a few days ago.Here is their answer:

the so/dll file (which are produced by the C compilers), but if you
had/could create the generated C files we do put some metadata at the
top of those when compiled with cythonize, e.g.
[code]

This would at least save as the effort of parsing the file our self.

[2015-11-26 21:43] matysek commented on #1687
@penn5 do you mean just code `exit(0)`? If so, this function is defined only for the interactive interpretr but otherwise you need to use:
[code]

[2015-11-26 21:51] htgoebel commented on #1682
Use the *latest* development-version. This problem was fixed in 55b542f1353.

[2015-11-26 21:52] htgoebel commented on #1682
For futher problem related to pyusb, please open a new ticket. Thanks.

[2015-11-26 22:14] htgoebel commented on #1692
Please contact you anti-virus vendor. There is nothing(!) we con do here.

See [other tickets for his topic](https://github.com/pyinstaller/pyinstaller/issues?q=is%3Aissue+virus+is%3Aclosed).

[2015-11-26 22:14] #1692 closed

[2015-11-26 22:19] htgoebel commented on #1691
I agree in the idea to use much more objects instead of "dump" data-types.

But IMHO we should not over-engineer here. PyInstaller is meant to build *one* application at a time. Thus global variables only matter for the test-suite. Eliminating them would most probably lead to passing around some "status" instances. So we should spend our time to more important topics.

[2015-11-26 22:24] codewarrior0 opened #1696 "bincache should be versioned."

[2015-11-26 22:26] codewarrior0 commented on #1291
Sure. I opened a new issue for the bincache thing.

[2015-11-26 22:26] #1291 closed

[2015-11-26 22:27] codewarrior0 commented on #1696
Marking this as @low, but keep it in mind if you ever have to make changes in `checkCache()`

[2015-11-26 22:41] matysek commented on #1685
@tgc-dk Thanks for reminding this issue. A few notes:
* For security reasons bootloader sets `SetDllDirectoryW` to point to `sys._MEIPASS`. So no other dlls are allowed to be imported.
* When you override `SetDllDirectoryW` then libvlc is found, however it is not good to set this behavior being default in PyInstaller.
* PyInstaller is not able to resolve dlls when ctypes code cointains any path ma

[2015-11-27 08:20] tgc-dk commented on #1685
In this case and at this time we do not wish to bundle VLC with the app.
So that more or less leaves us with overriding ```SetDllDirectoryW```, right? To "restore" security, I guess we could just set ```SetDllDirectoryW``` to ```sys._MEIPASS``` after loading ```libvlc.dll```?.

[2015-11-27 10:27] matysek commented on #1663
* I was able to reproduce it on Linux with the code from the description.
* PyInstaller's `crypto feature` uses module `Crypto.Cipher._AES` and somehow it interferes with PyCrypto when using that module in your code.

[2015-11-27 11:19] sonicnkt commented on #1672
@matysek:
Here is a short code example, when it tries to store the password (keyring.set_password()) it crashes with the posted output above. Reading from the keyring (keyring.get_password) doesnt crash the programm but it also doesnt work.

[code]

[2015-11-27 11:30] matysek commented on #1663
This is the correct output imports without --key option:
[code]
This is the wrong output imports with `--key` option:
[code]

[2015-11-27 12:16] matysek commented on #1663
I just commited a fix. Could any of you @benmao @jun0s @tammela @aclewis182 to confirm it's workig?

[2015-11-27 12:48] #1663 closed

[2015-11-27 13:28] tammela commented on #1663
It's working.
Thanks!

[2015-11-27 13:30] dimaqq opened #1697 "Support module replacement trick"
I wish pyinstaller supported the module-replacement-with-object-at-loading-time, per http://stackoverflow.com/a/7668273

Here's a simplest possible example, library `lib`

[code]

 and its user `main`:

[code]

[2015-11-27 13:43] dimaqq commented on #1697
P.S.
I saw that fail in PyInstaller==2.1
I was unable to test in PyInstaller==3.0 because that fails for me with `rfind` something
I can see that there's a test now for this specific usage: pyinstaller/tests/functional/modules/pyi_testmod_dynamic.py

[2015-11-27 16:41] virtuald commented on #1492
@matysek I figured this out but forgot to post it, the problem was that `Gtk.init()` wasn't being called. PyGObject calls `Gtk.init` when `gi.overrides.Gtk` is loaded. However, the overrides weren't getting loaded because of the bug mentioned in #1689.

This bug is fixed with #1689 and #1662.

[2015-11-27 17:41] virtuald commented on #1492
@matysek if you want to set up an OSX environment to test this sort of thing out, I've created the [Python GTK3 + GStreamer SDK](https://github.com/exaile/python-gtk3-gst-sdk) which allows one to compile the right environment + dependencies on OSX. I haven't put it together in a downloadable binary environment yet.

If you have an appropriate GTK3 environment set up, the [hello world example](http

[2015-11-27 18:31] cricketgriff commented on #1677
@matysek, I do not have any idea.  I spent some time searching the interwebs but didn't find anything that helped me get to the bottom of it.

[2015-11-27 21:48] matysek commented on #1688
@JMSwag and @AcidWeb do you have any suggestion if there any better upx options that would not corrupt qt plugins?

[2015-11-27 22:08] matysek commented on #376
Duplicate of #1688

[2015-11-27 22:08] #376 closed

[2015-11-27 22:11] matysek commented on #805
Closing. This issue is old.

[2015-11-27 22:11] #805 closed

[2015-11-27 22:13] #1603 closed

[2015-11-27 22:15] jun0s commented on #1663
Works for me too (Windows, pyinstaller 3.1.dev0).. thanks u @matysek

[2015-11-27 22:17] matysek commented on #1186
@poyntesm If you are able to implement HP-UX support this could be then merged.

[2015-11-27 22:17] #1186 closed

[2015-11-28 01:57] chengchengpei opened #1698 "suggest to use distutils.core.setup if setuptools not supported"
The following code works for me and save me lots of time under windows 8.1....

try:
    from setuptools import setup
except ImportError:
    from distutils.core import setup

[2015-11-28 03:39] aclewis182 commented on #1663
Works on OS X.  I'll be able to test the ARM on Monday.  @matysek thanks for the quick turn around on this!

[2015-11-28 04:09] JMSwag commented on #1688
@matysek I'll test out [CExe](http://www.scottlu.com/Content/CExe.html) and report back.

[2015-11-28 04:19] benmao commented on #1663
@matysek works. thx

[2015-11-28 06:30] AcidWeb commented on #1688
@matysek I not found any combination of upx options that don't damage qwindows.dll.

[2015-11-29 17:24] htgoebel commented on #1697
PyInstaller 2.1 is out-dated and we no longer support it.
As you write, for PyInstaller 3.0 we have a test-case, which passes fine here.

I'm closing this ticket. I you still have some problem, please provide more information, see https://github.com/pyinstaller/pyinstaller/wiki/How-to-Report-Bugs

[2015-11-29 17:24] #1697 closed

[2015-11-29 17:38] htgoebel commented on #1696
I don't get this: What kind of "version" do you mean?

[2015-11-29 18:06] #1648 closed

[2015-11-29 18:09] htgoebel commented on #1467
It should be *much* easier to use py.test's monkeypatching to patch the code instrad of the spec-file.

[2015-11-29 18:37] olemoign commented on #1603
Really sorry for the silence. I finally found the time to test further. Like described, if I create a onedir exe from my app with upx, I get the error.
If I `upx --lzma -q` the original `python27.dll` and I copy the result file in the app folder, it works. This result file is slightly smaller (few bytes) than the python27.dll obtained when bundling. Are you sure that the python27.dll file is treat

[2015-11-29 18:59] matysek commented on #1685
@tgc-dk probably yes. Please report back if that causes any side effects.

[2015-11-29 19:45] matysek commented on #1685
I created this recipe https://github.com/pyinstaller/pyinstaller/wiki/Recipe-Win-Load-External-DLL - closing.

[2015-11-29 19:45] #1685 closed

[2015-11-30 13:27] SuperWangKai commented on #1660
I got the exact same problem, and I'm sure that the **tix folder is not packed into the distribution**.
In my environement (Win10 + Python34), the lacking folder is **"C:\Python34\tcl\tix8.4.3"**, if I put this folder into the dist directory, **the problem fixed**.
Currently, just FYI. I made some hack to the "hook-_tkinter.py" so I can get an one file EXE (I don't know if there is some way to pac

[2015-11-30 21:02] matysek commented on #1650
* It looks like copy files with preserving the permissions is cause of this issue:
  * `shutil.copy` works but `shutil.copy2` does not.
* I think it is a better idea to preserve file permissions.
* This issue looks like related to any file system permissions in recent OS X El Capitano.

We need figure out what kind of permission is causing that. My guess is this:
  * PyInstaller needs to modify th

[2015-12-01 10:09] matysek commented on #1650
@JokerQyou could you post here the output  from the following commands when applied on file `/Users/joker/Library/Application Support/pyinstaller/bincache00_py27_64bit/_struct.so` without using `shutil.copy` workaround?
* `GetFileInfo`
* and
[code]

[2015-12-01 16:28] virtuald opened #1699 "Wrapping pip 7.1.2 fails - USER_SITE == None"
Can be demonstrated very easily on linux via:

    pyinstaller --clean -F `which pip`

And that generates the following stack trace:

[code]

It looks like what's happening is the site.USER_SITE value is None, and pip expects it to be a string.

Of course, one might ask why would you want to wrap pip? Well, we're using the pip api from our application, and it fails in the same way because of this

[2015-12-01 19:48] #1698 closed

[2015-12-01 20:56] redraven984 commented on #1673
So I wanted to create a simple script to show you the problem. I copied and pasted a very simple entry box from the web and it compiled just fine.

My conclusion is that it must be something about the various packages I am loading thats causing the issue. Im not sure how to troubleshoot right now.

[2015-12-01 21:26] redraven984 commented on #1673
So I worked with the problem for some time again. I concluded that the issue is that one of the libraries I am importing is causing pyinstaller not to find Tkinter,FixTk,PyQt5,PySide,PyQt4. This seems to be a common problem because googling yields multiple hits on people posting about this problem.

Anyway, I commented out each library I am importing at the top of my script and then ran pyinstalle

[2015-12-01 21:29] tallforasmurf commented on #1673
The hook for the PIL module explicitly excludes FixTk (https://github.com/pyinstaller/pyinstaller/blob/dd1c17e7874e7b066d44b9fe4eaca80cb1baf96f/PyInstaller/hooks/hook-PIL.py). I see PIL mentioned in the sixth comment down in this thread. Is that something you import? Or is it indirect through iPython? Anyway try adding it to your minimal test case.

[2015-12-01 21:37] redraven984 commented on #1673
PIL is not explicitly used. Also, I am using an IDE not ipython. Anyway, I added the PIL import:

import Tkinter as tk
import seaborn as sns
import PIL

class SampleApp(tk.Tk):
def init(self):
tk.Tk.init(self)
self.entry = tk.Entry(self)
self.button = tk.Button(self, text="Get", command=self.on_button)
self.button.pack()
self.entry.pack()

def on_button(self):
    print(self.entry.get())

app = Sa

[2015-12-01 21:43] redraven984 commented on #1673
Also pasted the fix from your link into my toy file and it did not help.

[2015-12-02 02:51] bjones1 commented on #1601
FYI, the latest run of 334c5ac9950fabfda20b5b7097859b7b511aff3a produces:

[code]

[2015-12-02 11:13] diarmuidcwc commented on #1687
I can confirm that I saw this issue:

Exiting the python script using
[code]
Produces this on the console:
[code]

Replacing exit(1) with
[code]
removes the error

[2015-12-02 11:15] diarmuidcwc commented on #1687
I created my exe using the --onefile option
[code]
which produced this on the output
[code]

[2015-12-02 11:26] codewarrior0 commented on #1687
It's not just for interactive mode. `exit` is added to the builtins namespace even when running a python script via `python foo.py`. I ran `print dir(__builtins__)` both frozen and interpreted and found these names in builtins that are not present when frozen:

`copyright credits exit help license quit`

[2015-12-02 11:29] codewarrior0 commented on #1687
All of these names are added to builtins by the `site` module. We use a "fake" site module that doesn't do a lot of things the normal one does; it should at least add `quit` and `exit`.

[2015-12-02 11:37] matysek commented on #1687
If anyone wants to contribute, this should be just a matter of creating function `setquit()` in `./PyInstaller/fake-modules/site.py`. Similar as it is in the original Python module `site`.

[2015-12-02 11:39] codewarrior0 commented on #1696
I mean the version of the changes made by `checkCache`. It does things like rewrite the linkage info in OS X dylibs and Windows assembly manifest, and strip symbols from executables and/or run UPX on them. If we have to change the way these rewrites are done, we need to make sure it doesn't use the old cached files from a previous version of PyInstaller.

[2015-12-02 16:10] tallforasmurf commented on #1673
Good work diagnosing! Now, all hooks are off the hook (so to speak) for this problem. There is no seaborn hook and the matplotlib hook only adds some datas, it doesn't exclude or require any imports. I will try poking around in one of them but don't let that keep anyone else from looking, too!

[2015-12-02 16:33] redraven984 commented on #1673
Thanks! Let me know if I can do some other diagnostics too.

[2015-12-02 17:14] matysek commented on #1650
I upgraded my OS X to El Capitano and this issue is there.

[2015-12-02 19:30] tallforasmurf commented on #1673
OK I'm exploring this on Mac OS X. Your example program does execute there without error. However I note the following things.

1. seaborn relies on matplotlib. Since you report the problem with either, seaborn can be ignored.

2. matplotlib imports PIL and this is shown in the PyInstaller output.

3. PIL apparently has a complex import scheme because it generates all the following messages:

[2015-12-02 19:42] bjones1 opened #1704 "`__path__` not respected during imports?"
In working on #1601 and #1703, I've run into another potential bug I don't know how to fix. It appears that PyInstaller doesn't respect a module's `__path__` attribute when doing imports. In particular, I noticed the following:

wxPython's pubsub module provides three APIs (v1, v2, and v3; only v1 and v3 are documented at http://wiki.wxpython.org/WxLibPubSub). The filesystem looks like:

[code]

W

[2015-12-02 21:43] matysek commented on #1650
@JokerQyou It should be fixed:
I did an analysis and found out that just using `shutil.copy()` everywhere should be safe - preserve just permission bits and not file flags. Messing with OS X file flags is not a good idea.

[2015-12-02 21:43] #1650 closed

[2015-12-02 22:47] bjones1 commented on #1601
Some updates:

* `test_sphinx` now passes -- v1.3.3 fixes bugs which produced the failure in v1.3.2.
* I have no idea why `pyttsx` fails. This used to pass without a problem in earlier versions of PyInstaller.
* There appear to be some PyInstaller bugs which cause `test_wx_lib_pubsub` failures. See https://github.com/pyinstaller/pyinstaller/pull/1703 and #1704,
* Most of the `modulegraph` failures

[2015-12-02 23:21] redraven984 commented on #1673
Interesting. Well in my example i already imported pil and it did cause a failure. How does this help?

Sent from my iPhone

[2015-12-02 23:52] tallforasmurf commented on #1673
We can forget about the complexities of the giant modules matplotlib and seaborn. It's down to just an interaction between tkinter and PIL -- and the specifics of your installation. Python 2.7 on Windows what nn-bit? Installed Python how (e.g. via Anaconda or python.org standard install?)

[2015-12-03 00:34] redraven984 commented on #1673
Its windows 8.1 64 bit but anaconda 2.7 32 bit. Its the latest 32 bit anaconda. I actually switched from 64 bit anaconda to try to alleviate the problem.

Sent from my iPhone

[2015-12-03 02:51] JokerQyou commented on #1650
Sorry I was unable to respond with more information you need :( , I was kind of busy. I'll test the latest code once I get time.

[2015-12-03 04:39] codewarrior0 commented on #1704
I was working on this a while back. `__path__` is in fact respected, but what's happening is that the .py files included as data-files are only searched after the FrozenImporter is unable to find them. Yet, FrozenImporter finds the v3 `pub.py` without allowing the filesystem importer to find the v1 `pub.py`. So the search order goes:

[code]

I made an attempt at changing FrozenImporter to fall ba

[2015-12-03 09:33] matysek commented on #1518
Closing. Such protection is already enabled.

[2015-12-03 09:33] #1518 closed

[2015-12-03 14:56] bjones1 commented on #1704
@codewarrior0, thanks -- that's a very helpful explanation. Since this sounds like a hard bug to fix, I would suggest:

1. Marking the failing wxPython tests as xFail (only for 2.8.10 <= wxPython version < 2.9).
2. Creating some unit tests to expose the bug clearly, and marking them as xfail.

If you think this is a reasonable approach, I can work on these items, unless you'd like to take the lead

[2015-12-03 15:12] redraven984 commented on #1673
Nat, another idea that comes to mind is the system paths. Is there something specific i should have in my pythonpath or system path?

Sent from my iPhone

[2015-12-03 15:32] ShaiWavesAudio opened #1705 "Python 3.5 code compiled with PyInstaller 3.0 crashes running under code page 65001 on Windows"
I'm compiling a command line application using PyInstaller 3.0 with python 3.5 on Windows.

When I run the application under CMD.EXE configured for **code page 65001**, the compiled executable will not run, with the message:

Fatal Python error: Py_Initialize: can't initialize sys standard streams
LookupError: unknown encoding: cp65001

If CMD.EXE is configured for it's default code page (437) the

[2015-12-03 16:06] codewarrior0 commented on #1705
Running python itself in a `chcp 65001` command window works as expected.

The module `encodings.cp65001` is correctly bundled into `base_library.zip`. Modifying the encodings module with debug info reveals the root of this problem: an error while importing `encodings.cp65001`.

[code]

Either the `functools` module should be explicitly included in `base_library.zip`, or any modules added to the b

[2015-12-03 16:25] ShaiWavesAudio commented on #1705
codewarrior0 thanks. As I'm new to PyInstaller, is there a workaround on my side? Should I include some code in my spec file?

[2015-12-03 17:02] matysek opened #1706 "copy_metadata() - document usage of this function"
* In pull request #1700 was introduced function `copy_metadata()` that allows fixing pkg_resources for some packages.
* Usage of this function should be documented in manual.
* For example of this function see hook `hook-logilab.py`.

[2015-12-03 17:02] matysek commented on #1706
@tallforasmurf could you please take care of this?

[2015-12-03 21:51] bjones1 commented on #1601
I did some bisection manually to figure out what breaks `test_pyttsx` and found it in commit 47907e76b7b3393cdc5d62f975e6baf80366596e. However, it appears that this brokenness is a result of some other package I have installed -- running in a virtualenv with only pyttsx installed produces passing tests. Investigating...

[2015-12-03 23:04] tallforasmurf commented on #1673
If the paths are correct at build time, so that everything imported is found, that's all you need. The pythonpath and sys.path at execution time are set up by the bootloader code to the locations only of the bundled stuff. (Otherwise it would be dependent on the local environment.)

I have set up a Win7 64-bit system with Python 2.7 and PIL and the dev version of PyInstaller. I bundled your minima

[2015-12-04 01:57] codewarrior0 commented on #1704
I think this bug spawned a 100-comment discussion on a pull request a few months ago. We were trying all kinds of approaches to predict the way `__path__` would be modified and freeze the v1 files in the places where the v3 files normally go, and each approach seemed to require more intensive changes than the last one. In the middle of that, I added the `__path__` handling to FrozenImporter to sol

[2015-12-04 02:05] redraven984 commented on #1673
Hmm thats interesting. Its excluding tkinter but it runs. Let me give it a try again in the morning. Its been crashing the console window lately and i havent caught the current error.

When you say the important stuff in the path/pythonpath, what do you mean?
Sent from my iPhone

[2015-12-04 02:06] codewarrior0 commented on #1705
I don't think there's a simple workaround. We'll have to update `compat.PY3_BASE_MODULES` to include the needed modules. This bug appears to affect Python 3.4 too.

[2015-12-04 04:29] bjones1 commented on #1704
Are you referring to #1393? That's a long, confusing one...looking at older issues, #1367 seems relevant.

Is this possible to do in a hook? Or does this require editing the wxPython source?

Finally, it seems like the tests should be marked as xfail -- what haven't they been? Am I missing something?

I think having a simple, clear test case might be helpful for future work on this, or at least to

[2015-12-04 08:19] htgoebel commented on #1705
You could try adding `functools` to `--hiddenimports`. Well, this does not get it into `base_library.zip`, so it may not succeed.

[2015-12-04 16:55] bjones1 commented on #1601
I've submitted https://github.com/pyinstaller/pyinstaller/pull/1707, which should remove the wxPython failures.

[2015-12-04 19:08] redraven984 commented on #1673
I just ran the test case you posted. I captured the output and here it is:

Traceback (most recent call last):
  File "<string>", line 1, in <module>
  File "c:\users\laftch~1\appdata\local\temp\pip-build-xdd4f5\pyinstaller\PyInstaller\loader\pyimod03_importers.py", line 363, in load_
module
  File "c:\anaconda2\lib\lib-tk\Tkinter.py", line 38, in <module>
    import FixTk
ImportError: No module n

[2015-12-05 15:00] cbenhagen opened #1709 "Recent PyGObject changes break GStreamer on OS X with Homebrew"
@virtuald:

I finally managed to track down the issues that lead to my errors with the recent PyGObject changes.

Before i try to fix them myself I think it makes sense for you to have a quick look at this. I guess you might be able to fix it in a cleaner way as you are already familiar with the matter.

- `hook-gi.repository.Gst` is missing the hidden import of `gi.repository.Gio`.
  - I would si

[2015-12-05 15:27] cbenhagen commented on #1709
In case you need a simple testcase:

[code]

[2015-12-05 15:48] virtuald commented on #1709
Have you tried [this branch](https://github.com/virtuald/pyinstaller/tree/exaile)? That has all of my fixes merged into it, and I was able to build a fairly complex application with it without any problems.

[2015-12-05 15:49] cbenhagen opened #1710 "GLib MainLoop is broken"
While this simple testcase runs as expected when run from the commandline it does break with the following output:

[code]

Changing the depreciated `GObject.MainLoop()` to `GLib.MainLoop()` does again work on the commandline but gives the following error:

[code]

I tested this with the master and develop branch of PyInstaller. This is why I think this is not related to this issue: https://github

[2015-12-05 15:54] virtuald commented on #1710
Mainloop is probably broken because the overrides aren't being brought in properly (see definition of mainloop in [gi.overrides.GLib](https://github.com/GNOME/pygobject/blob/master/gi/overrides/GLib.py). You must have #1689 merged for overrides to work properly.

[2015-12-05 15:55] cbenhagen commented on #1709
I just tried it now and got the same error:

[code]

[2015-12-05 15:56] virtuald commented on #1709
Thinking about it, I haven't tried it with homebrew, I might be able to look at it tonight, but I have to go for a few hours now. What are the absolute locations of:

* libgio.*.dylib
* gio_modules

[2015-12-05 16:00] virtuald commented on #1709
My guess is that since the plugin is bringing in `Gio`, that it is indeed a hidden import that won't be declared by the `Gst` typelib (though I haven't checked) and we'll need to add Gio to the hidden import list. However, I wonder if there's a way to discover the requirements of the various plugins -- otherwise this could happen for other things too (though, Gio is such a basic requirement that i

[2015-12-05 16:17] cbenhagen commented on #1709
They get linked to `/usr/local/lib/libgio-2.0.0.dylib` and `/usr/local/lib/gio/modules/`.

[2015-12-05 16:26] cbenhagen commented on #1710
I just tried it with your exaile branch and it worked. Or at least it works as much as the simpler example in https://github.com/pyinstaller/pyinstaller/issues/1709.

I am leaving this open until https://github.com/pyinstaller/pyinstaller/pull/1689 gets merged so that it is easier to find for people who run into the same issue.

[2015-12-05 21:24] tallforasmurf commented on #1706
The comments in copy_metadata() indicate that (1) some packages have metadata that is not part of an egg, and (2) some do not have metadata folders at all. However the code does not appear to allow for either of these cases?

Here is what I propose to add, however I would also like to say what is returned if 'package-name' does not have a metadata folder. (Or should the call be in a try/except?)

[2015-12-06 01:25] virtuald commented on #1709
I'm having issues running your script in a non-frozen state. Oddly enough, on linux your script works fine. However, running on OSX, I get the TLS error that you get (once again, without pyinstaller involved).

[2015-12-06 01:37] virtuald commented on #1709
Ah, [--with-libogg and --with-vorbis needs to be specified when installing.. weird](https://github.com/Homebrew/homebrew/issues/32400). Now it works, but I'm getting some odd pyinstaller related bugs.

[2015-12-06 03:18] virtuald commented on #1709
@cbenhagen I ran into some other issues and added fixes for those. I also restored the previous GIR search behavior if the modules aren't found relative to the gio library.

The exaile branch in my repo has been updated as well, try it out and let me know if it works for you.

[2015-12-06 10:18] htgoebel commented on #183
May be solved by #1701. Todo: verify it.

[2015-12-06 17:43] cbenhagen commented on #1710
Thank you for fixing this @virtuald !

[2015-12-06 17:43] #1710 closed

[2015-12-06 17:46] cbenhagen commented on #1709
Awesome! You are my hero! :)

[2015-12-06 17:46] #1709 closed

[2015-12-07 05:51] virtuald opened #1712 "Thoughts about even better PyGObject support"
One thing that is currently missing from the hooks that I added for PyGObject is generic `gi.repository` support. So, it works for the common stuff that one might want to use, but right now a user has to either add their own hooks or create a new file in pyinstaller for each `gi.repository.*` import that I didn't add to pyinstaller.

Is there a way that pyinstaller's hook system could do something

[2015-12-07 08:45] nullne commented on #1564
same problem on CentOS Linux release 7.1.1503 (Core)

[2015-12-07 12:36] Sakthivishnu commented on #1291
Thanks a lot your idea helped me a lot :+1: :-)

[2015-12-07 15:17] bjones1 commented on #1706
@tallforasmurf, thanks for working on this! This function shouldn't be invoked if there's no metadata to copy. It supports all metadata formats except zipped eggs.

My suggestions:

# `copy_metadata(package-name)`

Given the name of a distribution as a string, this function returns the name of its distribution metadata folder as a list of tuples ready to be assigned (or appended) to the `datas` gl

[2015-12-07 18:05] bjones1 commented on #1601
Looking into `pyttsx` failures, I don't see any difference in the list of modules frozen into a working vs. non-working test. The only difference I can find is that the sizes, per `pyi-archive_viewer` differ. Recalling that the output is `Name: (ispkg, pos, len)`:

Working:
[code]

Not working:
[code]

I assume these lengths reflect the length of the compressed file. Are there different forms of c

[2015-12-07 18:15] bjones1 commented on #1601
Digging a bit, it seems that everything is compressed by the built-in zlib module. I'm confused...

[2015-12-07 20:06] tallforasmurf commented on #1706
Thanks, I'll put this in when I get back from a business trip on wednesday

[2015-12-07 22:05] mgrady3 opened #1713 "pkg_resources.DistributionNotFound: The 'macholib' distribution was not found and is required by the application"
Error running the application after the build process completes.

I am using OS X.11 El Capitan with python version 2.7.10 via Anaconda.

I have installed the latest dev version of pyinstaller via github and pip. I have tried using --noupx.
I don't think the error is related to a module that I import, however, the main libraries I depend on for this app are matplotlib, numpy, scipy, PyQt4 and open

[2015-12-07 22:09] bjones1 commented on #1713
Create a `hook-ctypes.macholib.py` file containing:

[code]

Make sure PyInstaller finds this hook file -- for example, use the `--additional-hooks-dir` command-line argument (see https://htmlpreview.github.io/?https://github.com/pyinstaller/pyinstaller/blob/develop/doc/Manual.html#general-options). Also, you **MUST** use the latest source available from github.

[2015-12-07 22:23] mgrady3 commented on #1713
Thanks for the quick reply

That gave me now an error about altgraph being required by macholib

trying a similar work around with a hook for altgraph (its already installed)

will report back if it works

[2015-12-08 07:04] codewarrior0 commented on #1704
Hooks were the first attempt. We were having problems predicting which folders are added as path overrides, if any were at all, because they depended on the order in which certain pubsub modules are imported, and this ordering isn't visible to us from modulegraph's static analysis.

I don't think editing the wxPython source would help us, but looking at the source, it may be intended for the user

[2015-12-08 10:50] htgoebel opened #1714 "Document reproducible builds"
Please remember documenting reproducible builds. see  #1668. Thanks.

[2015-12-08 10:51] htgoebel commented on #1601
The difference in size may be caused by different file-pathes contained in the byte-code files. Please mind, that comparing builds is not that easy, see the later comments in #1668

[2015-12-08 13:33] htgoebel commented on #1564
@nullne This is already solved. Please use the current development version.

[2015-12-08 15:18] bjones1 commented on #1601
Ah, thanks. I'd forgotten that. I'll keep digging...

[2015-12-08 16:10] bjones1 commented on #1601
I'm now working on fixing tests on Py3 with Windows, starting with `tests/functional/test_basic.py::test_celementtree`. Investigating this failure, the error message from running the frozen executable is:

[code]

This refers to `tests\functional\scripts\pyi_celementtree.py` line 21, which is `from xml.etree.cElementTree import ElementTree`. Indeed, `pyi-archive_viewer` shows that this import is i

[2015-12-08 17:53] douglasmccormickjr opened #1715 "Pyinstaller Assistant Packaging -- not an issue"
Hi there Pyinstaller people,

I've built a couple of tools to help streamline the building and application packaging process behind PyInstaller.  I'd like to release them into the wild (under MIT license -- it would link all the tools.parts together) but I don't want it to just linger out there with no one finding it or using it for that matter.  These tools make it considerably easier for users t

[2015-12-10 09:22] matysek opened #1716 "special module for PyInstaller exceptions"
* Create special module `PyInstaller/exceptions.py` that will contain definition of all exceptions that might be raised by PyInstaller.
* Define root exception `class PyiError(Exception)` and more specific exceptions should inherit from it.

[2015-12-10 16:01] jordanorc opened #1717 "Django 1.9 compatibility"
When trying to use Pyinstaller with Django 1.9 it seems not find templatetags and the following exception is raised:
- 'i18n' is not a registered tag library. Must be one of:

Note that it doesn't list any of default templatetags.

I tried on Pyinstaller 3.0 and 3.1.dev0.

[2015-12-10 21:15] tallforasmurf commented on #1706
n.b. if anyone wonders why I never push the Manual.pdf as well, it's because I can't get rst2pdf to work. It dies somewhere in the "reportlab" package with a "broken pipe".

[2015-12-10 21:15] #1706 closed

[2015-12-10 21:32] tallforasmurf commented on #1714
python -c 'import random as R ; R.seed() ; print(R.randint(0,2))'

? Is it important to set PYTHONHASHSEED to 0, 1 or 2? why not `R.randint(0,4294967295)` (as long as it is recorded for re-use)?

[2015-12-10 22:06] tallforasmurf commented on #1714
Hmmm. What am I missing here? OS X command line.

    echo $PYTHONHASHSEED
    1
    python -c 'import random; random.seed(); print(random.randint(1,10000))'
    4866
    python -c 'import random; random.seed(); print(random.randint(1,10000))'
    278
    python -c 'import random; random.seed(); print(random.randint(1,10000))'
    5334

[2015-12-11 03:01] codewarrior0 commented on #1714
The random hash seed is not the random seed.

The random hash seed only comes into play with the `hash()` function (and consequently, sets and dicts which rely on the hash function). Try running `python -c 'print(hash("Hello World"))'` a few times with PYTHONHASHSEED set and unset, and with python 2.7 and 3.3 to see what the difference is.

[2015-12-11 03:14] codewarrior0 commented on #1714
Actually, I can just show you:
[code]

With python 3.4, the hash function returns something different each time the program is run. This is a security feature to prevent attackers from being able to predict the behavior of things like dicts and sets. PYTHONHASHSEED disables this feature and makes the hash function have the same results each run.

[2015-12-11 08:51] alexbruy opened #1718 "Problem with loading python27.dll in the generated executable"
I successfully create executable with PyInstaller, but when I try to run it I get error
[code]
If I look in the "dist" directory I see python27.dll here. Also there are no errors in the build log
[code]
Any ideas what it wrong and how to fix it?
I'm on 64-bit Windows 7 Pro SP1. Working with 32-bit Python bundled with OSGeo4W
[code]
Pyinstaller 3.0 installed via pip.

[2015-12-11 10:27] codewarrior0 commented on #1718
Error code 126 is "module not found". It can occur if the named DLL is not found, or if the named DLL is found but one of the DLLs it depends on is not found. It can also occur if the named DLL is a 64-bit DLL but the process attempting to load it is 32-bit, or vice versa.

Try opening `emconvert\python27.dll` using Dependency Walker to see if any of the DLLs it depends on are missing.

[2015-12-11 15:30] codewarrior0 commented on #1601
This is my bad. I changed TOC to use a subclass of set to maintain the unique filenames. In Python 2.7, the `-` operator on a set subclass returns an instance of that subclass, but in Python 3, it returns a plain set. This is apparently because Python 3's set methods don't call `self.__class__()` to create new result sets, instead constructing the set directly using the C API.

It looks like the b

[2015-12-11 16:26] bjones1 commented on #1601
Ouch. That's a subtle bug. Thanks for finding it! I would have been completely lost....

[2015-12-11 16:31] codewarrior0 commented on #1601
The key observation was that Analysis had ElementTree in its output, but PYZ did not. PYZ does `self.toc - self.dependencies`, which ends up calling `FilenameSet - FilenameSet`, returning a plain set that doesn't honor the case-insensitivity on Windows.

[2015-12-11 16:58] tallforasmurf commented on #1718
If this is not already a recipe in the wiki, it should be, sounds like a handy general troubleshooting tip for windows.

[2015-12-11 17:14] hobbsd commented on #1565
I get this same problem with Python 3.5.1 32bit on Windows 10 64bit with Pyinstaller 3.0 and upx 3.91w. Using the --noupx switch works.

[2015-12-11 18:55] tallforasmurf commented on #1714
Hmmm. What am I missing here? OS X command line.

    echo $PYTHONHASHSEED
    1
    python -c 'import random; random.seed(); print(random.randint(1,10000))'
    4866
    python -c 'import random; random.seed(); print(random.randint(1,10000))'
    278
    python -c 'import random; random.seed(); print(random.randint(1,10000))'
    5334

[2015-12-11 18:57] tallforasmurf commented on #1714
Sorry, I misunderstood the example code by @htgoebel in the original issue comments.
I believe that 66ee281 covers the issue.

[2015-12-12 07:04] pertsev commented on #1663
import  Crypto.Cipher._AES as AES
import Crypto.Hash._SHA256 as SHA256

if __name__ == '__main__':
    c = AES.new('1234567890123456')
    cipher = c.encrypt('blabblabblabblab')
    print(cipher.encode('hex'))
    h = SHA256.new('blabblabblabblab')
    print(h.hexdigest())

[2015-12-12 07:39] codewarrior0 commented on #1601
As of b0950129d0302ea24e1f11069540997c44dd48f3, AppVeyor is coming up green again. But it looks like you found some failing tests that aren't exercised by AppVeyor? Is it because they have package dependencies that aren't listed in `tests/requirements.txt`?

[2015-12-12 10:58] htgoebel commented on #1714
@tallforasmurf  66ee281 is fine. (I added some suggestions, though.) Thanks!

Sorry for not reacting on your discussion earlier, I've been bussy.

[2015-12-12 11:34] htgoebel commented on #1601
Re: TOC and set: Ouch! This is a really disgusting misbehaviour or set :-(

[2015-12-13 03:20] bjones1 commented on #1601
@codewarrior0, fantastic! It's been a while since Appveyor was actually working. I'm very excited.

...but I'm on vacation this week, so I'm not near my PC to check on tests and try the latest...

[2015-12-13 14:29] wahono77 opened #1720 "Hidden import PyUsb 1.0 error"
I use PyUSB 1.0 (import usb.core) and hidden import using 'usb.core',
But when building I got error :
[code]
What's wrong in my step?

thanks

[2015-12-13 14:33] ShaiWavesAudio commented on #1705
Since I cannot release my product without support for code page 65001 on Windows, I tried solving the problem by adding functools to compat.PY3_BASE_MODULES.
functools required adding collections. So I also added collections to compat.PY3_BASE_MODULES. But I'm still getting the same error since collections  needs distutils, which I also added.
However now the *compilation* fails saying:
ImportErro

[2015-12-13 14:35] wahono77 commented on #1720
I have installer Microsoft Visual C++ 2008 Redistributable Package (x86) to install missing file msvcr90.dll, but still error.

[2015-12-13 15:36] htgoebel commented on #1720
Please
a) try the current development head. There have been changes in this area lately.
b) provide a minimal example for reproducing this. See https://github.com/pyinstaller/pyinstaller/wiki/How-to-Report-Bugs

[2015-12-13 15:44] wahono77 commented on #1720
Yes, after reinstall current development, it's OK now. Thanks htgoebel.

[2015-12-13 15:44] #1720 closed

[2015-12-13 19:00] matysek commented on #1222
@codewarrior0 is this issue still relevant or is it better captured in referenced issues #1422 and #1604?

[2015-12-13 19:18] matysek commented on #1677
@cricketgriff Does it work when you freeze your app just with the CPython distribution?

[2015-12-13 19:21] matysek commented on #1672
@sonicnkt could you either test with PyInstaller 3.0 or the `develop` version?

[2015-12-13 19:23] #1492 closed

[2015-12-13 20:09] matysek commented on #1699
* @virtuald The goal of pyinstaller is to have `site-packages` disabled. Is there any value that `USER_SITE` could be set to and also indicate to all python code that `site-packages` is disabled?
* If not then this issue should be closed as `won't fix`.

[2015-12-13 20:19] matysek commented on #1705
@ShaiWavesAudio could you try first your app with command `python -v` to see what all `distutils` dependencies your app needs and then add them to PY3_BASE_MODULES?

[2015-12-13 20:53] matysek commented on #1715
@douglasmccormickjr you have several options:
* Use this wiki page: https://github.com/pyinstaller/pyinstaller/wiki/Projects-Using-PyInstaller
* write to pyinstaller mailing list or python announce list
* If your tool proves to be useful then it could be mentioned in the PyInstaller manual.

Question is if your long-term goal is to integrate your tools into pyinstaller or keep it as separate tool.

[2015-12-13 20:53] #1715 closed

[2015-12-13 20:59] matysek commented on #1717
Latest tested Django version is 1.8. We will have to find out what changes are in Django 1.9. Pull requests are welcome.

[2015-12-13 21:16] virtuald commented on #1699
I don't really know what the right answer here is. I know for us, we set the value of site.USER_SITE to an empty string and it seems to work just fine for me.

Perhaps one solution could be a runtime hook checking for an import of `pip`, at which point you could set the USER_SITE to an empty string, or perhaps set it to an empty temporary directory?

[2015-12-14 04:29] glennra commented on #1279
It still doesn't work on windows with the latest master (https://github.com/pyinstaller/pyinstaller/commit/2f52ee1).

Protocol bufffers has to be installed from source https://developers.google.com/protocol-buffers/docs/downloads . First build the library using the supplied VS solution on Windows or `configure; make; sudo make install` on OSX/Linux then run `python setup.py install` from the pytho

[2015-12-14 10:01] ShaiWavesAudio commented on #1705
My own app does not use distutils at all. It looks like pyinstaller is using it and fails to import it correctly. Attached is my revised compat.py and the output from calling PyInstaller:

[pyinstaller.out.txt](https://github.com/pyinstaller/pyinstaller/files/61028/pyinstaller.out.txt)

[compat.py.txt](https://github.com/pyinstaller/pyinstaller/files/61031/compat.py.txt)

[2015-12-14 12:03] andrew-malkov opened #1721 "ImportError: No module named management.commands.runserver"
I succefully built django application exe but on starting django server I've got an error

LOADER: Running pyi_rth_pkgres.py
LOADER: Running pyi_rth_django.py
LOADER: Running manage.py
Traceback (most recent call last):
  File "<string>", line 12, in <module>
  File "C:\Python27\lib\site-packages\django\core\management\__init__.py", line 453, in execute_from_command_line
    utility.execute()
  Fi

[2015-12-14 20:01] htgoebel commented on #1721
Fix merged.

[2015-12-14 20:01] #1721 closed

[2015-12-14 20:07] htgoebel commented on #1714
Closed by 66ee281.

[2015-12-14 20:07] #1714 closed

[2015-12-14 20:45] tallforasmurf commented on #1714
You wanted to say something about being sure you saved the hash seed value. I thought about adding something about that, but the 66ee281 text already says "known integer value", which I think tells that story to any programmer. Also, I think probably almost anybody who does this will just set it to 1. There is no benefit to using a different hash seed for different apps or different versions. I th

[2015-12-15 03:28] codewarrior0 commented on #1222
I think it's still relevant. Those issues are just aspects of the overall fix, which is to change all filenames to `unicode` type for Python 2.

[2015-12-15 09:01] kamikaze commented on #1684
+1

[2015-12-15 09:09] amitm02 opened #1723 "making pyinstaller work with boto3"
How can i get pyinstaller to work with boto3?
I'be seen a thread about boto3 hook, but i'm not clear about what i actually need to do to make it work..
Currently I get:
File "/usr/local/lib/python2.7/site-packages/botocore/loaders.py", line 313, in list_api_versions
    raise DataNotFoundError(data_path=service_name)
botocore.exceptions.DataNotFoundError: Unable to load data for: s3

Thanks all

[2015-12-15 09:37] ollierexx opened #1724 "PyInstaller references original/compile path in errors output from the final exe"
Errors and tracebacks output by pyinstaller reference the original compile location.
If the exe was compiled in the directory C:/work/project/example, tracebacks will reference this same location, even when run on other computers.

[2015-12-15 09:42] codewarrior0 commented on #1724
This is a duplicate of...  some other issue. Instead of hunting it down I'll just fix it like I've been meaning to do.

[2015-12-15 10:16] sonicnkt commented on #1672
@matysek just tested it with pyinstaller 3.0 (upgrade through pip) and my small test example (above) works fine, even without all the hidden imports!
Gues this problem is solved!

[2015-12-15 10:53] ollierexx commented on #1724
Appologies, I did a search and could not find the issue.
Thanks!

[2015-12-15 11:11] codewarrior0 commented on #1059
Now a duplicate of #1724

[2015-12-15 11:11] #1059 closed

[2015-12-15 11:25] codewarrior0 commented on #1724
Huh. This seems to work, but I think I'd better move the stripping code to PYZ instead of Analysis. The problem is, I need the `pathex` arg to Analysis in order to do the stripping properly.

[2015-12-15 15:32] matysek commented on #1663
This is another issue. Please open a new issue with more details.

[2015-12-15 15:54] matysek commented on #1699
@virtuald I don't wan't to change globally `site.USER_SITE` just because of one package.

Better solution would be to create rthook for pip and override the value USER_SITE in pip directly. Override the `user_site = site.USER_SITE` value in `pip/locations.py` file.

[2015-12-15 15:56] virtuald commented on #1699
That would be fine, but the code is executed at the toplevel module of pip, so you can't actually import `locations.py`.

[2015-12-15 16:16] matysek commented on #1699
* Well, this is more political than technical issue.
* @htgoebel and @codewarrior0 what do you think about setting `USER_SITE` to empty string in our `fake-site.py`?
* It looks like it should not hurt in general. I tried to run python with options `-s -S` and this is what I got:
[code]

[2015-12-15 16:30] matysek commented on #1723
Use the `develop` version of pyinstaller. And if that does not work then report new issue or try to fix the boto3 hooks.

[2015-12-15 16:32] matysek commented on #1672
@sonicnkt could you please also try the `develop` version to confirm that there is no regression?

[2015-12-15 16:45] matysek opened #1725 "Document new Analysis() argument 'strip_paths'"
Recently the issue #1724 was fixed and new .spec argument `strip_paths` was introduced in commit.
https://github.com/codewarrior0/pyinstaller/commit/93d25e563e49f88f5977afd9b6e26cb34bfb5efa

This should be documented in the manual.

[2015-12-15 17:12] virtuald commented on #1699
I would advocate for adding a runtime hook that whenever pip is imported, it sets the USER_SITE to an empty string.

[2015-12-15 18:03] sonicnkt commented on #1672
@matysek is it possible to install the develop version through pip with with "--pre" flag?
Dont have access to my python system atm but will test it tomorrow.

[2015-12-15 19:01] diannall opened #1726 "Local files relative to PyInstaller bundle (onefile mode)"
I am building a small app that will be loaded on to a user's machine and it will need to look in the same directory as the bundle for specific mp3 files. These mp3 files will not be bundled with the py file, so I don't need the sys._MEIPASS path, but just the system path to the bundle itself. We need a small app to modify specific mp3 id3 tags for users. The mp3s will be on their local machine or

[2015-12-16 02:17] tallforasmurf commented on #1725
assign it to me, I'll get to it this week.

[2015-12-16 02:25] tallforasmurf commented on #1726
The code you show for setting basedir is for setting the location of the executing app, and by implication anything bundled with it. (In a one-file bundle, the place you "drop the app" is not from whence it executes; as described in the doc, the one-file app expands into a temp folder before executing.

However you want to find files based on the user's preferred directory, which is not necessaril

[2015-12-16 09:21] amitm02 commented on #1723
works!
thanks

[2015-12-16 09:21] #1723 closed

[2015-12-16 10:31] htgoebel commented on #1725
I vote against using this option at all, see https://github.com/codewarrior0/pyinstaller/commit/93d25e563e49f88f5977afd9b6e26cb34bfb5efa#commitcomment-15009644

[2015-12-16 10:32] htgoebel commented on #1724
I admit, that using the modulegraph functionality here is tempting. But I'afraid, this (again) does not handle all cases. If the byte-code is not delivered by module-graph (eg. since the Analizes-cache is used (.toc-files)), the source is compiles elsewhere. And in this case, we do still get the original path.

The correct place to handle this is just before writing the byte-codt into the PYZ, as

[2015-12-16 10:39] htgoebel commented on #1699
@matysek Would be fine for me. We'll see, if this breaks other thing, tough :-)

[2015-12-16 10:41] codewarrior0 commented on #1724
I caught on to that after reading #1302 again. On the upside, this modulegraph method does have the right code for scanning the code objects and replacing the filenames, so it can be copied into PYZ instead of used on modulegraph directly.

On the downside, PYZ still needs to be informed of pathex in order to strip filenames included from paths in pathex in addition to paths in sys.path.

Sorry fo

[2015-12-16 10:43] codewarrior0 commented on #1724
Haha, never mind, this isn't a problem. pathex is exposed in CONF. This should be simple.

[2015-12-16 13:12] wellu opened #1728 "Crypto.Cipher import error on OS X"
I'm running OS X El Capitan and using preinstalled Python 2.7.10. I've run

[code]

to install crypto package. Then I have a trivial Python app that imports AES from Crypto.Cipher. Running it with

[code]

works fine and prints the Hello World! line just fine so I believe crypto imports work. However if I run

[code]

and then

[code]

I get the following error:

[code]

pyinstaller itself works a

[2015-12-16 18:21] diannall commented on #1726
Thanks, but getcwd() also just returns the home dir, not where the app is located.

[2015-12-16 22:22] moden-py opened #1729 "UAC not working in onefile again, migrate old UAC test"
I am not able to create one file executable with UAC.
Here is the project I am trying to add the UAC window - https://github.com/pywinauto/SWAPY
`python27 latest-pyinstaller\pyinstaller.py --uac-admin -F swapy-ob.py`
Single exe file does not ask for Admin rights.

With `-D` works fine, since the manifest placed near the exe.

I've tried Python 2.7.x 32/64bit, PyInstaller from the master/develop/pi

[2015-12-16 22:45] Starwarsfan2099 opened #1730 "Distorm Python Module won't Load"
Any programs requiring the Distorm module (https://github.com/gdabah/distorm) compile correctly, but when launching the message reads:
![capture](https://cloud.githubusercontent.com/assets/12116340/11856167/c54c93a8-a41c-11e5-957e-801327f40476.JPG)
Any program with Distorm fails like this. The sample program (https://github.com/gdabah/distorm/blob/master/python/distorm3/sample.py) included with di

[2015-12-17 02:27] bjones1 commented on #1730
The error above refers to [`distorm3/__init__.py` line 50](https://github.com/gdabah/distorm/blob/master/python/distorm3/__init__.py#L50). It looks like `distorm3` needs an external library (see [line 39](https://github.com/gdabah/distorm/blob/master/python/distorm3/__init__.py#L39)). Since `distorm3` isn't (yet) a [supported package](https://github.com/pyinstaller/pyinstaller/wiki/Supported-Packa

[2015-12-17 07:53] MrSimonC opened #1731 "Executable fails when using 'from site import getsitepackages'"
Using pyinstaller on windows 7, python 3.4.3 (and python 3.5.1) on a file with a single line of:
[code]
compiles fine, but then fails on execute with
[code]
I've analysed outPYZ*.pyz - as it says to do on [when things go wrong](https://github.com/pyinstaller/pyinstaller/wiki/How-to-Report-Bugs#make-sure-everything-is-packaged) and `sites` *is* included.

However, I've noticed that changing the pyt

[2015-12-17 11:26] htgoebel commented on #1731
Within PyInstaller there is no such thing like "site packages", so this function would return an empty list anyway. The site-module we are putting into the frozen app is only a fake,implementing only the absolute minimum,

Please change your program to handle this by testing for sys,frozen.See the manual for more information.

IMHO we should not implement a fake `getsitepackages` in our fake `site

[2015-12-17 11:26] #1731 closed

[2015-12-17 12:31] htgoebel commented on #1726
Well, then a quick work-around would be to use a wrapper-batch-file witch sets an ENV var.

Or maybe `sys.argv[0]` is usable?

Otherwise you maybe could use windows- functions like `GetModuleFileNameW`. See `pyi_path_executable` in `bootloader/src/py_path.c`.

[2015-12-17 18:00] matysek commented on #1726
The trick with `sys.argv[0]` should work.
[code]
I think this trick should be mentioned in the manual for `onefile` mode.

@tallforasmurf could you please look at it?

[2015-12-17 18:04] matysek commented on #1725
@codewarrior0 Could you please decide whether you want to keep `strip_paths` or not?

If not, please close it as won't fix. If yes then reassign it to tallorasmurf. Thanks.

[2015-12-17 18:08] matysek commented on #1728
Please try latest `develop` version. Both issues should be fixed there.

[2015-12-17 18:12] matysek commented on #1729
Does UAC work with just simple helloworld app?

[2015-12-17 18:14] matysek commented on #1729
@codewarrior0 Do you have an idea how could we test the old test `test_onefile_win32_uac_admin.py` in appveyor?

[2015-12-17 18:15] matysek commented on #1729
Just test it as other interactive tests - check if it keeps running for a period of time - supposing that it's waiting for the user to permit admin access?

[2015-12-17 18:18] matysek commented on #1730
@Starwarsfan2099 you use an old version of PyInstaller. Please try the latest or develop version.

[2015-12-17 18:24] linville commented on #1717
I had a similar issues with static files and a custom tag library that were not being registered. I have worked around the issue by just modifying the app's `settings.py` to load the required template tag libraries-

    'OPTIONS': {
            'context_processors': [
                'django.template.context_processors.debug',
                'django.template.context_processors.request',

[2015-12-17 18:35] wellu commented on #1728
Ok, removed both pycrypto and pyinstaller packages under /Library/Python/2.7. Then I built and installed the latest develop with

[code]

after that I reinstalled pycrypto with the easy_install:

[code]
Traceback (most recent call last):
  File "<string>", line 1, in <module>
  File "/Library/Python/2.7/site-packages/PyInstaller-3.1.dev0_93d25e5-py2.7.egg/PyInstaller/loader/pyimod03_importers.py",

[2015-12-17 18:51] gdabah commented on #1730
Hi there @bjones1,
please tell me how I can be of help.
If there's any fix I can pull, I will gladly do it.

[2015-12-17 18:57] matysek commented on #1672
No, it is not. There is this pip command. It might require git client. Another option is to download it manually as zip archive.
[code]

[2015-12-17 19:02] moden-py commented on #1729
Does not work with simple helloworld.
I noticed a strange behavior, if I take the manifest file from `helloworld\build\helloworld\` and place it near the onefile exe - UAC does not work(both has the same name, I expect it would). But if rename the exe and the manifest from the original name to a some the same name - UAC works properly.
For instance to `helloworld1.exe` and `helloworld1.exe.manifes

[2015-12-17 19:11] matysek commented on #1699
I did that change and these are my CI jobs before pushing to main tree:
* https://ci.appveyor.com/project/matysek/pyinstaller-ewwmo/build/199
* https://travis-ci.org/matysek/pyinstaller/builds/97518693

[2015-12-17 19:24] matysek commented on #1728
@wellu Are you sure that the file `Crypto/Cipher/_AES.so` was really compiled when you did `sudo easy_install pycrypto`?  Do you have XCode installed?

[2015-12-17 19:26] matysek commented on #1729
And the latest `develop` works for you?

[2015-12-17 19:28] moden-py commented on #1729
@matysek, I have one idea how to deal with UAC in the tests.
I've just checked when UAC window is open I cannot catch it ;-) but I still can deal with UAC's accompanying windows. On my Win7 when UAC starts i see two new windows with classes:
1. TaskSwitcherWnd - also happens when you switch by Ctrl-Alt.
2. IME (text - Default IME) - Input Method Editor, the language change window.

I may check the

[2015-12-17 19:40] moden-py commented on #1729
@matysek

Unfortunately no.
Have just update to SHA-1: 93d25e563e49f88f5977afd9b6e26cb34bfb5efa

[2015-12-17 20:39] Starwarsfan2099 commented on #1730
@bjones1 Tried the hooking and it still fails same way. I'm new to hooking though, should it print something like `INFO: hook distorm3` like other modules? Here's output:
![capture2](https://cloud.githubusercontent.com/assets/12116340/11881341/38ed2d24-a4d4-11e5-8174-3c999b4fce5c.JPG)

No `INFO: hook distorm3`... The hook is in the PyInstaller/hooks directory.

[2015-12-17 20:49] Starwarsfan2099 commented on #1730
For those who would like to see it, here is the code that imports the dll:

==================================================================
_distorm_path = split(__file__)[0]
if hasattr(sys, '_MEIPASS'):
    _distorm_path = sys._MEIPASS
potential_libs = ['distorm3.dll', 'libdistorm3.dll', 'libdistorm3.so', 'libdistorm3.dylib']
lib_was_found = False
for i in potential_libs:
    try:
        _dis

[2015-12-17 20:50] wellu commented on #1728
I have XCode installed with command line tools. Also I can run the attached Hello.py with

[code]

which means that pycrypto itself is working just fine. Once I compile Hello.py to binary then the import starts to fail. It seems to me that pyinstaller bundles the Python parts of the pycrypto library (e.g build/bdist.macosx-10.11-intel/egg/Crypto/Cipher/AES.py) but fails to include or locate the ac

[2015-12-17 21:26] matysek commented on #1699
Tests passed then it seems ok.

[2015-12-17 21:26] #1699 closed

[2015-12-17 21:26] tallforasmurf commented on #1726
I will, but I believe I will retain the name `basedir` for the location of the app and bundled files, and add the use of another name, maybe `launchdir` ? for the location from which the app was launched. These would be the same for a one-folder app, and different for a one-file app.

[2015-12-17 21:26] matysek commented on #1699
@virtuald please test if that works for you.

[2015-12-17 21:35] matysek commented on #1728
* @wellu this is probably the reason. PyInstaller is not looking for C extensions inside zipped .egg files.
* @htgoebel Do you know more about this topic?
* I just remember that in the past zipsafe eggs were those that did not contain any C extensions. Has it changed since then?

[2015-12-17 21:43] matysek commented on #1730
@Starwarsfan2099 do you really use the latest `develop` version? I wonder why is there `PyInstaller-2.1` in the screenshot.

[2015-12-17 22:26] Starwarsfan2099 commented on #1730
@matysek, just download and installed https://github.com/pyinstaller/pyinstaller. I had it before I had the current version before, I just kept everything in the same directory name. I just reinstalled everything and still the same result.

[2015-12-17 22:44] jordanorc commented on #1717
The problem is in function `get_package_libraries` in module `django.template.backends.django.py`. It uses `walk_packages` from `pkgutil`. The problem here is `pkg.__path__` points to a folder that doesn't contains python source. I don`t know yet how to solve the problem.

Any ideas?

[2015-12-18 01:07] bjones1 commented on #1730
@Starwarsfan2099, are you an experienced Python developer? Creating a hook will require some time and expertise; since `distorm3` isn't supported, it will be your responsibility to develop and test the hook. I would not place the hook in `PyInstaller/hooks`, since depending on how you installed PyInstaller, this may not be found. (That is, `python setup.py install` must be run-run *each* time you

[2015-12-18 01:35] codewarrior0 commented on #1726
Ah, you should actually use `sys.executable` for the location of the exe. It is more reliable because `sys.argv[0]` is set by the process that calls the exe.

If the calling process is a shell, it can set argv[0] to just a plain filename if the exe was put in $PATH and called with just its filename.  argv[0] only contains a full path when the exe is launched via Windows Explorer or possibly other

[2015-12-18 02:05] codewarrior0 commented on #1725
`strip_paths` is gone. We can bring it back if there is actual demand.

[2015-12-18 02:05] #1725 closed

[2015-12-18 02:06] Starwarsfan2099 commented on #1730
@bjones1, I have written plenty of python projects, but I have never had problems out of Pyinstaller. I read the documentation and wrote a hook that loads the appropriate dll's required. It did work on both my disassembler and the sample program. Is there a way to send the hook to the Pyinstaller team so it will be included in the next update?

[2015-12-18 02:18] codewarrior0 commented on #1729
I'll take a look at reviving this test.

I've got a hunch about what's happening here. It's a catch-22.

UAC options in the manifest only take effect if it is automatically loaded by Windows. The manifest automatically loaded by Windows cannot specify the MSVCRT libs because the onefile app needs to extract them to a tempdir.  The MSVCRT libs must be specified in the manifest marked as "process de

[2015-12-18 03:10] codewarrior0 commented on #1699
I think it should be fine.

[2015-12-18 03:36] bjones1 commented on #1730
Fantastic! Yes, please submit a pull request which includes both your hook and a simple test to verify that `distorm3` is packaged correctly.

[2015-12-18 07:19] codewarrior0 commented on #1724
Fixed.

[2015-12-18 07:19] #1724 closed

[2015-12-18 07:32] wellu commented on #1728
Just a side note: this works out-of-the box on Ubuntu 14.04 with distribution provided pyinstaller 3.0.

[2015-12-18 13:31] wellu commented on #1728
This issue is happening only on OS X. Tested on Windows and Linux and the AES import works without issues.

@matysek @htgoebel any pointers where to look for more information? Is pyinstaller completely broken in case of .egg files containing native extensions?

[2015-12-18 17:25] Starwarsfan2099 commented on #1730
@bjones1, I am going to install pyinstaller and distorm on my Linux machine and make the hook support both Windows and Linux. It may be a while before that happens (Christmas and everything). Thanks to all who helped! Expect a distorm3 hook soon! Issue closed!

[2015-12-18 17:25] #1730 closed

[2015-12-18 17:45] matysek commented on #1728
@wellu Could you rather try virtualenv and pip to install PyCrypto? Not sure if it's worth the effort to fix this corner case.

Thanks for confirmation.

[2015-12-18 18:22] ngaloppo opened #1732 "Missing skimage dependency: ImportError: No module named core_cy"
Executing a script that imports the following:

[code]

I get the following error at runtime:

[code]

Version information:
[code]

[2015-12-19 10:33] matysek commented on #1732
@ngaloppo Could you for better reproducibility track down you example to the oneline import statement that's causing this error?

[2015-12-19 10:38] Penaz91 opened #1733 "Shelve Hook"
First of all, thank you for making this awesome project.
I had quite some issues using Shelve with PyInstaller, until i noticed that its hook file was missing.
I made a small basic hook that made it work for me, hope it's useful.

[hook-shelve.zip](https://github.com/pyinstaller/pyinstaller/files/67450/hook-shelve.zip)

Thanks again.

[2015-12-19 10:42] matysek commented on #1733
@Penaz91 Please create a pull request. Thanks.

[2015-12-19 18:59] Penaz91 commented on #1733
Will do, sorry but i'm pretty new on the Issue/Pull request stuff.

[2015-12-19 19:08] Penaz91 commented on #1733
Closing, I created said Pull Request, Id is #1734

[2015-12-19 19:08] #1733 closed