[2015-07-13 14:21] htgoebel commented on #844
@panofish Please post the exact error messages here, so we have a change to implement a hooks for this so other will not run into this trouble. Thanks.

[2015-07-13 14:24] panofish commented on #844
ImportError: No module named Tkinter
ImportError: No module named FileDialog

[2015-07-13 15:55] matysek commented on #1328
@htgoebel Today i fixed this issue with python3 branch. It was connected with dirname(). See my latest commits on python3 branch.

Btw. travis now also compiles the bootloader.

[2015-07-15 09:00] pandel opened #1332 "Mac OS X: qt_menu.nib not necessary with Qt 5.4 / PyQt5 hooks"
Hi!

I tried to build a mac app bundle from my pyqt5 based python3 script via pyinstaller, but somehow, it is not working.

    Python3.4.3 - installed via pkg installer from python.org to /Library/Frameworks/Python.framework
    Qt 5.4.2 - installed via offline installer from qt.io to /Users/<username>/Qt5.4.2 as proposed by the installer
    PyQt5/sip - build from source, installed via setup.py

[2015-07-15 09:40] matysek opened #1333 "OS X - in manual recommend using homebrew or macports."
The manual should recommend OS X users to use either homebrew or macports for Python usage on OS X.

[2015-07-15 09:42] matysek commented on #1332
Recently I refactored PyInstaller to have a clear namespace of API for .spec file.  I added 'Tree' to the namespace. I think it should fix the import in spec file. Feel free to add more symbols to namespace if you think it should be there.

[2015-07-15 09:44] matysek commented on #1332
Regarding qt_menu.nib PyInstaller should probably include more paths where it is looking for it.

[2015-07-15 09:51] pandel commented on #1332
Ah I see, many thanks for that! ...and regarding the paths... this qt_menu.nib is missing completely in Qt 5.4.2. At the moment I'm trying to build qt from source to see, if the missing dir is created. Alternatively, I'll try to install the whole python3 environment via homebrew. Let's hope for the best...

[2015-07-15 12:06] matysek commented on #1332
@pandel I installed Qt5.5 from qt.io and really there is no qt_menu.nib. It is necessary to run the .app bundle of a PyQt app.

Does your .app bundle work without qt_menu.nib?

If so then maybe recent Qt5 dropped the necessity to have qt_menu.nib or it could be a changed in any recent OS X version?

[2015-07-15 12:12] pandel commented on #1332
I think I don't understand... I go to my source folder, open a terminal and run "python3 script.py" -> UI comes up, everything works including loading resources from qt resource file, ui files. etc. But when I try to build a .app bundle with pyinstaller, then it asks me for qt_menu.nib. Perhaps I'm doing something wrong...

[2015-07-15 12:26] matysek commented on #1332
@pandel Could you hack the PyInstaller code that it skips the inclusion of qt_menu.nib?
I'd like to make sure that your app created by pyinstaller will work without it.

[2015-07-15 12:57] pandel commented on #1332
Yep!  I'll give it a try and report!

[2015-07-15 14:08] pandel commented on #1332
YES! That did the trick!

Basically, I commented out the nib thing line

     "datas = [
    #          (qt5_menu_nib_dir(), ''),
    ]"

at the end of hook-PyQt5.py and it works!

Thanks for your help!

[2015-07-15 14:16] matysek commented on #1332
Thanks for reporting this and testing. I will reopen it since we need to find out what has been changed and in what cases pyinstaller should handle that in PyQt5 hooks.

[2015-07-15 14:19] pandel commented on #1332
Ok, thanks ;-)!

[2015-07-15 14:28] MarkusPiotrowski commented on #679
Pools still seem to be a problem, even with the development branch. Here's my code:

    from multiprocessing import Process, freeze_support, Pool
    import random, time

    def f(number):
        time.sleep(random.randint(0,4))
        print 'Number', number
        return number

    if __name__ == '__main__':
        freeze_support()
        while True:
            print 'Testing Multiprocess

[2015-07-15 19:52] tallforasmurf commented on #1333
Why, particularly? I have installed Python 3.3 and later 3.4 from the python.org distribution, into /Library/Frameworks/Python.framework/Versions. Then you set the Versions/Current link and always set PYTHONHOME to /Library/Frameworks/Python.framework/Versions/Current.

[2015-07-16 05:01] bosha opened #1334 "Error in hook-django.py: KeyError when accessing CONF['scripts']"
Hello.

I have an application running with django 1.7.
If I try to execute pyinstaller with it, it fails:

[code]

CONF dict is empty.
Running on Linux, inside virtualenv, with python3.4 and python3 branch of pyinstaller.

[2015-07-16 08:30] matysek commented on #1333
@tallforasmurf These are the reasons I think of:
* with Python you usually need some 3rd party modules like PyQt, ...
* for not all modules osx binaries are provided (PyQt, ...)
* some modules require additional libraries
* users end up with compiling libraries and modules themselves
* users then report issues that are related to environment setup and not directly to PyInstaller
* homebrew/macport

[2015-07-16 10:37] matysek opened #1335 "Document usage of graph hooks - package 'six' is an example"
In pull request #1231 was introduced the concept of 'graph hooks' for package 'six'.

This feature should be documented.

[2015-07-16 11:40] matysek commented on #1334
I'm able to reproduce this error.

[2015-07-16 11:46] matysek opened #1336 "add 'excludedimports' to hooks API"
* Sometimes a module optionally imports another module if another module is available. But usually the created exe does not need that another module. For example, 'django' uses IPython if that's available.
* We need a way how to say that 'a module' should ignore 'another module' if that's available.
* having 'excludedimports' working the same way as 'hiddenimports' seems the best option.
* hook ex

[2015-07-16 15:36] htgoebel commented on #1328
Thanks to martins fix, I made considerable process today (while spending a lot of time debugging). The bootloader from my branch, when copied to develop-branch, passes most of the basic and import tests when using asci-only paths.

When running the frozen exe on a non-ascii-only-path, it fails due to this line: https://github.com/pyinstaller/pyinstaller/blame/python3/bootloader/src/pyi_archive.c#L

[2015-07-16 16:29] #1336 closed

[2015-07-16 19:16] matysek commented on #667
Closing since it was fixed.

[2015-07-16 19:16] #667 closed

[2015-07-16 19:24] matysek commented on #1334
The keyerror with CONF should be fixed. Now I get error with raise AppRegistryNotReady("Apps aren't loaded yet.") and that's described in #1067.

[2015-07-16 19:24] #1334 closed

[2015-07-17 05:16] leycec commented on #1212
**Closed.** This issue appears to have committed ritual seppuku for me. (I am spitefully grateful.)

*Translation*: I can't reproduce this anymore under the current `python3` HEAD. Yay! :ok_woman:

[2015-07-17 05:16] #1212 closed

[2015-07-17 08:23] matysek opened #1338 "OS X - pyinstaller does not follow relative paths e.g. @executable_path"
When PyInstaller tries to resolve dynamic dependencies of binaries then it cannot find files that points to paths like `@executable_path/../.Python` and it complains:
[code]

[2015-07-17 08:40] htgoebel commented on #1338
What exact is the problem? The relative path-part `..`, or the symbolic path `@executable_path`?

[2015-07-17 08:46] matysek commented on #1338
The @executable_path. I need to find out more.

[2015-07-17 09:10] htgoebel commented on #1289
Hmm, `tornado.util` seams not to cause the problem. We'll have to investigate this further.

[2015-07-17 09:11] htgoebel commented on #844
Thanks. Is there no stack-trace around?

[2015-07-17 13:11] panofish commented on #844
stack-trace?

[2015-07-17 15:28] tallforasmurf commented on #1338
Maybe you already know, but the symbolic paths @executable_path and @loader_path should only appear in Mac OS app bundles. They allow some freedom in locating resources within the bundle. In particular Qt does this in order that DLLs in folders that are like, nested 4 deep inside Resources, can find common dependencies. Such a DLL can have a reference to `@loader_path/QtXxxx` -- instead of having

[2015-07-17 20:12] matysek commented on #1067
I just pushed several commits that should fix django support. The basic mysite project is working.

[2015-07-17 20:13] #1067 closed

[2015-07-19 14:34] htgoebel commented on #844
https://en.wikipedia.org/wiki/Stack_trace
You are a Python developer, aren't you?

[2015-07-20 10:22] durden opened #1339 "Windowed exe will not run when running external application with subprocess and redirected stdout"
I've been using Pyinstaller for a while for a PyQt4 application.  It has worked great but recently I decided to change my build to be windowed with no console, the -w option.  This new build **almost** works. I'm able to double-click the exe and run fine.  However, I cannot run this exe from a Windows command window.  I've narrowed the problem down to calling another executable that writes to stdo

[2015-07-20 10:42] durden commented on #1339
I forgot to mention I'm using the 2.1 release version of PyInstaller on Windows 7.

[2015-07-20 11:39] matysek commented on #1339
* Have you tried the 'develop' version?
* Does your redirection work when using pyisntaller without the -w option?

[2015-07-20 12:42] durden commented on #1339
I just tried the HEAD of the 'develop' branch [a71bbff4](https://github.com/pyinstaller/pyinstaller/commit/a71bbff4610178bc60a5afda04bef4c4248a5a91), and the same problem exists.

I also double checked my redirection and it works when not using the -w argument and running from the command prompt.  The redirection also works when using the -w argument and double-clicking the exe in Windows Explorer

[2015-07-20 13:26] htgoebel commented on #1339
What exactly do you mean with this? What is the traceback? Does your test-program run when not frozen?

[2015-07-20 13:30] durden commented on #1339
Sorry, I wasn't very specific.  My test program runs when it is not frozen without any problems.  Also the test program runs without any problems when **not** using the -w option.

I see no output or traceback when running my test program built with the -w option. I run the .exe from the command prompt, and I immediately get the command prompt back without anything else.

[2015-07-20 13:38] htgoebel commented on #1339
The script you showed in https://github.com/pyinstaller/pyinstaller/issues/1339#issue-96034177 is the one failing and is (almost) complete? I'm asking because you you wrote something abut PyQT4.

Please try redirecting your stderr at the very beginning of you program `sys.stderr = open('stderr.txt', 'w')` and add print-statements behind every other statement like this: `print  >> sys.stderr, "11"`

[2015-07-20 13:50] durden commented on #1339
No, my application is a PyQt4 application. The code in the comment is just the code to run an external exe to verify a 'license', which runs a C executable that logs something to an internal database. My PyQt4 application must run this C executable, which sadly only outputs information to stdout. So, I'm trying to redirect that stdout to a file then read the file contents with my PyQt4 application

[2015-07-20 13:52] durden commented on #1339
Thanks for the debug tip.  I ran with the following debug and the stderr.txt file only gets '1', '2', and '3' in it.  So the app seems to crash for some reason during the call to `POpen`. However, that's assuming the exe correctly flushed stderr I guess.

[code]

[2015-07-20 14:10] durden commented on #1339
I've re-created the issue with a small demo application.  Try creating the following with the -w flag. I can double-click the exe and run.  However, running test_demo.exe from the command prompt just returns the command prompt and no GUI.  Also note that the redirection goes to a file called `.license_output`. This file has no data in it when running with a -w build from the command prompt. I assu

[2015-07-20 14:31] htgoebel opened #1340 "Base main() on Python's Modules/python.c"
Refactor our code to work like Python's `main()` does:
- convert all arguments in `argv` to wchar_t
- call `Py_Main()` (we'd call something like `PyInstaller_Main()`.

Rationale:
* The Python developers have a lot more experience for how to implement Unicode-support. Let's benefit from this.
* This would make PyInstaller mimic what Python does.
* It's easier to follow changes to what Python does.

[2015-07-20 14:39] codewarrior0 commented on #1339
Since the default for Popen is to inherit the filehandles from the calling process, and that process has closed filehandles for stderr and stdin, have you tried passing `stderr=subprocess.STDOUT` and `stdin=subprocess.PIPE` to the Popen call to make sure the child's filehandles are at least valid?

[2015-07-20 14:53] pandel commented on #1339
@durden
May I ask a question? Why do you insist on using -windowed parameter? One of my applications has to run with a GUI and also on the command line. As I hate the black console window while in GUI mode, I simply hide it, and that should avoid any problems with your file handles as well...

Try something like this:

    # as part of your imports
    if sys.platform.lower().startswith('win'):

[2015-07-20 14:57] durden commented on #1339
@pandel Thanks for that.  I think it will work.  I was only using the -w parameter because I thought it was the recommended way to get rid of the console window.  I don't mind hiding it as you suggested. I'm just trying to figure out why it doesn't seem to work in my scenario.

[2015-07-20 15:00] durden commented on #1339
@codewarrior0 Your suggestion seems to fix my issue! I changed the call to subprocess to explicitly set `stderr` and `stdin`.  Here's the full working example:

[code]

[2015-07-20 15:03] durden commented on #1339
I guess this isn't a PyInstaller bug after all.  Would it be worth mentioning this situation in the documentation though?  Also, maybe the console hiding snippet could be included in the docs somewhere too.

I'm glad to help out with that, but I haven't the slightest clue if and where that should go in.

Thanks so much for helping out folks! I'm glad it's not a bug. Hopefully this thread will stil

[2015-07-20 15:05] pandel commented on #1339
My problem was, that my program had to work windowed AND from console, and nothing really worked, even before introducing pyinstaller to package my app. That was the reason for me to simply hide the window ;-)

... I would love to see pyinstaller to have a bootloader variant, that could open (or attach to) a console window and only show it, if one specifies a command line option, else simply hide

[2015-07-20 18:37] htgoebel commented on #1339
@pandel We'd appreciate a pull-request :-)

[2015-07-20 18:37] #1339 closed

[2015-07-20 19:52] akshayaurora commented on #1338
ok,  it turns our the issue with the kivy package was due to a misplaced link that was not in the correct place the relative to @executable_path. Thanks to @matysek  for figuring this out.

[2015-07-20 21:59] #1338 closed

[2015-07-21 16:17] htgoebel opened #1341 "Make python3 branch support Python 2.7 again"
When #1328 (bootloader) is done, we need to head forward and restore support for Python 2.7 is the remaining (Python) parts.

[2015-07-21 16:36] htgoebel commented on #1323
IMHO an even better solution would be to base main() on Python's Modules/python.c, see #1340.

[2015-07-21 16:42] #1328 closed

[2015-07-21 20:50] htgoebel opened #1343 "Rename FakeModule.name to __name__"
This is how the name is stored in normal modules and how hooks may access the name. Indeed, `hooks1/hook-pkg1.py` for `test_pkg_structures` does this.

This seams to be done wrong when FakeModule was introduced in 25c1ec2b946. So maybe `name` is used at other places or modulegraph uses `name`. We'll have to look into this.

[2015-07-21 21:04] htgoebel commented on #1341
It looks like I made this work with remarkable few changes. But I have to re-enable the old test-suite first to check if all these test still pass.

[2015-07-21 21:34] matysek commented on #1341
@htgoebel  I will have to test the bootloader  on Win/OS X. Appveyor does not compile the bootloader yet.

[2015-07-22 13:26] synapse211 opened #1344 "Python3 no longer supports MERGE?"
Hey,

I have been testing the python3 branch with Kivy, all is well except for when I try to use MERGE:

name 'MERGE' is not defined

Probably this is intentional, I searched for news regarding it's removal but I couldn't find anything. If it is indeed getting removed what can I do to produce multiple-executable builds? Can I just merge the two builds or is there some other magic that I need to do

[2015-07-22 20:53] matysek commented on #1344
Hey, MERGE should be still supported.

This issue is related to a recent change where we defined a dict() with names for .spec file. MERGE was probably not added to that dict().

[2015-07-23 10:50] synapse211 opened #1345 "building with append_pkg=False results in crash"
The error message is:

"Cannot open self test or archive test.pkg"

Is append_pkg deprecated or am I missing something? After removing it builds correctly but harder to debug for deps.

[2015-07-23 11:07] htgoebel commented on #1345
Need more info, see https://github.com/pyinstaller/pyinstaller/wiki/How-to-Report-Bugs

[2015-07-23 11:34] synapse211 commented on #1345
My bad, reproducing is quite easy

test.py and test.spec attached

$ pyi-build test.spec
58 INFO: UPX is available.
60 INFO: Extending PYTHONPATH with /home/synapse/tmp
60 INFO: checking Analysis
60 INFO: Building Analysis because out00-Analysis.toc non existent
61 INFO: Creating base_library.zip for Python 3
8019 INFO: running Analysis out00-Analysis.toc
8065 INFO: Looking for graph hooks ...
806

[2015-07-23 11:36] synapse211 commented on #1345
test.py:
[code]

test.spec:
[code]

[2015-07-23 15:26] htgoebel commented on #1345
I still don't know which *exact* version you are using.

[2015-07-23 16:02] synapse211 commented on #1345
3.0.dev0

[2015-07-23 20:51] matysek commented on #1344
The message you were getting should be fixed.

[2015-07-23 21:00] htgoebel commented on #1345
You didn't read the link I gave you, did you? There it says

I'm angry because you are simply loading of this problem to us and note giving enough information for use to solve it. We are volunteers and running behind information is wasting our time.

[2015-07-23 21:10] htgoebel commented on #1300
@siliconplains44 Any news on this?

[2015-07-23 21:16] htgoebel commented on #1279
Closeing. Waiting for information for 2 month now.

[2015-07-23 21:18] #1277 closed

[2015-07-23 21:22] htgoebel commented on #807
@dougn Any news on this? Have you tried the latest development version?

[2015-07-23 21:34] dougn commented on #807
The latest development version does not have this problem. Sorry for not updating the case.

[2015-07-23 22:28] siliconplains44 commented on #1300
You are the Man!!!! I pulled down the fir develop version on Linux and I
was able to build successfully!

On Thursday, July 23, 2015, Hartmut Goebel <notifications@github.com> wrote:

--
W Allan Edwards
214-289-2959

[2015-07-23 22:37] matysek commented on #1341
* Windows: I recompiled the bootloader on windows witn mingw and run the py.test tests before and after compilation:In bot cases theare are the same failing tests. 32bit Python 3.4. It looks like your changes do not break much for Windows.
* OS X: Trying to compile the bootloader but I get the following error. Not sure yet what exactly that means:
[code]

[2015-07-24 06:15] akbhat opened #1346 "ImportError: No module named jnpr.junos - Namespace package"
I am running into an import error and can't figure how to get around it. I tried using a hook file named hook-jnpr.junos.py with hiddenimports = ['junpr.junos'] but that did not resolve the issue. Can somebody suggest what is wrong here? I can share any log files if needed.

The imports are as below:
from jnpr.junos.utils.start_shell import StartShell
from jnpr.junos.utils.fs import FS
from jnpr.j

[2015-07-24 07:07] #1300 closed

[2015-07-24 07:08] #807 closed

[2015-07-24 07:09] htgoebel commented on #1344
I'm closing the issue. @synapse211 If the issue is not solved in the latest python3 HEAD, please reopen the ticket.

[2015-07-24 07:09] #1344 closed

[2015-07-24 10:03] matysek commented on #1341
@htgoebel Why is the inline keyword used for PI_Py2_* functions?

It causes compilation failures with clang on osx and gcc 5.1 on linux.

[2015-07-24 10:15] htgoebel commented on #1341
@matysek Just for code-optimization. I did not manage to make this a macro, so I used `inline`. If this is a problem, you can safely remove it FMPOV.

[2015-07-24 11:14] pandel opened #1347 "[python3 branch] pyi-grab_version and --version-file not working?"
Hi!

It seems as if the version grabbing tool `pyi-grab_version` is not working under python3 branch. Is it possible that setting a decent version info via `--version-file` also isn't working?

I tried with the `test_pkg_structures-version.txt` file from the test suite, but the version info wasn't written to the exe.

Current: 3.0dev-1d241e8

Regards,
Holger

[2015-07-24 11:30] codewarrior0 commented on #1341
Correct me if I'm wrong, but it doesn't work to put an 'inline' function into a C file. It has to go into the H file so that it can be included into and properly inlined into the other C files. When you put the inline function in the C file, some compilers will do a "remove unreferenced functions" optimization, which removes any unused functions marked "static" or "inline". Later, you'll get a "sy

[2015-07-24 11:52] matysek commented on #1341
@htgoebel PyInstaller should be able now again create .exe with python 2.7. Helloworld seems working.

[2015-07-24 12:12] htgoebel commented on #1341
@matysek Argl, I've already been working on this for some days. This is why the ticket is assigned to me. Now we've done duplicate work :-(((

[2015-07-24 12:17] codewarrior0 commented on #1341
Do you mind if I work on getting this to run on Windows? There are still some py3-isms in winmanifest.py and pefile.py related to the change in string types (isinstance not working with py2's 'unicode', bytes[0] returning an int on py3 and a str on py2, etc...)

[2015-07-24 12:44] htgoebel commented on #1341
@codewarrior0 I'D would be great if you could work on the Windows specific part. I don not have windows. @matysek Okay? Or are you working on this already?

[2015-07-24 13:10] synapse211 commented on #1345
I used pip3.4 install https://github.com/pyinstaller/pyinstaller/archive/python3.zip and not git.

By the way you guys have a unit test for this in the old suite which fails: test_pyz_as_external_file

I tried the latest python3 branch, same error happens:
revision is ca570f8d47b56009d50ce21851dc1ba15929f9c7
full version string of built package is PyInstaller===3.0dev-ca570f8

[2015-07-24 13:28] htgoebel commented on #1345
Thanks for the info.

[2015-07-24 14:15] htgoebel commented on #1346
You don't need to give hidden imports, because you are importing the module unconcealed. Please try the solutions described in https://github.com/pyinstaller/pyinstaller/wiki/If-Things-Go-Wrong.

[2015-07-24 14:45] htgoebel commented on #1345
Solved on my working branch. Please use https://github.com/htgoebel/pyinstaller/tree/make-old-test-suite-work for now. I'll have to finish this work before merging into the python3-branch

[2015-07-24 14:45] #1345 closed

[2015-07-24 16:23] matysek commented on #1341
@htgoebel Sorry about that. I was not sure if your work on Python 2 ended with the bootloader or not. Just continue. I will just continue with appveyor.

[2015-07-24 16:45] htgoebel commented on #1341
@matysek FYI: I'm currently working on getting the the old test-sute pass (almost) for python3. Then I'll make it pass (almost) for Python 2.7 (on the python3 branch).

[2015-07-24 17:09] akbhat commented on #1346
HT
I tried --onedir and --noupx but ran into the same import error.

The module is located in site-packages but I tried building by copying the module in the local directory and that did not help either.

Based on the error, ImportError: No module named jnpr.junos, it is apparent that this module is not getting packaged. I just cant figure why!

[2015-07-24 17:10] synapse211 commented on #1345
FYI just tested this, the make-old-test-suite-work branch did not solve it for me.

Using this rev:
7a5f1510c8271c76993c38cfadcc96067174f443

[2015-07-25 07:40] htgoebel commented on #1345
Sorry, I forgot to write that you need to recompiler the bootloader.

[2015-07-25 11:00] htgoebel commented on #1341
For the records:

Testname | PyI 2.1 | develop (90304142)
---------|---------|------------------
test_c_extension | fail | fail
test_onefile_c_extension | fail | fail
test_twisted_qt4reactor | Xfail | skip
test_twisted_reactor | fail | pass
test_eggs1 | skip | skip
test_eggs2 | pass | pass
test_onefile_tkinter | pass | fail
test_pycrypto | pass | fail
test_sphinx | skip | fail
test_stderr_encoding

[2015-07-25 14:00] codewarrior0 commented on #1340
It's worth noting that on Windows, the UTF-16 wchar_t form of argv is available as `__wargc, __wargv` So, on python 2.7, we can use the actual form of argv for PyInstaller internal stuff (archive loading etc), and pass the codepage-encoded forms to the Python2.7 APIs that require them (Py_SetArgv etc).

[2015-07-26 19:43] htgoebel commented on #1299
Martin, this came to my mind: We have a lot of tests (esp. old import-tests) which basically test the `Analysis` step. But currently we test the complete building, running and at last compare with a `.toc`.

What do you think about implementing some `test_Analysis` method with accepts the same parameters like `Analysis` does plus a list of expected entries. The later would replace the `.toc` fille

[2015-07-26 20:59] htgoebel opened #1349 "Add a hook for `distribute`?"
If `distribute` is installed, the frozen exe fails with `ImportError: Couldn't find the real 'site' module`. I think, the cause is that we removed support for the `faked-site`-module in python3-branch 12de5e2fdc.

@matysek You worked on fake-site in #510. Do we need to restore this? Or should there be a hook for `distribute.site`, replacing it with a do-nothing module?

[2015-07-26 21:00] matysek commented on #1299
@htgoebel Sounds like a good idea. This looks more like a candiate for unit tests: ./tests/unit/test_analysis.py

Do you have an implementation ready or should I look at it?

[2015-07-26 21:03] htgoebel commented on #1349
Addendum:
*
[code]
* https://bitbucket.org/tarek/distribute/src

[2015-07-26 21:06] matysek commented on #1349
@htgoebel I was considering reintroduce fake-site but it is possible to tell python.dll to not use 'site' for module searching. Do you think there is a more general usecase for 'fake' hooks?

[2015-07-26 21:08] matysek commented on #1349
'distribute' was deprecated so I think we do not care module 'distribute'.

[2015-07-26 21:24] htgoebel commented on #1349
This was my firs thought, too. But some test-case crashed with the import error, just because I had `distribute` installed.

[2015-07-26 21:25] htgoebel commented on #1349
We should at least issue a warning or even stop building if `distribute.site` shows up.

[2015-07-27 04:07] wahid opened #1350 "MAC OS X: Tkinter import doesn't copy Tcl and TK"
On mac PyInstaller doesn't seem to copy Tcl and Tk once both are copied to the folder the error is gone.

[code]

[2015-07-27 07:06] htgoebel commented on #1299
You are right, unit-tests are the right place for this. Go ahead, I don not have any code for this yet.

[2015-07-27 07:07] htgoebel commented on #1350
Please provide more information, see https://github.com/pyinstaller/pyinstaller/wiki/How-to-Report-Bugs#information-we-need

[2015-07-27 08:19] matysek opened #1351 "tests the Analysis step"
test the Analysis step without the complete building and running the exe. Just compare the .toc that get's created.

Implementing some test_Analysis method with accepts the same parameters like Analysis does plus a list of expected entries. The later would replace the .toc filles.

Original discussion in #1299.

[2015-07-27 13:49] wahid commented on #1350
The error occurs when running the application.

Python: 2.7.10
PyInstaller: 2.1
Mac OSX: Yosemite 10.10.4

You can reproduce the error by creating a script with:

[code]

`Traceback (most recent call last):
  File "<string>", line 1, in <module>
  File "/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages/PyInstaller/loader/pyi_importers.py", line 270, in load_module
    e

[2015-07-27 14:26] htgoebel commented on #1350
Please try the latest development version.

[2015-07-27 14:34] wahid commented on #1350
File "<string>", line 1, in <module>
  File "/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages/PyInstaller-2.1.1.dev0-py2.7.egg/PyInstaller/loader/pyi_importers.py", line 271, in load_module
    exec(bytecode, module.__dict__)
  File "/Users/jphnghknbv/Desktop/test/build/test/out00-PYZ.pyz/Tkinter", line 39, in <module>
  File "/Library/Frameworks/Python.framework/Versi

[2015-07-27 22:07] bjones1 commented on #1339
All, I've put together a page on this topic -- please take a look and provide feedback.

https://github.com/pyinstaller/pyinstaller/wiki/Recipe-subprocess

[2015-07-28 00:37] topiwala opened #1353 "Cython + Pyinstaller"
I have a multi-package multi-directory Cython repository that needs to be packaged. Entry point is a python file. Structure is like this:
[code]
Now, I can run this directly using the python interpreter by doing python main_proj/shell.py after setting my PYTHONPATH to be the top level directory. The individual so files import from the top

```import main_proj.B.foo (etc)```

pyinstaller fails to f

[2015-07-28 00:38] topiwala commented on #1353
So, C is under B, didn't come out correctly in the pixel art

[2015-07-28 00:50] codewarrior0 commented on #1353
Enclose your pixel art in triple backquotes to preserve formatting (see [Syntax Highlighting](https://help.github.com/articles/github-flavored-markdown/)).

I answered this on the mailing list, but it doesn't look like your problem was what I thought it was. Does `main_proj` have an `__init__.py` file too? (In other words, is it a package module?) If so, are you passing the folder containing `main

[2015-07-28 01:11] topiwala commented on #1353
It does contain an __init__.py.

Packaging the original python repository works fine (without any -p args supplied), but does not work with the Cythonized version.

[2015-07-28 01:24] codewarrior0 commented on #1353
Oh, I almost forgot:

Python version, PyInstaller version, and OS version?

[2015-07-28 01:26] topiwala commented on #1353
Python: 2.7.6
pyinstaller: 2.1
OS: Ubuntu 14.04.1 LTS (64-bit)
Kernel version: 3.13.0-32-generic

On Mon, Jul 27, 2015 at 6:25 PM, David Vierra <notifications@github.com>
wrote:

[2015-07-28 01:32] topiwala commented on #1353
If it helps, I noticed that in Analysis.TOC placed under build, some of the
files aren't even present in the main directory. The Analysis.TOC contains
the tuple, when it should be

('A.B.C.constants', '/home/topi/WORK/A/B/C/constants.pyc', 'PYMODULE')

constants.so instead, since constants.pyc is not present.

Thanks

On Mon, Jul 27, 2015 at 6:26 PM, Topi Wala <walatopi@gmail.com> wrote:

[2015-07-28 01:35] codewarrior0 commented on #1353
It *should* be finding those .so files without any special action from you.

The first thing I would try to find out is whether it is including those .so files in the wrong place, or simply not including them. Do a `find -iname foo.so` on the output folder under `dist/` and see if it turns up.

Actually, never mind! Are you sure constants.pyc is not present? Try removing all .pyc files from your p

[2015-07-28 03:35] topiwala commented on #1353
Yes, constants.pyc is not present, and constants.so is. The only .pyc files
present (and these are needed for the cross directory imports) are the
__init__.py[c] which allow the so files in this directory to be importable.

I do see some so files under dist, but not nearly as many as the number I'm
expecting, and there seems to be no way to tell why it picked these up.

Is there any debugging flag

[2015-07-28 03:45] codewarrior0 commented on #1353
`--log-level=DEBUG` will turn on the most verbose logging, but it doesn't trace the module finding down to the individual modules. I think the next thing you should try is `--clean`, because the .pyc files it's finding might be in the `build` folder.

[2015-07-28 03:48] codewarrior0 commented on #1353
BTW, If you're going to look at the TOC files some more, there's a `pyi_pprint-toc` command for pretty-printing them.

[2015-07-28 22:50] codewarrior0 commented on #1323
I'm looking into this some more. According to [this answer on Experts Exchange](http://www.experts-exchange.com/Programming/Languages/CPP/Q_21995516.html), GetShortPathNameW is allowed to return the path name as-is if it is both 8.3 character or shorter *and* is representable with the current ANSI codepage. In my tests, I was unable to reproduce this, as it always returned an 8.3 filename for any

[2015-07-28 23:20] akbhat commented on #1346
Can somebody suggest what maybe wrong here or what could be tried next?

[2015-07-29 07:37] matysek commented on #1346
Could you try the the development version?

[2015-07-29 09:29] pandel opened #1357 "use new pefile release with built-in Python 3 support"
Hi!

Trying to install pyinstaller vi a ``python setup.py install``, results in a working copy of pyinstaller, BUT I get the following message under Windows:

    Processing PyInstaller-3.0dev_4f757b8-py3.4.egg
    creating c:\python34\lib\site-packages\PyInstaller-3.0dev_4f757b8-py3.4.egg
    Extracting PyInstaller-3.0dev_4f757b8-py3.4.egg to c:\python34\lib\site-packages
      File "c:\python34\

[2015-07-29 10:02] matysek commented on #1357
the pefile_py2.py is there for Python 2 compatibility.

I think we should somehow exclude it when installing PyInstaller and using Python 3.

[2015-07-29 10:23] pandel commented on #1357
Ok, thanks. I'll simply ignore it for now...

[2015-07-29 10:23] codewarrior0 commented on #1357
That's right, it needs to be excluded because setuptools will try to precompile all .py files to .pyc on install.

[2015-07-29 10:29] codewarrior0 commented on #1357
Actually, it's not that important. The install succeeds regardless of the syntax error, and the file never gets imported anyway.

[2015-07-29 10:56] codewarrior0 commented on #1353
[Further discussion on the cython-users group.](https://groups.google.com/forum/#!topic/cython-users/n-fbsOwykrA)

[2015-07-29 11:11] pandel opened #1358 "MERGE, COLLECT ? - I don't understand how to accomplish my goal"
Hi!

At first, I'm sorry for the long post, but I need to describe my problem in detail, I think...

I'm trying to accomplish the following via a .spec file definition, but I'm unable to do so. I think it's me not really understanding MERGE, COLLECT, etc., so I'd like to describe my situation.

Let's assume that I have a development folder like this:
[code]

Let's assume further, both python scrip

[2015-07-29 16:00] durden commented on #1339
@bjones1 Thanks for putting that together.  It looks good to me except it might not be obvious to people that the `subprocess.Popen` call results in an `OSError` exception if stdin,stdout,stderr aren't redirected correctly.  It wasn't obvious to me because I didn't see an actual exception, things just didn't work. Maybe just a link to this thread on the recipe?  Not sure if that's too detailed or

[2015-07-29 19:18] bjones1 commented on #1339
Thanks for taking a look. I added the link per your suggestion.

[2015-07-29 19:35] bjones1 commented on #1358
MERGE seems to work for me when creating a multipackage bundle. However, I do have to manually copy over files from the the other packages in the  bundle to the main package (the first in the list, for you it is `mainprogram`). Probably a bug, I haven't put together a good clean test case.

[2015-07-29 21:46] akbhat commented on #1346
With the dev version, results below. Executable responds to -h (argparse help) but can't really run the executable. Note that the script form runs without issues and there are no connectivity issue with the target IP.

C:> .\dist\jdata.exe
Cannot connect to device: ConnectError(host: 10.85.17.151, msg: No module named devices.junos)

If I use pyinstaller 2.1, same issue (-h works but nothing else)

[2015-07-29 22:30] pandel commented on #1358
As far as I can tell, MERGE seems to be working, at least regarding the dependencies. So, my main problem might be in the COLLECT section... as you, I have to manually copy over the exe file from my second script (helpviewer) to the main package....

[2015-07-30 01:44] topiwala commented on #1353
I'm still not sure what files go where in the Analysis step. Here's a small snippet of code:
pkgObj.py_files is a list of __init__.py files
pkgObj.ext_files is a list of so files, which are basically my python sources in the main project that have been cythonified (and so are really like python modules) that have the 'EXTENSION' type
pkgObj.data_files are data_files, where name = path.

It generat

[2015-07-30 01:54] codewarrior0 commented on #1353
I edited your comment with triple backquotes to improve formatting.

ext_files should go into `a.binaries` as `EXTENSION`.

[2015-07-30 05:26] topiwala commented on #1353
I've tried all the different options.
To the a.pure tuple, I've added tuples of this form for all the directory paths in main_proj
[main_proj.A.B.C, /home/topi/main_proj/A/B/C/__init__.py, "PYMODULE"]

To the a.binaries set of tuples, I've added tuples of the form
[main_proj.A.B.C.d, /home/topi/main_proj/A/B/C/d.so, "EXTENSION"]

To the a.datas set of tuples, I've added tuples of the form
[main_pr

[2015-07-30 05:35] codewarrior0 commented on #1353
Hum, that's a bit mystifying. For what it's worth, I successfully use cython with pyinstaller in my own project, but the few cython files I have are all directly imported from python files and those python files that *are* imported from cython are also imported elsewhere, so everything gets included.

Could you try adding a bunch of "dummy" imports of all of your cython files into your main script

[2015-07-30 05:39] topiwala commented on #1353
The problem was staring at me. I erroneously passed the first argument to EXE as the pyz archive, when the first should be the scripts tuple.

Thankfully, now I'm getting ImportErrors in a completely different module (not part of my project), pyi_os_path. More debug!

[2015-07-30 06:12] rdrey commented on #1332
Hey @pandel

Congrats on getting it to work, I'm jealous. :stuck_out_tongue_winking_eye:

I'm running the same versions of python & Qt5 as you, installed PyQt5, SIP & pyinstaller all in the same virtualenv via setup.py's. My pyinstaller is the python3 branch (d7e2fae).

Did you have to copy your `Qt*.framework` files somewhere else first? Did you run `pyinstaller` with `QT5DIR=` env variable?

I'm

[2015-07-30 06:19] topiwala commented on #1353
Hmm...looking at the more detailed logs from the -v option, it appears that the argument order matters. And it seems like I get further along in processing the executable with pyz being the first argument, and don't hit the import pyi_os_path error (which seems to be creating a bootloader environment for execution of my executable), but hit the import error of my cython module later....

[2015-07-30 07:55] htgoebel commented on #1353
There should be no need of adding files the way you do in https://github.com/pyinstaller/pyinstaller/issues/1353#issuecomment-126155117, hidden imports should suffice.

If adding the module as hidden imports does not work, please submit a *minimal* example so we can debug it. You may take https://gist.github.com/ronen/024cdae9ff2d50488438 as an example.

[2015-07-30 08:17] htgoebel commented on #1323
Please have a look on how Python does it, see #1340 (where you already commented :-)

[2015-07-30 08:37] Csega commented on #1304
I have the same problem. Where can I find the precompiled bootloader for Pyinstaller for Python 3?

[2015-07-30 08:39] codewarrior0 commented on #1323
I'll try to follow Python as much as possible. One of the problems Python 2.7 has is that it always uses the ANSI codepage-versions of argv, so the python.exe simply won't start up if it's in a folder that uses characters from outside the codepage. (Error is `Error loading Python DLL`.) Windows gives it some junk in `__argv` that isn't a usable filename. So for Python 2.7 we still should use Short

[2015-07-30 08:54] codewarrior0 commented on #1304
I can trivially reproduce this error:

[code]

I ran `waf` using a 32-bit python, and the config.log says it failed when trying to pass the `/MACHINE:x86` flag to the 64-bit version of LINK.exe. I'm not sure why waf is using the amd64 version of MSVC.

[2015-07-30 08:57] htgoebel commented on #1323
IC. I did not know this.

Great, this is exactly what we need :-)

[2015-07-30 09:17] codewarrior0 commented on #1304
Found out why, and now it's fixed. It might have been possible to use `--target-cpu` to override its cpu type choice, but it looks like that option was broken too.

[2015-07-30 09:17] #1304 closed

[2015-07-30 09:18] htgoebel opened #1360 "Set up a Website again"
After the old trac-system was shut down, we only have the wiki. But The layout is not optimal, there is no navigation, etc. It's a wiki, but not a website.

I propose setting up a website again, based on Sphinx, and let travis push created pages to the webspace at github. The content of the old website (as of 2014-08-15) can be found at archive.org (https://web.archive.org/web/20140815102629/http:

[2015-07-30 09:27] htgoebel commented on #1358
Please checkout `tests/multipackage/test_multipackage4.spec` for a complete example.

[2015-07-30 09:28] htgoebel opened #1361 ""Example MERGE spec file" is incomplete"
The manual is lacking a *complete* .specfile example. The snippets are missing the COLLECT stage or one-dir.
http://pythonhosted.org/PyInstaller/#example-merge-spec-file

See `tests/multipackage/test_multipackage4.spec` and the other example in the old test-suite

[2015-07-30 09:28] codewarrior0 commented on #1360
If you want to use Sphinx, another option is readthedocs.org. It will build HTML from the Sphinx sources and host them for you, and github has an integration for pushing changes to readthedocs under "Webhooks & Services" which will make it act more like Travis, responding immediately to new commits. You can even use a CNAME to make it available as `docs.pyinstaller.org` instead of `pyinstaller.rea

[2015-07-30 09:36] Csega commented on #1304
Thanks, it works now! :)

[2015-07-30 09:37] htgoebel commented on #1346
Please follow *all* the instructions in https://github.com/pyinstaller/pyinstaller/wiki/How-to-Report-Bugs#make-sure-everything-is-packaged-correctly and try to find out, why the module is not packaged. Use a *minimal* example to figure this out.

Please try to solve this on your own. We are currently busy working on Python 3 support, so we can not spend much time into this. If this does not help,

[2015-07-30 09:50] pandel commented on #1358
From what I see, test_multipackage4.spec does build two different dist folders with two different programs, but merges their dependencies, right? (Actually, the test fails with a ``NameError: name 'sys' is not defined`` when I try to run ``pyinstaller test_multipackage4.py``, so I have to guess what the spec file does...)

But, if so, that is NOT what I tried to accomplish...

And, additionally, I

[2015-07-30 09:56] htgoebel commented on #1358
Just add an import :-)

                            __testname__ + '.exe'),`

You can ignore this, this is just because on how the test suite works.

[2015-07-30 09:57] pandel commented on #1332
Hi!

At first, we are not using the same versions! I use 5.**4.2** for PyQt and Qt, you are using 5.5 obviously. Might be a problem...

Second, I did not have to copy anything, as installed everything (python3, pyqt5, qt5 libs) via homebrew (http://brew.sh/), what made everything verrryyyy easy ;-) But from what I conclude, it should have worked with a normal python3 installation and a qt5 setup v

[2015-07-30 10:02] htgoebel commented on #1339
IMHO, changing the path i not a good Idea, as it may have security impacts. Instead the executable should be called with an (absolute or relative) path, e.g. `./myapp`.

[2015-07-30 10:04] pandel commented on #1358
Pffff :-)))) Tested it...

And as I assumed, this is absolutely NOT what I wanted. It creates two different folders, one with the first exe and all deps and another one with the second exe and a manifest only. But, what I wanted is the opposite: **one single** folder with **both EXEs** and **every** necessary **dependency** for them both **inside** ;-)

[2015-07-30 10:13] htgoebel commented on #1358
I'm confident that you are able to adopt this to your needs :-)

But you should know, that MERGE puts *all* python modules into one of the exes, not into a separate file.

[2015-07-30 11:48] matysek commented on #1027
Closing since Python 3 support is quite good in the python3 branch.

[2015-07-30 11:48] #1027 closed

[2015-07-30 11:50] matysek commented on #1185
this is related to #1187

[2015-07-30 11:55] matysek commented on #1093
@htgoebel is working on tests in #1341 . Closing as duplicate.

[2015-07-30 11:55] #1093 closed

[2015-07-30 11:55] matysek commented on #1077
These changes were already merged into python3 branch.

[2015-07-30 11:55] #1077 closed

[2015-07-30 11:58] matysek commented on #828
Main supported Python distribution is CPython. We would welcome any pull requests adding Enthough support if it does not work with latest dev versions.

[2015-07-30 11:58] #828 closed

[2015-07-30 11:59] matysek commented on #824
This is duplicate of #1323

[2015-07-30 11:59] #824 closed

[2015-07-30 12:02] matysek commented on #816
It looks like package pubsub is not actively developed. See last release at https://pypi.python.org/pypi/pubsub

[2015-07-30 12:02] #816 closed

[2015-07-30 12:03] matysek commented on #784
If this problem still persists, report a new issue.

[2015-07-30 12:03] #784 closed

[2015-07-30 12:12] matysek commented on #767
Closing. Please try the latest dev. If it still persists report a new issue.

[2015-07-30 12:12] #767 closed

[2015-07-30 12:13] matysek commented on #694
Duplicate of #1191

[2015-07-30 12:13] #694 closed

[2015-07-30 12:15] matysek commented on #685
We do not support statically linked python dll.

[2015-07-30 12:15] #685 closed

[2015-07-30 12:15] matysek commented on #666
Duplicate of #1328

[2015-07-30 12:15] #666 closed

[2015-07-30 12:16] #636 closed

[2015-07-30 12:16] matysek commented on #595
Closing as outdated.

[2015-07-30 12:16] #595 closed

[2015-07-30 12:19] #525 closed

[2015-07-30 12:20] matysek commented on #468
We do not care.

[2015-07-30 12:20] #468 closed

[2015-07-30 12:21] matysek commented on #447
We've implemented hook attributes 'binaries' and 'excludedimports'.

[2015-07-30 12:21] #447 closed

[2015-07-30 12:22] #439 closed

[2015-07-30 12:23] matysek commented on #438
Closing since this is not applicable.

[2015-07-30 12:23] #438 closed

[2015-07-30 12:24] matysek commented on #391
Closing, bootloader is not the critical part. It spends most of the time extracting files in onefile mode.

[2015-07-30 12:24] #391 closed

[2015-07-30 12:25] matysek commented on #385
Closing.

[2015-07-30 12:25] #385 closed

[2015-07-30 12:26] matysek commented on #384
We only support 64bit binaries on osx.

[2015-07-30 12:26] #384 closed

[2015-07-30 12:27] matysek commented on #378
This is not applicable.

[2015-07-30 12:27] #378 closed

[2015-07-30 12:29] matysek commented on #374
Outdated issue. There were already accepted many pull requests related to PyQt4.

[2015-07-30 12:29] #374 closed

[2015-07-30 12:29] Tamriel commented on #1332
I installed `python3`, `qt5` and `pyqt5` via brew on a fresh VM.
I cloned this repo, checked out the python3 branch and ran `python3 setup.py install`.
But when I run `pyinstaller my_program.py` I get issue #1301.
What have you done different so it works for you?

[2015-07-30 12:34] matysek commented on #352
We use modulegraph and the dependency graph is expanded with hooks as new modules are found.

[2015-07-30 12:34] #352 closed

[2015-07-30 12:39] matysek commented on #171
Duplicate of pull request #1075

[2015-07-30 12:39] #171 closed

[2015-07-30 12:39] pandel commented on #1332
????? It's all here in the thread! Did you read it? Please read your error log thoroughly... You got:

    15400 ERROR: Cannot find qt_menu.nib directory
    Traceback (most recent call last):

Find **hook-PyQt5.py**, comment line as follows, reinstall pyinstaller and you're good to go...

    if is_darwin:
        datas = [
    #        (qt5_menu_nib_dir(), ''),
        ]

[2015-07-30 12:48] htgoebel commented on #363
This is old and outdated, solution is simple (import numpy), so we do not care.

[2015-07-30 12:48] #363 closed

[2015-07-30 12:49] Tamriel commented on #1301
I missread the error log, sorry.
Solution is here: https://github.com/pyinstaller/pyinstaller/issues/1332#issuecomment-126309105

[2015-07-30 12:49] #1301 closed

[2015-07-30 14:27] htgoebel opened #1362 "Enable including data-files from eggs"
In Python 2.1, zipped eggs where included as zipped file, thus all package data was included, too. But modulegraph now only returns the modules imported from there.

We could now either
- change PyInstaller to include the the zipped egg-file, or
- make PyInstaller include the egg-data files somehow.
I'd prefer the later, since this would implement support for unzipped eggs, too (which are not supp

[2015-07-30 15:47] Csega opened #1365 "pyqtgraph: maximum recursion depth exceeded"
Hi Everyone!

I'm new to PyInstaller, so please forgive me if I'm asking something stupid, I just cannot find any solution for this problem.
I wrote a script, which simply imports several tools from pyqtgraph (development version, commit: https://github.com/pyqtgraph/pyqtgraph/commit/f0c9cfa96fb1cf3d149ad3ff22a6525efd6d10ba; I did not install it with pip, easy_install or anything else). It works c

[2015-07-30 16:02] bjones1 commented on #1339
@htgoebel, thanks for taking a look. I removed the Linux path modifications.

[2015-07-30 16:09] bjones1 commented on #1360
Personally, I like the wiki. I was able to create a subprocess page and tweak its contents based on feedback fairly quickly and easily. While I'm comfortable with Sphinx, other contributors would need to know git + Sphinx, which may be a bit intimidating.

What about [editing the sidebar](https://help.github.com/articles/creating-a-sidebar/) to show only useful links, instead of everything? Althou

[2015-07-30 21:12] topiwala commented on #1353
Does this TOC added to anal.binaries imply that the relative path

main_proj/A/B/C will be created during packaging, and d.so will be placed there?

[main_proj.A.B.C.d, /home/topi/main_proj/A/B/C/d.so, "EXTENSION"]

It looks like d.so is COPIED from the build directory (argument 2) specified in the tuple, and placed in the top level dist directory where it's named main_proj.A.B.C.d

That's not wha

[2015-07-30 23:17] akbhat commented on #1346
HT
pyi-archive_viewer .\build\d\out00-PYZ.pyz does not include jnpr.junos module.

Provided minimal code example to demonstrate the problem. Help will be much appreciated.

https://gist.github.com/akbhat/ff7e0a30c7521902b56b

[2015-07-31 01:05] codewarrior0 commented on #1353
That's as expected. I'm not sure why this is, but PyInstaller uses a custom importer (`CExtensionImporter`) for extensions that uses the dotted module name as the filename instead of looking in subfolders.

[2015-07-31 01:12] codewarrior0 commented on #1353
Maybe it would help to enable Python's own verbose logging, which traces the import machinery and search paths. Add the '-v' option to the TOCs passed to EXE like so:

[code]

[2015-07-31 01:34] topiwala commented on #1353
Actually, I have managed to get past my initial import issues, and exact imports (with fully qualified path names) work fine. Breaking it out into exe and collect helped. I did have to add to a.pure (PYMODULE) & a.binary (EXTENSION) all the modules that Analysis was unable to find.

However, since this is a multi-package, multi-directory python repo, I have quite a few places that use sophisticate

[2015-07-31 01:37] codewarrior0 commented on #1353
This is why you should try to use hiddenimports instead of inserting modules into the TOCs. hiddenimports will scan those modules for further imports and include them too.

[2015-07-31 08:21] htgoebel commented on #1353
ACK! @topiwala It looks like you are doing much too much per hand which PyInstaller does automatically. Throw away you .spec-file, open your mind and start from scratch.

[2015-07-31 08:36] htgoebel commented on #1346
And where to get this module? How to install it? It's not in PyPI.

[2015-07-31 08:44] htgoebel commented on #1346
You are *firectly* importing this module, but it's missing anyway. Please search `C:\DLs\Python\Telnet scripts\build\jdata\warnjdata.txt` for the reason.

[2015-07-31 08:46] htgoebel commented on #1365
Could be the same problem as #1289

[2015-07-31 11:27] htgoebel opened #1366 "Bootloader: set sys._MEIPASS in the bootloader already"
Make i available as early as possible, so it can be used in `pyi_importers.py` instead of relying on `sys.path` being set up in a certain way.

See d627237ce551c2 for a discussion.

[2015-07-31 12:01] htgoebel commented on #1341
For the records: As of 44460835 the status for the old test-suite is, for both Python 2.7 and Pyhton 3.3:
- nearly all of basic and import tests pass
- for Python 3, all import test pass - while I do  not have many packages installed
  for Python 3
- for Python 2, some import tests fail
- multipackage tests have not been tested yet

Here is a list of the failing tests and the reason:

Failing | Re

[2015-07-31 14:40] matysek commented on #1346
It looks like the module is this: https://pypi.python.org/pypi/junos-eznc/

[2015-07-31 16:47] akbhat commented on #1346
HT
Matysek pointed to the correct module. You will be able to see the problem with the minimal code example I uploaded. Below is what I see in the warn*.txt log.

W: no module named jnpr (top-level import by __main__)

[2015-07-31 16:54] htgoebel opened #1367 "Hooks for wx.lib.pubsub do not work with modulepgraph"
The hook for `wx.lib.pubsub.setupargs1` does not work with modulegraph, because the order, hooks are executed has changed and may even be undetermined.

The hook just sets a value in `hookutils.hook_variables`, which the hook for `wx.lib.pubsub.core` uses for extending it's `__path__`. But this requires `hook-wx.lib.pubsub.core` to be executed *after* `hook-wx.lib.pubsub.setupargs1`, which is not

[2015-07-31 21:43] matysek commented on #1289
I tried to reproduce this with matplotlib on Win7, 32bit Python 3.4 with latest 'python3'. But it works for me. Unable to reproduce.

[2015-08-01 00:13] codewarrior0 commented on #1323
Worked out the kinks in the new unit tests and I think I exposed a bug. When using the crazy folder name "ěščřžýáíé日本語", [Python 3.3 fails in Py_Initialize](https://travis-ci.org/codewarrior0/pyinstaller/jobs/73641457) saying the codecs module (from base_library.zip) can't be imported, but the paths in the bootloader's debug output are correct. This only happens in onedir - presumably the onefile

[2015-08-01 01:20] codewarrior0 commented on #1323
Oh, good. The problem is just that mbstowcs is returning -1. That I know how to deal with.

[2015-08-01 01:46] codewarrior0 commented on #1340
Py_Main order of operations, modulo our requirements (non-interactive, no `-c` or `-m`):

- Handle options `-E` and `-R`
- Check environ `PYTHONHASHSEED`
- Reset warn options
- Handle all options other than `-E` and `-R`
- Set stdin/out/err to BINARY mode, disable line buffering
- Py_SetProgramName
- Py_Initialize
- PySys_SetArgv
- Run main script by inserting it into sys.path and calling `runpy._

[2015-08-01 02:34] codewarrior0 commented on #1323
Well, that was straightforward. mbstowcs was returning -1 because the LC_CTYPE is "C". All I had to do was call setlocale to set it to the current locale's encoding to have a working mbstowcs. I also restore the encoding to the default before running scripts to preserve the original Python behavior.

[2015-08-01 02:46] rdrey commented on #1332
Wow, thanks! I ignored all my reservations and went ahead without a virtualenv (using global python3) and everything installed via homebrew and it worked perfectly.

(I decided to first try out bundling my side-project idea before coding anything "real" and I'm glad I can get started now.) :D

[2015-08-01 06:46] leycec commented on #1367
*Well-fermented food for thought.*

I see two simple means of fixing this (in order of decreasing simplicity):

1. **Solution A.**
  1. Remove the `hook-wx.lib.pubsub.setuparg1.py` hook. This hook basically only exists to inform the `hook-wx.lib.pubsub.core.py` hook that the `wx.lib.pubsub.setuparg1` module has been imported. But that is trivially testable by just refactoring the `hook-wx.lib.pubs

[2015-08-01 07:22] leycec commented on #1333
Gotta concur with @matysek on this one. Homebrew and/or MacPorts are *invaluable* for installing non-trivial application dependencies – particularly, non-pure-Python requiring configuration, compilation, and installation of low-level shared libraries (e.g., Matplotlib, Numpy, Scipy, PySide, PyQt).

All the _usual_ offenders, really. I'd personally give the nod to Homebrew, which I found to be subs

[2015-08-01 10:50] matysek opened #1370 "rename top-level PyInstaller module to lowercase"
PyInstaller uses CamelCase for top-level module name. We should rename it to lowercase:

[code]

[2015-08-01 12:08] htgoebel commented on #1332
@pandel This sounds like `hook-PyQt5` requires a fix?! Why is the qt_menu.nib not required in your setup?

[2015-08-01 12:16] matysek opened #1371 "generate API doc from PyInstaller code"
I think it might be helpful to implement generating PyInstaller API doc from the docstrings in the PyInstaller code.

[2015-08-01 12:48] htgoebel commented on #1367
@leycec The honor is your for this solution. Go a head ans issue a pull-reqest.

I'd only write
[code]
instead of the one-liner as this is more readable.

So, **wait, stop** this shows the problem: `wx.lib.pubsub.core` *must not* be imported prior to importing `wx.lib.pubsub.setuparg1`. Otherwise the protocol will be "kwargs". But explicitly importing `core` first is "legal", it has the same effec

[2015-08-01 12:56] htgoebel commented on #1323
This is correct (at least as long $TEMP does not point to a directory with non-ascii characters).

[2015-08-01 12:58] htgoebel commented on #1323
These are the tricks which I meant to be addressed by #1340.

[2015-08-01 13:45] matysek opened #1372 "doc how to run tests with pytest framework"
We started using framework pytest for writing PyInstaller tests. It should be documented how to run these tests.

[2015-08-01 14:08] pandel commented on #1332
That's a really good question and I absolutely don't know! I even don't know what qt5_menu.nib is, or better, was good for... perhaps it has something to do with wether you precompile the Qt5 .ui files to Python code, or if you bind them at runtime via the PyQT uic module as I do...

[2015-08-01 14:47] rdrey commented on #1332
@htgoebel I can confirm that it's no longer necessary in Qt 5.5.0 on OS X... Haven't tried out any other platforms, though.

[2015-08-01 19:38] htgoebel commented on #1332
@rdey: Okay, so how to detect it's 5.5.0 and not 5.4?

[2015-08-01 20:11] rdrey commented on #1332
@htgoebel

    5.5.0

But it looked like @pandel's `Qt5.4.2` also needed it commented out.

It's probably safe to say that `Qt>5.4` doesn't have a `qt_menu.nib`

I'll try to send a pull request once I've googled how to parse semantic version numbers cleverly in python.

[2015-08-01 20:42] #1321 closed

[2015-08-01 21:47] matysek commented on #642
This bug report is too old.

[2015-08-01 21:47] #642 closed

[2015-08-01 21:47] matysek commented on #754
This bug report is too old.

[2015-08-01 21:47] #754 closed

[2015-08-01 21:48] matysek commented on #760
This bug report is too old.

[2015-08-01 21:48] #760 closed

[2015-08-01 21:52] matysek commented on #770
This bug report is too old.

[2015-08-01 21:52] #770 closed

[2015-08-01 22:01] matysek commented on #1299
I'm closing this ticket. We've got a new decent test suite with continuous integration for Linux (Travis) and Windows (Appveyor). And it works with Python 2.7, 3.3, 3.4.

There are still a lot of tests that should be migrated to py.test but that will be solved later.

[2015-08-01 22:01] #1299 closed

[2015-08-01 23:36] codewarrior0 commented on #1323
Of course. Python restricts its use of setlocale and mbstowcs to only one or two places. One of them is in the actual main() in Program/python.c so it can pass only wchar_t to Py_Main. And for the most part, Py_Main doesn't use C strings (char or wchar_t) - it switches to Python stringobj/unicodeobj as soon as it can, and to call filesystem functions (fopen etc) it uses PyUnicode_FSEncode and all

[2015-08-01 23:49] codewarrior0 commented on #1370
I'm not sure I see the benefit. Packages on pypi are already case insensitive; `pip install PyInstaller` and `pip install pyinstaller` produce the same result. The command line script that gets installed is already named `pyinstaller` in all lower-case which is how most users interact with it. And on Mac and Windows, the filesystem is case insensitive by default so `import PyInstaller` and `import

[2015-08-02 07:22] leycec commented on #1367
**Hmm.**

I see that the definition `PyInstaller.build.Analysis.assemble()` is now unrecognizable to me. If my reading of the new implementation is correct, aren't import hooks still run _after_ `modulegraph` has already constructed the complete graph by analyzing all application imports?

Oh, wait. I believe I sort-of-kind-of maybe have a handle on what you're getting at: we need to explicitly de

[2015-08-02 07:50] codewarrior0 commented on #1340
Python has a lot of C-level string handling code that puts ours to shame. For example, the `_Py_char2wchar` function you mentioned is able to decode filenames on Linux that simply can't be decoded with the locale encoding (even if it's UTF-8 or UTF-16) - since Linux defines filenames to be bytestrings, they aren't required to be in any encoding (unlike Windows which enforces UTF-16, and OS X which

[2015-08-02 09:41] htgoebel commented on #1370
I don't mind about the spelling of the package. I see no real reason for changing, but could live with - except if the double-`git mv` leads to dozens of files changes in the commit-log.

[2015-08-02 09:44] htgoebel commented on #1358
@pandel Did you succeed?

[2015-08-02 19:14] Csega commented on #1365
I saw that #1289 has been closed, but the problem stayed the same for me with the newest commit I could get: https://github.com/pyinstaller/pyinstaller/commit/4071aa974d8b83cdc82eece1e97eb66bbdca3a92.
What should I do now?

[2015-08-02 19:15] Csega commented on #1289
I have the same problem with #1365 and it stayed the same as before by using the latest commit (this one: https://github.com/pyinstaller/pyinstaller/commit/4071aa974d8b83cdc82eece1e97eb66bbdca3a92). What should I do now?

[2015-08-02 20:11] matysek opened #1374 "reenable scanning code for ctypes dlls"
Recently I noticed that method scan_code_for_ctypes() is not used in python3 branch. We should use it again.

[2015-08-02 20:14] matysek opened #1375 "refactoring build.py - split into more modules"
Make a submodule `PyInstaller.spec` that will continue code related to spec files:
* move `PyInstaller.makespec -> PyInstaller.spec.makespec`
* move some classes from build.py into `PyInstaller.spec.api`

[2015-08-02 20:25] matysek commented on #1367
@leycec It was recently changed to be more robust. See this comment in build.py:
[code]
Basically, it now tries to apply all import hooks while dependency graph gets updated. So the order when a hook gets applied is unpredictable.

So lets say that  we have these files:
[code]
* Let's assume that no other module imports 'abc' or 'def' and our main script imports 'mymodule'.
* PyInstaller first app

[2015-08-02 21:28] matysek commented on #1365
You did not tell anything about installing PyQt/PySide or numpy packages.

I'm not able to reproduce this. Python 3.3.5 32bit. I did:
* installed pyqtgraph-0.9.10.win32.exe
* installed pyside 'pip install pyside'
* installed numpy 'pip install numby
* changed the fist line of your example to: `from pyqtgraph.Qt import QtCore, QtGui`
* `pyinstaller --debug test.py` created the exe
* the exe printed

[2015-08-02 21:28] #1365 closed

[2015-08-02 21:48] linkmauve commented on #1353
@topiwala, I just compiled my Cython project using PyInstaller, all I had to do for it to detect my Cython modules was to list all of them in import statements in the scriptname passed to pyinstaller.

I used something similar to that:
[code]

[2015-08-03 06:54] smartswdeveloper commented on #782
Problem solved with :
    Go to C:\Python27\Lib\site-packages\PyInstaller\build.py
    Find the def append(self, tpl): function.
    Change if tpl[2] == "BINARY": to if tpl[2] in ["BINARY", "DATA"]:
Source http://stackoverflow.com/questions/19055089/pyinstaller-onefile-warning-pyconfig-h-when-importing-scipy-or-scipy-signal

[2015-08-03 08:18] mmolero opened #1376 "ImportError: DLL load failed (Windows x64) issue with GDAL (Possible duplicate manifest entries for MSVCRT)"
First it all, Excellent project!!!!!! thanks for sharing

I have problems when I want to include the GDAL module in my project using the develop version (It works when I'm using the stable 2.1 version)

The environment I'm using is as follows:

Windows 7/8 64 Bits
Python 2.7.9 (WinPython)

and the log that appears is :

[code]

Any suggestions?
thanks!!!!

[2015-08-03 08:25] codewarrior0 commented on #1376
Could you run these commands to use the sxstrace.exe and find out what the side-by-side configuration problem is?

[code]

Post the contents of trace.txt here or on [gist](http://gist.github.com/) for me to look at.

[2015-08-03 08:29] Csega commented on #1365
I have PyQt5 5.4.2 (built and installed from source) and numpy 1.9.2 (installed via pip). That is why I need the newest (git) pyqtgraph, because it has PyQt5 support. Sorry, I forgot to mention it. I tried the same for the newest pyqtgraph development version (https://github.com/pyqtgraph/pyqtgraph/commit/cc655197d1c8e535f3ec77c342dd4226921c6591), but still got the same error.

[2015-08-03 09:04] mmolero commented on #1376
I've tried running the commands you suggested but without success

I did the following steps:

- Open a cmd console and running
[code]
- Open a second cmd console and running my program (of course it stopped due to the errors I commented above)

- In the first cmd console stopping the tracing
- Running the command
[code]
But It appears a system window with the message : *Sxs Tracing Tool has stopp

[2015-08-03 09:11] codewarrior0 commented on #1376
I, uh, wow. If sxstrace.exe is crashing, there's really nothing I can think of to find out what the problem is.

[2015-08-03 09:15] mmolero commented on #1376
Indeed the strange thing is that the same program  works if I'm using the pyinstaller stable 2.1 version. however I need the develop version because it handles very well the IPython package,

[2015-08-03 09:17] codewarrior0 commented on #1376
Actually, I take that back. Here's an idea:

Open the Event Viewer (called "View Event Logs" on Windows 8), open Windows Logs in the left column and select Application. In the center column, scroll to the most recent logs and find the one labeled "Error" and "SideBySide". Copy the text from the top text box in the General tab and paste it here, and also copy the entire text from the Details tab an

[2015-08-03 09:19] matysek commented on #1376
@mmolero Could you debug your app to the few lines that cause it? For examples does just this code work?
[code]

[2015-08-03 09:22] matysek commented on #1376
@codewarrior0 Could you mention sxstrace in 'If Things Go Wrong' and 'How to Report Bugs' wiki pages?

[2015-08-03 09:29] matysek opened #1377 ""pip install PyInstaller" cmd should build bootloader if precompiled not available"

[2015-08-03 09:30] mmolero commented on #1376
Ok I've just added it in the wiki pages

[2015-08-03 09:33] codewarrior0 commented on #1376
@mmolero I wrote a bit more about it than you did, so I had to trample over your changes. Sorry.

[2015-08-03 09:40] mmolero commented on #1376
On contrary thanks to you

This is the log using the Event Logs

[code]

[2015-08-03 09:49] htgoebel commented on #1375
I' currently busy cleaning up and fixing some issues in build.py. So I strongs suggest not touching this until PyI 3.0 is released.

[2015-08-03 09:51] htgoebel commented on #1367
I'm tagging this as high, since this may show some deeper problem in the way, hooks are handle currently.

[2015-08-03 09:55] codewarrior0 commented on #1376
Thanks a bunch, that's just what I needed.

I think I know what's going on here. When I did that last patch to the manifest handling code, I noticed something dodgy in the existing code: it was adding the dependencies of python27.dll to the manifests of every .dll it found. What I think is going on here is that python27.dll specifies one version of the MSVCRT assembly, the existing manifest in gda

[2015-08-03 10:07] matysek commented on #1375
Well, I'm just working on fixing tests and almost ready for merging.  I could do merging of your fixes then.

[2015-08-03 10:08] matysek commented on #1375
It's only about splitting classes / functions into several modules.

[2015-08-03 10:13] mmolero commented on #1376
it would be great if it can be fixed in an easy way, thanks,

[2015-08-03 10:48] matysek commented on #1365
I'm sorry but it is hard to help you since you use too many moving targets (PyQt compiled from source, dev pyqtgraph version, ...).

Your effort looks like creating import hooks for pyqtgraph module.

[2015-08-03 10:56] pandel commented on #1358
@htgoebel No i didn't, sorry. As I said in my first posting, I have a working version, but it creates two separate distributions (one for each exe), and after that, I have to copy over one exe and delete its (now unnecessary) dist folder. Every other configuration I tried resulted in different kinds of dist folder variations (two besides each other, one inside the other, etc.), but none of them wo

[2015-08-03 10:56] #1358 closed

[2015-08-03 11:02] #1375 closed

[2015-08-03 11:25] Csega commented on #1365
I see. Could you give me a link as a starter to learn how to create import hooks for a module? I'd like to give it a try.

[2015-08-03 12:11] htgoebel commented on #1365
The manual https://pythonhosted.org/PyInstaller/ and the wiki https://github.com/pyinstaller/pyinstaller/wiki

[2015-08-03 12:19] matysek commented on #1376
@mmolero One experimental  way could be trying python3 branch.

We are working on supporting there again Python 2.

[2015-08-03 12:25] Csega commented on #1365
Thanks!

[2015-08-03 12:29] htgoebel commented on #1375
To be frank, I do not see major reason for this split. But now it is done.

Regarding the `cliutils` -> `utils.cliutils` rename: I think this is totally pointless. The `cliuitls` are not utility-functions for PyInstaller, as `utils` would imply.

I just wonder why you marked this "low", but stated working on it immediately?

[2015-08-03 12:31] matysek opened #1378 "'time' module not working with locales"
It looks like pull request #1369 broke some python modules when using with non 'C' locales. On my system I use locale 'cs_CZ.UTF-8' and the test_time_module is failing.
[code]

After deeper analysis of the `time` module I found out that with locale cs_CZ.UTF-8:
* `time.ctime()` returns current date in English but
* `time.strptime()` uses locale cs_CZ.UTF-8 to parse the time string.

[2015-08-03 12:41] matysek commented on #1375
Yes, it's low priority but it was still getting on my mind.

I see this refactoring as a base for further polishing.

[2015-08-03 12:50] htgoebel commented on #1375
Sorry for being so harsh. No offense meant. I still appreciate your work :-)

[2015-08-03 13:59] matysek commented on #1375
Feel free to do more refactoring ;-)

[2015-08-03 15:44] matysek commented on #1291
@psi29a Do you have any code example to reproduce this issue?

[2015-08-03 15:53] psi29a commented on #1291
Certainly: https://github.com/Mindwerks/worldengine  :D

[2015-08-03 16:03] matysek commented on #1291
Any shorter piece of code?

[2015-08-03 20:39] htgoebel commented on #1378
@codewarrior0 I had a deeper look into the code of #1369, and I have the impression, that the locale is set twice and maybe not reset correctly.

[2015-08-03 20:50] htgoebel commented on #1332
@rdrey  You may want to have a look at and follow #1373

[2015-08-03 23:35] codewarrior0 commented on #1378
@matysek There is a line missing from your LOADER debug output. Before `LOADER: Running Scripts`, it should say [`LOADER: Restoring LC_CTYPE to C`](https://github.com/pyinstaller/pyinstaller/pull/1369/files#diff-71f02638d1f1878187c29045c696d4f9R327)

Could you force-rebuild your bootloader and try again?

[2015-08-04 06:46] msarfati opened #1380 "`pip install pyinstaller` for Python 3 fails in Windows"
[code]

My system:
* Python 3.4.3 (v3.4.3:9b73f1c3e601, Feb 24 2015, 22:43:06) [MSC v.1600 32 bit (Intel)] on win32
* PyWin installed from `pywin32-219.win32-py3.4.exe`

[2015-08-04 06:47] akbhat commented on #1346
Hartmut
The same issue exists in a Linux environment as well. Any chance the issue is due to the module egg file being named junos_eznc-1.2.0-py2.7.egg-info?

Were you able to figure the problem based on my code example?

[2015-08-04 07:25] matysek commented on #1380
Hi @msarfati,

PyInstaller 2.1 does not support python 3. We are working hard on getting Python 3 working. You might try our python3 branch. Mostly works:
https://github.com/pyinstaller/pyinstaller/tree/python3

[2015-08-04 07:49] matysek commented on #1380
I think it might be a good idea to publish a prerelease of python3 branch on PYPI.

[2015-08-04 07:49] #1380 closed

[2015-08-04 08:02] matysek opened #1381 "PYPI prerelease of python3 branch"
I think a good idea would be to publish a development version `3.0.dev0` on PYPI.
* `pip` by default installs stable versions. But command `pip install --pre PyInstaller`  should also install development or prerelease versions.
* This attempt will test and improve our release process.

More info for packaging: https://packaging.python.org/en/latest/index.html

[2015-08-04 08:30] msarfati commented on #1380
I agree. Or at least update the documentation, which says to just run ```pip install pyinstaller```:
https://htmlpreview.github.io/?https://github.com/pyinstaller/pyinstaller/blob/python3/doc/Manual.html#installing-in-windows

[2015-08-04 09:02] htgoebel commented on #1381
IMHO this is a bug in pip. PyInstaller is clearly marked as "Python 2 only"

[2015-08-04 09:16] matysek opened #1382 "migrate old import/relative_imports* tests to py.test"
These tests works with Python 2 but are known to fail with Python 3.3, not sure yet about Python 3.4.
[code]

[2015-08-04 09:45] matysek commented on #1378
I recompiled bootloader and tried again, locale cs_CZ.UTF-8:
[code]

[2015-08-04 09:50] matysek commented on #1378
On OS X it is the same, when I do `export LC_ALL=cs_CZ`:
[code]

[2015-08-04 09:54] matysek commented on #1378
Could this be anyhow related to this code?
[code]

[2015-08-04 09:55] htgoebel commented on #1378
I really wonder why the loader says LC_TYPE is C if you explicitly have set LC_ALL=cs_CZ.

[2015-08-04 10:00] codewarrior0 commented on #1378
Thanks. I went and double checked this bit:

[code]

And it appears to be true. ctime is documented to ignore the current locale, and strptime/strftime are documented to use the current locale for formatting and parsing (for things like month/day names, etc). So, the pyi_time_module test is technically broken, except that it doesn't call setlocale so it should *rightly expect* that strptime can pa

[2015-08-04 10:02] codewarrior0 commented on #1378
This is part of the C standard. The locale categories are all set to "C" at the start of the program. You can set any of the locale environment variables, and they won't affect the locale until you call setlocale.

[2015-08-04 10:02] htgoebel commented on #1378
I assume this is caused saving the result of`setlocale(LC_CTYPE, NULL)`, which is always `C` (see https://github.com/pyinstaller/pyinstaller/pull/1369#discussion_r36171935).

OTOH, AFAIK `time` should honor the current locale only if `locale` is used.

[2015-08-04 10:07] codewarrior0 commented on #1378
Yes, this test *should* be passing.

I think the setlocale calls in pyi_arch_cache_argv aren't needed any more, since the locale is already set at the beginning of main.

[2015-08-04 10:23] codewarrior0 commented on #1378
@matysek Can you try #1383? If it makes the test pass for you, please merge it.

[2015-08-04 10:35] matysek commented on #1378
@codewarrior0 yes, with these changes the test passes. Thanks.

[2015-08-04 10:39] #1378 closed

[2015-08-04 10:56] codewarrior0 commented on #1340
Python's treatment of `setlocale()`:

In main(), before calling Py_Main, the LC_ALL locale is saved and then set from the current environment. Then, argv is converted to wide strings using _Py_char2wchar (which may call mbstowcs, or an internal "surrogateescape" python function if mbstowcs fails, or a simple UTF-8 decode when on OS X). Then, the LC_ALL locale is set back to the saved value before

[2015-08-04 11:14] htgoebel commented on #1341
I've been using the python-branch for Python 2 now for running quite some tests. I'd say, it's done.

There are still deficits the current python3-branch has compared with PyInstaller release 2.1: Namespaces have a problem, __path__ extensions have aproblem, egg-data is not included. But these are not related to Python 2, so I close this issue.

[2015-08-04 11:14] #1341 closed

[2015-08-04 11:51] matysek commented on #1341
@htgoebel Do you think we are ready to make 'develop' from python3 branch?

[2015-08-04 12:07] htgoebel opened #1384 "Use the guts mechanism for `base_library.zip` like any other Target does"
Currently the base_library.zip is build every time Analysis is build, even if the file for the `base_library.zip`  are unchanged. Insteadof this, use the `guts` mechanism for doing this. This would not work exactly like the other Targets: BaseLibrary would need to collect the modules *prior* to `check_guts()`. But this is feasible.

[2015-08-04 12:37] matysek opened #1385 "for tests create modulegraph for base_library.zip only once"
The most runtime of PyInstaller is spent in creating module dependency graph. For functional tests we could reuse the graph object that is created for base_library.zip.

I expect this could speed up test run-time noticeably.

[2015-08-04 13:58] htgoebel commented on #1340
Thanks for your detailed analysis. Are you going to code this?

[2015-08-04 14:03] htgoebel commented on #1341
I would not do this, because of the remaining issues I mentioned. But I may get convinced :-)

BTW: I have to recherché and test what is the "correct" way for doing this in git: merge python3 into develop or just forward develop to python3-head. Maybe a merge without `--no-ff` has the same effect as the later.

[2015-08-04 14:14] htgoebel commented on #1322
We need to handle this in `PyiModuleGraph.import_hook` resp. we need to make our hooks work on `modulegraph.modulegraph.Node`s. Maybe some wrapper using properties to map teh the `Node`'s attributes.

[2015-08-04 14:16] matysek commented on #1341
@htgoebel, @codewarrior0  Then let's agree at least that we do not accept pull request  for 'develop' anymore.

[2015-08-04 14:17] htgoebel commented on #1283
I think this is related to the issue with Namespaces not handled correctly.

[2015-08-04 14:18] htgoebel commented on #1341
ACK.

[2015-08-04 19:19] #1385 closed

[2015-08-04 19:29] matysek opened #1386 "restrict single test runtime"
I think it's a good idea to set a timeout for a single test. If a test times out then it should be marked as failed.

I guess timout 2 or 3 min for one test should be enough.

[2015-08-05 00:33] akbhat commented on #1346
py2exe also could not "find" the jnpr.junos imports! From the py2exe log:

The following modules appear to be missing
['IronPythonConsole', 'System', 'System.Windows.Forms.Clipboard', '_scproxy', 'clr', 'console', 'jnpr.junos.device', 'jnpr.junos.utils.fs', 'jnpr.junos.utils.scp', 'jnpr.junos.utils.start_shell', 'modes.editingmodes', 'pyreadline.keysyms.make_KeyPress', 'pyreadline.keysyms.make_Key

[2015-08-05 01:06] codewarrior0 commented on #1340
Yes. I think I've done enough research to know what to be careful with. I'll start by copying some of Python's text encoding code, then split main off of pyi_main and add wmain for Windows, then go through and make sure all the char * are converted to wchar_t * using the correct text encodings. I should be able to remove those setlocale calls I added earlier and only use setlocale around the parts

[2015-08-05 08:32] htgoebel commented on #1371
I suggest post-boning this behind he 3.1 release.

[2015-08-05 09:01] matysek opened #1387 "for Appveyor try caching packages to avoid recompilation."
For example, to install PyCrypto on Windows takes in Appveyor several minutes because it needs to compile several extensions.

Caching the packages could speed up tests run in appveyour.

These commans should help with caching Python packages:
[code]

[2015-08-05 10:50] htgoebel commented on #1346
Result of my analysis: This package is using a namespace-package using the `pkg_resources.declare_namespace()` mechanism. This is detected by modulegraph, but not handled by the committed PyInstaller code.

I'm currently working on this issue anyway and already have some working code, but this will need more testing.

[2015-08-05 10:55] matysek commented on #1387
Caching should help when we add more tests with more dependencies.

[2015-08-05 10:56] #1387 closed

[2015-08-05 10:57] matysek commented on #1386
I set timeout just for django test that might hang sometimes. Set global timeout was not playing nicely with Travis containers.

[2015-08-05 10:57] #1386 closed

[2015-08-05 11:00] htgoebel commented on #1340
Fine. Please merge your branch later using a pull-request or `--no-ff`. This has the benefit: All the related work is on one stream of commits, which helps understanding commit-history in a few years

[2015-08-05 11:08] codewarrior0 commented on #1340
Will do, chief.

[2015-08-05 11:10] matysek commented on #1346
@htgoebel
* I just verified that it really is a namespace package - there is no file `__init__.py` in   site-packages/jnpr/.
* But there is available .pth file `site-packages/junos_eznc-1.2.2-py2.7-nspkg.pth` with content:
[code]
@akbhat could you try using pyinstaller from 'python3' branch and as a workaround create an empty file `site-packages\jnpr\__init__.py`?

[2015-08-05 11:13] matysek commented on #1349
@htgoebel How could I reproduce the import error? Just install 'distribute' package?

[2015-08-05 14:15] fth86 commented on #864
I am having the same issue, but I am already using the development version of pyinstaller (2.1.1dev-). Is there a newer version - I couldn't find one- or has this issue become unfixed somehow?

[2015-08-05 14:51] matysek commented on #864
* Could you try the 'python3' branch?
* And if it does not work then report issue for that branch?

[2015-08-05 14:58] matysek commented on #1289
The recursion depth is probably a modulegraph issue that was fixed recently: https://bitbucket.org/ronaldoussoren/modulegraph/commits/d1ab16fbcc152811e29df3b7b645beda67062f2b

[2015-08-05 14:59] matysek commented on #1365
The recursion depth is probably a modulegraph issue that was fixed recently: https://bitbucket.org/ronaldoussoren/modulegraph/commits/d1ab16fbcc152811e29df3b7b645beda67062f2b

[2015-08-05 15:05] matysek opened #1388 "check our modulegraph version - maximum recursion depth exceeded"
Recently was released modulegraph 0.12.1. Check that our version contains this fix: https://bitbucket.org/ronaldoussoren/modulegraph/commits/d1ab16fbcc152811e29df3b7b645beda67062f2b

[2015-08-05 15:07] htgoebel commented on #1349
@matysek The setup seams to be more complicated. I'll try to reproduce and create a receipt for reproduction. This may take some days, though.

[2015-08-05 15:58] Csega commented on #1365
Thanks for the info. I installed modulegraph using pip (in principle, the fix you mentioned is in the 0.12.1 release), but still have the same issue. Do I have to set somehow Pyinstaller to use modulegraph? Because until now I didn't have this package.

[2015-08-05 16:11] Csega commented on #1365
In the meantime, I found this: https://bitbucket.org/ronaldoussoren/modulegraph/issues/27/maximum-recursion-depth-exceeded-when

Maybe the problem is still present there...

[2015-08-05 19:50] matysek commented on #1365
PyInstaller bundles own copy of modulegraph (slightly modified) and does not use modulegraph that you install with `pip install`.

[2015-08-05 20:43] akbhat commented on #1346
HT
I can not use junos_eznc with Python3 as junos_eznc requires ncclient package which does not yet support Python3. :'(.
Do you have a sense of how long before the fix will be available?

[2015-08-06 03:38] rdrey commented on #1332
@htgoebel Sorry, took me a while to get back to my little side project. Let me know if that looks ok, please.

[2015-08-06 07:43] fth86 commented on #864
Oh, I didn't see that the python 3 branch is supposed to work with python 2.7 as well. It worked. Thank you!

[2015-08-06 08:52] matysek commented on #864
It did not until this week :)

[2015-08-06 09:14] #1332 closed

[2015-08-06 09:31] Csega commented on #1365
Is this mean, that this newer version of modulegraph is not included in Pyinstaller yet? Because otherwise it should work now, right?

[2015-08-06 09:32] mmolero commented on #1376
@matysek I've tried to use the python3 branch with my code but without success (I'm using my python 2.7 environment I suppose this is the reason) I hope you can fix the python2 branch, thanks a lot!!!

[2015-08-06 09:49] htgoebel commented on #1346
Next Week latest. I'm currenty short of time for PyInstaller.

[2015-08-06 12:47] htgoebel commented on #1365
Exactly. Weill update these days.

Am 5. August 2015 21:50:48 MESZ, schrieb Martin Zibricky <notifications@github.com>:

[2015-08-06 12:52] Csega commented on #1365
Thanks, I stay tuned! :)

[2015-08-06 14:44] matysek commented on #1346
@akbhat I meant using Python 2.7 with 'python3' branch. NOT using Python 3.

[2015-08-06 14:44] matysek commented on #1346
BTW, have you tried the workaround I mentioned?

[2015-08-06 19:20] akbhat commented on #1346
MZ
I added a dummy __init__.py in the jnpr folder and used PyInstaller==3.0.dev0 but see the same import error.

C:> .\dist\jdatap.exe
Traceback (most recent call last):
  File "<string>", line 8, in <module>
ImportError: No module named jnpr.junos.device

You should be able to see the issue with the minimal code example listed at the URL below:
https://gist.github.com/akbhat/ff7e0a30c7521902b56b

[2015-08-06 19:40] matysek opened #1392 "bundle only Python modules that are reachable from top-level graph node"
When trying to improve feature 'excludedimports' in import hooks I found out that PyInstaller in branch 'python3' bundles even modules that are not reachable from top-level script.

Example:
* django uses IPython if it's available.
* IPython depends on matplotlib.
* When I remove all IPython.* nodes from the modulegraph then PyInstaller still bundles matplotlib.
* But matplotlib should not be bund

[2015-08-06 23:02] topiwala commented on #1353
htgoebel:
hidden imports worked, and I have moved to that. I had to fix my tree to not perform relative imports, and that helped as well. There were some special libraries not found by default, so I had to coerce them too by adding them to the hidden imports. These are
https://docs.python.org/2/library/code.html
https://docs.python.org/2/library/cgi.html
https://docs.python.org/2/library/bisect.ht

[2015-08-07 07:28] topiwala commented on #1353
And, I was able to create them as well. There was a dependent python module that I was importing that had a data file which wasn't correctly packaged.

This is perfect now, and my executable works! Thank you all!

[2015-08-07 07:28] #1353 closed

[2015-08-07 07:43] htgoebel commented on #1346
Stay tuned. My code will be published next Werk.

[2015-08-07 08:43] codewarrior0 commented on #1340
Made some progress on this last night. main/wmain/WinMain/wWinMain are now separate from pyi_main, which uses both `wargv` and `argv` for now. Found a complication where MinGW 4.x doesn't allow wmain/wWinMain to be used, even with `-municode` (fixed in MinGW 5.x, I believe), so I came up with a workaround that gets `wargv` using Windows APIs.

There's a lot of clutter on the branch, so I'll clean

[2015-08-07 09:48] matysek commented on #1340
@codewarrior0 I think the best way is to add `_GNU_SOURCE` to wscript like this:
[code]
There are already several defines like that.

[2015-08-08 05:06] leycec commented on #1367
@matysek Thanks for the erudite break-down. I'm properly educated now – and all without $100,000 in predatory student loan debt. :pencil2:

Your analysis confirms deep-set suspicions: while I can't see any critical issues in the new `assemble()` algorithm (...in fact, it all rather seems like a good idea), I can see that the order in which import hooks are applied is fundamentally disconnected fro

[2015-08-08 11:04] #1392 closed

[2015-08-08 11:08] matysek commented on #1367
@leycec Regarding `order` attribute I would suggest raise an issue to the modulegraph and discuss it with the author. He might be more educated than me and tell you if that's feasible or not.

Regarding the erudite break-down expect my invoice the following days.

[2015-08-08 20:55] tallforasmurf commented on #1367
back in ought-thirteen I asked M. Oussoren about adding extra info to graph
nodes. Here's the conversation.

https://bitbucket.org/ronaldoussoren/modulegraph/issues/16/extended-info-in-the-graph-and-best-way-to

It was inconclusive. I gave up, saying "Anyway I will store these outside
the graph, in dicts keyed by graphident." Which I did not do, but that
still sounds like a viable approach, given

[2015-08-09 03:17] leycec commented on #1367
Thanks for liaisoning with the respectable Brave Sir Ronald. Your efforts are not in vain.

Conceivably. But probably not.

Although node identifiers are uniquely hashable (..._they sort of have to be, now don't they?_), how exactly would you externally hook into `modulegraph` to initialize your hypothetical `dict`? And that's the problem, of course: `modulegraph` provides no existing facilities f

[2015-08-09 07:05] leycec commented on #1367
**[Done](https://github.com/pyinstaller/pyinstaller/pull/1393).**

[2015-08-09 07:46] codewarrior0 commented on #1340
Roger that, will do.

I have to make a note of this for posterity:

Filenames on OS X and Linux are defined to be `char *` type. This is what functions like `fopen` take as an argument on those platforms. PyInstaller handles these filenames internally as `char *` and for the most part, no kind of conversion is needed until it is time to pass them to Python 3 APIs. The Python 3 APIs which take file

[2015-08-09 14:19] codewarrior0 commented on #1340
I briefly recalled that on Japanese Windows systems, the path symbol is the Yen symbol '¥'. Thankfully, I found out this is just visual - it still uses the Unicode code point `U+005C` for backslash, but is just rendered as ¥ for... essentially historical reasons. During the Unicode transition, Japanese users were alarmed that their path separator suddenly changed to `\`, so MS changed the way it i

[2015-08-09 20:03] matysek commented on #1374
I found out that this is outside of my knowledge: It requires understanding of Python bytecode.

[2015-08-09 20:15] matysek opened #1394 "fix xfail tests to work with Python 2.7."

[2015-08-10 06:59] aodock opened #1395 "'PyInstaller.hooks.hook-PIL' not found while handling absolute import"
I found that this is just an empty file being missing on the `Pyinstaller/hooks`. I have tried installing `Pyinstaller` from source and through `pip`. In both ways i have to create that file manually,..
Is this a bug ,..?

[2015-08-10 07:18] matysek commented on #1395
Thanks for reporting. Python might complain that the parent hook module is missing (hook-PIL) but child module hooks are still there (hook-PIL.imaging). This kind of message is known. If it otherwise works for you then it is no bug.

In the development version it was fixed that empty parent hook modules are not necessary.

[2015-08-10 07:27] aodock commented on #1395
thanks

[2015-08-10 07:27] aodock commented on #1395
thanks

[2015-08-10 08:21] htgoebel commented on #1374
So it looks like this to be my job :-)

[2015-08-10 08:29] matysek commented on #1374
* @htgoebel  Rather 3.0 if possible, because it might ease some hooks that are bundling additional dlls.
* I'm just implementing some preparation for this - collect all modules that needs scanning.

[2015-08-10 08:38] TheSomeMan opened #1396 "Failed to start compiled exe from non-ascii path on external usb-flash drive (FAT32, where short file names is not used)"
OS: Win7_x64
Python: 2.7.10 (x32)
PyInstaller: 2.1 (also I've tried latest dev)

Related issue: #1224

**How to reproduce**
Build any exe (for example "Hello word")
Create dir on USB-flash drive (FAT32), which contains non-ascii symbols:
* from command prompt: MD фыва
* or Python script:
<PRE>
import os
os.mkdir(unicode('\xd1\x84\xd1\x8b\xd0\xb2\xd0\xb0', 'utf-8'))
</PRE>

Check that 8.3-style fil

[2015-08-10 08:40] htgoebel commented on #1374
Fine. It'll take some days until I can start working on this.

[2015-08-10 08:44] htgoebel commented on #1396
@codewarrior0 Sound like your area of work :-)

[2015-08-10 08:50] matysek commented on #1396
@TheSomeMan Could you try the 'python3' branch? That's the place where main development happens.

[2015-08-10 09:13] TheSomeMan commented on #1396
'python3' branch have the same issue:
<PRE>
F:\фыва>hello.exe
Traceback (most recent call last):
  File "<string>", line 18, in <module>
  File "c:\python27_x86_32\lib\site-packages\PyInstaller-3.0.dev0-py2.7.egg\PyInstaller\loader\pyimod03_importers.py", line 573, in install
    sys.meta_path.append(FrozenImporter())
  File "c:\python27_x86_32\lib\site-packages\PyInstaller-3.0.dev0-py2.7.egg\PyIn

[2015-08-10 11:12] aodock commented on #1395
HI,.. I tried installing the newest version,.. I still get that same error,..
so i also tried `pip install https://github.com/pyinstaller/pyinstaller/archive/develop.zip` .. no change

[2015-08-10 11:49] aodock opened #1400 "Cannot create executable for OSX after installing Pillow"
I run the command `pyinstaller -i 'icon.icns' --windowed 'main.py'`. I get no warning messages while creating an executable. But the executable file dose not open. So i right clicked > show package contents and found my main.py file inside `Contents/MacOS/main.py`. when i double clicked that i get the following output.
[code]

[2015-08-10 12:26] aodock commented on #1400
now im getting a bit different error

[code]

[2015-08-10 12:26] htgoebel commented on #1400
We need more infos, please follow the instructions at https://github.com/pyinstaller/pyinstaller/wiki/How-to-Report-Bugs

[2015-08-10 12:31] htgoebel commented on #1395
Is this an error and PyInstaller fails freeing your program? Please post the *exact* error message. We need more infos, please follow the instructions at https://github.com/pyinstaller/pyinstaller/wiki/How-to-Report-Bugs

[2015-08-10 13:21] codewarrior0 commented on #1396
Thanks for the report.

I am in the middle of a lot of work overhauling PyInstaller's internal handling of filename strings. Your patch is coincidentally what I am working on now, so I can tell you what's wrong with it: When applied against the current branch HEAD, it breaks support for ShortFileNames on some systems (ShortFileNames allow characters from the current codepage, and not just ASCII -

[2015-08-10 13:34] codewarrior0 commented on #1396
@TheSomeMan Shall I notify you when my branch is ready for some more testing?

[2015-08-10 13:58] aodock commented on #1400
Hi,.. Im using the default version of python `2.7.4` that came with `Mac 10.10.4`. Previously, i was able to use pyinstaller to create `.app` file which was able to open on all similar mac. Then i had to install `Pillow`. I got the error which i mentioned [here](https://github.com/pyinstaller/pyinstaller/issues/1395),..

so, to give a fresh start,..I uninstalled the older version, removed the conf

[2015-08-10 15:01] TheSomeMan commented on #1396
@codewarrior0 Of course, I'll be happy to help.

[2015-08-10 15:09] htgoebel commented on #1388
Done in bba025f6861f2.

[2015-08-10 15:09] #1388 closed

[2015-08-10 15:12] htgoebel commented on #1365
This should now be fixed. Please test the current python3-branch and give us a note on your success.

[2015-08-10 15:12] htgoebel commented on #1289
This should now be fixed. Please test the current python3-branch and give us a note on your success.

[2015-08-10 16:25] matysek opened #1401 "propagate modulegraph changes upstream"
Recent upgrade of modulegraph ( https://github.com/pyinstaller/pyinstaller/commit/bba025f6861f27f7107b3e4105e9bb9abf49e35f )
 version broke python3 branch and reverted some custom module graph changes that were not yet submitted to upstream.

Tasks:
* Fix module graph in python3 branch.
* Propagate graph hook related changes to upstream of modulegraph.

[2015-08-10 18:33] #1394 closed

[2015-08-10 21:53] htgoebel opened #1402 "Make all tests passing in PyInstaller 2.1 pass in python3-branch"
Here is an overview of the current test-status. Please update this list whenever an issue is solved. We should not merge `python3` into `develop` as long as there are test worse then in release 2.1 or fall behind `develop` head.

* **bold** means: this is worse then in release 2.1 resp. when using the other Python version
* Referenced issues point to the issue this is tracked in (only for failing

[2015-08-10 22:05] htgoebel commented on #1401
@matysek I'm sorry for causing this trouble.  I really did a bad job in bba025f. Mea culpa!

[2015-08-11 09:01] matysek commented on #1401
Upstream pull request: https://bitbucket.org/ronaldoussoren/modulegraph/pull-requests/12/

[2015-08-11 09:51] Csega commented on #1365
Unfortunately, the problem still exists with the same error message. :(

[2015-08-11 10:30] MengJueM opened #1403 "About "WARNING: library python%s%s required via ctypes not found" issue"
This warning is always genereted by `"PyInstaller.depend.util.py"` in `"def scan_code_for_ctypes(co, instrs, i)`". The root cause is from below like source code:

[code]

The OPCODE is:

[code]

Based on the below code in `def scan_code_for_ctypes(co, instrs, i)`:

[code]

We can catch the bug right here:

`'python%s%s' % (sys.version[0], sys.version[2])` has to be calculated in multiple OPCODE st

[2015-08-11 10:34] nexcvon opened #1404 "zmq not working in python3 branch - libzmq not bundled properly"
My PyInstaller Version:
https://github.com/pyinstaller/pyinstaller/tree/99227fb1b23283fd08314e132738563eb40ce5b6

My test script:
[code]

Part of PyInstaller build log:
[code]

Traceback:
[code]

Files in dist directory:
[code]

If rename `zmq.libzmq.pyd` to `libzmq.pyd`, it works.

[2015-08-11 10:41] codewarrior0 commented on #1403
The warning is harmless. The python DLL is explicitly included by the Analysis step, so we don't care if scan_code_for_ctypes doesn't find it.

[2015-08-11 10:42] htgoebel commented on #1403
We are not going to implement a byte-code interpreter. This will be an endless story.

[2015-08-11 10:42] #1403 closed

[2015-08-11 12:51] htgoebel opened #1405 "Change interface of `add_binary` and Co."
I just stepped over `FakeModule.add_binary()` (I've seen it earlier, but did not review it) and I find it irritating and complicated.

1. It's called "add binary" (singular), but expects a list of binaries.
2. It requires to pass 3-tuples, while the last element is fixed for all cases: it has to be `"BINARY"`.
3. It does not even test if the third element of each tuple actually is `BINARY`. This i

[2015-08-11 12:54] htgoebel opened #1406 "Remove useless usage of `hook()` function in hooks"
Many hooks are using the `hook()` function, while there is no use for. The `hook()` is useful only when there is need to manipulate the module. As of now it is often used just for some kind of encapsulation.

We should remove useless usage of `hook()` function in hooks for cleanness. As an side-effect this speeds up processing a small bit.

[2015-08-11 14:17] htgoebel commented on #1402
Made test_gst pass (only tested for Python 2.7) 50e145a1.

[2015-08-11 15:07] htgoebel commented on #502
Now that we are using modulegraph (#439), we need to check if all cases are covered. Here is a list:

Case | Test-Case | Packages
------|------|-------
1. i. just a directory | test_nspkg-pep420 | nspkg-pep420
1. ii. nspkg.pth file | test_nspkg2 | nspkg2-pkg
2. i. `__init__`-file using `pkg_resources.declare_namespace()` | test_nspkg1 | nspkg1-pkg/nspkg1_aaa.egg (unzipped eggs)
 | test_nspkg1-bbb-

[2015-08-11 15:38] htgoebel commented on #502
#1283 requests support for `pkgutil.extend_path()`, so we should implement it :-(

[2015-08-11 15:44] tallforasmurf commented on #1405
I confess that FakeModule class and its methods were my invention. (It may have been changed some since then.)  I wanted some way to make existing hooks work with my modulegraph code. A hook expected to receive a Module and the new assembly logic did not have a Module to give. So it passed something that offered the facilities that hooks expected to find in a Module.
The point is that -- as far as

[2015-08-11 15:45] htgoebel commented on #1346
@akbhat This should be fixed now. I've tested it. Please use the current `python3` branch - with Python 2.7 of course :-)

[2015-08-11 15:45] #1346 closed

[2015-08-11 15:57] htgoebel commented on #907
@matysek Can we close this iusse? For python 3 support the fake-site module will be dropped.

[2015-08-11 16:00] htgoebel commented on #901
@codewarrior0 Is this your topic, too? Then please assign this issue to you. Thanks.

[2015-08-11 16:03] htgoebel commented on #899
I strongly assume, this is problem is related to the shell. `&` is a typical shell meta-character and the effect would fit.

[2015-08-11 16:03] #899 closed

[2015-08-11 16:07] htgoebel commented on #854
The test-cases `test_wx_pubsub_arg1` and `test_wx_pubsub_kwargs` show this problem, if the hook mechanism fails (as it does as of today and f0d24ba65c1). So I'm closing this issue, esp. since the original poster did never answer.

[2015-08-11 16:07] #854 closed

[2015-08-11 16:10] htgoebel commented on #842
@olemoign: THis seams to be an old issue from you. Is it still valid with the current `python3` branch head? If so, please submit a minimal example and more details, see https://github.com/pyinstaller/pyinstaller/wiki/How-to-Report-Bugs.

[2015-08-11 16:15] htgoebel commented on #710
This is an old issue from anonymous. No chance to get into dialogue.

[2015-08-11 16:15] #710 closed

[2015-08-11 16:19] htgoebel commented on #541
As of today, the *code* gets included, but the *data* is missing.

[2015-08-11 16:20] #907 closed

[2015-08-11 16:44] matysek commented on #1405
* As @tallforasmurf mentioned, the `FakeModule()` was created to migrate import hooks to modulegraph.
* Now some of its methods are just duplicated and useless.
* I agree that FakeModule should be reviewed. @htgoebel go ahead with what you think is good.
* We should also review the api we need to provide for `hook(mod)`.

@tallforasmurf thanks for your invention

[2015-08-11 20:19] #1401 closed

[2015-08-11 20:24] matysek commented on #1346
I confirm that python3 branch works for me with the following example when using Python 2.7 on linux:
[code]

[2015-08-11 21:57] akbhat commented on #1346
HT
Still see a problem. The minimal code example works but not the actual code. :'). I added node.open() to the code example provided earlier (https://gist.github.com/akbhat/ff7e0a30c7521902b56b) and with that I see the below problem. Let me know what debug information is needed.
C:> .\dist\d.exe
Traceback (most recent call last):
  File "<string>", line 21, in <module>
  File "<string>", line 16,

[2015-08-11 22:03] matysek opened #1407 "python 3.5 support"
Current python3 branch does not support Python 3.5 and our test suite fails with Python 3.5:
https://travis-ci.org/pyinstaller/pyinstaller/jobs/75171273

There is issue with Python 3.5 environment in travis: missing shared Python library. Related issue:
https://github.com/travis-ci/travis-ci/issues/4834

[2015-08-12 03:14] codewarrior0 commented on #901
Sure. I know what this is about, too. Sometimes, Windows filenames are stored in ARCHIVE_STATUS as utf-8 and sometimes as mbcs. I'm cleaning it up so it will only be utf-8 internally, and mbcs is only used when talking to Python.

[2015-08-12 03:18] codewarrior0 commented on #1222
The first thing to do is add a unit test where the source file and build dir have a non-ASCII path.

[2015-08-12 03:33] topiwala opened #1408 "unqualified exec is not allowed (Python 2.7.6)"
Followed the recipe in the manual for block cipher when packaging, but on extracting the executable, get the following error:
[code]
I also had to add
[code]
to be able to follow the manual's example.

Does anyone have a recipe that I can follow?

[2015-08-12 14:00] htgoebel commented on #1408
Please try if this occurs on the current `python3`-branch-head, too.

[2015-08-12 14:04] htgoebel commented on #1346
Please try to solve this yourself first: https://github.com/pyinstaller/pyinstaller/wiki/How-to-Report-Bugs#make-sure-everything-is-packaged

[2015-08-12 22:58] matysek commented on #1408
@topiwala There is no specific cypher recipe in the wiki. But the manual for the python3 branch contains this .spec example:
[code]
Please note that you need to use the line `import PyInstaller.loader.pyi_crypto as pyi_crypto` anymore.

[2015-08-13 06:36] leycec opened #1412 "To Fork or Not to Fork `modulegraph` and `altgraph`"
Courtesy this [intelligent request](https://github.com/pyinstaller/pyinstaller/pull/1393#issuecomment-129791901) from Señor Hartmut, I copy-pasta for your consumption my thoughts on a pending issue of some interest to _all_ PyInstalleros (i.e., PyInstaller developers):

You probably already know which side of the argumentative fence I fall on.

## Let's Do This.

**[DANGER:** _Big wall of text fol

[2015-08-13 08:05] aodock commented on #1400
Hi, It seems i was using python from mac's default version, I tried installing  python through brew. Now it works fine.

[2015-08-13 08:05] #1400 closed

[2015-08-13 09:14] robert-boulanger opened #1413 "PyInstaller fails when ZODB3 is an imported Module"
When packing an application which uses ZODB pyinstaller fails. The module pickle_3.py used by zodbpickle has in sum 4 classes with constructors like this:

    def __init__(self, file, protocol=None, *, fix_imports=True):

PyImporter fails with the following output (it doesn't like the asterisk) :

    13981 ERROR: invalid syntax (pickle_3.py, line 178)
    Traceback (most recent call last):

[2015-08-13 09:16] matysek commented on #1412
@leycec Look here: https://github.com/modulegraph  There you could put the forked repositories.

[2015-08-13 09:19] matysek commented on #1412
I do not have strong opinion. If you think it is necessary then go ahead.

[2015-08-13 10:29] matysek opened #1414 "use mingw-w64 to compile bootloader in appveyor"
Recent changes in PR #1409 require the option `-municode` to be passed to gcc:
* But default mingw on appveyor does not have this option.
* mingw-w64 should be installed on appveyor and used to compile bootloader

Resources:
* http://mingw-w64.org/
* http://www.appveyor.com/docs/installed-software

[2015-08-13 10:54] htgoebel commented on #1413
This module uses Python3 syntax, while you are using Python 2.7. You need to use the current `python3`-branch head and exclude this module using the `--exclude-module=` option.

Alternatively you may implement a hook excluding this module depending on the Python version used. Please see https://htmlpreview.github.io/?https://github.com/pyinstaller/pyinstaller/blob/python3/doc/Manual.html#using-hoo

[2015-08-13 12:14] codewarrior0 commented on #1340
This is more or less done. Now that we have `__wargv` I can finally take care of those persistent errors for non-ASCII executable paths.

[2015-08-13 12:14] #1340 closed

[2015-08-13 14:07] htgoebel commented on #1412
I still have to think about this and make up my mind.

Independently of whether we "fork" or note, we should keep some link to benefit from upstream changes.
So we have two technical issue to solve:
1. connecting mercurial an git
2. Merging only one sub-directory into out repository - for this http://www.hardcoded.net/articles/git-subtree-merging-low-level-plumbing has sum hints, but this needs to

[2015-08-13 14:56] cournape opened #1415 "hook-sqlite3 should not add tests modules"
The `hook-sqlite3.py` hook pull out `sqlite3.tests.*` files. Besides adding unneeded files, this causes pulling out tkinter on at least Linux, because `sqlite3` tests import `test.test_support` from the stdlib.

You can easily check it with the following simple script:

[code]

this will pull out tkinter in the binary.

As an aside, it should be possible this behaviour: currently, defining a custo

[2015-08-13 16:06] codewarrior0 commented on #1366
I'll take care of it. I've got to make sure sys._MEIPASS is encoded correctly, and I can reuse some of the code I used to add pyz paths with the correct encoding.

[2015-08-13 16:50] codewarrior0 commented on #1414
Theoretically, we should be able to have AppVeyor send a pull request whenever the bootloader is changed.

[2015-08-13 17:04] codewarrior0 commented on #1341
Agreed.

I think develop can be safely fast-forwarded to python3. I just tried it with `checkout develop; merge python3` and it worked without a merge commit, with develop and python3 now on the same commit.

Then if you want, deprecate the python 3 branch: Add a commit to delete all the files except for a README that says "Check out develop branch please ;)"

[2015-08-13 17:10] matysek commented on #1414
@codewarrior0 I would not automate this yet at least until PyInstaller 3.0 is out.

[2015-08-13 19:30] matysek commented on #1415
@cournape It is not clear what you complain about:
* Do you complain that tkinter is not bundled with sqlite by default?
* Do you think tkinter should be bundled by default?
* Could you describe your use case?
* Do you use module `sqlite3.test.test_support` for anything in your app?

[2015-08-13 20:04] cournape commented on #1415
Pretty much the opposite :)

* pyinstaller causes tkinter to be bundled by default with sqlite3, which is not what I want. I suspect most people do not expect this either
* I don't think tkinter should be bundled by default
* I do not use `sqlite3.test.test_support`, but the "official" pyinstaller sqlite3 hook causes pyinstaller to always include it as soon as `sqlite3` is imported. The exact valu

[2015-08-13 23:48] codewarrior0 commented on #1325
* When spawning python programs, set PYTHONIOENCODING=UTF-8 to ensure all characters con be encoded and decoded correctly.
* When spawning a different program, *decode* using `sys.getfilesystemencoding()`, which according to the Python issue mentioned above should be read as "OS encoding".

This is a valid conclusion, at least on Linux and OS X, and for Python 3 only.

For Python 2, things change

[2015-08-13 23:57] matysek commented on #1415
@cournape What version of pyinstaller do you use? Could you try the `python3` branch? I think the hook-sqlite3 was recently fixed to not bundle 'sqlite3.test' modules.

[2015-08-14 07:13] matysek commented on #1413
@htgoebel I just realized that the --exclude-module option is broken in python3 branch.
@robert-boulanger How did you installl zodb? Just `pip install zodb`?

[2015-08-14 07:14] matysek commented on #1404
@nexcvon What version of zmq do you use?

[2015-08-14 08:09] htgoebel commented on #1366
Fine. I was already hoping you'll take this task :-)

[2015-08-14 08:24] htgoebel commented on #1415
@matysek: The hook was even fixed by yourself :-) 4257b4563

[2015-08-14 08:24] #1415 closed

[2015-08-14 08:31] matysek commented on #1415
Yes, it was :-)

[2015-08-14 08:35] matysek commented on #1404
I will try to reproduce that and add a test case from your example.

[2015-08-14 08:44] htgoebel commented on #1341
Since we are revering to the python-branch a lot, I'd prefer having a merge commit.

[2015-08-14 09:01] matysek commented on #1341
@htgoebel Do you have any estimate when python3 could be merged into develop?

[2015-08-14 09:24] htgoebel opened #1417 "Close python3-branch and merge it back into develop"
This is a flow up to #1341

matysek wrote:

This depends on which test-cases of #1402 we decode on to be working prior to merging. I thing, at least the test related to relative import #1382 and data-file from eggs #1362 should be fixed. If you disagree, please comment at #1402.

Regarding the estimate: I have this on my list with top priority of all PyInstaller-related stuff. Unfortunately may pa

[2015-08-14 09:27] htgoebel commented on #1382
I just wonder why you labelled this with "low / cleanup". From my point of view, this may show up a more serious problem related to relative imports.

[2015-08-14 09:33] matysek commented on #1402
I agree that relative imports and data-file from eggs should be fixed prior merging python3 branch.

[2015-08-14 09:39] htgoebel commented on #1362
Todo; Check how py2exe, py2app and bbfreeze handle this. Are they including all data-files?

[2015-08-14 09:43] htgoebel commented on #1325
@codewarrior0 Now that you are the most experienced regarding this encoding-stuff, I'd be happy if you could take this issue.

[2015-08-14 10:11] robert-boulanger commented on #1413
I installed it via pip

[2015-08-14 10:14] matysek commented on #1413
@robert-boulanger Do you have any simple code example that reproduces the issue?

[2015-08-14 10:14] robert-boulanger commented on #1413
lnstalled it via pip ZODB3

    pip install ZODB3

but I figured out, that adding excludes=['zodbpickle.pickle_3'],  like here

    a = Analysis(['myscript.py'],
             excludes=['zodbpickle.pickle_3'],
             pathex=['/Users/robert/Development/python/requirements'],
             hiddenimports=[],
             hookspath=None,
             runtime_hooks=None)

and using the current dev

[2015-08-14 10:29] htgoebel commented on #1283
@thorsant Please try (and use :-) the current `python3`-branch, support for `pkgutil.extend_path()` is implemented there already. The python3-branch works with python 2.7, too.

These test-cases basically work, so support for `pkgutil.extend_path()` is implemented and done already. **So consider this done**.

These test-cases work only "basically", because `pkgutil.extend_path()` behaves different

[2015-08-14 10:51] robert-boulanger commented on #1413
@matysek: here a short example to reproduce:

    import ZODB, ZODB.FileStorage
    from  BTrees.OOBTree import OOBTree
    from persistent import Persistent
    import transaction
    from random import randrange

    class Test():
        def __init__(self,i):
            self.i=i*i

    if __name__ == "__main__":
        storage = ZODB.FileStorage.FileStorage('test.fs')
        db = ZODB.DB(sto

[2015-08-14 12:57] matysek commented on #1404
* I'm able to reproduce this on linux.
* It's interesting that dynamic libraries ends with `.pyd`.
* To fix this PyInstaller should handle files `lib*.pyd` `lib*.so` as binary files.
  * I think having in hookutils a function like `collect_dylib` to collect libraries that are bundled with the package will be useful.

[2015-08-14 13:37] matysek commented on #1404
I found out that file `hook-zmq.py` already contains something like that. I will reuse that and generalize that.

[2015-08-14 13:42] codewarrior0 commented on #1325
Sure. I think the simplest and most flexible solution is to have `exec_command` set PYTHONIOENCODING=utf8 and decode output using utf8 on Python 3, to not do either on Python 2, and have an optional `encoding` kwarg to use on Python 3 for calling non-Python programs.

[2015-08-14 14:37] cournape commented on #1415
So actually, this is still broken in `python3`. Looks like there is a typo, at least for python 2 https://github.com/pyinstaller/pyinstaller/blob/python3/PyInstaller/hooks/hook-sqlite3.py#L18, as tests there are in the package `sqlite3.test`, not `sqlite3.tests`.

[2015-08-14 14:55] codewarrior0 opened #1418 "Unit-tests should send test fail reason to stdout rather than stderr"
The tests currently raise SystemExit on failure, which sends its message to stderr. The message is mixed in with the build debug output and the loader debug output. Almost nothing goes to stdout, so this would make it easier to find the failure reason.

[2015-08-14 16:14] matysek commented on #1404
@nexcvon Could you test the latest `python3`? It should be fixed.

[2015-08-14 16:14] #1404 closed

[2015-08-14 16:16] matysek commented on #1415
@cournape The typo should be now fixed. Thanks for reporting.

[2015-08-14 20:00] matysek commented on #1413
I'm closing this. The --exclud-module option is fixed in python3 branch and your example worked for me with Python 3.4 on OSX.

[2015-08-14 20:00] #1413 closed

[2015-08-15 06:17] leycec commented on #1412
:+1:

While connecting Mercurial to Git _is_ feasible, all of the open-source bridges I've uncovered have varied from mildly to disastrously broken – presumably due to there existing no clean mapping between dissimilar Mercurial and Git concepts.

## Mercurial Branches: Why They Suck and You Should Hate Them

To highlight only one of the many discontiguities between the two systems, let's talk bra

[2015-08-15 14:44] matysek commented on #1412
This should not be hard:
* I already fixed modulegraph to use relative imports.
* When fixing altgraph to use relative imports then with modulegraph update you need  to edit 'altgraph' imports in probably two files.

[2015-08-15 14:46] matysek commented on #1412
@leycec I think I would try `Approach B` but I have no strong preference.

In addition to whatever approach, I would try to ask modulegraph author to switch to git:
https://bitbucket.org/ronaldoussoren/modulegraph/issues/30

[2015-08-15 16:39] codewarrior0 commented on #1366
Done in 30de5bb81eafa114d94aa7c609c772f11c67ab4a

[2015-08-15 16:39] #1366 closed

[2015-08-15 16:44] htgoebel commented on #1366
Great. Thanks.

[2015-08-15 17:12] codewarrior0 commented on #1417
For the record, I can now build my main project MCEdit (Python 2.7, numpy, PySide, and others) using the python3 branch, so this has my approval :+1:

[2015-08-15 17:15] codewarrior0 commented on #901
Fixed with ab5ab6fdcf160e0c5ecb341d33c9730faed67a37

[2015-08-15 17:15] #901 closed

[2015-08-15 17:17] codewarrior0 commented on #1396
@matysek Do you mind if I rebuild and commit the bootloader? Or would you rather take care of it yourself?

@TheSomeMan You can try the current `python3` branch if you're able to also rebuild the bootloader `(cd bootloader; waf all)`. I am very confident this is fixed, since I have a unit test that strips the MS-DOS filenames from a folder before running a built exe in it.

[2015-08-15 17:19] codewarrior0 commented on #1323
I am confident that this is fixed in the `python3` branch. I have a functional test that makes sure all paths on Python 3 are not ShortFileNames.

[2015-08-15 17:23] codewarrior0 commented on #1295
This is fixed in `python3` branch. The Python DLL is now loaded using the wide-string Windows API, so any unicode path is allowed.

[2015-08-15 17:23] #1295 closed

[2015-08-15 17:25] codewarrior0 commented on #1291
Can you provide the Side-By-Side error information [as described here?](https://github.com/pyinstaller/pyinstaller/wiki/How-to-Report-Bugs#errors-specific-to-windows)

[2015-08-15 17:26] codewarrior0 commented on #1224
This is almost certainly fixed in the `python3` branch. ShortPathNames are no longer used internally by the bootloader, and only used when initializing Python 2.7.

Still thinking about `sys._MEIPASSU` and `sys.executableu` as a convenience for users who want to use `unicode` filenames on Python 2.7 for Windows.

[2015-08-15 17:26] #1224 closed

[2015-08-15 17:31] codewarrior0 commented on #1125
:+1:

To collect my data files, for some reason I am using a hookfile for my project modules and calling `hookutils.collect_data_files` on them.

[2015-08-15 17:35] codewarrior0 commented on #1106
I'll work on the pyi-runtime-options next. I'll start with this one for the manifest filename. I think another one to disable ShortFileNames on Python 2.7 would be good to have, as that deviates from Python's default behavior and users may want to disable it. I also see a request for a background option on OS X.

Can you think of any other options?

[2015-08-15 17:59] codewarrior0 commented on #827
Yes, normally when you install the newer version, it also installs a "policy file" into the winsxs folder that will redirect requests for the older version to the newer one.

I'm can't tell from the description whether this is a build-time issue or a run-time one, but my guess is that it's build time. I think PyInstaller's assembly finding doesn't honor the policy file, and tries to find the older

[2015-08-15 18:00] codewarrior0 commented on #827
Windows 7 and later have the newer versions of the CRT and the policy file pre-installed.

[2015-08-15 18:21] codewarrior0 commented on #802
I believe the solution is to have `PyInstaller.depend.bindepend.getfullnameof()` on Windows inspect the PE file headers of any DLLs found and ignore ones whose machine type (`pe.FILE_HEADER.Machine`) doesn't match the one we're building for.

[2015-08-15 18:35] htgoebel commented on #1106
Maybe we should bring forward #1315 then.

[2015-08-15 18:41] TheSomeMan commented on #1396
I just checked the latest version from the 'python3' branch - now everything works fine.

[2015-08-15 18:46] codewarrior0 commented on #1396
Thanks for testing!

[2015-08-15 18:46] #1396 closed

[2015-08-15 19:39] codewarrior0 commented on #1240
@cclauss Would you mind testing this with the latest `python3` branch? You may have to rebuild the bootloader `(cd bootloader; python waf all)`. The branch now supports Python 2.7, and I've just done a lot of work on the way filename encoding is handled and I'm curious if the I/O encoding is still a problem on OS X.

I've heard that the tests you helped with are now passing on OS X. If you want to

[2015-08-15 19:48] codewarrior0 commented on #1104
I just noticed something goofy:  PyInstaller sets the flag Py_IgnoreEnvironmentFlag, and then tries to use the PYTHONPATH environment to influence Python's initial sys.path. So our use of PYTHONPATH is a complete no-op.

We only set PYTHONPATH before calling Py_Initialize, and only on Python 2. But for Python 2, we don't even need to set sys.path before initializing (only Python 3 cares about that

[2015-08-15 21:21] codewarrior0 commented on #1104
Fixed in 968311ea6fb3f5731c4a314bb8bf0c9603d79011

PyInstaller no longer touches the PYTHONPATH environ.

[2015-08-15 21:21] #1104 closed

[2015-08-15 21:28] codewarrior0 commented on #1076
No system information, no python version or pyinstaller version, no response to request for environment info. Open a new issue if you still have this problem.

https://github.com/pyinstaller/pyinstaller/wiki/How-to-Report-Bugs

[2015-08-15 21:28] #1076 closed

[2015-08-15 21:30] codewarrior0 commented on #772
This is essentially fixed. PyInstaller now bundles the required redistributables with the built app.

[2015-08-15 21:30] #772 closed

[2015-08-15 21:37] codewarrior0 commented on #532
This is already done: PyInstaller is neither affected by nor affects the PYTHONHOME and PYTHONPATH environs. The C API is used to pass PyInstaller's own settings to Python and to tell Python to ignore the environs.

[2015-08-15 21:37] #532 closed

[2015-08-15 21:40] codewarrior0 commented on #522
Duplicate of #1106, which has a more in-depth discussion of problem and solution.

[2015-08-15 21:40] #522 closed

[2015-08-15 21:47] matysek commented on #1382
Relative import tests works on Python 3.3/3.4 without any special modifications.

[2015-08-15 21:47] #1382 closed

[2015-08-15 21:50] codewarrior0 opened #1420 "Distutils package not bundled when run from virtualenv."
Built exe produces this error:
[code]

Added a functional test in 27260b0abd05c81aa00c5453df572c9e6bf7eadd, currently marked xfail:

[code]

[2015-08-15 22:55] akbhat commented on #1346
HT
I tried all combinations (onedir, noupx, etc) but run into the same issue. Device is a class inside junos so this particular error is weird since the reference to the module in the error message is devices.junos which seems to be inverted. (This was the same with pyinstaller3 branch before your latest check in - see my previous comment)

There are multiple warnings in the warnd.txt including th

[2015-08-16 06:19] leycec commented on #1412
**Great!** As [you say](https://github.com/pyinstaller/pyinstaller/issues/1412#issuecomment-131388906), even manually applying the needed edits to embedded copies of these libraries shouldn't be _that_ laborious. Thanks to the addictive potato chips and role-playing games, however, I'm lazy. It should be fairly trivial for me to doctor up a `sed`-based shell script automating those edits for us.

[2015-08-16 08:25] htgoebel commented on #1402
Test-cases for relative imports for Python 3.3 and 3.4 work again, see https://github.com/pyinstaller/pyinstaller/issues/1382#issuecomment-131452540

[2015-08-16 15:54] htgoebel commented on #1412
Okay, now here is my statement:

IMHO modulgraph is not as elaborated as we (or at least I) thought. We already have two major issues:

  1. hooks are not executed at the place we need them to be b executed, see #1322, #1367 and leycec's glorious node ordering(#1393)
  2. imports are processed recursively, which leads to "maximum recursion depth exceeded" errors, see #1289, #1365.

 In addition:

[2015-08-16 15:58] htgoebel commented on #1412
The modulegraph author just declined switching to git: https://bitbucket.org/ronaldoussoren/modulegraph/issues/30 was closed with "won't fix". He did not even read the blog-post matysek referred to , not to speak of leycec's analysis here.

[2015-08-16 16:01] htgoebel commented on #439
Given the problem we have in modulegraph at the moment (see https://github.com/pyinstaller/pyinstaller/issues/1412#issuecomment-131576369), can you remember what have been the reasons for using it?

[2015-08-16 17:27] htgoebel commented on #1374
@matysek Do we have a test-case for this? `import/test_ctypes_cdll_c.py` passes with both Python 2.7 and 3.3

[2015-08-16 18:29] matysek commented on #439
* for me it was harder to understand the code
* maintainability - I wanted to rather use a library with some documentation
* python3 - modulegraph was already working with Python 3
* graph data representation - better expresses module dependencies, old  code was flat data structure
* old code had many shortcomings or was not suitable for adding new features and long-term improvements

Modulegraph

[2015-08-16 18:49] htgoebel commented on #439
Thanks.

[2015-08-16 19:02] matysek commented on #1412
Everything is better than the old code, even modulegraph.

[2015-08-16 19:03] matysek commented on #1412
This just confirms that trying to cooperate with modulegraph author would be hard.

[2015-08-16 19:05] matysek commented on #1412
I think we all agreed on Approach B.

@leycec Are you going to lead this effort?

[2015-08-16 19:25] matysek commented on #1374
@htgoebel Do you mean in py.test suite? In py.test there is nothing like that.

Could you make a new bug report with a list of tests that are important and you'd like me to move them to py.test?

[2015-08-16 19:33] htgoebel commented on #1374
@matysek  I meant test-cases at all. There is only one: `test_ctypes_cdll_c`. And this is a no-brainer since the resp. dll/so is collected anyway.

I'll implement some more :-) And I'll implement them for the new test-suite. This is a good training for me.

[2015-08-16 19:36] matysek commented on #1374
@htgoebel Just to let you know that yesterday I implemented support for .toc files:
* Just create a new test script in ./functional/scripts/pyi_scriptname.py and
* then just create .toc like ./functional/logs/pyi_scriptname.toc and
* it should be picked  up automatically

[2015-08-16 20:00] htgoebel commented on #1374
@matysek I've seen this. Thanks. I just pushed support for having the source within the test-function, see 7c0bcf1c.

Regarding the ctypes-tests: We have to thing about how to test this at all. The `test_ctypes_CDLL_find_library__nss_files` I just added passes, but `libnss_files.so` is not included in the frozen app. Am I missing something here?

[2015-08-16 20:06] matysek commented on #1396
@codewarrior0 Could you do that?
* Are you going  to use mingw or msvc? I'd like to keep using mingw for Windows.
* Are you able to recompile both - 32/64 bit?

[2015-08-16 20:06] matysek commented on #1396
I will recompile for linux/osx.

[2015-08-16 20:20] codewarrior0 commented on #1396
I will use MinGW-x64 v4.9.2. I can recompile both - I fixed the `--target-arch` option not too long ago.

[2015-08-16 20:33] codewarrior0 opened #1422 "Filename encoding in archive files"
Filenames are encoded as UTF-8 when stored in the archive. This is correct, as we can't know the encoding the system will have when the app is run. There are two edge-cases remaining for properly encoding filenames, and hopefully the last two I'll have to think about:

**Archive extraction:** On Linux systems where the locale encoding is not UTF-8, during archive extraction the filename needs to b

[2015-08-16 20:39] htgoebel opened #1423 "travis tests seam to fail randomly"
travis tests seam to fail randomly:

* 734.2 (Py 3.3): test_zmq[onefile]
* 734.3 (Py 3.4): test_tkinter[onedir]

And then, without any related changes:

* 735.1 (Py 2.7): test_zmq[onedir]: No executable file was found
* 738.1 (Py 2.7): test_zmq[onedir]: No executable file was found

But then, without any meaningful changes at all (only to README files):
* 739.1 (Py 2.7): test_tkinter[onedir]: No e

[2015-08-16 20:42] htgoebel commented on #1422
Good that you spotted this. Is there any need to adopt archive-viewer and maybe even the test-cases, too? If so, I'll put this into you experienced hands.

[2015-08-16 20:50] codewarrior0 commented on #1422
I haven't looked, but I'd expect that if anything is needed for the archive-viewer or test-cases, it would be to decode with utf8 and encode with fsencoding, or vice versa, and even then only on python 2.

[2015-08-16 21:02] codewarrior0 commented on #1315
This is because the only other place to put the value would be in the file's data. The TOC tuple has (internal name, filename, typecode), but in the C code, all we have is (internal name, typecode). So the two choices are to have `"W ignore"` as the internal name with no file data, or to just have `"W"` as the internal name and `"ignore"` as the file data. Unless we need to have an option with a f

[2015-08-16 21:17] codewarrior0 commented on #1423
In the test_zmq failure in 738.1:

`INFO: wrote /tmp/pytest-0/popen-gw2/test_zmq_onefile_0/django_site.spec`

Why is it building django_site.py?

Oh, I see. Default arguments to test_script are `[]` when they should be `None`. Fix coming right up.

[2015-08-16 21:21] matysek commented on #802
This sounds feasible.

[2015-08-16 21:24] matysek commented on #827
Do we care much about xp/vista?

[2015-08-16 21:30] codewarrior0 commented on #1423
Fixed!

[2015-08-16 21:30] #1423 closed

[2015-08-16 21:39] codewarrior0 commented on #827
Maybe. Different sources put the market share of XP just above or below that of all versions of OS X. One source (Kaspersky Labs) says XP is still widely used in East Asia, which is understandable as those areas have lots of netcafes who wouldn't be in any hurry to upgrade.

[2015-08-16 21:41] codewarrior0 commented on #827
I think the core issue (ignoring policy files) is something we need to address anyway, to be compatible with all assemblies.

[2015-08-16 22:39] matysek commented on #1423
It usually happened only after running django tests. I haven't found out yet why. Thanks if that really fixes it.

[2015-08-16 22:45] matysek commented on #1374
libnss_files* is in the _unix_excludes list in ./PyInstaller/depend/dylib.py.

[2015-08-16 22:51] codewarrior0 commented on #1423
It's the [Mutable Default Arguments](http://docs.python-guide.org/en/latest/writing/gotchas/) gotcha. The django test uses `app_name` which would get stored in `app_args` and reused for later tests.

[2015-08-16 23:23] matysek opened #1424 "remove old branches"
There are several branches in the PyInstaller repository. I think most of them could be deleted because their are old or unused anymore.

[2015-08-17 07:22] htgoebel commented on #1424
ACK

[2015-08-17 07:25] htgoebel commented on #1423
I had a bad feeling when I saw these lists as default arguments. We should get rid of them ASAP, bei either replacing by `None` or an empty tuple `()` (the later is a tick I've seen in modulegraph).

[2015-08-17 07:27] htgoebel commented on #1374
IC. Thanks. Any idea what to use instead? ghostscript should be available on may systems, too.

[2015-08-17 07:30] htgoebel commented on #1315
I'll leave this decision to you, as you know the bootloader code much better then me. If we (say: you :-) are going to implement some access-function we could change this easily if need arises.

[2015-08-17 07:33] htgoebel commented on #827
I'm in favour of *not* supporting XP, as even the vendor stopped support. Security patches are not available any more. So we would encourage using a insecurity operation system.

[2015-08-17 07:51] leycec commented on #1412
**I'd love to!** Sadly, I'm a weak-willed man with looming deadlines. "Enthusiastically contribute to" might be a better choice of words. :smile:

That said, I understand this is a high-priority topic that really needs to get rolling _today_. Before I go running around with rusty scissors, perhaps we could come to some agreement on an Action Plan<sup>TM</sup>. (_Bureaucracy._ It is good.)

Thanks

[2015-08-17 08:02] htgoebel commented on #1412
I see no need for hurry. Better test i thoroughly and agree on the way to go than mixing up thing.

Re. `git subtree`: You may be right here. I simply did not find a way to extract only one subdirectory from "upstream". Seam like I've at last found my git-master.

Re. `master` branch: I did not use mercurial since long. So I simply took *any* branch*. You seam to know this much better than me, so

[2015-08-17 08:17] mo0feng opened #1425 "hook for cryptography 1.0 - changes in __cffi__ bindings"
[code]
I am in client.py:

from OpenSSL import SSL, crypto
import sys, os, socket
[code]

I try to:

[code]
build log：
[code]

[2015-08-17 08:39] leycec commented on #1412
You're freaking clever. It's scary. I see what you're [doing here](https://gist.github.com/htgoebel/a88f2e7271c40ebf938b) now.

You maintain two parallel `hg` and `git` repositories **tracking the same top-level directory.** Nice. Since formal tools (e.g., `hg`-to-`git` bridges) can't help us here, this is probably the best and only approach if we _really_ wanted to stroll down that road.

Impuden

[2015-08-17 09:03] htgoebel commented on #1425
Please provide more information: https://github.com/pyinstaller/pyinstaller/wiki/How-to-Report-Bugs

[2015-08-17 09:10] leycec commented on #1412
**Ugh.** My `git` foo is too pitifully weak. I bow before the `git` guru. (_For now._)

The problem with `git subtree` is that it's designed to unconditionally pull the entire remote repository into a subdirectory of the local repository. There's no provision for sparse checkouts or subdirectory filters. It's all or nothing.

What you want appears to be feasible via the [`git filter-branch` subcom

[2015-08-17 09:10] matysek commented on #1374
What about libusb?  I think that the `hook-usb.py` could be dropped when resolving ctypes imports is working.

[2015-08-17 09:22] mo0feng commented on #1425
@htgoebel update

[2015-08-17 10:21] matysek commented on #1425
@mo0feng e.g. you haven't specified what version of additional modules you use and how to install them or what exact version of PyInstaller you use and how it was installed.

[2015-08-17 10:26] mo0feng commented on #1425
@matysek I am in "https://github.com/pyinstaller/pyinstaller/tree/python3" this branch of version

[2015-08-17 10:31] htgoebel commented on #1374
libusb sounds good. I'll add this, too.

[2015-08-17 14:21] matysek commented on #1425
@mo0feng When you use `--hidden-import=cryptography.hazmat.bindings.openssl.XYZ` does it then work for you?

[2015-08-17 14:44] matysek commented on #1425
@mo0feng I fixed the hook-cryptography. Please the updated python3 branch again.

[2015-08-17 16:38] htgoebel commented on #1374
I just re-enabled basic support for Python 2.7, 3.3 and 3.5 and some test-cases on my personal repository at https://github.com/htgoebel/pyinstaller/tree/1374-reenable-scanning-code-for-ctypes-dlls.
libusb-1.0 is not installed on travis, but ghostscript is and all test pass.
I still need to add tests for other code-patterns as handled in https://github.com/htgoebel/pyinstaller/blob/1374-reenable-s

[2015-08-17 18:37] codewarrior0 commented on #827
I don't think we do anything to *explicitly support* XP, and I haven't come across a need to do anything that would make it stop working on XP.

Handling assemblies in the general case is something we should do anyway. It's the same thing as how we bundle Frameworks on OS X and edit the linkage info to reflect that the Framework is inside the app bundle instead of installed in the system.

[2015-08-17 18:39] topiwala commented on #1408
I have a python2.7 project, and I don't think we can move to python3. I tried packaging with python3 branch, and ran into this error:

Is there any other way? Perhaps a merge of the changes from this branch into the main dev branch for just the cipher support?

Traceback (most recent call last):
  File "/usr/local/bin/pyinstaller", line 9, in <module>
    load_entry_point('PyInstaller==3.0.dev7165

[2015-08-17 18:55] codewarrior0 commented on #1408
I think that's a bug exposed by your specfile - the `exec()` should have `locals` and `globals` arguments.

[2015-08-17 19:03] codewarrior0 commented on #1408
Can you try changing this line: `exec(text, spec_namespace)`

To this: `exec(text, spec_namespace, {})`

And tell me if it fixes the problem?

[2015-08-17 22:20] topiwala commented on #1408
That didn't work. However, a minor modification

[code]
caused me to get further along, until I hit the error below:

[code]

[2015-08-18 01:10] codewarrior0 commented on #1408
These are your system specs from another issue:

I have a feeling this would work for you on Python 2.7.9 (it has further changes for python 3 compatibility), but I found out 2.7.6 is the last version offered on that version of Ubuntu, so I won't ask you to change Python versions.

The `exec` problem is [Python issue 21591](http://bugs.python.org/issue21591), fixed in 2.7.9, so we'll need to use a

[2015-08-18 01:33] mo0feng commented on #1425
@matysek

When you use --hidden-import=cryptography.hazmat.bindings.openssl.XYZ does it then work for you?
Re:don't work
==========================
I fixed the hook-cryptography. Please the updated python3 branch again.
Re:thank you!
now let me try this python3 branch.

[2015-08-18 02:17] mo0feng commented on #1425
@matysek I use the branch version  encountered an error：
pyinstaller --onefile client.py
46 INFO: PyInstaller version 3.0dev
47 INFO: wrote D:\hj_workflow\cmdb\new_win_client\client.spec
48 INFO: UPX is not available.
59 INFO: Extending PYTHONPATH with D:\hj_workflow\cmdb\new_win_client
59 INFO: checking Analysis
59 INFO: Building Analysis because out00-Analysis.toc is non existent
59 INFO: Initia

[2015-08-18 02:27] mo0feng commented on #1425
@matysek
Name: cryptography
Version: 0.9.2
Home-page: https://github.com/pyca/cryptography

[2015-08-18 06:52] matysek commented on #1425
I've got this import error too. This is probably caused by changes in the `cryptography 1.0`:
https://github.com/pyca/cryptography/blob/master/CHANGELOG.rst
[code]
* cryptography <1.0 contained filenames `_cffi_.pyd` but with 1.0 those file aren't there anymore
* This needs more investigation how it should be fixed.

@mo0feng As a workaround you could try to use 0.9 and try include 'osrandom.h` as

[2015-08-18 06:57] leycec commented on #1412
For disambiguity with the existing `altgraph` and `modulegraph` projects, we probably want to either:

* Merge `altgraph` and `modulegraph` into a new project. **I propose the name `pyramod`,** for it is punny. To simplify PyInstaller integration, this project would contain the `altgraph` and `modulegraph` packages under their existing names as top-level subdirectories. This has the advantage of p

[2015-08-18 06:59] mo0feng commented on #1425
Thank you! @matysek
I try to use 0.9.

[2015-08-18 07:51] htgoebel commented on #1408
I tested this with Python 2.7.4:

**fails**
[code]

**fails**
[code]

**passes (but does not what we want)**
[code]
**passes**
[code]
**passes**
[code]

I'm going to implement this work-around.

[2015-08-18 09:26] mo0feng commented on #1425
@matysek
Thanks for your help , i was successful when i copy files by your guidance.

[2015-08-18 11:28] codewarrior0 commented on #1412
I've gone down the road of using submodules and subtrees to publish components of a project as "independent" projects. It was more hassle than it was worth. Nowadays, I just write more than one setup.py to spit out a bunch of different eggs, sdists, and other artifacts for each subproject, which is all kept in the same repo with the main project. If anybody wants to hack on my subprojects, they ca

[2015-08-19 03:48] nexcvon commented on #1404
I tested. It works now.
But I found two `libsodium.pyd`: one in dist directory, another one in `zmq` subdirectory. Would this become a problem? I think one DLL should not be loaded multiple times.

[2015-08-19 18:32] akbhat commented on #1346
Did anybody get a chance to look at this? Would really appreciate help in resolving this.

[2015-08-21 08:40] htgoebel opened #1427 "Replace skipif_xxx for platform- and version-specific tests by markers"
From https://github.com/pyinstaller/pyinstaller/pull/1426/files#r37605892 by @codewarrior0

[2015-08-21 11:16] shrikrishnaholla opened #1428 "Errors out with "libz.so.1 file too short" (or something similar) when creating file in /tmp fails"
Problem detected downstream with docker/compose#1761

Basically, if creating files in `/tmp` fails for whatever reason, the executable panics and becomes useless. Maybe there should be some kind of fallback if file creation at `/tmp` fails?

In my case, somehow `/tmp` had gotten mounted to a block device with a `1M` size limit. So when the [docker-compose](https://github.com/docker/compose) binary

[2015-08-21 11:43] julienvincent commented on #1428
+1 would like a fix

[2015-08-21 11:56] codewarrior0 commented on #1428
I have a feeling PyInstaller apps aren't the only thing that break if your `/tmp` is suddenly non-writable. Besides, where would you even fall back to?

[2015-08-21 12:20] shrikrishnaholla commented on #1428
That wouldn't matter as I was running this on a server and not on a desktop. Hence I needed only a couple of programs running.
I was just wondering whether adding a try catch block to `mktemp()` and trying alternative locations (`$HOME/.tmp` maybe?) would be more helpful.
Although solving this problem manually seems simple, adding simple fallbacks like these helps automate away stuff without havin

[2015-08-21 12:34] codewarrior0 commented on #1428
That makes no difference. Having a non-writable `/tmp` is a sensible failure condition for a program that needs to write temporary files. We're not going to clutter your home directory with files that won't ever be deleted after the app crashes. The best "fix" you can hope for is for us to fail sooner, when the `write()` fails, rather than later, when the incomplete temp folder is accessed.

[2015-08-21 12:36] codewarrior0 opened #1429 "Archive extraction should detect incomplete writes"
In `pyi_arch_extract2fs`, the return value of `fwrite()` is not checked against the file size. We should do this to detect incomplete writes due to the `/tmp` filesystem being full or non-writable.

[2015-08-21 12:37] codewarrior0 commented on #1428
#1429 describes the fix.

[2015-08-21 12:37] #1428 closed

[2015-08-21 12:42] codewarrior0 commented on #1428
If you need to direct a pyinstaller app to a different temp folder, you may use the `TMPDIR` environment variable.

[2015-08-21 21:41] adammenges opened #1430 "ImportError -- not handing relative imports?"
I'm trying to use pyinstaller on a relatively simple script that uses scikit-learn, however I get the following:

[code]

Importing:

[code]

[2015-08-21 23:04] codewarrior0 commented on #1429
Fixed in 1b94668aeb69d993c1e2cab3460c3d76d8ad09a8

[2015-08-21 23:04] #1429 closed

[2015-08-21 23:09] codewarrior0 opened #1431 "Bootloader: Add FATAL_PERROR macro"
Add a variant of the FATALERROR macro, similar to `perror`, which uses `strerror` to also print a description of the error code in `errno`. It can be used to print error messages from stdlib failures like so:

[code]

With output that should look like this:

[code]

Similarly, for Windows OS errors, add a macro FATAL_WINERROR which will use `GetLastError()` and `FormatMessage()` to print the error

[2015-08-22 05:49] shrikrishnaholla commented on #1428
Makes sense. Thanks

[2015-08-22 13:30] codewarrior0 commented on #1430
We will need to add a hook file for the module `sklearn`. It probably just needs to list some hiddenimports, similar to the [skimage.transform hook](https://github.com/pyinstaller/pyinstaller/blob/python3/PyInstaller/hooks/hook-skimage.transform.py)

In the meantime, could you try adding `scipy.linalg.cython_blas` to your `hiddenimports`?

[2015-08-22 13:36] codewarrior0 commented on #1106
Fixed in 28867f6dfe272f50e76458a7e10e552140c866b5

[2015-08-22 13:36] #1106 closed

[2015-08-22 13:40] codewarrior0 commented on #1315
Implemented in 388dfc1a2c66757ee39a0f9803b76565678438c4. Option value follows the option name in `ptoc->name` with any one character separating them.

Hrm. Should probably define a delimiter between the name and value. And since OPTION entries don't get file data stored anyway, we could allow TOC entries like ("W", "ignore", "OPTION") where we insert the delimiter ourselves.

[2015-08-22 13:40] #1315 closed

[2015-08-22 19:11] #1395 closed

[2015-08-22 19:54] htgoebel commented on #1315
Thanks for implementing this :-)

Sounds reasonable,

[2015-08-22 19:56] htgoebel commented on #1431
Sounds like a good idea.

[2015-08-22 20:01] htgoebel commented on #1428
@shrikrishnaholla Like any other good Unix application does :-) So no need for any fall-back.

[2015-08-22 22:17] codewarrior0 commented on #1424
`no-msvcrt` branch can be deleted, since `msvcrt71.dll` is no longer linked. For MSVC builds, `libc` is statically-linked; for MinGW builds, the `msvcrt.dll` is linked instead - this is the MSVC 6.0 version which is included with all Windows versions starting with XP.

`win32-unicode` branch can be deleted. I recently changed the bootloader and build scripts to use the Unicode entry point `wmain`/

[2015-08-24 08:29] olemoign commented on #1420
I second this, having the same problem with my project.

[2015-08-24 08:31] olemoign commented on #842
I did a fresh install with the `python3`branch but I can't test if the problem is solved as I'm facing #1420.

[2015-08-24 15:27] akbhat commented on #1346
Do I need to open a new ticket or can this be reopened?

[2015-08-24 15:58] matysek commented on #1424
* I think the branch `no-msvcrt` was meant to be more radical: 'To not use any function from the msvcrt dll at all.'
* branch `fix_merge_case`  differs in just one commit:
https://github.com/pyinstaller/pyinstaller/compare/python3...fix_merge_case
* The branch `makespec_ng` was started to implement a new format of .spec file. There diff between `python3` and `makespec_ng` is 129 commits:
https://g

[2015-08-24 16:33] matysek opened #1433 "add hook for package ncclient"
* This issue is based on discussion from #1346.
* `ncclient` allows to communicate and configure network devices:
  * https://pypi.python.org/pypi/ncclient
  * https://ncclient.readthedocs.org/en/latest/
* Modules for communication with devices from different vendors are imported dynamically and thus pyinstaller cannot find them.

Fix: Create file `hook-ncclient.py` and collect submodules from `nc

[2015-08-24 16:39] matysek commented on #1346
@akbhat I found out that this is an issue of another package - `ncclient` and not directly `jnpr.junos`.

Try to use option `--hidden-import=ncclient.devices.junos`.

Please add more comments to #1432

[2015-08-24 19:44] tartley commented on #1357
You could add a line to the python3 branch README install instructions saying that this error is harmless. I just wasted a bunch of time trying to fix it and googling it before ending up here. Presumably every new user does the same?

[2015-08-24 19:55] adammenges commented on #1430
Thanks @codewarrior0 -- got that guy working, now I'm on:

[code]

Figured I could solve it the same way with a hookfile `hook-scipy.misc.py`:
[code]

But it doesn't this time.

How should I be interpreting that output to know which module to add my hidden imports to?

[2015-08-24 20:01] adammenges commented on #1430
Also, is there a quicker way to go through this, rather then trial and error? I see the docs mention `python -v`, but based on that output I'm not sure which imports are hidden and which are not.

Appreciate the help.

[2015-08-24 20:04] adammenges commented on #1430
Oh, and once I'm done going through all these scipy guys, I'll submit a pull request.

[2015-08-24 20:26] tartley opened #1434 "onefile output is different size every time (unreliable order of dict iteration)"
Running pyinstaller several times in succession creates an executable with a different size every time. The size itself isn't a problem, it's the lack of reproducibility that worries me.

    for n in 1 2 3 4 ; do rm -rf build dist; python $(which pyinstaller) --onefile main.py 2>out; ls -l dist/main; done
    -rwxr-xr-x 1 jhartley jhartley 4878415 Aug 24 21:18 dist/main
    -rwxr-xr-x 1 jhartley

[2015-08-24 20:40] matysek commented on #1430
[code]
@adammenges It looks like hiddenimport won't help you this time. This is more some kind of syntax issue or anything like that. The error complains just that the module cannot be imported but not that the module 'is missingr' or 'could not be found'.

[2015-08-24 21:01] matysek opened #1435 "python guidebook: update pyinstaller"
Create pull request for https://github.com/kennethreitz/python-guide that will update the notes about pyinstaller at this page: http://docs.python-guide.org/en/latest/shipping/freezing/

Thinks to update:
- PyInstaller supports Python 3
- remove the prerequisite pywin32 - it will get installed automatically
- pyinstaller bundles MS Visual C++ dlls
- import from zip files
  ...

[2015-08-24 21:22] tartley opened #1436 "Running executable via the PATH gives "Cannot find self...""
Running my generated executable using

    $ dist/hello
    hello world

works fine, but if I then move it to anywhere on the $PATH:

    $ mv dist/hello ~/bin
    $ hello
    Cannot open self /home/jhartley/scratch/pyexe/hello or archive /home/jhartley/scratch/pyexe/hello.pkg
    $ echo $?
    255

It works whenever I type in the full absolute or relative path to the executable, but doesn't work

[2015-08-24 21:26] tartley commented on #1435
FWIW just yesterday I submitted a modest PR to python-guide:
https://github.com/kennethreitz/python-guide/pull/548
amending the opening paras of both the 'freezing' and 'packaging' pages, aiming to discuss the pros and cons of packaging versus freezing, and when you would choose each. I did this as a way to get feeback on the PR before embarking on the planned next task of adding pyinstaller notes

[2015-08-24 22:25] matysek commented on #1404
nexcvon, I don't think this is a  problem. It should be safe to remove `libsodium.pyd` from dist directory because pyzmq is looking for libsodium in `./dist/app_name/zmq/`.

[2015-08-24 22:27] adammenges commented on #1430
Hum, why would this happen?

For what its worth, perhaps this is obvious, but the script runs without a hiccup. I only see this on the pyinstaller version.

# Sent from my iPhone, excuse my brevity.

[2015-08-24 23:20] akbhat opened #1437 "scan_code_for_ctypes - only for pure python ( no attribute 'co_code' )"
This is related to ticket #1346. The solution worked for Windows but the following error is encountered when executed on Ubuntu. How do I resolve this?
[code]

[2015-08-25 01:42] codewarrior0 commented on #1436
I think this was broken in 0d599eec02894dd383785a21b0f7689b08a905a3.

[StackOverflow](http://stackoverflow.com/questions/933850/how-to-find-the-location-of-the-executable-in-c) describes ways to find the executable on different platforms, and notes that `argv[0]` isn't 100% trustworthy and that the problem of finding the exe is hard on platforms without `/proc` or platform-specific functions.

[2015-08-25 02:20] codewarrior0 commented on #1208
I don't think this issue is on the python 3 branch, and I don't think it's related to SetProgramName either. [On the develop branch,](https://github.com/pyinstaller/pyinstaller/blob/develop/bootloader/common/pyi_pythonlib.c#L236) `argv[0]` is explicitly modified and replaced with archivename. On the python3 branch, `argv` is passed to python without modification.

SetProgramName only changes `sys.

[2015-08-25 04:44] codewarrior0 commented on #1434
This *is* worrying.

I suspect it is because things like modules are kept in a `dict` at some point and then read out in an undefined (`dict`-determined) order, and if hash seed randomization is enabled, each run will give a different order.

It would be even more worrying if the contents of the TOC files are changing, and not just with respect to the ordering.

[2015-08-25 04:46] codewarrior0 commented on #1420
Upgrading this to `@high`. Having things work right in a virtualenv is important, as a lot of build systems (mine personally) will use a virtualenv for the build environment to make sure there are no surprises if a package is upgraded to a newer version.

[2015-08-25 04:48] codewarrior0 commented on #1420
I looked into this briefly, but only got this far: The distutils hook will change the path for the distutils package itself, which gets `distutils/__init__.py` included, but the change doesn't affect any of the modules contained in the package.

[2015-08-25 04:53] codewarrior0 commented on #1430
`scipy.misc.doccer` should be getting found normally. The syntax it uses is `from . import doccer` so I'm wondering if something is broken with the way we handle relative imports.

[2015-08-25 05:48] codewarrior0 commented on #1143
R6034 is "An application has made an attempt to load the C runtime library incorrectly." which means it tried to load a version of MSVCRT that is shipped as an Assembly without first setting an activation context. This is usually MSVCRT90.DLL that is used by Python 2.7.

However, Python 3.3 uses MSVCRT100.DLL, which is *not* shipped as an Assembly. This makes the error a bit obscure, since Python

[2015-08-25 05:48] #1143 closed

[2015-08-25 05:52] codewarrior0 commented on #1208
For the record, I think `sys.argv[0]` should be the name of the program as it was invoked. That is, it should be usable for the symlink purpose in this issue. So giving the unmodified argv to PySys_SetArgv is correct.

On the other hand, `sys.executable` should be the real, absolute path to the program wherever it was installed. This will make it usable for the use-case in #1282

[2015-08-25 05:57] codewarrior0 opened #1438 "Add more different methods to `pyi_path_executable`"
As noted in #1436, the bootloader cannot find its executable using `argv[0]` alone, and fails if the program is run via `$PATH`.

We need to expand `pyi_path_executable` to use different methods for getting the full path [(as listed on StackOverflow)](http://stackoverflow.com/questions/933850/how-to-find-the-location-of-the-executable-in-c):

- `readlink("/proc/self/exe", buf, bufsize)` (Linux)
-

[2015-08-25 06:21] Bluehorn commented on #1070
I just tested the example above with commit 5967ae25ff5541d468eb36a0b640fc6dcdb6a77f and it is still broken. I don't grok why this ticket is closed?

[2015-08-25 07:31] matysek commented on #1420
Does it mean that pyinstaller would have to change path for all distutils modules?

[2015-08-25 07:34] matysek commented on #1430
@codewarrior0 relative imports seem working. I moved a few tests to py.test and they are passing. So maybe a new case with relative imports that we do not handle properly?

@adammenges What is your exact python version?  2.7.10?

[2015-08-25 07:44] matysek commented on #1437
@htgoebel Do you think that modulegraph could pass some wrong module types to `scan_code_for_ctypes`?

[2015-08-25 07:50] matysek commented on #1070
@Bluehorn try the `python3` branch and report back.

[2015-08-25 07:51] codewarrior0 commented on #1420
I don't know. More likely, it's not just distutils, but also any package module where a hook uses `retarget` to change the path. I think the hook worked before with the old 2.1 code (my project used to build correctly in a virtualenv), but now the hook only gets run after all of the imports are graphed? I admit, I haven't paid attention to changes in how hooks are run...

[2015-08-25 09:59] Bluehorn commented on #1070
@matysek: I tried before writing but only got so far:

[code]
I'll retry with a current CPython.

[2015-08-25 11:54] matysek commented on #1070
This is a known issue with python 3.5.

[2015-08-25 18:33] htgoebel commented on #1070
@bluehorn: Python 3.5 ist not yet supported, see https://github.com/pyinstaller/pyinstaller/wiki#development-version

[2015-08-25 18:41] adammenges commented on #1430
@matysek Yep, 2.7.10.

[2015-08-25 18:50] htgoebel commented on #1437
@akbhat We need to know which module is tested here but does not have a code-object. Please rerun with --log=DEBUG and grep the output for `for shared libraries or dlls`.

@matysek: Could be. We are not checking any type at [`get_co_using_ctypes`](https://github.com/pyinstaller/pyinstaller/blob/python3/PyInstaller/depend/analysis.py#L401), and simply use the referer's code-object without checking.

[2015-08-25 18:52] htgoebel commented on #1362
For the records (as this is blocking #1417 and #1402): I'm working on it and already have some idea how to to, but I'm short in spare time to spend on this ATM.

[2015-08-25 18:58] htgoebel commented on #1322
I had a look at this. As far as I understand, `modulegraph` *first* collects all imports recursively and *then* PyInstaller applies the hooks. This is too late for any hook changing the path or retrageting :-(

[2015-08-25 18:59] htgoebel commented on #1420
I'm afraid, we have a more serious problem here, see https://github.com/pyinstaller/pyinstaller/issues/1322#issuecomment-134702072:

[2015-08-25 19:09] htgoebel commented on #1208
@codewarrior0: I support  your latest proposal (https://github.com/pyinstaller/pyinstaller/issues/1208#issuecomment-134488847). This seam to be easier then what's been my idea: determine the path of the executable and the replace the basename by the basename of `argv[0]`.
Could you please take care of implementing this? Thanks!

[2015-08-25 19:14] akbhat commented on #1437
@htgoebel Below is the dll grep with --debug.

abhat@ubuntu:~$ cat build.log | grep dll
4799 DEBUG: Scanning uuid for shared libraries or dlls
4839 WARNING: library rpcrt4.dll required via ctypes not found
4850 DEBUG: Scanning ctypes.util for shared libraries or dlls
4854 DEBUG: Scanning jinja2.debug for shared libraries or dlls
4857 DEBUG: Scanning /home/abhat/Desktop/jdatap.py for shared librari

[2015-08-25 19:26] htgoebel commented on #1434
@tartley Could you please check which of the files in `build` changed? This would help narrowing where to search.

[2015-08-25 20:40] matysek commented on #1420
@htgoebel Does this mean that import hooks should be handled at the same stage as graph hooks?

[2015-08-25 20:42] htgoebel commented on #1437
So `ctypes.macholib.dyld` seams to be to module causing the error. I tried reproducing this without success:

1. A simple program (just `import ctypes.macholib.dyld`) does *not* raise this error
2. In Python 2.7.9 `ctypes.macholib.dyld` does *not* even import `ctypes`, so it should not occur in this list at all.

Could you please try to find a minimal program (not using this junos stuff) which rai

[2015-08-26 04:36] codewarrior0 commented on #1436
Should be fixed in d2e749f0d1fede80828c29837940a9269f596ebb

[2015-08-26 04:36] #1436 closed

[2015-08-26 04:37] codewarrior0 commented on #1438
Done in d2e749f0d1fede80828c29837940a9269f596ebb

[2015-08-26 04:37] #1438 closed

[2015-08-26 04:40] codewarrior0 commented on #1208
Done! d2e749f0d1fede80828c29837940a9269f596ebb

Also added a test, `test_run_from_path_environ`: c0836464767c2a8cc2443d8b2e9a564e4b0fd6b5

Closing as this was already not an issue on `python3` branch, but another test for a symlinked exe would help confirm that.

[2015-08-26 04:40] #1208 closed

[2015-08-26 04:52] codewarrior0 commented on #1424
This would be very radical indeed! It would mean never using even `fopen` or `fwrite` and doing everything through the platform APIs (POSIX, WinAPI, etc). It's like not linking to `libc` on Linux.

The actual goal was to not have the bootloader depend on a system-installed MSVCRT71.dll, so it can run without any prerequisites installed. That is, it would be completely self-contained. To do this, c

[2015-08-26 04:59] codewarrior0 opened #1441 "Examine handling of `u` option (Unbuffered stdio)"
In `pyi_pylib_set_runtime_opts`, we handle the `u` option by calling `setbuf` and `_setmode` on the stdio streams. This is probably a complete no-op on Windows. These set the buffering options for the stdio of the C Run-time library (CRT) that is linked to the bootloader, but the Python DLL is linked to a different version of the CRT. It will create its own stdio streams wrapping the underlying Wi

[2015-08-26 06:49] akbhat commented on #1437
@htgoebel The issue happens if you include the ncclient hidden import. Refer to the minimal code example at https://gist.github.com/akbhat/ff7e0a30c7521902b56b (junos stuff commented out).

pyinstaller --onefile d.py --log=DEBUG --hidden-import=ncclient.devices.junos

8008 INFO: Analyzing d.py
8100 INFO: Looking for import hooks ...
8109 INFO: Processing hook   hook-xml.py
8693 INFO: Processing ho

[2015-08-26 06:58] matysek commented on #1424
@htgoebel What  about the branch `hotfix-1.5.2`? Could it be deleted? It looks like there are no changes worth to backport.

[2015-08-26 07:03] matysek opened #1442 "makespec_ng branch: review changes, merge them, delete branch"
* The branch `makespec_ng` was an attempt to introduce a new format for .spec files.
* It is about 5 years old.
* We  should look at those 129 commits and decide if there is anything worth to merge into develop branch.
* delete this branch then

https://github.com/pyinstaller/pyinstaller/compare/python3...makespec_ng

[2015-08-26 11:58] matysek commented on #1433
@akbhat This should be fixed and pyinstaller should work for you without the option --hiddenimport.

[2015-08-26 11:58] #1433 closed

[2015-08-26 13:08] codewarrior0 commented on #1376
All right, I did some digging through the history and found out *why* that dodgy code for injecting manifests into every `.pyd` was put in place to begin with.

In March 2010 (9e1bbe9171dddde5032465d5f3aaa7e29aecd757 and following), the initial support for program manifests was added to aid with porting to Python 2.6 (presumably the first release to link MSVCRT as an assembly). The `manifest` opti

[2015-08-26 13:25] codewarrior0 commented on #1407
Some information about the Windows release of Python 3.5:

http://stevedower.id.au/blog/building-for-python-3-5/

It seems that 3.5 will link the C Runtime Library using a shared assembly again, after 3.3 and 3.4 simply linked it as a DLL in `c:\windows`.

[2015-08-26 13:47] matysek commented on #1407
@codewarrior0  I was playing with python 3.5 on OS X and I got error `Cannot dlsym for _Py_char2wchar`. Do you have any idea how that could be fixed?
[code]

[2015-08-26 13:52] codewarrior0 commented on #1407
I believe the function is renamed to `Py_DecodeLocale` in 3.5. Good thing, too - you'll need it if you're embedding Python.

[2015-08-26 13:58] codewarrior0 commented on #1407
A quick search and replace for `_Py_char2wchar` -> `Py_DecodeLocale` should get you going.

As for the permanent fix, I think it's best to use the new `Py_DecodeLocale` name in our code, and when loading Python 3 dlls below 3.5, load the `_Py_char2wchar` symbol into that name. It's the same function, just renamed with a "public" name in 3.5.

[2015-08-26 21:16] htgoebel commented on #1424
@matysek I don't know anything about branch `hotfix-1.5.2`. Since we are not longer maintaining v1.5.2, we do not need it anymore. If someone wants to keep it for historic reasons, I'm fine with it.

[2015-08-26 21:29] matysek commented on #1407
@codewarrior0 Thanks for the tip. I got Python 3.5 working on OS X. Not sure about other platforms.

[2015-08-26 23:07] adammenges commented on #1430
Any updates here? Anything I can do to help?

[2015-08-27 01:41] codewarrior0 commented on #1407
I just gave Python 3.5 a try on Windows. `pywin32-219` is not compatible with Python 3.5, but only takes minor tweaks to get it working. After that, I get what looks like a bug in `py.test`:

[code]

[2015-08-27 01:46] codewarrior0 commented on #1407
It looks like the `py.test` bug with 3.5 is already fixed on their master: pytest-dev/pytest#744. Going to install pytest from git and try again.

[2015-08-27 02:07] codewarrior0 commented on #1407
And now I run into another bug installing pytest:

```error in pytest setup command: Invalid environment marker: sys_platform=="win32"```

To fix this one, I have to install the Python 3.5.0rc2 which was released just yesterday. Hooray for progress!

After installing Python 3.5.0rc2 and the master branch of pytest, and rebuilding the bootloader after your recent changes, I can now run the `hellowo

[2015-08-27 03:31] codewarrior0 commented on #1430
You could try adding `scipy.misc.doccer` to your hiddenimports, but it *really should* be detected normally. We're still looking into this.

[2015-08-27 05:50] matysek commented on #1070
@Bluehorn yesterday it was implemented experimental python 3.5 support you might try that but you need to recompile the bootloader.

[2015-08-27 07:17] leycec commented on #1417
Thanks for the [exhaustive test-case comparison](https://github.com/pyinstaller/pyinstaller/issues/1402)! So ultimate. So useful. We're almost at the starting gates, folks. :horse:

I'm currently catapulting through a number of [breaking issues](https://github.com/pyinstaller/pyinstaller/pull/1393) in my valiant (..._but probably ultimately futile_) attempts to resolve #1367 and its  corresponding

[2015-08-27 08:27] mo0feng opened #1444 "zipimport: can not open file /tmp/_MEIruZRcw/base_library.zip"
I met a compiled program under Linux error:
**OS:** Linux 2.6.32-431.el6.x86_64
**Issue:**CentOS
**Python Version:**3.3.6
**Pyinstall Versioner:** python3
**Pyinstaller exec:**
[code]
**Debug:**
[code]

[2015-08-27 08:32] codewarrior0 commented on #1444
Those look to me like the logs from a successful build and execution. Did you forget to include the error and traceback?

[2015-08-27 08:38] mo0feng commented on #1444
@codewarrior0
Try:
2015-08-27 16:35:23,885-Client-INFO-Activate:Debug--Enabled
2015-08-27 16:35:23,888-Client-ERROR-Connect Server Err:zipimport: can not open file /tmp/_MEIruZRcw/base_library.zip
2015-08-27 16:35:23,889-Client-INFO-Connect Service Success!
2015-08-27 16:35:23,892-Client-INFO-Data len:29
2015-08-27 16:35:23,893-Client-ERROR-Read JsonData Or Send Err:(32, 'EPIPE')
2015-08-27 16:35:

[2015-08-27 08:40] codewarrior0 commented on #1444
Instead of `logger.error`, can you write `logger.exception` so you get the full traceback?

[2015-08-27 08:44] mo0feng commented on #1444
Thanks
I try again.

[2015-08-27 10:55] codewarrior0 commented on #1444
I'm not sure what to make of this just yet.

It looks like you're writing a daemon. Do you use `os.setuid` or similar to make the daemon run as a different user? If so, that user probably doesn't have permission to read `base_library.zip` (or really, any file in the extraction dir.).

I don't know the best way to make PyInstaller support apps that use `os.setuid`. Maybe you'll have to use `chmod +

[2015-08-27 11:03] mo0feng commented on #1444
Yes, I am writing a daemon.
Thank you very much for your reply and help, I am using the root user is running this program.
I just put the python upgrade to 3.4, after upgrading found django has a similar mistake, the system may have multiple python environment and the relationship between python2.6 yum I use?Can I have a try to solve this problem.This is not a pyinstaller bug, is my wrong judgment

[2015-08-27 11:15] codewarrior0 commented on #1444
No problem, glad to help.

@htgoebel, any thoughts on onefile apps that try to use `os.setuid`?

[2015-08-27 13:06] matysek commented on #1407
@codewarrior0 good progress.

[2015-08-27 16:39] matysek commented on #1437
@akbhat Please try this version of `python3` branch. I think it fixes the issue: https://github.com/pyinstaller/pyinstaller/commit/ebe53b1c1dd3e467fb1420713e6b4be871139ed2

[2015-08-27 16:54] adammenges commented on #1430
Something different then the hook file I mentioned above? I also tried `--hidden-import="scipy.misc.doccer"`, but with no avail.

[2015-08-27 17:09] htgoebel commented on #1444
@codewarrior0 I seen no point where we could solve this issue, there are too many places raise problems. To list just a few:

- No way to detect if we are running with `chmod +s` (AFAIK)
- No general way to set permissions for some group (umask may be set)
- the user and group to give the files to would need to be put into options somehow

To be frank: IMHO it's not a good idea to use setuid with

[2015-08-28 01:46] codewarrior0 commented on #1444
I had the same feeling. It's up to the user's judgement on how to deal with `setuid` apps. All we can really do is make a note in the docs about the permissions issue with `os.setuid` with `--onefile`.

Closing as this is not something we can fix.

[2015-08-28 01:46] #1444 closed

[2015-08-28 01:51] mo0feng commented on #1444
@codewarrior0  @htgoebel
Thank your very much!

[2015-08-28 02:03] codewarrior0 commented on #1424
Integrated and deleted `fix_merge_case` branch (HEAD was at e94ac61f228df57018768c79922d629cbe632629)

[2015-08-28 03:00] codewarrior0 commented on #1434
Hash seed randomization seems to be the default for Python 3.3+, so the unreliable order of `dict` iteration might be one explanation.

This is probably the explanation, since using `python3` branch with Python 2.7 produces identical output every time, but Python 3.4 does not.

[2015-08-28 07:08] leycec commented on #1420
I'm having similar difficulties in my futile attempts to fix the suite of `hook-wx.lib.pubsub*` hooks, which also attempt to modify their package's `__path__`.

## Just Hook It

It _would_ probably be feasible to merge import and graph hooks together – especially as there only exists one official graph hook and custom graph hooks are unsupported. Meaning, we can completely refactor graph hooks wit

[2015-08-28 09:16] leycec commented on #1417
**Please God(s) don't do this yet.**

See the section "Backward Compatibility" at [this comment](https://github.com/pyinstaller/pyinstaller/issues/1420#issuecomment-135657824). The `python3` branch appears to have broken backward compatibility with respect to user-defined hooks in fairly severe ways _that totally aren't my fault_.

[2015-08-28 10:30] codewarrior0 commented on #1420
Hmm. If the graph edges are import statements, then the submodules of `distutils` won't really be the children of the `distutils` node. They will be children of whatever module is doing the `from distutils import version` (in my case it was something in IPython). You may have to scan the entire graph for `distutils` submodules.

Perfect.

Yeah. Two big differences:

- Import hooks used to run duri

[2015-08-28 10:42] codewarrior0 commented on #1420
Also, this is completely unrelated, but I just found out ModuleGraph can output the graph as a .dot file for GraphViz, so [I tried it out on PyInstaller's `main.py`](http://i.imgur.com/YKbEt6b.png)

....pretty, but not what I was hoping for.

[2015-08-28 14:36] matysek commented on #1424
I removed the hotfix-1.5.2 branch.

[2015-08-28 14:36] #1424 closed

[2015-08-28 15:01] tallforasmurf commented on #1444
We already have that warning, see http://pythonhosted.org/PyInstaller/#how-the-one-file-program-works for the sentence, "Do not give administrator privileges to a one-file executable (setuid root in Unix/Linux, "Run this program as an administrator" property in Windows 7). There is an unlikely but not impossible way in which a malicious attacker could corrupt one of the shared libraries in the tem

[2015-08-28 15:12] codewarrior0 commented on #1444
It mentions the security issue, but it doesn't mention that `os.setuid()` won't work if you decide to setuid root anyway. Maybe the bootloader should output some alarming messages if it finds out it's running as root?

[I already added a note](https://github.com/pyinstaller/pyinstaller/commit/e4d9fcd03bdf1748636fa8c1cc8c2ef44a68cf00), but further edits [are welcome](https://github.com/pyinstaller/

[2015-08-28 15:53] matysek commented on #1437
@akbhat Try again. I tested your  example on Windows with Python 2.7 and it is working.

[2015-08-28 15:53] #1437 closed

[2015-08-28 16:05] akbhat commented on #1437
@matysek This is a Linux specific error so can you verify the fix on Linux? Windows worked before this fix.

[2015-08-28 20:41] leycec commented on #1420
**Looks about right.** Thanks to fundamental weaknesses in traditional visualization algorithms (e.g., force-directed stress majorization), GraphViz is known to scale horribly. I find graphs with more than 30 or so nodes to reliably bring GraphViz and, to be fair, _most_ graph visualizers to their decrepit knees.

[2015-08-28 21:09] leycec commented on #1420
It _definitely_ deserves a rename. Ideas are cheap, but I have none for sale. In the absence of any bolder suggestions, both `HookModule` and `PyiModule` seem sensible.

It deserves a bit more than a tidy-up, however. At the very least, PyInstaller should raise fatal exceptions on _any_ hooks attempting to modify `FakeModule` attributes. The current behaviour of user-defined hooks silently failing

[2015-08-28 21:24] leycec commented on #1420
Yup!

_Yup._ Nailed it on the natty head. :haircut:

This won't be the most efficient operation ever, but it _should_ be feasible. The existing `altgraph.GraphUtils.filter_stack()` function appears to do everything we need, so it'll probably just be a matter of repurposing that. Hurrah!

[2015-08-28 22:36] matysek commented on #1437
@akbhat I tested also on linux it worked for me. I was not able to reproduce any error.

[2015-08-28 22:51] akbhat commented on #1437
@matysek Are these changes checked in? Can I just use the latest pyinstaller3_dev download?

[2015-08-29 04:21] codewarrior0 commented on #1420
Before we get too crazy about modifying the entire graph with `filter_stack`, we should think some more about getting hooks to run *during* graph construction instead of *after*. If it's even possible.

But first, let's look at `FakeModule` some more.

Here's the old docs for `def hook()`:

[code]

And here are the things our own hooks do with the `Module`:

`hook-_tkinter.py`: `mod.add_data()`
`h

[2015-08-29 06:39] leycec commented on #1420
**Excellent.**

![Excellent.](http://i.imgur.com/wzHvW6j.gif)

That raises an explicit exception, so I'm totally fine with that. Let laziness reign! :cocktail:

Those all silently fail. I'm less sanguine about that. Explicitly guarding against that probably took more time [to describe](https://github.com/pyinstaller/pyinstaller/issues/1420#issuecomment-135888136) than it would to actually implemen

[2015-08-29 07:01] codewarrior0 commented on #1420
Yep, a bit later I slipped in an edit when I realized there could be valid uses for both.

I am completely onboard with using `PreimportModule` and `PostimportModule` to insulate hooks from the details of how PyInstaller actually works with modules. I also like this solution better because

This doesn't consider the fact that `distutils.__init__` isn't actually importing the submodules of `distuti

[2015-08-29 07:40] matysek commented on #1437
@akbhat The changes are checked in. This link should download always latest version of `python3` branch. https://github.com/pyinstaller/pyinstaller/archive/python3.zip

[2015-08-29 09:04] matysek commented on #1420
Could it be possible to have part of hook file that will run during graph construction and part that will run after it?

Is there any way how to reconstruct the grahp with nodes that are reachable only from top-level module and all dead branches are removed?
* I somehow implemented hook attribute `excludedimports` and now the implementation does this:
  * remove the modules and submodules  for ite

[2015-08-29 09:15] matysek commented on #1417
I was hoping that `hook(mod)` function could be dropped dropped one day and be fine with just global variables. But that is probably not going to happen.

I think breaking barckward compatibility is ok when:
* we do a lot of changes - e.g. Python 3
* we provide stable and consistent alternative
* we document the changes.

[2015-08-29 16:14] tallforasmurf commented on #1420
This thing has gotten way beyond my depth, but I just want to add this and then shut up: with FakeModule I was *intentionally* breaking the hooks API, to the extent of requiring hooks to use methods add_whatever() instead of directly diddling the Module's contents. The point of requiring use of the methods was so that PyInstaller could directly *know* when a hook tried to change something -- as op

[2015-08-29 23:36] leycec commented on #1420
**Yup!** That's what the incredibly useful `ObjectGraph.flatten()` method does, which defers to the underlying `Graph.iterdata()` method for most of its dirty work.

Reconstructing the entire graph _would_ solve this issue but at extreme space and time costs paid on every hook performing retargeting. Thanks to codewarrior0's dinner-time parley [several comments up](https://github.com/pyinstaller/p

[2015-08-29 23:48] leycec commented on #1420
**It's all good.** This is a collective volunteer effort. You took the invaluable first step. :bow:

Given how dissimilar `imptracker` and `modulegraph` are, explicitly breaking backward compatibility by raising fatal exceptions on old hook behaviour is probably the best we can do. Fortunately, that should be pretty trivial. As [detailed above](https://github.com/pyinstaller/pyinstaller/issues/142

[2015-08-30 08:00] leycec commented on #1420
Almost done. :walking:

`module_graph._find_module()` wasn't _quite_ the right method to be hooked. Instead, I've defined a new type of hook: the **post-package creation hook**, called immediately _after_ a package node is created but _before_ that package's `__init__.py` module (if any) is imported. Unsurprisingly, this is the only safe time to modify a package's `__path__` attribute and obtain t

[2015-08-30 10:01] codewarrior0 commented on #1407
The test ran and passed on my dev machine, but when I copied the exe to a VM that never had Python 3.5 installed, it was missing some DLLs. I just made the necessary changes to make sure those DLLs (parts of the UCRT) are now pulled in. One of those changes was to handle [forwarded exports](http://blogs.msdn.com/b/oldnewthing/archive/2006/07/19/671238.aspx) where DLL references can be in the expor

[2015-08-30 13:37] htgoebel commented on #1362
Recherche-Results:
- `py2exe` has no support for collecting data at all (which is documented)
- `bbfreeze` seams to rely on `pkg_resources.working_set `and `Distirbution`s to fetch some data. It says to copy egg-info directories. The code is in [`bbfreeze.freezer.EggAnalyzer`](https://github.com/schmir/bbfreeze/blob/c74223318826ebd1a19aed15cba5641055ff0187/bbfreeze/freezer.py#L56), which may give

[2015-08-30 16:42] htgoebel commented on #1362
PyInstaller 2.1 does:
- for a zipped egg: copy the egg into the distribution
- for unzipped-eggs: unhandled
- hooks are adding datafiles to the distribution-dirctory, not to the PYZ.

[2015-08-30 23:14] matysek commented on #1362
Is this a duplicate of #183 ?

[2015-08-30 23:16] matysek commented on #1362
`test_libraries.py::test_pylint` fails because `pkg_resources`   'Distribution' is not working.

[2015-08-31 08:05] Calrama opened #1447 "[Enhancement] pywin32 -> pypiwin32"
Could you please use pypiwin32[1] instead of pywin32[2] as a dependency (for at least the python3 version of pyinstaller)?
The former is a pypi-compatible distribution of the latter, allowing for use in virtual environments, and proper automatic dependency installation through pip.

[1] https://pypi.python.org/pypi/pypiwin32
[2] https://pypi.python.org/pypi/pywin32

[2015-08-31 08:19] matysek commented on #1447
Do you mean to use 'pypiwin32' in `tests/requirements.txt` or pyinstaller in general should recommend `pypiwin32`?

[2015-08-31 10:12] codewarrior0 commented on #1447
I like this idea. I didn't know there was a version available on pypi.

[2015-08-31 10:24] matysek commented on #1447
When looking at pypi it looks like it was not until tomorrow.

[2015-08-31 13:09] matysek commented on #1447
done.

[2015-08-31 13:09] #1447 closed

[2015-08-31 13:12] codewarrior0 commented on #1447
:+1:

[2015-08-31 17:32] matysek opened #1448 "Travis - run tests on OS X"
Travis supports running tests on OS X and OS X was recently enabled for our account. However the Python support in Travis is not complete and there are available some workarounds:
* bug report: https://github.com/travis-ci/travis-ci/issues/2312
* utilities for Travis and OS X: https://github.com/MacPython/terryfy
* example script: https://github.com/pyca/cryptography/blob/master/.travis/install.sh

[2015-08-31 18:54] adammenges commented on #1430
@matysek For shits and giggles, I checked out e01229a

[code]
(Before I did that I was on pyinstaller 2.1)

And, not sure if you'd expect this as it's a dev branch, but for what it's worth now I see:

[code]

Just let me know if there's anything I can do to help reproduce this guy.

[2015-08-31 19:16] codewarrior0 commented on #1430
Would you mind running `(cd bootloader; python waf all)` and try the build again?

[2015-08-31 19:30] adammenges commented on #1430
Done and done: here's the full session: https://gist.github.com/adammenges/1f8fc820d6d61c692e0f

[2015-08-31 19:42] codewarrior0 commented on #1430
Whoops! Module `zlib` wasn't being included if it isn't a built-in module. Should be fixed in 9e7d883a5cb0e528f39cb8afeb898c422d2fb337, if you'd care to try again.

[2015-08-31 20:05] adammenges commented on #1430
Sweet, went again, something slightly different this time: https://gist.github.com/adammenges/1f8fc820d6d61c692e0f

[2015-08-31 20:08] adammenges commented on #1430
Looks like the most important part in there is:

[code]

[2015-08-31 20:29] codewarrior0 commented on #1430
That's alarming. It looks like it's aborting during the last build step, so you get an incomplete output folder.

The error means it's using an absolute path where only relative paths are allowed - probably somebody switched the "internal name" and "filesystem name" when adding a file to a TOC somewhere. I can't imagine where, though.

[2015-08-31 20:36] codewarrior0 commented on #1430
Actually, I can imagine where. There was recently some work done on the way binaries used by calls to `ctypes` are found, and I'll bet it's either using a full path for the "internal name", or not excluding binaries that are in the excludes list (which would match anything under `/usr`), or both.

@matysek, you were working on the ctypes stuff, mind taking a look?

[2015-08-31 20:38] codewarrior0 commented on #1430
@adammenges By the way, which Python distribution is that? It doesn't look like the system-provided one.

[2015-08-31 20:59] adammenges commented on #1430
Right, it's brew's python. The system python is pretty far behind 2.7.10, I believe.

[2015-08-31 21:18] codewarrior0 commented on #1430
Thanks. I can't think of anything else for you to try at the moment, but could you post the file `build/out00-COLLECT.toc` to a gist?

[2015-08-31 23:01] jksfiftyfive opened #1449 "Pyinstaller, no usb backend"
I have a GUI that Id like to turn into Windows 7 EXE with Pyinstaller.

This GUI communicates to a device via an FTDI SPI controller. Ive used pyftdi to implement communication. GUI works great.

However, Im getting the "no backend available" when I try to run my EXE.

It boils down to this part of the code, which ive just shortened to include my candidate (\pyftdi\pyftdi\usbtools.py):
[code]
Runn

[2015-09-01 04:46] leycec commented on #1420
**Done.** Commits shortly.

[2015-09-01 05:30] leycec commented on #1417
Man, I _wish_. My insane life would become sane and happy. Unfortunately, I can say with 103.4% certainty that "...it ain't gonna happen."

For traditional post-import hooks, global variables are sufficient. Which is great! For anything more complex, however – like hooks manipulating the underlying module graph, method parameters, or return values (e.g., the recently created post-create package an

[2015-09-01 06:23] leycec commented on #1430
This probably has utterly no relevance, but PyInstaller's use of `modulegraph` is basically broken under Python 2.7 at the moment. The reason why is the `ModuleGraph._import_hook()` method, whose behaviour is non-deterministic when the `level` keyword argument is _not_ explicitly passed. Of course, PyInstaller calls this method without explicitly passing `level`.

Specifically:

* Under Python 3,

[2015-09-01 08:26] htgoebel commented on #1448
Thanks for taking care of this :-)

[2015-09-01 08:33] htgoebel commented on #1362
No. #183 is about more magic, while this one is about restoring PyI 2.1 capabilities.

[2015-09-01 08:34] htgoebel commented on #1362
???

[2015-09-01 08:42] matysek commented on #1448
I'm thinking of creating a new respository 'pyinstaller-travis-osx' with own .travis.yml and this repository would reference other files from 'pyinstaller' main repository.

[2015-09-01 08:52] matysek commented on #1381
TODO:
* make sure `setup.py sdist` works and bundles all required files
* signing the `tar.gz` file
* test uploading to pypi `twine upload dist/*`

[2015-09-01 14:53] rsnape commented on #1300
Hi - I have just [answered a stack overflow question](http://stackoverflow.com/a/32334301/838992) on this.

I think this gives more info - basically the pyinstaller version installed by `pip install pyinstaller` on Ubuntu 14.04 will exhibit this issue even with a very basic `wxpython` app.  I used the "Hello world" app from the [wxpython website](http://wiki.wxpython.org/Getting%20Started#A_First_

[2015-09-01 15:11] codewarrior0 commented on #1325
Fixed this in a commit I'll be pushing shortly, once it passes the test suite.

On Python 3, `exec_python` uses `PYTHONIOENCODING` to control the encoding on both sides of the pipe.

On Python 3, `exec_command` decodes output using the FS encoding by default, since the common case is to read filenames from command output (and the other common case is version numbers, which are ASCII, which is a su

[2015-09-01 15:11] #1325 closed

[2015-09-01 18:40] matysek commented on #1449
Please provide more information, especially you Python and PyInstaller version. See for more details:
https://github.com/pyinstaller/pyinstaller/wiki/How-to-Report-Bugs

[2015-09-01 18:48] codewarrior0 commented on #1449
It looks like it isn't including the python modules under `usb.backend`. Try putting this line in the usb hook and tell us if it makes a difference:

`hiddenimports=['usb.backend.libusb10', 'usb.backend.libusb01', 'usb.backend.openusb']`

[2015-09-01 19:03] matysek commented on #1407
Linux support for Python 3.5 is still incomplete. Travis can't find the `libpython3.5.so`. libpython is probably linked statically on Ubuntu in Travis. Travis complains about this:
[code]

[2015-09-01 19:10] matysek commented on #1362
Then this comment is related to #183:  pylint depends on logilab-common and pylint uses pkg_resources to get version of logilab-common.

[2015-09-01 19:19] jksfiftyfive commented on #1449
python version 2.7.9 32bit, pyinstaller 2.1

i did try adding that line underneath the existing hidden imports line in hook-usb.py, cleaned, recompiled and it didnt work.  So i added combined the lines  to just have one hidden import statement:

hiddenimports=['glob','usb.backend.libusb10', 'usb.backend.libusb01', 'usb.backend.openusb']

and repeated the build.  still no luck.

Do i need to rebuil

[2015-09-01 19:22] adammenges commented on #1430
@codewarrior0: `build/out00-COLLECT.toc` doesn't exist. Nor does `build/<project>/out00-COLLECT.toc`

I've only got:
[code]

[2015-09-01 19:26] matysek commented on #1300
@rsnape This just confirms that it is fixed. Could you try this with `python3` branch?

[2015-09-01 19:34] codewarrior0 commented on #1430
That's too bad. It aborts before writing `out00-COLLECT.toc`.

`out00-Analysis.toc` might be helpful.

[2015-09-01 19:36] codewarrior0 commented on #1430
Right about now I'm wishing there were a fourth field in a TOC entry that explains why, how, and where the file was added to the TOC. You know, for debugging things like this.

[2015-09-01 19:36] matysek commented on #1430
@adammenges  This means that you uses onefile mode. Please post `out00-PKG.toc` or `out00-EXE.toc`.

[2015-09-01 19:37] codewarrior0 commented on #1430
@matysek On the contrary, his build logs have these lines:

[code]

[2015-09-01 19:47] matysek commented on #1430
@codewarrior0 yes, you are right. I didn't see the above comments :-)

@adammenges What is the content of your ` --additional-hooks-dir=./hooks`? Any custom hook could have any attribute wrong.

[2015-09-01 20:26] matysek commented on #1449
@jksfiftyfive Could you try the `python3` branch?

PyInstaller does some magic for the `usb` module when your frozen app gets started. You could find it in file `PyInstaller/loader/rthooks/pyi_rth_usb.py`

[2015-09-01 21:13] jksfiftyfive commented on #1449
Hi Matysek,,

Im sorry, I dont understand what you want me to do with this file?  Is the pyi_rth_usb not usually imported with my build?

thanks

[2015-09-01 21:36] matysek commented on #1449
This file is imported in your build before `import usb` is done. This is file where you might start looking why the libusb0.ddl is not found even when available next to the .exe file.

[2015-09-01 22:41] akbhat opened #1450 "libc runtime dynamic linker errors"
https://github.com/pyinstaller/pyinstaller/wiki/FAQ#misc

Will this ever be fixed or the the solution to compile with older version of glibc is final?

Compiled on
3.2.0-70-generic #105-Ubuntu SMP Wed Sep 24 19:49:16 UTC 2014 x86_64 x86_64 x86_64 GNU/Linux

Ran into glibc error on
2.6.32-504.1.3.el6.x86_64 #1 SMP Tue Nov 11 17:57:25 UTC 2014 x86_64 x86_64 x86_64 GNU/Linux

Error loading Python lib

[2015-09-01 23:07] jksfiftyfive commented on #1449
I wanted to post this file from pyftdi.  its usbtools.py.  this ends up calling usb/libloader.py.  is the ftdi usbtools "over writing" what the rth_usb hook does to find the dll and backend?

usbtools.py:

    def _find_devices(cls, vps, nocache=False):
        """Find an USB device and return it.
           This code re-implements the usb.core.find() method using a local
           cache to avoid

[2015-09-02 07:01] matysek commented on #1450
This will always be an issue and not really related to PyInstaller. I don't know how this could be fixed. If you find a solution, let us know. I haven't found any.

[2015-09-02 07:01] #1450 closed

[2015-09-02 07:19] matysek commented on #1449
There might be an issue related to that fact that pyftdi has its own "magic" and does not rely on pysub. Could you try create an app that uses just pyusb? This could confirm it.

[2015-09-02 10:24] Calrama commented on #1447
Sorry for the late reply and thank you, this is exactly what I meant.

One remark: pypiwin32 has been available since January, but it has not been publicised much.

[2015-09-02 19:30] adammenges commented on #1430
@matysek:

[code]

[2015-09-02 19:37] adammenges commented on #1430
@codewarrior0: https://gist.github.com/adammenges/3e4f33f2f0daaebac6eb

[2015-09-02 20:09] codewarrior0 commented on #1430
[analysis TOC, pprinted](https://gist.github.com/codewarrior0/7582176cb61618dfdf0c#file-analysis_pprinted-L7865)

Context of libobjc entry:

[code]

Not sure what to make of this at the moment.

[2015-09-02 21:26] uzpei commented on #1408
I have the same issue as topiwala - I cannot use a block cipher with my Python 2.7 project (same error). System info:

[code]

[2015-09-02 23:41] rsnape commented on #1300
@matysek Agreed this confirms it's fixed on develop. I was just adding the comment to elaborate on the symptoms/steps to reproduce and the fact that it still occurs on the current pypi version installed by `pip`.  I will test the `python3` branch as soon as I can get onto an appropriately configured Linux box.

[2015-09-03 04:06] jksfiftyfive commented on #1449
I can try that at some point, but this is part of a production test set and we've got parts coming in within the week, so i cant modify anything at this time, but will attempt the change once we are finished testing

ill report back.

if you do any testing in the meantime, please let me know

thanks

[2015-09-03 09:05] htgoebel commented on #1362
`pkgutil` and `pkg_resources` both just need a PEP 302-complinant *loader* supporting `get_data()`.

I made considerable progress on this: I implemented

- adding data-file into the PYZ
- automatically collecting the data-file from eggs (currently `.egg` must be in the name)
- `FrozenImporter.get_data()` accessing data contained in the PYZ.
- accessing the data ia `pkgutil.get_data()` and `pkg_res

[2015-09-03 09:07] htgoebel commented on #183
This could be solved using the mechanisms I just added (see https://github.com/pyinstaller/pyinstaller/issues/1362#issuecomment-137385595). The issue is that all Distributions store their meta-data in the `EGG-INFO` sub-directory. We need to find a way to distinguish the distribution, maybe by adding another directory-level. But where to get this level-name from?

[2015-09-03 17:52] #1362 closed

[2015-09-04 08:13] cam82 opened #1454 "OSX Bundled App: crash on startup"
Hello,

I have built a small application developed with Tkinter 8.6 and python 2.7 under OSX 10.10.5.

The application works perfectly fine if I launch it by double clicking on the executable (in my case "TimeTracking.app/Contents/MacOS/TimeTracking") however if I double click on the ".app"  it crashes with a SIGABRT.
I have packaged the application for windows and there it's working perfectly fin

[2015-09-04 08:36] matysek commented on #1454
Please try the `python3` branch and look here https://github.com/pyinstaller/pyinstaller/wiki/If-Things-Go-Wrong https://github.com/pyinstaller/pyinstaller/wiki/How-to-Report-Bugs

[2015-09-04 09:20] htgoebel commented on #1362
Closed by pull-request #1451

[2015-09-04 09:23] htgoebel commented on #1402
test_eggs1 and test_eggs2 now pass, see ce50cb9fc and now closed #1362.

[2015-09-04 12:23] htgoebel opened #1455 "Remove own BuiltinImporter even for Python 2.x"
We currently have an implementation of [`BuiltinImporter`](https://github.com/pyinstaller/pyinstaller/blob/python3/PyInstaller/loader/pyimod03_importers.py#L63), which is only used for Python 2.7. Some comment there already asks if we really need it.

According to [PEP 302](https://www.python.org/dev/peps/pep-0302/):

We are adding the BuiltinImporter to `sys.meta_path` as first element, so the mo

[2015-09-04 12:51] htgoebel opened #1456 "Fix old-suite test-case test_onefile_pkgutil-get_data__main__"
Analysis:
1. Under Python 3, the `__main__` module's `__loader__` is `_frozen_importlib.BuiltinImporter`, which does not support `get_data()`.
2. Under Python 2, the `__main__` module's `__loader__` is `None`, which makes `pkgutil.get_loader()` search `sys.meta_path`. This returns our `BuiltinImporter`, because `__main__` is in `sys.builtin_module_names`, which does not support `get_data`.
3. Unde

[2015-09-04 12:51] htgoebel commented on #1455
This blocks #1456.

[2015-09-04 16:29] htgoebel commented on #1402
I've just seen that `test_onefile_pkgutil-get_data__main__`  did  nod exist in v2.1: v2.1 was released 2013-09-27, while `test_onefile_pkgutil-get_data__main__` 2014-12-24. So I'm removing this one from the blocking list and will postpone the related issues to milestone 3.1

[2015-09-04 16:48] htgoebel commented on #1456
As this test did not exist in release 2.1, it's not a blocker for release 3.0. Pushing forward to release 3.1.

[2015-09-04 16:49] htgoebel commented on #1455
As this test did not exist in release 2.1, it's not a blocker for release 3.0. Pushing forward to release 3.1.

[2015-09-04 17:12] htgoebel commented on #1126
#1456 is a more appropriate description for this.