[2014-11-23 16:50] TTimo opened #1098 "Add python-firebase support"
https://github.com/mikexstudios/python-firebase for https://www.firebase.com/

Pure python module but uses multiprocessing a lot. I tried a simple script, a obtained an exe, but it turned into a fork bomb when I tried to execute it.

[2014-11-24 01:33] #1097 closed, assigned to nobody

[2014-11-24 07:16] smalldatascaled opened #1099 "NLTK issue"
nltk (http://www.nltk.org/) often uses pickle files which nltk has saved in a non-standard location. Pyinstaller imports nltk OK but if fails if the code tries to use the nltk.data.load function as it doesn't include the pickle file.

For example:
nltk.data.load('tokenizers/punkt/english.pickle')

Had a few goes at trying to solve it using hooks... unfortunately a general solution is beyond my cap

[2014-11-25 16:44] #1096 closed, assigned to nobody

[2014-11-25 20:26] GijsTimmers opened #1101 "import hook for the keyring library"
`kotnetcli.py` contains `import keyring` in one of the first lines of the file.

After that, files compiled with PyInstaller don't run properly anymore.

Log:

[code]

[code]

[code]

Please provide some help on how I can solve this problem.

[2014-11-29 12:32] htgoebel opened #1103 "Merge redundant constants"
bjones1 wrote https://github.com/pyinstaller/pyinstaller/commit/b083d4db3b5f7394bae4f379fb336f15a3735830#commitcomment-8640028

[2014-12-02 10:36] nebukadhezer opened #1104 "Preserve original PYTHONPATH in a different env-variable"
Hello,

I hope this wont be mistaken with #187 .
But it sort means to have a way to access the old PYTHONPATH.
Egg
when I run my binary PYTHONPATH is erased and set to "/tmp/__XXXXX" to have the binary run selve contained, which makes total sense.
Still as we are using this for an app to set environments, I sometimes would like to append sth to the PYTHONPATH that existed prior to launching the bi

[2014-12-02 19:05] ronen opened #1105 "Problem with conflicting .so files"
Hello,

It seems that if an imported third-party module contains a `.so` with the same name as a python core library `.so`, pyinstaller only uses one of them.  Unsurprisingly, the app fails in mysterious ways due to things being loaded improperly.

(Confusingly, for some reason in onedir mode it apparently uses the python core file, and in onefile mode it uses the third-party file.  In my case tha

[2014-12-03 10:42] #900 closed, assigned to matysek

[2014-12-03 10:42] #910 closed, assigned to matysek

[2014-12-03 10:45] #856 closed, assigned to pyinstaller-tickets-migration

[2014-12-03 10:52] #866 closed, assigned to pyinstaller-tickets-migration

[2014-12-03 10:57] #808 closed, assigned to matysek

[2014-12-03 11:42] #786 closed, assigned to pyinstaller-tickets-migration

[2014-12-03 11:51] #800 closed, assigned to matysek

[2014-12-04 16:03] jahrain opened #1106 "Embedded manifest files in windows bootloaders"
I noticed some strange behavior when renaming a pyinstaller create EXE file on windows when using the onefile option. If renamed from the original name, it would not load the manifest file and thus cause all sorts of issues such as requiring UAC if the file had words like "patch", "install", or "update" in the file names. Also possible conflicts with loading different versions of the msvcrt librar

[2014-12-09 10:31] antoinevg opened #1107 "codesign refuses to sign executables built with pyinstaller on OSX 10.9.5 + Xcode 6.1"
Attempting to call codesign on OSX 10.9.5 + Xcode 6.1 results in the following:

[code]

Apple documentation [here](https://developer.apple.com/library/mac/technotes/tn2206/_index.html#//apple_ref/doc/uid/DTS40007919-CH1-TNTAG309) says:

**codesign says my main executable failed strict validation.**
- Your Mach-O executable does not conform to modern Mach-O layout rules.
- You may be using a third

[2014-12-09 12:50] #1107 closed, assigned to nobody

[2014-12-12 16:11] marcinbarczynski opened #1108 "IOError: [Errno 9] Bad file descriptor when using PyInstaller with DaemonContext"
PyInstaller: version 2.1
Platform: Linux icore-05 3.13.0-24-generic #47-Ubuntu SMP Fri May 2 23:30:00 UTC 2014 x86_64 x86_64 x86_64 GNU/Linux

I generated an executable (--onefile) from the following python code:

[code]

daemon module is an implementation of https://www.python.org/dev/peps/pep-3143/ from python-daemon package.

When the program finishes, it prints out an error:
[code]
The same ha

[2014-12-14 23:13] #1105 closed, assigned to nobody

[2014-12-14 23:27] #1080 closed, assigned to nobody

[2014-12-14 23:28] #1099 closed, assigned to nobody

[2014-12-14 23:32] #1074 closed, assigned to nobody

[2014-12-14 23:36] #1072 closed, assigned to nobody

[2014-12-14 23:39] #957 closed, assigned to pyinstaller-tickets-migration

[2014-12-14 23:41] #876 closed, assigned to pyinstaller-tickets-migration

[2014-12-14 23:44] #861 closed, assigned to nobody

[2014-12-14 23:45] #855 closed, assigned to pyinstaller-tickets-migration

[2014-12-14 23:47] #851 closed, assigned to pyinstaller-tickets-migration

[2014-12-14 23:50] #843 closed, assigned to nobody

[2014-12-15 00:06] #777 closed, assigned to pyinstaller-tickets-migration

[2014-12-15 00:48] #745 closed, assigned to matysek

[2014-12-15 00:53] #733 closed, assigned to pyinstaller-tickets-migration

[2014-12-15 00:55] #715 closed, assigned to matysek

[2014-12-15 00:56] #705 closed, assigned to matysek

[2014-12-15 01:04] #644 closed, assigned to matysek

[2014-12-15 01:15] #511 closed, assigned to nobody

[2014-12-15 01:17] #494 closed, assigned to pyinstaller-tickets-migration

[2014-12-15 01:20] #428 closed, assigned to pyinstaller-tickets-migration

[2014-12-15 01:22] #382 closed, assigned to pyinstaller-tickets-migration

[2014-12-15 01:26] #185 closed, assigned to pyinstaller-tickets-migration

[2014-12-16 14:25] white-gecko opened #1109 "Installing python3 branch with pip on python3.4 results in invalid syntax error"
Installing PyInstaller from the [python3](https://github.com/pyinstaller/pyinstaller/archive/python3.zip) archive with `pip install pyinstaller-python3.zip` gives me:

[code]

[2014-12-16 22:18] #589 closed, assigned to htgoebel

[2014-12-16 22:39] #794 closed, assigned to htgoebel

[2014-12-16 22:47] htgoebel opened #1110 "Inhibit meaningless combinations of command-line arguments"
As issue #794 showed, people may use e.g. `--onefile` together with a specfile, which is useless because the specfile is already generated an will be used unchanged.

So if a specfile is given, we should inhibit most (if not all) options from `makespec`.

@matysek IMHO this can wait until the switch to argparse #686, which already implements support for conflicting arguments. What do you thing?

[2014-12-16 23:49] #1101 closed, assigned to htgoebel

[2014-12-17 00:41] #534 closed, assigned to matysek

[2014-12-17 22:13] #823 closed, assigned to nobody

[2014-12-17 22:30] #821 closed, assigned to htgoebel

[2014-12-18 17:00] #202 closed, assigned to htgoebel

[2014-12-18 17:00] #834 closed, assigned to htgoebel

[2014-12-18 17:00] #883 closed, assigned to htgoebel

[2014-12-18 20:32] #853 closed, assigned to pyinstaller-tickets-migration

[2014-12-18 23:18] white-gecko opened #1112 "SyntaxError in hook-matplotlib.backends.py"
Building a package of a program on windows 7 with python3.4 and pyinstaller version 3.0dev fails with the following output:

[code]

while the file actually exists at `C:\Users\n\Downloads\dist\MA 1.5_s\mpl-data\matplotlibrc`.

[2014-12-19 14:41] marcinbarczynski opened #1113 "LookupError: unknown encoding: idna in child process when using multiprocessing with PyInstaller."
PyInstaller: version 2.1
Platform: Linux

Let's consider the following code:

[code]

When I run PyInstalled version of it (--onedir or --onefile), some processes succeed, but some fail with the following error:

[code]

Uncommenting `import encodings.idna` helps, but it doesn't remove the root cause of it.

[2014-12-19 19:12] #897 closed, assigned to nobody

[2014-12-19 19:13] #894 closed, assigned to nobody

[2014-12-19 20:13] #400 closed, assigned to nobody

[2014-12-19 22:59] #1109 closed, assigned to matysek

[2014-12-19 23:22] htgoebel opened #1117 "Update included unittest2 lib to current version"

[2014-12-19 23:22] #370 closed, assigned to matysek

[2014-12-20 18:17] #1117 closed, assigned to nobody

[2014-12-20 19:53] #849 closed, assigned to matysek

[2014-12-20 21:59] #653 closed, assigned to htgoebel

[2014-12-20 22:07] htgoebel opened #1118 "Store binache in $XDG_CACHE_HOME (defaults to $HOME/.cache)"
According to http://standards.freedesktop.org/basedir-spec/basedir-spec-latest.html, caches should be placed here.

Todo: Think if we want to move any existing of cache from CONFIGDIR ($XDG_DATA_HOME) to the new location.

[2014-12-20 22:17] #307 closed, assigned to matysek

[2014-12-20 23:12] #634 closed, assigned to matysek

[2014-12-20 23:23] #477 closed, assigned to nobody

[2014-12-20 23:41] jhyland opened #1119 "fix "--onefile" for Python3"
Hi,

While the "--onefile" option works in the Python2 version of pyinstaller, this does not seem to be working intuitivley for Python3 at least for me anyways. When compling a simple py file via "pyinstaller --onefile myfile.py" for the Python3 version of pyinstaller, the message "libexpat.so.1 could not be extracted!" when the compiled file is executed. Using the same technique for the Python2 v

[2014-12-21 10:35] #1112 closed, assigned to nobody

[2014-12-22 16:11] htgoebel opened #1120 ""--onefile" option not working pyinstaller for Python3 (windows)"
This is ticket is about problems on _Windows_ and a follow up to #1119, which describes a similar problem on Unix.

**Please see below for a proposed root cause.**
1. We _must not_ use `_mktemp`, because it is limited to 26 files. (See http://msdn.microsoft.com/en-us/library/34wc6k1f.aspx: the template will be replaces by one letter and 5-digits process number and "mktemp can create a maximum of 2

[2014-12-22 16:26] #1120 closed, assigned to nobody

[2014-12-22 16:33] htgoebel opened #1121 "Remove usage of `_mktemp`"
1. We *must not* use `_mktemp`, because it is limited to 26 files. (See http://msdn.microsoft.com/en-us/library/34wc6k1f.aspx: the template will be replaces by one letter and 5-digits process number and "mktemp can create a maximum of 26 unique file names for any given combination of base and template values")
2.  `_mktemp` is deprecated, we should consider using `_mktemp_s` instead (see code exam

[2014-12-22 16:40] htgoebel opened #1122 "Please remove `bootloader/src/stb.h` - it is unused"
Hi @matysek

the file `bootloader/src/stb.h` is no longer used. Please remove it. It's existence took me time when investigating issue 11119.  (I'm not doing it because you are the master of the bootloader ;-)

[code]

[2014-12-23 11:48] htgoebel opened #1124 "Clean up TOC"
TOC has a lot of cryptic logic and identifiers:
- `self.fltr`: convert into a set and use a more spelling name
- use more verbose/spelling identifiers everywhere
- implement `__in__` to simply checks at other places
- thing about converting to a ordereddict, where die normalized name is the key.

Why does `insert` normalize DATA-Files, to, but not

[2014-12-23 21:04] htgoebel opened #1125 "Add "command" for collecting data-files to `build.py`"
We could help users collecting their own data-files if we'd add a "command" named e.g. "Datafiles".

There is already such a thing in [`tests/basic/test_onefile_pkg_resources.spec`](https://github.com/pyinstaller/pyinstaller/blob/v2.1/tests/basic/test_onefile_pkg_resources.spec).

After implementation we should describe it [in the manual](http://pythonhosted.org/PyInstaller/#adding-files-to-the-bu

[2014-12-23 23:15] htgoebel opened #1126 "Need a loader for `__main__`"
`pkgutil.get_data('__main__', ...)`, works when running un-packaged, but currently fails when running packages. Reason is: Our import mechanism returns the wrong loader (a BuildinLoader) for `__main__`.

The test-case for this is already implemented,  but disabled. For re-activating it, simply revert d0b4e2239e7e

[2014-12-26 15:08] sdementen opened #1128 "lib2to3 support"
Hello,

The lib2to3 library needs a file called Grammar.txt.
I suppose we need a hook-lib2to3.py to handle this ?

[2014-12-27 13:01] codewarrior0 opened #1129 ""No such file" when copying file from bincache"
Firstly, I am using the `develop` branch at d0b4e2239e7ebf65d61c4ab384380d4456321d20. The error is not present in release v2.1.

When building an application which imports IPython the following error results:

[code]

Investigating with `git bisect` using `pyinstaller mcedit2.spec --clean` reveals commit b813174a3067baf15af02c63ae82946dc446187b introduces the error. Reading the source of `checkCac

[2014-12-28 16:50] #1124 closed, assigned to nobody

[2014-12-29 00:31] lucapinello opened #1130 "Problem with pandas"
Hi, I am trying to package some software with Pyinstaller that uses pandas: http://pandas.pydata.org/

In particular it seems that there is some strange problem with using  the read_csv function,
a function to read a text file and convert to a dataframe.

I am attaching a minimal code just with a call to read_csv so you can  reproduce the error here:
https://groups.google.com/forum/#!searchin/PyIn

[2014-12-29 01:10] maskosx opened #1131 "Packaging"

[2014-12-29 01:29] cortesi opened #1132 ""No such file" when copying file from bincache - OSX"
Hi folks,

I've just released a new version of mitmproxy, and hit two bugs in pyinstaller (I'll make a separate issue for the second bug). The first is shown by the following traceback when attempting to build either mitmproxy or mitmdump with pyinstaller:

[code]

I tracked this down to commit b813174a3067baf15af02c63ae82946dc446187b by @htgoebel - when I revert this, the build succeeds.

To repr

[2014-12-29 01:35] cortesi opened #1133 "Error initializing simplejson"
Building a project with Flask as a dependency succeeds, but running the resulting binary fails with the following traceback:

[code]

To see this in action, check out commit 3e63107e9473e3ec6676c047171a5d23c79b7dcd of mitmproxy, build mitmdump with

[code]

And then run the resulting binary. I tested this on OSX Yosemite.

I "fixed" this by removing Flask as a dependency (something we needed to do

[2014-12-29 12:47] #692 closed, assigned to pyinstaller-tickets-migration

[2014-12-30 17:46] textsaravanan opened #1134 "Pyinstaller ver 2.1 (Python 2.7.9) is not bundling called multiple .py scripts from main .py script"
I have to split lot small functionalists into individual .py scripts and call them from a main .py script. Using Pyinstaller ver 2.1 (Python 2.7.9). After running Pyinstaller  and shipping the dist directory with out any original .py scripts it is complaining about called .py scripts not being found. it will be ugly to bundle all small scripts into just one main script and use  Pyinstaller . not s

[2014-12-30 19:40] #464 closed, assigned to matysek

[2014-12-30 20:28] #774 closed, assigned to pyinstaller-tickets-migration

[2014-12-30 23:09] #840 closed, assigned to pyinstaller-tickets-migration

[2014-12-31 15:09] #1131 closed, assigned to nobody

[2014-12-31 15:20] #1128 closed, assigned to htgoebel

[2014-12-31 15:23] #1133 closed, assigned to nobody

[2015-01-01 12:09] matysek commented on #863
I think this is caused by missing hooks for pyside. This is duplicate of #299.

[2015-01-01 12:09] #863 closed

[2015-01-01 12:11] matysek commented on #736
I think this is caused by missing hooks for pyside. This is duplicate of #498.

[2015-01-01 12:11] #736 closed

[2015-01-01 12:11] matysek commented on #716
I think this is caused by missing hooks for pyside. This is duplicate of #299.

[2015-01-01 12:11] #716 closed

[2015-01-01 12:13] matysek commented on #714
I think this is caused by missing hooks for pyside. This is duplicate of #299.

[2015-01-01 12:13] #714 closed

[2015-01-01 13:09] matysek commented on #543
I think this is caused by missing hooks for pyside. This is duplicate of #498.

[2015-01-01 13:09] #543 closed

[2015-01-02 12:50] matysek commented on #1129
I'm experiencing this issue too while working on fix for something else.

[2015-01-02 13:01] htgoebel commented on #1129
@matysek It looks like this is a duplicate to #1132 , where I already proposed a patch for, see https://github.com/pyinstaller/pyinstaller/issues/1132#issuecomment-68445161

[2015-01-02 18:29] codewarrior0 commented on #1129
That fix works for me. I spent some time making sure this wasn't a problem with my setup and then I just forgot about sending a PR, whoops!

[2015-01-02 23:33] matysek commented on #1129
The fix also works for me. Closing as duplicate of  #1132.

[2015-01-02 23:33] #1129 closed

[2015-01-02 23:34] #1132 closed

[2015-01-02 23:35] matysek commented on #1132
Fix merged in #1135.

[2015-01-03 00:14] matysek commented on #521
Related pull request #1136.

[2015-01-03 18:59] #521 closed

[2015-01-03 23:33] matysek commented on #1121
Related pull request #1137

[2015-01-03 23:33] matysek commented on #1119
Related pull request #1137

[2015-01-03 23:33] matysek commented on #1122
Related pull request #1137

[2015-01-04 11:07] matysek commented on #1121
I removed the code that was using it. The code was no longer needed.

[2015-01-04 11:08] #1122 closed

[2015-01-04 11:08] #1121 closed

[2015-01-04 11:09] #1119 closed

[2015-01-04 21:14] sdementen commented on #1128
Here is the content of the file of my hook-lib2to3.py which works for me
(send by email as doing through git is a bit overkill ... and I do not know
how to do it).
As you can see, I hardcoded the path to the standard python lib lib2to3. I
guess you know how to fix this easily :-)

#-----------------------------------------------------------------------------
# Copyright (c) 2013, PyInstaller Devel

[2015-01-05 09:46] htgoebel commented on #1128
@sdementen I still wonder what your use-case is. IMHO there is no use for lib2to3 in PyInstaller. What do you need it for?

[2015-01-05 09:58] rvitale opened #1138 "sklearn hooks"
Hi,

I found sklearn missing some imports and I created a couple of hooks that should solve the problem (at least they did for me).

hook-sklearn.tree.py:

[code]

hook-sklearn.metrics.cluster.py:

[code]

[2015-01-05 10:19] htgoebel commented on #1138
Thanks for out input. Would you mind providing a pull-request and a test-case? This would be great!

                 'sklearn.utils.sparsetools._graph_tools',
                 'sklearn.utils.lgamma',
                 'sklearn.utils.weight_vector']

From our experience with other packages it looks like `sparsetools._graph_validation` and `sparsetools._graph_tools` are hidden imports for `sklearn.u

[2015-01-05 10:41] rvitale commented on #1138
sure. are the test-cases under pyinstaller/tests/libraries? and i should just add a module with the relevant imports to test the hooks, right?

[2015-01-05 11:51] matysek commented on #356
We already have python3 branch and won't do any python 3 preparation in develop branch anymore.

[2015-01-05 11:51] #356 closed

[2015-01-05 11:52] matysek commented on #624
This is already done in python3 branch.

[2015-01-05 11:52] #624 closed

[2015-01-05 13:17] sdementen commented on #1128
i wrote some code working on python2 and python3 that needs this apparently
when running pyinstaller.
i may need to exclude this dependency explicitly in the spec ?

On Mon, Jan 5, 2015 at 10:46 AM, Hartmut Goebel <notifications@github.com>
wrote:

[2015-01-05 17:19] jarondl commented on #1119
Thank you very much @matysek

[2015-01-05 18:41] matysek commented on #539
Closing since this is too old without enough information and without any response from the author.

[2015-01-05 18:41] #539 closed

[2015-01-06 09:32] matysek commented on #335
Closing as 'won't fix' since I haven't seen user demand to still support MakeComServer.

[2015-01-06 09:32] #335 closed

[2015-01-06 09:35] matysek commented on #815
Closing as 'won't fix' since I haven't seen user demand to still support MakeComServer. This feature haven't been touched for several years and I don't have the necessary knowledge.

[2015-01-06 09:35] #815 closed

[2015-01-06 09:36] matysek commented on #336
Closing as 'won't fix' since I haven't seen user demand to still support MakeComServer. This feature haven't been touched for several years and I don't have the necessary knowledge.

[2015-01-06 09:36] #336 closed

[2015-01-06 09:41] matysek commented on #461
Closing. I don't think this is relevant anymore and in python3 branch the library modulegraph takes care of this.

[2015-01-06 09:41] #461 closed

[2015-01-06 09:42] ningxiao77 opened #1139 "use Pyinstall get exe file. will report R"

[2015-01-06 09:42] #1139 closed

[2015-01-06 09:43] ningxiao77 commented on #1139
description error，close

[2015-01-06 09:52] matysek commented on #700
Simple helloworld usually works. You are using Enthough Python Distribution (EPD) that includes some customization to pywin32 modules.

This looks like an issue with the EPD python distribution.

The fix would be to find out how pywin32 is bundled in EPD.

[2015-01-06 09:52] #700 closed

[2015-01-06 14:24] matysek commented on #819
Closing. Not enough information to reproduce and no code example for testing.

[2015-01-06 14:24] #819 closed

[2015-01-06 17:37] matysek commented on #200
Closing, duplicate.

[2015-01-06 17:37] #200 closed

[2015-01-06 20:21] thorstenkampe opened #1140 "PyInstaller3: diagnostic(?) information printed from executable"
Running an executable created with PyInstaller from the
Python3 branch results in this output
[code]

[2015-01-06 20:23] thorstenkampe opened #1141 "PyInstaller3: error running one-file executable"
Running a one-file Linux executable created with PyInstaller from the
Python3 branch results in
[code]

[2015-01-07 07:17] thorstenkampe commented on #1140
I'm using --icon, --onefile, --noupx

[2015-01-07 10:47] matysek commented on #1141
It could be that because of #1119 the linux bootloader should be also recompiled.

[2015-01-07 15:04] htgoebel commented on #829
This should be solved now in development branch, see b485d77d30.

[2015-01-07 15:04] #829 closed

[2015-01-07 19:35] DiegoPires opened #1142 "Create app from lib"
Is there an way to create an executable file from this lib using pyinstaller or something similar?

[2015-01-07 19:55] #1142 closed

[2015-01-08 02:16] ningxiao77 opened #1143 "popup a error R6034 when import tempfile ,after use Pyinstaller make py to exe file"
For some function can only run in python27 environment and some function must run in Python33 environment . so I split my model to two part.
1:the first part  Name Main.py will run in python27 environment . I use Pyinstaller to get a exe file:Mian.exe.
2:the the second part Name body.py .
3: I use subprocess("python body.py",stdout=subprocess.PIPE,shell=True) to connect they together.
4:then  I se

[2015-01-08 08:29] YueLunGames opened #1144 "File create from pyinstaller lock it self on windows even cant rename"
Hello, looks like file create from pyinstaller will lock it self when running, even cant rename.
I want to known is there a way to allow it.

[2015-01-08 08:48] htgoebel commented on #1144
Please provide more information, this is much to less for even thinking about an answer. See
https://github.com/pyinstaller/pyinstaller/wiki/How-to-Report-Bugs

[2015-01-08 08:48] #1144 closed

[2015-01-08 09:01] YueLunGames commented on #1144
I think I already explain very clear.
maybe you need a example?
1. create 1.py and use pyinstaller generate 1.exe on windows
2. run 1.exe
3. now we can't remove or rename 1.exe until it exit

so it's the problem about file locking
http://en.wikipedia.org/wiki/File_locking
http://msdn.microsoft.com/en-us/library/windows/desktop/aa363858%28v=vs.85%29.aspx

I think you may need close file handle afte

[2015-01-08 09:52] GameproxyYL opened #1145 "Pyinstaller lock exe file while running on windows"
Version of python: 2.7 32bit
Version of pyinstall: download from git

How to reproduce:
1: create 1.py, content:

[code]

2: pack 1.py to 1.exe, run

[code]

3: execute 1.exe

Then 1.exe cannot be rename while running.

I test py2exe and cx_Freeze they don't have this problem.
I think it's because pyinstaller didn't close file handle of exe after read it needs.

Pyinstaller use fopen not CreateFil

[2015-01-08 10:30] matysek commented on #1145
@YueLunGames thanks for detailed report.

[2015-01-08 14:00] matysek commented on #1145
I was able to reproduced this behavior. How it should be fixed?
* just replace fopen calls by CreateFile?

[2015-01-08 15:30] YueLunGames commented on #1145
Resolved.
Here is the patch, but I will not create the pull request because it's dirty fix.
It may decrease performance but will not hold the file handle for long.

[code]
[code]

[2015-01-09 12:02] matysek commented on #1145
@YueLunGames Thanks for investigation.

[2015-01-09 14:01] htgoebel commented on #1144
YueLunGames submitted a patch in  #1145

[2015-01-09 14:06] htgoebel commented on #1145
I think, the performance impact is negligible.
I'm more concerned about reading the whole archive into memory and keeping it there for the whole runtime of the program.

[2015-01-09 22:12] tallforasmurf opened #1147 "Unittest2 syntax errors for Python2 syntax"
Running python3 setup.py install produces a number of syntax error messages while installing unittest2 cases, which appear not to have been converted to Python3. Maybe that folder isn't supposed to be for Python 3?

[2015-01-09 22:33] tallforasmurf opened #1148 "hookutils test for QML should use try/except"
In hookutils.qt5_qml_dir() (line 328) there is the following test,

     qmldir = subprocess.check_output(["qmake", "-query",
                                      "QT_INSTALL_QML"]).strip()
    if len(qmldir) == 0:

However, the command qmake -query QT_INSTALL_QML returns a nonzero return code when QML is not installed. This causes program termination with a subprocess.CalledProcessError exceptio

[2015-01-09 22:52] tallforasmurf opened #1149 "invalid "rstrip" call in hook_utils qt5_qml_plugins_binaries()"
hook_utils line 352,

    def qt5_qml_plugins_binaries(dir):
        """Return list of dynamic libraries formatted for mod.binaries."""
        import string
        binaries = []
        qmldir = qt5_qml_dir()
        dir = string.rstrip(dir, os.sep)

Program terminates with "AttributeError: 'module' object has no attribute 'rstrip'". It is not clear to me what this is trying to do but "rstrip" i

[2015-01-10 03:30] YueLunGames commented on #1145
In fact the file pointer should not be the member of a long living class.
File object lifetime should be managed as short as they can.

you can do
with self.openfile() as lib:
    self.checkmagic(lib)
    self.loadtoc(lib)

and
with archive.openfile() as lib:
    archive.extract(lib, name)

[2015-01-10 16:21] tallforasmurf commented on #1148
n.b. this is in the python3 branch

[2015-01-10 16:22] tallforasmurf commented on #1149
n.b. this is in the python3 branch. Don't see how to put that label on it.

[2015-01-11 13:51] Elite opened #1150 "Pyinstaller and path issue with noconsole"
I created an GUI for https://github.com/rg3/youtube-dl and it works fine when executed from python file, however if I pack it using pyinstaller with one file option it downloads the video but fails to convert it using ffmpeg (one copy of which is in the application folder and another on OS path).

I noticed if I allow pyinstaller to open a console window http://pythonhosted.org/PyInstaller/#id23 i

[2015-01-11 20:42] JohnyMoSwag commented on #782
I'm seeing the same on 2.1 & development branch

[2015-01-12 08:00] fake-name opened #1151 "wscript: `lsbcc` should be searched in $PATH"
I'm trying to build the bootloader on linux (Ubuntu 12.04) using python 3.

The issue is that the search path for the `lsbcc` binary is apparently only `['/opt/lsb/bin']`. This is a problem since `lsbcc` on ubuntu gets installed to `/usr/bin`.

This means that even if you have `lsbcc` installed, and it's on your `$PATH`, it's still not found by `waf` because it's not searching in the proper place.

[2015-01-12 12:10] htgoebel commented on #1151
Yo can specify the path using the option `--lsbcc-path`, see `./waf --help`.

[2015-01-12 12:14] htgoebel commented on #1150
I assume, this is a `ffmpeg` issue: Maybe it requires stdin or std out to be a tty.

[2015-01-12 12:14] #1150 closed

[2015-01-12 12:29] fake-name commented on #1151
Sure, that's fine, but the point is all the *other* dependencies are searched for much more broadly, and apparently the system *could* just use `$PATH`, so why not do that?

[2015-01-12 12:41] htgoebel commented on #1148
Thanks for reporting

[2015-01-12 12:41] #1148 closed

[2015-01-12 12:57] htgoebel commented on #1149
Thanks for reporting.

[2015-01-12 12:57] #1149 closed

[2015-01-12 13:02] htgoebel commented on #1151
You are right on this :-)

[2015-01-12 13:15] htgoebel commented on #792
Duplicate for #782

[2015-01-12 13:15] #792 closed

[2015-01-12 13:17] htgoebel commented on #913
This may be related to #782

[2015-01-12 18:32] jlcastillo opened #1152 "Error importing xcb.proto in Ubuntu 14.04"
OS: Ubuntu 14.04 64-bit
Python: 2.7.6

test.py
[code]
Run
[code]
Compile & Run:
[code]

xproto.py   (/usr/lib/python2.7/dist-packages/xcb/)
[code]

List dist folder:
[code]

Note that xcb.xcb.so is an exact copy of /usr/lib/python2.7/dist-packages/xcb/xcb.so, installed by Ubuntu package python-xpyb 1.3.1-1. Let's inspect it:

[code]

strace (without installer)

[code]

strace (with installer)
[cod

[2015-01-12 19:29] htgoebel commented on #1152
This looks more like the import-mechanism does not load the xcb.xcb.so when it should.
Please the PyInstaller development version. If this does not help, use strace to see where PyInstaller searches for the .so.

[2015-01-12 19:36] jlcastillo commented on #1152
I edited the original comment, adding the strace while you were writing yours..

[2015-01-12 19:59] jlcastillo commented on #1152
Thanks, it works fine with the latest development versión. I tried both one-dir and one-file options.

[2015-01-12 19:59] #1152 closed

[2015-01-13 10:47] htgoebel commented on #1128
Sorry for answering late.
Yes, I assume you need to exclude it, simply because it is useless: When packaging the pytnon2-version, the files will be processed by the python2 interpreter. Respectively when packaging the pytnon3-version, the files will be processed by the python3 interpreter. So in the alter case, they need already to be converted to python3-syntax, say: lib2to3 must already have pro

[2015-01-13 11:06] htgoebel commented on #1145
@YueLunGames Could you please submit a pull-request with out changes. You can even fork on github, "edit" the files online (paste your changed file in) and submit the pull-request.Thanks.

[2015-01-13 11:27] lumy opened #1154 "PyInstaller test_pycrypto failed"
Hi,

I just clone the depot, and run the test,
[code]

And if i run the full test i get

[code]

I was trying to make an MacOsX app containing pycrypto.
What i missed on my dependencies ?

[2015-01-13 12:18] htgoebel commented on #1154
1) The test is called libraries/test_pycrypto, so for running only this one use: `python runtests.py libraries/test_pycrypto`
2) Run the in verbose mode: `python runtests.py -v libraries/test_pycrypto`
3) Depending on the insights from step 2, you may want to follow the instructions at https://github.com/pyinstaller/pyinstaller/wiki/If-Things-Go-Wrong

[2015-01-13 14:21] lumy commented on #1154
I manage to resolve this problem.
But now i make my application and when i start it i get this error
[code]

I now that with py2app i can not import Openssl directly in my project from system libraries.
and I think it's the same kind of probleme. isn't it ?

Thanks for the fast help anyway ! :)

[2015-01-13 16:11] matiasbonet commented on #1071
Did you manage to find the solution? I am trying to compile a flask_restful API and I have the same problem. I import like flask.ext.restful and add a hidden import "flask_restful"

Now I get an import error with another module called views but I adding it as a hidden import and does not work.

a = Analysis(['test.py'],
             pathex=[basepath],
             hiddenimports=['flask_restful','f

[2015-01-13 16:12] matysek commented on #1154
@lumy I don't know about py2app but this looks like missing some data files that are not bundled with your app.

[2015-01-13 16:14] lumy commented on #1154
Yes that was the second problem.
I'm going to close the issue,

For knowledge, i resolve my trouble by installing in my virtualenv and in my system with pip the missing package.

[2015-01-13 16:14] #1154 closed

[2015-01-14 00:58] Vieler opened #1155 "Pyinstaller3: SyntaxError when building even small scripts"
**Platform**: Windows, 64bit
**Python ver.**: 3.4.2, 32bit
**Pyinstaller version**: downloaded zipped `python3` branch, latest commit was `c4abe904e0791841ec3c76306199c16b1c687b98` and did `python setup.py install`.

I tried building my application but failed with this traceback:
[code]
I could reproduce this *exact* error with the following file:
[code]
and building with
[code]
I didnit try the d

[2015-01-14 09:30] jarondl commented on #1148
Using the updated python3 branch, I get a syntax error:

    from PyInstaller.utils.hooks.hookutils import collect_submodules
    File "test_venv\lib\site-packages\PyInstaller\utils\hooks\hookutils.py", line 329
    except IOError,:
                  ^
    SyntaxError: invalid syntax

I'll submit a PR in a moment

[2015-01-14 09:55] matysek commented on #627
Code signing on OSX is already implemented. Closing. See #812 for details.

[2015-01-14 09:55] #627 closed

[2015-01-14 13:32] matysek commented on #1155
This is similar to this pull request #1157 which was merged just today. It should be fixed. Thanks for reporting anyway.

[2015-01-14 13:32] #1155 closed

[2015-01-14 21:29] #1147 closed

[2015-01-14 21:29] matysek commented on #1141
After recompiling linux bootloaders onefile mode should work.

[2015-01-14 21:29] #1141 closed

[2015-01-14 21:35] thorstenkampe commented on #1141
Recompiling the bootloader solved this issue

[2015-01-14 21:40] thorstenkampe commented on #1140
Same issue on Linux

[2015-01-14 22:00] matysek commented on #1140
Please try my fork if that fixes this: https://github.com/matysek/pyinstaller/tree/python3

[2015-01-14 22:49] thorstenkampe commented on #1140
No diagnostic output on Linux or Windows, thanks

[2015-01-14 23:08] thorstenkampe opened #1160 "[Pyinstaller3] crcmod: import error on Linux"
I'm getting the following exception after successfully building an executable on Linux. The same Pyinstaller3 generated build works on Windows and with Pyinstaller2 on Linux:
[code]

[2015-01-15 08:27] #1140 closed

[2015-01-15 08:35] matysek commented on #1160
@thorstenkampe Do you have any code example to reproduce this error?

Please look at
* https://github.com/pyinstaller/pyinstaller/wiki/If-Things-Go-Wrong
* https://github.com/pyinstaller/pyinstaller/wiki/How-to-Report-Bugs

[2015-01-15 14:04] matysek commented on #513
For pyinstaller 2.2 it is not important and for python3 branch RegistryImportDirector is replaced by a 3rd party library. Closing.

[2015-01-15 14:04] #513 closed

[2015-01-15 16:56] YueLunGames commented on #1145
ok, I will try to create an clean fix in next few days.

[2015-01-15 17:14] matysek commented on #1145
Thanks.

[2015-01-15 19:03] thorstenkampe commented on #1160
The problem was with the third-party module crcmod imported from directory other than site-packages. crcmod is a Python2 and Python3 module from https://pypi.python.org/pypi/crcmod/1.7 .
[code]
So basically importing crcmod works from `site-packages` or from `mytest` - but not in Python3. Extremely weird, but not a Pyinstaller issue.

[2015-01-15 19:29] #1160 closed

[2015-01-16 10:20] YueLunGames opened #1162 "Execute error when path contains wide character."
Version of python: 2.7 32bit
Version of pyinstaller: download from git
System: windows 7 64bit

How to reproduce:
1: pack script to executable, run
pyinstaller.py 1.py

2: put 1.exe to c:\一二三 and run
Then an exception will throw:
ImportError: Can't load frozen modules

I found the encoding of string pyz_filepath in pyi_importers.__init__ is utf-8.
But windows require file path encoding must be ans

[2015-01-16 10:56] matysek commented on #1162
This is the limitation of Python 2 on windows. There is implemented workaround that converts path to 'Short pathname': http://msdn.microsoft.com/en-us/library/windows/desktop/aa364989(v=vs.85).aspx

However, this is not perfect. Some paths cannot be converted to short name e.g. chinese characters. There is nothing more we could do in this regard for python 2.

We should concentrate the effort on p

[2015-01-16 11:04] YueLunGames commented on #1162
I still hope it can get fix.
Because old version of pyinstaller (1.5.1) didn't have this problem.
I try to fix my self by add
```pyz_filepath = pyz_filepath.decode("utf-8").encode(sys.getfilesystemencoding())```
But no luck because pyi_importers can't import codec module.

[2015-01-18 20:33] jacebrowning commented on #1085
Using the same version of OS X and Python, I get the same error with a simple `helloworld.py` script.

[2015-01-18 20:49] matysek commented on #1085
@jacebrowning Does --onedir work for you?

[2015-01-18 20:59] jacebrowning commented on #1085
@matysek Yes.

[2015-01-18 21:25] matysek commented on #1085
@jacebrowning  Could you try recompile bootloaders? There was recently a fix for onefile mode and for osx the bootloaders were not recompiled.

[2015-01-18 21:49] jacebrowning commented on #1085
@matysek Rebuilding bootloaders from the current `python3` branch (b2eed53de62177bf898628ab403a0a8fee2ecb36) worked!

[2015-01-18 22:28] jacebrowning opened #1164 "ValueError during launch due to import of _tkinter"
On OS X 10.10.1 with Python 3.4, I am unable to launch apps that import `tkinter`. A minimum example:

[code]

builds succesfully using:

[code]

but raises an exception on launch:

[code]

All relevant files (as well as a working non-tkinter example) can be found here: https://github.com/jacebrowning/pyinstaller/tree/1e1044d7edc42a9aba781a44c9db16f6aded10b1/sandbox

[2015-01-18 22:31] jacebrowning commented on #1164
I am using the current `python3` branch (b2eed53de62177bf898628ab403a0a8fee2ecb36) with rebuilt bootloaders as per #1085.

[2015-01-19 09:00] #1085 closed

[2015-01-19 14:29] matysek commented on #1164
Could you try my branch, if that makes any difference? https://github.com/matysek/pyinstaller/tree/python3

[2015-01-19 14:41] matysek commented on #1164
It looks like the runtime hook pyi_rth_Tkinter.py needs some work.

[2015-01-19 18:21] jjtapia opened #1165 "Problem with bootloader building executable using cygwin"
I'm trying to build a Python executable using cygwin. The same code has already been built with pyinstaller and verified to work using both MacOSX  10.10 and the latest Linux Ubuntu version. I suspect the problem has something to do with the bootloader, but I'll elaborate on what I have tried so far:

Current specs:
-python 2.7.8
-repository pyInstaller (commit 707e2e62a80aef2f8f1c0628250ae8e59c77

[2015-01-19 19:12] jacebrowning commented on #1164
@matysek I get pretty much the same exception using 23af2e3: https://github.com/jacebrowning/pyinstaller/tree/36b95a637871f9f3704e5c72bd03c29c320cfc85/sandbox

[2015-01-19 19:22] matysek commented on #1164
Do you know how the tkinter module should be initialized in python 3?
In Python 2 pyinstaller only sets variables TCL_LIBRARY and TK_LIBRARY before importing tkinter.

[2015-01-19 20:10] jacebrowning commented on #1164
I'm not sure. What information would be helpful? `TCL_LIBRARY` and `TK_LIBRARY` are both unset when a `tkinter` application is running on my system and `_tkinter.so` is at:

`/opt/boxen/homebrew/Cellar/python3/3.4.2_1/Frameworks/Python.framework/Versions/3.4/lib/python3.4/lib-dynload/_tkinter.so`

[2015-01-19 23:36] matysek commented on #1164
PyInstaller sets should set these variables just before running your frozen app. See file ./PyInstaller/loader/rthooks/pyi_rth_Tkinter.py.

Anyway, this case is getting more interesting:
* there are involved multiple issues
* one of them is that hook-_tkinter.py does not bundle tcl/tk data files with the created app.

Thanks for reporting.

[2015-01-20 00:58] jjtapia commented on #1165
Activating the debug flag throws the following information:

LOADER: executable is
LOADER: homepath is
LOADER: _MEIPASS2 is NULL
LOADER: archivename is
LOADER: Cannot open archive
LOADER: archive name is .pkg
LOADER: Cannot open archive .pkg
Cannot open self or archive .pkg

So it'd seem to be failing to set any of the path variables? Does this sound familiar to anyone?

[2015-01-20 08:29] matysek commented on #1165
This probably means that pyinstaller was not able to append python modules to the exe file.

Please look at these wiki pages:
https://github.com/pyinstaller/pyinstaller/wiki/If-Things-Go-Wrong
https://github.com/pyinstaller/pyinstaller/wiki/How-to-Report-Bugs

[2015-01-20 16:48] AcidWeb opened #1166 "qt5_plugins directory is not created"
**Python3 branch** - Python 3.4.1 32bit

Tested both on Windows and Linux. Using single file and single directory output.
In all cases qt5_plugins directory is not part of output bundle - and that obviously cause application to crash.

When qt5_plugins is created manually everything start to work correctly.

[2015-01-20 16:59] matysek commented on #1166
I found similar issue with other hooks too.

[2015-01-20 17:02] AcidWeb opened #1167 ""SIP developer tools" break PyInstaller on Windows"
**Python3 branch** - Python 3.4.1 - Windows only.

If during PyQT5 installation user select "SIP developer tools" PyInstaller can't bundle SIP properly anymore.

No errors during bundle creation. Output apps fail due lack of SIP.

[2015-01-20 18:37] AcidWeb commented on #1167
After additional research I discovered that problem is not caused by 64 bit Python.

Updated bug description.

[2015-01-20 18:40] AcidWeb commented on #1167
Problem was not caused by 64bit Python - Changed bug description.

[2015-01-21 17:14] pjrobertson commented on #859
I can confirm that I get this error when running grab_version.py on a newly created .exe file (created with PyInstaller).

If I run it on an existing app (e.g. firefox.exe) then it works fine.

[2015-01-22 21:35] jjtapia commented on #1165
I see. Do you think there could be any other reason as to why this would happen other than having missing modules? I've been comparing the list of modules I get both using archive_viewer and COLLECT in spec so I get a directory instead of an executable and compared that to the ones I get in the Linux and MacOSX executables that were correctly assembled, however I cannot pinpoint that is critically

[2015-01-22 22:27] jjtapia commented on #1165
Ok, I think I found the problem. When defining a name for the executable inside EXE in the spec file

name='sbmlTranslator.exe',

The name has to explicitly have the extension '.exe' when using cygwin. Failing to do this will result in the problem described above.

[2015-01-23 06:36] #1165 closed

[2015-01-25 12:23] lamazavr opened #1169 "Gtk3 python app"
Hi, I am trying to build simple Gtk3 app on Fedora Linux with 2.1.1dev-707e2e6 pyinstaller.
It builds fine (as I can see), but when I start it:
ImportError: PyCapsule_Import could not import module "datetime"

Here is an archive with logs and my files: http://blablacode.ru/files/installer.tar.gz
Thanks, sorry for my English.

[2015-01-26 09:49] htgoebel commented on #1162
@matysek I assume you wanted to close this issue, as you marked it as "won't fix"?!

[2015-01-26 09:51] htgoebel commented on #1169
Please follow the instructions at https://github.com/pyinstaller/pyinstaller/wiki/If-Things-Go-Wrong and
https://github.com/pyinstaller/pyinstaller/wiki/How-to-Report-Bugs

[2015-01-26 09:51] #1169 closed

[2015-01-26 10:11] matysek commented on #1162
@YueLunGames if you are able to fix this please create a pull request.

[2015-01-26 10:11] #1162 closed

[2015-01-28 18:58] pjrobertson commented on #621
I have just come across this problem. Here's what I did:

* Installed ActiveTcl as per the recommendations at https://www.python.org/download/mac/tcltk/ (that is, I downloaded ActiveTcl 8.5.17.0)
* Installed Python from Python.org (and from hombrew - I tried both)
* Built my Tkinter project using Pyinstaller
* Copied my .app file to another computer (that doesn't have ActiveTcl 8.5.17 installed on

[2015-01-28 21:50] pjrobertson commented on #621
Just as an update: I found that the problematic code was in `/Library/Frameworks/Tcl.framework/Versions/8.5/Resources/Scripts/init.tcl`

At the end of the file there are the following lines:

[code]

I commented these out, and re-built with PyInstaller and everything worked fine. Perhaps PyInstaller should check the Tkinter `init.tcl` file for references to 'teapot' and either printing a warning o

[2015-01-28 22:21] matysek commented on #621
@pjrobertson Could you please try to implement this warning?

[2015-01-29 08:56] pjrobertson commented on #621
OK, I will do. I'll submit a patch this evening/tomorrow.
Do you have a 'standard' way of finding if a path is in a system library?
At the moment I'm using:

[code]
which probably isn't ideal

[2015-01-29 09:08] matysek commented on #621
look at file ./PyInstaller/depend/dylib.py, there is code like this:
[code]

[2015-01-29 10:07] pjrobertson commented on #621
Cool, I was assuming there was something like that. Thanks

On 29 January 2015 at 09:08, Martin Zibricky <notifications@github.com>
wrote:

[2015-02-01 13:05] anch0vy opened #1178 "Can not capture incoming packet with raw_socket at Windows (python 2.7.9, pyinstaller 2.1)"
my code:

[code]
command
`pyinstaller --clean -y sockettest.py`

And run at administrator console, but i can only capture outgoing packet.

What should i do?

![default](https://cloud.githubusercontent.com/assets/6133895/5992149/d7cf0852-aa5e-11e4-9129-dc66b8794bb6.PNG)

[2015-02-02 09:07] #621 closed

[2015-02-02 09:14] htgoebel commented on #1178
I can not see why this problem is related to PyInstaller.
Please have a look at https://github.com/pyinstaller/pyinstaller/wiki/If-Things-Go-Wrong and https://github.com/pyinstaller/pyinstaller/wiki/How-to-Report-Bugs

[2015-02-02 09:14] #1178 closed

[2015-02-04 17:35] ALEERQUESON2DIAS opened #1179 "Onefile ".exe" made with Pyinstaller returns "requests.exceptions.SSLError: [Errno 2] No such file or directory""
Hello,

I'm using PYinstaller  v2.1 with Python 2.7.9 to made and onefile exe qith an application (python-onedrive 15.02.2 - https://pypi.python.org/pypi/python-onedrive). All is under Windows 7 PRO 64 bits but Python 2.7 and accesoriies are in 32 bit.

I have read all instructions and I have checked the recommendations on bugs and read open bugs.

I reach this platform as suggested by developper

[2015-02-04 18:04] mk-fg commented on #1179
It's all my fault that I haven't been clear on this in the linked python-onedrive issue, but I meant opening an issue with another module (requests), which raises that error in the first place, when ran from PyInstaller bundle, my apologies.

It's not my call, of course, but maybe this issue should be just closed as misdirected.

[2015-02-04 19:48] ALEERQUESON2DIAS commented on #1179
As the previous entry said, my excuses for opening this issue for PYinstaller.

Please close it and excuses.

[2015-02-04 20:11] #1179 closed

[2015-02-05 01:20] codewarrior0 opened #1180 "Windows .manifest file included in onefile bootloader specifies not-yet-existing dependencies"
I'm trying to figure out why the MSVCR90.dll and others aren't being included in the onefile archive. This is probably because I need to add them to the binaries TOC. But first I have a quick question to ask.

Why, if the bootloader `run.exe` does not itself depend on those .dlls, is a .manifest being embedded into it that specifies a dependency on them? This apparently causes a "side-by-side conf

[2015-02-05 02:28] codewarrior0 commented on #1180
I've found out that MCVCR90.dll is in fact being included into the archive.

I've also found out that `run.exe` does indirectly depend on those .dlls, but only after it has unpacked the archive and loaded python27.dll and friends. It seems to me that it is incorrect to embed a manifest into the bootloader when those files won't exist until after the bootloader has unpacked itself. Yet, a manifest

[2015-02-05 03:26] codewarrior0 commented on #1180
Possibly related to #772

[2015-02-05 07:10] codewarrior0 commented on #1180
Whoops, the mailing list post isn't the one I thought I linked. I can't find the one I was looking at now. But that one does describe a different issue: having different .pyd or .dll files included, whose manifests each have dependencies on different versions of the assembly. The .dll files are included only once, instead of including the different assemblies as complete items... but that's a sepa

[2015-02-05 08:44] codewarrior0 commented on #1180
All right, I think I understand this problem now. In onefile mode, the .exe manifest specifies dependencies on the files it is about to extract, but since those files don't exist yet, the windows exe loader refuses to even start the .exe so it can extract its own dependencies.

I can't just remove the manifest, because then it can't link up with the .dlls it needs after extracting them. The fix I

[2015-02-05 18:00] Zenadix opened #1183 "Python 3: Single-File Executable Doesn't Run"
I'm trying to create a single-file executable for Windows from a Python 3 application, using `pyinstaller`.

I downloaded the experimental Python 3 branch of `pyinstaller` from [here][1] (scroll down and you'll find the download link, the file is `py3.zip`). And I installed it using `python setup.py install`.

Then I created a test python script called `test.py`, with the following content:

    p

[2015-02-05 18:04] Zenadix opened #1184 "upx causes --onefile exe to unpack too long"
I originally posted this [on Stack Overflow](http://stackoverflow.com/questions/28349359/python-3-and-pyinstaller-single-file-executable-doesnt-run).

I'm trying to create a single-file executable for Windows from a Python application, using `pyinstaller`.

I downloaded the experimental Python 3 branch of `pyinstaller` from [here](https://github.com/pyinstaller/pyinstaller/wiki) (scroll down and y

[2015-02-05 18:05] #1183 closed

[2015-02-05 21:56] v6 commented on #1027
Has anyone been assigned to this?

[2015-02-06 02:59] codewarrior0 commented on #1184
Could you try running `pyinstaller --debug --onefile test.py`? You'll get some output about the progress of the loader when you run it.

[2015-02-06 08:23] htgoebel commented on #1027
@v6 As you may have notices, matysek is assigned to this and working on it for more than a year now. Your help is appreciated, just checkout the python3-branch and start hacking.

[2015-02-06 09:15] matysek opened #1185 "fix hook-cryptography to put *.pyd files next to the exe file"
Cryptography hook does not put *.pyd files next to the exe file but to the path like

[code]

PyInstaller convention is to put them to filename like: /dist/sample/cryptography.module.pyd and not into  cryptography subdirectory.

[2015-02-06 09:17] poyntesm opened #1186 "HP-UX 11.31 ia64 support"
Hello,

I can see from readme that HP-UX is not supported, however I note that Solaris and AIX have experimental support. Would it be possible to add HP-UX experimental support?

Python 2.7.x is available for the platform.

http://hpux.connect.org.uk/hppd/hpux/Languages/python-2.7.9

In addition I had no issues to add setuptools or indeed install pyinstaller to the system. However its clear at the

[2015-02-06 09:27] matysek commented on #1186
Hi @poyntesm , we do not have the necessary knowledge and resources to do that.

But have you tried to compile the bootloader?

It might not be hard to add hpux support. It might be just a matter of editing a few files.

We would welcome patches.

[2015-02-06 09:33] matysek opened #1187 "look for .dlls in the same directory as where .pyd are located"
- On windows some Python C extensions (.pyd) files depend on some dlls.
- Those dlls are in the same directory as .pyd file:

[code]
- pyinstaller should look for dependent dlls also in directories /package/subpackage.

For matplotlib there is a hack that does this but it is not a general solution.

[2015-02-06 09:34] poyntesm commented on #1186
Hi @matysek ,

Thanks for quick response. I have not compiled the bootloader before. it might be a bit past me but I will give it a try. Is http://pythonhosted.org/PyInstaller/#building-the-bootloader the best resource. I am more than willing to give it and go and will look to the AIX/Solaris support as guides for maybe where edits/logic is needed. Is it OK to comment/ask for support in this issue

[2015-02-06 09:39] matysek opened #1188 "use pkg_resources on each located package to find its entry points"
[As described here](https://github.com/pyinstaller/pyinstaller/pull/140#issuecomment-73174437)

Use pkg_resources on each located package in the Analysis step to find its entry points and make sure those modules are collected. This approach would work for any module that uses entry_points for anything, and will include any modules specified in entry_points.

cryptography benefits from calling pkg_

[2015-02-06 09:48] matysek commented on #1186
@poyntesm yes, it's the place where to look for instructions. As you described, hpux support might be similar, in that case I would try to find in pyinstaller code places where aix is mentioned. Good place to understand the code is probably file ./PyInstaller/compat.py.

It's ok to ask in this issue.

[2015-02-06 10:28] poyntesm commented on #1186
So using the HP standard C compiler which is the below...

  B9007AA.C-ANSI-C      C.06.26        HP C/aC++ Compiler

We get an error

/tmp/PyInstaller-2.1/bootloader>/usr/local/bin/python ./waf configure build install
HP-UX-32bit detected
Checking for program gcc or cc           : /usr/bin/cc

So since it says AIX was built using GCC I placed GCC 4.2.3 onto the system.

/tmp/PyInstaller-2.1/bootl

[2015-02-06 10:31] codewarrior0 commented on #1188
Add `[Originally posted by codewarrior0 here](https://github.com/pyinstaller/pyinstaller/pull/140#issuecomment-73174437)`, please.

[2015-02-06 10:45] matysek commented on #1186
* libdl is a library that contains function dlopen().
* your python looks like 32bit: HP-UX-32bit detected
* I assume the right one is probably /usr/lib/hpux32/libdl.so
* you might try to set LD_LIBRARY_PATH or hpux equivalent to point to /usr/lib/hpux32

[2015-02-06 11:38] poyntesm commented on #1186
@matysek .. So I tried LD_LIBRARY_PATH and also LD_PRELOAD but still fail. However the config.log shows that

[1/2] ^[[32mcc: build/.conf_check_0/test.c -> build/.conf_check_0/testbuild/default/test_1.o
^[[0m['/usr/local/bin/gcc', '-I../common', '-D_POSIX_C_SOURCE=200112L', '-D_XOPEN_SOURCE=500', '-D_REENTRANT', '-D_BSD_SOURCE', '../test.c', '-c', '-o', 'default/test_1.o']
[2/2] ^[[33mcc_link: bui

[2015-02-06 11:52] hellais commented on #847
Is this still an issue? Are there any suggestions on which branch/git tag/HEAD to use to avoid triggering antiviruses?

This is a blocker on having important software such as [Tor](https://torproject.org) from using pyinstaller.

[2015-02-06 13:24] matysek commented on #1186
Try to look at file ./bootloader/wscript where the whole build process is defined.
Another option is to start looking at the develop version.

[2015-02-06 14:24] poyntesm commented on #1186
So I can "try" to look at the wscript, but I fear I will get little lost. I have tried also on the develop version and same result.

[2015-02-06 14:25] Zenadix commented on #1184
Here is the output of `pyinstaller --debug --onefile test.py`.

	C:\mac\des\ide\test\cxora>pyinstaller --debug --onefile test.py
	246 INFO: wrote C:\mac\des\ide\test\cxora\test.spec
	248 INFO: Testing for ability to set icons, version resources...
	321 INFO: ... resource update available
	435 INFO: UPX is available.
	452 INFO: Extending PYTHONPATH with C:\mac\des\ide\test\cxora
	453 INFO: checking

[2015-02-06 15:04] matysek commented on #1184
Please try with option --noupx

[2015-02-06 15:17] Zenadix commented on #1184
The `--noupx` option fixed it! Now the executable takes barely one second to start. I would never have guessed that `upx` was responsible of this issue.

Why does `upx` cause such long startup times? Is this a bug?

[2015-02-06 21:40] matysek commented on #1186
you need to tell gcc where to look for libraries. I think for gcc it is option -L.  like:  -L /usr/lib/hpux32/

You might try append somewhere into wscript line like
[code]
or
[code]

[2015-02-09 09:18] htgoebel commented on #847
@hellais One can never know what antivirus detects. This can change from one day to another.

[2015-02-09 10:44] matysek commented on #847
@hellais Recently this has been reported only for the python3 branch. The 'develop' branch should be fine.

There is probably no other way than report it to antivirus companies as False Positives. For one project (that uses python3 branch) helped to report it as false positives. It helped to improve the situation.

But as @htgoebel pointed out. One can never know what antivirus detects.

[2015-02-09 13:02] poyntesm commented on #1186
So I can see the option is now passed to GCC but still no joy. The error on bad keyword argument I am also researching.

[1/2] ^[[32mcc: build/.conf_check_0/test.c -> build/.conf_check_0/testbuild/default/test_1.o
^[[0m['/usr/local/bin/gcc', '-L/usr/lib/hpux32/', '-I../common', '-D_POSIX_C_SOURCE=200112L', '-D_XOPEN_SOURCE=500', '-D_REENTRANT', '-D_BSD_SOURCE', '../test.c', '-c', '-o', 'default/te

[2015-02-09 13:04] poyntesm commented on #1186
From http://ftp.gnu.org/pub/old-gnu/Manuals/ld-2.9.1/html_node/ld_3.html

-akeyword
    This option is supported for HP/UX compatibility. The keyword argument must be one of the strings `archive', `shared', or `default'. `-aarchive' is functionally equivalent to `-Bstatic', and the other two keywords are functionally equivalent to `-Bdynamic'. This option may be used any number of times.

Looking

[2015-02-09 23:14] matysek commented on #1184
upx might add some other overhad. Not sure how exactly.

@Zenadix Do you think the fix could be to not use upx compression for the exe created by pyinstaller but use upx only for dlls?

[2015-02-11 00:12] WreXplorer commented on #819
Any chance this could be reopened? I am experiencing the same issue. It takes place while simply importing pygame in any *.py. Software runs normally then when attempting to run the exported executable in a 64-bit ubuntu os, the output lists exactly as shown above. No idea what is causing this and I am running out of thoughts.

[2015-02-11 09:07] poyntesm commented on #1186
@matysek Do you have any idea where '-Wl,-Bdynamic' gets set from, I have grep'd for it but no luck..

[2015-02-11 13:45] matysek commented on #1186
@poyntesm that probably is the default settings from waf that is used for compilation of bootloader. The ./waf file is a kind of self-extracting executable. It extracts python files into directory like
[code]

[2015-02-12 10:08] poyntesm commented on #1186
@matysek Thanks. So file /bootloader/.waf-1.5.18-402a8e0721eb718ff717906f130db0f4/wafadmin/Tools/gcc.py had the reference .

Changed to below
#       v['SHLIB_MARKER']='-Wl,-Bdynamic'
        v['SHLIB_MARKER']='-Wl,-adefault'

And now thankfully libdl is found, however libz is not :(

/tmp/PyInstaller-2.1/bootloader>/usr/local/bin/python ./waf configure build install
HP-UX-32bit detected
Checking

[2015-02-12 10:49] htgoebel commented on #819
Of course we can reopen this, if one is willing to submit a minimal example on how to reproduce this error. See https://github.com/pyinstaller/pyinstaller/wiki/How-to-Report-Bugs

[2015-02-12 10:52] poyntesm commented on #1186
Also I was looking foward, so as a note also GCC on HPUX does not support -m32 or -m64

    if conf.env.CC_NAME == 'gcc':
        if myarch == '32bit' and conf.check_cc(ccflags='-m32', msg='Checking for flags -m32'):
            conf.env.append_value('CCFLAGS', '-m32')
        elif myarch == '32bit' and conf.check_cc(ccflags='-milp32', msg='Checking for flags -milp32'):
            conf.env.append

[2015-02-12 14:51] poyntesm commented on #1186
@matysek  Progress :) .. there is now two new errors.

root@xxxxx.hp.com:/tmp/PyInstaller-2.1/bootloader>/usr/local/bin/python ./waf configure build install
HP-UX-32bit detected
Checking for program gcc or cc           : /usr/local/bin/gcc
Checking for program cpp                 : /usr/local/bin/cpp
Checking for program ar                  : /usr/bin/ar
Checking for program ranlib              :

[2015-02-12 15:26] poyntesm commented on #1186
Some details on PATH_MAX on HP-UX i found.
https://lists.gnu.org/archive/html/bug-gnulib/2011-06/msg00242.html

As temporary workaround I set in ./common/pyi_archive.h

Leaving just one issue now..

Waf: Entering directory `/tmp/PyInstaller-2.1/bootloader/build'
[ 2/40] cc: common/pyi_utils.c -> build/debug/common/pyi_utils_1.o
In file included from ../common/pyi_utils.c:53:
../common/stb.h:369: e

[2015-02-12 16:07] poyntesm commented on #1186
Ok, so bear with me as I am really not a compiler expert :)

I set the line to as below

I needed to .set the PATH_MAX also in /common/pyi_path.c and then in common/pyi_utils.c I needed to ensure mkdtemp.h was included.

Then I seem to get much futher but I still see one warning

But then the bootoader seems to have built

[36/40] cc: common/pyi_path.c -> build/debugw/common/pyi_path_4.o
[37/40] c

[2015-02-12 16:19] matysek commented on #1186
You approach has not been stupid.  Now you have the basic for other work:
* get back to running pyinstaller.py
* and edit pyinstaller python code, until you get pyinstaller to create the executable
* when pyinstaller is able to create the executable you will see if there are necessary other modifications in the bootloader.

[2015-02-12 16:37] poyntesm commented on #1186
Thanks for sticking with me on this. I was detailing steps for others in the future as it might help. I re-ran the installer now for Pyinstaller so that the newly compiled bootloader gets added and that seemed to have happened with no issue.

-rw-r--r--   1 root       sys         296080 Feb 12 17:14 /usr/local/lib/python2.7/site-packages/PyInstaller-2.1-py2.7.egg/PyInstaller/bootloader/HP-UX-32bit

[2015-02-12 17:05] Zenadix commented on #1184
@matysek I really couldn't tell. I think the only way to know is to try it.

For now, disabling upx completely does the trick for me.

[2015-02-12 17:38] poyntesm commented on #1186
@matysek

Can you tell me what the expected filename structure should be in the block below from bindepend.py.

I had added the is_hpux logic and basics in compat.py and _ _init_ _.py
[code]

However the function below is then erroring

[code]

At the moment with some logic to add the HPUX path

[code]

So we pass to getSoname the filename of /usr/local/lib/hpux32/libpython2.7.so ... which seems r

[2015-02-12 17:46] poyntesm commented on #1186
Sorry was not reading function right. The SONAME is not in output from that command

[code]

[2015-02-13 09:58] poyntesm commented on #1186
So I checked into what the output of objdump should provide and the simple filename of the library seems to be the SONAME in 99% of the case. So I amended to just provide that.

[code]

[2015-02-13 13:01] manuel-koch opened #1189 "PyInstaller 2.1 fails when run in parallel ( using fixed temporary file c:/Temp\\me_test_exe.tmp )"
Using PyInstaller to create multiple executables from Python sources in a parallel build process. This results in multiple PyInstaller instances interfering which each other.
In particular PyInstaller uses a simple temp file to test if resource update is possible.

See following stacktrace:
'''
....
391 INFO: Testing for ability to set icons, version resources...
562 INFO: ... resource update avai

[2015-02-13 16:01] poyntesm commented on #1186
@matysek

Spoke to soon, I move the binary to another server now...
So one issue I am seeing . I see errors about unsupported hash type. I see it repeated for md5,sha1,sha224,sha256,sha384 and sha512

[code]

However the actual script worked (is applying a json patch), but we do get alot of errors to stdout.

[2015-02-13 17:03] paleolimbot opened #1190 "Problem with matplotlib in python3"
I have a PyQt5 application in python3, using the 3.0dev version of pyinstaller. I have all my files in a /src folder, with the main script as /src/main.py. When I invoke pyinstaller src/main.py, I get no errors, but I get an ImportError (ImportError: No module named 'ui') when I try to import a module. When I invoke pyinstaller -p src src/main.py, I get the following error, which seems to be relat

[2015-02-18 11:33] dvitonis commented on #1078
I am using a workaround for this, however it might not be suitable for a fix since it has a small side effect.

1. Change LSBackgroundOnly to 0. That makes the parent app and the child process foreground, thus the menu bar is visible immediately.
2. Transform the parent process to background in the same fashion the child process is transformed to foreground in current version. This solves the doub

[2015-02-20 00:07] barn opened #1191 "Symbol error when running on previous OS X releases (build on 10.10, fails to run on 10.9)"
Similar to #694 I believe (so mark as a dupe if need be)

Using the test python at https://gist.github.com/barn/1dcb75f0b476294e59f2 I'm unable to take that bundled app and run it on 10.8 or even 10.9.

I've gone through the joy of MACOSX_DEPLOYMENT_TARGET and the likes. SDKROOT. Different python libraries.

On 10.8, from a 10.10 build, I get:

[code]

https://gist.github.com/barn/51aeb936371e74c7

[2015-02-23 22:56] tallforasmurf opened #1193 "PyQt5.4 QtWebEngine with Mac OS app bundle "Couldn't mmap icudtl.dat""
I have been trying to build a PyQt5.4 app that uses the new QtWebEngine browser module. PyInstaller does its usual thing and copies the relevant modules into .app/Contents/MacOS. However the app will fail to start with the message "Couldn't mmap icudtl.dat". This message is the sign of a major complication with bundling QtWebEngine for Mac OSX.

The problem is that unlike the other QtXxxx modules,

[2015-02-24 14:27] thethomaseffect commented on #1071
I'll get a chance to potentiallyimplement this starting this week, but it it ends up taking too long I'll have to give it a miss so any help from those experience with flask and it's many dependencies is most appreciated. I hope it's okay to use this issue to log progress, mainly because:

 - I can't do this publicly on Github, it's for work and the project is super sensitive info
 - If this does

[2015-02-25 05:16] fyears commented on #1071
@matiasbonet My ugly solution is just try to find all the hidden import and import them **explicitly** in the code file, not the special `spec` file for pyinstaller.

[2015-02-25 16:44] matiasbonet commented on #1071
Thanks! keep me posted with the updates. If I find a solution I will post it too.
@fyears, sorry for my ignorance, not sure what do you mean with import explicitly in the code file. You mean add each of the libraries manually to the main script?

This is how my imports look like:

from flask import Flask,request,render_template,url_for, redirect, Response
from flask.ext.restful import reqparse, ab

[2015-02-25 18:59] ypereto commented on #615
Another workaround for the zope.interface import problem is to use the following hook-zope.py file.
This is from http://svn.simo-project.org/simo/trunk/dev/pyinstaller/hooks/hook-zope.py.

[code]

[2015-02-25 19:53] htgoebel commented on #615
@ypereto Why do you want to use this work-around, as this is already solved (see https://github.com/pyinstaller/pyinstaller/issues/615#issuecomment-59615701) Does this not work for you?

[2015-02-25 20:46] ypereto commented on #615
I'm using pyinstaller v2.1, which does not have this fix. I'm assuming this will be fixed in 2.2. I'll be happy to dump the hook once v2.2 is released.

[2015-02-26 09:28] leycec commented on #1190
I'm currently receiving a similar exception in a non-PyQt5 console application:

    73 INFO: wrote /home/leycec/py/betse/betse.spec
    164 INFO: UPX is available.
    177 INFO: Extending PYTHONPATH with /usr/bin
    178 INFO: checking Analysis
    178 INFO: building because /usr/lib64/python3.3/site-packages/PyInstaller/loader/_pyi_bootstrap.py changed
    178 INFO: Creating base_library.zip for

[2015-02-26 12:26] bjones1 commented on #1190
A suggestion if you do fix this: perhaps

[code]

would work. (Taken from hook-sphinx.py and modified).

[2015-02-26 20:41] leycec commented on #1190
@bjones1 Great suggestion! I'm always happy to go for the pat one-liner.

Although, debugging this *was* sufficiently frustrating that I might be inclined to nip this in the bud and submit a pull request correcting the ridiculously broken `Analysis._format_hook_datas()` method. To quote an [old man in a cabin](http://thoreau.eserver.org/walden1e.html): "There are a thousand hacking at the branches

[2015-02-27 02:05] leycec commented on #1140
@matysek Did you forget to submit a pull request for [your commit](https://github.com/pyinstaller/pyinstaller/issues/1190)? In any case, thanks for looking into this!

[2015-02-27 02:25] leycec commented on #1190
**Let's do this.**

I've corrected `Analysis._format_hook_datas()` locally and will be submitting a pull request shortly.

[2015-02-27 05:32] fyears commented on #1071
@matiasbonet

Please look at my original post at the first floor. For example, I need `import flask.ext.sqlalchemy` in the main file, but pyinstaller said `No module named flask.ext.sqlalchemy`. So I have to write the code to import the hidden models explicitly in the main file, like,  `import flask_sqlalchemy._compat`.

In your example, maybe you could write these lines in your main file:
[code]

[2015-03-02 20:10] KenV99 opened #1195 "Error with wxPython in a thread with --onefile only"
Using current develop branch and 32bt python2.7 with wxPython 3.0 on Windows 7 x64, I am running wx.App in it's own thread as instructed here: http://wiki.wxpython.org/MainLoopAsThread. It runs fine with no errors with pythonw.exe. It also runs fine after using PyInstaller building to one folder. However with the --onefile option, the program fails with a wxWidgets error:

assert "module->m_state

[2015-03-03 02:03] leycec opened #1196 "Diagnostic Information Still Printed from Executable"
In response to #1140, [matysek](https://github.com/matysek) kindly squelched [a few stray `print()` statements](https://github.com/matysek/pyinstaller/commit/8d416fb13e1b9e1a0d67e15db12ffdb7929be0ee) leaking from the bootloader. However, a recent [stackoverflow question](https://stackoverflow.com/questions/28611297/suppress-output-when-running-pyinstaller-generated-executable/28644186#28644186) su

[2015-03-03 04:50] leycec opened #1198 "SciPy <= 0.14.0 Importation Fails at Runtime"
SciPy versions older than 0.14.0 raise runtime exceptions on importation resembling:

    Traceback (most recent call last):
      File "/home/leycec/py/betse/betse/cli/cli.py", line 82, in run
        self._run()
      File "/home/leycec/py/betse/betse/cli/clicli.py", line 114, in _run
        subcommand_method()
      File "/home/leycec/py/betse/betse/cli/clicli.py", line 263, in _run_sim

[2015-03-03 11:25] majkadaw opened #1200 "Warning while using --onefile and matplotlib"
I am building a standalone exe with the --onefile parameter.
While running the exe I always get the following warning:
WARNING: file already exists but should not: C:\Users\majkdawi\AppData\Local\Temp\_MEI37002\Include\fig.h
I figured out, that importing the matplotlib module causes the problem.

Using:
Python 2.7.2
pyinstaller 2.1
matplotlib 1.1.0 (even if there is a newer version, currently i ha

[2015-03-03 12:18] KenV99 commented on #1195
I am also getting an:

assert "wxIsMainThread()" failed in wxSocketBase::IsInitialized(): unsafe to call from other threads

error now. Is the execution from a --onefile build using a different threading model than if using --onedir?

[2015-03-05 19:21] nhubbard opened #1201 "__init__() got an unexpected keyword argument 'cipher'"
Hi!
I been using PyInstaller for a while now... it is awesome!
I recently started getting an error when compiling a target in my project's Makefile that ends with the title of this issue.
When I run ```pyinstaller --onedir paperpad.spec```, it gives me the following error:
[code]

Any possible reason? My project uses PyQt4.

I didn't make any changes, but I recall that I recently updated PyInstall

[2015-03-06 08:22] htgoebel commented on #1201
Am 05.03.2015 um 20:21 schrieb Nicholas Hubbard:

Well, the error message is sound and IMHO clear: remove the argument
`cipher` in the .spec file.

We may have had this as an argument in some versions, but I can not
really remember. Simple remove ist if you do not need it.

--
Schönen Gruß
Hartmut Goebel
Dipl.-Informatiker (univ), CISSP, CSSLP
Information Security Management, Security Governance,

[2015-03-06 10:06] Megido6 opened #1202 "some programs which maked with pyinstaller open excess console window"
I do not know regularity
just one program launch window and others do not
all programs without GUI
they launch a console window !!!
all programs have the same spec filles, except that the names

please look video for understand
https://www.youtube.com/watch?v=sIYGWdmBiys&feature=youtu.be
******************************
run.bat need for save output  after programm close
it contains:

program.exe
pau

[2015-03-06 15:36] rth opened #1203 "scipy.fftpack => 0.14 fails to import"
Building a package on Windows (Miniconda, Python 2.7) that uses  `scipy.fftpack`  (e.g. `fft`, `ifft`, `fff2`, etc..,) or  a  function that relies on those (e.g. `scipy.signal.welch`) , results in an import error at runtime,

     [...] scipy.fftpack.pseudo_diffs
     AttributeError: 'module' has no attribute 'destroy_convolve_cache'

This has been observed with SciPy 0.14, 0.15 and both stable (2

[2015-03-06 20:08] vinodsharma opened #1204 "ImportError: No module named sqlparse on Mac 10.10"
Hi,
I'm facing an error while trying to build a binary for python program which uses sqlparse. can you please help me resolve this issue?

This is the error that I observed when tries to run the binary generated by the pyinstaller.
    Traceback (most recent call last):
      File "<string>", line 1, in <module>
    ImportError: No module named sqlparse

However running the python program throws n

[2015-03-06 22:27] htgoebel commented on #1204
Am 06.03.2015 um 21:08 schrieb vinodsharma:

Thanks for your short example. Unfortunately I can not reproduce this
here using current PyInstaller developer-version and  |sqlparse| just
installed from pip.

Please folow the guide at
<https://github.com/pyinstaller/pyinstaller/wiki/If-Things-Go-Wrong>.

--
Schönen Gruß
Hartmut Goebel
Dipl.-Informatiker (univ), CISSP, CSSLP
Information Security Manag

[2015-03-07 00:17] andrek666 commented on #648
In the first first step, from which file do you remove this code?

[2015-03-07 00:18] vinodsharma commented on #1204
Thanks for replying & providing a useful link. I just removed the pyinstaller and installed it again from the pip. Now issue is gone. Seems like something was broken with my pyinstaller installation.

[2015-03-07 00:18] #1204 closed

[2015-03-07 02:06] ctismer commented on #1204
Fuck you -- correct???

Sent from my Ei4Steve

[2015-03-07 05:03] vinodsharma commented on #1204
What????????

[2015-03-07 16:04] nhubbard commented on #1201
Okay, thank you @htgoebel!

[2015-03-07 16:04] #1201 closed

[2015-03-09 12:47] htgoebel commented on #1202
Am 06.03.2015 um 11:06 schrieb Megido6:

Please double-check this. Then remove both the build and the dist
directory for a clean rebuild using the latest development snapshot.

If this does not help, I assume the cause of this issue not within
PyInstaller.

--
Schönen Gruß
Hartmut Goebel
Dipl.-Informatiker (univ), CISSP, CSSLP
Information Security Management, Security Governance, Secure Software
D

[2015-03-09 13:12] thorstenkampe commented on #1196
Definitely not merged: line 472 and 473 in `loader/pyi_importers.py`
[code]

[2015-03-09 13:31] htgoebel commented on #1196
Of course not. The pull request is still waiting for an update from the author, see https://github.com/pyinstaller/pyinstaller/pull/1197#issuecomment-76921402

[2015-03-09 14:32] hyt-hz commented on #1070
I made some more experiments, to reproduce the problem, just try to os.fork lots of child processes, and import modules in the child process, and import fails with:

ImportError: PYZ entry 'xxxxxxx' failed to decompress

Here is an example:

[code]
Pyinstaller and run it, it will produce lot's of error message like:

[code]

[2015-03-10 14:42] leycec commented on #1196
I am slow. Deadlines make me so. Such terrible rhyming: "Oh, no!"

In all seriousness, I'm swamped like a bloated corpse body in the bayou. Sorry for the delays on this and your other perspicacious commentary, [htgoebel](https://github.com/htgoebel). I should have a bit more time over the next few days to attend to everything. (*Should.*)

[2015-03-12 08:20] prologic opened #1208 "Symlinks and sys.argv[0]"
If I package up a single file app ``pyinstaller -s -F bin/foo``

and have the following symlinked:

[code]

I don't seem to find a way to determine whther
the app was run from the symlinked ``bar`` at all.

``sys.argv[0]`` seems to always point to the real page.

Any ideas? I sthis a bug?

[2015-03-12 08:30] nithinp commented on #1074
I just tried it now.. Mathplotlib is not working with pyinstaller.. :(

[2015-03-12 08:41] nithinp commented on #1074
it shows a runtime error

         RuntimeError: The WebAgg backend requires Tornado.

[2015-03-12 12:40] htgoebel commented on #1074
So please provide more information as described in <https://github.com/pyinstaller/pyinstaller/wiki/How-to-Report-Bugs>.

[2015-03-13 13:15] htgoebel commented on #1196
@leycec I have no hurry :-) I was just answering @thorstenkampe – for the case he wanted to submit an updated pull-request :-)

[2015-03-13 13:29] htgoebel commented on #1070
Thanks for this script. I was able to reproduce it even using the current developer head.

[2015-03-13 13:51] htgoebel commented on #1070
I think, I found the reason: `imp.acquire_lock()` acquires the interpreter's import lock for the current *thread*. But we have multi-processes here.

[2015-03-15 04:47] leycec opened #1210 "python3: "hooks/hook-OpenGL.py" Fundamentally Broken"
The OpenGL hook is awfully, painfully, and terribly broken. To demonstrate this, consider the single-line Python script consisting of only:

    import OpenGL

Attempting to freeze this script results in the following fatal exception:

    364 INFO: wrote /home/leycec/tmp/opengl/opengl.spec
    495 INFO: UPX is available.
    553 INFO: Extending PYTHONPATH with /home/leycec/tmp/opengl
    553 INFO

[2015-03-15 06:18] leycec opened #1212 "python3: "hooks/hook-IPython.py" Broken under IPython >= 2.3.1 (...and possibly older)"
The IPython hook is broken under newer versions of IPython – at least as recently as IPython 2.3.1 and possibly older. To demonstrate this, consider the single-line Python script consisting of only:

    import IPython

Attempting to freeze this script results in the following chain of exceptions:

    73 INFO: wrote /home/leycec/tmp/testem/ipython.spec
    80 INFO: UPX is available.
    82 INFO:

[2015-03-15 10:32] fraguada opened #1214 "PyInstaller packaged webserver behavior OSX vs WIN"
Hello.  My issue is not necessarily an error with PyInstaller, though the issue is expressed through the use of pyinstaller.  I have a python script which outputs the same behavior in both Windows 7 x64 and OSX 10.10 using Python 2.7.6 on both platforms.  The python script is based on [this answer](http://stackoverflow.com/questions/22171441/shutting-down-python-tcpserver-by-custom-handler/2217722

[2015-03-15 17:54] tallforasmurf commented on #1214
It seems to me "the directory from where this script is run" is not a
well-defined concept esp. in Mac OS X. There is no reason to expect a
relation between where the .app is located (which might well be
/Applications or /Users/username/Applications) and the CWD or any other
folder.

So I suggest you should use os.getcwd() in all cases. That is repeatable on
all platforms, and works whether frozen

[2015-03-16 08:58] leycec commented on #1164
The same issue applies to Linux and, in all likelihood, Windows.

After a week of miserably struggling in vain against this, I've come to one simple conclusion: **Tcl/Tk must die.** It's significantly more fragile than alternative widget toolkits, requiring an ad-hoc and frankly poorly documented assemblage of external environment variables, plaintext scripts, binary files, and shared libraries. A

[2015-03-16 09:45] fraguada commented on #1214
@tallforasmurf Thanks so much for pointing me in the right direction and apologies for skipping over that part in the docs.  This is obviously a new are for me!  With your direction I was able to do exactly what I was looking to do.  I can imagine there is a more elegant way to get out of the bundle than or.pardir a few times, but for now the POC works.

Thanks again.

[2015-03-16 09:45] #1214 closed

[2015-03-16 10:03] #1196 closed

[2015-03-16 10:07] #1190 closed

[2015-03-17 07:24] leycec commented on #1164
**Utter senseless insanity.** And not the good kind. ("What is Esoteric's [Subconscious Dissolution into the Continuum](https://rateyourmusic.com/release/album/esoteric/subconscious_dissolution_into_the_continuum/), Alex?")

The details of my solution are quite inconsequential. Very well, where do I begin? Bedecked in gallant regalia, I began by bisecting `matplotlib/__init__.py`. This heroically

[2015-03-17 10:30] codewarrior0 commented on #1164
I had a hunch that the ValueError indicated a failed Unicode encoding, so I tried the same test on my Windows machine and got the expected UnicodeEncodeError. On a hunch, I searched the CPython code for PyUnicode_FSEncode, and was not exactly surprised to find that _tkinter.c calling it. I was surprised to find that it was passing it the result of Py_GetProgramName, so I did some more investigatin

[2015-03-17 11:27] htgoebel commented on #1208
Huh, I just discovered that my comment is missing :-( (Or has this be discussed on the mailing-list?

This is caused by Py_SetProgramName(), see https://github.com/pyinstaller/pyinstaller/blob/develop/bootloader/common/pyi_pythonlib.c#L216 and https://docs.python.org/3.4/c-api/init.html#c.Py_SetProgramName.

[2015-03-17 11:50] prologic commented on #1208
We *should* fix this as it makes the use-case of symlinking multiple entrypoints to a single binary useless and unworkable.

[2015-03-17 12:30] htgoebel commented on #1208
Of course we should fix this. The question for me is: What is the best way to fix it.

[2015-03-17 12:33] prologic commented on #1208
Shouldn't set ``Py_SetProgramName()`` be called with the value of the first
argument in ``argv[]`` here? Which I assume for symlinked binaries is the
symlink? I'd have to test this theory with a simple C program but I'm
almost certain that's how busybox works :)

James Mills / prologic

E: prologic@shortcircuit.net.au
W: prologic.shortcircuit.net.au

On Tue, Mar 17, 2015 at 10:30 PM, Hartmut Goebe

[2015-03-17 12:38] carlopires opened #1219 "Cannot install for Python 3.4.1"
$ spip3 install pyinstaller
    Downloading/unpacking pyinstaller
      Downloading PyInstaller-2.1.tar.gz (4.8MB): 4.8MB downloaded
      Running setup.py (path:/tmp/pip_build_root/pyinstaller/setup.py) egg_info for package pyinstaller
        Traceback (most recent call last):
          File "<string>", line 17, in <module>
          File "/tmp/pip_build_root/pyinstaller/setup.py", line 18, in <

[2015-03-17 12:56] htgoebel commented on #1219
Hi Carlos,

PyInstaller does not yet support Python 3.

If you need Python 3, you may check out the experimental python3-branch
at github.

--
Schönen Gruß
Hartmut Goebel
Dipl.-Informatiker (univ), CISSP, CSSLP
Information Security Management, Security Governance, Secure Software
Development

Goebel Consult, Landshut
http://www.goebel-consult.de

Blog:
http://www.goebel-consult.de/blog/digitale-bu

[2015-03-17 14:38] jacebrowning commented on #1164
@leycec Do you have a branch of `pyinstaller` that you'd like me to try with **my** full example?

[2015-03-18 23:11] leycec commented on #1164
@codewarrior0 **You're amazing.** That is all. This was pretty clearly a low-level C issue, and pretty clearly beyond my capacity to really solve. You *nailed* it.

@jacebrowning Good question. Technically, yes. But you probably want to wait for [codewarrior0](https://github.com/codewarrior0)'s illustrious patch to drop. Given that substantially improved solution, I'm pulling the latest commit fro

[2015-03-19 12:33] #1210 closed

[2015-03-19 12:40] #1219 closed

[2015-03-23 07:33] AlexanderRavenheart opened #1221 "Python 3 tkinter hook(s)"
On Windows 7 x64 with Python 3.4 , no virtual env, I had to modify the hook-_tkinter.py and pyi_rth__tkinter.py files to be able to package and execute a tkinter application.

Here are the modified files:
https://drive.google.com/open?id=0B8hvWNm-l9jFWDVmTVBSUUg1VTg&authuser=0
https://drive.google.com/open?id=0B8hvWNm-l9jFNndvLXB1Q1VucDQ&authuser=0

[2015-03-23 07:51] htgoebel commented on #1221
Hi, thanks. Can you please submit a pull-request?! This makes integrating your changes *much* more easier.

[2015-03-23 08:43] AlexanderRavenheart commented on #1221
Hi @htgoebel ,

1. I don't know how to do a pull-request.
2. The changes I made are hacky and will surely not work on other platforms or when using virtualenv.

[2015-03-23 09:06] htgoebel commented on #1221
See <https://help.github.com/search/?utf8=%E2%9C%93&q=pull-request>

:-( So I'm closing this issue, as we can nit use your work then.

[2015-03-23 09:06] #1221 closed

[2015-03-23 09:11] AlexanderRavenheart commented on #1221
I understand you cannot use my work but can it or I help you in any way to make it work by default for others users that may end up in my situation?

[2015-03-23 09:46] htgoebel commented on #1221
Of course you can. This is why I asked for a pull-request. A pull-requests makes it as easy as possible for us to understand your changes and eventually discuss further improvements.

You can find more information at <https://github.com/pyinstaller/pyinstaller/wiki/How-to-Contribute>. If you need more assistance, the mailing-list https://github.com/pyinstaller/pyinstaller/wiki/Community#mailing-li

[2015-03-23 10:28] AlexanderRavenheart commented on #1221
Also, why did you close this issue?
The issue is valid because it exists with the default hook files so why close it?

[2015-03-23 10:40] htgoebel commented on #1221
Because he are not going to work on it. The original message basically says: "Hey, there are some files fixing some issues." This is nothing we can handle. Please submit a pull-request!

[2015-03-23 19:13] m1lhaus opened #1222 "Support for unicode paths when building"
Please, add full support for non-ascii paths. i.e. when pyinstaller is lauched from path with non-ascii character in it. It really drives me nuts :-/ Thanks

Example traceback from path 'D:\Programovaní\woofer-git\build':

[code]

[2015-03-23 19:49] nsbasic opened #1223 "Menu bar not visible when building wx app"
When the app starts, the menu bar shows "Finder", instead of the app name as expects. The user needs to click on another app, then on the app again to see the app's menu bar. The app then works normally.

Here's a description of the identical problem (with a fix!)  with PyQt:
http://dvitonis.net/blog/2015/01/07/menu-bar-not-visible-when-building-pyqt-app-bundle-pyinstaller-mac-osx-mavericks-yosemi

[2015-03-24 07:55] htgoebel commented on #1223
Duplicate, see #1215

[2015-03-24 07:55] #1223 closed

[2015-03-24 07:56] htgoebel commented on #693
I'm closing this age.old issue. matysek already commented as he wanted to close it.

[2015-03-24 07:56] #693 closed

[2015-03-24 08:02] htgoebel commented on #799
Duplicate, #625 is still open and to be implemented.

[2015-03-24 08:02] #799 closed

[2015-03-24 14:53] maccinza commented on #1067
@garthylou
Hello! Could you please give me some tips on how to solve the 'Apps aren't loaded yet.' error? What was the problem in your case (maybe I can learn from it and solve mine)?

Thanks a lot!

[2015-03-24 16:05] m1lhaus opened #1224 "Error loading Python DLL on Windows when executing .exe from non-ascii path"
Yesterday I have discovered very strange behavior of built dist (.exe files) of my program when I tried to open the program from path which contains non-ascii characters and the program was located out of my primary hardisk (on another physical disk). I was able to reproduce the issue on another computer even with simple "Hello world" application. The key thing is to try to launch built applicatio

[2015-03-24 16:21] mattshirtliffe opened #1225 "pyinstaller --name=project-name path/to/my/main.py invalid syntax"
I ran pyinstaller --name=project-name path/to/my/main.py and got the message below
[code]

[2015-03-24 16:26] htgoebel commented on #1225
This is an error in your file "xlrd3/init.py", line 855, which seams to be a python3 file.

[2015-03-24 16:26] #1225 closed

[2015-03-25 16:25] mattshirtliffe commented on #1225
I have just set up Vagrant so I have a clean machine with clean python. I have just ran  python --version and it says I have version Python 2.7.6. I'm trying to use pyinstaller to package my a flask application stand-alone executables if that helps. Here are a list of my modules I'm using if that helps.

BeautifulSoup
bson
celery
Crypto
flask
jinja2
logbook
models
pyftpdlib
pymongo
redis
rq
tablib

[2015-03-25 16:26] mattshirtliffe commented on #1225
![screenshot from 2015-03-25 16 25 28](https://cloud.githubusercontent.com/assets/4369599/6829478/ac1c4032-d30b-11e4-9348-2485ec95f031.png)

[2015-03-25 16:29] codewarrior0 commented on #1225
You need to either change your python version to python 3, or change your xlrd3 to xlrd.

[2015-03-30 13:33] mattshirtliffe opened #1228 "added celery to hidden imports still presents importError"
Traceback (most recent call last):
  File "<string>", line 2, in <module>
ImportError: cannot import name Celery

[2015-03-30 13:39] htgoebel commented on #1228
This is *much* too less information for doing anything. Please provide more information as described in https://github.com/pyinstaller/pyinstaller/wiki/If-Things-Go-Wrong and https://github.com/pyinstaller/pyinstaller/wiki/How-to-Report-Bugs

[2015-03-30 15:13] mattshirtliffe commented on #1228
Sorry I have created a simple application to to demo what I'm doing with pyinstaller. I get the import error after I have run pyinstaller main.spec

ImportError: cannot import name Celery
Python 2.7.6
Ubuntu 14.04.2 LTS
Flask 0.10.1
celery 3.1.17

from flask import Flask
from celery import Celery

app = Flask(__name__)

capp = Celery('tasks',broker='amqp://guest@localhost//')

@capp.task
def add(x

[2015-03-30 15:26] htgoebel commented on #1228
Okay, but did you follow the instructions at https://github.com/pyinstaller/pyinstaller/wiki/How-to-Report-Bugs#make-sure-everything-is-packaged ?

[2015-03-30 16:31] mattshirtliffe commented on #1228
Yes

[2015-04-02 06:07] mythreal opened #1229 "trying to include a config file with exe"
I have been reading the PDF and am unsure about how to include a .json file with the exe. My exe requires this as a config file. Single file exe or multi-file. It is unclear to me if I can use the -r flag. if so how do you know the type? would it be JSON? then name.json? Then JSON?

I have built a spec file as well to try that out.  I have tried
collect = COLLECT(a.binaries + [('JSON', 'C:\\Deskto

[2015-04-02 08:18] htgoebel commented on #1229
The `-r` option is for including a reasource from another file.

For including a data file like your json-file, please refer to http://pythonhosted.org/PyInstaller/#adapting-to-being-frozen and http://pythonhosted.org/PyInstaller/#accessing-data-files. If this is still unclear I suggest playing around – it works, other already did it :-)

[2015-04-02 08:18] #1229 closed

[2015-04-02 15:24] mythreal commented on #1229
Thanks for the point in the right direction. I appreciate that. It's not that I havent been playing around with this for a week straight. Just looks like I was playing around with the wrong things.

Thanks again.

     On Thursday, April 2, 2015 2:18 AM, Hartmut Goebel <notifications@github.com> wrote:

 Closed #1229.—
Reply to this email directly or view it on GitHub.

[2015-04-04 20:26] chuanliu77 commented on #1108
This is great! In my case, I need to find all the open files to reserve, which works great!

[2015-04-06 06:40] leycec opened #1230 ""six" Python Compatibility Library Unsupported"
PyInstaller's Python 2 and 3 branches both fail to support [six](https://pythonhosted.org/six), a popular Python 2 and 3 compatibility library. This is trivially shown by the following minimal length example, attempting to import `tkinter` in a version-agnostic manner:

    from six.moves import tkinter as Tk
    Tk._test()

Assuming the active Python interpreter to have been built with `tkinter`

[2015-04-07 08:29] Peter0 opened #1232 "Install instruction not clear"
On https://github.com/pyinstaller/pyinstaller/wiki it reads

"Install latest stable version by issuing the command
pip install pyinstaller"

This leaves the question where to do that. At command line or at a python prompt?
As a occasional python user I'm unfamiliar with pip. Commandline simple doesn't know this command, python prompt gives "SyntaxError: invalid syntax", whereby the arrow ("^" char

[2015-04-07 08:36] Peter0 commented on #1232
It seems to be a path problem, as the Scripts directory isn't included there. Giving "C:\Python27\Scripts\pip" (or similar) do the trick.

Read http://stackoverflow.com/questions/4750806/how-to-install-pip-on-windows and the answer http://stackoverflow.com/questions/4750806/how-to-install-pip-on-windows/21182892#21182892

– Peter

[2015-04-07 09:20] htgoebel commented on #1108
@marcinbarczynski You are welcome submitting this to the wiki.

[2015-04-07 09:32] htgoebel commented on #1230
I'm closing this issue, as there is #1231. Thanks!

[2015-04-07 09:32] #1230 closed

[2015-04-07 09:42] htgoebel commented on #1232
PyInstaller is a tool for python developers. And I'd expect Python developers to know who to use essential tools like `pip`. Because if you do not known them, how would you want to develop and debug your program then?

[2015-04-07 09:42] #1232 closed

[2015-04-08 11:50] Peter0 commented on #832
My suggestion: Add this fact to the FAQ under "Can I use PyInstaller as a cross-compiler?"

[2015-04-10 21:43] tallforasmurf opened #1235 "Possible mis-handling of site.py on some virtualenvs?"
I made a VENV and when I run PyInstaller, hook-site.py fails to recognize that this is a VENV so does nothing. This leads to a failure on launch of the bundled app.

The problem is that `compat.is_venv` has the value False. The test it uses when it detects Python3, is `sys.base_prefix != sys.prefix`. This should correctly detect virtualenv, per the Python 3.4 docs (https://docs.python.org/3.4/libr

[2015-04-11 15:57] tallforasmurf commented on #1235
OK I have verified that on native Ubuntu with NO virtualenv active,

    $ /usr/bin/python3
    Python 3.4.2 (default, Oct  8 2014, 13:18:07)
    [GCC 4.9.1] on linux
    Type "help", "copyright", "credits" or "license" for more information.

    False

    '/usr'

    '/usr'

This is exactly as documented. However, when I make a minimal virtualenv with no special options,

    $ cd VENV0
    $ so

[2015-04-11 16:41] tallforasmurf commented on #1235
This issue DOES NOT EXIST in the latest version of compat.py!
The problem is that I am using the Python3 branch and it is missing (apparently) quite a bit of maintenance -- to compat.py and to hook-distutils.py, at least.

[2015-04-11 16:41] #1235 closed

[2015-04-14 14:14] gwikle commented on #1065
After reviewing #1052 I believe this the same problem as "Django hook does not force import of 'hidden' django templatetag modules."  Because of this problem I have to manually add the following modules in my .spec file:

                            'django.templatetags.future',
                            'django.templatetags.i18n',
                            'django.templatetags.l10n',

[2015-04-15 16:14] gholzmann commented on #1078
I can confirm that the fix described by @dvitonis is working - or at least its behaviour is IMHO much preferred!
Tested on OSX Maverick and Yosemite.

Do some pyinstaller developers think it is possible to include this in pyinstaller?
I guess it would be great for many users on OSX and makes maintaining an additional diff unnecessary ...

[2015-04-15 18:03] htgoebel commented on #1078
@gholzmann Thanks for you feedback. We'd appreciate a pull-request for this :-)

[2015-04-16 12:43] gholzmann commented on #1078
@htgoebel @dvitonis Thanks!

I created a pull-request now and tested the code again on OSX Mountain Lion, Maverick and Yosemite.
It works as described in the blog post by @dvitonis !

Would be great if you could include that!

[2015-04-16 23:02] gao2733 opened #1238 "pyinstaller cannot include setuptools eggs"
Hi,
I am using pyinstaller to build Openstack keystone CLI into a single executable.
Here is my spec file:
[code]
The 'keystone' was created, but when I executed it, I have:
  File "/home/dev/git/remote-client/build/keystone/out00-PYZ.pyz/pkg_resources", line 626, in resolve
pkg_resources.DistributionNotFound: setuptools

Once I put setuptools*.egg into dist, then it can run.
I just cannot have ke

[2015-04-17 20:43] romanows commented on #1070
Thanks for this discussion.  It seems to me that the `Archive`/`ZlibArchive` classes hold an open file object that is shared by forked child processes.  If two processes are both calling `seek()` and `read()` at the same time, this can cause the data that is read to be corrupted.  When passed to `zlib.decompress()`, the corrupted data causes the import error to be raised.

Could we refactor the `Z

[2015-04-18 18:32] gigapouch opened #1239 "Command line does not recognize pyinstaller Windows 7"
I typed the command that the PyInstaller Manual told me to into the command line, but I get an error message that says "'pyinstaller' is not recognized as an internal or external command, operable program or batch file."

What can I do to fix this?

[2015-04-19 12:59] htgoebel commented on #1078
@gholzmann Thanks for the pull-request.

[2015-04-19 12:59] #1078 closed

[2015-04-19 13:01] htgoebel commented on #1239
PyInstaller is a tool for python developers. And I'd expect Python developers to know who to execute installed Python scripts/programs. Because if you do not known them, how would you want to develop and debug your program then?

[2015-04-19 13:01] #1239 closed

[2015-04-19 17:21] gigapouch commented on #1239
I came to PyInstaller because I wanted to convert my Python programs to an executable file.

[2015-04-19 17:54] tallforasmurf commented on #1239
How did you install PyInstaller? If as documented (http://pythonhosted.org/PyInstaller/#installing-in-windows) and in particular, using pip-Win (https://sites.google.com/site/pydatalog/python/pip-for-windows) then after "pip install PyInstaller" there should be an executable script named pyinstaller that can be called from the command line.

However, now that I look at it, I agree that the Windows

[2015-04-19 21:41] cclauss opened #1240 "Mac OSX: Unicode_simple.py throws a UnicodeEncodeError (`encodings` module not available during Py_Initialize)"
unicode_simple.py:

[code]

$ `pyinstaller unicode_simple.py --onefile`

Running the resulting app generates:

[code]

$ `sw_vers`

[code]

$ `python -V`

[code]

$ `pyinstaller -v`

[code]

[2015-04-20 00:17] gigapouch commented on #1239
I downloaded the 64-bit setup .exe and ran it, at first. Just now I installed it using pip-Win.  Now how do I use it?

[2015-04-20 12:34] Ramkg commented on #1164
@leycec i'm facing a similar issue but instead this is because of the pymsgbox import, which i am using for popping up alert boxes.
import pymsgbox
As a stand alone .py file, this is running without any issues. Meaning, the alert boxes pop up. However, when i convert the script to an EXE file through pyInstaller, i get the below exception (similar to that of @jacebrowning 's):
Traceback (most rece

[2015-04-21 01:58] 671620616 commented on #1240
@cclauss, whatever the issue may be I'm seeing the unicode character correctly, without errors.
The full output is:

[code]

[2015-04-21 11:15] htgoebel commented on #1238
`pkg_resources` is not supported, see https://github.com/pyinstaller/pyinstaller/wiki/FAQ#misc and https://github.com/pyinstaller/pyinstaller/wiki/Recipe-Setuptools-Entry-Point.

Further look at https://github.com/pyinstaller/pyinstaller/wiki/How-to-Report-Bugs

[2015-04-21 11:15] #1238 closed

[2015-04-21 11:19] htgoebel commented on #1240
You need the ensure the stdout has the correct encoding set. This is not a PyInstaller problem

[2015-04-21 13:11] htgoebel commented on #1239
<https://docs.python.org/2/faq/windows.html#how-do-i-run-a-python-program-under-windows>, found by simple searching the internet for `python script execute windows`.

[2015-04-21 18:51] cclauss commented on #1240
Hi @htgoebel,

That is sounds really nice in theory but does not hold up in actual practice.  **How exactly do you recommend that I set the encoding of stdout to utf-8?**  Why is that extra step not required for any of these _nine other ways_ of running the same code on the same machine?

* ./unicode_simple.py
* python ./unicode_simple.py
* python3 ./unicode_simple.py
* pypy ./unicode_simple.py
*

[2015-04-22 00:54] leycec commented on #1164
Thanks for the detailed traceback, Ramkg. Unfortunately, Markdown formatting appears to have accidentally swallowed critical portions of your traceback. For this reason, command output should typically be protected against Markdown interpretation. There are two ways to do this on Github (in order of simplicity):

* With **fenced code blocks**, delimiting the entire block of command output with `\`

[2015-04-22 05:49] cclauss commented on #1240
This seems to help in the simplest cases:
[code]

[2015-04-22 07:17] Ramkg commented on #1164
Thanks for the response @leycec
Sorry about missing tracebacks!! I didnt knew it would cut down the portions of the traceback..The content that is actually missing is <frozen importlib._bootstrap>. I'll try posting them here again with the advised format, but please forgive me if it goes wrong again!.

Now, to the actual issue. I'm not sure whether this is caused by the unicode characters in my fi

[2015-04-22 17:34] bjones1 commented on #1240
I recall a patch for the Linux bootloader that may be relevant here: 06ce557b3e4a0493b2fb6788d7c02b38870d9770. Perhaps there's something related on the Mac? (Disclaimer: I don't have a Mac, so this is just guesswork.)

[2015-04-22 22:23] cclauss commented on #1240
[code]
When I run this code on the 9 ways that I mentioned above plus `Idle` and `Idle3` (yes, that is 11 ways to run it on my Mac) only the PyInstaller generated app prints `(UTF-8 None None)`.  The 10 other ways set both sys.stdout.encoding and sys.stderr.encoding to UTF-8.  Given that these are read-only variables, I am still unclear how I can `ensure the stdout has the correct encoding set` as

[2015-04-22 22:58] codewarrior0 commented on #1240
The 11 different ways you mention all use the default Python runner, `/usr/bin/python`. This runner is responsible for loading the Python shared lib, initializing the Python interpreter, telling Python about the environment and preferred encodings, and ordering it to run the script given on the command line.

PyInstaller's bootloader is independent from the default Python runner. It has its own cu

[2015-04-22 23:37] gigapouch commented on #1239
I know how to execute a python program, but I would like to know how to use *PyInstaller*. Even in the Python command line it is not recognized.

[2015-04-22 23:43] cclauss commented on #1240
Not all...
* idle3 xxx.py
* python3 xxx.py
* pypy xxx.py
* pypy3 xxx.py
* jython xxx.py
all ignore the shabang line at the top of the file and therefore do not use `/usr/bin/python`.

A quick run of your workaround requires the removal of `file_encoding=` on Python2.  I will try to explore it more deeply tomorrow.

[2015-04-22 23:50] codewarrior0 commented on #1240
Whoops, that should have been `data_encoding=`

In any case, it's likely that all of the ones you mentioned either use the default runner in some way (or for pypy/jython their own runners correctly set the I/O encoding when starting up the interpreter).

[2015-04-23 07:38] leycec commented on #1164
Thanks for the quick reply!

I've never seen an `'mbcs' codec can't encode characters in position 0--1: invalid character` exception *except* in relation to Unicode filenames. But you're right. Now that I have the traceback, the similarities between the [original issue](https://github.com/pyinstaller/pyinstaller/issues/1164#issue-54712781) and your issue are too glaring to ignore.

Unfortunately,

[2015-04-23 13:06] qetra opened #1244 "ctrl-z stopped problem"
Hi all.

I can't stop ctrl-z key with pyinstaller. Normally, I catch signal for ctrl-z. But, signal_handler isn't work in pyinstaller ?

What is problem ?

[2015-04-24 06:43] Ramkg opened #1245 "'mbcs' codec error while executing pyinstaller generated exe"
Hi,
This is with respect to importing a pymsgbox module in py scripts. I'm using Python 3.4.3 for Windows 7- 32 bit version and a corresponding pyinstaller to generate the exe file for the same. This is working pretty fine when i try to generate exe for normal .py files. The exe executes to successful completion.
However, i face issues when i try to execute the exe for py files that import pymsgbo

[2015-04-24 06:45] Ramkg commented on #1164
@leycec Thanks for your assistance! I tried @codewarrior0 's patch, but to no avail.
Per your suggestion i have raised a new issue for this #1245 .
Thanks again!!

[2015-04-24 22:59] rawluk commented on #701
If the Kivy packaging instructions (http://kivy.org/docs/guide/packaging-windows.html) are followed correctly (including custom editing the pyinstaller spec file) this issue is worked around. However, another issue will be encountered that will need to be worked around: https://github.com/kivy/kivy/issues/3272

It's not clear to me if following the kivy packaging instructions is seen as a workarou

[2015-04-25 05:49] leycec commented on #1245
I neglected to mention that you'll also need to recompile PyInstaller's Windows 32 bootloaders. Sorry about that.

Unfortunately, recompiling *anything* under Windows is always a dicey proposition. Fortunately, the PyInstaller wiki has [detailed instructions](https://github.com/pyinstaller/pyinstaller/wiki/Build-Bootloader-Win64) for doing so. Unfortunately, the instructions are specific to 64-bit

[2015-04-25 17:12] gigapouch commented on #1239
Is there an alternative you can recommend? I've already tried py2exe, which didn't work either.

[2015-04-25 17:17] codewarrior0 commented on #1239
On Windows, you have to modify your PATH environ to include `c:\python27\scripts`. The Python installer doesn't add that to your path on its own.

[2015-04-26 00:51] gigapouch commented on #1239
I hope this isn't a dumb question, but how do you do that?

[2015-04-26 03:07] JohnyMoSwag commented on #1239
@gigapouch You'll find people more willing to help if you'd a least put forth a little effort.

[How to add to windows path](https://www.google.com/search?q=how+to+add+to+windows+path&ie=UTF-8&oe=UTF-8&hl=en&client=safari)

[2015-04-26 07:03] matham commented on #701
It works fine if the kivy instructions (http://kivy.org/docs/guide/packaging-windows.html) are followed. It's just a matter of installing the hooks and making sure you include what is needed so I don't think this is a pyinstaller issue and should probably be closed.

Regarding https://github.com/kivy/kivy/issues/3272, that again is unrelated to pyinstaller and has been fixed. It was just a matter

[2015-04-26 20:46] gigapouch commented on #1239
Thanks everyone, it works now! Just had to locate it on my hard drive after it was finished compiling.

[2015-04-27 06:01] leycec opened #1247 "PyInstaller Unusable under Windows Anaconda"
[Anaconda](http://continuum.io/downloads) is arguably the most popular Python distribution for Windows. Naturally, Anaconda installs PyWin32 DLLs to non-standard directories resulting in the following exception on PyInstaller startup:

    PyInstaller cannot check for assembly dependencies.
    Please install PyWin32.
    http://sourceforge.net/projects/pywin32/

**The exception message is flat-ou

[2015-04-27 07:31] htgoebel commented on #1247
@leycec

Which pull-request you are referring to?

[2015-04-27 07:35] cclauss commented on #1164
I am very surprised that you folks are seeing `'mbcs'` in these Unicode exception messages because the current pyinstaller does not set the default encoding.  Could you please try to sprinkle the line `import sys ; print(sys.stdout.encoding)` in your test code above to see if `sys.stdout.encoding` is getting set to mbcs before your code is run or by one of the import statements. See issue https://

[2015-04-27 07:54] codewarrior0 commented on #1164
In this case, the decode error is related to the file encoding, not the IO encoding. SetProgramName sets a filename which should already be encoded using the filesystem encoding and thus is safe to pass to python2's filesystem routines.

The actual error is caused by passing temporary stack memory to SetProgramName which requires heap or global memory. The temporary stack memory is eventually over

[2015-04-27 13:59] philipgoh opened #1248 "Import PIL._imaging fails"
I'm having trouble packaging up an executable on my development VM.

Some details:

  * Ubuntu 14.04.2 32 bit
  * Python 2.7.6
  * PyInstaller 2.1

The following is a simple Python program that illustrates the problem. The script runs fine if I run it via the Python interpreter, but it fails when packaged up with PyInstaller.

[code]

I package it up in PyInstaller using the command `pyinstaller t

[2015-04-28 07:36] leycec commented on #1164
**Just so.** As [noted elsewhere](https://github.com/pyinstaller/pyinstaller/issues/1245#issuecomment-96135077), [Ramkg](https://github.com/Ramkg) will need to rebuild the 32-bit Windows bootloader. Unfortunately, doing so is a [bit non-trivial](https://github.com/pyinstaller/pyinstaller/wiki/Build-Bootloader-Win64).

What's the standard operating procedure here? Ideally, we'd have some sort of sc

[2015-04-28 07:47] leycec commented on #1247
I knew you'd catch me with my Github pants down. It's up now.

[2015-04-28 11:03] htgoebel commented on #1248
Please try the latest development version.

[2015-04-28 13:06] philipgoh commented on #1248
The latest development version works!

I guess this bug is fixed in the next version of PyInstaller.

[2015-04-28 13:11] #1248 closed

[2015-04-28 22:16] buggywhip commented on #648
I can confirm that this problem also exists under OSX and that the OP's workaround was necessary for me to proceed.

[2015-04-29 18:36] flalix commented on #848
try
import importlib
importlib.import_module('mpl_toolkits.mplot3d').__path__

[2015-05-01 13:29] htgoebel opened #1250 "test_requests fails with SSL-error"
@rbranche: When running test_requests stand-alone, i get this exception:
```requests.exceptions.SSLError: EOF occurred in violation of protocol (_ssl.c:581)```

Can you please submit a working version so we'll get tests passing at travis-ci. Thanks.

[2015-05-01 13:31] htgoebel opened #1251 "test_requests fails with import-error"
@rbranche: When running test_requests frozen, I get an ```ImportError: No module named 'requests.packages.chardet.sys'```. This seams to be caused by requests. Anyway, I'm wodnering if this occurred in your tests, too.

See https://github.com/kennethreitz/requests/issues/2583 for more details.

[2015-05-01 14:36] htgoebel commented on #1251
This is solved in requests version 2.6.1. For details see kennethreitz/requests#2583.

[2015-05-01 14:36] #1251 closed

[2015-05-01 16:26] rbranche commented on #1250
Looking at this now.

It's working for me with requests=2.6.2

    test_requests (__main__.LibrariesTestCase) ... ok

(pyinstaller)local-3:tests{develop} ryan$ pip freeze
...
requests==2.6.2

[2015-05-01 17:16] htgoebel commented on #1240
@codewarrior0 Thanks for this analysis in https://github.com/pyinstaller/pyinstaller/issues/1240#issuecomment-95360443. I agree that we should add such a code. It would be great if you would a) point me the the resp. code in Python and b) submit a pull-request for the loader.

[2015-05-01 18:08] rbranche commented on #1250
Yeah, I'm not able to reproduce with requests 2.6.2.

@htgoebel: Does 2.6.2 work on travis-ci?

[2015-05-02 09:19] #1250 closed

[2015-05-02 09:42] htgoebel commented on #1250
stackoverflow.com/questions/14102416/ had the answer: Need to use TLSv1.

@rbranche: This test fails in tracie-ci, but this may have different reasons. The output there is not helpful currently.

[2015-05-02 09:55] htgoebel commented on #701
The kivy instructions seam to show a clean way for freezing kivy-apps. @rawluk @matham So I'm closing this issue. If someone wants to submit a pull-request for some kivy-hooks, we'd appreciate this as it would make kivy-users live easier.

[2015-05-02 09:55] #701 closed

[2015-05-04 22:21] tallforasmurf opened #1253 "hookutils.get_homebrew_path returns bytes, needs to be str"
hookutils.get_homebrew_path() returns the string it gets from subprocess.check_output() which alas is a bytes type. The several functions that call it pass that value into os.path.join() resulting in an error, "builtins.TypeError: Can't mix strings and bytes in path components". The fix is a one-line change on line 389, replace

    return path

with

    return str(path,'UTF-8')

I have made this

[2015-05-05 10:30] htgoebel commented on #1253
Pull-request please :-)

[2015-05-05 12:52] sipickles commented on #807
Same problem here. I compiled in windowed, non-windowed, with debug and without. Very little output:

haidinger:client pickles$ ./dist/myapp
Segmentation fault: 11

[2015-05-05 19:40] codewarrior0 commented on #1224
In `bootloader/common/pyi_utils.c`:

[code]

`dllpath` has previously been encoded to UTF-8. However, LoadLibraryExW expects the filename to be encoded as UTF-16. And since pyinstaller doesn't define UNICODE, it is actually calling LoadLibraryExA which expects it to be encoded as whichever ANSI codepage is set in the Control Panel under "Language For Non-Unicode Programs"!

[2015-05-06 15:43] thorstenkampe opened #1256 "PyInstaller3: new error after "merging develop into python3""
[code]

[2015-05-06 15:48] thorstenkampe commented on #1256
Additional information: the error happens only with `--onefile`...

[2015-05-06 17:11] htgoebel commented on #1256
Thanks for the report. I don't have any Windows system, so I can not track this down. Did thiswork just before the merge? Please try `git bisect`-ing it. A pull-request would be great.

[2015-05-06 18:13] thorstenkampe commented on #1256
yes, it worked not long ago - before the merge. About the git stuff: I downloaded the zip fill to avoid git.

[2015-05-06 18:59] nospam2k opened #1257 "Pyinstaller-python3 winutils error."
PyInstaller/hooks/hook-PyQt4.py line 21 says:

    from PyInstaller.utils.winutils import extend_system_path

It should be:

    from PyInstaller.utils.win32.winutils import extend_system_path

I imagine this problem is also in every other reference to winutils but I havn't confirmed.

[2015-05-07 11:32] MartinBriza opened #1260 "PyQt5 QML libraries are bundled wrong"
While bundling a QtQuick application using PyQt5 under Windows (and WINE), I've encountered a bunch of issues with QML support:
The QtQuick hook does create a folder "qml" containing some of the required libraries, namely "Models.2", "QtQml", "QtQuick.2", "StateMachine" and "uick.2" (sic). "uick.2" contains the same dlls as "QtQuick.2" but not the qmltypes and qmldir files.
Another problem is, "Qt

[2015-05-07 11:34] MartinBriza opened #1261 "Debug PyQt5 DLLs are included when not needed"
Adding qt5[LIB]d.dll files along with qt5[LIB].dll ones is redundant and makes the created executables unnecessarily huge.

[2015-05-08 17:44] AugustoEst opened #1262 "Issue with the Drobpox module and Python 2.7"
I'm having an issue running a **.exe** of python script that uses the **Dropbox module**. This happens in both *onedir* and *onefile*, and with or without the *UPX packaging*.

The error I obtain when I run the **.exe** is:

    Traceback (most recent call last):
      File "<string>", line 45, in <module>
      File "<string>", line 36, in main
      File "D:\Dropbox\Python\New features\build\sen

[2015-05-08 18:21] htgoebel commented on #1262
Obviously some SSL certificate is missing. Please [Make sure everything is packaged correctly)[https://github.com/pyinstaller/pyinstaller/wiki/How-to-Report-Bugs#make-sure-everything-is-packaged-correctly].

[2015-05-09 22:16] AugustoEst commented on #1262
Yes, obviously. Now regarding some help creating an exe that includes SSL certificates...

[2015-05-09 22:16] #1262 closed

[2015-05-10 05:27] codewarrior0 commented on #1240
Sorry, I take back a lot of what I said above. I was wrong that the Python runner calls PyFile_SetEncoding - the Python DLL does this inside of Py_InitializeEx which is called the same way from the PyI bootloader and the Python runner.

On non-Windows platforms, Py_InitializeEx sets the IO encoding of stdin/out/err using the result of `nl_langinfo(CODESET)`.

On Windows, it gets the console codepa

[2015-05-11 20:47] chfoo commented on #1256
I tried to git bisect as much as I could:
[code]

[2015-05-11 21:03] htgoebel commented on #1257
Closed by 740d441.

[2015-05-11 21:03] #1257 closed

[2015-05-11 21:03] htgoebel commented on #1247
#1249 fixing this issue is merged.

[2015-05-11 21:03] #1247 closed

[2015-05-11 21:26] #780 closed

[2015-05-11 21:26] #793 closed

[2015-05-11 21:26] #832 closed

[2015-05-12 21:49] brownzilla opened #1268 "python xml.sax being imported but still get parser error"
Hey there,

I'm trying to build my exe for my game that requires xml.sax.drivers and xml.sax.drivers2 and when I import them I just get another random ImportError no module named handler

[2015-05-14 12:13] htgoebel commented on #1268
To gelp you, wee need more information, see https://github.com/pyinstaller/pyinstaller/wiki/How-to-Report-Bugs

[2015-05-15 01:06] tallforasmurf opened #1270 "Under Python3, pyi-archive_viewer cannot process the 'o' command"
When pyi-archive_viewer is applied to a .pyz archive, for example `pyi-archive_viewer build\MYAPP\out00-PYZ.pyz` it operates correctly displaying all elements. Also when applied to a frozen executable, it correctly shows the top level of contents, for example:

[code]

however it cannot recognize any name given to the Open command,

[code]

The reason is that (as you can see in the display!) the n

[2015-05-15 01:20] tallforasmurf commented on #1270
FYI when I applied the above quick'n'dirty fix, the attempt to open out00-PYZ.pyz within an .exe resulted in a RunTimeError in the checkmagic() method of pyi_carchive.CArchive(). This suggests that possibly the "magic number" being stored under Python3 is not correct -- and that only pyi-archive_viewer ever looks at it?

[2015-05-15 01:31] codewarrior0 commented on #1270
Hm, you may be right. CArchive.MAGIC should be a bytestring on python3.

[2015-05-15 01:44] codewarrior0 commented on #1189
It looks like this is fixed in version 2.1. 98e62eb4ca032b64fc83cc80d6c1aab532255c69, issue #706

You seem to be using version 2.0.

[2015-05-15 05:12] rskumar commented on #964
I am still getting this issue with current release.

[2015-05-15 08:03] neothemachine opened #1271 "lensfunpy not working, usage of __file__"
A user of my library [lensfunpy](https://pypi.python.org/pypi/lensfunpy) reported that it wasn't working with pyinstaller. Apparently packaged xml files to be loaded weren't found. I haven't tested this myself yet. Note that lensfunpy is a Cython wrapper around a native library (dll), and I guess what fails is the [following code](https://github.com/neothemachine/lensfunpy/blob/master/lensfunpy/__

[2015-05-15 15:37] tallforasmurf commented on #1271
Have you read this? http://pythonhosted.org/PyInstaller/#adapting-to-being-frozen
Note that presence of the "frozen" attribute of sys applies also to apps bundled by cxfreeze, py2exe, and pyqtdeploy.

[2015-05-15 17:10] htgoebel commented on #1189
As codewarrior wrote: You are using PyInstaller 2.0 Pleae use at least 2.1 or - if this still fails -- the current develeopment version. See https://github.com/pyinstaller/pyinstaller/wiki/How-to-Report-Bugs for more information.

[2015-05-15 17:10] #1189 closed

[2015-05-15 17:12] htgoebel commented on #1270
I stepped over this, too, but forgot about it. You need to
1. *encode* the *names* when writing the archive and
2. *decode* only the names when reading.

[2015-05-15 17:15] htgoebel commented on #1271
You may also want to provide a hook for inclusion into PyInstaller to collect these files when freezing. See https://pythonhosted.org/PyInstaller/#using-hook-files

[2015-05-15 18:24] tallforasmurf commented on #1270
I will open a separate issue for this.

[2015-05-15 18:38] tallforasmurf opened #1272 "RunTimeError <path> is not a valid CArchive file in pyi-archive_viewer"
Encountered this on windows after patching the issue #1270.

pyi_carchive.py #161: `MAGIC = b'MEI\014\013\012\013\016'
pyi_carchive.py #252ff,

        (magic, totallen, tocpos, toclen, pyvers, pylib_name) = struct.unpack(
                self._cookie_format, self.lib.read(self._cookie_size))
        if magic != self.MAGIC:
            raise RuntimeError("%s is not a valid %s archive file" %

[2015-05-15 18:50] tallforasmurf commented on #1272
I observe the following code at pyi_archive.py line 87,

            if sys.version_info[1] <= 3:
                # We cannot use at this bootstrap stage importlib directly
                # but its frozen variant.
                self.pymagic = _frozen_importlib._MAGIC_BYTES
            else:
                self.pymagic = _frozen_importlib.MAGIC_NUMBER

The "else" would only be executed in Pytho

[2015-05-15 20:06] tallforasmurf opened #1273 "--onefile on Win7 amd64 throws TypeError in winresource.py, probably win32api bug"
Bundling with the --onefile option under Python3.4, Windows7 64bit, winmanifest.py tries to update the Manifest thus:

                logger.info("Updating resource type %s name %s language %s",
                            type_, name, language)
                win32api.UpdateResource(hdst, type_, name, data, language)

when hdst=63307784, type_=24, name=1, language=0 and data=`<?xml version="1.0

[2015-05-15 22:05] neothemachine commented on #1271
The hook file is the solution, plus a bugfix in my library (I accidently overwrite `__file__` which then messes up path resolution of data files in pyinstaller's case).

The hook file hook-lensfunpy.py is:

[code]

I let you know once I released a bugfix for my library, then you can include this hook file. Note that I filter the collected data files as it otherwise bundles .dll files twice.

[2015-05-16 01:31] codewarrior0 commented on #1273
I disagree that that's a problem with `win32api.UpdateResource`.

The convention for Win32APIs on Python is to accept `unicode` (`str` on py3) whenever the function's argument type is an LPCTSTR, which means that the API accepts a UTF-16 encoded string. Python will implicitly encode the `unicode` as UTF-16 before passing it to the API.

However, `UpdateResource`'s type for the `lpData` argument is

[2015-05-16 01:34] tallforasmurf commented on #1273
The referenced pull request will fix this, so I'm closing the issue.

[2015-05-16 01:34] #1273 closed

[2015-05-17 13:38] codewarrior0 commented on #1256
This is fixed by #1259

[2015-05-19 11:22] #1256 closed

[2015-05-19 16:56] htgoebel commented on #1272
I did some work in this area. Now I have the same error in the development branch, so I assume, this has a different reason.

[2015-05-19 16:59] thorstenkampe opened #1275 "PyInstaller3: string decode error"
Windows 8.1
Python 3.4.3 (64-bit)

[code]

[2015-05-19 19:01] htgoebel commented on #1270
This should now be fixed, see ccd53e90 resp. 32478d98.

[2015-05-19 19:07] htgoebel commented on #1272
This should now be fixed, see 32478d98. I assume this was caused by the same thing which I fixed in ae556b9 in develop: The fall-back did not work correctly. (Although in python3-branch there was no change before. Strange, but don't mind any longer.)

[2015-05-19 19:07] #1272 closed

[2015-05-19 19:20] #1275 closed

[2015-05-19 19:21] htgoebel commented on #1271
Closing the issue, as there is a related pull request now.

[2015-05-19 19:21] #1271 closed

[2015-05-19 19:22] htgoebel commented on #1261
I'd appreciate a pull request, esp. since I do not have a windows system.

[2015-05-19 19:26] htgoebel commented on #1244
Hi,

what signal_handler are you talking about? Please provide more information, see https://github.com/pyinstaller/pyinstaller/wiki/How-to-Report-Bugs#information-we-need

[2015-05-19 19:29] htgoebel commented on #1224
@codewarrior0 THanks for this input. Anything we can change to fix the at the root cause and hopefully *everywhere*.

[2015-05-19 19:31] htgoebel commented on #1222
Depending on the version you used (which you did not state), this may be fixed meanwhile. Can you please test the current development version.

[2015-05-19 19:38] htgoebel commented on #1180
Merged  #1182 fixes this issue.

[2015-05-19 19:38] #1180 closed

[2015-05-19 19:41] #1134 closed

[2015-05-19 19:49] htgoebel commented on #889
This is already solved in 3b0a0a6cc1736.

[2015-05-19 19:49] #889 closed

[2015-05-19 19:49] #879 closed

[2015-05-19 19:50] #890 closed

[2015-05-19 19:52] #865 closed

[2015-05-19 19:54] #796 closed

[2015-05-19 19:56] htgoebel commented on #752
Done in 85f0ff91.

[2015-05-19 19:56] #752 closed

[2015-05-19 19:57] htgoebel commented on #748
Too less information.

[2015-05-19 19:57] #748 closed

[2015-05-19 20:01] htgoebel commented on #766
Implemented in b9e82c97.

[2015-05-19 20:01] #766 closed

[2015-05-19 20:03] htgoebel commented on #719
Closing: too less infos, anonymous poster, old.

[2015-05-19 20:03] #719 closed

[2015-05-19 20:04] m1lhaus commented on #1222
Same issue even with latest dev version. Same error.

[2015-05-19 20:06] htgoebel commented on #671
I'm closing this issue. IMHO this is a wast of time because nobody knows what signatures anti-malware programs come up with next.

[2015-05-19 20:06] #671 closed

[2015-05-19 20:08] htgoebel commented on #490
Closing: Too less information, too old.

[2015-05-19 20:08] #490 closed

[2015-05-19 20:13] htgoebel commented on #351
Closing: Much too old, no demand, nobody else reported such a problem adn Anaconda seams now be more relevant than Activestate.

[2015-05-19 20:13] #351 closed

[2015-05-19 20:16] htgoebel commented on #1244
may be related: #208

[2015-05-19 20:27] htgoebel commented on #729
Solved by #149.

[2015-05-19 20:27] #729 closed

[2015-05-19 20:33] htgoebel commented on #636
@mementum Does your pull-request #149 also solve this issue?

[2015-05-19 20:38] htgoebel commented on #639
Fixed for onefile-mode, see https://github.com/pyinstaller/pyinstaller/issues/692#issuecomment-68191797 and #149.

[2015-05-19 20:38] #639 closed

[2015-05-19 20:43] mementum commented on #636
Pull Request #149 covers this for the "onefile" option because the UAC information is in the manifest which is embedded in the executable.

The UAC information is for the entire executable. The windows loader starts, loads the python interpreter and this executes the different python modules from the carchives. The entire process is covered by the initial uac permission granted by the end user (de

[2015-05-20 02:15] codewarrior0 commented on #1224
I looked into this briefly about a week ago, and I ran into a completely different problem which I wasn't able to solve: when I put the built app into a folder called `hello_world_ěščřžýáíé`, it loads the Python DLL, but `sys.executable` has the wrong path: I believe it was something like `hello_world_ěšcrzyáíé` with only *some* of the characters accented.

Reading the original report again, I cau

[2015-05-20 02:22] codewarrior0 commented on #1222
If it helps, the convention for python2 and python3 is to always handle filename/pathname data as `unicode`. All of python's filesystem functions accept `unicode` and will implicitly encode using the correct encoding.

Furthermore, `sys.getfilesystemencoding` *cannot* be trusted. On Windows, it encodes as a legacy codepage which can't encode most code points. On top of that, when you pass `bytes`

[2015-05-20 14:20] Bob-Grind opened #1277 "Archive Viewer incorrect header check"
This happens when trying to extract a file build with pyinstaller though.

Traceback (most recent call last):
  File "ArchiveViewer.py", line 253, in <module>
    raise SystemExit(main(opts, args))
  File "ArchiveViewer.py", line 113, in main
    data = get_data(arg, arch)
  File "ArchiveViewer.py", line 172, in get_data
    return zlib.decompress(arch.lib.read(lngth))
zlib.error: Error -3 while d

[2015-05-20 17:28] zauberparacelsus opened #1278 "Installation via pip on Manjaro Linux failing"
When I try to install pyinstaller on Arch Linux, I get a build failure:

[code]

[2015-05-21 12:44] MartinBriza commented on #1261
I have no idea how to do fix that up unfortunately...
I'll stop by on your IRC channel some time to request help if that's okay.

[2015-05-21 16:54] grofte commented on #848
This happens to me too but only on Windows. Mac and Linux are fine.
[code]
did not work but I'm not sure if that's what you meant by path.

[2015-05-21 20:33] htgoebel commented on #1277
Hmm, this is an interesting one, because I just did some work in this area and did not encounter any error.

Which version of PyInstaller resp. archive-viewer are you using? Is this the same version you used for freezing the application? What file exactly is causing the error? The executable? Which command or commands within archive-viewer cuased the rorror?

[2015-05-21 20:39] htgoebel commented on #1278
Which version of pip you are using? Is this from Arch Linux or directly from PyPi resp. get-pip.py?  Are you running in a virtual environment?

[2015-05-21 20:40] chrisnorman7 opened #1279 "Pyinstaller seems to fail when importing google"
One of my projects uses gmusicapi, which in turn uses google.protobuf.descriptor (pip install google).

When I pyinstaller the project, it works fine, but on OS X and Windows it gives a traceback that says "No module named protobuf.descriptor".

I hit up google with the problem, and someone on Stack Overflow suggested putting `__init__.py` files in the google directory. They were already there, an

[2015-05-21 20:45] htgoebel commented on #1279
Please follow the instructions at https://github.com/pyinstaller/pyinstaller/wiki/If-Things-Go-Wrong

[2015-05-21 20:49] htgoebel commented on #848
Please follow the instructions in https://github.com/pyinstaller/pyinstaller/wiki/If-Things-Go-Wrong

[2015-05-21 23:39] zauberparacelsus commented on #1278
This is the pip that Arch Linux has packaged.  And considering how bleeding-edge Arch Linux is, you can safely assume that its version is whichever is the latest.

[2015-05-22 15:00] Bob-Grind commented on #1277
Which version of PyInstaller resp. archive-viewer are you using (and on which branch)? Latest.
Is this the same version you used for freezing the application? A release from like a few weeks back though.
What file exactly is causing the error? The executable? Yes.
Which command or commands within archive-viewer caused the error? The extract command also the viewing part works fine though.

[2015-05-22 15:46] tallforasmurf commented on #1277
Could this be related to https://github.com/pyinstaller/pyinstaller/issues/1272 ?

Said to be fixed by https://github.com/pyinstaller/pyinstaller/commit/32478d98496e80de7fbe278b1dbc5fc1894b8721

That changes encoding of archive headers to allow for Unicode  module names.

[2015-05-22 18:17] htgoebel commented on #1277
Which branch?

Does the archive-viewer in that version work? Does the current version of archive-viewer work when freezing with the current version of PyInstaller?

This is not an answer to the question :-(

[2015-05-22 18:19] htgoebel commented on #1278
And which version is it? (Do you really expect me to recherche this while you are sitting in front of a resp. system?)

[2015-05-23 12:05] Bob-Grind commented on #1277
Which branch? Develop.
Does the archive-viewer in that version work? Does the current version of archive-viewer work when freezing with the current version of PyInstaller? Yes.
This is not an answer to the question? Sorry the command that is used when crasing is "x file extractedfile" do you mean that though?

[2015-05-23 17:15] never-eat-yellow-snow opened #1280 "Problems with ctypes on windows (python 3.3)"
First of all: Thanks for this fantastic SW! Use it on linux and windows and I love it!

I have a problem with the following code compiled on windows (python 3.3.5) using the experimental pyinstaller version from the .zip file:

[code]

Compiling with the command

gives no warnings or errors, but when I run the .exe file, it gives the following error:

(german translation is: The specified procedur

[2015-05-24 14:10] Bob-Grind commented on #1277
Could it be the crypto though?

[2015-05-24 14:14] robertbasic commented on #1278
I get the same error on Fedora.

[code]

Let me know if I need to provide any more information.

[2015-05-24 14:16] robertbasic commented on #1278
FWIW pyinstaller installed OK under a 2.7 python venv.

[2015-05-24 14:46] robertbasic commented on #1278
Got it working with the `python3` branch

[code]

[2015-05-24 18:16] codewarrior0 commented on #1167
This is almost certainly related to #1267

[2015-05-24 18:40] codewarrior0 commented on #1106
Manifests are embedded into the onefile exe as of 74a159f67e429687ffa6cdc0ade00ea1fd36684a from pull request #149.

However, I now have a different problem when renaming the onefile exe: A dialog box appears saying `An application has made an attempt to load the C runtime library incorrectly. Please contact the application's support team for more information.`. What this means is that the MSVCR90.

[2015-05-24 20:42] codewarrior0 commented on #1106
The above error is caused by the bootloader using the filename of its exe to derive the filename of the manifest to load using CreateActCtx. The error occurs because the application manifest is not found when the onefile exe is renamed.

A possible solution is to embed the real name of the manifest into the PYZ archive and have the bootloader, when in onefile mode, read it from the archive when ca

[2015-05-25 00:59] codewarrior0 commented on #1280
I can't reproduce that error. (I get a different error related to passing a non-writable buffer to `from_buffer`.)

The error message indicates that _ctypes.pyd was found and partially loaded, but one of the DLLs it (perhaps indirectly) depends on did not have a needed procedure. This is usually caused by a version mismatch. Can you reproduce the problem with a clean python install?

[2015-05-25 06:52] never-eat-yellow-snow commented on #1280
Thanks for looking into this.

I'll try to reproduce that - sorry for the bug in the original post, there's a missing bytearray wrapper around the buffer; so the traceback you're actually observing is the desired script behaviour :) I already had a look into this with process monitor, but it was not obvious to me which dll is missing...

[2015-05-25 17:43] htgoebel commented on #1278
@zauberparacelsus Are you sure, your traceback is complete? (I've seen just now, that the actual error is missing.)

[2015-05-26 09:19] htgoebel commented on #1280
Closing as invalid, see https://github.com/pyinstaller/pyinstaller/issues/1280#issuecomment-105082933

[2015-05-26 09:19] #1280 closed

[2015-05-26 09:27] htgoebel commented on #1106
Sounds reasonable. Is it enough to store it in the PYZ or do we need to write it to the magic?

[2015-05-26 11:59] codewarrior0 commented on #1106
Probably, but I'm not certain. I had the idea of putting it in the PYZ as something like an OPTION but I didn't look closely at what kind of things can be stored in the PYZ. All that needs to be stored is a filename relative to the extraction directory.

[2015-05-26 12:25] codewarrior0 commented on #1280
It's not the DLL itself which is missing (you would get "module not found" or similar instead) - it's one of the entry points exported from one of the dependency DLLs. Dependency Walker might be a better tool than Process Monitor for diagnosing this.

[2015-05-26 12:54] htgoebel commented on #1106
PYZ already supports runtime options, which are currently only one letter options like "v" or "u". Most are boolean, only "W" contains some value. Accessing them is as easy as shown in https://github.com/pyinstaller/pyinstaller/blob/develop/bootloader/common/pyi_pythonlib.c#L134

It should be easily be extended to
a) either use these options for other options, too or
b) add another type (e.g. `c`

[2015-05-26 14:23] codewarrior0 commented on #1106
Good. The OPTION type should be usable, then. Here's what I'll do:

- Change pyi_launch_initialize to take the archive_status as an argument instead of executable.
- Change pyi_launch_initialize to (inside the #elif WIN32) scan the TOC for an OPTION with name `windows-uac-manifest-filename`.
- Change CreateActContext to take a single argument: the path to the manifest file
- Make pyi_launch_initia

[2015-05-26 14:36] htgoebel commented on #1208
I did an analysis on this:

The root cause for this is: On Linux (and only on Linux) we are getting the executables name from `/proc/self/cmdline` (resp. using the pid, but this does not matter). This already has the (resolved, absolute) path to the executable. Any symbolic link is lost here.

On other platforms:
**win32**: Uses `GetModuleFileNameW`. [docs](https://msdn.microsoft.com/en-us/library

[2015-05-26 17:17] never-eat-yellow-snow commented on #1280
I can't reproduce the original issue anymore. I don't know what happened; maybe a reboot, but it suddenly works now, without changing anything to the python environment.

Sorry for bothering you :)

[2015-05-26 18:18] htgoebel commented on #1208
@prologic This issue is on the python3-branch, isn't it?

[2015-05-27 12:06] Neo23x0 opened #1282 "Get compiled script directory via sys.executable returns 8.3 filenames (DOS SFN)"
I try to get the current directory name of the compiled script by the use of the following statement:
```application_path = os.path.dirname(os.path.realpath(sys.executable))```

When I run the python script it returns:
***C:\Users\neo\Downloads\loki-master***

When I run the compiled executable, it returns:
***C:\Users\neo\DOWNLO~1\LOKI-M~1***

This is the old MS DOS 8.3 filename style called SFN.

[2015-05-27 12:41] Neo23x0 commented on #1282
I fixed the problem myself by the use of win32api:
[code]

[2015-05-27 12:51] #1282 closed

[2015-05-27 15:02] tallforasmurf commented on #1282
Could this be added to the doc? Where?

[2015-05-27 15:40] codewarrior0 commented on #1282
Yes, this should be documented. PYI explicitly uses GetShortPathName to set the value of `sys.executable` - "to overcome the Python and PyInstaller limitation to run with foreign characters in directory names." (`pyi_path.c:157`)

In normal Python, `sys.executable` contains the full path to `argv[0]`. On Windows, argv[0] is encoded using an MS-DOS codepage. Renaming python.exe to something like `p

[2015-05-27 15:59] codewarrior0 commented on #1282
I kind of want to go through all of the bootloader code and add hungarian-notation to all of the string types to specify the encoding - `workpath_u8`, `argv_mbcs` and so on.

[2015-05-28 08:07] htgoebel commented on #1282
I'd prefer to have this fixed in `pyi_path.c`. But as I read your explanation I have the impression that we can't get this fixed as long as we are supporting Python 2.x Is this correct?

[2015-05-28 08:14] htgoebel commented on #1277
There is a chance it could be crypto. But then you shouldn't be able to extract the file with the older version of archive-viewer, too.

Yes, this is what I meant. I assume the file you tried to extract actually is a compressed one?!

I'm about to close this issue, because it seams to be just an incompatibility between different versions in development stage. Anyway I would like to investigate thi

[2015-05-28 09:17] codewarrior0 commented on #1282
Yes. `sys.executable` is broken, for most non-ASCII characters, on Python 2.x for Windows, even for vanilla Python without PyInstaller.

PyI's workaround of using a ShortFileName instead of encoding with `mbcs` improves support over vanilla Python's, but raises this issue of not being able to compare filenames easily. It is also not available for some filesystems, especially SMB network shares. Th

[2015-05-28 20:25] codewarrior0 commented on #1282
Besides, shouldn't you be using `sys._MEIPASS` instead of `dirname(sys.executable)` (or `__file__` etc) when your app is intended to be frozen?

I wonder what the encoding for `_MEIPASS` is. It's probably UTF-8, but if it's a `bytes` type on python2 it will run into the snag of the Windows filesystem functions using the ANSI variants and trying to interpret  it as `mbcs` encoded. Maybe `_MEIPASS`

[2015-05-28 20:51] Neo23x0 commented on #1282
That's what my code looks like. (still clumsy but working)

[code]

[2015-05-28 21:04] htgoebel commented on #1282
As codewarrior wrote, you must use `_MEIPASS`, see https://pythonhosted.org/PyInstaller/#adapting-to-being-frozen

[2015-05-28 21:24] zauberparacelsus commented on #1278
@htgoebel That was the entirity of the command line output.

On another note, I just retried, and I found that although installation fails under the Python3 version of pip, it installs just fine with the Python2 version of pip.

And the version of pip I'm using is 6.1.1.  Today I'm getting a prompt to update to 7.0.1 that I wasn't getting previously.  I just upgraded pip and then tried installing

[2015-05-28 21:27] robertbasic commented on #1278
@zauberparacelsus install it from the python3 branch, it works nicely for me under both Fedora and Linux. Trying to bring up a hackintosh now to test it under osx as well :)

[2015-05-28 21:29] zauberparacelsus commented on #1278
@robertbasic Um... it's the Python3 version that will not install for me.

[2015-05-28 21:29] robertbasic commented on #1278
Yea, but actually check out the python3 branch of the pyinstaller https://github.com/pyinstaller/pyinstaller/tree/python3

[2015-05-28 22:15] htgoebel commented on #1278
So your Linux`s default python is Python 3.x and you are installing PyInstaller from PyPI, which is documented to work with Python 2.x only. See the wiki and the PyPI-entry.

[2015-05-28 22:15] #1278 closed

[2015-05-28 22:48] Neo23x0 commented on #1282
Doesn't work for me. I build my file in one file mode (-F). Using _MAIPASS I get the path of the extracted archive contents but not the path where the executable resides.
[code]

[2015-05-28 22:57] codewarrior0 commented on #1282
Oh, you're actually using the app by putting it in a folder where it is going to work. Then what you're doing with GetLongFileName will do what you want, but with the caveat that it won't work on filesystems that don't support 8.3 filenames - you'd have to go directly to GetCommandLineW (as I noted a few comments ago) if you need that to work.

[2015-05-29 11:22] thorsant opened #1283 "Support for pkgutil.extend_path() missing"
Hi

I have a package which spans multiple folders. In the documentation it is indicated that this can be solved by using hooks. Lets say my main package is called acme, and I have 3 different sub packages, which are located at different root paths as mentioned above, and these three pacakges are named utils, db and io. So I implement a hooks file for acme, hook-acme.py which looks something like t

[2015-06-01 04:29] seanegoodwin opened #1284 "[Windows] QML File name case mismatch"
According to [this](https://bugreports.qt.io/browse/QTBUG-15706) Qt bug report, QML enforces filename case matching and fails out with an error ("File name case mismatch") if it finds a mismatch. Pyinstaller runs included files through os.path.normcase, which is what causes this problem to appear.

As a test, I swapped out the instances of normcase with normpath, which fixed the issue. I don't kno

[2015-06-01 10:12] htgoebel commented on #1284
Can you please point to the *exact* place you changed? Please mind giving the branch you are using (I assume you are using some development version from github).

[2015-06-01 11:34] thorsant opened #1285 "hookutils.get_package_paths returns only first path of package"
Hi

The hookutils.get_package_paths only returns the first path of a module, not all in the case a modules path is extended. collect_submodules only handles the case where hookutils returns one single path.

Is this the way it is meant to be?

[2015-06-01 12:15] the-vindicar commented on #583
Any luck on dealing with this one so far?

[2015-06-01 13:40] htgoebel commented on #1285
What do you mean with "in the case a modules path is extended"? To my knowledge, a module has exactly *one* path.

NB: Please follow the instructions at https://github.com/pyinstaller/pyinstaller/wiki/How-to-Report-Bugs

[2015-06-01 13:44] htgoebel commented on #1283
As I already wrote on the mailinglist: Namespace packages are not yet  supported.

And since your ate not even talking about namespace packages, even further: I strongly doubt, your setup works in plain python. Does this work on your system?
[code]

[2015-06-01 13:45] htgoebel commented on #1285
I assume this is related to #1283.

[2015-06-01 13:48] thorsant commented on #1283
It works when running from python using pkgutils and extend_path in the
__init__.py files of each of the acme folders.

Sorry for the name confusion, I am not into the python lingo yet as I have
mainly been programming in other languages.

On Mon, Jun 1, 2015 at 3:44 PM, Hartmut Goebel <notifications@github.com>
wrote:

[2015-06-01 14:06] htgoebel commented on #1283
Okay, so you *are* using namespace packages using the `pkgutils.extend_path` mechanism. You should know, that this is a lot of magic, even if it looks so simple.

So first of all, please try the current development head. But I'm afraid, this is not yet supported.

[2015-06-01 14:15] thorsant commented on #1283
Yes, I am, I'm just not in on the lingo, sorry about the confusion. Yes, it
looks simple...

Looked at the source of the develop branch and the hookutils.py, but at
least there it does not seem to be implemented, but I'll give it a try.

Could it be possible to compile each of the repos to binary archives and
include them using the PYZ object in the spec file of the project using
these io, db and

[2015-06-01 14:29] htgoebel commented on #1283
The easiest solution is to symlink (resp. copy) `utils/acme/utils` to `acme/utils`, `db/acme/db` to `acme/de` and so on. So you have a single directory containing the whole `acme` package`.

[2015-06-01 15:27] thorsant commented on #1283
Ok, thats what I have done so far as a part of the build process. I want to
keep them as separate repos though, since they are quite independent.

Thanks for the help sorting this out.

On Mon, Jun 1, 2015 at 4:30 PM, Hartmut Goebel <notifications@github.com>
wrote:

[2015-06-02 09:49] htgoebel commented on #583
So chance to handle this in PyInstaller. `skimage.io._plugins/plugin.py` has to be [adapted to being "frozen"](http://pythonhosted.org/PyInstaller/#adapting-to-being-frozen) or use another "official" way to find its plugins. There is nothing we can do on PyInstallers side here. Sorry.

[2015-06-02 09:49] #583 closed

[2015-06-02 11:44] the-vindicar commented on #583
Well, you're right. But since people usually need to "have it working, in whatever way possible, now!", then for the sake of googleability I'll leave the following hack that worked for me.
Put into your spec file:
[code]
And later you can use this Tree during COLLECT:
[code]
If you use onedir mode, it will grab the skimage plugins directory and put it where skimage expects to find it.
Of course, i

[2015-06-02 19:12] tgc-dk opened #1288 "Make 32 bit windows applications large-address-aware"
When running 32 applications on windows by default they only have access to 2 GB of memory. By setting the large-address-aware bit the application can get access to 4 GB.

This could be done in 2 ways:
1. Link the 32 bit windows bootloader with "/LARGEADDRESSAWARE" for msvc or  "--large-address-aware" for mingw.
2. Set the bit by once the executable has been created. (I have a python script that c

[2015-06-04 02:18] c1728p9 commented on #362
Hi @matysek , I have seen this issue as well.  This happens to me if an exception occurs and the file would have been located on the drive that isn't present.  I'm using pyinstaller 2.1.  Let me know if there is anything you would like me to try out.

[2015-06-05 01:57] codewarrior0 commented on #1224
The fix for this might be to convert the bootloader over to use wide-character APIs everywhere instead of ShortFileNames, since SFNs aren't guaranteed to be supported on all filesystems (they can actually be disabled on a system-wide or per-filesystem basis!). This is a rather big change - I noticed TODOs everywhere about changing to the unicode APIs.

One aspect of the change is that `sys._MEIPAS

[2015-06-05 02:12] jeremydw commented on #1059
Hi folks, any update here? If not, we'll likely move our builds to work directories that we are OK exposing to users, such as something like `/build/<appname>/` since it is not OK to expose our usernames on our build machines to users in tracebacks. Wondering if other folks have been taking the same strategy. Cheers!

[2015-06-05 02:18] codewarrior0 commented on #1059
+1 for privacy and for more readable tracebacks.

Oh, so THAT'S where they are coming from. I thought they were coming from the archive instead. Okay, that makes sense. It seems like a good way to strip the paths is to go to each path stored in a pyco, and strip off any leading component that matches any path in `sys.path`.

[2015-06-06 09:38] Luispain opened #1289 "Matplotlib: maximum recursion depth exceeded / modulegraph"
Hello guys!

This is my what I'm using:

 - Python 3.4.3 windows distribution "Anaconda 2.2.0 (64-bit)".
 - Matplotlib version 1.4.3
 - Numpy version 1.6
 - Pyinstaller version 3.0.dev0-py3.4

When I try to make an executable of a python file that makes a matplotlib figure, it issues a "maximum recursion depth exceeded". The code I want to compile is:

    import matplotlib.pyplot as plt

    x =

[2015-06-06 20:51] mgeorgy opened #1291 "Error Loading Python DLL when using 2.1.1dev-32bbb95 and --onefile for Windows .exe"
I'm not sure if perhaps something has changed with the --onefile option, but I recently cloned the latest report (2.1.1dev-32bbb95) and realized that all .exe's created reported:

Error loading Python DLL: C:\Users\USER\AppData\Local\Temp\_MEI16922\python2
7.dll (error code 14001)

I used a previous version of pyinstaller (2.1.1dev-67610f2) and am no longer seeing the error.  Nothing else was chan

[2015-06-07 02:54] codewarrior0 commented on #1291
This might be my fault. Error code 14001 is "side-by-side configuration is incorrect".

Could you do the following to get info about what the side-by-side loader is doing?

- Open an administrator command prompt
- Run the command `sxstrace trace -logfile:trace.out` to begin tracing.
- Launch the pyinstaller created .exe
- Press ENTER in the command prompt
- Run the command `sxstrace parse -logfile

[2015-06-07 02:58] codewarrior0 commented on #1291
Also, could you run pyinstaller with the `-d` option to generate the exe? That will make the exe output some debug info which could be useful.

[2015-06-07 18:33] matysek commented on #1288
I received this script that demonstrates how to fix the exe from python.

[code]

[2015-06-07 18:34] matysek commented on #1288
Question is if LARGE_ADDRESS_AWARE should be default or not.

I think I would make it default for python3 branch.

[2015-06-08 16:58] jeremydw commented on #1059
Has this been fixed (either in some new version of PyInstaller or perhaps it has always been there) through the use of the `name` argument to the PYZ command in spec files? I added `name='growsdk'` to my PYZ command, so it now looks like:

[code]

Now tracebacks displayed by the frozen executable look like the following snippet:

[code]

Whereas before, without the `name` argument provided, users

[2015-06-08 17:37] codewarrior0 commented on #1059
Yep, adding `name` seems to fix it, but I found out what it's actually doing. `name` specifies the output filename for the PYZ build step, and that is what's putting the extra file in your working directory. Without `name` it uses a file under `build/`, whose name is given by an absolute path. This absolute path is given to the builtin `compile()` (as the effective filename to use, since it is pas

[2015-06-09 03:02] codewarrior0 commented on #1059
In fact, why is the archive path even being added to the effective filename? PyInstaller already fools around with the code object's `__file__` attribute in the pyi_importer, so the original description is slightly incorrect: It's not embedding the original path of the source files themselves, what it's embedding is the original path of the PYZ file that was output by the PYZ build step!

So there

[2015-06-09 12:04] matysek commented on #1288
I set flag LARGE_ADDRESS_AWARE for 32bit Windows bootloader to be the default and recompiled the bootloader.

[2015-06-09 12:04] #1288 closed

[2015-06-10 12:14] Shamasfs opened #1292 "pyinstaller"
when i entered the command pyinstaller --name touchtracer ..\kivy27\examples\demo\touchtracer\main.py the command prompt through an error
 "'pyinstaller' is not recognized as an internal or external command, operable program or batch file."
how can i fix this prob.i have added path also but still its giving me same error.please help me out how can i do this.

[2015-06-10 15:29] JMSwag commented on #1292
Which OS are you using? How did you install Python? What's the current value of PATH?

[2015-06-10 15:38] carlosperate commented on #1292
I assume from the backslashes that you are trying this on Windows, how did you install pyinstaller?

[2015-06-10 16:24] Shamasfs commented on #1292
am using windows7 32bit os,and this is what the PATH C:\Python27

On Wed, Jun 10, 2015 at 8:38 AM, Carlos <notifications@github.com> wrote:

--
Warm Regard's
Shamshad Shirageri
nanoPix ISS (P) Ltd
Hubli

[2015-06-10 16:28] carlosperate commented on #1292
Follow the steps from the documentation and try again:
http://pythonhosted.org/PyInstaller/#verifying-the-installation

[2015-06-10 18:52] lespinsci commented on #1068
What if you dont want to use the developer branch?

[2015-06-11 00:20] seanthegeek opened #1293 "pip install fails"
Mac OS 10.10, Macports, pip 7.0.1

Collecting pyinstaller
  Downloading PyInstaller-2.1.tar.gz (4.8MB)
    100% |████████████████████████████████| 4.8MB 112kB/s
    Complete output from command python setup.py egg_info:
    Traceback (most recent call last):
      File "<string>", line 20, in <module>
      File "/private/tmp/pip-build-dx_ka20_/pyinstaller/setup.py", line 18, in <module>
        f

[2015-06-11 03:44] Shamasfs commented on #1292
ok thank you :-)

On Wed, Jun 10, 2015 at 9:58 PM, Carlos <notifications@github.com> wrote:

--
Warm Regard's
Shamshad Shirageri
nanoPix ISS (P) Ltd
Hubli

[2015-06-11 14:02] pandel opened #1294 "Current python3 branch broke Qt5 integration somehow (at least for me)"
Hi!

I'm packaging my app with pyinstaller, which I downloaded via github zip (sadly, not git clone...) on 30.04.2015. I'm using it on under Windows 7, 64bit. Besides a small correction in hookutils.py, this version worked very well. I'm heavily relying on Qt5, so that's a major issue for me. I modified my pyinstaller.spec file accordingly to include everything needed.

Today I pulled the actual p

[2015-06-11 14:40] pandel commented on #1294
Ok, I went back down to revision e886b451ffeae9b5bc19d7a123baacf76ac7b92e and it is still not working. Anyway, I really don't know, why my older version works... if you want it as ZIP, let me know...

[2015-06-12 00:53] pandel commented on #1294
The current revision works as expected under Linux.

[2015-06-12 11:49] pandel commented on #1294
Gotcha! I found out, what it was:

- first (verrrryyyy nice!), I could remove some lines from my spec file, because the new revision integrates many qt5 libs on its own
- second, and that's the important part, i used upx before, and somehow, upx version 3.91w doesn't like something now or whatever... as long as I deactivate it, my program starts fine

So perhaps I'll do a bit more research, try an

[2015-06-12 11:49] #1294 closed

[2015-06-13 12:20] CarlLee opened #1295 "Error loading Python DLL when there're Unicode chars in absolute path"
Program crashes and unable to load Python DLL when there're Unicode characters in absolute path.
The error is gone when after renaming all folder names containing Unicode characters to ASCII names.
Below is the error message.
[code]

[2015-06-13 12:28] codewarrior0 commented on #1295
That's when running in `onedir` mode (the default), right? Does the same thing happen if you run pyinstaller with `--onefile`?

[2015-06-13 18:32] CarlLee commented on #1295
Error occurred, too, but a different one. Here's the trace:
[code]

[2015-06-13 19:08] codewarrior0 commented on #1295
There are a handful of issues about this with a few variations. The gist of it is the part of PyInstaller written in C isn't fully unicode-aware. It's supposed to use MS-DOS filenames as a kind of workaround, but it looks like it isn't even doing that correctly - your first error has a mix of MS-DOS filenames and unicode characters.

[2015-06-14 04:23] CarlLee commented on #1295
So it seems there should be some refactoring of C code.

[2015-06-15 16:44] hellais commented on #807
I can confirm that a simple hello world:

[code]

does not work in OSX 10.10.2

Here is the output of dtruss when running it:

[code]

[2015-06-15 23:46] pandel opened #1297 "Unable to compile bootloader on Win7 64bit"
Hi!

I'm trying to compile the bootloader source from the current python3 branch revision.

I have Python 3.4, Microsoft Visual Studio 2010 Express and Microsoft Windows SDK v7.1 installed. As I compiled some other Python modules I know, that this setup works in general.

When I try to run './python waf compile' I get the following result:

    d:\Pythonprojects\pyinstaller\bootloader>python waf c

[2015-06-16 18:56] pandel commented on #1297
I did find the reason. The wscript file in python3 revision has had some errors. Thanks.

[2015-06-16 18:56] #1297 closed

[2015-06-17 10:13] matysek commented on #496
I think so too.

[2015-06-17 10:13] #496 closed

[2015-06-17 10:24] matysek opened #1299 "Improve structure of test suite"
In pyinstaller code repository there are tests in directory 'tests'. These tests should be better organized and improved for running in a continuous integration system.

[2015-06-17 18:00] siliconplains44 opened #1300 "ImportError: No module named _core_"
I have a wxpython based app that I am trying to compile into a linux 64 bit exe with this tool.  Before I ran pyinstaller I can open pycharm and run my target app code with wxpython 3.0.2.0 that I built fresh on this linux 14.04 ubuntu os that is in python code format.  I go to build the app with pyinstaller and the tool does not import wxpython it appears.  I get the following message when the ex

[2015-06-19 09:34] Tamriel opened #1301 "FileNotFoundError: Path or glob "" not found or matches no files."
PyInstaller 3 does not work with PyQt5 on Mac I guess. When I try to compile this python file:

    from PyQt5.QtCore import *
    print("yeah")

I get this [Error](https://gist.github.com/Tamriel/70c93fcfd2ba3936fc0d).

I use Python 3.4 and OS X 10.8, but I also tried it on a fresh OS X 10.9 system.
The same stuff works on Windows and Ubuntu.

You can install Qt like described [here](http://treen

[2015-06-20 15:00] htgoebel commented on #1299
@matysek backporting this to the develop-branch become hard, esp. since you are intermixing these changes with other merges (would be better to us a branch by it's on for this issue) Where can I find the description on what you are doing here?

[2015-06-20 15:14] htgoebel commented on #807
@hellais Please run `dtruss` using `-f`, as the program obviously folks.

[2015-06-20 15:33] htgoebel commented on #1068
@lespinsci If you still have problems, please open a new bug reports, see https://github.com/pyinstaller/pyinstaller/wiki/How-to-Report-Bugs

[2015-06-20 15:54] htgoebel commented on #1300
Please follow the instructions at https://github.com/pyinstaller/pyinstaller/wiki/If-Things-Go-Wrong and https://github.com/pyinstaller/pyinstaller/wiki/How-to-Report-Bugs and submit more infos. thanks.

[2015-06-20 16:23] #1292 closed

[2015-06-20 16:25] htgoebel commented on #1293
Python 2.1 only supports Python p to 2.7.

[2015-06-20 16:25] #1293 closed

[2015-06-22 10:37] htgoebel commented on #1289
In which part of PyInstaller is this happening? There should be some pyinstaller module in the traceback. Please also follow https://github.com/pyinstaller/pyinstaller/wiki/If-Things-Go-Wrong and https://github.com/pyinstaller/pyinstaller/wiki/How-to-Report-Bugs.

[2015-06-22 10:38] htgoebel commented on #1289
BTW: There is no Pyinstaller version "3.0.dev0-py3.4".

[2015-06-22 19:28] siliconplains44 opened #1303 "ImportError: No module named _core_"
This error occurs when I am running the main.exe application after a pyinstaller build.

I am using pyinstaller 2.1 stable.

I am using python 2.7.6 on Ubuntu Linux 14.04 lts.

I think the wxcore error is wxpython.  I am not quite sure.  It appears the exe is not finding wxpython.

This problem is not happening on windows or mac os x

Example program

Just create a program that depends on wxpython

[2015-06-22 21:09] htgoebel commented on #1303
Please try latest development version.

Please provide a minimal working one. Esp. one "that depends on wxpython 3.0.2.0" (how should this be achieved?)

[2015-06-22 23:22] siliconplains44 commented on #1303
The development version I pulled from git worked!  Thanks for the heads up.

[2015-06-23 08:04] #1303 closed

[2015-06-23 18:40] hansonap opened #1304 "bootloader fails to build, user32 library not found"
When trying to install pyinstaller for python3 (following instructions at bottom of page under experimental ports at https://github.com/pyinstaller/pyinstaller/tree/python3) it fails at 'checking for library user32: not found'

I have python 3.4 and MS VS 2013 express installed

[2015-06-23 21:13] matysek commented on #1304
Does the precompiled bootloader work for you?

[2015-06-24 07:45] KevinArturia opened #1305 "import sqlite3 with --onefile gives warning since python 2.7.9"
Running the generated .exe gives the following Warning message.

    WARNING: file already exists but should not:
    C:\Users\kevin\AppData\Local\Temp_MEI40122\Include\pyconfig.h

Note that this does not happens with python 2.7.8.

This looks like the same as [issue 783](https://github.com/pyinstaller/pyinstaller/issues/783) but the proposed fix does not solve the issue.
I tried with the develop

[2015-06-24 10:16] htgoebel commented on #1305
You are using the python3-branch with Python 2.7.9?

[2015-06-24 10:18] KevinArturia commented on #1305
No, I am using it with python3.
I tried with python2 but I got an error message saying that pyinstaller requires python 2.7+ (although I am using python 2.7.9)

[2015-06-24 10:54] pandel opened #1306 "Strange build error under Ubuntu with latest python3 revision"
Hi!

With the current python3 git revision, I get a strange error when trying to build a package under Ubuntu 15.04.vivid:

    22 INFO: UPX is not available.
    27 INFO: Extending PYTHONPATH with /home/holger/Pythonprojects/opsiPackageBuilder
    34 INFO: checking Analysis
    38 INFO: Building because out00-Analysis.toc missing or bad
    46 INFO: Creating base_library.zip for Python 3
    2708

[2015-06-24 11:03] htgoebel commented on #1202
No further comment since three month. closing.
@Megido6 If you have further information, please comment and we'll reopen the ticket.

[2015-06-24 11:03] #1202 closed

[2015-06-24 11:08] htgoebel commented on #1306
Please help us tracking this down. If you know approximately which revision "some pyinstaller commits ago" worked, you can use `git bisect` for finding the one causing the error. Using `git bisect` is easy and quick. Thanks.

[2015-06-24 11:13] htgoebel commented on #1305
So the error occurring with Python 2.7.9 on the develop-branch is:
[code]
But there is no warning about file already exists.

Right?

When Using Python3 and the python3 branch, no error occurs. Right?

[2015-06-24 11:15] htgoebel commented on #1110
This should be easy to implement when changing from optparse to argparse.

[2015-06-24 11:20] #847 closed

[2015-06-24 11:34] htgoebel commented on #892
I'm closing this issue, because it was reported by anonymous and the attached code is gone with the old trac instance.

[2015-06-24 11:34] #892 closed

[2015-06-24 11:50] pandel commented on #1306
;-)) nothing to bisect here! Just when I wanted to start inspecting the code after a last git pull, everything worked fine now. I don't know why, but your commit e944769deea8b0f04b555499c1413a8a5ead7495 did the trick!

Perfect! Many thanks!

[2015-06-24 12:07] pandel commented on #1306
Arg! Happening again... So here is what I did in detail before:

- checked out commit 3429bfbb7d3d3080a403a6f5fdaf1620c0dfb758 and installed it via setup.py
- run pyinstaller in my project, everything fine
- check out python3 branch HEAD, removed /usr/local/bin/python3.4/dist_packages/PyInstaller-... folder and re-installed it via setup.py
- run pyinstaller in my project WITHOUT deleting build and

[2015-06-24 12:26] htgoebel commented on #1306
Please try running PyInstaller from the checked out directory and bisect here. Please mind to remote /usr/local/bin/python3.4/dist_packages/PyInstaller-...

[2015-06-24 12:28] pandel commented on #1306
So... My bad! I'm working in a virtual machine on this, so I did a snapshot reset to start with a alleged clean state. What I didn't noticed was that the snapshot somehow didn't contain any necessary debian package for my distribution.

... I'm very sorry to have opened this request!

[2015-06-24 12:28] #1306 closed

[2015-06-24 13:20] htgoebel commented on #1113
@marcinbarczynski Can you please check if this error still occurs in the current development version. If so, please check if #1161 solved this issue. Thanks for your support.

[2015-06-24 13:21] htgoebel commented on #1145
Since there is a related pull-request, I'm closing the issue.

[2015-06-24 13:21] #1145 closed

[2015-06-24 13:27] htgoebel commented on #822
This would basically mean we should include the complete Python interpreter into PyInstaller. I don't think, this is a good idea.
Either you ensure, Python is installed on the target system *or* you freeze your other program with PyInstaller, too.

Closing as wn't fix.

[2015-06-24 13:27] #822 closed

[2015-06-24 13:34] htgoebel commented on #486
@agrif: Hi, this is an old PyInstaller issue by you. Can you please verify it is still an issue, otherwise close it. Thanks.

If it is still an issue, would you please be so kind and check if #1161 solves it. Thanks

[2015-06-24 13:38] htgoebel commented on #679
@MarkusPiotrowski: Hi, this is an old PyInstaller issue by you. Can you please verify it is still an issue, otherwise close it. Thanks.

If it is still an issue, would you please be so kind and check if #1161 solves it. Thanks

[2015-06-24 13:48] htgoebel commented on #1051
As of the time of this report, c48054b23 (dated 2010-05--21 02:07) or 6cfab55d9f (dated 2010-05-17 19:12) was current.

[2015-06-24 13:52] htgoebel commented on #1113
In contrast to https://github.com/pyinstaller/pyinstaller/issues/1113#issuecomment-67745639 I was now able to reproduce the problem and #1161 solves the issue.

[2015-06-24 17:55] rickfoosusa opened #1307 "Python3: Cygwin Python library not found"
Installed with easy_install-3.4
 pyinstaller  -D -i icon.ico -w --uac-admin Installer.py
[code]

[2015-06-24 20:11] ysrd opened #1308 "Different error every time ish"
I know this isn't really a bug, but, I made a package that works on the machine I made it on. And I suspect it will work on every other machine with the same version of that distro but I tried to run it on others, like CentOS7 and ubuntu 14.04 but they all give me the import error for glibc, except every one of them reports it needs a different version of glibc. One has glibc 2.12 and wants glibc

[2015-06-25 05:34] agrif commented on #486
I've run the old test program about 2300 times on my machine with no crashes, so I'm about 99.7% confident it'll fail less than 0.3% of the time now. I think the bug's gone.

I lost the exact machine this bug happened on a while ago, so I tested this on pyinstaller 2.1 (from pip) on OSX 10.9.5 with python 2.7.9 and xcode 6.0.

I'd close the issue, but github doesn't think I created it so it won't

[2015-06-25 06:49] KevinArturia commented on #1305
The answer to both questions is yes.

[2015-06-25 10:07] matiasbonet commented on #1071
@fyears Thanks! I haven't seen your reply until now. I was developing and leaving this as an unsolve part!

I make it work with your solution. Compiling and adding any package he was asking me heheh definetly not the nicer solution but it worked!

#pyinstaller fixes
import flask_restful as _
import flask_restful.utils as _
import flask_restful.representations as _
import flask_restful.representati

[2015-06-26 11:32] matysek opened #1309 "argv emulation for drag and drop not working on OS X 64bit (opendocument events)"
The bootloader implements argv emulation when the user drag and drops file on the created .app file.

Notes:
- The implementation uses Carbon framework for this.
- The implementation works only with 32bit bootloaders.
- Carbon framework is missing some functions in 64bit environment. Especially the WaitNextEvent.
- We could either:
  - use other functions from Carbon that are available in Carbon

[2015-06-26 12:03] matysek commented on #1309
@dhyams I checked that you dit the original implementation. Do you thing you could look at it or do you have any suggestions how to make argv emulation working for 64bit OS X?

[2015-06-28 02:39] cjermain opened #1311 "Sub-directories in Analysis.binaries are treated as top-level directories"
When working with `boto`, I noticed that two files are needed for the SSL connections to work properly. One of the files should be included in the `boto/` folder, while another should be in the sub-directory `boto/cacerts`. I append these files as DATA to the binaries list to include them in a one-file package.
[code]
I noticed that they indeed both show up in the temporary folder, but both files

[2015-06-28 03:02] cjermain commented on #1311
After manually deleting the compiled one-file and re-running `pyinstaller` on the `spec` file, this problem appears to be resolved.

[2015-06-28 03:02] #1311 closed

[2015-06-29 00:02] koutoftimer opened #1312 "PyGame - ImportError: No module named base"
Building simple clicker, but I'm not satisfied with FPS of javascript, so I decided to use something faster. As one of options: PyGame. I'm working without virtual enviroment under `Ubuntu 14.4.2` with pygame installed via `# apt-get install python-pygame`.

I already have some primitive ui system with single external dependency - pygame. I'm  running `pyinstall`, than trying to start executable f

[2015-06-29 08:31] htgoebel commented on #1312
Please follow the instructions at https://github.com/pyinstaller/pyinstaller/wiki/If-Things-Go-Wrong, esp. use the most recent development version. If this does not help, please see https://github.com/pyinstaller/pyinstaller/wiki/How-to-Report-Bugs and reopen this ticket.

Also see #819 (which is missing any example, too)

[2015-06-29 08:31] #1312 closed

[2015-06-29 09:05] htgoebel commented on #1071
@matiasbonet We'd appreciate if you could write a hook then. Doing this is easy, just take PyInstaller/hooks/hook-rawpy.py as an example.

[2015-06-29 09:35] matiasbonet commented on #1071
@htgoebel I tried using the hidden imports but it wasn't working. Not sure how to migrate my solution to this format.

I tried before generating the spec file and adding
hiddenimports = ['flask_restful']

But then I got no error when generating exe but the exe wasn't working or doing anything.

If I have time next week I will do more testing on this solution and add I will try to generate the hook

[2015-06-29 10:55] htgoebel commented on #1307
For cygwin, PyInstaller expects to find `libpython34.dll` and is searching in the PE file of sys.executable. Please help us fixing by debugging/tracing `PyInstaller.depend.bindepend._getImports_pe`. Thanks

[2015-06-29 11:01] htgoebel commented on #486
Thanks for testing. Did you test "plain" pyinstaller or with #1161 applied?

[2015-06-29 13:10] agrif commented on #486
Plain pyinstaller only, no patches.

[2015-06-29 21:08] bjones1 opened #1314 "Limited output using runtests.py"
The output from runtests.py is truncated; when I run Pyinstaller manually, I get more output. Is this by design, or a bug? I personally prefer seeing all output, since this aids in debugging failing tests. (Note that runtests.py -v also preserved all the output).

[code]

Running Pyinstaller manually, I get much more output:

[code]

[2015-06-30 10:11] htgoebel commented on #1314
Yes, the idea is to suppress some of the output by default when running the rest-suite. So you can spot the relevant parts more easy. I have to admit that in case of an error one often wants more details about the test-case, but just this test-case.

Does `runtest --verbose` do whar you expect?

[2015-06-30 12:27] #1070 closed

[2015-06-30 12:32] htgoebel commented on #1113
Merged #1161, so I can close this issue new.

[2015-06-30 12:32] htgoebel commented on #486
Merged #1161, so I can close this issue new.

[2015-06-30 12:32] #486 closed

[2015-06-30 12:34] htgoebel commented on #679
@MarkusPiotrowsk: #1161 is merged now, so you can test using the current development head.

[2015-06-30 12:37] htgoebel commented on #1070
Note: I tested #1145 with the result of  https://github.com/pyinstaller/pyinstaller/issues/1070#issuecomment-77863852 above.

[2015-06-30 12:55] htgoebel opened #1315 "Add C functions for easy access to runtime options in PYZ"
From https://github.com/pyinstaller/pyinstaller/issues/1106#issuecomment-105516391:

Add a function to the C-code to allow easy access to these options. This may also be useful for #1206.

[2015-06-30 13:27] htgoebel opened #1316 "Add test-cases for run-time options"
We have test-cases for run-time options, but these are not verifying any run-time option.  They test if the executable still runs (as all test-cases do).
- tests/basic/test_option_verbose
- tests/basic/test_option_wignore

[2015-06-30 13:31] htgoebel commented on #1315
Some remarks on this:
- CArchive.add() currently does not write any option-value
- PKG.assemble() does not pass any value for options.
- We have no test-cases verifying run-time options. See #1316
- Currently there is no runtime-option having a value. Even `W` (which setts the warning-options) does not have a value, but the later part of the option name is taken as the value.

[2015-06-30 13:52] htgoebel commented on #1316
Still need to find a (simple) way to test if `verbose` option is set.

[2015-06-30 14:11] htgoebel commented on #1316
Okay, this should do the job for now.

[2015-06-30 14:11] #1316 closed

[2015-06-30 15:45] bjones1 commented on #1314
Yes, `runtest --verbose` provides all the output. Would it be possible to add a "Use the -v option for more output" message or something along those lines? Attempting to do this myself by looking at the source, I assume https://github.com/pyinstaller/pyinstaller/blob/develop/tests/runtests.py#L422 and following controls the output produces? The lines are:

[code]

If so, what confuses me is that t

[2015-06-30 16:00] htgoebel commented on #1314
I'd add this to the help-message of `-v` at https://github.com/pyinstaller/pyinstaller/blob/develop/tests/runtests.py#L755. You pull-request is welcome :-)

[2015-06-30 16:02] bjones1 commented on #1314
OK, I'll work on it.

[2015-06-30 22:00] bjones1 commented on #1314
I dug into this a bit more deeply and figured out why running with the `-v / --verbose` flag output some INFO messages, but not all: the logging level is inconsistent within `runtests.py`. I've provided https://github.com/pyinstaller/pyinstaller/pull/1317 to fix this. I believe this more consistent behavior will better explain `runtests.py`'s operation than additional help text.

[2015-07-01 06:33] Godsmith commented on #1289
I have an identical setup and I get the same error when trying to import pandas.

Python 3.4.3 windows distribution "Anaconda 2.2.0 (64-bit)" and pyinstaller===3.0dev-6a3dad3 (I got it from the python 3 branch yesterday).

pandas_test.py:

    import pandas

    print("hello world")

Command:

    pyinstaller -F pandas_test.py

Output: http://pastebin.com/q66BfXH5

Thanks in advance!

[2015-07-01 09:59] matysek commented on #1164
I still need to do these things:
* recompile osx bootloaders
* backport this change for python3

[2015-07-01 14:33] matysek commented on #1245
I tested the code example and recompiling windows bootloaders with Py_SetProgramName patch fixes that.

[2015-07-01 14:33] #1245 closed

[2015-07-01 15:57] #1164 closed

[2015-07-02 08:56] Viissataa opened #1320 "Several (pointless) VisualC warnings and pyconfig errors. And apparent Fix for them"
At least with --onefile, the compiler prints multiple warnings of  MS Visual C 9 libraries that it namely "was unable to find". However the .exe is created and works fine, even with modules the warnings concern. When starting, it finally warns that "pyconfig.h already exists" in Temp folder, but afterwards works again fine. There is an apparent fix: in build.py of PyINstaller in method append, whe

[2015-07-02 18:48] dougn commented on #807
[code]

[2015-07-03 08:26] htgoebel opened #1321 "Split archive classes into readers and writers"
This allows for differentiating between reading/importing (where we need to imp_lock, open/close and seek often) and writing (where we do not need to so this)

Beside this saves some (neglectable) space in the frozen exe

[2015-07-03 09:23] matysek commented on #807
@dougn Have you tried the latest development version?

[2015-07-03 09:37] matysek commented on #1320
Hi @Viissataa,

thanks for reporting the issue but your description does not tell enough information like - pyinstaller version, detailed pyinstaller output or code example for reproducing it.

[2015-07-03 09:37] matysek commented on #1321
* Do you mean the modules in ./PyInstaller/loader?
* Is this meant only for python3 branch?
* I think a good idea is to keep readers in ./PyInstaller/loader/ and move writers to ./PyInstaller/

[2015-07-03 10:57] htgoebel commented on #1321
Yes to all three questions.

[2015-07-03 13:37] Torxed opened #1322 "modulegraph seams to not handle extended __path__ set in a hook (hook-win32com)"
http://stackoverflow.com/questions/31203580/pyinstaller-not-reading-my-hook-file-and-doesnt-work-with-win32com-shell

In short, doing `from win32com.shell import shell` doesn't get `shell` included, it also doesn't help to create a `hook-win32com.shell.py` file. That never gets read. At first I thought it might get picked up by `win32com.py` which is the main module hook/file.. But modifying that

[2015-07-03 13:38] Torxed commented on #1322
Also followed all the instructions and parameters under: https://github.com/pyinstaller/pyinstaller/wiki/How-to-Report-Bugs#make-sure-everything-is-packaged

[2015-07-03 20:00] bjones1 commented on #1322
Anton,

Perhaps:

import pythoncom
import win32com.shell # ******New line*******
from win32com.shell import shellfrom win32com import storagecon

might work? Doesn't makes sense, but does help in one of my hooks.

On Fri, Jul 3, 2015 at 8:37 AM Anton Hvornum <notifications@github.com>
wrote:

[2015-07-04 09:52] htgoebel commented on #801
@wettenhj: Are you the original poster of this issue?

[2015-07-04 10:15] htgoebel commented on #1322
Seams as if the module is actually called `win32comext.shell.shell`:
[code]

[2015-07-04 10:35] htgoebel commented on #1322
Looks as if `win32com/__init__.py` does some path-hacking (in `win32com/__init__.py`)
[code]
So this comes down do be yet another way for namespace-packages :-(

[2015-07-04 10:45] htgoebel commented on #1314
#1317 is merged.

[2015-07-04 10:45] #1314 closed

[2015-07-04 10:48] htgoebel commented on #1308
Thanks for your report. Sadly it is lacking too many information to help you. Please have a look at https://github.com/pyinstaller/pyinstaller/wiki/How-to-Report-Bugs#when-submitting-a-bug and provide more information for *both* your platform. I'm closing this issue. Please reopen it when providing the information. Thanks.

[2015-07-04 10:48] #1308 closed

[2015-07-04 11:01] htgoebel commented on #1289
This is the relevant part of the stacktrace:
[code]
and then it is recursing.

[2015-07-04 11:05] htgoebel commented on #1289
@Luispain @Godsmith Would you please be so kind and add some debugging like
[code]
to just in front of this place:
  File "c:\Anaconda3\lib\site-packages\pyinstaller-3.0dev_6a3dad3-py3.4.egg\PyInstaller\lib\modulegraph\modulegraph.py", line 615, in visit_ImportFrom
And report the results. Thanks.

[2015-07-04 11:35] Torxed commented on #1322
I'll verify that this statement is correct on my laptop in two days time, would be awesome if the dev branch solved this (I just used the prepackaged installer for a quick fix on a project) :)

[2015-07-04 12:53] Luispain commented on #1289
@htgoebel Thank you for your reply. I made what you said and herein I show you the link of the last 1010 lines of the traceback:

http://pastebin.com/imLG6Ezz

btw, is there a way to copy the full traceback right from the beginning?

[2015-07-04 18:33] hrwatahiki opened #1323 "Non-valid Unicode in sys.argv (removing the ShortPathName workaround for Python 3)"
I use win8 and python3.4.
I created 'D:\users\ pydun\日本語\pydun.exe'  using pyinstaller.
When I run the file , sys.argv [0] had a strange value. Type is str , but it does not seem to be a valid Unicode.

[2015-07-04 18:44] codewarrior0 commented on #1323
How strange is the value? Can you print `sys.argv[0]` and `repr(sys.argv[0])` for us?

[2015-07-04 19:08] hrwatahiki commented on #1323
print(sys.argv[0]) output the following message.

UnicodeEncodeError: 'cp932' codec can't encode character '\xe6' in position 15:
illegal multibyte sequence.

repr(sys.arv[0]) output no message.

[2015-07-04 19:15] codewarrior0 commented on #1323
What about `print(repr(sys.argv[0]))`?

From reading the bootloader code, you SHOULD see an MS-DOS style filename with a bunch of `~1` like things in it. But then it goes and combines the MS-DOS form of the dirname with the UTF-8 form of the basename...

[2015-07-04 19:23] hrwatahiki commented on #1323
I run 'D:\users\ pydun\日本語\pydun.exe'
pydun.py
[code]

output
[code]

`print(repr(sys.argv[0]))` output the following message.

[code]

[2015-07-04 19:34] codewarrior0 commented on #1323
I think this is because the MS-DOS short file names are not allowed on your `D:\`. Can you move your program to `C:\testing\日本語\pydun.exe` and see if it does the same thing? If so, this may be related to #1224

The MS-DOS filename thing is really just a workaround. The bootloader needs a lot of changes to fully support unicode filenames.

[2015-07-04 19:36] codewarrior0 commented on #1323
For now you may have to have a disclaimer that your app has to be in a folder with only English folder names.

[2015-07-05 01:54] hrwatahiki commented on #1323
I moved my app to 'c:\testing\日本語\pydun.exe', But the same error occurs.
'c:\testing\jp\pydun.exe' works without error.

[2015-07-05 06:34] hrwatahiki commented on #1323
I think MS-DOS filename is not the reason of this error. Because '日本語' is 6bytes and as same as shortname.

[2015-07-05 08:56] CarstenGrohmann opened #1324 "_pyi_bootstrap.NullWriter: is missing attribute `encoding`"
Hi,

I use PyInstaller to create a non-console executable on Windows for my wxPython based GUI application.

The application runs fine if I enable the console output with `EXE(..., console=True)`. But it failed silently without console `EXE(..., console=False)`. The application returns always with errorlevel 0.

Using an own NullWriter class extended by the `encoding` attribute solves my issue.

I

[2015-07-05 10:09] codewarrior0 commented on #1323
Hmm.

Try `print(os.path.exists(sys.argv[0]))`.  If you get True, then argv[0] is correct - the only thing you can't do is print argv[0] because the console window doesn't support unicode. If you get False, then argv[0] is actually incorrect.

[2015-07-05 10:43] CarstenGrohmann commented on #1324
Would it be possible to fix this issue with a hook instead of changing the source code?

[2015-07-05 15:10] hrwatahiki commented on #1323
I tried `print(os.path.exists(sys.argv[0]))` and I got False.

[2015-07-05 15:23] codewarrior0 commented on #1323
What you SHOULD be getting for the path is "c:\testing\6a7a~1\pydun.exe", which is an MS-DOS filename. If that's not the case, then either MS-DOS filenames are disabled for your system or your drive, or something is wrong in PyInstaller.

To find out if MS-DOS filenames are enabled, run these commands:

`fsutil behavior query disable8dot3` will show the system-wide setting.
`fsutil behavior query

[2015-07-05 15:46] hrwatahiki commented on #1323
I run these commands. (These are Japanese messages and translated ones are following.)

[code]

[2015-07-05 16:32] codewarrior0 commented on #1323
Oh, you may be right when you said this:

It looks like MS-DOS filenames are allowed to have characters from the legacy codepage (CP932 in your case). So you can get `c:\testing\日本語\pydun.exe` when you ask Windows for the MS-DOS filename. Actually, this part is working properly. This is the method PyInstaller uses to load stuff from the .exe archive.

Okay, I found the problem:

At `pyi-archive.c`

[2015-07-05 17:49] htgoebel commented on #1289
@Luispain Thanks for your quick reply :-)

AFAIR one can change the number of lines the cmd-window remembers in the comd-winodw' properties (seach for some settings in the menu). Or you may redirect the whole output to a file. `pyinstaller -F pandas_test.py > log.txt 2>&1` should do the trick on windows, too.

I wonder why all the other calls to `visit_ImportFrom` are missing in the traceback.

As

[2015-07-05 17:58] htgoebel commented on #1323
@hrwatahiki Would be great, if you could submit a pull-request.

And for completes the error picture: Can you please, as codewarrier0 requested earlier:
[code]
Thanks.

[2015-07-05 18:07] htgoebel commented on #1324
If I understand this correctly, your application uses `logging`. And it fails when run in windowed mode. Correct?

PyInstaller does not add *any* logging to the applications. So if your application fails, I'd strongly assume some error in your application. Does your application run if you start it (unfrozen) via `pythonw`? Have you search the internet about using `logging` in a windowed mode?

[2015-07-05 18:16] codewarrior0 commented on #1323
There's two ways to quick-fix this:

1. Replace `mstowcs` with `pyi_win32_utils_from_utf8`. This will get the ShortFileName used earlier for opening the archive.

2. Replace the entire call with `strncpy(archive_status->argv[0], __wargv, PATH_MAX-1)` to get the `wchar_t` form of argv originally given by Windows.

I think 2 is better because it also fixes #1282, and there's even a TODO at the top o

[2015-07-05 20:32] htgoebel opened #1325 "Set input and output encoding when calling subprocesses"
Currently PyInstaller calls the subprocess and simply assumes some (undefined) encoding of the data passed to and from the subprocess. This already is a problem in python3 (see e.g. dccc6616eef), should be fixed in the develop-branch too. Further dccc6616eef assumes fixed utf-8, which may be wrong.

**Proposed solution:**

1. Pass some env-variables to the `subprocess.*` calls to ensure e given en

[2015-07-05 20:59] htgoebel commented on #1325
Addendum:
- `LC_ALL` takes precedence over other `LC_*` and over `LANG` (http://pubs.opengroup.org/onlinepubs/7908799/xbd/envvar.html), so there is no need to remove or set these.
- There is no `C.UTF-8` locale in glibc (https://sourceware.org/bugzilla/show_bug.cgi?id=17318)
- In my tests, `LC_ALL=UTF-8 date` works as expected (giving a `C`-locale output).
- There seams to be subtile differences b

[2015-07-06 00:59] wettenhj commented on #801
Yes, sorry for not following up.  I experienced this problem on Windows 8, but then I couldn't reproduce it after upgrading to Windows 8.1  Feel free to close it.

[2015-07-06 05:31] CarstenGrohmann commented on #1324
Yes, my application uses `logging`. Yes, it fails if running in windows mode. The application runs fine without PyInstaller on Linux and Windows (via `python.exe` and `pythonw.exe`).

Yes, I've searched the internet and found some interesting entries e.g. usage of
[code]
I've tested the `tempfile` example successfully. It's a good workaround.

I'm not familiar with the PyInstaller code, but I thin

[2015-07-06 07:02] Torxed commented on #1322
@htgoebel not sure how you got it to run or how your `hook-win32com.py` looks like because I still get:
[code]

[2015-07-06 09:31] #801 closed

[2015-07-06 09:32] htgoebel commented on #1324
Ah, now I got it.

[2015-07-06 09:51] #1324 closed

[2015-07-06 10:08] htgoebel commented on #1322
@Torxed I only tested it using Python2.7 and the `develop` branch. You are using Python 3.x and the `python3` branch, which uses a very different mechanism for finding dependencies (called modulegraph), which seams cause the bug.

[2015-07-06 13:23] ysrd commented on #1308
Hi,
error occurs when you try to run my application, I don't think the application matters as it is the pyinstaller bootcode calling glibc.
pyinstaller 2.2.1dev.
Built on Fedora 22 Linux,
attempted to run on (almost everything Linux) (try ubuntu 14.04 and Centos 7 as examples.)
Works fine on any Fedora 22 system, but fails on almost everything else. (IT does run on ArchBang)
The problem is probabl

[2015-07-06 13:37] htgoebel commented on #1308
The mailinglist is a better place if you just want to discuss. https://github.com/pyinstaller/pyinstaller/wiki/Community

[2015-07-08 10:20] cxfksword commented on #827
I found the correct version Microsoft Visual C++ 2008 Redistributable Package, not with sp1.

http://www.microsoft.com/en-us/download/details.aspx?id=29
http://www.microsoft.com/en-us/download/details.aspx?id=15336

[2015-07-08 18:40] astamp opened #1327 "Python3 branch will not start on Python 2.7.8"
In the tip of the python3 branch: (efd24aaba321738bc2ee0af031f31f24801ecd0f) PyInstaller will not start on Python 2.7.8 on Windows.

The following error is reported:
PyInstaller requires at least Python 2.7 or 3.3+.

It appears that the version check in PyInstaller/__init__.py on line 18 will fail on the Python 3.3 case for Python 2.7 as well.

    # Fail hard if Python does not have minimum requi

[2015-07-08 19:03] htgoebel commented on #1327
Thanks for pointing this out.

But to be honest: AS of now PyInstaller will not run on Python 2.7, even if we fix this, simply because there are some places where the python3-branch is not compatible with Python 2.7

[2015-07-08 19:06] astamp commented on #1327
Thanks for the quick response.  Is the plan for the python3-branch to eventually work with Python 2.7?

[2015-07-08 19:07] codewarrior0 commented on #1327
I was JUST about to ask that! There are a few features on the python3 branch I'd like to try on 2.7.

[2015-07-08 22:08] matysek commented on #1327
@codewarrior0 @astamp The main obstacle for Python 2.7 in python3 branch is the bootloader. We would like to have one bootloader that would work with python 3 and python 2.7. But that is not as straightforward as I though.

[2015-07-09 11:46] psi29a commented on #1291
I had the same problem, I solved it by going back to the 67610f2 revision.

[2015-07-09 12:37] psi29a commented on #1291
I checkout the tip of the develop branch, I created the binary the same way. The output doesn't give us much:
<snip>
LOADER: _MEIPASS2 is NULL
<snip>
LOADER: _MEIPASS2 is C:/Users/Blah/AppData/Local/Temp\_MEI58602\
LOADER: archivename is c:\WORKSP~1\WORLDE~1\dist\worldengine.exe
LOADER: Already in the child - running user's code.
LOADER: manifestpath: C:/Users/Blah/AppData/Local/Temp\_MEI58602\wor

[2015-07-10 11:41] Luispain commented on #1289
@htgoebel Thank you for the tip. I did exactly what you mention, and the result was succesful. It correctly compiled pandas_test.exe and showed "hello world". Here is  the stacktrace: http://pastebin.com/r2DfVH9w .

[2015-07-10 20:02] panofish commented on #844
Same problem for me.  My simple matplotlib program (see below) runs fine until I create a onefile OR onedir exe.  Then the exe fails immediately at start before executing anything.  Clearly, something is missing, either a dll or a hiddenimport, but I need help finding what is missing.

I am running Windows 7 64bit.
Python 2.7.9
pyinstaller 2.1 (installed using "pip install)
matplotlib 1.4.3 (insta

[2015-07-11 10:55] htgoebel commented on #844
@panofish Have you tried following the instructions at https://github.com/pyinstaller/pyinstaller/wiki/If-Things-Go-Wrong. Please make sure you are using the lates development version, too. And esp. we need to know *what* dll exactly is missing.

[2015-07-11 15:16] htgoebel commented on #1327
@matysek

I was already wondering what has to been doe to make the bootloader work for Python 2.7, too. Could you please document the issues somewhere, maybe directly in the code? Or did you already and I've overlooked?

[2015-07-11 15:17] htgoebel commented on #1327
(Why was this issue not closed automatically when I pushed 0ecf0ac?)

[2015-07-11 15:17] #1327 closed

[2015-07-11 16:19] matysek commented on #1327
@htgoebel I put down these notes about that: https://github.com/pyinstaller/pyinstaller/wiki/Python-3-Port#python-2-compatibility

I hope it is understandable.

[2015-07-11 18:59] htgoebel commented on #1325
* There are quite some [Difference between C.utf8 and en_us.utf8](http://h30499.www3.hp.com/t5/General/Difference-between-C-utf8-and-en-us-utf8-points/td-p/4418194?notmigrated=#U4418197)
* There is a great FAQ by Markus Kuhn: https://www.cl.cam.ac.uk/~mgk25/unicode.html, which contains some infos about C-programs.
* A nice example for how to test the expected result https://github.com/ansible/ansi

[2015-07-11 19:13] htgoebel commented on #1325
`PYTHONIOENCODING` seams to no effect how filesnames are interpreted: On my system, which uses UTF-8 per default, I create a file named `äöü` and try to open it with different combinations of env-vars.
[code]

[2015-07-11 19:30] htgoebel commented on #1325
Some more test:
[code]

Intermediate conclusion:
* When spawning python programs, set PYTHONIOENCODING=UTF-8 to ensure all characters con be encoded and decoded correctly.
* When spawning a different program, *decode* using `sys.getfilesystemencoding()`, which according to the Python issue mentioned above should be read as "OS encoding".

[2015-07-11 19:45] htgoebel commented on #1327
@matysek Thanks for the notes. They look okay for me at a first glance.

[2015-07-12 09:38] htgoebel opened #1328 "Make python3 bootloader support Python 2.7 again"
* Some note about this: https://github.com/pyinstaller/pyinstaller/wiki/Python-3-Port#python-2-compatibility
* Related "master" issue: #666

[2015-07-12 10:56] htgoebel commented on #1328
Some ideas from me. Please tell me if this could work:
*  If my analysis is correct, the argument and result types are *not* encoded into the external function name anyhow. Some we only need to keep the compiler happy at compile time.
* So it should be enough to define a wrapper for each function using `wchar_t *` which casts `char *` to `wchar_t *`and calls the original function.I'd call these ca

[2015-07-12 21:40] codewarrior0 commented on #1328
I believe you are correct about the pointer types of the functions with relation to the ABI (the function linkages). This means you don't have to use `#ifdef` to change the function signatures, so you don't have to build two sets of bootloaders, one for each Python version.  But as it turned out, not many function signatures were changed from `char *` to `wchar_t *`. It may be prudent to instead d

[2015-07-13 10:21] htgoebel commented on #1328
Okay, I'll give it a try.

[2015-07-13 13:19] matysek commented on #1328
@codewarrior0 I would rather see the approach to make python3 default one and implement some hooks for python 2 not vice versa. So I would rather see PI2_Py_SetPythonHome etc.

[2015-07-13 13:59] htgoebel commented on #1328
* List of EXTDECLPROC: `grep -h PI_Py * | sed 's/^.*PI_\(Py\w*\).*/\1/' | sort -u | while read ; do grep -h $REPLY *.h ; done | grep EXTDECLPROC`
* List of EXTDECLPROC using `char *` ot `wchar_t *`: ... as above + ` | grep char`

[2015-07-13 14:08] htgoebel commented on #1328
I did some work on this in https://github.com/htgoebel/pyinstaller/tree/issue-1328-bootloader-for-python2. This compiles, but does not yet run:
* In python3-branch, PyInstaller fails to work with Python 2 due to import errors: `import importlib.machinery`
* When putting the compiled bootloader into develop-branch, it errors out with `Cannot open self /tmp/dist/test1 or archive /tmp/dist/test1/test

[2015-07-13 14:10] htgoebel commented on #1328
@matysek I gave the functions the prefix `PY_PI2` and they are all defined in `pyi_python27_compat`. So removing them later is not much of a problem.

[2015-07-13 14:17] panofish commented on #844
Thanks for your help htgoebel, but I was able to solve which modules were missing by redirecting the stderr and stdout for my pyinstaller exe to a file like this:

myprogram.exe 1> errors.txt 2>&1

Before redirecting, there was no visible output.  Inside the errors.txt file I saw 2 errors about missing modules Tkinter and FileDialog.  After adding their import statements to my python program, my p