[2020-08-27 03:26] Igor1306 commented on #1660
Thank you so much, you've saved my time !

[2020-08-27 06:51] coreydexter commented on #5103
@htgoebel could you take a look at [this commit](https://github.com/pyinstaller/pyinstaller/compare/develop...coreydexter:better_multipackage_testing)? I've added tkinter as a shared dependency for one of the multipackage tests and it highlighted the issue you described. Before I continue expanding the tests I just wanted to get your thoughts.

My original comment about normcasing was incorrect. T

[2020-08-27 08:22] Merkwurdichliebe commented on #1804
This issue is identical when using py2app on Catalina. This is apparently not specific to pyinstaller. Any obvious fix found since the thread was closed?

[2020-08-27 09:16] Merkwurdichliebe commented on #3820
Same issue, small Tkinter app, Catalina, Python 3.8 but using py2app instead of pyinstaller. Just [posted about it](https://stackoverflow.com/questions/63611190/python-macos-build-runs-from-terminal-but-crashes-on-normal-launch) on stack overflow with some links suggesting that it may *not* be a Tkinter issue but rather a disk access problem. The issue only appeared in my case when I added a line

[2020-08-27 10:59] ulope commented on #3033
Just FYI: we use [this hook](https://github.com/raiden-network/raiden/blob/2dc84ad06177fd73a5f561486f3b4bcf5322d648/tools/pyinstaller_hooks/hook-raiden.py#L11-L27) as a workaround

[2020-08-27 13:15] harry-jame-potter commented on #4913
I had the same issue and I don't know where is wrong.

[2020-08-27 13:31] dridk opened #5105 "PySide2: Missing libraries with AppVeyor"
# Description of the issue
Qt binary doesn't launch when building from AppVeyor with Pyinstaller. But it works when I build it from my personal computer.

## AppVeyor output
https://ci.appveyor.com/project/dridk/cutevariant-1ex8i

[code]

When I compare files generated from Appveyor and from my personal computer, many dll are not present in AppVeyor output. ( All file suffixed by gfortran-win_amd6

[2020-08-27 14:04] bwoodsend commented on #5104
[code]
Looks like your `PATH` and/or venv is a mess because I'm pretty certain you're running Python2 without realising.

Try running the following to check your Python is Python3 and you have a PyInstaller installed on it:
[code]
Also check the following paths point inside the same Python installation:
[code]

`pyiboot01_bootstrap` errors just means something went wrong but you've disabled `stder

[2020-08-27 14:20] bwoodsend commented on #5105
I'd say it's highly unlikely we can do anything about this. If dlls aren't being included consistently that usually means Appveyor doesn't have them.

Can we have a list of the exact files which are missing. Run using `git-bash` (don't use the Windows equivalent):
[code]
Then I'll have a rummage through the PySide hooks and see how those dlls are supposed to be found.

[2020-08-27 14:33] rokm commented on #5105
I tried running the build artifact from the linked AppVeyor build under 64-bit Windows 10 VM, and it seems to be missing `MSVCP140_1.dll`. Installing [latest VC runtime](https://support.microsoft.com/sl-si/help/2977003/the-latest-supported-visual-c-downloads) (32-bit version, since the build is 32-bit as well) fixes the issue.

Does the build from your personal computer include this DLL?

I had a

[2020-08-27 14:39] rokm commented on #5105
Actually, since you mention `gfortran-win_amd64.dll`, my guess would be that your local build is 64-bit, while the AppVeyor one is 32-bit, and you might have 64-bit VC runtime already installed.

[2020-08-27 15:24] bwoodsend commented on #5058
For what it's worth: `collect_system_data_files()` isn't used very much.
[code]
So the only hooks we need to worry about (and test still work) are the PyQt5/PySide2 ones and gi.

[2020-08-27 17:16] subramanianramajayam commented on #3793
i face similar problem after trying to pyinstall an already compiled python scripts,of course from a different python version.
C:\Users\user>python -m PyInstaller --name "ml.stock.py" "C:\Users\user\ml.stock.py"
PyInstaller cannot check for assembly dependencies.
Please install pywin32-ctypes.

pip install pywin32-ctypes

[2020-08-27 19:35] subramanianramajayam commented on #4212
pywin32-ctypes alreadt installed.Even then i get the message.This problem arose today evening after i uninstalled  python 3.7.7 ,32bit and python 3.8.5,32bit.I use now only 3.7.7 ,64bit.

[2020-08-27 22:00] mastergibber opened #5106 "Hook file for sqlalchemy misses hidden import "sqlalchemy.ext.baked""
The provided hook file for sqlalchemy doesn't seem to pick up the hidden import of "sqlalchemy.ext.baked".

[2020-08-27 22:22] nbrummel opened #5107 "Pyinstaller can't find dynamically linked libs for Mac OS X Big Sur Beta"
## Context information (for bug reports)

* Output of `pyinstaller --version`: ```4.0.dev0```
* Version of Python: 3.8.5
* Platform: OS X 11.0 Beta Big Sur

[Link to Release Note below.](https://developer.apple.com/documentation/macos-release-notes/macos-big-sur-11-beta-release-notes/)
From apple:

New in macOS Big Sur 11 beta, the system ships with a built-in dynamic linker cache of all system-pr

[2020-08-27 22:36] RS357 opened #5108 "Docs state to run `py.test` rather than `pytest` when running tests - `py.test` is however deprecated"
Docs say to use `py.test` when running tests - however `py.test` is deprecated. `pytest` should be called to run the test suite.

Solution: change the text in the docs.

[2020-08-27 23:31] glennra commented on #5104
This machine does have both Python27 and Python37 installed but only Python37 appears in the path. However #!/usr/bin/env python finds Python27.
I always use `python <scriptpath>` and that uses the correct Python version so I think the Python 2 thing is a red herring. I only did it the other way that time because I was following the instructions.
Running it the 'right' way, I get:

`>python \path\

[2020-08-28 01:14] dhyams commented on #5076
Wondering why this was closed?  I just ran into the same problem as the original poster.

I know this may not be right way to fix this, but it certainly works for me to add one line to hook-numpy.core.py

[code]

I don't find the answer here very useful...just don't use Anaconda?  Many, many people use it, and this was a very hard-to-find issue that will certainly bite other people (my packaged ex

[2020-08-28 04:01] Legorooj commented on #1804
@Merkwurdichliebe I suggest that you open a new issue; the newer developers can help track this down.

[2020-08-28 05:25] Merkwurdichliebe opened #5109 "Python macOS builds run from Terminal but crash on Finder launch"
[#1804](#1804) seems to be [a more general issue](https://stackoverflow.com/questions/63611190/python-macos-builds-run-from-terminal-but-crash-on-finder-launch) with macOS and Python app bundles, regardless of macOS version, the use of Tkinter ([#3820](https://github.com/pyinstaller/pyinstaller/issues/3820)) or even pyinstaller itself. Has there been any progress on this issue lately?

Thanks.

[2020-08-28 05:54] bwoodsend commented on #5076
Well submit a PR with that fix if you want. But Anaconda changes things so rapidly that it wont stay fixed for long. PyInstaller's policy is that we won't work on Anaconda compatibility ourselves (hence the close) as it's such an enormous leech of our (already stretched) developer time whilst it would take 5 minutes for you to install a vanilla Python, but we will accept PRs for it.

And contrary

[2020-08-28 06:14] bwoodsend commented on #5104
OK, I've just tested your example and I get the error. But I believe this is all just a typo in your spec. Applying the following fixes it.
[code]

[2020-08-28 06:17] bwoodsend commented on #5104
OK, I've just tested your example and I get the error. But I believe this is all just a typo in your spec. Applying the following fixes it.
[code]

[2020-08-28 06:30] bwoodsend commented on #5107
Can you clarify what you mean here. Are you saying `os.path.exists("/path/to/lib.dyllib")` will always return false? And what would happen if we searched `PATH` variables using `shutil.which()` or `ctypes.util.find_library()`.

I also notice all those missing libraries in your build log are all (I think) system ones. Is this only applicable to macOS's system libraries or does your test program jus

[2020-08-28 06:39] bwoodsend commented on #5106
@mastergibber Can you share your `sqlalchemy` version? I'm assuming it's just the latest?

[2020-08-28 06:43] glennra commented on #5104
Thanks and well spotted. I've been using that code for many years so would never have thought to suspect it.

The fix you suggested didn't work for me, but removing the  [('v', '', 'OPTION')] line altogether did work.

I guess that makes sense as evidently in --windowed mode Windows has trouble with stdout, etc.

It would be useful if there was a warning in the build output or even some guidance i

[2020-08-28 06:50] bwoodsend commented on #5104
Did you remember to clear you `build` folder and use the `--clean` option?

And yes, `EXE` really should've caught that invalid value.

[2020-08-28 07:19] htgoebel commented on #4311
Unfortunately I'm facing very curious bugs, none of which i can reproduce locally:
* On appveyor, [test_gevent keeps failing due to some issue in hook-pyside](https://ci.appveyor.com/project/htgoebel/pyinstaller/builds/34893829/job/3rs7cm9v9hfc9pl1)
* Same tests [pass on gtihub actions](https://github.com/htgoebel/pyinstaller/actions/runs/227721741), but github actions [is unrelyable](https://gith

[2020-08-28 07:42] bwoodsend commented on #5104
@Legorooj Any objections to adding some `raise ValueError` checks to `EXE`'s inputs to catch mistakes like the one [above](https://github.com/pyinstaller/pyinstaller/issues/5104#issuecomment-682346900)?

[2020-08-28 07:50] Legorooj commented on #5104
@bwoodsend go ahead - that's exactly the sort of thing we need for debugging.

[2020-08-28 08:06] Legorooj commented on #3742
Fixed in #3835.

[2020-08-28 08:06] #3742 closed

[2020-08-28 08:13] Legorooj commented on #5076
@dhyams I'm sorry to say that everything @bwoodsend has said is true.

Conda is a walking nightmare for us when it comes to DLLs (among other things AFAIK), so unfortunately I can't reopen this. When it comes to conda we have to make a choice between supporting it and leaving other issues alone or dealing with all the issues, and letting conda support itself to some extent. This will hopefully cha

[2020-08-28 08:22] dridk commented on #5105
Hi,

After setup my appveyor with x64 plateform and specify an Image with Visual 2019, it finally works.
Here is my config.

[code]

[2020-08-28 08:22] #5105 closed

[2020-08-28 09:22] bwoodsend commented on #5109
*Ahem*, the [issue template](https://github.com/pyinstaller/pyinstaller/blob/develop/.github/ISSUE_TEMPLATE/bug_report.md)...

[2020-08-28 09:24] #5032 closed

[2020-08-28 10:19] htgoebel commented on #4957
So you want to hide these many files from the user?!

This could be solved if one-dir mode could have all files in a sib-dir jsut beside the .exe. Would this suite your needs?

[2020-08-28 11:08] Merkwurdichliebe commented on #5109
Apologies, please indulge a user posting their first issue on GitHub... Fixed (I hope).

[2020-08-28 12:04] bwoodsend commented on #5109
Much better

[2020-08-28 12:05] keelung-yang commented on #4957
@htgoebel Sorry for my poor english. Let's make it clear:
![image](https://user-images.githubusercontent.com/20385450/91558848-993d7100-e969-11ea-9459-b999d936d5b0.png)

[2020-08-28 12:19] bwoodsend commented on #5109
The launching from Finder vs terminal difference is quite likely to just be because its running in a different working directory. Looking at [that StackOverflow thread](https://stackoverflow.com/questions/63611190/python-macos-builds-run-from-terminal-but-crash-on-finder-launch):

[code]
That will only work if you're running from terminal in the root of your application (which Finder does not do).

[2020-08-28 12:56] Merkwurdichliebe commented on #5109
Concerning your first point, I've just packaged my app again using py2app (no errors during compile) and followed your suggestions:

- .app in original "dist" folder : open from Terminal works, double-click doesn't.
- .app moved to Desktop : open from Terminal **works**, double-click doesn't.
- .app copied to Desktop on a separate machine running El Capitan : open from Terminal **works**, double-c

[2020-08-28 13:09] bwoodsend commented on #5109
Did you try Terminal cwd in a random location and launching using full path?

As for tkinter, it can get dragged in quite easily - even if you don't use it. Add the `--exclude=tkinter` option to force PyInstaller to skip it.

[2020-08-28 13:21] Merkwurdichliebe commented on #5109
If I understood your suggestion correctly, I created a a folder named "foo" in my home folder and ran this from Terminal :
[code]
It launches with no issues. Double-click still doesn't work. It seems that the issue lies somewhere else, or am I wrong?

FWIW, I can confirm that pyinstaller compiles my Tk-stripped application successfully if I use `--exclude=tkinter`. Unfortunately my code isn't much

[2020-08-28 13:42] bwoodsend commented on #5109
Oops I interpreted `I've removed all references to Tkinter in my code` as `there are no references to Tkinter in my code`. We have [quite a collection](https://github.com/pyinstaller/pyinstaller/issues?q=is%3Aissue+is%3Aopen+tkinter+macos) of macOS + problems no-one has managed to solve owing to none of us developers owning macs...

And your last comment shows that opening from Finder isn't a work

[2020-08-28 14:06] Merkwurdichliebe commented on #5109
We really have to separate those two issues :

1. The behaviour of my application packaged with py2app is identical wherever the .app bundle is moved to, even to another machine, and is identical to what other users have been reporting when using pyinstaller. Moving the bundle to another directory **does not** cause issues, as I've described above after following your suggestions. This is the prob

[2020-08-28 15:34] bwoodsend commented on #5109
I get you. But my last question still stands. I'd like to know if this crashing from Finder issue depends at all on the code being frozen? That'll help narrow it down. We'll worry about the tkinter problem another time...

[2020-08-28 15:45] #2460 closed

[2020-08-28 16:24] scheffle opened #5112 "Code signing and notarization fails on macOS .app bundles"
When using the pyinstaller to create an .app bundle, the installer places a file called base_library.zip into Contents/MacOS. This file is the reason that notarization will fail. As already done with other non executable files, the base_library.zip must be placed into the Contents/Resources/ folder and a link must be made in Contents/MacOS, as described here: https://github.com/pyinstaller/pyinsta

[2020-08-28 17:42] vasanthsp64 commented on #4265
Oh you are amazing.....

[2020-08-28 20:07] Merkwurdichliebe commented on #5109
Yes, it does depend on the code being frozen. This is the reason I've added the link above to [my SO post](https://stackoverflow.com/questions/63611190/python-macos-builds-run-from-terminal-but-crash-on-finder-launch) (which has a long of diagnostics information on this BTW). In my case, removing the following statement from my main py file solve the issue:
```with open(file) as f:```
However, [th

[2020-08-28 20:28] bwoodsend commented on #5109
I've read the SO post but that post is using filenames relative to `cwd` which will break your program - PyInstaller or otherwise. But we've verified that you're not doing that, otherwise you'd be seeing errors when you run in Terminal from alternative directories.

What happens if you used an absolute fixed path. i.e. `file = "/full/path/to/data/data.yml"`?

[2020-08-28 20:36] Merkwurdichliebe commented on #5109
Did this, then recompiled with py2app:
[code]
Exact same behaviour as before (although I didn't go through all the copying to random folders and another Mac part).

[2020-08-28 20:56] bwoodsend commented on #5109
OK, now that it odd. There's a `try:` in there - did you use `except FileNotFoundError` or just `except`?

There is another way to test this - you can embed an interactive console session inside your app by putting in the following code:

[code]
Put it after the `file = ...` but before the `open(file)` call. Build it and run it from Finder. Then try playing with the console. Test `os.path.exists(f

[2020-08-28 21:21] Merkwurdichliebe commented on #5109
Sorry, for brevity I only included the first lines when I quoted it. The full code says:
[code]

[code]
When I Ctrl-D out of the interpreter my GUI appears and everything is OK. This is not a big surprise, though, since I launched the app from the Terminal. If I try to launch it with a double-click I get the same crash, before the GUI **or even the Python console appears** (although the `code.inte

[2020-08-28 21:45] bwoodsend commented on #5109
Too right it does. That is bizarre.

One last desperate gambit. If you change `except FileNotFoundError as e:` to `except BaseException as e:` does anything change (I doubt it will).

[2020-08-28 21:53] Merkwurdichliebe commented on #5109
Indeed, no effect. As I wrote in my SO post, this seems to be a much deeper problem related to Python implementation in macOS. Unrelated to Catalina, Tkinter or anything recent. I'm surprised there is so few mentions of that issue, it's been around along time.

[2020-08-28 22:24] dhyams commented on #5076
Wow, OK.

I don't see the difficulty in just tagging this issue with "conda" and leaving it open.  It feels like it's being closed just to keep the issue count down.

@bwoodsend sure, I'll submit a PR.  I have to this project in the past, but I can't say the rude "well submit a PR" is well received.  It's a good way to run off people like me who can and would contribute.

I'm saying these things b

[2020-08-28 22:26] bwoodsend commented on #5109
Well I'm stumped in that case. I'll leave this issue open and hope someone else has a brain-wave...

[2020-08-28 22:45] Merkwurdichliebe commented on #5109
OK, thanks a lot for taking the time to look into it.

[2020-08-28 23:08] htgoebel opened #5113 "Add `exclude` to utils.hooks.collect_all()"
hook-gevent includes the complete test suite: `gevent.testing` and `gevent.tests`. These are collected by `utils.hooks.collect_all()`. While the modules can be excluded using `excludedimports = ["gevent.testing", "gevent.tests"]`, the datafile will still be collected and added to the bundle.

Please add an option to `utils.hooks.collect_all()` to allow excluding directories or files (based on glob

[2020-08-28 23:10] htgoebel opened #5114 "gevent hook pulls in complete test suite and test-cases"
How to reproduce:
- Install gevent
- In `tests/functional/test_libraries.py` add some line to the script in `test_gevent` to make the script fail. E.g. add "raise SystemExit(1)"
    This is only to keep the build data after the test run.  Our test-suite removes data on successful runs. (There might ne another way to keep the data, but I can't remember and have no time for searching for it.)
- Run

[2020-08-28 23:10] htgoebel opened #5115 "utils.hooks.collect_all() collects __pycache__ and .py[co] files"
How to reproduce:
- Install gevent
- In `tests/functional/test_libraries.py` add some line to the script in `test_gevent` to make the script fail. E.g. add "raise SystemExit(1)"
    This is only to keep the build data after the test run.  Our test-suite removes data on successful runs. (There might ne another way to keep the data, but I can't remember and have no time for searching for it.)
- Run

[2020-08-28 23:27] htgoebel opened #5116 "Mark excluded modules as such in xref html - or remove them"
When debugging issues related to inclusion or exclusion of packages (e.g. "why is numpy contained in this package"? "Why is pytest in here?", etc.) ther xref html file (generated in the build directory) is very helpful.

Anyway it is quite irritating to have modules shown in the xref, whicha re actually excluded.

Example:
- Ensure numpy is installed in your venv
- Create a small script with this

[2020-08-28 23:56] Legorooj commented on #5076
@dhyams you have a point on us wanting to keep issue numbers down. However I'm not going to reopen this issue for the following reasons:

1. I'm planning on submitting a PR to numpy today which will move the entire numpy suite into numpy.
2. As I said before, as much as I want to support conda, we don't have the time to actually write the compatibility ourselves. Most of the numpy/matplotlib/SciPy

[2020-08-29 07:16] bhuvanaprakash commented on #3754
The `_pywrap_tensorflow_internal` file is not getting created at all. I'm getting the following error when I try to run the exe file.

[2020-08-29 07:55] klasy commented on #5020
yes, I got everything working - it turned out to be the import issue actually in my code. But we were able to find it out only with the help of that `xref-*.html` file

[2020-08-29 07:58] Legorooj commented on #5020
@klasy excellent - I think the documentation on how to debug issues like this needs updating. @bwoodsend could you either handle or delegate this task?

[2020-08-29 08:04] Legorooj commented on #5101
@simaoafonso-pwt cmocka isn't needed for building the bootloader, only for running some tests.

@htgoebel am I correct in saying we want `zlib-static` not `zlib-devel`? The former is statically linked, the latter dynamically linked.

@bwoodsend that `zlib` copy is only for windows at the moment (which doesn't have a system `zlib`) - may I ask @htgoebel why we can't use this for all platforms?

[2020-08-29 08:07] Legorooj commented on #5116
@htgoebel I'll cover this in the new modulegraph.

[2020-08-29 08:26] bwoodsend commented on #5020
It really does need doing. I've been meaning to write a more complete *how to debug PyInstaller issues* for a while. I'll create an issue for it...

[2020-08-29 08:35] Legorooj commented on #5108
Fixed in #5111.

[2020-08-29 08:35] #5108 closed

[2020-08-29 08:45] bwoodsend opened #5117 "Docs: Write a complete debugging guide under the When Things Go Wrong section of our website"
Our [current guide](https://pyinstaller.readthedocs.io/en/stable/when-things-go-wrong.html) for solving issues in PyInstaller barely scratches the surface. As a result we're getting huge amounts of traffic on this issue board for trivial issues when we should instead be getting large numbers of contributed hooks in our hook repo.

I want to write a comprehensive guide describing the (actually not

[2020-08-29 08:46] bwoodsend commented on #5020
See #5117

[2020-08-29 08:53] Legorooj commented on #5117
@bwoodsend write this up as reST for now; I need to redo the website before you can submit a PR.

[2020-08-29 09:02] bwoodsend commented on #5117
OK, I'm sketching it out now. Just section headings of the parts I want to include. I'll post it here then we can all chip in suggestions there.

[2020-08-29 09:39] htgoebel commented on #5101
@Legorooj @bwoodsend @simaoafonso-pwt  We prefer to use the zlib provided by the system, thus zlib-devel is the correct package. zlib is only linked statically for operatin systems not providing zlib. And for these the bootloader src includes a copy of the zlib source.

zlib is available on almost all operating systems. Using the system's library make the frozen application use any fixed or update

[2020-08-29 09:45] htgoebel commented on #5101
@simaoafonso-pwt

Please note that commands like `yum` are only provided by a limited number of GNU/Linux distributions. We will never be able to cover all: yum, yast, dnf, urpmi, apt, apt-get, aptitude, .... So I suggest to keep focused on a few.

(IMHO a developer should know how to install software in his/her system and should be able to determine which command and packages to use for her/his d

[2020-08-29 09:56] htgoebel commented on #4957
To be frank, this idea IMO is stupid. It is nuch too complicated to make right, it is prone to many kinds of security attacks, (esp. DLL injection), and the same result can be achieved much easier, as proposed in #2702:

You can get the same result if one-dir is able to have te files in a sub-directory:
[code]

[2020-08-29 10:12] htgoebel opened #5118 "Remove support for PyQt4 and PySide?"
When shall we remove support for PyQt4?

Qt4 is [unsupported since 2015](https://en.wikipedia.org/wiki/Qt_version_history#Qt_4), the [last package of PyQt is from 2015](https://pypi.org/project/PyQt4/#history), while the current release of [Debian (Buster) still includes the packages](https://packages.debian.org/source/buster/python-qt4).

[2020-08-29 10:13] bwoodsend commented on #5101
Well, can we go for a compromise of adding something like?

Incidently, @simaoafonso-pwt What is the error you receive if you don't have `zlib-devel` installed? Is it self explanatory or did you have to dig around to fix it?

[2020-08-29 10:14] htgoebel commented on #4265
Locking this issue. See https://github.com/pyinstaller/pyinstaller/issues/4265#issuecomment-554624172

[2020-08-29 10:28] motatoes commented on #4538
This seems identical to https://github.com/pyinstaller/pyinstaller/issues/4537 so I think it is safe to close this one in favour of that which already has a PR being merged

[2020-08-29 10:29] Legorooj commented on #4537
Fixed in #5077

[2020-08-29 10:29] #4537 closed

[2020-08-29 10:30] Legorooj commented on #4538
@motatoes they're different issues; one is about hook utility functions, other general failure.

[2020-08-29 11:11] bwoodsend commented on #5117
Here is the layout so far. Feedback wanted before I start turning it into proper sentences and converting to reST. I was thinking to split it into separate pages for runtime and buildtime errors. This is just the runtime one.

------------------------------------------------

# When Things Go Wrong - runtime

## Step 1: get the stack trace

Run from terminal to see the error messages.

Assert that

[2020-08-29 11:26] htgoebel commented on #3033
@ulope Would be creat i you could provide a pull-reqeust for a generic solution.

[2020-08-29 11:28] htgoebel commented on #1804
As the traceback clearly shows, this is an issue with tensorflow.

[2020-08-29 11:33] htgoebel opened #5119 "wiki: Add debugging aid for OSX"
From https://github.com/pyinstaller/pyinstaller/issues/1804#issuecomment-404017174 "Mac --windowed .app Not Clickable, Runs From Console"

Some mac user please validate this being a valid method to show error only shoing up when running `--windowed` applications. The please describe it in the wiki. Many thanks!

[2020-08-29 11:34] Legorooj commented on #5117
This only covers the surface of debugging pyinstaller. Most issues, yes, but far from all. I'm going to leave comments in the morning after the others have left stuff - I'd like to see their comments first. The only idea I'm going to suggest now is rather major though: Instead of a single doc, split this into multiple sections and have an entire book on the website.

[2020-08-29 12:26] Legorooj commented on #5119
#5117

[2020-08-29 12:45] htgoebel opened #5120 "Use QT_QPA_PLATFORM=offscreen of Qt-related tests?"
Some Qt-related tests pop up a window when run. Also there is `@PYQT5_NEED_OPENGL`.
On the other hand, Qt an be told to render offscreen. maybe this allows avoiding the aforementioned points.

Implementation scratch:
[code]
then use this fixture for all Qt related tests.

[2020-08-29 12:47] htgoebel opened #5121 "Rearrange test-suite: Move library test into other directory"
Currently "core" tests, tests for the python standard library and external packages are mixed. I suggest rearranging this:
- `tests/functional`:
   - core tests
   - tests for the python standard library
   - tests near-standard packages (e.g. setuptools, pkg_resource, six, future, pkgutil)
- `tests/library`  - rethink name
  - tests for all other libraries and packages
  - preferably one file per

[2020-08-29 12:58] #4146 closed

[2020-08-29 13:42] htgoebel commented on #5101
@bwoodsend @simaoafonso-pwt I appologies, I should have had a look at teh documentation first! yum is already mentioned there. So I was wrong.

I support simaoafonso-pwt's proposal of jsut adding it to the command line,

Regarding libcmocka-devel: This could be added, to, if the message is irritating to you.

[2020-08-29 14:04] htgoebel opened #5122 "Ask maintainers of (major) libraries to provide hook"
Now that PyInstaller allows package developers to provide hooks with their packages, we might ask developers of other (major) packages to do so.

Template for a possible text (adobt you your needs and personal style :-):
[code]

[2020-08-29 14:04] htgoebel commented on #5122
https://github.com/numpy/numpy/issues/17184

[2020-08-29 15:50] reritom commented on #5109
@Merkwurdichliebe Do you have a link to a repo with a minimal working (or failing in this case) example, with the commands you used with pyinstaller to generate the bundle?

[2020-08-29 15:56] denravonska opened #5123 "Shared memory leak on Windows?"
We have an issue where we upload 1-3GB of data to a REST server. When running in native Python it works fine. You can see that the memory goes up while reading the file, then drops when the data has been uploaded. Once PyInstall:ed in Windows we observer that the memory isn't released, not when the data has been uploaded and the data has been dropped in Python, but worse, not even application exit

[2020-08-29 16:11] tharindu326 commented on #3885
sudo apt-get install libpython3.7-dev

this worked for me

[2020-08-29 16:29] rokm commented on #5058
I did some investigation into implications of fixing this issue. The main issue is that fixing the jump to parent directory changes the path of the returned collected files. Before the fix, due to the jump, they are prefixed with the last component of the input search path. After the fix, this prefix is gone, but all hooks are relying on it to be there (they shorten their target/destination paths

[2020-08-29 16:30] rokm commented on #5058
An alternative solution to adjusting the hooks for the new behavior of ```collect_system_data_files``` would be to prevent the jump to the parent directory during scanning, but return the collected filenames as if scan was performed on parent (i.e., prefixed with the last component of the input search path, which corresponds to current behavior).

This appears to be less invasive as it involves fe

[2020-08-29 16:31] rokm commented on #5058
Lastly, regardless of which approach we take, we might be in for at least some short-term pain, because under the old behavior, additional data was being pulled in, and some of that might actually be required.

For example, under MacOS Catalina with PySide 2 5.15, the following program,

[code]

which should display a "Your file was not found" page, display a blank window and spams the console wit

[2020-08-29 16:41] reritom commented on #5109
I may be off-base because I am looking at this without an example repo. I don't think this problem is PyInstaller related, this is specific to how one goes about accessing paths in MacOS.

Basically when you run PyInstaller, it creates a bundle/app. When you double-click the app, it runs it. When you run the app, it runs it in some sort of container.

In my test I had a simple `main.py` script tha

[2020-08-29 18:47] htgoebel commented on #4659
I track this down: This is caused be shiboken2 not being imported properly. Fix 5a207046 is part of Python 3.8 branch - to be merge really soon not,.

[2020-08-29 20:41] Merkwurdichliebe commented on #5109
Please read my original post above and the exchange with @bwoodsend. I insisted from the outset that **this was not a problem with pyinstaller** and that it was related to macOS disk access through Python. I am not even using pyinstaller. I only posted the issue here because many pyinstaller users have had it too (cf. links in original post above).

I installed PyObjC to test this out. The above c

[2020-08-29 21:02] motatoes commented on #5112
Hey, I want to work on this issue. I am trying to reproduce a notorization issue so I compiled a python script with

`pyinstaller  -w --onedir  script.py`

which generated a script.app in the dist/ folder.

Now I want to perform Notorization. Do I need to create an Apple Developer account to get a developer_id from apple @scheffle or is there a way for me to reproduce this without going through th

[2020-08-29 21:19] scheffle commented on #5112
For notarization you need to have a paid developer account at Apple. I don't think that there's another way to reproduce it, sorry.

[2020-08-29 21:29] reritom commented on #5109
@Merkwurdichliebe if you use the command: `pyinstaller epidemic.py --onedir --windowed -y --add-data "data/cards.yml:."` and update `epidemic.py#51` to `file = NSBundle.mainBundle().pathForResource_ofType_("cards", "yml")` you're code will find the correct path to your file.

For me, after that, the app crashes on the master branch due to tkinter related issues that I haven't figured out the solut

[2020-08-29 21:37] reritom commented on #5109
I'm not yet sure what the proper PyInstaller way is for handling the subsequent issue, but using the things I mentioned in my previous message, and using the hacky approach from this link https://stackoverflow.com/questions/56092383/how-to-fix-msgcatmc-error-after-running-app-from-pyinstaller-on-macos-mojave to fix the tkinter problem (if you encounter it), I am able to run your master branch appl

[2020-08-29 21:43] bwoodsend commented on #5109
@Merkwurdichliebe Your yaml file:
[code]
Am I right in saying it is outside the app? I know that Apple Apps are like folders and you can (sometimes?) treat them as such.

[2020-08-29 22:32] rokm commented on #5109
Regarding tkinter issue...

This may depend on installation, but on the test system I have (Catalina with Python 3.7.6 from python.org), [_find_tcl_tk() call](https://github.com/pyinstaller/pyinstaller/blob/655647e8eb8ba8ad864a0c4ac418d08c23c086b2/PyInstaller/hooks/hook-_tkinter.py#L214) comes up empty.

It seems to use a [special function](https://github.com/pyinstaller/pyinstaller/blob/655647e8e

[2020-08-29 22:34] bwoodsend commented on #5118
In my opinion PyQt4 is a long distant memory. And last I tried, the hooks for it didn't work anyway. I'd certainly vote we remove then now.

[2020-08-29 22:44] bwoodsend commented on #5058
For the destination of the `collect_system_data_files()` output I think it should mirror the behaviour of `--add-data=source;dest`. I thinks it's easier to explain in `pathlib` than English here. With `source_dir` and `dest` as the input parameters and `source_file` an output from globbing `source_dir`:

[code]

And I guess we'll just have to live with the short-term pain. It sounds pretty minor t

[2020-08-29 22:57] Legorooj commented on #5122
@htgoebel I'm already on this with numpy and matplotlib, and I've talked to the developers of both. My PRs should be open within the week.

[2020-08-29 22:57] Legorooj commented on #5121
I'm going to give this to @RS357. Can you manage this?

[2020-08-29 22:59] Legorooj commented on #5118
@motatoes can you tackle this?

[2020-08-30 09:41] vitsensei commented on #5117
Probably the easiest way for me to debug hidden import issues is to get a copy of the missing packages and started manually putting the modules into dist folder. After identifying all the modules that need to be included in the hidden import variable, I then modify the spec file.

Other Python packages often included some examples, from gentle to a bit more complex. I personally find this incredib

[2020-08-30 09:48] htgoebel commented on #5120
At travis we should then be able to remove the "xvfb" service.

[2020-08-30 10:04] bwoodsend commented on #5117
I'm with you here. I see a lot of misinterpretation of some of the PyInstaller arguments such as trying to fix the `ModuleNotFoundError: pkg_resourses.py2_warn` (which should be the epitome of trivial to fix) with any of:

[code]

[2020-08-30 10:10] motatoes commented on #5118
@Legorooj I am on it

[2020-08-30 10:23] vitsensei commented on #5117
I forgot to add something very important. If you change something and you don't see the change in the result, try again with --clean option.

[2020-08-30 11:30] bwoodsend commented on #5117
I'd also like to add:

## My app works in onedir mode but not onefile

There are two (known) possibilities here.

1. You don't have permission to either write to or execute from the temporary directory. In which case you'll get `PermissionError`s. Sometimes `--runtime-tmpdir=.` may fix this. For environments with really overprotective security (school/university computers) you may be forced to sti

[2020-08-30 11:33] Legorooj commented on #5117
@bwoodsend there's many more reasons than that for working in onedir but not onefile. I'll add them in a bit.

[2020-08-30 12:55] htgoebel opened #5124 "Remove duplicate log messages"
If a hook as an `excludedimports` entry, this currently leads to duplicate log entries:
[code]
I suggest merging them into
[code]
Still one line per excluded import, though.

If there are good reasons to keep both log lines per excluded import, keep both :-)

[2020-08-30 13:40] Merkwurdichliebe commented on #5109
@bwoodsend Apple application bundles are indeed folders with the .app extension. Their contents can be navigated easily both in Finder and in Terminal. I have only added the full path to the `file` variable as a troubleshooting step, when you asked me to earlier on. It used to be `file = 'data/data.yml'` and later `file = os.path.realpath('data/data.yml')`.

@rokm I think we should open another is

[2020-08-30 13:55] reritom commented on #5109
@Merkwurdichliebe Your Debug-Minimal branch still needs like 51 changing from `file = NSBundle.mainBundle().pathForResource_ofType_("data/cards", "yml")` to `file = NSBundle.mainBundle().pathForResource_ofType_("cards", "yml")`. At which point, when the bundle is created, I get no errors (based on wrapping the execution in a try/except and writing any errors to a log file).

For your master branch

[2020-08-30 13:58] bwoodsend commented on #5109
@Merkwurdichliebe Can you try with a file that isn't inside your app? If that changes anything then it will confirm that @reritom is on the right track.

And we have multiple issues open already about the macOS tkinter problem. We don't need to open a new one. @Merkwurdichliebe, @rokm consider tkinter to be irrelevant to this issue.

[2020-08-30 15:45] bwoodsend commented on #5076
OK, my past answers have been terse and I see you're not going to take my word for it when I say there's a reason we don't support Anaconda. Allow me to try again.

I actually put quite a lot of work into exactly this issue of PyInstaller + Conda's numpy in the hope we could fix this once and for all. I personally don't like Conda but I think it's very much against the spirit of Python's *everythi

[2020-08-30 16:31] htgoebel commented on #5121
Addendum: Whle waiting for tests to finish, I had a closer look:

For the tests in `functional/test_hooks/` I suggest
- keep here
  - test_hooks/test_pkg_resources.py
  - test_hooks/test_six.py
- move to `tests/library` (or how it will be called)
  - test_hooks/test_pil.py  (also see PIL-tests in tests_libraries)
  - test_hooks/test_gi.py
  - test_hooks/test_matplotlib.py
  - test_hooks/test_scipy

[2020-08-30 17:04] motatoes opened #5127 "Doc improvement: Add a note about macos ignoring of test_libraries for local test runs"
## Description of the issue
For contributors running tests locally on MacOS [the docs](https://pyinstaller.readthedocs.io/en/stable/development/testing.html) do not specify that on macOS the test_libraries script is ignored:

[code]

I do not have full context about why this file is ignored but I noticed that it is from the travis.yml config so it might be worth mentioning this in the docs too in

[2020-08-30 17:37] amifunny commented on #5121
`test/external` would be good name?
Should `modules` and `data` folders be moved outside of both `functional` and `external` tests' folder?

[2020-08-30 19:50] danyeaw opened #5129 "GTK in Windows: Typelib for HarfBuzz version '0.0' is not found"
## Description of the issue

Packaging Gtk apps in Windows with pyinstaller now gives an error that the Typelib for HarfBuzz version '0.0' is not found. Recent changes to Gtk/Pango are now including the typelib for HarfBuzz. I think we need to add a hook to include this typelib.

### Steps to Reproduce the Problem

1. Update msys2 and install pygobject:
[code]
2. `python -m venv .venv`
3. `source

[2020-08-30 20:28] Merkwurdichliebe commented on #5109
The correct NSBundle code was already in the code when I tested it, I just forgot to update the Debug-Minimal branch. Sorry about that.

Anyway, I just tested again after adding a `print` and `input` statement right after the file assignment in the hope of seeing some activity in Terminal, like so:
[code]

(Note: although there are no references to Tk anywhere in the code, pyinstaller still compla

[2020-08-30 20:49] reritom commented on #5109
@Merkwurdichliebe when you say `Running by double-clicking the .app file built by pyinstaller: nothing`, can you elaborate? Does your python application get executed at all? If yes, does it get executed but causes an exception? In the later case you could do something like this to read the error more clearly:

[code]

Regarding attribution chains, I can't say much, nor can I reproduce your issues.

[2020-08-30 20:57] Merkwurdichliebe commented on #5109
When you double-click a Finder item on macOS, it show a brief animation where the icon is enlarged while losing in opacity. This basically serves as a double-click confirmation from the GUI, alerting the user that the app (or document) is being opened. Then the app is launched. In my case I only get the animation but not much else. The effect is like having a GUI button flash when clicked but not

[2020-08-30 21:13] reritom commented on #5109
@Merkwurdichliebe and with regard to wrapping the execution to confirm whether the script is being run at all?

[2020-08-30 21:46] bwoodsend commented on #5109
@reritom We have tried that already. First with a [FileNotFoundError](https://github.com/pyinstaller/pyinstaller/issues/5109#issuecomment-683152122) then generalised to `BaseException`. Neither did anything.

@Merkwurdichliebe Can I ask, what actually is your app supposed to do? Is it a GUI application?

[2020-08-30 21:59] reritom commented on #5109
@bwoodsend perhaps I have misunderstood, but I read that you suggested wrapping the file opening with the try/except. Using the NSBundle, we get the correct path at least, and @Merkwurdichliebe is able to run the application directly through the executable now. I am now suggesting wrapping the entire script in a try/except to a) see if there are any new errors that we are missing that aren't clear

[2020-08-30 22:42] bwoodsend commented on #5109
@reritom You're right in that we only wrapped the file operation in the `try: except:` clause (which we thought was the breaking line). Wrapping the whole thing though would cause the program to skip to the end should it hit an exception.

[2020-08-30 23:29] Legorooj commented on #5121
@amifunny only what's needed for the tests that you move.

[2020-08-31 01:56] danyeaw commented on #5129
I was able to resolve this by creating a pre_safe and a normal hook. I will submit a PR to close this.

[2020-08-31 03:38] vsalvino commented on #5062
I am also hitting this issue. I have traced it down to the fact that executables built in onefile mode with Python 3.7.6 work correctly, but built with any higher version of Python (3.7.7, 3.7.8, 3.7.9) does not work and throws the invalid code signature error. I have confirmed this by building with multiple version on a mac with OS 10.15.6

Found this thread which was very helpful: http://pyinsta

[2020-08-31 07:30] Merkwurdichliebe commented on #5109
@bwoodsend Yes, this is a simple GUI application for tracking statistics on a board game that involves card counting. The master branch (in which there is no trace of PyObj yet) should run on a Windows machine, haven't had time to test it though.

@reritom: Good news, I believe you are getting closer to solving this mystery.

To be clear, from now on I'm using only the executable packaged by pyins

[2020-08-31 07:45] bwoodsend commented on #5109
`open(file, encoding="utf-8")`

[2020-08-31 07:58] Merkwurdichliebe commented on #5109
More test results:

- Removing the `é` in the file and using the regular `os.path.realpath('data/cards.yml')` still doesn't work, so @reritom is correct concerning the use of AppKit for file access, regardless of Unicode.
- Removing the `é`, keeping the NSBundle call and running py2app still causes the same crash.

More questions:

- Will it be possible to read the file using both methods and chec

[2020-08-31 08:11] bwoodsend commented on #5109
You certainly shouldn't use separate Python files. Worst case scenario should be having to do something like:
[code]
Then call `read_file()` whenever you need it.

[2020-08-31 08:14] bwoodsend commented on #5109
Is there a *read in binary mode* NSBundle option equivalent to `open(file, "rb")`? Then you can just use `bytes.decode("utf-8")` to choose the encoding.

[2020-08-31 08:16] reritom commented on #5109
@Merkwurdichliebe I can't tell from the previous message, but did you have any success using PyInstaller+AppKit+[removing é / using open(file, encoding='utf-8')]?

For your other question, you could either do something like:
[code]
Or perhaps take some other approach looking at sys.executable or sys.platform. Note the above snippet might obscure any errors related to incorrect bundling of resource

[2020-08-31 09:50] reritom commented on #5109
@Merkwurdichliebe If the above approach doesn't work, I have another potential solution.

Read the file using AppKit too.

Add to your epidemic.py imports:
[code]
Then read the file using:
[code]
I'm not sure whether the above has any advantages over basic Python file reading, but it could be worth a shot (the above works for me, but I am unable to recreate your encoding issue in any case).

[2020-08-31 10:17] bwoodsend commented on #5018
@phirst We have an open [PR which may fix this](https://github.com/pyinstaller/pyinstaller/pull/5013#issuecomment-683692212). Could you give it a go?

[2020-08-31 10:32] simaoafonso-pwt commented on #5101
[code]

It's not *that* bad. Something mentioning "lib z" is "zlib" could help. If cmocka is optional, it's fine as-is, I guess.

[2020-08-31 10:37] Jmennius commented on #4983
I am including the binaries via hook file that looks like this:
[code]

[2020-08-31 11:00] bwoodsend commented on #5101
Hmm, I'd say that error message is pretty unclear. Well let's do it then.

[2020-08-31 12:18] rokm commented on #5062
From 3.7.7 on and from 3.8.2 on, the macOS installer packages from python.org are compatible with Gatekeeper requirements regarding code signing.

The `Python` library file is now signed, and moving it invalidates the signature, e.g.:

[code]
This in turn causes the `Error loading Python lib`.

A possible work-around may be removing the signature from `Python` library file.
[code]
This seems to do

[2020-08-31 12:57] agronholm commented on #4158
Seems like v4.0 did not fix this. I ran into this with the `pydantic` import.

[2020-08-31 13:23] agronholm commented on #4158
Actually `pandas` works just fine, `pydantic` does not. @scales11, @AgentChezni are you still having trouble?

[2020-08-31 13:35] agronholm opened #5131 "Recursion error with Pydantic"
+++ ONLY TEXT +++ DO NOT POST IMAGES +++

## Description of the issue
Trying to run pyinstaller against a module that contains just `import pydantic` fails due to `RecursionError: maximum recursion depth exceeded while calling a Python object`.

## Context information (for bug reports)

* Output of `pyinstaller --version`: ```4.0```
* Version of Python: 3.8
* Platform: Fedora 32
* Did you also try

[2020-08-31 13:55] agronholm commented on #5131
This may be caused by pydantic having two files for the same module with the same base name. I'm investigating.

[2020-08-31 14:13] #4311 closed

[2020-08-31 14:13] #4865 closed

[2020-08-31 14:26] agronholm commented on #5131
Here's when things start going wrong:
[code]

[2020-08-31 14:50] rokm commented on #4158
I can confirm that maximum recursion error occurs with `pydantic` on Fedora 32 with python 3.8.5, clean venv, and pydantic 1.6.1 from pip.

I'll take a look and see if I can track down the cause.

[2020-08-31 15:01] agronholm commented on #4158
Are there any other libraries in existence that have a C extension module for `__init__`?

[2020-08-31 15:07] agronholm commented on #4158
If I delete `pydantic/__init__.cpython-38-x86_64-linux-gnu.so`, the operation completes successfully.

[2020-08-31 15:40] agronholm commented on #4158
I compared the process to a version where I import `pandas` instead. This is where they diverge:
[code]
vs.
[code]
I modified the debug logging to output the `typ` variable in `_load_module()`. In the pandas version, this is 1, meaning `imp.PY_SOURCE`. In the pydantic version, it's 5, meaning `imp.PKG_DIRECTORY`.

[2020-08-31 15:46] agronholm commented on #5131
Looks like this is a duplicate of https://github.com/pyinstaller/pyinstaller/issues/4346.

[2020-08-31 15:46] #5131 closed

[2020-08-31 15:47] agronholm commented on #4158
This pydantic error has already been reported: https://github.com/pyinstaller/pyinstaller/issues/4346

[2020-08-31 15:50] agronholm commented on #4406
I don't think the errors caused by sympy and pydantic are the same. I did some analysis on the pydantic issue here: https://github.com/pyinstaller/pyinstaller/issues/4158#issuecomment-683858215

[2020-08-31 16:37] bjones1 commented on #5122
I'd suggest @Legorooj helping assign a dev to support package devs -- for example, perhaps he would help answer any numpy/sympy questions that team has, etc. I'd also suggest providing contact info in the submitted PR -- "this person will be happy to help you develop and maintain your hook" -- to get the ball rolling.

[2020-08-31 17:27] htgoebel commented on #5122
Good idea! And of course we should provide any existing hook.

[2020-08-31 17:45] htgoebel commented on #5101
This message is generated by waf when checking for library "z" (which is its name). Maybe waf's `check_cc()` provides an easy way to be more verbose and we could easily improve it? WDYT?

[2020-08-31 18:00] htgoebel commented on #5121
Thans for suggesting a name. Anyway for me "external" sounds like "things not belonging to us", maybe hooks pulled in from elsewhere. YMMV.

I'd copy the structure of these from one dir to the other (relative to the test-case). Then the test-fixtures should still be able to finde these files. If moving, we most probably would need to adjust fixtures.

[2020-08-31 18:01] htgoebel commented on #3885
@tharindu326 Thansk for documenting here. THis helps otehrs to find the solution.

[2020-08-31 18:08] htgoebel commented on #4538
This issue basically says: In all hook utility functions, raise specific exceptions.
Maybe #4537 could also catch and report these errors? Nvertheless, the point here is to say "Utilty-function here. I found this issue: …" so developers can spot the relevant place quickly.

[2020-08-31 18:14] Jmennius commented on #4951
Stumbled into it again, I think I won't be able to ignore it anymore :smile:

I've peeked into the code, and it appears that there is an exclude list in [depend/dylib.py](https://github.com/pyinstaller/pyinstaller/blob/5fc8babbe4e586f19e4d41f8634fa55650928e99/PyInstaller/depend/dylib.py#L114), and looks like it was not revised in a long time.
Maybe it's time we revise it or even make it extensible

[2020-08-31 18:40] htgoebel commented on #5103
@coreydexter many Thanks for picking this up. Glad you could reporoduce this.

1) After I stepped over this issue, I started cleaning up the multipackage tests, as there is a lot of redundancy, hindering extension. The "big idea" is have a set of scripts and permutation over them, so each one is dependency and dependant in both onefile and onedir - and maybe even with a third one. As you can see i

[2020-08-31 18:44] htgoebel commented on #4213
https://github.com/pyinstaller/pyinstaller/issues/4213#issuecomment-524534428 might to be the key:

[2020-08-31 18:45] htgoebel commented on #2846
Sorry, no idea

[2020-08-31 18:52] htgoebel commented on #1441
@jharrang Even for the documentation a pull-request is welcome. Or for the "Known issues section of the Changelog".

You seem to be a professional developer, contributing to private repos only. You most probably get paid for your work. Did you fund this project? I can't see any notable amount from you. Do you really expect us to spend our spare time on your nice-to-have wishes? Quite an attitude!

[2020-08-31 19:03] htgoebel commented on #4951
@Jmennius

Yes, this is the place where libraries are removed..

Yes. please provide a pull-request.

Ideas fr how to do this ar very welcome.

[2020-08-31 19:33] agronholm commented on #4406
For pydantic, the problem occurs because `ModuleGraph._find_module_path()` returns the wrong result in the metadata. It returns `imp.PKG_DIRECTORY` where it should return `imp.C_EXTENSION` for `pydantic.__init__`. This causes `ModuleGraph` to try to find the package again, sending it to an infinite loop.

The magic happens here: https://github.com/pyinstaller/pyinstaller/blob/develop/PyInstaller/l

[2020-08-31 19:49] RS357 commented on #5117
Hi all - here are my thoughts on a few things. I will add more once I've finished reading this draft.

'Assert that python my_script.py works' <- can you give an example of how to do this? This might seem obvious but it might not be for newcomers.

'Always debug in one-dir mode' <- what do you mean by 'one-dire mode'? Can you explain this?

`--hiddenimport=whatver.is.missing` <- this is a stand al

[2020-08-31 19:54] agronholm commented on #4406
This gets even weirder: I ran a simple test:
[code]
Python 3.4: `False False`
Python 3.5: `False False`
Python 3.6: `False False`
Python 3.7: `False False`
Python 3.8: `False True`
Python 3.9: `False False`
Is there a bug in Python 3.8 specifically?

[2020-08-31 20:08] bwoodsend commented on #5117
A module can define a `__getattr__(attr)` method which is called whenever you try to access an attribute. For example if I write a library called `foo.py` which contained the following:

[code]

Then running:
[code]
Would run `__getattr__("x")`, which would call that print statement.

Some libraries like to use this to lazy-load (only import them when they're asked for) their submodules. Say `foo`

[2020-08-31 20:23] agronholm commented on #4406
No matter how much I look at the logic in `ExtensionFileLoader.is_package()`, I don't get it. Why would it return `True` when a file suffix matches one of the extensions? It's the complete opposite of what `SourceFileLoader` does.

[2020-08-31 21:01] Jmennius commented on #4951
@htgoebel I've opened a PR that removes specific libraries that I had an issue with and a few others that usually come along.
So I've (to my best knowledge) covered graphical stack, but the issue in general stands I believe.

[2020-08-31 21:09] agronholm commented on #4406
@brettcannon wrote that code, maybe this will ping him?

[2020-08-31 21:59] dhyams commented on #5076
At the risk of prolonging of an already long (but fruitful I hope!) discussion, I'll try to keep it short.

* Personally, I would much rather use vanilla Python.  Speed keeps me from doing so; I can't ignore 3X performance increase.  I have tested extensively with my own code.
* I never said that Anaconda wasn't gnarly to deal with.  It absolutely is; no convincing needed.
* I maintain that issues

[2020-08-31 22:08] Merkwurdichliebe commented on #5109
I'm still trying to get my head around all of this, but @reritom's solution seems to work. Here's the current state of affairs on my end (this is reflected in the current [NSBundle branch](https://github.com/Merkwurdichliebe/Epidemic/tree/NSBundle)):

- A short bash script is running pyinstaller with the proper spec file reference and applies the Tk hack:
[code]

- I've had a hard time figuring ou

[2020-08-31 22:30] reritom commented on #5109
@Merkwurdichliebe I can't advise for py2app because I have never used it.

I would suggest changing the name of your function from `get_filename` to `get_path`, because you already have the filename and you are passing the filename to the function. Get path is more accurate.

For the `self.img_logo = tk.PhotoImage(file='img/pandemic-logo.png')` line, it should take the same approach as with the js

[2020-08-31 22:40] bwoodsend commented on #5109
[There is an issue](https://groups.google.com/g/pyinstaller/c/zzcd5DcJrp0/m/6M0gNy03CAAJ?pli=1) about PyInstaller + tk + an icon which we couldn't solve on a nabble thread. You may be on the verge of solving that too...

[2020-08-31 22:52] Legorooj commented on #4951
#5058 @htgoebel

[2020-08-31 23:09] nbrummel commented on #5107
That is true all the files are system ones.  In the new beta, they moved them and made them hidden in the directory structure.

[code]

All we have to do is use the command dlopen() which will check the lib for it in the cache.

Here is the os.path call:
[code]

[2020-09-01 07:24] Legorooj commented on #5117
I think we should split this guide into multiple chapters:

* Issues that occur at runtime but need to be fixed at build time (--hidden-import etc and yes it needs a better name).
* True runtime issues (eg needs a runtime hook)
* Build time issues
* General Debugging suggestions - eg everything that doesn't fit in one of the other chapters.

We also need a chapter on hooks - what they are and how

[2020-09-01 07:31] Legorooj commented on #4406
@agronholm good catch on the C_EXTENSION issue - I'll fix that when I perform the transplant.

[2020-09-01 07:48] bwoodsend commented on #5117
I agree we should break it up into bits and not have one huge page.

I think it has to be super easily searchable by issue as we're never going to get users to read the whole thing start to end just so they can fix one bug. Not too sure what's the best way to achieve this.

[2020-09-01 08:26] #5101 closed

[2020-09-01 08:27] Legorooj commented on #5117
Google indexes the site `pyinstaller.org` regularly; it will come up in google search.

[2020-09-01 08:30] Legorooj commented on #5121
@htgoebel we don't need to adjust fixtures; the hooks-contrib suite uses our fixtures without any adjustments.

@amifunny call it something like `tests/libraries`.

[2020-09-01 08:32] bwoodsend commented on #5107
Can you also check the other commands? Actively loading each dylib is not something we want to do unless we have no choice...

[code]
And just to confirm that it does work:
[code]

[2020-09-01 09:06] Legorooj commented on #5122
Ok - which developers are willing to do this? I mean move a hook to it's supporting library (except numpy, matplotlib, cryptography, and pycryptodome; I'll do those), and offer continued support to that development team/person if they need help? You'll be able to ask for help from the rest of us you'd just be the primary contact for them.

CC'ing @bwoodsend @vitsensei @amifunny @motatoes @RS357 @r

[2020-09-01 09:30] motatoes commented on #5122
I volunteer as a tribute @Legorooj

[2020-09-01 09:58] bwoodsend commented on #5122
I'm pretty familiar with the numpy and matplotlib hooks so happy to help with those two. The cryptography ones I've never even looked at so best give those to someone else...

[2020-09-01 10:19] reritom commented on #5109
@Merkwurdichliebe for the icon problem, make sure the icon file used for the Finder icon is in icns format. There are online converters for PNG to ICNS.

[2020-09-01 10:43] Legorooj commented on #5122
@bwoodsend feel free to take over on numpy and matplotlib - you're probably more familiar than I am.

[2020-09-01 13:23] mbalc commented on #4809
just a correction for anybody that's using this fix - there's a missing letter in the last command (`hook` should be `hooks`)

so the whole, corrected command is:
```pyinstaller main.py -D --additional-hook-dir=hooks```

[2020-09-01 13:44] Merkwurdichliebe commented on #5109
@reritom : the icon is not a problem, I had already created a ICNS file and it was referenced in the .spec file. I've only mentioned it as one of the reasons to use the .spec file, instead of the long terminal command. Also, yes, I've figured out how the .spec file expects additional data folders to be specified and, as far as I can tell, the `.pathForResource_ofType_` method handle partial paths

[2020-09-01 13:54] reritom commented on #5109
@Merkwurdichliebe the new error might be related to this issue https://github.com/pyinstaller/pyinstaller/issues/5062

[2020-09-01 14:31] denravonska commented on #3761
Are the issues on this project monitored? While appreciation is neat, maybe this should be closed?

[2020-09-01 14:33] #3761 closed

[2020-09-01 14:48] Metallicow commented on #3761
thankee sai

[2020-09-01 16:43] brettcannon commented on #4406
@agronholm yes it pinged me, but I don't know what's being asked of me. How is `ExtensionFileLoader`  "the complete opposite of what `SourceFileLoader` does"?

## `ExtensionFileLoader`

https://github.com/python/cpython/blob/e6905e4c82cc05897dc1bf5ab2b5b94b2b043a7f/Lib/importlib/_bootstrap_external.py#L1098-L1102

## `SourceFileLoader`

https://github.com/python/cpython/blob/e6905e4c82cc05897dc1bf

[2020-09-01 17:06] amifunny commented on #5122
What things are needed to be told to maintainers of other libraries, in order for them to maintain the hooks?

[2020-09-01 19:44] agronholm commented on #4406
@brettcannon Ah, sorry. Here's a complete example:
[code]
The output is:
[code]
The gist of the issue is that the `pydantic` package has two `__init__` modules, one as a pure Python module, one as a C extension. PyInstaller relies on `loader.is_package()` to figure out if the loader's path refers to a package or a module. For some reason `ExtensionFileLoader` reports `True` for an extension module

[2020-09-01 20:31] Merkwurdichliebe commented on #5109
That issue page has link to a forum post where @bwoodsend says pyinstaller is not compatible with Python 3.8 and that builds should be done only with 3.7. Is that the case?

Back to desktop, steps taken:

- Fetched updated `NSBundle` branch.
- Created a venv in the project's folder (I wasn't using one before on the desktop either).
- Activate the virtual environment.
- Install pyinstaller, pyobjc

[2020-09-01 21:44] bwoodsend commented on #5109
@Merkwurdichliebe That nabble thread was a few months back and 3.8 support has been improving quite a bit since then with the final hurdle just fixed yesterday (see #4311).

And if activating a venv seems to fix a broken app then that app is accessing original resources because it doesn't have them bundled (which it should). Whatever the py2app equivalent of `--hidden-import=pkg_resources.py2_warn

[2020-09-01 21:47] bwoodsend commented on #5109
MacOS and tkinter have always been an ugly pair - even before PyInstaller got involved. Maybe give `wxPython` a go if you want to switch.

[2020-09-02 07:14] htgoebel commented on #4406
The cause of this problem is that modulegraph inherits old CPython semantics: One file can either be a package or an extension. If the __init__ module of a package is an extension, this no longer holds.

(Anyway, pydantic is buggy IMHO: It contains each of the submodules is contained as an extension modules and as a pure-python module. His is bas design atleast).

[2020-09-02 08:00] rahatzamancse commented on #2470
I am also getting the same error.

[2020-09-02 08:11] htgoebel commented on #4406
@agronholm First of all, many thanks for tracking this down to pydantic as an example. Based on this I was able to build test-cases replicating the recursion. (In fact these test-cases are easy, now that we know where to look at.) See 0f635a61cf7e51f622092b085409e9fe340f427d.

@Legorooj `pytest tests/unit/test_modulegraph_more.py  -k package_init_is_extension`

The root curse for this issue seems

[2020-09-02 09:03] erickyi2006 opened #5136 "pyinstaller throws exception : dump_all() got an unexpected keyword argument 'sort_keys'"
if I used pure python, it works
but if i generate the binary in windows, it failed with "dump_all() got an unexpected keyword argument 'sort_keys'"

Code fragement
`            with open(output_file_yaml, 'w') as outf:
                yaml.safe_dump(formatted_json, outf, default_flow_style=False, sort_keys=False, width=float("inf"), allow_unicode=True)
`

I am using the anaconda and here is my pip

[2020-09-02 09:09] htgoebel commented on #4406
FYI: I hacked a prototype, using the Loader classes, which stops the recursion error.

[2020-09-02 09:12] agronholm commented on #4406
Not sure where my explanation went wrong but this is exactly what I expected: for neither file to be considered a package. This is why I pinged Brett, who originally wrote that code in `ExtensionFileLoader`. I wanted to ask why it considers an `__init__` extension module a package unlike `_LoaderBasics` which does not consider the corresponding pure Python file a package.

In my opinion, the probl

[2020-09-02 10:38] #5129 closed

[2020-09-02 13:30] bwoodsend commented on #5115
Just to simplify this a bit: You can see and reproduce the issue without having to actually build anything.

The following:
[code]
Should give me:

[code]

<details><summary>But also includes a whole load of `.pyo` files too.</summary>

[code]

</details>

And with `include_py_file=True` it should also include `.py` files but not `__pycache__` directories or `.pyc` files. Currently it includes eve

[2020-09-02 13:31] bwoodsend commented on #5115
@RS357 Could you have a look at this one whilst I work out how to tackle #5104?

[2020-09-02 15:21] MrWindWz opened #5137 "exe run about 5 seconds in task list, then it exit, no tips in cmd, it drives me crazy"
## Version
Python 3.7.6
Pyinstaller 4.0
PyQt5                              5.12.1
PyQt5-sip                          4.19.19
pyqt5-tools                        5.12.1.1.5rc4
PyQtWebEngine                      5.12

## Problem:
windows 10, It run ok in pycharm，it run ok in cmd by using "python client.py", but after use pyinstaller, no any tips when drag exe to run in cmd, you can see a process crea

[2020-09-02 15:27] MrWindWz commented on #5137
![image](https://user-images.githubusercontent.com/15726324/92003584-ccba3a00-ed73-11ea-8f12-47da8755357c.png)

[2020-09-02 17:03] brettcannon commented on #4406
So the key problem is the example isn't exactly normal:
[code]
If you look at https://docs.python.org/3/library/importlib.html#importlib.machinery.SourceFileLoader and friends you will notice that first argument is to be the _full name_ of the module, not the tail of it. So that argument should be `"pydantic"` or `"pydantic.__init__"`.

@agronholm feel free to open an issue on bugs.python.org and

[2020-09-02 17:18] htgoebel commented on #4406
@agronholm  Re module-name: To my understanding, `__init__` is not a valid module name anyway. Yes, there is a file called `__init__.py`, and you can import `pydantic.__init__`, but this is not the same as `pydantic`. We get bug-report every now and they if users import `__init__` and are curious why things don't work as expected.

Try this code. You will get a loader of `pydantic`, not for `pydan

[2020-09-02 17:38] agronholm commented on #4406
Before I do that, I would like to first understand if PyInstaller has been using the loaders wrong the whole time. This is an obscure corner case but due to the relative popularity of both PyInstaller and FastAPI (which depends on pydantic), more people are encountering this than normally would.

[2020-09-02 17:47] htgoebel commented on #4406
Yes. We inherited this from modulegraph.

[2020-09-02 18:29] brettcannon commented on #4406
@htgoebel I would try that without using `pkgutil`. You actually _can_ import `pydantic.__init__`, but it is (rightfully) considered a submodule of `pydantic` and not a package itself.

[code]

[2020-09-02 19:11] htgoebel commented on #4406
@agronholm @Legorooj You can find the prototype at <https://github.com/htgoebel/pyinstaller/tree/issue-4406-recursion-error>. It passes all tests, including the new ones I added to trigger the regression. Please try it out and give feedback.

[2020-09-02 20:47] Merkwurdichliebe commented on #5109
Too many options to consider right now but IMHO this issue can be closed. It's not really an issue with pyinstaller although, being so difficult to sneaky to locate, maybe pyinstaller could issue some warnings when parsing code destined to be bundled in an .app and which contains `open` statements.

[2020-09-02 22:15] bwoodsend commented on #5136
Please fill in the [issue template](https://github.com/pyinstaller/pyinstaller/blob/develop/.github/ISSUE_TEMPLATE/bug_report.md). In particular we need a minimal test example and the stack trace. I've written a test but it's working fine.

[code]

[2020-09-03 00:40] erickyi2006 commented on #5136
Thank you Brénainn

Here is the simple test example

[code]

Test results on binary
[code]

I found the root cause. pyinstaller were pulling in an older yaml from the anaconda3\Lib\site-packages\yaml  (dated 15th Sep 2018)
I have the newer yaml (PyYAML v5.3.1 - see pip list above) at anaconda3\envs\ccm-automation3\Lib\site-packages\yaml (dated 2nd Sep 2020)

How do I configure pyinstaller to skip

[2020-09-03 00:59] erickyi2006 commented on #5136
Success!!! .Sharing my solution. This may not be the most ideal so please feel free to suggest.

1. Rename anaconda3\Lib\site-packages\yaml to something else
2. In spec file, specify these two fields in Analysis

- pathex - add the correct site-packages path
- hiddenimports - add 'yaml'

[code]

[2020-09-03 01:18] imyhxy commented on #4628
My `pyinstaller` already is 4.0, still encounter this problem. Would you tell me the test details? Because I'm not sure how to deal with it.

[2020-09-03 06:00] DingGuodong commented on #4199
I am also suffering this problem and have no luck.
**Why not author or dev team support a wheel package(.whl) for multiple system platform?**

[2020-09-03 06:27] htgoebel commented on #4628
Nobody cared to follow my recommendations from https://github.com/pyinstaller/pyinstaller/issues/4628#issuecomment-632025449. so there is no reason for me to pen another minute on this issue until one did.

[2020-09-03 06:33] Cheaterman commented on #4628
Just my 2€ - this commit does seem to be the culprit (I think it's been
linked/shared above) and personally everything works fine. Fyi my
workaround on Nux is to create a ntfs onto a 4GB tempfile, mount it, and
use it as wineprefix. Works perfectly on Windows without workarounds.

[2020-09-03 06:33] htgoebel commented on #5122
@amifunny https://pyinstaller.readthedocs.io/en/stable/hooks.html#provide-hooks-with-package should provide enough information. Other package's maintainers (OPMs ;-) are recommended to test their hooks against the current stable release of PyInstaller (`pip install pyinstaller>=4.0`, pinning this is not recommended) and the development branch `pip install https://github.com/pyinstaller/pyinstaller

[2020-09-03 06:39] htgoebel commented on #5136
THis is not a PyInstaller issue, but caused by your environment.

[2020-09-03 06:40] htgoebel commented on #5137
Pleas folliw the instructions in the issue template: No Images!

[2020-09-03 06:44] htgoebel commented on #5127
test_libraries is only skipped in the forst stage, there is another stage testing these modules. This is done to not exceed the maximum time a job may run on Travis-CI.

[2020-09-03 06:46] htgoebel commented on #5127
Regarding you issue: Try
[code]

[2020-09-03 06:54] SHAANBHAYA opened #5138 "Warnings when trying to build a project into exe with pywin ."
I saw that when building a file with the pywintypes imported the crt dll that are to be linked are sometime not due to this error.

[code]

## Context information (for bug reports)

* Output of `pyinstaller --version`:  For version 3.5 till 4.0
* Version of Python: 3.7
* Platform:  Windows 10
* Did you also try this on another platform? Does it work there? : N/A as this is windows specific library

[2020-09-03 07:19] MrWindWz commented on #5137
Sorry, I didn't notice

[2020-09-03 08:47] gonebanana opened #5139 "oct2py saving files from octave"
Hello!
I have python file that use oct2py via
`import oct2py`
`oct = oct2py.Oct2Py(temp_dir=resource_path("."))`
`res = oct.test_writing(os.path.abspath(".")) `
According to test_writing.m octave function, a message in the output should be displayed and file saved_from_octave.csv should appear.
When I'm running this through PyCharm, it displays all Octave outputs and creates file, but if I make an

[2020-09-03 09:58] zlac116 opened #5140 "Pyinstaller Django app"
Hi Team,

I have created a Django app which connects to a Microsoft SQL server.

I've being trying to convert the app into an EXE file, which will launch into a users localhost, using pyinstaller.

I initially had a few import errors, which I resolved with a combination of importing some of the modules in the Django manage.py script and updating some of the hooks files.

Now I am experiencing an a

[2020-09-03 11:11] bwoodsend commented on #5136
@erickyi2006 You shouldn't need to monkeypatch in `site-packages` like that. If you're finding that helps then you're misunderstanding how to use your environment manager. You need to be in the same environment when you build with PyInstaller that you run Python in normally. i.e. Your workflow if your using an environment manager like venv or conda should be:

Activate your environment:
[code]
Che

[2020-09-03 14:17] nicobako commented on #4346
This advice was wonderful!

Just a note that you could also type `pip install pydantic --no-binary pydantic` and achieve the same result while getting the latest pydantic.
https://pip.pypa.io/en/stable/reference/pip_install/#install-no-binary

[2020-09-03 15:29] RS357 commented on #5115
Hi @bwoodsend - perhaps instead of adding a `.pyo` filter ourselves, we should file an issue with the CPython project, asking them to add the `.pyo` suffix to the `ALL_SUFFIXES` variable returned by `importlib.machinery` at Lib/importlib/machinery.py ?

For some reason they include `.pyc` but not `.pyo` - even though `.pyo` is also a suffix for Python bytecode.

[2020-09-03 15:56] bwoodsend commented on #5115
@RS357 They are a Python suffix and probably should be listed in `ALL_SUFFIXES` but that doesn't actually affect this issue. As far as PyInstaller is concerned `.pyo`s are junk files and should be excluded **with or without** `include_py_file=True` set. Adding `.pyo` to `ALL_SUFFIXES` would change `collect_data_files` so that it now excludes `.pyo`s with `include_py_file=False` but still includes

[2020-09-03 23:22] necrose99 opened #5142 "bootloader add targets (--target-arch)"
**--target-arch=arm   --target-arch=arm64** --target-arch=risc-v (linux only atm)
windows/linux

https://github.com/benfogle/crossenv  would also be usefull..  ie pipeenv myarch

https://sysprogs.com/ / https://gnutoolchains.com/download/

windows VS 2019 has some crude clang/windows / linux arm/arm64 support , can also point to gcc-corsstools or even linero too kits..

for Gentoo on RPI 64 bit ,

[2020-09-03 23:50] erickyi2006 commented on #5136
thank you  Brénainn for the insight.

[code]
I assumed (that was a total incorrect assumption) that pyinstaller will use my conda environment.  I would take advise of using the "new" habit
`pyhton -m PyInstaller testyaml.py`

Thank you again

[2020-09-04 03:20] Legorooj commented on #5122
Also see the setup in hooks-contrib, which is very similar to what OPMs would need.

[2020-09-04 07:22] bwoodsend commented on #5138
@SHAANBHAYA Good catch. Could you please create a pull request with your proposed change, referencing this issue.

[2020-09-04 07:27] bwoodsend commented on #5139
You're using the current working directory which, if you're using `--onefile`, is probably some temporary dir. But either way you don't know where it's put them. I'm closing this as it's not an issue. If you just want to ask questions, use StackOverflow.

[2020-09-04 07:27] #5139 closed

[2020-09-04 07:32] htgoebel commented on #5115
AFAIR the .pyo files are to be replaced be a different suffix, so they'll end with `.pyc`, too. On my system `pydoc3.7 importlib.machinery` already says. So I'm curious why bwoodsend has these files ate all (ans why he does not have a `__pycahce__`directory)

[code]

Whether these are "junk" files, depends on whether PyInstaller is run with `-O` (and on whether the resp. version of Python uses .py

[2020-09-04 07:33] bwoodsend commented on #5140
Please provide a minimal example. Looking at your stacktrace the problem appears to originate from statsmodels and has nothing to do with django but it's impossible for use to test because we don't know what you're doing.

[2020-09-04 07:42] gonebanana commented on #5139
Temp folder I'm using only for the core of octave.
Yes, I'm using `--onefile`, but I send to the func saving path  `os.path.abspath(".")`, which is that folder where exe is (i checked it several times).
But if it is not the quastion for this place, I'm sorry.

[2020-09-04 07:56] bwoodsend commented on #5139
Yes but the real exe isn't the one you think it is. A `--onefile` exe is just a shell round a `--onedir` build (see [here](https://pyinstaller.readthedocs.io/en/stable/operating-mode.html?highlight=onefile#how-the-one-file-program-works)). But you shouldn't assume the working directory even without PyInstaller. PyCharm gives you the illusion that it is fixed but in reality it could be anything.

[2020-09-04 08:40] gonebanana commented on #5139
Yes, but while running exe via console, it makes output from python code and `print(os.path.abspath("."))`  prints the directory with .exe file, and it also saves .scv file to this dirrectory.
It brokes when i'm trying to save file  to the same directory inside octave code! :(

[2020-09-04 09:09] web-sys1 opened #5143 "Avoid unnecessary compiling disk path destinations entirely before including them from .py to .pyc into base_library.zip while using --onedir to build application."
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I want to build a one directory based python app while I use `--onedir` or `--onefile` , the `pyinstaller` (sub)command. The `base_library.zip` archive contains a large number of .pyc files with encodings. However, the situation is odd, because it may include source path from computer entirely (for instan

[2020-09-04 09:31] menteora commented on #4989
Hi, is there temporary o manual workaround to bypass error using embedded python?

[2020-09-04 11:40] lucabecchetti commented on #3647
Pyinstaller 4.0 same error, pylint do not run inside .exe, any ideas?

[2020-09-04 12:14] Legorooj commented on #4989
@menteora nope - sorry this got buried. I'll do this next - it's now top of my to-do list.

[2020-09-04 14:54] maicol07 commented on #4913
Same issue...

[2020-09-04 17:43] seekersmash opened #5145 "Django 3.1.1 based apps fail to package correctly - Failed to execute script manage"
## Running pyinstaller on an empty Django 3.1.1 based application fails to package correctly

## Context information (for bug reports)
Performing the same steps using Django 2.2 work as expected

* Output of `pyinstaller --version`: ```4.0```
* Version of Python: 3.8
* Platform: Windows-10-10.0.19041-SP0
* Did you also try this on another platform? Does it work there?
Yes - Ubuntu via WSL produced

[2020-09-05 02:57] kotai2003 commented on #1891
Thanks very much. I could solve the problem with your solution.

[2020-09-05 06:00] zlac116 commented on #5140
Thanks. Will provide a minimal example and revert back.

[2020-09-05 13:21] Ep1cfy commented on #4633
it said one for Downloads/ALLER...DEVELOP.ZIP
and another for Downloads/Staller...develop.lnk
i just download pip and i got this error
it was mbam

[2020-09-05 17:30] htgoebel commented on #4439
This issue is one year old now, and required information is still missing. Closing.

[2020-09-05 17:30] #4439 closed

[2020-09-05 17:33] htgoebel commented on #3248
@djhoese @giumas @swarn @marcofavale @austinorr To fix this issue (and ensure it will no pop up again) what is needed first of all is a test-case in the test-suite. The test-suite already contains some SWIG related tests, which obviously do not cover this setup (since if they would, this issue would not arise).

Tests are in `tests/unit/test_modulegraph_more.py` and `tests/unit/test_modulegraph/te

[2020-09-05 21:53] bwoodsend commented on #5143
I'm sorry but you'll have to try to rephrase - I don't understand what you're saying.

This is how PyInstaller works - it includes compiled Python modules (`.pyc`s) instead of the original source code (`.py`s). Remove `functools.pyc` and `import functools` will raise a `ModuleNotFoundError`. Similarly, if you took away some or all the encodings then your app will be break depending on target machi

[2020-09-05 22:42] bwoodsend commented on #5117
@Legorooj I think this has sat here long enough. Could you add your points so I can begin? Semi-coherent bullet points and references to old issues will do if you're too pressed for time for proper sentences.

[2020-09-06 01:37] ahmedelfateh commented on #5124
May I take over it?

[2020-09-06 05:00] web-sys1 commented on #5143
@bwoodsend I am not sure, but please specify cause and make sure that `base_library.zip` will have amount of `.pyc` files 100% accurate. It depends on what source it is, if it is migrated to the library. Or, if not, it may be from that Python software.

[2020-09-06 07:42] whidbey commented on #3600
greate. win10 works with --noupx

[2020-09-06 07:43] whidbey commented on #3600
pyinstaller --clean --noupx -F test2.py

[2020-09-06 09:21] bwoodsend commented on #5143
Again, I don't understand what you're saying...

[2020-09-06 09:27] web-sys1 commented on #5143
@bwoodsend Embedded file from source path?

[2020-09-06 09:33] web-sys1 commented on #5143
Otherwise, you should cloese this issue.

[2020-09-06 11:33] Legorooj commented on #5143
@web-sys1 can you include a screenshot of what you mean? It may clarify things.

[2020-09-06 11:56] Legorooj commented on #5117
😂 I'll try for coherent bullet points. God help us if I'm ever too pressed for time for proper sentences:

1. Make several chapters. Split each one into a different topic, and have the first as the general debugging guide which covers most common errors - maybe have an FAQ of sorts as well.
2. Only include advanced things like the `__getattr__` hack in a "rare issues" page or something; it will go

[2020-09-06 12:06] web-sys1 commented on #5143
![screenshoot2020_09_06_1306](https://user-images.githubusercontent.com/61905565/92325364-8fdf9300-f052-11ea-9eda-3710908fb052.png)

[2020-09-06 12:08] web-sys1 commented on #5143
This is an screenshot related to ”contents” of compiled `.pyc` file.

[2020-09-06 12:20] web-sys1 commented on #5143
@bwoodsend
![Captură ecran (11)](https://user-images.githubusercontent.com/61905565/92325563-87885780-f054-11ea-9ed8-eb13ac96ac5a.png)

[2020-09-06 18:53] Finalfantasykid opened #5147 "Cairo Context error in executable?"
I am getting the following error when running the built executable:

`TypeError: Couldn't find foreign struct converter for 'cairo.Context'`

I don't get the error when running it within the virtual environment, only after the I run with the compiled binary.  The error occurs in both Windows and Linux.  And for some context, this is a GTK application which has a Surface which has some basic shapes

[2020-09-07 05:21] SHAANBHAYA commented on #5138
Sure will do that .

[2020-09-07 10:19] rokm commented on #5147
Reproduced on Fedora 32 (python 3.8.5, gtk 3.24.22, `develop` pyinstaller) and following program:

[code]

[2020-09-07 10:29] rokm commented on #5147
As far as I can tell, the issue is that in order to properly mix Cairo objects between `gi` wrapper (i.e., `from gi.repository import cairo`) and `pycairo` wrapper (i.e., `import cairo`), the conversion function in `gi` must be available and loaded. (Apparently the `cairo_context` comes from `pycairo` not `gi`, hence it is "foreign object").

When running from source, this is taken care of automat

[2020-09-07 11:12] Julian-Code14 commented on #1539
If I want to run my compiled program I get this error:

../../../include/python3.7m/pyconfig.h could not be extracted!
fopen: No such file or directory

I also tried install python-dev.

[2020-09-07 13:07] rokm commented on #5147
Hmm, actually, with the above example, just adding
[code]

seems to suffice. Or alternatively, running `pyinstaller --hidden-import cairo ...`.

[2020-09-07 17:03] nathanielmanistaatgoogle commented on #5095
From a technical perspective, sure, it'd be exciting to implement this and learn cool stuff along the way. From a personal management perspective: I just can't find time budget or attention budget for it. 😞

[2020-09-07 17:10] Finalfantasykid commented on #5147
I tried your example and got the same results.  But when I try the same with my application, the problem persists.   I'm using a glade xml file for the UI, so I'm not sure if that has anything to do with it.  I tried adding the signal in the code like you did, but that didn't fix it.

https://github.com/Finalfantasykid/AstraStack

That's the code that I'm trying to build.  UI.py is where the relev

[2020-09-07 21:59] rokm commented on #5147
I tried building AstraStack both on my Fedora 32 linux system and under msys2/MinGW64 in a Windows 10 VM.

In both cases, adding `--hidden-import cairo` to `pyinstaller` command fixed the error.

[2020-09-07 21:59] Finalfantasykid commented on #5147
Wow I'm stupid, adding the hidden import and other solutions did work, I was accidentally running the old version without the fix T_T

Problem solved!

[2020-09-07 21:59] #5147 closed

[2020-09-07 22:45] Jack2104 commented on #4311
Is this fixed now?

[2020-09-07 22:53] judge2020 commented on #4311
@Jack2104 the PR was merged in, so it should be fairly stable, but there hasn't been a release with that PR yet. If you install from git (see below), you should have the PR and the latest changes, although there might be more bugs than in a release branch.

Bare pip: `pip install https://github.com/pyinstaller/pyinstaller/archive/develop.tar.gz`

pipenv/pipfile:

[code]

[2020-09-08 00:08] mram1000 commented on #4311
This still does't work for me :

Bare pip: `pip install https://github.com/pyinstaller/pyinstaller/archive/develop.tar.gz`

Is there any other option?

[2020-09-08 00:13] judge2020 commented on #4311
@mram1000 If you ran that (and have confirmed you're actually running the new pyinstaller version), you should open a new issue or search for an existing issue that matches the problem you're having. Be sure to include as much debug info as you have in your report.

[2020-09-08 06:06] rqx110 commented on #4953
face the same error

[2020-09-08 07:21] zlac116 commented on #5140
While working on a minimal example, I managed to resolve the statsmodels attribute error. I basically uninstalled and reinstalled the module in my virtual envt and added this hook-statsmodels.py file. I'd appreciate any suggestions on how this error can be resolved.

Many thanks

**hook-statsmodels.py**

[code]

**The attribute error that I am experiencing now is per below. Matplotlib attribute er

[2020-09-08 07:56] Legorooj commented on #4311
@Jack2104 there should be another release for 3.8 support soon - we're just waiting on Hartmut to actually do it.

[2020-09-08 08:35] alpana17 opened #5151 "Facing issue to create app on Alpine"
I created app using cmd: 'pyinstaller test.py' And also, with cmd 'pyinstaller  --exclude-module pycrypto --exclude-module PyInstaller test.py' on alpine container image.

It created app in /dist/test/test

When I tried to execute it, I got same error in both cases:
![image](https://user-images.githubusercontent.com/8611615/92452865-37d49800-f1dc-11ea-857b-002069b67b31.png)

Why is it so?

Here is

[2020-09-08 08:43] yavuz-bektas commented on #4406
@htgoebel Hi,
Is there news / update for this issue?
I received "RecursionError: maximum recursion depth exceeded"

[2020-09-08 09:56] bwoodsend commented on #5140
The matplotlib issue is known to us. Currently you just have to downgrade to `matplotlib<3.3`.

We have a utility for modules with large numbers of hidden imports. Your statsmodel hook could be written as:

[code]

And I see you're using numpy and Conda. This is hopelessly incompatible with PyInstaller. Any PyInstaller app that contains Conda's numpy is broken in nastily subtle ways that you won't

[2020-09-08 11:18] rokm commented on #5123
I did some testing based on the example you provided. The client/uploader code is running in Windows 10 VM (python 3.7/3.8), while the test server is running on linux host (a simple server based on `http.server.BaseHTTPRequestHandler` and `http.server.HTTPServer`).

**Using aiohttp**, I observe the described behavior - memory usage keeps rising, and the memory does not seem to be released when the

[2020-09-08 11:45] firnand4 commented on #1465
try to update your scipy with
`conda update scipy`

[2020-09-08 11:45] Legorooj commented on #4406
@yavuz-bektas we're still looking into this problem.

@htgoebel I'm slightly confused here - the linked branch is a fix for what exactly?

[2020-09-08 12:33] zlac116 commented on #5140
Thanks for highlighting this, I will use a matplotlib version < 3.3 and use this format for importing statsmodels via the hooks file.
Wrt to numpy, would you suggest using pip to install numpy, instead of conda? I will recreate my virtual envt and do this instead.
FYI - I'm still working on getting a minimal example.
thanks again!

[2020-09-08 13:08] gauthierbuttez commented on #3820
**Environment:**

Python 3.8.3

PyInstaller 4.1.dev0

Mac OS Catalina 10.15

**Problem:**

I tried to distribute my program made with Python 3.

I use PyInstaller to make the Mac OS bundle app : MyApp.app

When I double click on /Applications/MyApp.app, the icon bounce on bottom right corner and then close itself. Nothing happens.

If I open the executable file /Applications/MyApp.app/Contents/Mac

[2020-09-08 13:09] htgoebel commented on #1539
@Julian-Code14 This issue is closed already. If you experience an related issue, please search for an *open* issue that matches your problem. If you can't find eone, please open a *new issue* - and be sure to include as much debug info as you have in your report.

[2020-09-08 13:30] htgoebel commented on #4406
@Legorooj Sorry, I added the comment to the wrong ticket. https://github.com/pyinstaller/pyinstaller/issues/4406#issuecomment-685941358 is for #4158, I'll copy it there. I also hid the discussion about the loaders, extension-types, `__init__`, etc. since these are for #4158, too.

Regarding this very issue: After spending another weekend on changing modulgraph from recursive to iterative, I'm abou

[2020-09-08 13:34] agronholm commented on #4406
Calling `loader.is_package()` with the full package name instead of the module's base file name should resolve the infinite recursion error happening with pydantic.

[2020-09-08 13:38] Merkwurdichliebe commented on #3820
I struggled with that issue for a week. In #5109 @reritom tracked it down to using Python functions to access files on macOS and suggested using NSBundle instead. The entire discussion is worth a read if you're on macOS and having trouble accessing files with your bundled scripts. It looks a lot like the issue I had.

[2020-09-08 13:38] htgoebel commented on #4406
@agronholm Wrong issue. This one is about recursion error which can be solve by increasing the stack limit.

[2020-09-08 13:44] htgoebel commented on #4158
@agronholm First of all, many thanks for tracking this down to pydantic as an example. Based on this I was able to build test-cases replicating the recursion. (In fact these test-cases are easy, now that we know where to look at.) See 0f635a61cf7e51f622092b085409e9fe340f427d.

@Legorooj `pytest tests/unit/test_modulegraph_more.py  -k package_init_is_extension` - sorry, this should have not be gone

[2020-09-08 13:47] htgoebel commented on #4633
Please contact you anti-virus vendor. There is *nothing* we can do about this false positive.

If your anti-virus vendor considers one of the files included in the PyInstaller distribution or a file generated by PyInstaller to be malicious, there is *nothing* we can do about this. Even if we'd change our code, they'd change their pattern and the race starts again.

See [this mailing-list thread](h

[2020-09-08 13:49] htgoebel commented on #3600
seems to be solve then

[2020-09-08 13:49] #3600 closed

[2020-09-08 14:14] bwoodsend commented on #5140
That would get you past the mine field of hidden binary dependencies for numpy but might be incompatible with Conda's scipy or sklearn. In which case you should also use pip for any modules than depend  on numpy.

[2020-09-08 14:16] bwoodsend commented on #5140
Also if you could PR your hook for statsmodels to [our hooks repo](https://github.com/pyinstaller/pyinstaller-hooks-contrib/pulls) we can include it in PyInstaller which would fix it permanently for everyone.

[2020-09-08 14:21] kontur commented on #5018
Having a similar issue but the bugfix does not seem to resolve it.

With the [bugfix](https://github.com/pyinstaller/pyinstaller/pull/5013#issuecomment-683692212), my trace is (removed some of the hook warnings):

[code]

I'm running `pyinstaller -F --log-level INFO --clean src/typestrings.py` but simply `pyinstaller src/typestrings.py` ends in the same error.

I tested this with Python 3.7.6 and

[2020-09-08 14:31] kontur commented on #5018
Aaaactually. I just went to the other machine to compile and checked if something is still different between the two and it turns out on the other machine it works to be running pyinstaller from a pyenv version (3.8.3) but what does not work on this machine is running it from a pyenv virtualenv using python 3.8.3 — however, also on this machine where I originally got the error above when I do not

[2020-09-08 14:52] bwoodsend commented on #5018
OK, thanks @kontur. I think this confirms that this is a separate issue to the one the PR addresses.

That's a thing too? How many `venv` equivalents does Python need? Grrr.

@kontur Could you clarify for me - do the virtual environments share the `pyconfig.h` file for a Python installation or do they each get their own copy?

[2020-09-08 14:57] kontur commented on #5018
Ikr :D pyenv & pyenv-virtualenv is really quite neat, from a user point of view. Easy python version switching and venvs associated with those.

As to your question I cannot say. pyenv generally works by shimming the binaries to redirect calls, so my guess would be that the pyenv-virtualenvs use the python version of the pyenv they were created with and only isolate the "site-packages" to that pye

[2020-09-08 15:07] w1-naserieh opened #5152 "How to include C++ redist"
Hi all,
I'm working on a exe but I'm facing an issue.
The machine needs to have [vc_redist.x64.exe](https://support.microsoft.com/nl-nl/help/2977003/the-latest-supported-visual-c-downloads) installed, I want that python somehow auto installs the redist instead of me installing it manual.

What is the best way to approach this, is there a DLL that I can include in the .spec file or should I make so

[2020-09-08 16:45] htgoebel commented on #3647
This issue is closed already. If you experience an related issue, please search for an *open* issue that matches your problem. If you can't find eone, please open a *new issue* - and be sure to include as much debug info as you have in your report.

[2020-09-08 17:37] mram1000 commented on #4311
Hi here is my error output - this time I downloaded py3.7 but still same error - so not sure what it might be? Appreciate any help please! Thanks in advance!

[code]

[2020-09-08 17:53] campanelli-resonon commented on #4311
@mram1000 Can you successfully execute `pip install --upgrade setuptools`?

[2020-09-08 18:01] zlac116 commented on #5140
I've recreated my python environment using pip for all modules.
Sure, I'll add the statsmodels hook to the hooks repo.

[2020-09-08 18:04] mram1000 commented on #4311
Not without specifying the proxy!

OK so after disconnecting from my corporate overlords, I was able to install 3.7 version - thank you for your help!!

[2020-09-08 18:24] htgoebel commented on #4311
@mram1000 STOP SPAMMING THIS CLOSED ISSUE! You have been asked to open a new one!

[2020-09-08 18:26] htgoebel commented on #4311
Delete conversation with a user not willed to read our wiki or our manual, neither following our advice.

[2020-09-08 19:11] gauthierbuttez commented on #5109
Hi @reritom  and @Merkwurdichliebe ,

Thank you so much for your help.

I made a small test with a simple app which open an image and it works.

So I am now working on the source code of my software to change all the way to access to files. I made this little function which handle OS platform (as I will distribute my software to Windows and Mac OS X):
[code]

**How can I access a directory using N

[2020-09-08 19:16] Merkwurdichliebe commented on #5109
I haven't a clue but I suggest you try something like `None` instead. [This SO thread](https://stackoverflow.com/questions/1984572/pathforresource-without-using-extension-iphone) says this, although it relates specifically to Swift:

[2020-09-08 19:50] gauthierbuttez commented on #5109
Hi @reritom  and @Merkwurdichliebe ,

Thank you so much for your help.

I made a small test with a simple app which open an image and it works.

So I am now working on the source code of my software to change all the way to access to files.

How can I access a directory using NSBundle.mainBundle().pathForResource_ofType ?
The function ask for extension, but I have some case where there are no exte

[2020-09-08 21:07] bwoodsend commented on #5140
Does that mean everything is working...?

[2020-09-08 21:57] zlac116 commented on #5140
Almost everything, all module import errors seem to be resolved now - thanks.
Just working through errors relating to importing certain config files and modules within the Django project. Apologies for the qu as this library is new to me but is the best practice to specify these in the app.spec file?
Thanks

[2020-09-08 22:13] bwoodsend commented on #5018
That's what I used to think venv does, But it turned out to mess with quite a bit more.

Could you run the following inside a virtual environmemt?

[code]

[2020-09-08 22:16] bwoodsend commented on #5140
I certainly prefer using the spec to the command line. But I've never used Django so I can't be of much help.

[2020-09-09 04:49] srevinsaju commented on #4489
Yes, I can reproduce the error while using PySIde2 and Qtpy on Ubuntu Xenial with Python 3.8.
[code]

The PySIde2 libraries are bundled, but I am not sure why QtPy is not able to find them.

[2020-09-09 06:27] Legorooj commented on #4489
@bjones1 we only support PyQt5/PySide2 right?

[2020-09-09 06:28] #5115 closed

[2020-09-09 06:28] srevinsaju commented on #4489
No, but I actually want to use PySide2. The Qtpy api first checks for PyQt5 -> PySide2 -> PyQt4 -> PySide -> Crash
The last step is shown in the traceback.

[2020-09-09 06:29] srevinsaju commented on #4489
By the way, building on PySide2 works on Windows, but not on ALinux. I can reproduce on Ubuntu Xenial, Bionic, Arch Linux (latest) and Manjaro (latest)

[2020-09-09 06:38] kontur commented on #5018
From the "failing" environment:

[code]

Vs. just python 3.8.3 where it works:

[code]

[2020-09-09 07:49] bwoodsend commented on #5018
Ok so it looks like `base_prefix` is what PyInstaller should be using.

Can I also  have `sys.real_prefix` (may be an attribute error) and `PyInstaller.compat.base_prefix`? I suspect PyInstaller is picking up the wrong one. It's got a rather messy nest of logic to try and choose,

[2020-09-09 09:15] bwoodsend commented on #5018
Ohh, I see there has been some changes in that area since that would mask this issue. 4d66c7d10a44ad5fb9cdf2dfeebad56e8c49de5d would cause the exception to go away but would mislead you into thinking it is fixed because it would put the file in the wrong place.

[2020-09-09 09:28] bwoodsend commented on #5018
I've made some small changes. Could you test them?

[code]

You should be able to test it just by running:

[code]

I've chucked in some extra logging calls so could you copy/paste everything it says...

[2020-09-09 11:46] w1-naserieh commented on #5152
bump

[2020-09-09 13:00] kontur commented on #5018
With the fix sysconfig install it works 👏

[code]

Running the test as `python test.py` I get:

[code]

Thanks so much for your effort! Let me know if I can test anything else 👍

[2020-09-09 13:11] alpana17 commented on #5151
I tried one more thing..
launched fresh alpine container, then executed following cmds:

installing glibc
wget -q -O /etc/apk/keys/sgerrand.rsa.pub https://alpine-pkgs.sgerrand.com/sgerrand.rsa.pub
wget https://github.com/sgerrand/alpine-pkg-glibc/releases/download/2.32-r0/glibc-2.32-r0.apk
apk add glibc-2.32-r0.apk
------
apk add binutils
apk add python3
apk add py3-pip
pip3 install pyinstaller
v

[2020-09-09 13:16] alpana17 commented on #5151
anyone looking into this?????

[2020-09-09 13:48] durden commented on #3409
I _think_ I'm seeing the same issue using PyInstaller 3.5 with Python 2.7. I know those are old so they may not be relevant, but Python 2.7 on Linux only supports forking so I suspect I'm seeing the same issue. Here's what I'm doing:

1. Exe 1 is a one-folder bundle built on Python 2.7
2. Exe 2 is a one-folder bundle built on Python 3.7

When exe 1 runs exe 2 via `subprocess.check_call()` I see er

[2020-09-09 16:14] zlac116 commented on #5140
No worries. Just an fyi - the statsmodels hook file, in the format that you mentioned below, doesn't seem to work compared with the older format that I showed you earlier in this thread.

[code]

Also, I am at now at a stage where all external dependencies are being imported - thanks! However, the Django app is comprised with a number of different modules which interact with each other so when I r

[2020-09-09 16:33] jolatadla opened #5153 "Cannot run crosscompiled pyinstaller image on external device"
I am using pyinstaller 3.6 and python 2.7.

I wanted  to cross compile pyinstaller for mlinux. I used mlinux toolchain for installing arm-mlinux-linux-gnueabi-gcc and load environment:
[code]
I downloaded pyinstaller3.6, went into that directory and build bootloader:
[code]
After it I saw configured gcc:
![MicrosoftTeams-image](https://user-images.githubusercontent.com/38700255/92624529-e73a6900-f

[2020-09-09 18:23] zlac116 commented on #5140
**UPDATE**
I added `import mysite.urls` to the manage.py script. This seemed to resolve this error. Thanks

[2020-09-09 20:19] llamafilm opened #5154 "macOS console app bundle doesn't launch"
## Description of the issue
I'm building in a clean virtualenv with `pyinstaller test.py --windowed`
I can't launch the .app bundle by double-clicking nor with `open ./test.app` in Terminal.
It works fine if I run `./test.app/Contents/MacOS/test`

## Context information (for bug reports)

* Output of `pyinstaller --version`: ```4.0```
* Version of Python: 3.7.7
* Platform: macOS 10.14.6

* try the

[2020-09-09 21:42] bwoodsend commented on #5018
Ooh no. What I said about [above](https://github.com/pyinstaller/pyinstaller/issues/5018#issuecomment-689438291) changes that would mask this error has happened. This isn't actually fixed. It's now defaulting to something inappropriate so that your `pyconfig.h` file is presumably in the root of your app instead of wherever it's supposed to be.

What I though would happen inside PyInstaller was thi

[2020-09-10 01:05] srktnc opened #5155 "Freeze error"
Please use the mailing list see <http://www.pyinstaller.org/support.html#mailing-list> for details.

Posts that are not a bug report or a feature/enhancement request will not be addressed on this issue tracker, but closed.
Traceback (most recent call last):
  File "PyInstaller/loader/pyiboot01_bootstrap.py", line 144, in __init__
  File "ctypes/__init__.py", line 356, in __init__
OSError: dlopen(/

[2020-09-10 04:38] glennra commented on #5154
Does the system.log say anything useful? When I had that error recently it was because of a code signing issue.

[2020-09-10 05:45] kontur commented on #5018
I can compile binaries outside the pyenv-virtualenv, so no rush on this from my side. Appreciate your tenaciousness 👍

[2020-09-10 07:53] htgoebel commented on #5153
We are not loger supporting these version. Sorry.

Also: The issue tample clearly state to *not* post images, which you dod not care about. So why should I care abour your problem then?

[2020-09-10 07:53] #5153 closed

[2020-09-10 07:56] htgoebel commented on #5152
@w1-naserieh Your you impatient to get an answer? Just get a support contract: http://www.pyinstaller.org/funding.html

[2020-09-10 07:58] htgoebel commented on #5151
Also: The issue template clearly state to not post images, which you dod not care about. So why should anyone care about your problem then?

[2020-09-10 08:04] htgoebel commented on #4346
Pointed to this issue by #5131, I learnd: this one is a different class of recursion errors, as it is an infinite loop. (Whereas #4406 is about import-nesting too deep, but no loop.) Sorry for not understanding this issue earlier. Fix is in the pipeline.

[2020-09-10 09:35] bwoodsend commented on #5152
This applies to any additional binary.

If `vc_redist.x64.exe` is stand-alone (you can move it around without breaking it and doesn't depend on any other files) then you'd just `--add-binaries=/path/to/vc_redist.x64.exe;.` it. If it's normally found using `PATH` then you can use `binaries=[(ctypes.util.find_library("vc_redist.x64", ".")]` in your spec to avoid having to hard-code a full path to `v

[2020-09-10 09:35] #5152 closed

[2020-09-10 09:36] Igor1306 commented on #3968
@skamensky, thank you ! I was trying to use ';' on linux, and ':' helped.

[2020-09-10 09:45] bwoodsend commented on #5155
We need a minimal example so we know what your doing. All this tells us is something dll related happened...

[2020-09-10 09:49] bwoodsend commented on #5154
You're using `--windowed` which means no `stdin` (needed for `input()`) or `stdout` (needed for `print()`) but you're trying to use them both anyway.

[2020-09-10 10:34] Legorooj commented on #4489
@srevinsaju can you post your `*-xref.html` file from `build`?

[2020-09-10 10:45] bwoodsend commented on #5151
I take it you're not using `mutliprocessing`? In which case `--exclude=multiprocessing` would (hopefully) skip `pyi_rth_multiprocessing`. As for why `pyi_rth_multiprocessing` raises a seg-fault... worry about that another time.

[2020-09-10 11:18] alpana17 commented on #5151
@bwoodsend Thanks.. It worked to some extent..
Here are the commands that I executed:
    1  apk update
    2  apk add python3
    3  apk add binutils
    4  apk add zlib-dev
    5  apk add musl-dev
    6  ldd /usr/lib/libpython3.8.so.1.0
    7  ldd /usr/lib/libpython3.8.so.1.0
    8  apk add py3-pip
    9  pip3 install pyinstaller
   10  vi test.py
   11  pyinstaller --exclude=multiprocessing  te

[2020-09-10 11:33] htgoebel commented on #5151
@alpana17 Please stop posting images!

[2020-09-10 11:34] Legorooj commented on #5151
@alpana17 please can you copy and post the output instead of posting images?

[2020-09-10 11:38] bwoodsend commented on #5151
@alpana17 Is that all it says?

I take is `os.system('whoami')` is the breaking line? If you omit it then it works? A segfault is actually quite vague in that it could originate anywhere. Could you compile with the `--debug` flag, run, and paste the output?

It may be worth trying to compile a bootloader for Alphine on an Alphine machine but I'm guessing here.

Also can we please have plain text c

[2020-09-10 12:09] rokm commented on #5151
At a quick glance, I'd say the problem is that Alpine builds against `musl` libc instead of `glibc`. And even if you install `glibc` manually, you're probably still using the official python build, which is built against `musl`...

So as @bwoodsend suggested, you should rebuild PyInstaller's bootloader in your Alpine container to have it linked against `musl`.

[2020-09-10 13:42] alpana17 commented on #5151
@bwoodsend where do you want me to add --debug flag? Please mention the cmd.

@rokm yeah, I tried with https://github.com/six8/pyinstaller-alpine
It works

But I am trying to make pyinstaller work

[2020-09-10 14:27] rokm commented on #5151
Unless I missed something, you are installing pyinstaller via `pip` into a `musl`-based Alpine container (i.e., not using pyinstaller-alpine anymore). PyInstaller installed from pip comes with bootloader that was built against `glibc`, so I don't expect that combination to work.

(For the reference, bootloader is `run` (or `run_d` for debug version) executable that's located in `${prefix}/lib64/py

[2020-09-10 14:31] bwoodsend commented on #5018
OK. I've prodded it somewhere else. Let's see what happens.

Could you: Try the `pip install https://github.com/bwoodsend/pyinstaller/archive/fix-sysconfig.zip` again. Then build your app with the `--clean` option and share the build log. Or you can just run the `PyInstaller/hooks/hook-sysconfig.py` script inside the PyInstaller installation (wherever pyenv-virtualenv put it) and see what that say

[2020-09-10 14:39] bwoodsend commented on #5151
@alpana17 My bad. `PyInstaller --debug=all  test.py`.

But I think @rokm is on the right track. You should clone this repo, build the bootloader yourself then install and run your newly built PyInstaller rather than the one from PyPI.

[2020-09-10 15:50] llamafilm commented on #5154
So is there no way to make a .app bundle that runs a non-GUI console app? In that case, I’d like to turn this into a feature request. I want users to be able to double run with a double click.

[2020-09-10 15:52] bwoodsend commented on #5154
Yeah, just omit the `--windowed` option.

[2020-09-10 16:01] bwoodsend commented on #5140
OK. Just out of interest, is there anything in [your explicit list of hidden imports](https://github.com/pyinstaller/pyinstaller/issues/5140#issuecomment-688673182) that `collect_submodules("statsmodels")` fails to include? It's unusual for that not to fix it and I'd like to track down the cause.

[2020-09-10 16:11] bwoodsend commented on #5154
Uggh possibly. I thought `.app` was just another file suffix type. Without `--windowed` still gives you something to double click on but it isn't a `.app` - it's a binary inside a folder. Doesn't `--onefile` give you what you want? It's still not called a `.app` but it does the same thing.

[2020-09-10 16:17] soufisouf commented on #5140
Im using django 3. Python 3.8 and i Heard that pyinstaller does not work with 3.8 so i undergrade it to 3.5 since its enough for my programs. I use also pymongo and not sql as database. Packages used :

Plotly
Numpy
Pandas
Channels_redis
Django-channels (for websockets)
Pymongo

Thats all for the moment.

I want to convert it to exe and I always had  an error saying settings.pyc not found. So i ra

[2020-09-10 16:20] zlac116 commented on #5140
@bwoodsend, thanks - all of my explicit list of hidden imports are related to django imports. Will send a sample of my spec file.

[2020-09-10 16:21] llamafilm commented on #5154
The binary cannot be run by a double click on macOS. You have to run it from a Terminal. This makes it hard for non-technical users.

[2020-09-10 16:41] bwoodsend commented on #5140
@soufisouf I'm sorry but this is an issue board - not a support forum. We're far too short-staffed to give personalised tutorials to every passing user. And, to be honest, it sounds like you're out of your depth anyway.

We are just starting writing some a complete guide to using PyInstaller. If you wait a few months hopefully you can use that instead.

[2020-09-10 16:44] bwoodsend commented on #5154
Then it's broken. You should be able to just click on it. #5109 may be the cause.

[2020-09-10 16:53] llamafilm commented on #5154
Wow, I never knew you could run binaries this way on macOS.  My filename had a dot (.) in it and after removing that, it does run with a double-click.  That seems to be a macOS limitation, not a problem with PyInstaller.

I would still prefer using a .app bundle for a few reasons:
- It launches faster because it's not compressed into a single file
- You can customize the icon to make it look more

[2020-09-10 17:12] zlac116 commented on #5140
list of hidden import are below. thanks

`hiddenimports=['django.contrib.admin.apps', 'django.contrib.auth.apps', 'django.contrib.contenttypes.apps', 'django.contrib.sessions.apps', 'django.contrib.messages.apps', 'django.contrib.staticfiles.apps', 'django.contrib.messages.middleware', 'django.contrib.sessions.middleware', 'django.contrib.sessions.serializers', 'django.template.loaders', 'django.c

[2020-09-10 17:32] bwoodsend commented on #5154
@rokm Do you know if a console based (as opposed to an app with a GUI) `.app` application is possible? In [the docs](https://pyinstaller.readthedocs.io/en/stable/usage.html#building-mac-os-x-app-bundles) it says you get a `.app` using the `--windowed` option. Surely there's a reason the *making a `.app` feature* is glued to the `--windowed` option rather than having two independent options. Do you

[2020-09-10 17:43] #5140 closed

[2020-09-10 19:12] llamafilm commented on #5154
I found an ugly hack to make this work.  The binary is located at `test.app/Contents/MacOS/test`.  I renamed that file to `test_bin` and create an executable shell script called `test` with contents:
[code]

Now it runs my code in a new Terminal window.  Don't forget `chmod +x test`

[2020-09-10 21:43] rokm commented on #5154
From my experiments, it would seem that `.app` bundle doesn't get console (regardless of `console` setting in `EXE()`).

The minimal test example used here, when ran as an `.app` (i.e, when double-clicked in Finder, or by running `open programName.app` from terminal), actually throws exception on the `input()` call: `EOF when reading a line`.

Using a wrapper script to run the executable in a `Ter

[2020-09-10 22:49] llamafilm commented on #5154
I've added the following code to the end of the spec file, and this seems to work okay.  It would be good to have this integrated into PyInstaller, but I don't know the best way to do that.

[code]

[2020-09-11 04:52] alpana17 commented on #5151
here is the output:

bash-5.0# /dist/test/test
[222] PyInstaller Bootloader 3.x
[222] LOADER: executable is /dist/test/test
[222] LOADER: homepath is /dist/test
[222] LOADER: _MEIPASS2 is NULL
[222] LOADER: archivename is /dist/test/test
[222] LOADER: Extracting binaries
[222] LOADER: Executing self as child
[222] LOADER: set _MEIPASS2 to /dist/test
[222] LOADER: LD_LIBRARY_PATH=/dist/test
[222] L

[2020-09-11 11:36] rokm commented on #4196
Closing this, as bootloader now builds on Alpine (tested with Alpine 3.12.0). The issue in question should have been addressed by commit 22ad4f7200a56da969e9296d8fecf2f0b8368afc (and/or whole PR #4585). If the build problem persists, please open a new issue with updated details.

[2020-09-11 11:36] #4196 closed

[2020-09-11 12:02] ma7heuzzz opened #5159 "exe file does nothing, only print("hello") in script"
i'm using:
- Pyinstaller 4.0
- Python 3.8
- Windows 10

my main script after create exe file does nothing, and then i try with a simple script with only print("hello") and does nothing too...

no error, no messages in cmd, nothing in tasks, nothing...

what i'm doing wrong?
i'm searching for help about 2 days in google, but any solutions fit to me...

Thanks...

[2020-09-11 15:14] bwoodsend commented on #5151
Hmm, I don't see anything obvious in that runtime log. Try compiling the bootloader if you haven't already and if that doesn't work then I think we're stuck...

[2020-09-11 15:23] bwoodsend commented on #5154
@llamafilm That looks good and certainly could turn into a feature. As for you *spaces in paths* problem, you should be able to wrap it in either `"`s or `'`s?
[code]

[2020-09-11 17:55] ethantenison commented on #4813
Hello!

I'm having this exact same issue. The language of my computer is English, but the app created through pyinstaller uses Arabic text. I created a virtual environment and updated all the packages, but it still doesn't work. =(

[2020-09-11 21:06] bwoodsend commented on #5159
Are you using the `--windowed` option by any chance?

Regardless can we have the commands your using to build and run your app?

[2020-09-12 02:08] Legorooj commented on #5151
@bwoodsend you can run alpine on docker AFAIK

[2020-09-12 05:37] Salim9304 opened #5160 "[Linux] Pyinstaller v-4.0 Creates a project> 1GB in size (Linux). Pyinstaller v-3.6 works correctly (project size 100MB)"
https://github.com/pyinstaller/pyinstaller/issues/4932
The problem is not actually solved

New parts.
Python3.7

Pyinstaller v4.0.
If you create a project in a virtual environment (pipenv), then the project takes up a size of 20MB. I can’t say for sure if it works correctly afterwards.
If you create a project in the system, then the project takes **1.5 GB.**

Pyinstaller v3.6.
If you create a proj

[2020-09-12 06:55] zlac116 commented on #5140
@bwoodsend - finally managed to get the entire app to work. Thanks again for your help and let me know if there’s anything else that I can provide to assist with dev.

[2020-09-12 09:05] rokm commented on #5160
This is very likely due to #5058. In the system case, it probably ends up pulling in whole `/usr/share`.

[2020-09-12 18:46] martinet101 commented on #5062
I just downgraded from python3.7.7 to python3.7.6. I don't know the reason, but i guess this happens because python developers added something like full Gatekeeper notarization for macOS (on the changelog https://www.python.org/downloads/release/python-379/) It says `As of 3.7.7, macOS installer packages are now compatible with the full Gatekeeper notarization requirements of macOS 10.15 Catalina

[2020-09-12 21:01] RS357 commented on #5117
Thanks @bwoodsend !

[2020-09-12 21:43] RS357 commented on #5113
Hi @htgoebel, I took a look at this.

The issue I can see is, `gevent.testing` and `gevent.tests` are collected in `collect_all` by `[collect_submodules](https://github.com/pyinstaller/pyinstaller/blob/develop/PyInstaller/utils/hooks/__init__.py#L1043`, and `collect_submodules` [returns](https://github.com/pyinstaller/pyinstaller/blob/develop/PyInstaller/utils/hooks/__init__.py#L529)  a list that

[2020-09-13 10:02] #5118 closed

[2020-09-13 11:13] ma7heuzzz commented on #5159
Was incompatibility with python 3.8m5
i install py 3.8.6r and works fine.

i used windowed and not windowed options

Em sex, 11 de set de 2020 18:06, Brénainn Woodsend <notifications@github.com>
escreveu:

[2020-09-13 11:20] #5159 closed

[2020-09-13 12:52] mrf345 opened #5162 "Add hook for flask_restx missing template files."
**Is your feature request related to a problem? Please describe.**
After packaging a `flask` app that utilizes `flask-restx` extension, I'm getting an error that indicates the package template files are missing.

**Describe the solution you'd like**
Add a hook file to include the extension files.

**Describe alternatives you've considered**
Running the hook file locally.

**Additional context**
[c

[2020-09-13 17:05] mrf345 commented on #5162
Community hooks seem to have been moved to a different repo.

[2020-09-13 17:05] #5162 closed

[2020-09-13 21:45] soufisouf commented on #4002
Hi. I got the same error. Has someone solved it ?

[2020-09-14 04:17] nothyG opened #5165 "include pyqrcode module"
I want to export a python file in a exe file,  but I'm usig pyqrcode module

[2020-09-14 08:22] #5165 closed

[2020-09-14 08:22] soufisouf opened #5166 "Pyinstaller Django-channels url routing not found"
Hello,

I'm trying to pack a django app into an .exe, after a multiple tries (hooks etc...) Everything works fine, except django-channels.
When I run mysite.exe runserver, the app starts but the routing are not found and channels are not working.

Here is my .spec
# -*- mode: python ; coding: utf-8 -*-

block_cipher = None

a = Analysis(['mysite\\manage.py'],
             pathex=['C:\\Users\\SFadi

[2020-09-14 08:24] bwoodsend commented on #5165
If you want support for a specific module then you must [write a hook](https://pyinstaller.readthedocs.io/en/stable/hooks.html) for it.

[2020-09-14 08:26] #5155 closed

[2020-09-14 09:07] soufisouf commented on #4393
Same issue. Any fix please?

[2020-09-14 13:01] SamSchott commented on #5107
I can confirm that the first two return ``None`` but ``ctypes.CDLL("libSystem.B.dylib")._name`` does work.

https://github.com/python/cpython/pull/21241 addresses the issue with ``ctypes.util.find_library`` on macOS Big Sur.

[2020-09-14 14:28] bwoodsend commented on #5107
Well as `ctypes` is standard lib the best we can hope for is for someone to write a backport if we want to support macOS Big Sur on current versions of Python. Looking at those [changes needed](https://github.com/python/cpython/pull/21241/files), I certainly wouldn't attempt to reproduce this into PyInstaller.

I'm still not clear on the impact of this. Is this specific to built-in system librarie

[2020-09-14 15:01] SamSchott commented on #5107
I think it is planned to fully support Big Sur in a future Python 3.8 bugfix release. This still leaves Python 3.7 without the fixes.

This is specific to system libraries only and has been the default in iOS for some time. In my experience, macOS libraries are sufficiently stable so that the don't need to be included. But my experience is limited...

[2020-09-14 15:29] bwoodsend commented on #5107
I suppose the thing to do would be to run the test suite on a Big Sur. Would you be able to do this?

[2020-09-14 17:16] RS357 commented on #5113
@bwoodsend do you have any thoughts regarding my last comment?

[2020-09-14 17:19] SamSchott commented on #5107
Done. The output looks pretty grim but many of the failures seem to be related to not finding the system's Tk library and therefore are directly caused by this issue. For reference, I am using Python 3.8 installed with homebrew.

Attached is a (large) file with the test output.

[pyinstaller_test_macOS_11.txt](https://github.com/pyinstaller/pyinstaller/files/5219988/pyinstaller_test_macOS_11.txt)

[2020-09-14 17:54] bwoodsend commented on #5113
Hmm, I'm guessing what @htgoebel means is add and propagate the `excludes` and `includes` parameters from `collect_data_files` and the `filter` parameter from `collect_submodules`. (Maybe rename them to `exclude_datas` or something to make it clear what goes where.)

Then we could fix the `gevent` hook using something like:
[code]

[2020-09-14 18:09] bwoodsend commented on #5107
Great, thanks for that. Can I ask which version of PyInstaller you used? I'm guessing you cloned the development branch? But it looks like they're all failing in the same place. Namely that `_find_tcl_tk()` hook which we know to be broken but we have an unmerged fix for #5013. Mind if I @mention you once it's merged and you can run it again?

[2020-09-14 19:38] motatoes commented on #5127
Thanks! Closing ..

[2020-09-14 19:38] #5127 closed

[2020-09-14 21:13] SamSchott commented on #5107
I tried both the dev branch and the fix from #5013 with similar results. Still, feel free to @mention me in the PR.

Actually attempting to load the libraries instead of using `macholib.dyld.dyld_find` or `os.path.exists` resolves many of failures. The resulting test output looks much better, however some failures mostly regarding ctypes remain:

[pyinstaller_patched_test_macOS_11.txt](https://git

[2020-09-14 22:25] SpenserHaddad opened #5167 "Submodules within a namespace package do not appear"
## Description of the issue
When using PyInstaller to bundle submodules of a namespace package, where each submodule is its own module ([see the example at PyPA](https://packaging.python.org/guides/packaging-namespace-packages/#packaging-namespace-packages), none of the submodules appear under the namespace when iterating over the namespace using `pkgutil.iter_modules`. Using `from namespace impor

[2020-09-14 22:32] SamSchott commented on #5107
Ah, damn. There was a typo in the patch. It should be `candidate = os.path.join(run_path, lib)` instead of `candidate = os.path.exists(os.path.join(run_path, lib))`. This gets rid of a few strange TypeErrors.

The correct patch:

[bindepend_patch_macos_11.txt](https://github.com/pyinstaller/pyinstaller/files/5221395/bindepend_patch_macos_11.txt)

And the test results:

[pyinstaller_patched_test_2_

[2020-09-15 04:46] domwolfy opened #5169 "Generated .exe is 0KB"
## Description of the issue
Generated .exe is 0KB and can't run.

If I add use a --debug parameter then this issue goes away but then I need to not have the debug output in my program.

## Context information (for bug reports)

(env) C:\Users\dwolfram\github\bugtest>c:\users\dwolfram\.virtualenvs\timesheetbot\Scripts\pyinstaller.exe --onedir --noupx --log-level DEBUG "main.py"
106 INFO: PyInstalle

[2020-09-15 06:49] kontur commented on #5018
Hey,

it does build the binary, but executing it fails:

[code]
&
[code]

[2020-09-15 09:21] bwoodsend commented on #5018
Well the build log is doing what I wanted it to do. Does `--hiddenimport=_sysconfigdata__darwin_darwin` fix the runtime issue? I can't understand why that's emerging now...

[2020-09-15 09:29] bwoodsend commented on #5107
Thanks @SamSchott, that's really helpful. That gives us a pretty good idea of what we need to do - although I don't feel any better about doing it.

[2020-09-15 09:37] bwoodsend commented on #5107
Actually one thing - surely
[code]
would only add the library's name rather than its path? In which case they would not end up in the final build.

[2020-09-15 09:56] soufisouf commented on #4002
up

[2020-09-15 10:08] TimRi91 opened #5170 "Using Pyinstaller with Pygubu GUI-builder"
After using the pygubu-GUI-module I would like to get an exe by using Pyinstaller.

Somehow pyinstaller does not include pygubu.

Does anybody know how this can be done?

My python-template-code with which i am trying to generate a exe:
In the same folder is the `pyapp.ui`-file for the GUI

[code]

[2020-09-15 10:33] kissufj opened #5171 "Unnecessary files added"
There are unnecessary files added after compiling with the pyinstaller. 2 videos, 2 images and 1 GIF. can someone tell me why these are added to the application?
files are located at dist/PROJECT NAME/imageio/resources/images
![Screenshot 2020-09-15 223203](https://user-images.githubusercontent.com/64141529/93200046-638aeb80-f7a3-11ea-844d-ba918ca9eba6.jpg)

[2020-09-15 10:41] SamSchott commented on #5107
Fair point. Finding the actual path however will be more difficult. Personally, I am using the following workaround for system libraries:

[code]

but it's probably better to wait for the official fix of `find_library`.

[2020-09-15 11:49] #5171 closed

[2020-09-15 20:37] SpenserHaddad commented on #5167
One possible workaround/solution I found:

Add a hook that searches for all submodules of the namespace package and adds them as hiddenimports:
[code]

Then run PyInstaller with this hook included and the flag `--debug noarchive`

[2020-09-15 21:35] pinobatch commented on #4628
Can one rebuild the bootloader for Windows using a cross-compiler on Linux? Or does rebuilding the bootloader for Windows require a Windows license?

[2020-09-16 04:45] Legorooj commented on #4628
@pinobatch the easiest method would be the Vagrantfile we provide. We can't cross-compile from Linux>Windows yet I think. However I'm in the process of writing some Dockerfiles for bootloader compilation, so I'll tag you when those are done.

[2020-09-16 05:37] alpana17 commented on #5151
yeah, I tried with https://github.com/six8/pyinstaller-alpine
It works

I am working on alpine container only

[2020-09-16 06:41] Legorooj commented on #4628
Oh apparently you can't run Windows containers on Linux. I suggest a VM as the easiest way to build the bootloader yourself while running Linux.

[2020-09-16 08:20] ApurvaDani opened #5173 "Tensorflow error - (ImportError: DLL load failed while importing _pywrap_tensorflow_internal: The specified module could not be found.)"
+++ ONLY TEXT +++ DO NOT POST IMAGES +++

## Description of the issue
I have installed tensorflow using conda and it works fine in the conda environment. I converted my app into binary file using pyinstaller. While running .exe file, it throws ImportError

Exact Steps Followed:
Used pyarmor pack command to convert my flask app to .exe file
First issue encountered: No module named tensorflow
Copied

[2020-09-16 09:17] JanStarman opened #5174 "Errno 22 Invalid argument"
File "c:\users\name\appdata\local\programs\python\python38-32\lib\site-packages\PyInstaller\building\api.py", line 622, in assemble
    with open(exe, 'rb') as infh:
OSError: [Errno 22] Invalid argument: 'C:\\Users\\name\\PycharmProjects\\excel_script\\build\\main\\run.exe.y1smt00n'

Hi, can someone help with this problem?
It occurs when i run $pyinstaller -F main.py
I have only one python file bu

[2020-09-16 11:36] bwoodsend commented on #5174
@JanStarman Please fill in the [issue template](https://github.com/pyinstaller/pyinstaller/blob/develop/.github/ISSUE_TEMPLATE/bug_report.md). We can't diagnose anything based on the last 3 lines of a stacktrace.

[2020-09-16 11:46] bwoodsend commented on #5173
That just means your using a PyInstaller installed in the wrong environment. Using `python -m PyInstaller` instead of `PyInstaller` guarantees that you don't make this mistake.

And we [just fixed tensorflow](https://github.com/pyinstaller/pyinstaller-hooks-contrib/commit/15632f4eea9b639949b6bdc3fefd1325424b5c84) but this hasn't been released yet so you'll have to install the hooks repo from githu

[2020-09-16 11:46] #5173 closed

[2020-09-16 16:01] benjaminforest opened #5176 "Gtk Hooks collects whole /usr/share folder on macosx"
Hi,
Thanks a lot for the great works done here.
I'm packaging a gtk app under macos, and it seems that the function `collect_glib_share_files` from PyInstaller/utils/hooks/gi.py is collecting ['/usr/local/share/', '/usr/share/']. Which is quite too much, as commented below in the code.

I'm using a gtk installed using Homebrew.
It seems that the problem is that there is a missing trailing "/" when

[2020-09-16 17:42] rokm commented on #5176
This sounds like #5058 (collecting the `/usr/share` instead of e.g., `/usr/share/fontconfig` for Gtk applications).

Can you try using the branch from #5110 to see if it fixes the problem for you? I.e., install the pyinstaller via:
```pip install https://github.com/rokm/pyinstaller/archive/fix-5058.zip```

(If not, then it is a separate issue).

[2020-09-16 19:35] benjaminforest commented on #5176
That's it !
Thanks a lot

[2020-09-16 19:35] #5176 closed

[2020-09-17 02:52] liupx1988 commented on #5096
Try to install KB2533623.

[2020-09-17 09:47] digilevi2006 opened #5177 "Trying to bundle geckodriver.exe but doesn't work"
Hi everyone,

Is the --add-binary option still working?

I've tried `-F --add-binary "geckodriver.exe;."` but the converted file still try to look for the executable in the path...
`Message: 'geckodriver.exe' executable needs to be in PATH.`

I've also tried `-F --add-binary ".\\geckodriver.exe;.\\"`

I'm on windows and I tried python 3.8.3 and 3.7 in virtualenv.

Would appreciate any insight on t

[2020-09-17 11:52] Shraddha-gami-source opened #5178 "Not able to create mac executable if we have used PyautoGUI in python script"
I am facing issue in pyinstaller if I try to make executable file from mac when I use pyautogui library in Python script(Working fine on windows).
After debugging I got to know that issue is when I use pyautogui and pyinstaller together.
So, I've tried this simple program which has just import of pyautogui
demo.py
[code]

It was giving me below error if I just type pyinstaller demo.py --onefile
ex

[2020-09-17 13:19] HennersBro98 commented on #3451
I am also experiencing this exact same issue. My program works as expected when run in IDE, however 3x3 or greater matrix multiplication crashes the program after it has been compiled with pyinstaller. Weirdly, it seems to work with 2x2 multiplication. I have tested with using the @ symbol, and also using np.matmul() and np.dot() and all have the same effect.

[2020-09-17 14:28] rokm commented on #3451
@HennersBro98 What OS are you using? And are you also using a conda environment, like the original report?

[2020-09-17 14:46] benjaminforest commented on #5160
My opinion too. I had the same problem on macosx

[2020-09-17 15:00] bainonline-acpr opened #5179 "Regression: Pyinstaller bootloder solely uses argv[0] to find out the executable which breaks earlier behaviour"
## Description of the issue
Pyinstaller bootloader use to use /proc/self/exe to find out its archive
however this commit https://github.com/pyinstaller/pyinstaller/commit/ebcd49cc387cc599bf003a2b9d91e2643a5a65be#diff-2fe3e43def45bcd044a77b628352405f
Completely removes this and uses argv[0] only to find out the executable currently being run

This breaks following scenario used in our product
1. Bi

[2020-09-17 15:03] bainonline-acpr commented on #5179
@DavidVentura @htgoebel
#3829 cause the above issues

[2020-09-17 15:26] HennersBro98 commented on #3451
Windows 10, and yes I am using a conda environment. I am not using numba, but the same issue occurs at the matrix multiplication.

[2020-09-17 16:02] htgoebel commented on #5179
This seems to be a very edgy case. What hinders you to change the argv[0]?

[2020-09-17 16:54] rokm commented on #3451
Can you try using branch from #5168 to see if that fixes the issue with numpy under conda? I.e., uninstall the installed pyinstaller, then install the PR's branch via `pip install https://github.com/bwoodsend/pyinstaller/archive/fix-numpy-hooks.zip`

If that does not help, please post additional details: version of numpy, version of pyinstaller, and the error message you get from the program when

[2020-09-17 17:57] bainonline-acpr commented on #5179
The issue is already deployed binaries in the field, we can not really patch those, since this is the mechanism to release new updates. The only option for us would be to fork and patch the bootloader, or create something completely different than using pyinstaller.
For now we are stuck using older version of pyinstaller.
Also not exactly case reported here, but there are plenty of times (esp in e

[2020-09-17 18:15] bainonline-acpr commented on #5179
As per below argv[0] is not to be relied upon... However i admit our use (or non use) of argv[0] is also not compliant per say.

**ISO-IEC 9899:
5.1.2.2.1 Program startup**
— If the value of argc is greater than zero, the string pointed to by argv[0]
represents the program name; argv[0][0] shall be the null character if the
program name is not available from the host environment. If the value of a

[2020-09-17 19:47] cdgriffith commented on #4104
Thank you @davinellulinvega for the pointers to the fix. Specifically in my case the muliprocess import had to be the first import and then the freeze had to happen as the first thing in the `if __name__ == '__main__':` section:

[code]

[2020-09-17 21:20] SamSchott commented on #4413
I can confirm that the `CFBundleExecutable` value should only be the executable name, as per Apple's documentation, and not `MacOS/NAME`. This may otherwise cause very difficult to debug issues: macOS will search for the specified executable but won't find it and instead default to assuming that the bundle name matches the executable name (which needn't be the case).

If it cannot find the executa

[2020-09-17 21:32] bwoodsend commented on #3451
Ughh I've seen this one too many times. See [here](https://github.com/pyinstaller/pyinstaller/issues/4968#issuecomment-662075970).

[2020-09-18 03:00] Piskuliki0723 opened #5180 "pip install pyinstaller[encryption] error"
OS Windows 7
VS 2019
![scr](https://user-images.githubusercontent.com/61133932/93550457-18740280-f974-11ea-906f-60b3ac41a520.jpg)

[2020-09-18 03:41] yehuda-elementryx commented on #5018
@bwoodsend - I wanted to let you know that I had a very similar issue and installing the fix you deployed on this branch: `pip install https://github.com/bwoodsend/pyinstaller/archive/fix-sysconfig.zip` worked for me once I added a hidden import for: `_sysconfigdata_m_darwin_darwin`. Hoping this sheds some light.

[2020-09-18 04:33] Shraddha-gami-source commented on #5178
@bwoodsend Why their is dependency of windows library on mac when I use pyinstaller?

[2020-09-18 05:38] bmerkle commented on #3964
meanwhile zscaler has reviewed the URL and classified it as a false positive.
Now our download through zscaler works for
packages/82/96/21ba3619647bac2b34b4996b2dbbea8e74a703767ce24192899d9153c058/pyinstaller-4.0.tar.gz

I think you can change the resolution to fixed now :-)

[2020-09-18 05:46] PrashantM27 opened #5181 "Size of executable on windows and Linux"
Hi, I am creating executable for my PyQt5-Tensorflow based project. I created executable successfully for windows (one dir) which is taking 800Mb. But when I created it for same project on linux it has created executable of size 3.6 GB (one dir). I obserevd that in linux, folder called "share" is getting created where all packages (probably unnecessary) are getting populated. This share folder alo

[2020-09-18 05:50] bwoodsend commented on #5018
Thanks @yehuda-elementryx. I guess the next thing to test now that PyInstaller seemingly builds ok is that `sysconfig` is able to find that header at runtime. Could you build and run the following? I haven't fixed the hidden import so continue to add `--hiddenimport=_sysconfigdata_m_darwin_darwin` explicitly.

[code]

[2020-09-18 05:54] bwoodsend commented on #5178
Ahh, fair point. Could you fill out the issue template properly.

[2020-09-18 08:51] htgoebel commented on #5179
Please stick to *one* topic of each issue, mixing up different cases makes it much more complicated to understand and solve your issue.
Please also be more concrete.

Again: What hinders you to change argv[0] as part of you update

BTW: You are talking about "our product": Did you fund PyInstaller already?

[2020-09-18 09:00] bainonline-acpr commented on #5179
We can not replace the executables in field very easily, the current executables already deployed do not set argv[0] while calling new executables and the changed behaviour in pyinstaller is breaking this autoupdate functionality.

[2020-09-18 09:30] rokm commented on #5181
The size of `share` folder is probably due to #5058. You can try installing pyinstaller branch from #5110: `pip install https://github.com/rokm/pyinstaller/archive/fix-5058.zip`, and see if that helps.

The latest versions of tensorflow are rather large, though, and there's not much that can be done about it - the `_pywrap_tensorflow_internal.so` library accounts for most of the size... (Are you u

[2020-09-18 09:30] shenyingying commented on #5042
i meet the same question,have you solved now?

[2020-09-18 09:39] rokm commented on #5178
There is no dependency on Windows library - `Foundation` is a system library on OSX, found in `/System/Library/Frameworks/Foundation.framework/Foundation`.

However, it is not found due to a subtle bug in the pyinstaller's library loading, which prevents a system library from being found if a directory with a same name exists in the program's directory (and `Foundation` directory ends up created d

[2020-09-18 09:45] bwoodsend commented on #5177
The `--add-binary` doesn't search your computer for you. You must give it a full path. e.g. `--add-binary "C:\program files\gecko\geckodriver.exe";.` (note single `\`s in shell).

[2020-09-18 09:45] #5177 closed

[2020-09-18 10:03] rokm commented on #5178
Can you try installing pyinstaller via `pip install https://github.com/rokm/pyinstaller/archive/fix-dir-shadow-syslib.zip`, and see if that fixes the missing `Framework` error?

[2020-09-18 10:09] bwoodsend commented on #5180
That doesn't have anything to do with PyInstaller. You'd get that just using
[code]
so raise the issue with [naufraghi/tinyaes-py](https://github.com/naufraghi/tinyaes-py).

When you do so I strongly suggest you spend a bit more time reading their issue guidelines than you did with ours if you expect them to take the time to help you. Had this genuinely been a PyInstaller issue, I would have close

[2020-09-18 10:09] #5180 closed

[2020-09-18 10:14] Shraddha-gami-source commented on #5178
[code]

This is fixed.

But the place where I am actually using pyautogui still causing error.
Below is the stacktrace for that
dist/broadcast ; exit;
Traceback (most recent call last):
  File "PyInstaller/hooks/rthooks/pyi_rth_win32comgenpy.py", line 61, in <module>
ModuleNotFoundError: No module named 'win32com.gen_py'
[9585] Failed to execute script pyi_rth_win32comgenpy

[2020-09-18 10:22] Legorooj commented on #5042
If you have this issue, please open a new one.

[2020-09-18 10:37] Shraddha-gami-source commented on #5178
Not sure what caused this issue pyi_rth_win32comgenpy
But I have moved my scripts to another place and your fix worked. Thanks @rokm!!

[2020-09-18 10:37] #5178 closed

[2020-09-18 13:05] yehuda-elementryx commented on #5018
@bwoodsend - I added the above script at the start of the app that I'm freezing. I then ran pyinstaller to generate a single file executable. Running the single file executable renders:
[code]
Is that what you'd had in mind?

[2020-09-18 14:19] bwoodsend commented on #5018
Yep. That's what I wanted to hear. I'll turn this into a pull request then...

[2020-09-18 19:11] HennersBro98 commented on #3451
Thanks @bwoodsend , worked perfectly!

[2020-09-18 21:38] bwoodsend commented on #3451
@HennersBro98 Could you also try the patch PR [as requested](https://github.com/pyinstaller/pyinstaller/issues/3451#issuecomment-694364214) by @rokm?

I should also warn you that although that particular dll is no longer missing, there are an extensive list of other missing dlls just like this except that, as they come with a lot of common programming tools, you probably already have them in `PATH

[2020-09-18 21:44] bwoodsend commented on #5170
Can you be more specific as to what the error is? Please copy/paste the full error message so we don't have to guess.

Do you mean you get a `ModuleNotFoundError` for `pygubu` or something else?

A `pyapp.ui` isn't a Python source file so you have to explicitly add it as a data file using `--add-data=pyapp.ui;.` on Windows or `--add-data=pyapp.ui:.` on Unix. Did you do that?

[2020-09-18 22:03] #4948 closed

[2020-09-19 02:30] npulrj opened #5184 "[windows] Packaged exe can't run when it's located at a chinese-character path"
## Description of the issue
I use pyinstaller packaged a python program as a one-file .exe in windows 10 OS. In the packaged progress, I use 'runtime_tmpdir='.'', to make the released _MEIxxxxxx file will be under the same path with .exe file.
Then when I put the .exe file under a path which not contains chinese character, the  _MEIxxxxxx file will be released under the current path (the same with

[2020-09-19 04:03] pinobatch commented on #4628
Then I guess I might have to put this issue on hold until someone following this issue can raise the resources for a machine strong enough to run a Windows VM and for a Windows license to run in the VM.

[2020-09-19 04:13] Legorooj commented on #4628
@pinobatch you can get free Windows VM images from Microsoft designed for developers. I can also recompile the bootloaders for you if you want.

[2020-09-19 12:43] HennersBro98 commented on #3451
That patch does not seem to work, I get:
OSError: [WinError 123] The filename, directory name, or volume label syntax is incorrect

[2020-09-19 12:58] Dihfahsih1 opened #5185 "Support for python 3.8.3"
I am trying to use current pyinstaller with python 3.8.3 but when i run pyinstaller --onefile filename.py, it creates an empty dist folder without the exe. Is the support for the python 3.8.3 out yet or not supported for now?

[2020-09-19 13:05] bwoodsend commented on #3451
@HennersBro98 Can we have the details please? Is it runtime or buildtime? What's the full error message?

[2020-09-19 13:05] bwoodsend commented on #3451
Oh, and did you remember to use the `--clean` option.

[2020-09-19 13:37] nehaljwani commented on #5040
The following might not be true for all cases, but when I was surprised to see tkinter and it's runtime dependencies popping up in the dist, I ran a pyinstaller with --log-level TRACE to find this:
[code]
And on Linux, after excluding the 'test' module, the following objects were no longer needed:
[code]

[2020-09-19 15:39] HennersBro98 commented on #3451
Using the version of pyinstaller as requested by @rokm: 4.1.dev0
And numpy version: 1.18.5
I used the following command: pyinstaller --onefile --clean -w myFileName.py
This resulted in an error where the last couple of lines of the output were:
File "c:\users\henry\anaconda3\lib\pathlib.py", line 1194, in stat
    return self._accessor.stat(self)
OSError: [WinError 123] The filename, directory nam

[2020-09-19 15:47] HennersBro98 commented on #3451
Apologies, just updated to latest version of numpy (v1.19.2) and the above error is no longer persiting. It also fixes the original numpy matrix multiplication error, thanks!

[2020-09-19 22:35] #5106 closed

[2020-09-20 14:20] judah-b2 opened #5187 "Build Issue"
Im using python 3.8
this is the error
`F:\Demo>pyinstaller --onefile -w pi2.py
1352 INFO: PyInstaller: 3.6
1352 INFO: Python: 3.8.5
1355 INFO: Platform: Windows-10-10.0.18362-SP0
1361 INFO: wrote F:\Demo\pi2.spec
1370 INFO: UPX is not available.
1374 INFO: Extending PYTHONPATH with paths
['F:\\Demo', 'F:\\Demo']
1377 INFO: checking Analysis
1378 INFO: Building Analysis because Analysis-00.toc is n

[2020-09-21 01:45] gilmarfrancisco828 commented on #3923
BLESS YOU, it worked!!!²

[2020-09-21 06:13] Merkwurdichliebe commented on #4177
I am getting this error as well. Downgraded to Python 3.7.6 in my virtual environment as suggested [here](http://pyinstaller.47505.x6.nabble.com/Help-needed-Error-loading-Python-lib-td2872.html) after getting a dlopen error. Now I don't get the error but after freezing I get the same traceback as @tr4g above (no module named 'PySide2'). Any news on that?

macOS 10.15.6 with Python 3.7.6 installed

[2020-09-21 07:14] Merkwurdichliebe opened #5188 "Error while freezing with PyObjC/PySide2"
## Description of the issue

When freezing I get an error apparently related to the import of PyObjC and/or PySide2.

## Context information

* Output of `pyinstaller --version`: ```4.1.dev0```
* Version of Python: 3.7.6 in virtual environment
* Platform: macOS 10.15.6
* Did not try on another platform.

### Stacktrace / full error message

[code]
`.spec` file has the following path added to pathe

[2020-09-21 07:32] rokm commented on #5187
This looks like python installed from Windows Store, which is unsupported, because it prevents access to its libraries.

Use the python from python.org instead.

[2020-09-21 07:32] #5187 closed

[2020-09-21 07:35] rokm commented on #5184
I've reproduced this with development version of pyinstaller and the following minimal example (omitting `tensorflow` as its error is the consequence of incorrectly set `_MEIPASS`):

[code]

`pyinstaller --onefile --runtime-tmpdir . program.py`

Trying to run the resulting `program.exe` from differently-named working directories (either from command prompt, by changing current directory and runnin

[2020-09-21 07:57] rokm commented on #5188
This looks like an issue with your environment. You probably also have `pyinstaller` installed with your python 3.8 in `/usr/local/lib/python3.8`, and that one is being picked up when you run the `pyinstaller` command (check the output of `which pyinstaller`).

Try using `python -m PyInstaller ...` instead of `pyinstaller ...`.

[2020-09-21 08:15] rokm commented on #5184
And the culprit is likely the use of `_fullpath()` instead of `_wfullpath()` in `pyi_path_fullpath`:
https://github.com/pyinstaller/pyinstaller/blob/ad39eb8df209d02636399ffdc44521a97886cf8c/bootloader/src/pyi_path.c#L189-L190

[2020-09-21 08:16] #5151 closed

[2020-09-21 09:10] rokm commented on #5184
I've modified the `pyi_path_fullpath` to use the `__wfullpath`, and it seems to fix the issue for me.

If you want to try it out, you'll need to check out my pyinstaller branch, [build the bootloader](https://pyinstaller.readthedocs.io/en/stable/bootloader-building.html), and install the modified version, e.g. (in a clean virtual environment, and with Visual Studio installed):
[code]

Using the mo

[2020-09-21 11:48] dhgokul commented on #4564
@krunal704  I am also facing same issue. after include paths argument

Platform: Jetson Nano running on Ubuntu 18.04 - jetson pack (4.4)

'4.3.0'

/root/opencv-4.3.0/release/lib/python3/cv2.cpython-36m-aarch64-linux-gnu.so

**cmd:**
pyinstaller --onefile sample.py --paths "/root/opencv-4.3.0/release/lib/python3/cv2.cpython-36m-aarch64-linux-gnu.so"

**Error :**
Traceback (most recent call last):

[2020-09-21 11:50] dhgokul opened #5191 "Jetson nano - include opencv when compiled from source"
@krunal704  I am also facing same issue. after include paths argument

Platform: Jetson Nano running on Ubuntu 18.04 - jetson pack (4.4)

'4.3.0'

/root/opencv-4.3.0/release/lib/python3/cv2.cpython-36m-aarch64-linux-gnu.so

**cmd:**
pyinstaller --onefile sample.py --paths "/root/opencv-4.3.0/release/lib/python3/cv2.cpython-36m-aarch64-linux-gnu.so"

**Error :**
Traceback (most recent call last):

[2020-09-21 12:17] Merkwurdichliebe commented on #5188
From outside of my environment, I did:
[code]
Which gave me:
[code]
Then, from within the environment, I ran the usual command and got the same error. I noticed this among the messages during compile:
[code]
How come it's still going back to the 3.8 version?

I tried `python -m PyInstaller` and got:
[code]

[2020-09-21 14:02] krunal704 commented on #5191
Don't include file name in path argument
Include only folder path like this:
`pyinstaller --onefile sample.py --paths "/root/opencv-4.3.0/release/lib/python3"`

[2020-09-21 16:00] bwoodsend commented on #5185
Python 3.8.3 is supported and works fine for me. Whatever your issue is, it's unlikely to be Python version specific.

[2020-09-21 16:07] bwoodsend commented on #5188
@Merkwurdichliebe You're confusing your virtual environments without realising. The PyInstaller that you are using is not in the same environment as the Python you're using. And the Python you're using doesn't have PyInstaller installed. If you have multiple environments on your machine you should use:
[code]
to install PyInstaller. And
[code]
to run it. Doing so makes it impossible to get them mi

[2020-09-21 17:13] dhgokul commented on #5191
Thanks @krunal704  opencv issue is fixed. But when execute tensorRT in jetson nano board . I got below issue

[TensorRT] ERROR: /home/jenkins/workspace/TensorRT/helpers/rel-7.1/L1_Nightly_Internal/build/source/rtSafe/resources.h (460) - Cuda Error in loadKernel: 3 (initialization error)
[TensorRT] ERROR: INVALID_STATE: std::exception
[TensorRT] ERROR: INVALID_CONFIG: Deserialize the cuda engine fa

[2020-09-21 21:01] johnthagen commented on #5185
Doesn't there latest version published to PyPI only support 3.5-3.7? Isn't using the `master` branch currently required for Python 3.8?

[2020-09-21 21:18] bwoodsend commented on #5185
@johnthagen It's the `develop` branch but yes, PyInstaller 4.0 isn't strictly speaking compatible with Python 3.8 but only just. We had a couple of 3.8 only issues when we released 4.0 so most people get away with using it anyway. But @Dihfahsih1's issue doesn't sound like a 3.8 issue.

[2020-09-22 07:05] Merkwurdichliebe commented on #5188
Apologies. I was absolutely positive that I had installed pyinstaller in the environement but indeed this was not the case. I've installed it through PyCharm and now the application compiles and runs fine.

I am curious about two things: how come pyinstaller was even executed (from outside the environment) after I had uninstalled it through brew, and what is the meaning of the following error that

[2020-09-22 08:15] KarikalStrom opened #5193 "warnings when using pyinstaller and numpy please help"
Warnings are :
29900 WARNING: Hidden import "pkg_resources.markers" not found!
.
.
41173 WARNING: lib not found: impi.dll dependency of c:\users\omen\anaconda3\Library\bin\mkl_blacs_intelmpi_ilp64.dll
41417 WARNING: lib not found: mpich2mpi.dll dependency of c:\users\omen\anaconda3\Library\bin\mkl_blacs_mpich2_lp64.dll
41465 WARNING: lib not found: impi.dll dependency of c:\users\omen\anaconda3\Li

[2020-09-22 11:01] bwoodsend commented on #5188
You can install PyInstaller using brew?

As for the libshiboken2 error - it is quite worrying that you're seeing that. Are there any libshiboken2 dylibs in you compiled app? I'm surprised it works at all if there not there somewhere.

You can break PyQt5 and PySide2 up into bits and take only the components you need. For most applications you only need QtCore, QtGui, and QtWidgets. We do have a ra

[2020-09-22 11:27] Merkwurdichliebe commented on #5188
Apparently. Just tried it again.
[code]

[code]

`a.binaries` is just an empty list in my `.spec` file. Nothing to remove there. I'd rather not touch `a.datas` either, since I finally got the app to compile and I'm not knowledgeable enough in either Python or PyInstaller to attempt that for the moment. It's no big deal, though. I can live with a 100mb executable. I was just curious, and compile re

[2020-09-22 11:31] rokm commented on #5188
The `shiboken2` dynamic library errors should be harmless.

The PySide2 dynamic libraries are linked against it with `@rpath`,
[code]
but the `@rpath` entries actually point at either `@loader_path` or `@loader_path/Qt/lib`, so we end up looking for it in the library's current location.

The library is actually located in `site-packages/shiboken2/libshiboken2.abi3.5.15.dylib`. I guess we still man

[2020-09-22 11:41] rokm commented on #5188
The translations are for the Qt framework itself, though. So if your user had a non-English locale, some parts of the application (e.g., error messages from the Qt itself) would end up translated. (Which may or may not be desirable).

The "Qt files" (e.g., `QtNetwork`) are dynamic libraries. Some may be safe to remove if you are not using that functionality, but you'll need to determine those expe

[2020-09-22 13:08] judah-b2 commented on #5187
Is there any way to build a full folder of dependencies and scripts?

[2020-09-22 14:24] #5188 closed

[2020-09-22 14:28] bwoodsend commented on #5193
PyInstaller doesn't support and is incompatible with Anaconda's numpy. Please use pip instead.

[2020-09-22 14:28] #5193 closed

[2020-09-23 07:11] #5137 closed

[2020-09-23 07:17] bwoodsend commented on #4885
I imagine this is also due to #5058

[2020-09-23 07:17] bwoodsend commented on #4883
Closing due to lack of response from the original author. Will re-open if you
(or anyone else who has this issue) gets back to us by commenting below.

[2020-09-23 07:17] #4883 closed

[2020-09-23 07:24] #4675 closed

[2020-09-23 07:25] bwoodsend commented on #4532
Closing due to lack of response from the original author. Will re-open if you
(or anyone else who has this issue) gets back to us by commenting below.

[2020-09-23 07:25] #4532 closed

[2020-09-23 07:26] bwoodsend commented on #4420
Closing due to lack of response from the original author. Will re-open if you
(or anyone else who has this issue) gets back to us by commenting below.

[2020-09-23 07:26] #4420 closed

[2020-09-23 07:35] #3908 closed

[2020-09-23 07:38] bwoodsend commented on #3902
Closing as this appears to by Python 2 only which is no longer supported. If it crops up again on modern versions of Python then please raise a new issue.

[2020-09-23 07:38] #3902 closed

[2020-09-23 07:39] bwoodsend commented on #3800
Closing due to lack of response from the original author. Will re-open if you
(or anyone else who has this issue) gets back to us by commenting below.

[2020-09-23 07:39] #3800 closed

[2020-09-23 07:48] Legorooj commented on #4885
It is. I'll tag @rokm so he makes sure that this is fixed when fixing #5058.

[2020-09-23 09:04] #2752 closed

[2020-09-23 09:11] #2444 closed

[2020-09-23 09:13] #2373 closed

[2020-09-23 09:16] bwoodsend commented on #2339
It's certainly working now

[2020-09-23 09:16] #2339 closed

[2020-09-23 09:23] Shraddha-gami-source opened #5194 "Run unix executable from another unix executable on Mac"
Is their any way to run unix executable from another unix executable.

In windows I was running exe like this
[code]

I don't know how to do it on mac as their is no extension of executable file.

I've tried this in python script and it was working but when I created executable file It was showing

[code]

[2020-09-23 11:01] bwoodsend commented on #5002
This was fixed in [#46](https://github.com/pyinstaller/pyinstaller-hooks-contrib/pull/46). When we release it you should be able to:
[code]
But in the meantime use:
[code]

[2020-09-23 11:01] #5002 closed

[2020-09-23 11:40] Legorooj commented on #2339
@htgoebel @bjones1 @rasky what do you think about moving the list to python.org? I can acquire us a list there. I'm also already looking at solutions like discourse for the future.

[2020-09-23 13:12] bjones1 commented on #2339
Either is fine with me (Python or Discourse mailing list).

[2020-09-23 14:20] Siron777 opened #5195 "binCache interferes with concurrent runs of pyinstaller"
Hi,

I am using pyinstaller to build concurrently several executables, and there are some errors due to interference in the binCache folder. I guess for example that one build clean the folder while another build is using it. If I do not do concurrent call to pyinstaller, everything is working fine.

I understand the idea of speeding up the build with the binCache, but this kind of interferences w

[2020-09-23 14:35] engineervix commented on #1894
Thanks @Schmetzler for this, I was going crazy! I'm building a [Gooey](https://github.com/chriskiehl/Gooey) application and I had already excluded `vcruntime140.dll`,  and ``python38.dll` but kept encountering an error whenever I ran the application. After excluding `vcruntime140.dll`, everything worked perfectly 😄

[2020-09-23 15:30] marcelstoer commented on #2339
@htgoebel earlier stated

This rules out discourse.org AFAIK.

[2020-09-24 08:45] ENDERZOMBI102 commented on #4346
i may have this error too, i'm trying to setup appveyor but pyinstaller cuntinue to give me this error, i already tried sys.setrecursionlimit() but it didn't work, there's another solution in the works?

[2020-09-24 12:18] Merkwurdichliebe opened #5196 "PySide2 freeze OK on Catalina, not when copied to El Capitan"
## Description of the issue

When freezing a PySide2 application, the macOS bundle works on Catalina but crashes when copied to a system running El Capitan (even when run from Terminal).

## Context information

* Output of `pyinstaller --version`: ```4.0```
* Version of Python: 3.7.6 in virtual environment
* Platform: macOS Catalina 10.15.6
* Other platform (crashed): OS X El Capitan 10.11.6

###

[2020-09-24 13:02] rokm commented on #5196
According to [this](https://github.com/biolab/orange3/issues/4323), Qt 5.9 is the last Qt release that supports El Capitan.

Your error message also seems to support this: ```Referenced from: /Users/elcap/Public/Drop Box/MyApp.app/Contents/MacOS/PySide2/../QtCore (which was built for Mac OS X 10.13)```

So I wouldn't expect that Qt library to work on macOS older than 10.13...

(Unless you can mayb

[2020-09-24 13:42] Juansbulbisful commented on #5184
Cool good work

[2020-09-24 14:00] Merkwurdichliebe commented on #5196
I missed that. The [supported platforms](https://doc.qt.io/qt-5/supported-platforms.html) indeed start with 10.13. Unfortunately this rules out even displaying an info dialog box saying that the system isn't supported (unless I also import Tkinter for this...) Thanks a lot.

[2020-09-24 15:40] npulrj commented on #5184
Thanks for your answer, I will try it!

[2020-09-24 15:50] KarikalStrom commented on #5193
thanks so much

[2020-09-24 19:01] KarikalStrom opened #5197 "pyinstaller created exe but not working I provided all libraries used please help !!"
so for the libraries i used are :
import tkinter as tk
from tkinter.filedialog import askdirectory
from tkinter.filedialog import askopenfilename
import os
from tkinter import *
from tkinter.ttk import *
import numpy as np
import torch
import cv2
import pydicom
from PIL import  ImageTk
import PIL
from tkinter import messagebox
import time
import pretrainedmodels
import torch.nn as nn
import torchv

[2020-09-24 20:55] mbollemeijer commented on #4346
I solved it by installing pyinstaller from @htgoebel fix
`pip3 install git+https://github.com/htgoebel/pyinstaller@issue-4158-pydantic`

[2020-09-24 21:47] schlomo opened #5198 "Allow cross-building Windows EXE on Linux"
**Problem**: I have a Linux CI/CD pipeline and need to build a command line tool for Windows.

**Idea**: Use [wenv](https://github.com/pleiszenburg/wenv) to run pyinstaller in [wine](https://www.winehq.org/).

**Problem**: It doesn't fully work, the resulting Windows EXE doesn't work with a `ModuleNotFoundError: No module named 'codecs'` error.

**Please** help to get this working, being able to b

[2020-09-24 23:28] coldfire79 commented on #4683
I think it's not fixed yet.

[2020-09-25 02:56] Legorooj commented on #2339
@marcelstoer If hartmut can come up with a better reason to use EU hosting than

I'll reconsider. However, these 3 really don't care about us - in their eyes we're a small open source project that isn't particularly interesting. They are also far from the worst agencies in the world when it comes to how they use the data they gather.

If we can get discourse.org hosting for free I really can't see

[2020-09-25 04:35] #5169 closed

[2020-09-25 04:36] domwolfy commented on #5169
Turns out this was Symanted Endpoint Protection flagging this as "Heuristic Virus / Heur.AdvML.B". It was deleting the .exe with no notification.

Not a problem with pyinstaller.

[2020-09-25 06:21] marcelstoer commented on #2339
I'm not involved in this project other than being a user (and issue reporter sometimes). Hence, I can accept than the opinions of the maintainers count more than mine. However, I find this

a bit condescending. Different parts of the world have historically and culturally a different perspective on privacy. For me personally _one_ of those organizations is reason enough to favor hosting in regions

[2020-09-25 11:48] SomberNight commented on #5198
We have been building [Windows exes for Electrum using pyinstaller in wine](https://github.com/spesmilo/electrum/tree/aae06116f9cff9e3540c20a8fb6e51011ca9b3ab/contrib/build-wine) for several years.
Have not tried to bundle Python 3.8 yet though (currently using 3.7.9).

[2020-09-25 12:16] schlomo commented on #5198
Wow! Thanks @SomberNight for this link, very interesting to see how you install Python from MSI.

[2020-09-25 13:00] genivalvb opened #5199 "When I created onefile exe from python project - when double click in exe nothing happen"
Hello Sirs,

Please, I would like have a help if possible?
I create an app to execute SAP scripts, it load data from two sources, it use sqlite to store data temporary, it use PYQT5 to have an interface(Desktop app), but now when I create the exe and double click in EXE nothing happening more.
Could you help me or if somebody got this issue could shared the solution with me please?

Pyinstaller lo

[2020-09-26 01:39] AhmedAbd-ElFattah opened #5200 "Failed to execute script with tensorflow2"
I have the problem of failed to execute script when I use tensorflow  2 library on my script.
Print on cmd.

File "tensorflow\lite\experimental\microfrontend\python\ops\audio_microfrontend_op.py", line 29, in <module>
  File "tensorflow\python\framework\load_library.py", line 58, in load_op_library
tensorflow.python.framework.errors_impl.NotFoundError: C:\Users\ahmed\output\main_class2\tensorflow\

[2020-09-26 11:29] bwoodsend commented on #5200
We made some fixed to the tensoflow hook yesterday. Could you:
[code]
Then try rebuilding. Make sure you use the `--clean` option. i.e.
[code]

[2020-09-26 11:32] bwoodsend commented on #5199
Run from terminal to get see what's going wrong. i.e.
[code]

[2020-09-26 11:37] bwoodsend commented on #5197
We need a runtime traceback, like it says in the template, to help you. All you've told us is your big project (with 1000s of possible ways to go wrong) didn't work.

[2020-09-26 11:38] #5196 closed

[2020-09-26 11:40] #5174 closed

[2020-09-26 11:41] #5170 closed

[2020-09-26 12:04] npulrj commented on #5184
I try it, and it really works!
Thanks a lot!
ps: Hope this will be fixed in next version.

[2020-09-26 12:04] #5184 closed

[2020-09-26 12:37] bwoodsend commented on #5195
You can override PyInstaller's temp directory with the `PYINSTALLER_CONFIG_DIR` environment variable. Assuming Windows:
[code]
puts the binCache at `./pyinstaller/bincache00_py38_64bit/` (obviously with different version numbers).

[2020-09-26 14:09] AhmedAbd-ElFattah commented on #5200
@bwoodsend  Problem solved thanks a lot .

[2020-09-26 14:09] #5200 closed

[2020-09-26 16:28] jat255 commented on #3905
I would highly recommend using something like Zenodo to obtain a free DOI for this library. Allowing academics to easily cite the package with a persistent identifier will help enhance the discoverability of the project (and it's very little work to set up Zenodo).

[2020-09-27 00:06] adigunsherif commented on #5145
return _old_restart_with_reloader(*args)
  File "django\utils\autoreload.py", line 242, in restart_with_reloader
  File "django\utils\autoreload.py", line 229, in get_child_arguments
RuntimeError: Script runserver does not exist.
[16844] Failed to execute script manage

[2020-09-27 08:01] JapinderSandhu commented on #4865
How do I solve this issue? I have the same problem I am using

python 3.8.5
opencv-python 4.4.0.44
pyinstaller 4.0

please let me know as this is major issue as I use pyinstaller for my backend server.

Is there any workarounds?

[2020-09-27 08:25] JapinderSandhu commented on #2322
Thanks ! This actually worked for me:

Before:

    multiprocessing.set_start_method('spawn')

After:

    multiprocessing.freeze_support()
    multiprocessing.set_start_method('spawn')

[2020-09-27 08:26] JapinderSandhu commented on #4865
i solved!

 This actually worked for me:

https://github.com/pyinstaller/pyinstaller/issues/2322

Before:

[code]

After:

[code]

[2020-09-27 10:18] eramyang opened #5202 "I got a error on PyInstaller installing by tar file, I want to know this is a bug or my vm problem, thanks"
![image](https://user-images.githubusercontent.com/57522485/94362435-cf4b4d80-00ed-11eb-9089-71903610682a.png)

[2020-09-27 10:40] Legorooj commented on #4865
@JapinderSandhu the development branch should work. `pip install https://github.com/pyinstaller/pyinstaller/archive/develop.zip`.

[2020-09-27 11:58] rokm commented on #5202
It's a problem with incorrect order of command-line arguments. That should be: `python setup.py install`.

[2020-09-27 11:58] #5202 closed

[2020-09-27 12:08] motatoes commented on #5154
Started work on this feature to create a new class `osx.APP_CONSOLE` inherits from `BUNDLE` which will create the hack of using a bash script to launch a console app

[2020-09-27 19:28] KarikalStrom commented on #5197
so i'm honestly not sure what to provide exactly here is first of all the code :
import tkinter as tk
from tkinter.filedialog import askdirectory
from tkinter.filedialog import askopenfilename
import os
from tkinter import *
from tkinter.ttk import *
import numpy as np
import torch
import cv2
import pydicom
from PIL import  ImageTk
import PIL
from tkinter import messagebox
import time
import pretr

[2020-09-27 19:29] KarikalStrom commented on #5197
here is what i had executing the command C:\Users\OMEN\Desktop\exetry>pyinstaller --onefile intracranial.py :
87 INFO: PyInstaller: 4.0
87 INFO: Python: 3.8.6rc1
87 INFO: Platform: Windows-10-10.0.18362-SP0
88 INFO: wrote C:\Users\OMEN\Desktop\exetry\intracranial.spec
90 INFO: UPX is not available.
98 INFO: Extending PYTHONPATH with paths
['C:\\Users\\OMEN\\Desktop\\exetry', 'C:\\Users\\OMEN\\Desk

[2020-09-27 19:30] KarikalStrom commented on #5197
here is what i have running the .exe file :
[8924] WARNING: file already exists but should not: C:\Users\OMEN\AppData\Local\Temp\_MEI89242\torch\_C.cp38-win_amd64.pyd

and after some more time it ends

[2020-09-27 19:42] bwoodsend commented on #5197
No that's a build log. I don't want to see that. I need to know what you get when you launch the executable from cmd. i.e Run:
[code]
Copy the contents of the terminal to here.

[2020-09-27 19:44] KarikalStrom commented on #5197
thanks i ll give you that right away it just take time to get completed

[2020-09-27 19:47] KarikalStrom commented on #5197
C:\Users\OMEN>C:\Users\OMEN\Desktop\exetry\dist\intracranial.exe
[8808] WARNING: file already exists but should not: C:\Users\OMEN\AppData\Local\Temp\_MEI88082\torch\_C.cp38-win_amd64.pyd
Traceback (most recent call last):
  File "Intracranial.py", line 24, in <module>
  File "c:\users\omen\appdata\local\programs\python\python38\lib\site-packages\PyInstaller\loader\pyimod03_importers.py", line 493

[2020-09-27 19:49] johnthagen commented on #5198
This project uses Wine inside of Docker to build Windows exe. Might also be of interest: https://github.com/cdrx/docker-pyinstaller

[2020-09-27 21:20] genivalvb commented on #5199
Hello bwoodsend,

I did this, but the command prompted was empty, not any message appeared.

[2020-09-27 21:47] bwoodsend commented on #5197
Looks like a dll's gone missing.

What exactly is line 24 of  `Intracranial.py`?

[2020-09-27 21:48] KarikalStrom commented on #5197
from albumentations import Compose,Normalize

[2020-09-27 22:22] bwoodsend commented on #5199
Well there's not much I can do then as I don't even know what you're doing. You can either add lots of print statements to see how far it gets or temporarily skip portions of your code to see if they are causing issues.

[2020-09-27 22:30] bwoodsend commented on #5197
Well it works when I try it. Can we have a `pip freeze`

[2020-09-27 22:31] KarikalStrom commented on #5197
could you explain please ?

[2020-09-27 22:35] KarikalStrom commented on #5197
could you try to do all the imports and check if any of them cause a problem while making an exe file ? i know its a bit too much but I really would appreciate it

[2020-09-27 22:37] KarikalStrom commented on #5197
C:\Users\OMEN\Desktop\exetry>pip freeze
albumentations==0.4.6
altgraph==0.17
certifi==2020.6.20
click==7.1.2
cycler==0.10.0
decorator==4.4.2
future==0.18.2
imageio==2.9.0
imgaug==0.4.0
kiwisolver==1.2.0
matplotlib==3.3.2
munch==2.5.0
networkx==2.5
numpy==1.19.2
opencv-python==4.4.0.44
pefile==2019.4.18
Pillow==7.2.0
pretrainedmodels==0.7.4
pydicom==2.0.0
pydiq==0.2.2
pyinstaller==4.0
pyinstaller-h

[2020-09-28 01:30] #3753 closed

[2020-09-28 03:41] JapinderSandhu commented on #4865
@Legorooj  I installed this as you suggested:

`pip install https://github.com/pyinstaller/pyinstaller/archive/develop.zip.`

Python 3.7.9
pyinstaller   4.1.dev0
opencv-python   4.4.0.44

and commented out
[code]

the executable crashes so installing the dev pyinstaller did not work.

[2020-09-28 03:42] Legorooj commented on #4865
@JapinderSandhu what's the error it crashes with?

[2020-09-28 04:04] andyfaff commented on #4865
From memory the freeze_support should be used.

[2020-09-28 04:12] JapinderSandhu commented on #4865
@andyfaff  @Legorooj

Without using freeze_support I get

[code]
the traceback is not really informative

using freeze_support everything works fine.

so I will go back to regular pyinstaller 4.0 instead of pyinstaller 4.1.dev0

thanks

[2020-09-28 04:14] andyfaff commented on #4865
If using freeze_support works then why aren't you using it?

[2020-09-28 06:23] sancelot commented on #5195
I suppose I have had the same problem in my parallel jobs in jenkins.
for unknown reasons, it stopped working reporting :
[code]

I had to investigate where was the problem and found the problem coming from this file :
C:\Windows\system32\config\systemprofile\AppData\Roaming\pyinstaller\bincache00_py38_64bit\index.dat

[2020-09-28 08:16] Siron777 commented on #5195
Thank you very much for that precision @bwoodsend . It is indeed a lot cleaner.
I think it would still be better to make it more explicit through a configuration parameter instead of an environment variable.  And to explain the limitation with concurrent run of pyinstaller. But beside that, if you do not share my opinion on the subject, I can understand if this issue is closed.

[2020-09-28 08:53] fangchaooo opened #5204 "Build exe can not create database(sqlite3)"
## Description of the issue
I write some code it use sqlite3. If I run my python script on my python venv env, it can create new database named "test.db" when this db is not exists. My steps below:

1. use "python xx.py".  It's success. "test.db" created!
2. pyinstaller -F main.py. **NO ERROR** It build a exe. The info show below
3. Run exe, it do nothing, not my except, no "test.db" created! and

[2020-09-28 09:23] #5194 closed

[2020-09-28 09:35] Shraddha-gami-source commented on #5204
You can add your db file using `add-data 'dbfile;.'` while creating your exe
and add this code in the file you are using/creating db
[code]
use conn = sqlite3.connect(resource_path('test.db'))

and to create a new db you can use in your python script
[code]

[2020-09-28 11:09] bwoodsend commented on #5195
@Siron777 I don't suppose you're launching all your concurrent builds from the same working directory? In which case `PYINSTALLER_CONFIG_DIR` would need to be dependent on the build so as to be unique.

And, to be honest, yes. This is a bit too niche to get much priority. If I want concurrency I use CI/CD...

[2020-09-28 13:58] cashmerebuffalo opened #5205 "Failed to execute script Problem"
So today i was finishing up on my python program and used pyinstaller to convert it to an .exe but to my dismay, when i attempted to open the program, it would say "failed to execute script problem". The program works perfectly fine when running on idle.

Here is my program:

[code]

If anyone knows or can tell me why the .exe does not work, that would be great :)

Thanks

[2020-09-28 16:07] rokm commented on #5040
Hmm, this is a bit different from other macOS Tcl/Tk issues (which we are in process of finally fixing), because it is a recent python (3.8.5) that still uses system Tcl/Tk framework - presumably this is a homebrew version (instead of the python.org build)?

At any rate, due to Big Sur hiding system libraries (see #5107), [this `getImports()` call](https://github.com/pyinstaller/pyinstaller/blob/9

[2020-09-28 16:48] bwoodsend commented on #5205
This is an issue board, not a support channel.

[2020-09-28 16:48] #5205 closed

[2020-09-28 16:50] nehaljwani commented on #5040
@rokm No, the output I shared is on Linux, using the conda-forge build of python 3.7

[2020-09-28 16:58] rokm commented on #5197
I think this will be easier to narrow down with a minimal reproducer. @KarikalStrom, can you try building the following simple programs and see if they run?

`program1.py`:
(I have to build this one with `--hidden-import "skimage.feature._orb_descriptor_positions"` to avoid a `ModuleNotFoundError`)
[code]

`program2.py`:
[code]

If you get the same `_fblas` DLL error with either of the above simpl

[2020-09-28 17:02] KarikalStrom commented on #5197
so im building and running on the same machine i ll make the two programs right away and do you want me to try to do it with --onedir and not --onefile ?

[2020-09-28 17:09] KarikalStrom commented on #5197
for the build 1 it didnt work so definetly albumentations problem here is what i got :
C:\Users\OMEN\Desktop\trytobuild\build1>pyinstaller --onefile C:\Users\OMEN\Desktop\trytobuild\build1\build1.py
204 INFO: PyInstaller: 4.0
204 INFO: Python: 3.8.6rc1
204 INFO: Platform: Windows-10-10.0.18362-SP0
208 INFO: wrote C:\Users\OMEN\Desktop\trytobuild\build1\build1.spec
212 INFO: UPX is not available.
2

[2020-09-28 17:10] KarikalStrom commented on #5197
So build1 definetly didnt work it got created the exe file but its not working here are the results :
C:\Users\OMEN\Desktop\trytobuild\build1>pyinstaller --onefile C:\Users\OMEN\Desktop\trytobuild\build1\build1.py
204 INFO: PyInstaller: 4.0
204 INFO: Python: 3.8.6rc1
204 INFO: Platform: Windows-10-10.0.18362-SP0
208 INFO: wrote C:\Users\OMEN\Desktop\trytobuild\build1\build1.spec
212 INFO: UPX is n

[2020-09-28 17:13] KarikalStrom commented on #5197
C:\Users\OMEN\Desktop\trytobuild\build2>C:\Users\OMEN\Desktop\trytobuild\build2\dist\build2.exe
[[-2.   1. ]
 [ 1.5 -0.5]]

[2020-09-28 17:14] #5185 closed

[2020-09-28 17:24] rokm commented on #5197
For `program1`, try running `pyinstaller --hidden-import "skimage.feature._orb_descriptor_positions program1.py`.

Also, please avoid pasting the build log (unless asked for it), and paste only output for program execution.

[2020-09-28 17:29] Siron777 commented on #5195
@bwoodsend, the jobs are part of a cmake build and the concurrency is orchestrated by ninja. Actually two of our targets are triggering pyinstallers.  For my case the configuration of PYINSTALLER_CONFIG_DIR did solve the issue, and I configure it indeed with different target folder for each target.
Concerning CI/CD for concurrency, this is exactly the circumstance of the occurrence of @sancelot.

[2020-09-28 17:37] bwoodsend commented on #5195
Oops. I completely failed to notice I was talking to two different people. That explains a lot. In which case @sancelot my [above question](https://github.com/pyinstaller/pyinstaller/issues/5195#issuecomment-699940139) is meant for you then.

[2020-09-28 18:01] JapinderSandhu commented on #4865
@andyfaff I am using freeze_support and it works with pyinstaller 4.0 everything works.

i dont want to use pyinstaller 4.1.dev0 because its unstable at the moment? I dont want to ship unstable dev library in my production code.

[2020-09-28 20:35] rokm commented on #5197
I think I've managed to reproduce the issue. Adding `torch` import to the `program2.py` triggers the `ImportError: DLL load failed: The specified module could not be found.` in `File "scipy\linalg\blas.py", line 213˙`.

I'd say this means that there's some shared library incompatibility between `scipy` and `torch`.

Below is a bit more complete example that incorporates code from a basic `pytorch`

[2020-09-28 20:52] KarikalStrom commented on #5197
my problem isnt with scipy its with albumentations tho and even if i do a file with only :
from albumentations import Compose,Normalize
print("Import succeeded")
it doesnt seem to work i shared the result from the build and the errors @rokm

[2020-09-28 21:05] rokm commented on #5197
The error in your program occurs in `scipy.linalg`, which is indirectly imported by `albumentations`.

Based on the error messages you posted, the full import chain is: `Intracranial.py -> albumentations\__init__.py -> albumentations\augmentations\transforms.py -> skimage\measure\__init__.py -> skimage\measure_polygon.py -> scipy\signal\__init__.py -> scipy\signal\windows\__init__.py -> scipy\sign

[2020-09-28 21:08] KarikalStrom commented on #5197
can you tell me the whole pyinstaller command i will have to execute ? Ty so much for your help

[2020-09-28 21:16] rokm commented on #5197
`pyinstaller --hidden-import "skimage.feature._orb_descriptor_positions" --clean program1.py`

[2020-09-28 21:20] KarikalStrom commented on #5197
thanks will try it right away

[2020-09-28 21:25] KarikalStrom commented on #5197
Still not working here is the building process + the what happend when i launched exe file :
C:\Users\OMEN\Desktop\trytobuild\build1>pyinstaller --hidden-import "skimage.feature._orb_descriptor_positions" --clean build1.py
166 INFO: PyInstaller: 4.0
166 INFO: Python: 3.8.6rc1
167 INFO: Platform: Windows-10-10.0.18362-SP0
168 INFO: wrote C:\Users\OMEN\Desktop\trytobuild\build1\build1.spec
171 INFO:

[2020-09-28 22:14] genivalvb commented on #5199
Hello bwoordsend,

In this image, I'm running from PYcharm directly.
In this app, I open the general window, next step I use menu to open the next window "SAP Users Create1" .
After I clicked in button "01-Carregar Dados", the data are loads and after I click in "02-Load Screen" and in this moment the data appears in the fields. All work by PYCharm.

![image](https://user-images.githubusercontent.

[2020-09-28 22:15] genivalvb commented on #5199
The data in main file that is used in pyinstaller to create the EXE file are:
#!/usr/bin/env python3
import sys

from PyQt5.QtWidgets import *
from MyWindow import MyWindow

from auxiliares.controlar_log import *

class MainWindow(QMainWindow):
    count = 0

    def __init__(self):
        super(MainWindow, self).__init__()
        self.mdi = QMdiArea()
        self.setCentralWidget(self.mdi)

[2020-09-28 22:18] genivalvb commented on #5199
The file MyWindow() where I control more the interface.
#!/usr/bin/env python3

from PyQt5.QtWidgets import *

from ControleCSV import *
from conflitos import ConflitoGeral
from db.conflito import Conflito
from usuario import *
from db_dao_smartprocess import *
from db_dao_sap import *

from ui_create_user import Ui_Form

from auxiliares.carregar_users_in_database import CarregaUsers
from auxiliar

[2020-09-28 22:26] rokm commented on #5197
Hmm, it works for me, so I'm not sure what the issue is on your end.

Can you check if:
a) in your environment, `site-packages\skimage\feature` contains a file called `_orb_descriptor_positions.py`?
b) after the build completes, if this file is referenced in `build\build1\PYZ-00.toc`? The entry should look like
[code]

[2020-09-28 22:32] KarikalStrom commented on #5197
PYZ-00.toc :

[base_library.zip](https://github.com/pyinstaller/pyinstaller/files/5295376/base_library.zip)

[2020-09-28 22:34] KarikalStrom commented on #5197
PYZ-00.toc has more than 3000 line i ll transfer them
('C:\\Users\\OMEN\\Desktop\\trytobuild\\build1\\build\\build1\\PYZ-00.pyz',
 [('ssl',
   'c:\\users\\omen\\appdata\\local\\programs\\python\\python38\\lib\\ssl.py',
   'PYMODULE'),
  ('calendar',
   'c:\\users\\omen\\appdata\\local\\programs\\python\\python38\\lib\\calendar.py',
   'PYMODULE'),
  ('argparse',
   'c:\\users\\omen\\appdata\\local

[2020-09-28 22:34] rokm commented on #5197
Uh, no, don't paste the contents of that file here...

[2020-09-28 22:35] KarikalStrom commented on #5197
ok so what do i need to do ?

[2020-09-28 22:36] rokm commented on #5197
Just do a search through it yourself and check if it contains `skimage.feature._orb_descriptor_positions` entry.

[2020-09-28 22:36] KarikalStrom commented on #5197
('skimage.feature._orb_descriptor_positions',
   'c:\\users\\omen\\appdata\\local\\programs\\python\\python38\\lib\\site-packages\\skimage\\feature\\_orb_descriptor_positions.py',
   'PYMODULE'),

[2020-09-28 22:36] KarikalStrom commented on #5197
this one exists

[2020-09-28 22:37] KarikalStrom commented on #5197
sorry for the struggles

[2020-09-28 22:54] rokm commented on #5197
Ah, I think I get it now... we're now building in `onedir` mode (the default), but `C:\Users\OMEN\Desktop\trytobuild\build1\dist\build1.exe` that you're trying to run is an old `onefile` build. The new one should be:
`C:\Users\OMEN\Desktop\trytobuild\build1\dist\build1\build1.exe`.

(Just to make sure, remove the `dist` folder completely and try to rebuild the program).

[2020-09-28 22:55] KarikalStrom commented on #5197
ok its taking sometime deleting one moment

[2020-09-28 22:59] KarikalStrom commented on #5197
the build execution :
C:\Users\OMEN\Desktop\trytobuild\build1>pyinstaller --hidden-import "skimage.feature._orb_descriptor_positions" --clean build1.py
87 INFO: PyInstaller: 4.0
87 INFO: Python: 3.8.6rc1
87 INFO: Platform: Windows-10-10.0.18362-SP0
87 INFO: wrote C:\Users\OMEN\Desktop\trytobuild\build1\build1.spec
91 INFO: UPX is not available.
91 INFO: Removing temporary files and cleaning cache

[2020-09-28 22:59] KarikalStrom commented on #5197
the exe file :
C:\Users\OMEN\Desktop\trytobuild\build1>C:\Users\OMEN\Desktop\trytobuild\build1\build\build1\build1.exe
Error loading Python DLL 'C:\Users\OMEN\Desktop\trytobuild\build1\build\build1\python38.dll'.
LoadLibrary: Le module spÚcifiÚ est introuvable.

sorry for the french part it's basicly saying the module couldn't be found

[2020-09-28 23:08] rokm commented on #5197
You're trying to run the wrong executable (i.e., the one in `build` directory instead of the one in the `dist` directory). The correct path is:
`C:\Users\OMEN\Desktop\trytobuild\build1\dist\build1\build1.exe`

[2020-09-29 00:57] Legorooj commented on #4865
@JapinderSandhu our development branch is much more stable than most development branches. But if freeze_support works, that's fine.

[2020-09-29 01:20] QixianX opened #5207 "Can not use tensorflow-gpu version in other machine.(Ubuntu)"
While packaging the code as an executable file, the file work well on the machine which build it. The GPU can be called smoothly even though I have removed the cuda soft connection in /usr/local/, but when testing on other machines, I can only use  CPU version.
Packaging environment:
- system: Ubuntu 16.04

- python: 3.6.0

- tensorflow: 1.12.0

- cuda: 9.0

- cudnn: 7.6.5

[2020-09-29 02:39] fangchaooo commented on #5204
Build with '--onedir' fix the bug

[2020-09-29 05:42] KarikalStrom commented on #5197
C:\Users\OMEN\Desktop\trytobuild\build1\dist\build1>C:\Users\OMEN\Desktop\trytobuild\build1\dist\build1\build1.exe
Import succeeded

thanks so now the albumentations problem is fixed later on i ll try to do the whole imports in the order you told me to and i ll show you the result

[2020-09-29 05:50] KarikalStrom commented on #5197
here is  what i got executing that file:
C:\Users\OMEN\Desktop\exetry>C:\Users\OMEN\Desktop\exetry\dist\intracranial\intracranial.exe
c:\users\omen\appdata\local\programs\python\python38\lib\site-packages\PyInstaller\loader\pyimod03_importers.py:493: MatplotlibDeprecationWarning: Matplotlib installs where the data is not in the mpl-data subdirectory of the package are deprecated since 3.2 and supp

[2020-09-29 05:52] KarikalStrom commented on #5197
ps here is the file.py:
#!/usr/bin/env python
# coding: utf-8

# In[1]:

import tkinter as tk
from tkinter.filedialog import askdirectory
from tkinter.filedialog import askopenfilename
import os
from tkinter import *
from tkinter.ttk import *
import numpy as np
import torch
import cv2
import pydicom
from PIL import  ImageTk
import PIL
from tkinter import messagebox
import time
import pretrainedmod

[2020-09-29 09:24] rokm commented on #5197
[code]

[2020-09-29 11:12] Legorooj commented on #5199
Please visit StackOverflow or contact h.goebel@crazy-compilers.com if you'd like to arrange paid support. We don't have time to help with a support issue so complex.

[2020-09-29 11:12] #5199 closed

[2020-09-29 11:26] rokm commented on #5207
Do you have (correct version of) CUDA and cuDNN libraries installed on the target/test machines?

PyInstaller does not pick those up because they are not link-time dependencies, but rather run-time ones (i.e., opened via `dlopen()`). So either you need to bundle them manually or ensure they are available in the target environment.

[2020-09-29 12:02] QixianX commented on #5207
Thanks!
I've already installed cuda and cudnn on my target machines. They have cuda 10 and cuda 9, but their Nvidia driver version is higher than packaging one. I‘m not sure if this will affect the execution of the program.

[2020-09-29 12:04] QixianX commented on #5207
And how could I bundle them manually ?

[2020-09-29 12:07] rpalri commented on #2047
I have the issue. Anyone with a solution?

[2020-09-29 12:41] georgehulme2 commented on #4930
Still having this issue nearly 2 months later...

I know Python27 should now be dead in the water but my clients insisted...

Stack trace:
  File "cryptolens_python2.py", line 382, in GetMachineCode
  File "cryptolens_python2.py", line 161, in start_process
  File "subprocess.py", line 386, in __init__
  File "subprocess.py", line 509, in _get_handles
WindowsError: [Error 6] The handle is invalid

[2020-09-29 13:05] bwoodsend commented on #4930
@georgehulme2 If you can provide a minimal example which gives this error then we can re-open and resume. Otherwise this issue continues to go nowhere...

[2020-09-29 13:11] rokm commented on #5207
I think you'll need cuda 9 on the target machine; i.e., the version that was used to build tensorflow that you're using.

But you can try increasing tensorflow's log verbosity and see if it says anything about trying to open cuda libraries (and potential errors there). It might already be complaining about missing cuda libraries at the default verbosity...

[2020-09-29 13:12] georgehulme2 commented on #4930
Any usage of Helpers.GetMachineCode when pyinstaller compiles the project with the tags (--noconsole || --windowed) && --onefile

[2020-09-29 13:14] rokm commented on #5207
First build your program in `onedir` mode and manually copy cuda/cudnn libraries into the resulting program's directory. Then check if that solves the problem on your target machine.

If it does, it'll be probably easiest to build your program using .spec file, where you can add the libraries either via `datas` or `binaries`.

[2020-09-29 13:15] georgehulme2 commented on #4930
Here is the offending function

`def ActivateLicenseKey(key=None, is_floating=False, friendly_name=None):
	auth, RSAPubKey, product_id = GetDefaultLicenseCredentials()
	if is_floating:
		result = Key.activate(token=auth, rsa_pub_key=RSAPubKey, product_id=product_id, key=key, machine_code=Helpers.GetMachineCode(), floating_time_interval=300, friendly_name=friendly_name)
	else:
		result = Key.activa

[2020-09-29 13:19] QixianX commented on #5207
Thanks! I'will try it.

[2020-09-29 13:20] chen-gz commented on #4930
When I using gitpython and pyqt simultaneously, I have same issue.
________________________________
From: George Hulme <notifications@github.com>
Sent: Tuesday, September 29, 2020 9:12:38 AM
To: pyinstaller/pyinstaller <pyinstaller@noreply.github.com>
Cc: Guangzong Chen <chen-gz@outlook.com>; Comment <comment@noreply.github.com>
Subject: Re: [pyinstaller/pyinstaller] Unable to use --noconsole and

[2020-09-29 13:35] rokm commented on #4930
I think in @georgehulme2 case, the culprit is [`start_process` method in `cryptolens`](
https://github.com/Cryptolens/cryptolens-python/blob/8f6ce7ff37c1cc1b6ed1fac2c0f9200702304d98/cryptolens_python2.py#L158-L164):
[code]
The Popen call does not redirect `stdin` nor `stderr`, so they are inherited from parent, and in `noconsole` version, probably invalid.

[2020-09-29 13:36] georgehulme2 commented on #4930
Yeah, I'm already playing around with it
Should have a fix in just a bit

[2020-09-29 14:55] georgehulme2 commented on #4930
So I've managed to fix it on my end; no console, flashing or otherwise. The code is not pretty and definitely not permanent, but it works so, what the hay...

I'll post the fix in a couple of minutes when I review the diff

[2020-09-29 15:06] georgehulme2 commented on #4930
---IMPORTS---
REMOVED
`
21   from subprocess import Popen, PIPE
`
ADDED
`
21   from sys import platform as pltfm
22   if pltfm == "win32":
23       from subprocess import check_output, PIPE, STARTUPINFO, STARTF_USESHOWWINDOW
24   else:
25       from subprocess import check_output, PIPE
`
---FUNCTION 'start_process'---
REMOVED
`
160
161          process = Popen(command, stdout=PIPE)
162          (o

[2020-09-29 15:12] georgehulme2 commented on #4930
[cryptolens_python2.zip](https://github.com/pyinstaller/pyinstaller/files/5300059/cryptolens_python2.zip)

[2020-09-29 15:16] georgehulme2 commented on #4930
Before anyone asks, for some reason python wouldn't let me just use the STARTUPINFO() class from subprocess, so I just flat out copy and pasted the thing in there

[2020-09-29 15:31] georgehulme2 commented on #4930
@rokm if you could have a look, I don't think this affects the nature of the program other than hiding the flashing command prompt. It may do in some unexpected way however. Let me know

[2020-09-29 16:04] sancelot commented on #5195
it is now working , that was only a pb to correctly set the variable inthe jenkins pipeline :
[code]

[2020-09-29 16:11] rokm commented on #4930
That does look like one of possible solutions (the other apparently being redirecting the stdin via `stdin` argument, although the exact way differs between python 2 and 3).

At any rate, this is not a pyinstaller issue, but rather something that needs to be fixed in `cryptolens` - either in your copy or their upstream. In the latter case, it'll be up to them to decide the preferred way to fix thi

[2020-09-29 18:14] KarikalStrom commented on #5197
thanks so much, @rokm  and @bwoodsend  for all the help provided it finally works :D thanks a lot.

[2020-09-29 18:14] #5197 closed

[2020-09-30 09:51] 1chimaruGin commented on #5207
@QixianX
Did you fixed it?

[2020-09-30 10:28] QixianX commented on #5207
No, the program still cannot call the GPU

[2020-09-30 10:57] rokm commented on #2950
The issue with pyinstaller not picking up the `opencv_videio_ffmpeg*.dll` on Windows has been fixed by pyinstaller/pyinstaller-hooks-contrib#13.

[2020-09-30 10:57] #2950 closed

[2020-09-30 11:48] rokm commented on #4671
This is an issue with conflicting shared library versions used (and provided) by different installed/used packages, and there's nothing pyinstaller can really do about it. Depending on the import order in your application, you might run into issues while running the python script version as well.

In this example, the problem is that the OpenCV HighGUI module in the `opencv-python` is built with Q

[2020-09-30 11:48] #4671 closed

[2020-09-30 12:38] rokm commented on #5207
What error are you getting, then?

I tried building a test tensorflow program in `onedir` mode with `tensorflow-gpu==1.12.0` in a Ubuntu 16.04 VM, and then running it on Fedora 32. As expected, it kept raising import errors like `ImportError: libcusolver.so.9.0: cannot open shared object file: No such file or directory` because the target system has `cuda 10.2` installed.

After copying the follow

[2020-09-30 16:30] amazer07 opened #5209 "Pyinstaller wont package with pdf2image"
I can run my code perfectly in the editor but when i package it and run the exe file, i get the following error:

Traceback (most recent call last):
  File "tkinter\__init__.py", line 1883, in __call__
  File "main.py", line 40, in pdfConvert
  File "site-packages\pdf2image\pdf2image.py", line 94, in convert_from_path
  File "site-packages\pdf2image\pdf2image.py", line 445, in pdfinfo_from_path
pd

[2020-09-30 17:35] rokm commented on #5209
Can you provide a minimum example to reproduce the error? And some details about your environment - OS, python version, `pdf2image` version, how `poppler` was installed?

[2020-09-30 20:31] bwoodsend commented on #5198
In practice I don't think this is feasible for PyInstaller to do directly. If you're imagining it just being a case of swapping a few `.so`s for their Windows equivalents and using the Windows bootloader then I'm afraid that's not the case.

PyInstaller relies heavily on being able to run snippets of code to locate which resources to include and where to put them. If Python installations were iden

[2020-09-30 20:31] #5198 closed

[2020-10-01 09:54] BoboTiG commented on #5179
I think (not sure) this is also a regression that prevents projects shipped into an `AppImage` file to work. Maybe this could help understanding where is the issue:
- I generated the `nuxeo-drive` project using PyInstaller (current `develop` branch + my fix for #4693 ) with the `--onedir` argument, in debug mode.
- Then, I packaged the whole thing into the file `nuxeo-drive-4.4.6.22-x86_64.AppImag

[2020-10-01 11:42] #5058 closed

[2020-10-01 12:20] rokm commented on #5160
With #5110 merged, this issue should be fixed now. If not, please open a new issue with updated details.

[2020-10-01 12:20] #5160 closed

[2020-10-01 12:28] rokm commented on #4885
This should be fixed now that #5110 has been merged.

[2020-10-01 12:28] #4885 closed

[2020-10-01 13:23] BoboTiG commented on #4934
@sshah254 h[ere is my code](https://github.com/nuxeo/nuxeo-drive/blob/f8350079f76bba721a8c7209bd1cc2a2491ae2e8/tools/osx/deploy_ci_agent.sh#L108-L133) that works perfectly, maybe it is not needed to add something to PyInstaller.

[2020-10-01 15:54] ws1088 commented on #4354
IMO, we just need the splash screen to show when we are unpacking. It could be dismissed after that. Which means there would be a slight time in between when it is dismissed and the application window starts. Probably similar to the time elapsed when we are not using --onefile and start the exe.

[2020-10-01 17:12] schlomo commented on #4628
I have this problem also in combination with https://github.com/toilal/docker-pyinstaller and https://github.com/cdrx/docker-pyinstaller, it shows like this:
[code]
when running a Python program created by `pyinstaller` version 3.6 or 4.0. The Windows temp directory looks like this:
[code]

The resulting EXE actually works on Windows so that I also believe that this is a wine bug.

The main proble

[2020-10-01 17:43] schlomo commented on #4628
I created a little demo from a simple `print("Hello World")` Python script to demonstrate the issue.
[demo.zip](https://github.com/pyinstaller/pyinstaller/files/5313872/demo.zip)

Retesting this with Wine 5.18 (freshly found in development channel), the error changes to
[code]

[2020-10-01 17:45] schlomo commented on #4628
For reference, this bug is already reported with Wine: https://bugs.winehq.org/show_bug.cgi?id=49334

[2020-10-01 23:27] csatt commented on #3820
I believe the **original** issue is finally (mostly) understood.

@Nezz nailed it back on July 24:

  https://github.com/pyinstaller/pyinstaller/issues/3820#issuecomment-663697670

This is a bug in the Tk 8.6.x code. Fortunately, it is very easily patchable as described by @Nezz. Note that if you use pyenv to install/build Python or if you build Python manually, you probably used brew to install t

[2020-10-01 23:28] csatt commented on #3820
The reason that debugging this problem has been so difficult is that it is a very early uncaught exception whose stack trace gets lost in the ether. This also is the reason that the waters have been muddied by posters saying that it is not specific to tkinter. The OP (@tnightengale) was reporting this tkinter-specific problem and we should all agree that this Issue (#3820) should be limited to the