[2020-04-03 22:40] jeremykatz commented on #4657
I'm seeing the same issue building on Debian 8 and deploying to SUSE 12.2, but the underlying problem isn't tied to these two or the particular library.

libreadline is used by bash, often used as /bin/sh. Anything that invokes libc system() or popen() will trigger it. The [PyInstaller documentation](https://pyinstaller.readthedocs.io/en/stable/runtime-information.html#ld-library-path-libpath-cons

[2020-04-04 00:10] Legorooj commented on #4784
@l3n-ru please try using https://visualstudio.microsoft.com/downloads/#build-tools-for-visual-studio-2019. You can install just the build tools; it's only a compiler. GCC has issues on windows for the bootloader.

[2020-04-04 00:12] Legorooj commented on #4785
As a wxPython lover myself, I can say it works fine on the latest version. Can you try installing the development release?

[2020-04-04 02:11] MstWntd opened #4787 "provide a list of paths for runtime tmp dir"
Scenarios:

1. Poorly setup envs have differences
2. /tmp/ and /var/tmp are noexec on some boxes
3. An expected tmp dir is missing or is full

Expectation:
In all scenarios I would still like the pyinstaller packaged binary to still somehow extract itself and run. To facilitate this the --runtime-tmpdir option should take a list of paths as it's arg, the binary can extract to the first one, if not

[2020-04-04 02:17] Legorooj commented on #4787
@MstWntd interesting feature idea. @bjones1 what do you think? PR wanted?

[2020-04-04 07:51] p-virex commented on #4785
Thank you!!! Solution:
[code]
I'm just not attentive, excuse me

[2020-04-04 07:51] #4785 closed

[2020-04-04 09:23] arossert commented on #4657
@jeremykatz Thanks for the reply, this issue with `sh` being linked to `libreadline` is still an issue for me to, changing the `LD_LIBRARY_PATH` before all imports is not a real solution.

I'm willing to work on a solution and submit a PR if you have any idea on how this can be solved.

[2020-04-04 17:15] htgoebel commented on #4535
Modulegraph2 required Python 3.6, so we can only switch after dropping support for Python 3.5.
Homepage: https://modulegraph2.readthedocs.io/

[2020-04-04 19:41] MAKOMO commented on #4627
I can confirm that linking my PyQt 5.14.2 app to macOS SDK 10.5 and not adding that additional Info.plist entry made it work in dark mode as expected (SDK 10.4 should work as well) .

However, as I bundle my app with py2app instead of pyinstaller I have no recipe on how to achieve this with pyinstaller. I assume that also for pyinstaller some bootloader needs to be recompiled accordingly.

The ste

[2020-04-05 12:28] kratos2333 commented on #1489
@ckkart we have a similar requirement. Have you found the solution yet?

[2020-04-05 15:08] SolomonLeon opened #4790 "Error loading Python DLL 'python37.dll'"
Recently I tried to use pyinstaller's upx mode to package program. The first time I succeeded, but since the second attempt, the program packaged by pyinstaller kept reporting error `Error loading Python DLL 'python38.dll'`

It used to be successful without UPX, but after that attempt, pyinstaller doesn't work at all. Now I have tried to delete upx.exe and even reinstall python37 to python38, but

[2020-04-05 15:50] davobo opened #4791 "Standalone build of borg backup issues"
Hi

trying to build standalone borg binary on Centos 7, but getting Cython.Plex module missing when using pyinstaller.

All required libs and python dependencies are installed. I'm able to build and install borg from source code but standalone binary just won't cooperate. "python setup.py install" successfully installs it.

Using:
pyinstaller 3.6
python 3.6.8
borg source code 1.1.11
Cython 0.29.16

[2020-04-05 17:48] tuvolon opened #4792 "PyInstaller No module named 'tensorflow.lite.python.interpreter_wrapper'"
Running Tensorflow 1.14 on Pyinstaller runs into following error on execute:

Traceback (most recent call last):
  File "run.py", line 52, in <module>
  File "hand_tracker.py", line 33, in __init__
  File "tensorflow\lite\python\interpreter.py", line 205, in __init__
  File "tensorflow\python\util\lazy_loader.py", line 62, in __getattr__
  File "tensorflow\python\util\lazy_loader.py", line 45, in

[2020-04-05 22:35] Legorooj commented on #4790
@SolomonLeon please can you reproduce this issue with 3.7? 3.8 isn't supported yet. There are major changes that need to be fixed.

[2020-04-05 22:37] Legorooj commented on #4791
@davobo what's the traceback?

[2020-04-05 22:38] Legorooj commented on #4792
PyInstaller 3.5 doesn't support tensorflow. Only the beta/development version - v4.0 - supports tensorflow, and only tensorflow 2.

[2020-04-05 22:39] Legorooj commented on #4792
You'll need to write a custom hook to fix this.

[2020-04-05 22:39] #4792 closed

[2020-04-05 22:44] Legorooj commented on #4406
Ok I've traced the subsystem. It's modulegraph (suprise suprise) and the part known to be recursive. I'll let you know more when I have it.

[2020-04-05 22:46] #2533 closed

[2020-04-05 23:12] #2826 closed

[2020-04-05 23:15] Legorooj commented on #1797
Closing this - there's an open PR to add a splash screen.

[2020-04-05 23:15] #1797 closed

[2020-04-06 02:14] Jaha96 commented on #3935
I successfully compiled my script. I am going to add details of my approach for the future log.
My OS is windows 10
Python 3.6.10 32bit
PyInstaller 3.6
google-cloud-vision      1.0.0

My script uses google vision API to detect texts from image.

My errors:
_____________________________________________________________________
**Error 1:**
When I execute pyinstaller the error below occured
[code]

S

[2020-04-06 02:27] onej98 opened #4793 "Error loading Python Lib, using pyinstaller on Mac OS"
Hello,

First off, I am fairly new to Python so please go easy on me.
I am trying to create a .app executable from my python script that uses PyQt5 and numpy.
I am using a MacBook running OSX Yosemite 10.10.5. I have Python 3.8.2 installed (terminal: python3) and Python 2.7.10 (terminal: python).
I pip installed pyinstaller and ran: " pyinstaller --onefile -w program.py
I get an app and executable

[2020-04-06 03:39] davobo commented on #4791
Sorry for missing that.

Output is:

File "/home/test/Downloads/python3-virtualenv/lib64/python3.6/site-packages/PyInstaller/loader/pyimod03_importers.py", line 623, in exec_module
exec(bytecode, module.dict)
File "Cython/Compiler/Main.py", line 28, in
File "Cython/Compiler/Scanning.py", line 1, in init Cython.Compiler.Scanning
ModuleNotFoundError: No module named 'Cython.Plex'

[2020-04-06 03:52] Legorooj commented on #4791
* How did you install the Borg source code? Pip?

* How are you trying to compile. What commands, etc. (What files too.)

[2020-04-06 06:57] Legorooj commented on #4793
@onej98 Is your app python 3 or python 2? You don't actually specify. Also, did you install with `pip`, or `pip3`? Please post the output of `<pip-command-you-used> --version`.

Also, python 3.8 won't be supported until next release.

[2020-04-06 08:14] SolomonLeon commented on #4790
@Legorooj
Still can't work

100 INFO: PyInstaller: 3.6
100 INFO: Python: 3.7.6
100 INFO: Platform: Windows-10-10.0.18362-SP0
100 INFO: wrote F:\ME\todo\LockerTODO\t.spec
103 INFO: UPX is not available.
103 INFO: Removing temporary files and cleaning cache in C:\Users\Administrator\AppData\Roaming\pyinstaller
140 INFO: Extending PYTHONPATH with paths
['F:\\ME\\todo\\LockerTODO', 'F:\\ME\\todo\\Lock

[2020-04-06 13:57] atvKumar commented on #4369
If you noticed that i already did the copy pasting in the spec file, which will copy it for me. Makes it a easy build process. Not sure why 3.8 is necessary and the add_dll_directory. Is it cross platform? Not sure i want to try out your solution until you explain a little more.

Anyway thanks,
Regards,

[2020-04-06 14:04] SolomonLeon commented on #4790
@Legorooj

@Legorooj This is the result with python3.7.6

[2020-04-06 15:59] davobo commented on #4791
I tried from provided source code ([releases](https://github.com/borgbackup/borg/releases)) and from github and same issue appears.
I'm using virtualenv in which all dependencies are installed from development.txt file located in requirements.d.
`pip install -r development.txt`

After that I can build and install it with following commands:
`python setup.py build`
`python setup.py install`

But wh

[2020-04-06 16:42] MateKristof commented on #4369
Your solution just not working for me, thx.

[2020-04-06 19:10] crwood commented on #4615
My solution to this problem was to recompile both the PyInstaller bootloader and the Python interpreter with a `MACOSX_DEPLOYMENT_TARGET=10.13` (overriding the PyInstaller default of 10.7) and to use Xcode version 11 or higher while doing so. I now have a PyInstaller-frozen (Py)Qt 5.14 application with working dark mode _and_ binary-compatibility with macOS 10.13, 10.14, and 10.15. See [this comme

[2020-04-06 19:10] crwood commented on #4627
My solution to this problem was to recompile both the PyInstaller bootloader and the Python interpreter with a `MACOSX_DEPLOYMENT_TARGET=10.13` (overriding the PyInstaller default of 10.7) and to use Xcode version 11 or higher while doing so. I now have a PyInstaller-frozen (Py)Qt 5.14 application with working dark mode _and_ binary-compatibility with macOS 10.13, 10.14, and 10.15. See [this comme

[2020-04-06 19:35] JordanSlaman commented on #4523
I also experienced this issue and the above code fixed it for me!
Thanks!

[2020-04-06 21:02] SamSchott commented on #4615
Great, thank you for the info!

[2020-04-06 21:15] bjones1 commented on #4787
I'll pass this on to @htgoebel.

[2020-04-06 22:46] Legorooj commented on #4790
Sorry. The exe in the dist folder is the output. The build one never works.

[2020-04-06 22:54] Legorooj commented on #4791
@davobo you're building it incorrectly.

1. You don't run PyInstaller on setup.py files - those are a bit like PyInstaller. They package scripts for PyPI etc.

2.  There is a `scripts` folder. Navigate into it and run `pyinstaller Borg.exe.spec`. That will build it with the preconfigured options that will make sure it works.

[2020-04-07 02:11] #4790 closed

[2020-04-07 08:39] damufo commented on #4793
Hello:
Same problem
so: 10.15 catalina
python 3.8.2
pyinstaller: 3.6
installed in virtualenv with pipenv

[1613] Error loading Python lib '/Users/catalina/proba/dist/proba/Python': dlopen: dlopen(/Users/catalina/proba/dist/proba/Python, 10): no suitable image found.  Did find:
	/Users/catalina/proba/dist/proba/Python: code signature invalid for '/Users/catalina/proba/dist/proba/Python'

Please add

[2020-04-07 10:14] davobo commented on #4791
Ok, thanks for the info. I have build it with borg.exe.spec script but now I get following error when I run it.

  File "/opt/rh/rh-python35/root/usr/lib/python3.5/site-packages/PyInstaller-3.2.1-py3.5.egg/PyInstaller/loader/pyimod03_importers.py", line 389, in load_module
    exec(bytecode, module.__dict__)
  File "borg/__init__.py", line 5, in <module>
ImportError: No module named 'borg._version

[2020-04-07 10:58] damufo commented on #4793
Hello:
Hello:
Same in python 3.7
macos: 10.15 catalina
Python 3.7.7
Pyinstaller 3.6

(myapp) catalina@catalinas-iMac myapp % ./myapp
[1159] PyInstaller Bootloader 3.x
[1159] LOADER: executable is /Users/catalina/myapp/dist_mac/myapp/myapp
[1159] LOADER: homepath is /Users/catalina/myapp/dist_mac/myapp
[1159] LOADER: _MEIPASS2 is NULL
[1159] LOADER: archivename is /Users/catalina/myapp/dist_mac/mya

[2020-04-07 11:05] Legorooj commented on #4791
@davobo ok. As borgbackup/borg#5077 is another issue you've opened, can we get @ThomasWaldmann to give input on this? I'd try and reproduce, but I'm on windows; pyinstaller can behave differently accross platforms.

[2020-04-07 11:06] Legorooj commented on #4793
@damufo PyInstaller generated a `build` folder. Inside it, there is a file `warn-***.txt`. Can you post the output?

[2020-04-07 11:31] davobo commented on #4791
Ok, I have completely reinstalled python and installed 3.6.9 version. Now setup is:
python 3.6.9
pip 20.0.2
pyinstaller 3.6

Did build and installed borg with:
`python setup.py build`
`python setup.py install`

After that I have built standalone binary with:
`pyinstaller scripts/borg.exe.spec`

Now I get following issue:

  File "/opt/rh/rh-python36/root/usr/lib/python3.6/site-packages/PyInstaller

[2020-04-07 11:40] ThomasWaldmann commented on #4791
You need to first build borg before trying to package it into a fat binary.
See our docs, choose the source based way.

[2020-04-07 11:55] PCarle commented on #4781
I understand :
DON'T use .setBlendMode() on text annotation ! that's correct ?

[2020-04-07 11:56] PCarle commented on #4780
sorry wrong github

[2020-04-07 13:10] dreamnyj opened #4794 "prompts a lot of information that cannot be found in pyz"
Packed as one dir, it can work normally, but it prompts a lot of information that cannot be found in pyz

I hope this error prompt can be resolved. The function is normal at present. After packing into a directory, at present, there is no pyz folder in it. You will be prompted that all the files that cannot be found are in the root directory. What's the reason?

Thank you for your contribution to

[2020-04-07 16:02] onej98 commented on #4793
I used both pip and pip3 to install pyinstaller, pyqt5, and numpy

[2020-04-07 21:28] marioortizmanero opened #4795 "Calling `pkg_resources.get_distribution` at runtime never works"
## Description of the issue
I have a package which uses `pkg_resources.get_distribution` for dependency injection reasons, to check if a dependency installed. This example always works when using `python test.py`:

[code]

but when using Pyinstaller, `DistributionNotFound` is always raised. Here's a run with docker:

[code]

This is what happens when using python as usual:

[code]

And this was Py

[2020-04-07 22:29] CyberDomeBlue opened #4796 "Pyinstaller not building applications"
+++ ONLY TEXT +++ DO NOT POST IMAGES +++

## Description of the issue

## Context information (for bug reports)

* Output of `pyinstaller --version`: ```(paste here)```
* Version of Python: e.g. 3.7
* Platform: e.g GNU/Linux (distribution), Windows (language settings), OS X, conda, FreeBSD
* Did you also try this on another platform? Does it work there?

* try the latest development version, using

[2020-04-07 22:33] CyberDomeBlue commented on #4796
The program used was the following

Import os
Import time
time.sleep(15)
print(“hello world”)
time.sleep(15)

Just to be sure was not my code and have yet to make a usable pyinstaller executable using that code as a script named test.py

[2020-04-07 22:45] Legorooj commented on #4793
@onej98 can you install python 3.7 and use that instead? Python 3.8 isn't supported.

[2020-04-07 23:08] Legorooj commented on #4794
Can you change the formatting? You can add code blocks like this:
[code]

[2020-04-07 23:34] Legorooj commented on #4795
@marioortizmanero thanks for a detailed report. It's a nice change.

This is a sort of expected behaviour. Because of how PyInstaller sets up the environment, it can mess up standard import tracing.

Kind of. If you want to make sure the module is imported when building, add it to hiddenimports. (`--hidden-import=numpy`). PyInstaller will then collect `numpy` as if you'd imported it in your script

[2020-04-07 23:37] Legorooj commented on #4796
@CyberDomeBlue please can you tell us how you built it? With the `--key` option?

[2020-04-07 23:41] onej98 commented on #4793
Hi Legorooj,

In addition to updating to OS X 10.13.6, I installed Python 3.7.7
![Screen Shot 2020-04-08 at 7 39 11 AM](https://user-images.githubusercontent.com/45119508/78729281-44726d00-796c-11ea-8cd6-6024459ceb29.png)

and updated pip3
![Screen Shot 2020-04-08 at 7 38 53 AM](https://user-images.githubusercontent.com/45119508/78729294-49cfb780-796c-11ea-8574-5274805c2dec.png)

And I get a new e

[2020-04-08 00:18] dreamnyj opened #4797 "[windows] Generate feedback with PYD program showing R6034 C++ runtime error"
Always using pyinstaller, we find that when we generate some PYD on windows platform, if we use-F to generate a separate run, the program will have the problem of not import ***.pyd.

Later, an attempt was made to generate one dir and it was found that if the <program name.manifest> generated was replaced.

Environmental：
125 INFO: PyInstaller: 3.5
125 INFO: Python: 3.4.3
125 INFO: Platform: Windo

[2020-04-08 00:21] CyberDomeBlue commented on #4796
Finally figured out the issue it’s related to importing impacket modules. When I took impacket out of the code it finally works. Seems to not like the from impacket import some module way down in the code. Can you test and see if you are able to reproduce by doing a file with impacket and doing import of dcerpc from impacket and see if it works. Once i removed that it seems to work finally. Even w

[2020-04-08 00:23] CyberDomeBlue commented on #4796
This was not done with - - key option but script run before pyinstaller that mangles functions, calls, and encrypts the code and provides a way to decrypt the code.

[2020-04-08 00:30] dreamnyj commented on #4794
Has been improved

[2020-04-08 00:39] dreamnyj commented on #4796
Confusion, you can also try to use cyphon, translated into C, basically no one can understand.

[2020-04-08 00:55] Legorooj commented on #4796
@dreamnyj that's not relevant at the moment.

@CyberDomeBlue could you please provide an example? A script which raises the error, and instructions on how to reproduce this? I can't help otherwise.

[2020-04-08 00:56] Legorooj commented on #4794
@dreamnyj can you provide some source code and the spec file?

[2020-04-08 01:49] CyberDomeBlue commented on #4796
https://github.com/SecureAuthCorp/impacket/blob/master/examples/getArch.py

Script was having issues with pyinstaller building while you can directly import impacket you can’t import individual items from it would seem like DCERPC which is needed for this script.

[2020-04-08 01:49] CyberDomeBlue commented on #4796
Example script only works with impacket installed

[2020-04-08 01:55] Legorooj commented on #4796
@CyberDomeBlue you need to write a hook file for `impacket`. See https://pyinstaller.readthedocs.io/en/stable/hooks.html for more information.

[2020-04-08 01:55] #4796 closed

[2020-04-08 01:57] Legorooj commented on #4793
@onej98 right. This *appears* to be related to code signing. Did you sign the executable?

[2020-04-08 02:01] Legorooj commented on #4797
@dreamnyj this might be a bug. Can you provide an example - source code, not compiled PYDs - so I can try and reproduce?

[2020-04-08 03:04] dreamnyj commented on #4797
Because it's just a gadget that can provide exactly the same source code, whether to provide an email address, or how to provide it.

[2020-04-08 03:57] dreamnyj commented on #4797
The file has been sent to the mailbox.          legorooj@protonmail.com

[2020-04-08 05:01] davobo commented on #4791
No matter how I try to build the standalone binary I always get the following error:

File "/opt/rh/rh-python36/root/usr/lib/python3.6/site-packages/PyInstaller/loader/pyimod03_importers.py", line 623, in exec_module
exec(bytecode, module.dict)
File "borg/helpers/init.py", line 9, in
File "/opt/rh/rh-python36/root/usr/lib/python3.6/site-packages/PyInstaller/loader/pyimod03_importers.py", line 623,

[2020-04-08 05:17] mbucher28 opened #4798 "EXE file will not run: ModuleNotFoundError: No module named 'pandas_datareader"
I got this same error with pandas and I pip installed pandas before creating the exe file with pyinstaller and that seemed to work. Tried the same thing with  pandas datareader and the exe file still will not run. Says, "ModuleNotFoundError: No module named 'pandas_datareader [2368] Failed to execute script"

[2020-04-08 06:55] sureatgithub commented on #4478
请问为什么是要确定libiomap5.so这个文件呢？我的报错如下
xxx/打包程序: symbol lookup error: /xxx/打包程序/libmkl_intel_thread.so: undefined symbol: __kmpc_global_thread_num
按照你的记录没有解决。谢谢！

[2020-04-08 07:38] marioortizmanero commented on #4795
Okay, I'll have to override `get_distribution` before building or find a better solution than this function.

Thank you! Have a nice day

[2020-04-08 07:38] #4795 closed

[2020-04-08 07:55] Legorooj commented on #4798
@mbucher28 please provide some actual information. What's the *full* traceback? Can you provide us with source code?

[2020-04-08 08:19] lukasberbuer commented on #4764
Do you have some ideas what I can do to narrow down the problem? I'm stuck at the moment...

[2020-04-08 09:12] Legorooj commented on #4764
@lukasberbuer yes - traced the area of pyinstaller. Can you read C? You'll need it to trawl through the bootloader code - I've not had time yet. *Sooo* many of the issues that get opened on this repo are "please read the docs" etc. Or *could* be a bug - but the author's primary language isn't english, and the grammar is impossible to understand.

So this issue got buried - it's on my to-do list...

[2020-04-08 13:40] bjones1 commented on #4795
By default, PyInstaller doesn't include metadata. You need a hook to include this -- see `copy_metadata` under https://pyinstaller.readthedocs.io/en/stable/hooks.html#useful-items-in-pyinstaller-utils-hooks.

[2020-04-08 14:58] Scriddie opened #4799 "Error after compiling networKit script"
## Description
I'm using pyinstaller to compile a Python3.6 script to static binary. I've installed all packages via pip in a virtual environment (venv). Everything works fine until I try to add the line import networkit as nk to the top of my script. Compilation still works, but once I run the otherwise unchanged file, I get the following error.
## Error
[code]
## Minimum example:
`import network

[2020-04-08 15:01] mbucher28 commented on #4798
It is working now, I installed data_reader from Anaconda. I think initially I was using a different version of Python that I had downloaded. Thanks!

[2020-04-08 15:01] #4798 closed

[2020-04-08 15:10] damufo commented on #4793
Hello:
Uninstall python 3.8 and python 3.7.

Reinstall python with homebrew and python (3.7) is signed.
Now work fine.
Very thanks.

[2020-04-08 16:10] Scriddie commented on #4799
Commenting out the lines in question in the networKit source code before building solved the problem for me - seems like its a networKit problem

[2020-04-08 16:10] #4799 closed

[2020-04-08 21:00] htgoebel commented on #4787
@MstWntd Not sure if we really want to implement this. This would basically make PyInstaller a bomb, extracting file to random places - easy job for a virus. (Maybe we should rethink --runtime-tmpdir, too)

[2020-04-08 21:02] #4615 closed

[2020-04-08 21:04] htgoebel commented on #4523
@poteznyKrolik @JordanSlaman What about providing a pull-request, so others will ot be trapped by the same error again?

[2020-04-08 21:06] htgoebel commented on #4615
Duplicate of #4627

[2020-04-08 21:23] htgoebel commented on #4784
@l3n-ru Did you read https://pyinstaller.readthedocs.io/en/stable/bootloader-building.html#building-for-windows?

[2020-04-08 21:58] jeremykatz commented on #4657
https://github.com/jeremykatz/pyinstaller/commit/288f34cae0997e04087b43992de8c33b70b58562 is my current WIP solution.
It avoids the issue with LD_LIBRARY_PATH and child processes, but has a major downside.

/proc/self/exe and /proc/self/cmdline point to the dynamic linker and its arguments. Instead of `$ ps | grep myprog` listing `myprog`, it will say something like `/lib64/ld-2.29.so --library-pa

[2020-04-08 22:25] Legorooj commented on #4787
@htgoebel doesn't PyInstaller currently have a list of temporary directories to try? Well couldn't we just use `--runtime-tmpdir` like `--additional-hooks-dir` and append the extra user provided directories to the list?

[2020-04-08 22:35] Legorooj commented on #4673
@htgoebel heres an idea:

* PyInstaller-hooks-contrib. A sister package that uses the new entry point - and testing entry points.
* Incremental builds via CI; every couple of days, the maintainer triggers a new build (eg 3.6.build-no) with the first part of the version number the current stable PyInstaller version.
* Looser commit messages and changelog requirements; they're the biggest bottleneck

[2020-04-08 22:53] BenBarker commented on #3795
Thank you for this @zehome and @matthchr

[2020-04-08 23:08] #4737 closed

[2020-04-08 23:33] Legorooj commented on #4751
There's another function inside `PyInstaller.utils.hooks`. It's called `copy_metadata`. Can you give it a try? https://pyinstaller.readthedocs.io/en/stable/hooks.html#useful-items-in-pyinstaller-utils-hooks - one of the last items under that heading.

[2020-04-09 02:07] bjones1 commented on #4673
I second this proposal -- that makes a lot of sense. When I finally get around to finishing this PR, let's do this, then also move as many hooks "upstream" into the packages they support as we can.

[2020-04-09 02:55] Legorooj commented on #4673
@bjones1 I can do that - if I do end up running something like a contrib package, I'll migrate hooks to there, and over time migrate them upstream.

[2020-04-09 03:30] Legorooj commented on #4794
Also, python 3.4 isn't supported. Only 3.5 plus is.

[2020-04-09 04:31] harshithdwivedi commented on #4793
I was facing the same issue and turns out that adding the -f flag while codesigning the app works in my case without having to reinstall python.

[code]

[2020-04-09 10:30] TilmanK commented on #4767
@Legorooj I currently have installed (and had while creating the bug):
![grafik](https://user-images.githubusercontent.com/8856390/78886025-dc9c4f00-7a5d-11ea-8c07-138ea07fa898.png)

[2020-04-09 10:37] MstWntd commented on #4787
@htgoebel I appreciate what you are saying, but imho:

a) There is a 100 ways a virus can currently do that
b) This is why I explicitly didn't ask for pyinstaller to create the missing directories
c) Portability is fundamental to why people use pyinstaller and this makes that feature more robust and honestly increases reliability overall.

[2020-04-09 11:00] dreamnyj commented on #4794
hi.
In fact, I don't want to use Python 3.4.3, because it is the last version that can support XP.
Some of the programs I wrote for the server are all version 3.8.1.
Although I don't know how to solve this problem,
I'm glad to use directory to solve it.
So that some of my gadgets can be used on Windows XP and above windows platforms.

Thank you again.

dreamnyj

From: Legorooj
Date: 2020-04-09 11:

[2020-04-09 16:35] James-DBA-Anderson opened #4800 "v3.6 breaks unittest imports"
When compiling my exe with PyInstaller I bundle in pytest so that I can execute my tests. I place my exe into a folder with my test modules so that pytest can discover and then execute them.

When executing my exe with the --pytest argument it discovers my tests but fails if any of my test modules import the unittest library.

Downgrading to v3.5 fixes my issue but is undesirable due to the know e

[2020-04-09 16:46] mLaota commented on #3245
I think this feature would be really useful (I found this because I have a need for it). If no one is actively working on it, I'd like to give it a go.

[2020-04-09 18:32] #1527 closed

[2020-04-09 19:44] #4793 closed

[2020-04-09 19:50] htgoebel commented on #4794
You need to change you .spec file to but create a debug build. See the manual for details.

[2020-04-09 19:50] #4794 closed

[2020-04-09 19:56] htgoebel commented on #4791
Since Bord uses PyInstaller since years, I assume this is ony an issue with your build setup.. Please refer to the [Vagrantfile provided by Bog](https://github.com/borgbackup/borg/blob/master/Vagrantfile) to learn how to build Borg.

[2020-04-09 19:56] #4791 closed

[2020-04-09 22:30] Karraya opened #4802 "Why pyinstaller breaks appium code when making executables?"
So when I run my code from the commandline everything work as expected. It when I try to make the .exe file using:

Pyinstaller -w -F mypythoncode.py

The GUI shows up as expected but the code breaks on this line.

Service = AppiumService ()

Service.start() # The code breaks here. Any idea???

Code ...

Service.stop()

[2020-04-10 04:07] Legorooj commented on #4767
@TilmanK can you try the link I posted? If you don't have the compilers installed it won't do anything.

[2020-04-10 14:50] wlixin commented on #4400
Does this method work for "No module named 'termcolor'"?

[2020-04-10 15:02] arjuncr commented on #4656
@Legorooj    any update ?

[2020-04-10 18:53] richard-moss opened #4804 "MacOS -noconsole resulting app wont launch"
Creating App bundle with '-w' on OSX - resulting app won't launch.

Pyinstaller:  3.5 and 3.6 (tried both)
Python:  3.7.5  (conda install)
Platform:   OSX (Mojave 10.14.1)

When creating a mac application bundle (-w) option, there are not problems building, but the result app won't launch.  In console mode, either --onefile or not, there are no problems.  No warnings during build.  Directly launch

[2020-04-11 04:06] Legorooj commented on #4656
@arjuncr afraid not. Like I said last comment, you need @htgoebel for something like this.

[2020-04-11 04:46] Legorooj commented on #4802
@Karraya you'll have to debug this yourself; we don't have the time. You'll need to look inside the `Service.start` method and see what it's doing, and figure out the cause.

[2020-04-11 04:46] #4802 closed

[2020-04-11 04:47] Legorooj commented on #4800
`--hidden-import=unittest.mock`?

[2020-04-11 04:57] dreamnyj commented on #4794
thanks

[2020-04-11 07:36] lukasberbuer commented on #4764
@Legorooj: Sorry for the late response - was a busy week. I really appreciate your work as maintainers of such big project.
I'll try to dig myself through the bootloader code this weekend...

[2020-04-11 14:56] Chrisg2000 commented on #4767
I experienced the same problem in the past too. A very strange workaround worked for me, and I'm not completely sure why it did.

I had to move/copy the project to another hard drive. So `msvc` was installed on my `C:`-disk and the project was on `D:`.

The error occurred suddenly from one day to the other on both of my computers and took me a long time to fix. I don't know if it was a Windows, ms

[2020-04-12 07:34] Legorooj commented on #4767
@Chrisg2000 odd - I compiled it fine on my D: drive - though it's technically a micro-sd (ie a removable drive)

[2020-04-12 07:36] Legorooj commented on #4764
@lukasberbuer before you do that, had another idea. In `PyInstaller.utils.hooks` there's a function called `collect_metadata`. Can you try that on datetime?

[2020-04-12 13:04] htgoebel commented on #4673
@Legorooj @bjones1 I just created https://github.com/pyinstaller/pyinstaller-hooks-contrib/ and made you Administrators there. (If one can tell me how to make you "owners", I can to this, too.) You should have gotten an invite already.

@Legorooj I perfectly fine with your proposal. Please go ahead!
- [ ] Please state the different policy in the Readme.
. [ ] Please provide a (short) paragraph for

[2020-04-12 13:13] htgoebel opened #4806 "Prioritize hook discovery / overwrites"
After implementing #4582 we need to prioritize discovered hooks. Agreed order is:
1. (highest) hooks added via command-line parameters
2. hooks from packages
3. (lowest) hooks included with PyInstaller

[2020-04-12 13:31] htgoebel commented on #4806
@bjones1 @Legorooj
1. How shall this "overwrite" work in detail in respect to pre-find-module-path-, pre-safe-import-module- and runtime-hooks? I would expect, if there is a higher-prio hook of any hook-type, this would overwrite *all* hooks for that module.

  This comes down to collect a list of all modules where we have any type of hook for first.

2. Related: Shall we change the directory stru

[2020-04-12 22:07] htgoebel commented on #4767
Checking for `strnlen` was added in 8461e962fdb4cb1719ff1d89935fafa2c997c403. It assumes `strnlen` to be available in `string.h`. And for Windows our test-builds also detect it, see e.g. https://ci.appveyor.com/project/matysek/pyinstaller/builds/32125381/job/9slq0liec9wbptxy. So I wonder why `strnlen` it not detected on your system.

Please compare the command in your pasted log with the one https

[2020-04-12 22:22] htgoebel commented on #4764
@lukasberbuer Well done tracking this down :-)

As the code says, the source file is search in `self.toc`, which is is the "table of content" for the PYZ archive. (The PYZ archive is where `datetime.pyc` is located - the the manual for details.)

So the solution is to add the source-files to the PYZ in the .spec-file. PyInstaller currently does not provide support-functions for this, so you need t

[2020-04-12 22:34] htgoebel commented on #4764
@lukasberbuer Uh, sorry, I was wrong - did not read the doc-string you copied.

In addition to the above you would need to change the loader along these lines:
[code]

Please let us know how this works for you.

[2020-04-13 00:33] jay0lee commented on #4767
@htgoebel here's the specific failure I see in config.log when checking for strnlen:

[code]

[2020-04-13 01:46] Legorooj commented on #4673
@htgoebel the PyPI name is also legorooj. (https://pypi.org/user/Legorooj/).

RE which hooks to move, I think all of the hooks not integrated into PyInstaller (eg PyQt5; it has its own section of the utils).

I'll submit a PR removing hooks (and tests) from this repo as soon as I've got the others ready. I'll also close issues and PRs in this repo, with a note to copy them across to hooks-contrib,

[2020-04-13 02:11] azuwis opened #4807 "Commit 042d21cec6 cause ValueError"
# Description of the issue

After commit 042d21cec6, pyinstaller give error message `ValueError: Can't mix absolute and relative paths`, even if run against non-existing py files.

Version f877f3eb8a(previous commit of 042d21cec6) works fine.

## Context information (for bug reports)

* Output of `pyinstaller --version`: ```4.0.dev0+042d21cec6```
* Version of Python: 3.8.2
* Platform: GNU/Linux
*

[2020-04-13 06:22] lukasberbuer commented on #4764
@htgoebel: Great, that works!

`main.spec`:
[code]

Modified FrozenImporter (`pyimod03_importers.py`):
[code]

Is there any way to (monkey)patch the FrozenImporter from the `.spec` file so I don't have to add modify PyInstallers source code?

[2020-04-13 07:31] masoudr opened #4808 "Freeze application that uses PyInstaller in Python code"
## Description of the issue
In my application, I'm using pyinstaller to freeze my code as described in [here](https://pyinstaller.readthedocs.io/en/stable/usage.html#running-pyinstaller-from-python-code) .
This works fine but after freezing the code I get this error:

And that is the cause of using pyinstaller inside my script.
It seems that pyinstaller can't handle the hook but I would appreciate

[2020-04-13 07:58] htgoebel commented on #4767
@TilmanK

Please contact you anti-virus vendor. Thei did a bad job in detecting what the actual Trojan is.

[2020-04-13 08:03] htgoebel commented on #4767
This looks like some include directory is missing. Please try to figure out what has changed here. Maybe this file has been moved into another directory which is not part of the include path. I would expect to find a note about this in the release notes. (But well, hey, this is Microsoft)

[2020-04-13 08:15] htgoebel commented on #4767
Maybe this gives a hint: https://forum.juce.com/t/missing-corecrt-h-and-windows-h-files-vs-2017/29195

[2020-04-13 15:12] bjones1 commented on #4673
This sounds great! I agree on moving all hooks not deeply tied to PyInstaller. I'm bjones on PyPi (https://pypi.org/user/bjones/).

[2020-04-13 18:35] htgoebel commented on #4673
1. I would *not* move hooks for major packages to "contrib", when if they are not "deeply tied to PyInstaller". Hooks for major packages I would keep in PyInstaller until we can push upstreams. I'm not confident there will be a community maintaining these, so we will still be reponsible and this will not be "contributed".

  I suggest keeping: babel,  future, gevent,,  gi.*, Pillow, numpy, scipy,

[2020-04-13 22:19] JulianS-Uni opened #4809 "pkg_resources.DistributionNotFound:"
I am trying to make an .exe out of my script. I am importing the module [munch](https://pypi.org/project/munch/) . See the minimal example program. When I execute `pyinstaller -F main.py` it runs fine. But when I try to execute the .exe in a terminal it shows me the error message below. When i dont import `munch` it works fine.
Can someone help me writing a hook or has other help how to fix this?

[2020-04-14 01:10] Legorooj commented on #4673
@htgoebel I can't move issues - I'd need admin permissions on both repositories.

[2020-04-14 01:51] Legorooj commented on #4767
@htgoebel `vcruntime.h` should always be accessible - it's part of the "system includes". If the user(s compiler) can't find it, their system is messed up.

[2020-04-14 02:31] Legorooj commented on #4807
Thanks for reporting this bug. I'll fix this in a day or two.

Also, python 3.8 isn't yet supported.

[2020-04-14 02:32] Legorooj commented on #4808
@masoudr can you:

* Install the latest development version? You're out of date.

* Try `pip install pywin32-ctypes`?

[2020-04-14 02:39] Legorooj commented on #4809
Odd... This is a PyInstaller environment error.

Can you build with `pyinstaller -F --debug=all main.py` and post the output of running the executable?

[2020-04-14 04:57] Legorooj commented on #4806
RE your points:

1. See end of comment.

2. Interesting idea - how about both structures are allowed? The second (one-dir) for more complex hooks.

3. No no. As far as the hook API and resulting enviroment is concerned, subpackages might as well be different packages altogether, and should be treated as such.

## Point 1 - Overwrite

The default should be that (like with python imports) the first

[2020-04-14 05:08] Legorooj commented on #4764
@lukasberbuer just to check, can you run the tests on that mod? If it all works, a PR would be nice!

[2020-04-14 07:21] lukasberbuer commented on #4764
@Legorooj: I'll work on that.. the f-strings limit it to py3.6 and above at the moment.
The prefix `src.<module>` feels like a bad workaround. Do you have a better idea to distinguish between modules and it's source files?

[2020-04-14 07:24] Legorooj commented on #4764
@lukasberbuer `sourcenames = 'src.{}'.format(fullname)` should do the trick.

`src.<module>` is fine I think... Unless you want to use `pyi_src`? Anyway, get @htgoebel's opinion.

[2020-04-14 08:19] masoudr commented on #4808
@Legorooj I tried the latest development version (`4.0.dev0+b3dd91c8a8`) and the same thing happened. I also have the `pywin32-ctypes` in my packages.

[2020-04-14 13:37] JulianS-Uni commented on #4809
Below is the output of `pyinstaller -F --debug=all main.py`. On another Win10 PC with Python 3.7.5.

I also got it to work by modifing the `munch` module, by changing following code block in `munch/__init__.py` to the code block below. I just removed the `pkg_recource` dependency.
[code]
[code]

------------------------------------
#### Debug output:
[code]

[2020-04-14 14:19] bjones1 commented on #4806
1. I agree. I think, assuming the hook paths are correctly ordered, this is the behavior of the existing code.

2. From what I see, run-time and pre-safe/pre-find hooks are rare. For this reason, I don't have a strong opinion. I would suggest keeping existing code, rather than adding a new approach.

3. Good question. I would say no. What's the current behavior? I would expect no as well.

[2020-04-14 21:24] shahriar0247 commented on #2613
Dude, everyone is a beginner at some point. He is tryna learn and thats a good thing. For people like you we get demotivaed. There was a time when you didnt know the meaning of kernal. And same for me and same for bill gates, elon musk, and the world's great hacker kevin mitnick. And you are being a waste of time. We can discurss good stuff here.

[2020-04-14 21:25] shahriar0247 commented on #2613
Hey so, there is only way. You need a to create a windows vm inside linux and then make linux executable. And same for linux. Go to windows and wsl and make it for Linux. Creating for mac and andorid might be hard, but not impossible. And I dont really think andorid will support it (but technically it should).

[2020-04-14 21:26] shahriar0247 commented on #2613
Oh yes wine, perfect win vm in linux

[2020-04-14 23:32] Legorooj commented on #4809
@JulianS-Uni hmm.

[code]
And inside the hook:
[code]

Then build: `pyinstaller main.py -D --additional-hook-dir=hooks`. Does that run?

[2020-04-15 02:07] alxizr commented on #3944
Hi,
I am encountering the same issue,
If i am changing the default build and dist folders and include an **ico** icon file then the build exe file fails. I tested all the sizes from 32 to 512 and its all the same.

this is where i got the icon file from: [https://icon-icons.com/](url)
**I will repeat again - if i leave the default build and dist folders it works but if i change it then it fails**.

[2020-04-15 06:42] Legorooj commented on #4797
@dreamnyj I've been unable to reproduce the problem, after many attempts. However, seeing some of the source code and build config, I can say that the MANIFEST errors are something to do with the DLLs you're using.

However, a useful tip would be the `--manifest` option of PyInstaller - it allows you to add your own manifests.

[2020-04-15 06:42] #4797 closed

[2020-04-15 07:26] htgoebel opened #4810 "Change license for run-time hooks"
Follow-up to https://github.com/pyinstaller/pyinstaller-hooks-contrib/issues/1:

* New run-time hooks shall become Apache-2.0
* Existing run-time hooks shall become Apache-2.0, too.

**Todo**
- [x] Add APL- Licence text to the repo
- [x] Add resp. section to COPYING.txt
- [x] Create list of all authors who contributed to run-time hooks
- [x] Write e-mail to all these authors and ask for agreement.

[2020-04-15 07:44] JulianS-Uni commented on #4809
That did it! Thank you very much!

[2020-04-15 07:53] #4809 closed

[2020-04-15 07:55] Legorooj commented on #4810
@htgoebel https://github.com/pyinstaller/pyinstaller-hooks-contrib/issues/1#issuecomment-613864979 is related. Also, see pyinstaller/pyinstaller-hooks-contrib#2

[2020-04-15 12:07] Legorooj commented on #4807
@htgoebel can I have your input here? My thoughts are just use absolute paths; but the comments in the code say it's intentionally not doing that.

[2020-04-15 16:30] htgoebel commented on #4808
Did I understand this correctly: Your application uses PyInstaller (as shown above), then you freeze this application and you get the above error? Then obviously some packages from pywin32-ctypes are not collected. Please have a look at [Make sure everything is packaged correctly](https://github.com/pyinstaller/pyinstaller/wiki/How-to-Report-Bugs#make-sure-everything-is-packaged-correctly) for tip

[2020-04-15 16:57] #4807 closed

[2020-04-15 16:58] htgoebel commented on #4807
Only one of the paths has been absolute, `filename` was not.

@Legorooj In these cases I run `python -m pdb bin/pyinstaller …` to get to the place quickly.

[2020-04-15 16:59] htgoebel commented on #4807
@azuwis Thansk for reporting and for the good report. This was easy to reproduce :-)

[2020-04-15 17:11] SaiAle501 opened #4811 "open pyspark shell issue"
Python 3.8.2 (tags/v3.8.2:7b3ab59, Feb 25 2020, 23:03:10) [MSC v.1916 64 bit (AMD64)] on win32
Type "help", "copyright", "credits" or "license" for more information.
Traceback (most recent call last):
  File "C:\Users\saiki\Documents\Learning\spark-2.4.5-bin-hadoop2.7\python\pyspark\shell.py", line 31, in <module>
    from pyspark import SparkConf
  File "C:\Users\saiki\Documents\Learning\spark-2.

[2020-04-15 18:03] waleedhammam opened #4812 "ImportError: DLL load failed while importing _socket: The parameter is incorrect."
## Description of the issue
-  I built my app using pyinstaller and worked on my machine, tried on different machine gave me the error.

## Context information (for bug reports)

* Output of `pyinstaller --version`: ```3.6```
* Version of Python: e.g. 3..8.2
* Platform: Windows 10
* Did you also try this on another platform? Does it work there?
tried on ubuntu 18.04 and worked

### Make sure [ever

[2020-04-15 18:39] masoudr commented on #4808
@htgoebel You are right. I have the pywin32 packages (I have `pypiwin32`). As soon as I remove the pyinstaller's import the error would be gone. How can I collect the missing package? (I've already used `hidden-import`). I also tried the `pyi-archive_viewer` and I have all the pywin32 packages inside my environment. I think it is a known problem when trying to freeze a package that uses PyInstalle

[2020-04-15 23:12] Legorooj commented on #4807
@htgoebel I generally prefer the PyCharm debugger, but it's harder to debug things like that (something that's not `__name__ == '__main__'` for the script your debugging). I'll give PBD a go.

I thought `filename` might be the problem.

[2020-04-15 23:22] Legorooj commented on #4811
This issue *only* occurs when using python 3.8. please use 3.7.

[2020-04-15 23:22] #4811 closed

[2020-04-16 01:55] SaiAle501 commented on #4811
Thanks, it is working for 3.7 but there are some warning like below can you please help what are those.

Type "help", "copyright", "credits" or "license" for more information.
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/C:/Users/saiki/Documents/Learning/spark-2.4.5-bin-hadoop2.7/jars/spark-unsafe_2.11-2.

[2020-04-16 02:10] Legorooj commented on #4811
Not from PyInstaller I'd suggest it's pyspark; contact them if you need to.

[2020-04-16 02:11] Legorooj commented on #4800
@James-DBA-Anderson hi?

[2020-04-16 10:42] R-YaTian commented on #4804
Same issue then
Pyinstaller: 3.6
Python: 3.7.6 (pip install)
Platform: Catalina(macOS 10.15.4)

[2020-04-16 11:35] atvKumar commented on #4369
Its ok, I have already closed the issue and the project i was working on also. Made it open, and made a decision to move away from python for such projects. Moving to C++ and other frameworks, will also convince management and others to support those than python, sorry but thats how it is.

https://github.com/atvKumar/AngelSubTitlePro

[2020-04-16 14:47] #4232 closed

[2020-04-16 17:53] apockill commented on #4402
Hi! I was wondering if this is something that has been fixed in the develop version of pyinstaller?

[2020-04-16 19:22] AlecJourdain opened #4813 "hook-zmq can't find sys/un.h while building"
## Description of the issue

I build an application using pyinstaller, everything work correctly but when I'm putting --log-level=DEBUG I noticed that something is missing but it didn't failed the build.

On french computer the build failed with utf-8 codec 0xff (caused by the accent) but on english the build is completed correctly.

I know that this header is needed for linux build, but for windo

[2020-04-16 23:21] Legorooj commented on #4813
Odd - it should run on all platforms, unless ZMQ uses a system codec?

[2020-04-17 06:05] tingfenghanlei opened #4814 "pyinstaller with matlab : ImportError No module named 'mlarray'"
I am trying to package my script with pyinstaller. My script interacts with matlab, so matlab python API is imported. I got below error when i run the executable file.
You can see the error in this fig.
https://i.stack.imgur.com/bVIMJ.jpg

[2020-04-17 11:38] Schmetzler commented on #1894
I had the same issue, but I found the solution,
you must add "msvcp140.dll" to upx-excludes (as well as "vcruntime140.dll"). Then everything works as expected (at least for me)

[2020-04-17 12:25] OceanFireSoftware opened #4815 "No support for twisted and yield"
## Description of the issue

Pyinstaller .exe file can't run with scrapy and yield

## Context information (for bug reports)

Output of `pyinstaller --version`: >= 3.6
Version of Python:  3.7
Platform: Windows

### Stacktrace / full error message

[code]

When I remove yield everything works correctly

[2020-04-17 12:27] ptrivedi2610 opened #4816 "Where does pyinstaller install custom python packages when I use python from executable?"
Hi @Legorooj

I have created dist/ folder on Windows, using pyinstaller. Python3.7 is bundled inside dist/.
Now I am taking this dist/ folder in separate machine where no Python in installed.

I have my custom python package PKG, inside dist/ which I need to install in the system using executable, using "python setup.py install --user".

When I run my executable, it shows the package is installed

[2020-04-17 12:52] AlecJourdain commented on #4813
I've set a new Windows 10 VM in french to be able to give you the output message when it failed

18439 INFO: Loading module hook "hook-zmq.py"...
----------------------------------------
'utf-8' codec can't decode byte 0xff in position 161: invalid start byte
These are the bytes around the offending byte:
----------------------------------------
Traceback (most recent call last):
  File "C:\Python

[2020-04-17 13:20] AlecJourdain commented on #4813
In this post I've seen a way to fix it, but I think that is not very clean to ignore errors.

https://stackoverflow.com/questions/47692960/error-when-using-pyinstaller-unicodedecodeerror-utf-8-codec-cant-decode-byt

[2020-04-17 16:02] cttlfsh opened #4817 "App gives PermissionDenied when launched on a different machine wrt the build one"
I am trying to build a python app with pyinstaller. Everything goes fine, the build is successfull and I am able to run it on my machine, but when I try to give the app to a friend to test it it gives `permission denied` when launched.

Anyone knows how to fix this problem? Am I missing something in the build command?

The command I use is:

`pyinstaller --onefile --windowed --add-data "data1:data

[2020-04-17 16:45] jsl303 commented on #4629
I'm having a problem notarizing and distributing app packaged from pyinstaller to Catalina.

In my entitlements.plist, I set com.apple.security.cs.allow-jit and com.apple.security.cs.allow-unsigned-executable-memory to true.

I also tried setting com.apple.security.cs.disable-library-validation, but I can't even open. It just asks me to trash it if I do that.

Here's my command for code signing.

[2020-04-17 18:32] jsl303 commented on #4629
I also tried to codesign libpython3.7m.dylib before running pyinstaller, but then I got "Killed: 9" when I run the app.

It works fine if I don't codesign and allow it to run from system preference > security.

I'd like to be able to distribute normally without users having to do that though.

[2020-04-17 18:44] cculianu commented on #4629
Man Apple creates such a burden on its developers.  They actually cost people like me money every time they modify their increasingly restrictive security model.

I wish they would have the good sense to fund projects such as this one.

[2020-04-17 23:47] Legorooj commented on #4816
Into the internal PYZ of libraries.

[2020-04-17 23:47] #4816 closed

[2020-04-18 00:03] Legorooj commented on #4813
Ok I'll look into improving compat... Thanks for pointing this out.

[2020-04-18 00:06] Legorooj commented on #4815
What do you mean, when you remove yieldm

[2020-04-18 00:07] Legorooj commented on #4817
Which platform are you using?

[2020-04-18 00:15] #4576 closed

[2020-04-18 05:05] ptrivedi2610 commented on #4816
@Legorooj So runtime what path shall I give to fetch the installed package that was installed using executable ?

[2020-04-18 06:20] Legorooj commented on #4816
@ptrivedi2610 what do you mean? If you wan't the source code of the installed package - as `.py` files, that's not possible - without what is currently a hack, but may soon be a supported feature. We only store bytecode currently, inside the executable.

[2020-04-18 08:06] cttlfsh commented on #4817
My Apoogize, both systems are macOS Mojave v10.14.6

[2020-04-18 09:03] Legorooj commented on #4817
@cttlfsh and the exact error?

[2020-04-18 11:42] cttlfsh commented on #4817
it is not properly an error. It gives Permission Denied and does not let me run the executable. I tried with `sudo` and also to temporary modify system preferences, but still gives permission denied. Only when launched in a computer different than the one where it was built

[2020-04-18 11:57] Legorooj commented on #4817
@cttlfsh have you codesigned the executable?

[2020-04-18 12:23] kvij opened #4818 "ImportError: DLL load failed while importing win32api: The specified module could not be found."
## Description of the issue
Freezing a program that uses pywin32/win32api results in an executable that crashes with
`Error: DLL load failed while importing win32api: The specified module could not be found.`

The root cause seems to be that it cannot find the pywintypes38.dll library on freeze. The warnings are:

[code]
pywintypes38.dll is located in ...\venv\Lib\site-packages\pywin32_system32

#

[2020-04-18 13:18] cttlfsh commented on #4817
nope

[2020-04-18 15:16] kvij commented on #4818
I finally got it. Apparently hidden-imports are python imports (couldn't find an example in the official documentation) and the module that needs to be imported is `pywintypes`.

I have done some more digging and apparently this "import" is problematic in the first place. It is solved using [pywintypes.py](https://github.com/mhammond/pywin32/blob/master/win32/Lib/pywintypes.py) that does some reso

[2020-04-18 21:16] #4730 closed

[2020-04-18 21:25] vamsivarada commented on #3703
File "C:\Users\vamsi\AppData\Local\conda\conda\envs\automl\lib\site-packages\PyInstaller\lib\modulegraph\modulegraph.py", line 2631, in _scan_code
    self._scan_ast(module, module_code_object_ast)
  File "C:\Users\vamsi\AppData\Local\conda\conda\envs\automl\lib\site-packages\PyInstaller\lib\modulegraph\modulegraph.py", line 2660, in _scan_ast
    visitor.visit(module_code_object_ast)
  File "C:\U

[2020-04-18 21:27] vamsivarada commented on #3703
python -m PyInstaller --windowed --name FightCovidV.1 C:/Users/vamsi/PycharmProjects/Detect-CoronaVirus-Tensorflow-master/Covid_GUI.py" this is the command I have used encountered above error kindly help"

[2020-04-18 22:26] mobrine-mob commented on #4766
Did it work?

[2020-04-18 23:32] Legorooj commented on #4817
Have you tried codesigning it? macOS is flighty with permissions for non-codesigned apps

[2020-04-18 23:39] Legorooj commented on #4818
So `--hidden-import=pywintypes` fixed it?

[2020-04-19 07:20] Legorooj opened #4820 "Bug in makespec.Path's __repr__ method on windows."
@htgoebel I'm stuck on this one, and I'm generally quite good at path manipulation.

[code]

It appears that running the tests - well `makespec` is generating the error - on a different drive doesn't work. I'm not sure there's a way around this.

[2020-04-19 09:41] Legorooj commented on #4354
@shyamStarwalt this isn't implemented yet, see #4581

[2020-04-19 10:10] OceanFireSoftware commented on #4815
I replace yield with return

[2020-04-19 10:23] Legorooj commented on #4815
That will break stuff. Replace it where? Which file? In scrapy? twisted?

[2020-04-19 11:57] OceanFireSoftware commented on #4815
I simply replaced yield with return in my Scrapy project. It didn't break anything because I knew what I did (scrapy allows use return).

I mean, when trying to create an exe file with a normal scrapy project, pyinstaller interprets yield inconsistently within the twisted library on which scrapy is based.

I think this is due to bad generator support.

[2020-04-19 12:03] Legorooj commented on #4815
@OceanFireSoftware PyInstaller uses standard python. Anything supported in python's standard syntax is supported. Generators are fully supported, with no bugs. Can I please have some source code? The version that broke *and* the version that didn't. I'm willing to bet this is hook related - ie pyinstaller isn't being told how to bundle twisted properly.

[2020-04-19 22:49] mirhmousavi opened #4821 "Encounter error `Loader FrozenImporter` sometimes on a repl like command line"
## Description of the issue
We have made a command-line application with `click` and it's kind of a repl, I mean user logs in to this command-line and issues commands
the problem is that sometimes we encounter `Loader FrozenImporter` and it's just sometimes
two weeks ago we encounter error for `_strptime` and add the hidden import for it but that occurs again also we get another error for `click._

[2020-04-19 23:54] Legorooj commented on #4821
Can you try PyInstaller 3.6? And what's the actual output? I use click for all of my command line needs, and I've never had a problem.

[2020-04-20 00:03] #4757 closed

[2020-04-20 00:04] #4751 closed

[2020-04-20 00:05] Legorooj commented on #4751
The metadata needs copying to fix this.

[2020-04-20 00:45] Legorooj commented on #4316
How did you build?

[2020-04-20 00:49] #4264 closed

[2020-04-20 05:02] mirhmousavi commented on #4821
[code]

[2020-04-20 05:07] Legorooj commented on #4821
No, what's the output when running the executable? Isn't that where the error is? @mirhmousavi

[2020-04-20 05:35] mirhmousavi commented on #4821
[code]
Maybe temp files got delete or something?

[2020-04-20 05:41] Legorooj commented on #4821
Hmm - this is a `--onefile/-F` build isn't it? Are you leaving it running for a long time? Or does this occur on startup?

[2020-04-20 05:44] mirhmousavi commented on #4821
yes one file, when the application starts it gives the user  an interactive shell like ` click-contrib/click-repl ` and user works with it for hours and yes it's a longrunning process

[2020-04-20 05:53] Legorooj commented on #4821
See #4720. I think you'll find that there are known bugs when running from onefile mode with deletion of temporary files.

[2020-04-20 05:53] #4821 closed

[2020-04-20 07:13] ptrivedi2610 commented on #4816
@Legorooj
Thanks for the info and help.
Summarizing my scenario again
1. I have my custom package X, with its own setup.py file
2. I have a file script.py, which internally installs this package X into my system
3. I am creating installer out of script.py (let's say script.exe)
4. I am running script.exe on machine having python. It installs package X into site-packages/
5. Now I am taking same sc

[2020-04-20 07:39] Legorooj commented on #4816
Umm... `import X; X.__file__`? That should return the code.

[2020-04-20 09:33] gthb commented on #4751
Yes, that looks like it's exactly what's needed, thanks (and I should have found this in docs before posting an issue). I haven't verified it in my use case, as I had already worked around this by importing the module directly instead of calling `spacy.load`.

[2020-04-20 09:59] cttlfsh commented on #4817
I tried code sign the project. Since I have both the `.app` and the executable I codesigned both. The `.app` works almost fine but gives some errors relative to Flask (which are not related) but the executable gives always permission denied

[2020-04-20 11:21] Legorooj commented on #4817
Hmmm. I don't have a mac. Maybe @micahflee if you've a few minutes to look at this?

[2020-04-20 11:23] Legorooj commented on #4751
@gthb it'd be great if you could verify this directly, and - when the repo is ready - provide a PR with the hooks.

[2020-04-20 12:33] cttlfsh commented on #4817
I actually solved it, just a few minutes age. I did not know that sending the executable directly without zipping it does some kind of damage to it.

Zipping the executable and then sending it worked perfectly. Now everything runs.
Thank you again very much for the quick responses

[2020-04-20 13:06] #4817 closed

[2020-04-20 18:02] gthb commented on #4751
Verified with spacy 2.2.3 and 2.2.4, and with pyinstaller 3.6 and pyinstaller tip-of-develop, with `hook-en_core_web_md.py` like this:

[code]

I'm happy to put up a PR with the Spacy hook that I have working, but note that the fix for this issue is in the hook for the language model (that's where the metadata is). Spacy language models are distributed separately and there's a bunch of them, see h

[2020-04-20 22:48] Legorooj commented on #4751
Hmm. Unfortunately not... The PR will need to be targeted at https://github.com/PyInstaller/PyInstaller-hooks-contrib, which isn't ready for PRs yet. And when using spacy with models, you'll need to `import model;model.load()`, or add the models to hiddenimports. For loading to work. I've dealt with quite a few issues about spacy so, when the new repo is ready, I'll ping you, and if we could work

[2020-04-20 23:11] bic096 commented on #3268
work for me without modifing on

[2020-04-21 00:03] gthb commented on #4751
Sure, ping me and I'll try to help.

[2020-04-21 05:45] AlexFDias opened #4823 "Compiling using pyinstaller external pythonpath that is in another program module"
I have created a program in python where it call's an external python module from a commercial program. As far i have come in my analyses, I have to mentioned I am not a programmer or an expert, this module is a python over C. The lib is in pyd extension and in order to be call in the python script it has to have a environment variable call pythonpath an only can be used in python 3.4 or 3.5. I ma

[2020-04-21 06:22] aminhusni opened #4824 "Failed To Compile Bootloader On Windows 10"
## Description of the issue

## Context information (for bug reports)

* Output of `pyinstaller --version`: ```3.6```
* Version of Python:  3.6.8
* Platform: Windows 10 Pro English

### Stacktrace / full error message

[code]

[2020-04-21 10:16] Legorooj commented on #4823
The C code - the `pyd` file - requires a DLL. PyInstaller can't find it, so you'll need to find and add it yourself. (`--add-binary`)

[2020-04-21 10:16] #4823 closed

[2020-04-21 10:17] Legorooj commented on #4824
Odd. I'll see if I can fix - and reproduce - this.

[2020-04-21 11:20] nini122 commented on #2242
I was in same issue but already fixed.
- uninstall previous pyinstaller
- pip install https://github.com/pyinstaller/pyinstaller/archive/develop.zip
- clone your py sources and build with new pyinstaller 4.0
that's all. good luck for all.

[2020-04-21 11:46] #4800 closed

[2020-04-21 14:09] breezko commented on #2242
@nini122 not working on python 3.7

[2020-04-21 16:23] AlexFDias commented on #4823
I don't think I was clear over this. When i run without the `--exclude-module=caris` I get the DLL list  but pyinstaller is enable to find. If i use the Dependency Walker 2.2 [https://www.dependencywalker.com/](url) I can see the existence of sub routines or DLL, C based so in order to use (`--add-binary`) I would need to have them "unpacked" to add. What I did and it is because the installation p

[2020-04-21 17:58] jacobthetechy opened #4826 "Missing exception log data when using pyinstaller and loguru"
## Description of the issue

I'm using loguru in one of my projects while using pyinstaller to create an EXE to run it on several Windows machines. I noticed some log data missing from exceptions when running the EXE. Here is an example of what I'm seeing.

[code]

When running this from the terminal it will produce this log file as expected. `python test.py`

[code]

But once you use pyinstaller

[2020-04-21 23:43] Legorooj commented on #4823
Ok... I'm confused now. Can you explain the following point again? Give an example?

* > When i run without the --exclude-module=caris I get the DLL list but pyinstaller is enable to find.

[2020-04-22 00:26] Legorooj commented on #4535
@htgoebel I'd like to head this development branch if you don't mind. Once I've finished the hooks-contrib move that won't need too much attention.

[2020-04-22 02:40] letu81 opened #4827 "how to start celery worker?"
**pyinstaller version 3.6**
**celery version 4.3.0**

`#celery_config.py`
[code]

`#test_celery.py`
[code]

`#upload_task.py`
[code]

'client.py'

[code]

got the error:

how to fix it? any other solutions? thanks

[2020-04-22 03:44] tourist-C commented on #1845
Hi , I am facing similar issue when packaging tqdm.

tqdm\__init__.py
[code]

[2020-04-22 04:23] Legorooj commented on #4826
Huh? This shouldn't be happening. What's wrong with the except clause? Can you try `except ZeroDivisionError as e` instead?

[2020-04-22 04:27] Legorooj commented on #4827
We can help with such a niche problem, as there are too many bugs and such to sort out. Please ask this question on stackoverflow, the celery issue tracker, or Reddit.

[2020-04-22 04:27] #4827 closed

[2020-04-22 05:13] Legorooj commented on #4810
@htgoebel can we have a "live" list of all the people that answered "yes"? I need to know for #4822, so I can remove and relicense runtime hooks that are moving into hooks-contrib.

[2020-04-22 05:38] AlexFDias commented on #4823
Yes that is correct, I have wrote and this is and I quote

The output I get is this, and is during the pyinstalller compiling process, more clearly when i use `--exclude-module=caris` in the pyinstaller command options.

**133910 WARNING: lib not found: cscataloginfou.dll dependency of C:\Program Files\CARIS\BASE Editor\5.3\python\3.5\caris_py_caris.pyd
133925 WARNING: lib not found: gdalrasteru.d

[2020-04-22 06:07] Legorooj commented on #4823
Right. So what I said earlier is correct. You need to find all of the DLLs that are shown as "not found", and add them when compiling with the `--add-binary=example.dll;.`.

[2020-04-22 06:08] Legorooj commented on #1845
@tourist-C please open a new issue for this.

[2020-04-22 06:09] Delgan commented on #4826
Hi @Legorooj.

I don' know if you have read the comment I left on Delgan/loguru#250, but I noticed the script only works correctly if it is executed from the same place where it was compiled.

I'm using `traceback.print_exc()` instead of `loguru` for the demonstration:

[code]
While running `./test` from within the generated `dist` folder:
[code]
While running `./dist/test` from the parent folder:

[2020-04-22 06:09] Legorooj commented on #1845
@htgoebel I'll look into implementing this when we switch over to modulegraph2.

[2020-04-22 06:20] AlexFDias commented on #4823
It is me now that are confuse. Can you clarify me why when excluding the module and asking to load then from the install dir i get a error? What I'm missing here because now I look like a fowl.
As I wrote i tried with and without `--exclude-module=caris `and also changed the way i call this module from using the  environment variable  pythonpath  to use `sys.path.insert(0, path) `where path is the

[2020-04-22 06:56] Legorooj commented on #4823
@AlexFDias are you planning to send this executable to other users? And does your program acutally use `caris`?

[2020-04-22 07:17] AlexFDias commented on #4823
Yes this is part of a project i have to  sent or to deploy to be users that are only interest in the output and not how to get there making the process friendly to all. One button solution.

Yes  it uses, this is very important for the way the Point Cloud, actually the name is related with the main point of the logical algoritmo and is 80% based on the caris program / software, calculations and ge

[2020-04-22 07:22] Legorooj commented on #4826
@Delgan you're probably right. PyInstaller doesn't bundle plain `.py` files, it bundles `.pyc` files which it compiles itself using the std library. So when you're running `./dist/test` it's finding the source code file - `test.py` - because the interpreter is told that that is the file it's running.

How to work around this... You'd have to extract the full traceback info from the `e` object.

(N

[2020-04-22 07:23] Legorooj commented on #4823
@AlexFDias then if your program is using `caris`, why are you passing `--exclude-module=caris`?

[2020-04-22 07:32] AlexFDias commented on #4823
Yes, that is because, in my mind, I'm calling a external module that comes with software and since it can be freely chose where to install it will be call from that installation dir. So if it is a external module and is path dependent i thought, sorry if to you sound stupid, the modules should not be included but call from.
In my program the module is call and used but always from where it is inst

[2020-04-22 07:39] Legorooj commented on #4823
So you require your users to have `caris` installed?

[2020-04-22 07:41] AlexFDias commented on #4823
Yes exactly. Caris is the name of a commercial software where this program will interact and almost of all contractors uses and deliver to us in the required formats.

[2020-04-22 07:42] Legorooj commented on #4810
Just to help, here's a list of the hooks and authors we need permission from first - the ones that are being moved to contrib. I've added their usernames, but not tagged them.

### Hooks

* `nltk`
* `certifi`
* `enchant` - this hook (well the version we have currently, which is a total rewrite) was only authored by @matysek who's said relicensing is ok.
* `gtk`
* `osgeo` - We've already contacted

[2020-04-22 07:43] Legorooj commented on #4823
Right. So then, is there a problem with running the executable, or does it work fine?

[2020-04-22 08:02] AlexFDias commented on #4823
I haven't tried it the way you told me `--add-binary=example.dll`;  not in the office do to covid-19 preparing this for tonight when i'm authorized to test in the facilities to do so. At this point and of course using `--exclude-module=caris` this comes

So i was trying to understand why the

Editor\5.3\python\3.5\caris_py_caris.pyd

when i **don't** use the `--exclude-module=caris`  and also see

[2020-04-22 08:38] Legorooj commented on #4823
@AlexFDias:

If you do that, then you won't need to look for the install directory. In theory, the executable should work anywhere, even without caris installed. So I'd recommend just figuring out how to include caris in the program, becuase that will mean less finding of import directories.

To do this, *don't* `--exclude-module=caris`, and, as you've been doing, find the DLLs and add them to the

[2020-04-22 09:31] Delgan commented on #4826
The thing is that both `loguru.exception()` and `traceback.print_exc()` already extract the full traceback. The frames thus retrieved contain references to filename, lineno and function, but to access the line of code, we need to use `linecache.getline()`: [cpython/traceback.py#L285-L289](https://github.com/python/cpython/blob/bcc136ba892e62078a67ad0ca0b34072ec9c88aa/Lib/traceback.py#L285-L289)

I

[2020-04-22 09:55] coordinate opened #4828 "issues with proj. "ImportError: DLL load failed:""
I use PyInstaller-3.6 package project with pyproj-2.6.0 and proj-6.2.1. It is ok.
When I run the exe, I get error.

[code]

I try copy proj_6_2.dll to the_exe_path.  It doesn't work.
Python is python-3.7.7.
My spec file:

[code]

[2020-04-22 11:47] Legorooj commented on #4826
@Delgan yes, but there's few occasions that this can't be worked around. The traceback still includes the line number, after all. You could, if it's an open source project, bundle the source with `--add-data=test.py;.` which would include the plain source in a findable location. But in commercial programs, this isn't desirable. I'm going to have to close this issue, seeing as we can't work on this

[2020-04-22 11:50] #4826 closed

[2020-04-22 11:54] Legorooj commented on #4828
Groan. Looks like pyproj is failing... Again. I'll look into this.

[2020-04-22 11:58] Legorooj commented on #4406
Ok everyone. A fix is on the way. 👍

* :+1: Upside: This fix will fix loads of bugs.

* :-1: Downside: Estimated landing period... Several months - probably Nov-Jan. (Maybe sooner?)

Fix: We (The pyinstaller developers) are replacing ModuleGraph... with ModuleGraph *2*. A non-recursive implentation. Expect this to take some time.

[2020-04-22 12:00] Legorooj commented on #3752
Closing; duplicate of #4406. A fix is en-route, and we might as well only have *one* issue open tracking it.

[2020-04-22 12:00] #3752 closed

[2020-04-22 12:03] Legorooj commented on #4815
@OceanFireSoftware?

[2020-04-22 12:36] Delgan commented on #4826
Actually, `--add-data` **is** the kind of workaround I expected! Sorry, I was not aware of this parameter, I just tried to help @jacobthetechy with the issue he faced.

Thanks for your help, and kudos to all the team for `pyinstaller`. :+1:

[2020-04-22 12:58] tamil07 opened #4829 "Unable to Install Pyinstaller in HP Unix"
Hi,

Trying to install PyInstaller in the Operating System HP UX

[code]
- Since we do not have access to the internet, tried to install using tar.gz and zip file.

**1. Using develop Package**
[code]
**2. Using tar.gz version 3.4**
[code]

**3. Tried installing previous versions which it clearly threw error saying the OS is not supported**
[code]

[2020-04-22 14:46] jacobthetechy commented on #4826
Y'all are awesome. Thankfully there is no issue with me using `--add-data` to include the source files. After testing, this solution worked for me!

@Legorooj for anyone else coming across this in the future, would adding the `--key=` flag also encrypt the files under `--add-data` or does it only encrypt the `.pyc` files? Could that be an added feature to help with this work around?

[2020-04-22 15:55] gangsh9 commented on #3994
seeing same issue. when run on othe macOS

[2020-04-22 18:03] JordanSlaman commented on #4523
The logic that was breaking in master for me seemed to be resolved by using a shorter path to python.

I'm not sure enough of what the logic _should_ be, but I think the issue here is with the length assumption.

[2020-04-22 18:05] JordanSlaman commented on #4523
I'd be weary to make a PR of someone else's bandaid without any understanding or testing of the behaviour.

[2020-04-22 18:43] AlexFDias commented on #4823
@Legorooj

Well no luck. I think i found all the dll and included them as you said and you where write I should had included before. I couldn't find it because they are all over the place and not in one place.
I adjusted the command to include them and also run with `--debug=imports` do here you have maybe a more to help you see it.
So when I run the exe
[code]
I do not know what to do now.

Anywa

[2020-04-22 21:20] htgoebel commented on #4813
Beside any encoding issue: `collect_submodules` return a list of wrong strings:

Why does it pick up sys/un.h? Where does the error message cause from?

@AlecJourdain What exaclty does "English settings" and "french settings" mean? Which encoding does Python have, what is the filesystem-encoding? What is the string which fails to print (Use python -m pdb pyinstaller.py …` to get a debugger at the

[2020-04-22 23:59] Legorooj commented on #4823
@AlexFDias yes, but you need to make sure the DLLs/module are/is discoverable from the python code.

[2020-04-23 00:04] Legorooj commented on #4826
@jacobthetechy no, `--key` wouldn't include the data files in encryption. Is this program commercial? (IE closed source?)

[2020-04-23 00:14] Legorooj commented on #4829
Try the package from [this link](https://files.pythonhosted.org/packages/3c/c9/c3f9bc64eb11eee6a824686deba6129884c8cbdf70e750661773b9865ee0/PyInstaller-3.6.tar.gz).

[2020-04-23 00:46] jacobthetechy commented on #4826
No, it will be internal use only. I was more or less asking out of curiosity and clarification because I just stumbled upon that feature.

[2020-04-23 01:12] Legorooj commented on #4826
@jacobthetechy then including the source should be fine. `--key` is more of a difficulty layer; the key is extractable from the bytecode. It's possible to circumvent it (with what would be ease to a hacker). Just a note: if you want a closed source app, that the source can't be extracted from, use Cython to create an extension.

[2020-04-23 05:38] AlexFDias commented on #4823
@Legorooj sorry what do you mean with discoverable? If I call the dll in my code?

[2020-04-23 06:29] Legorooj commented on #4823
@AlexFDias you'll need to make sure that python can find the DLLs. `sys.path` manipulation might work, but it might not. I can't say more because I don't know much about `caris`.

[2020-04-23 06:52] sean0x42 opened #4830 "Django hook ignores DJANGO_SETTINGS_MODULE environment variable"
**Is your feature request related to a problem? Please describe.**

Django allows users to set the value of the `DJANGO_SETTINGS_MODULE` environment variable so that multiple settings modules can be created, and a specific one can be chosen depending on the environment.

[code]

Pyinstaller ignores this variable when building, and assumes that all settings modules must be found at `mysite/settings

[2020-04-23 06:56] AlexFDias commented on #4823
@Legorooj OK. Let me see if I can understand what you just wrote. I have to change my code to look for the DLL in a way that the bundle kan have then, not call the original caris lib. That is done, possibly using sys.path. Is this correct?
If it is i have no idea how to do that, call DLL in the code is possible?
So caris is a software that creates Geographical Information System outcomes and has a

[2020-04-23 07:14] Legorooj commented on #4823
@AlexFDias in most situations, just adding the path of the `caris` `pyd` to `sys.path` before importing it should work. Try that.

[2020-04-23 07:29] AlexFDias commented on #4823
@AlexFDias I'm doing that but not to the pyd. As I mentioned above `sys.path.insert(0, path)` is used and path is the path to the lib structure also above. So in a way I'm doing this correct? Now point to pyd?
Also how hard is to have it to interact with the lin at run time or is not possible?

[2020-04-23 07:34] Legorooj commented on #4823
`sys.path.insert(0, path` where `path` is the directory that the `caris` pyd is in.

I'm afraid I don't understand.

[2020-04-23 07:38] AlexFDias commented on #4823
I was asking if it is possible and how difficult would be having at run time, when start the exe, to interact with caris  module. In a way not to have in my distribution the caris module and DLL but have this when the caris software is install / present.

[2020-04-23 07:43] Legorooj commented on #4823
@AlexFDias in theory, simple enough. Just add the correct folder - the `pyd` just needs to be discoverable from python. That's standard stuff - the normal python import path manipulation will (should?) work just fine.

[2020-04-23 07:57] AlexFDias commented on #4823
OK so if I understand you correctly the key is the pyd? If you see the caris dir structure it has the **__init__.py** and **_py_caris.pyd** in all sub folders. I call the main, of course caris by `import caris` and a "sub lib", sorry i just do not know how to call it, from caris using from `caris.coverage import *` as  coverage you realise this is a sub folder where a **__init__.py** and **_py_car

[2020-04-23 08:03] Legorooj commented on #4823
@AlexFDias `sys.path.insert(0, path)` with `path = '/path/to/caris/folder'`:
[code]

AKA yes you understood properly.

[2020-04-23 08:24] AlexFDias commented on #4823
@Legorooj OK I will change the code and get back to you later. First must set this in the code then test.
Stay safe downunder and thank you for your help.

[2020-04-23 09:40] tamil07 commented on #4829
Thanks for the reply @Legorooj

When I tried with the package you mentioned, I got the below output.(Its same error). PFB, the logs. Is there anyway I can build this tar for the operating system? Is there any doc for the same?

python -m pip install **PyInstaller-3.6.tar.gz**
DEPRECATION: Python 2.7 will reach the end of its life on January 1st, 2020. Please upgrade your Python as Python 2.7 won't

[2020-04-23 10:42] Legorooj commented on #4829
I need the output of `pip show setuptools`, please. You can build for the OS, but this will auto-build and install for you, so this is the better method. (Unless you have multiple HP-UX machines you want to install on?)

[2020-04-23 11:45] Legorooj commented on #4830
So... You want PyInstaller to save the value of `DJANGO_SETTINGS_MODULE` and load it at runtime?

[2020-04-23 12:16] kexul commented on #4507
I'm using python from miniconda and encountered the same problem

[2020-04-23 12:19] tamil07 commented on #4829
For some reason, the setuptools isn't reflected/showing during the pyinstaller installation. Current issue is Pyinstaller is looking bootloader when using it. Please see the below texts.

[code]

* I downloaded the tar.gz file, untarred it. Did setup.py build,install to have the pyinstaller installed. Note : The build developed bootloader

Installation logs
[code]

Tried to convert a Python file t

[2020-04-23 19:03] AlexFDias commented on #4823
@Legorooj I hope at fallows translate something smart and sorry for the long post.
Well no success, I did as you told. I cal this to define the path:

[code]
to build the path, the Base variable is created from reading windows registry and retrieve the installation path.
After all you explain and using with `{}python\\3.5\\caris\\` and out. The error with `{}python\\3.5\\caris\\` is:
[code]
Withou

[2020-04-23 23:13] sean0x42 commented on #4830
I thought about this overnight, and I remembered that `manage.py` actually sets a default value for `DJANGO_SETTINGS_MODULE`. It's actually even the very firs thing it does!

[code]

What this means, is that pyinstaller wouldn't necessarily need to store the value of the environment variable for runtime, since Django can and does already set a value at runtime. Pyinstaller simply needs to read the

[2020-04-23 23:43] Legorooj commented on #4507
@kexul please open a new issue about this.

[2020-04-23 23:47] Legorooj commented on #4823
@AlexFDias hmm. Can you get it working without running as an exe? Straight from source?

[2020-04-23 23:54] Legorooj commented on #4829
Ok, you need to make sure you have either `xlc` or `gcc` installed.

Next, move into the `bootloader` folder.

Run `python ./waf all`. Then move up and into the directory with the `setup.py`. Then `pip install .`.

[2020-04-24 00:06] Legorooj commented on #4830
@sean0x42 hang on. So `manage.py` would/could have the correct settings module linked in the `setdefault` statement, right? That means that before building, you could just change it (the default value) to `production`, before building, right? That means that PyInstaller just needs to include the correct settings module?

[2020-04-24 00:45] sean0x42 commented on #4830
Yes that's 100% correct.

The only downside with this approach, is that since it sets a default value, theoretically the user running the final .exe could have an environment variable set in their operating system that is different to the default. To prevent that edge case, the following line:

[code]

should be replaced with this:

[code]

Which could be documented in the [wiki](https://github.co

[2020-04-24 01:12] Legorooj commented on #4830
So, that can be documented in the wiki. Now, if you make those edits, do you get an error?

[2020-04-24 02:31] pengyanbing84 opened #4832 "The ‘humanize’ distribution was not found and is required by the application"
The ‘humanize’ distribution was not found and is required by the application

[2020-04-24 02:38] Legorooj commented on #4832
Please ask this on stackoverflow or another platform. We don't have time to help with this; it's a not a bug or feature request.

[2020-04-24 02:38] #4832 closed

[2020-04-24 03:10] pengyanbing84 opened #4833 "The ‘humanize’ distribution was not found and is required by the application"
The ‘humanize’ distribution was not found and is required by the application
Pyinstaller == 3.6
humanize == 2.4
Please answer my question, thanks
python3.7

[2020-04-24 03:16] sean0x42 commented on #4830
Will give it a try

[2020-04-24 03:29] sean0x42 commented on #4830
Just gave it a shot, and it works just fine.

[2020-04-24 04:11] Legorooj commented on #4830
Ok, I'll add some documentation to the wiki. I assume you hard-set the environment variable, or did you soft-set it (`setdefault`)?

[2020-04-24 04:18] Legorooj commented on #4833
Which repo is humanize? What's the full traceback?

[2020-04-24 04:20] sean0x42 commented on #4830
Hard set.

Sorry, just to be clear, making that change doesn't fix the overall issue here. It just means that pyinstaller doesn't need to do anything at runtime. Would still need to update pyinstaller to respect the value of `DJANGO_SETTINGS_MODULE` at build time. So solving the overall issue would require both documentation and some changes to the django hook.

[2020-04-24 04:49] Legorooj commented on #4830
I'm confused. Didn't you just say it worked fine?

[2020-04-24 04:53] sean0x42 commented on #4830
Yea sorry for the confusion, I thought you meant: does making that change cause any additional errors with Django.

[2020-04-24 04:56] Legorooj commented on #4830
@sean0x42 Ok what I meant was when building, with this configuration, what are the errors?

[2020-04-24 05:00] sean0x42 commented on #4830
Same as described in the original post. Making that change doesn't change anything about the pyinstaller build, since pyinstaller totally ignores the `DJANGO_SETTINGS_MODULE` environment variable.

[code]

and

[code]

[2020-04-24 05:03] Legorooj commented on #4830
Which version of Django are you using?

[2020-04-24 05:04] sean0x42 commented on #4830
2.2. Would you like me to try with version 3?

[2020-04-24 05:06] Legorooj commented on #4830
No thanks. Can you try with 2.1.8? Thats the last version the current hook is confirmed to work with - 2.2+ will need a hook update.

[2020-04-24 05:07] sean0x42 commented on #4830
Okay, will give it a shot

[2020-04-24 05:15] sean0x42 commented on #4830
So I downgraded to Django 2.1.8, and then re-ran. I'm also using pipenv if that matters. Here's the entire output:

[code]

[2020-04-24 05:24] Legorooj commented on #4830
How about, instead of `SETTINGS_MOD=mysite.setttings.production`, `SETTINGS_MOD=mysite.settings` and `settings.__init__.py` simply contains `from .production import *`?

[2020-04-24 05:25] sean0x42 commented on #4830
Yea good idea! Will give it a try

[2020-04-24 05:37] sean0x42 commented on #4830
Okay, so it seems to build successfully after making that change. However now I'm faced with an unrelated issue, in that when I run the .exe the program just hangs. And then after a very long time if I `ctrl+c`, I get the following exception:

[code]

Most likely the solution you proposed fixes the problem, and this is some other issue, but I'm not 100% certain. Thoughts?

[2020-04-24 05:46] AlexFDias commented on #4823
@itszero If you mean run the script by clicking two time on it or run from a cmd yes, no problem.
I just can't see what is wrong, maybe caris has made safeguards against.

[2020-04-24 05:49] Legorooj commented on #4830
@sean0x42 https://github.com/django-extensions/django-extensions?

[2020-04-24 05:51] mzy2240 commented on #4813
I am having the same problem with pyinstaller 3.6 and pyzmq version 18.1.1 as well as 19.0.0. I did not use the hook-zmq file and I did find the `libzmq.cp36-win_amd64.pyd` in the cython subdirectory. Any help or comments are highly appreciated!
![image](https://user-images.githubusercontent.com/18620336/80179244-ba5e1180-85c5-11ea-834a-8f3761b5de4a.png)

[2020-04-24 05:52] sean0x42 commented on #4830
Yep, that's the one! I think the only place it is actually referenced is in `INSTALLED_APPS`, so it makes sense that pyinstaller would miss it.

[2020-04-24 05:54] Legorooj commented on #4830
Hmm. You'll need a `collect_all` hook for `django_extensions`. And make sure to add `django_extensions` to `hiddenimports` with `--hidden-import=django_extensions`.

[2020-04-24 05:55] Legorooj commented on #4823
@AlexFDias You're definitely running with `--exclude-module=caris`? Hmm. Try without that and add the caris path with `-p PATH`.

[2020-04-24 05:57] Legorooj commented on #4813
@mzy2240 sigh sigh sigh. Yet ANOTHER thing to add to my todo-list: rewrite all of our encoding interfaces. Could you tell me what the value of the following are?

* `sys.stdout.encoding`
* `sys.getfilesystemencoding()`

[2020-04-24 06:03] AlexFDias commented on #4823
@Legorooj sadly I have to say I tried and with the same success. Yesterday I used  with and without --`exclude-module=caris` and the `-p Path` , in the end the same thing. Is like it see is a stand alone, I don't know if understand what I mean.

[2020-04-24 06:05] Legorooj commented on #4823
@AlexFDias I'm afriad I've exhausted my resources. You'll have to contact the `caris` developers and see if they can help. Or StackOverflow might be of some use.

[2020-04-24 06:06] sean0x42 commented on #4830
Okay thanks heaps @Legorooj. Will look more into it.

Otherwise it seems like adding `from production import *` to `__init__.py` resolves this point.

[2020-04-24 06:07] mzy2240 commented on #4813
![image](https://user-images.githubusercontent.com/18620336/80180234-e7abbf00-85c7-11ea-9bce-ec265fcac27c.png)
Wow really appreciate your quick reply!

[2020-04-24 06:09] AlexFDias commented on #4823
@Legorooj Well just one last question, is possible from a py script create a compile file, do as they did a pyd file or so. Not compile to a stand alone but to have they file so no code can be altered?
I thank you for your time and help. I will do so. Stay safe.

[2020-04-24 06:10] Legorooj commented on #4813
@mzy2240 we just happen to be awake at the same time. And what language is the default on your laptop?

[2020-04-24 06:10] mzy2240 commented on #4813
I just tried the possible solution mentioned by @AlecJourdain. However, after rerun the pyinstaller command, the first error becomes `_cffi_ext.c` not found. Please see attached:
![image](https://user-images.githubusercontent.com/18620336/80180425-5852db80-85c8-11ea-8cc9-480794e651ce.png)

[2020-04-24 06:11] Legorooj commented on #4830
@sean0x42 :smile:. Once you've written the hook for `django_extensions`, let me know if the issues still persist.

[2020-04-24 06:12] mzy2240 commented on #4813
English(US)
![image](https://user-images.githubusercontent.com/18620336/80180569-a9fb6600-85c8-11ea-88f8-99ef26eca9a1.png)

[2020-04-24 06:12] Legorooj commented on #4823
I'd look into Cython (https://cython.org).

[2020-04-24 06:13] AlexFDias commented on #4823
@AlexFDias I was think the same. Anyway thanks, thank you

[2020-04-24 06:14] Legorooj commented on #4813
@mzy2240 I'll have to get back to you. Unicode handling definitely needs a rewrite. (Yay)

[2020-04-24 06:15] mzy2240 commented on #4813
Do you think that missing of ffi-related file is due to the current unicode handling approach?

[2020-04-24 06:28] Legorooj commented on #4813
@mzy2240 maybe, but I don't know. It's possible, though unlikely. But when it comes to the depths of a codebase that hasn't finished dropping support for python 2, anything it possible.

[2020-04-24 06:36] sean0x42 commented on #4830
@Legorooj where should I create the hook, in the pyinstaller repo, or in the `django_extensions` repo?

[2020-04-24 06:43] Legorooj commented on #4830
Test it with `--additional-hooks-dir=hooks` and have the `hook-django_extensions.py` inside said `hooks` subfolder. We can talk integration later, we need to check it works first

[2020-04-24 06:50] pengyanbing84 commented on #4833
![snipaste20200424_102732](https://user-images.githubusercontent.com/34937085/80183145-e36cb980-863a-11ea-9ddf-fc0704d47850.png)

How can I solve this problem?

[2020-04-24 06:51] pengyanbing84 commented on #4833
![snipaste20200424_102732](https://user-images.githubusercontent.com/34937085/80183272-1c0c9300-863b-11ea-9af2-a964b721e21b.png)

How can I solve this problem?

[2020-04-24 06:59] Legorooj commented on #4833
@pengyanbing84 you need to write a hook for pyinstaller. See https://pyinstaller.readthedocs.io/en/stable/hooks.html

[2020-04-24 07:17] tamil07 commented on #4829
- Installed `gcc`
- `python ./waf all` -> Executed.
- Moved up one above directory and executed `python -m pip install` . **( same error though )**

[code]

-  When I try to install it with python setup.py install . It is installing it successfully but again, when I try to convert one file. It throws the below error

[code]
Appending the setuptools pip info, if in case it helps

[code]

[2020-04-24 07:18] tamil07 commented on #4829
- Installed `gcc`
- `python ./waf all` -> Executed.
- Moved up one above directory and executed `python -m pip install` . **( same error though )**

[code]

-  When I try to install it with python setup.py install . It is installing it successfully but again, when I try to convert one file. It throws the below error

[code]
Appending the setuptools pip info, if in case it helps

[code]

[2020-04-24 07:38] pengyanbing84 commented on #4833
Hello, I am using pyinstaller for the first time, how to construct hooks, there are examples? Can you give me an example, thank you, thank you very much, for my hook example of this question. Thank you very much

[2020-04-24 09:21] Legorooj commented on #4833
[code]
And inside `hook-humanize.py`:
[code]
Then build with `--additional-hooks-dir=hooks`.

[2020-04-24 09:23] Legorooj commented on #4829
Hmm. Install `wheel`, then `setup.py bdist_wheel`. Also, what's the contents of the `PyInstaller/bootloader` directory.

[2020-04-24 10:07] kvij commented on #4818
Yes!

[2020-04-24 10:34] tamil07 commented on #4829
Pasting the content of the bootloader folder.

[code]

[2020-04-24 11:03] Legorooj commented on #4829
Wrong folder.
[code]

[2020-04-24 11:10] tamil07 commented on #4829
Ok. Appending the details here for your reference.

[code]

[2020-04-24 11:15] #4818 closed

[2020-04-24 11:17] Legorooj commented on #4829
`ls PyInstaller/bootloader` from the same directory

[2020-04-24 11:48] tamil07 commented on #4829
Yes, bootloader is under the PyInstaller(`PyInstaller-3.6)` directory.  Full path of this directory in the server is `/PyInstaller_Install_Path/PyInstaller-3.6` . Hope it helps.

[2020-04-24 11:55] AlecJourdain commented on #4813
@htgoebel  I'm trying to add python -m pbd, but I'm always getting the error about no module named google.

When the computer is in french he only difference is the build failed and in english the build is completed. I can paste the log in french here (Hidden import and submodule have some word in french):

26401 DEBUG: Collecting submodules for zmq.backend
30968 DEBUG: collect_submodules - Found

[2020-04-24 12:16] Legorooj commented on #4829
`pip uninstall PyInstaller`. Make sure that the command `pyinstaller` doesn't work. Build to bootloader as described in https://pyinstaller.readthedocs.io/en/stable/bootloader-building.html. Then, in the same directory as `setup.py`, there's a file called `pyinstaller.py`. Use that like the PyInstaller command; does the error persist?

[2020-04-24 12:20] Legorooj commented on #4813
@AlecJourdain what's the output in a English VM? The same section.

[2020-04-24 12:30] AlecJourdain commented on #4813
@Legorooj

15939 INFO: Loading module hook "hook-zmq.py"...
15940 DEBUG: Collecting submodules for zmq.backend
18092 DEBUG: collect_submodules - Found submodules: {'zmq.backend.cython', 'include', 'zmq.backend.cython.context', "'sys/un.h':", 'zmq.backend.cython.message', 'open', 'zmq.backend', 'error', 'directory', 'c:\\dev\\project\\code\\src\\fw\\venv\\lib\\site-packages\\zmq\\backend\\cffi\\__p

[2020-04-24 12:33] AlecJourdain commented on #4813
@Legorooj  For having the output in french I need to modify compat.py like this :
https://stackoverflow.com/questions/47692960/error-when-using-pyinstaller-unicodedecodeerror-utf-8-codec-cant-decode-byt

Because when I do not modify compat.py I'll have the UnicodeDecodeError: 'UTF-8 codec can't decode byte 0xff in position 161: invalid start byte.

the reason I'm thinking about a language problem

[2020-04-24 13:07] Legorooj commented on #4813
@AlecJourdain on the *french* machine, what is the value of `sys.stdout.encoding`? And `sys.getfilesystemencoding()`

[2020-04-24 15:26] mzy2240 commented on #4813
Creating a new conda environment with only pyinstaller and zmq solves the problem. The solution is mentioned here: https://github.com/zeromq/pyzmq/issues/852

[2020-04-24 15:39] pengyanbing84 commented on #4833
Thank you very much

[2020-04-24 16:16] wyz23x2 opened #4835 "webbrowser fails in packaged exe"
#### Hi, I wrote a program that uses ``webbrowser.open()``. However, "Failed to execute" pops up. That doesn't seem right.
- Used ``-w -F``
- Confirmed that no errors occurred before
- ``webbrowser`` works right when running .py
- Default browser is Opera
- Python version: 3.8.2
- PyInstaller version: 3.6
- Platform: Windows 10 1909 64-bit

[2020-04-24 16:29] derya26 commented on #4265
Mee too, with python 3.8.2 and spark hadoop 2.4.5, also pip version is upgraded to 20.0.3

[2020-04-24 18:23] Kulbear commented on #2084
@NHades what do you mean by adding "pkg_resources.py2_warn" to hidden import? How to do that? Thanks!

[2020-04-24 19:48] technopremium commented on #2956
Thanks, this solved my problem as well

[2020-04-24 20:13] jay0lee commented on #4824
Looks similar to #4767

[2020-04-24 23:41] Legorooj commented on #4813
@mzy2240 can I have `pip freeze` (or conda equivalent) of both the new and the old environments?

[2020-04-24 23:44] Legorooj commented on #4824
@jay0lee it does. Unfortunately, I can't replicate this. Is everyone on the latest versions of everything?

[2020-04-24 23:45] Legorooj commented on #4833
@pengyanbing84 did it work?

[2020-04-25 00:04] Legorooj commented on #4835
Can you try with python 3.7? 3.8 doesn't work properly - in the rare event you get it to build properly.

[2020-04-25 01:56] wyz23x2 commented on #4835
Well, the .py uses features like `:=` and `def func(a, b, /)`, so it's hard to do that.

[2020-04-25 02:01] Legorooj commented on #4835
@wyz23x2 Unfortunately PyInstalle doesn't yet officially support python 3.8 - without bugs. You'll need to wait a version or 2.

Does the following fail (In 3.8)?
[code]

Also, try building without `-w`, and run the file from a command prompt. You'll be able to see the traceback.

[2020-04-25 03:44] wyz23x2 commented on #4835
I will test it. Quite busy now.

[2020-04-25 07:31] SuperSanglap opened #4836 "Windows 10 compiled file Crashed python3.8"
When ever I try to compile my script using
pyinstaller <script>.py
it compiles but when I try to Run it from the dist folder it executes and immidietely crashes everytime

[2020-04-25 08:25] tamil07 commented on #4829
Just tried that. Same error :(

1. Contents of the pyinstaller directory post building bootloader.

[code]

2. Output of the the pyinstaller.py output throwing same error when trying to convert a file.

[code]

[2020-04-25 08:38] wyz23x2 commented on #4835
Tested. The output is empty; it simply pops up "Failed to execute script ...".

[2020-04-25 08:42] wyz23x2 commented on #4835
So when does it support 3.8? 3.8.0 has been released over half a year.

[2020-04-25 08:43] wyz23x2 commented on #4311
#4835

[2020-04-25 09:42] aminhusni commented on #4824
If it helps, this is the output with -v

[code]

[2020-04-25 12:01] Legorooj commented on #4829
Ok, there are 2 bootloader folders. One in the same directory as `setup.py`, one under the directory `PyInstaller`. What's the contents of the second one? `ls PyInstaller/bootloader`

[2020-04-25 12:05] Legorooj commented on #4824
@aminhusni this is helpful. Thanks.

[2020-04-25 12:07] Legorooj commented on #4835
@wyz23x2 planned for the next release (or the one after. We need to replace about half the codebase first).

[2020-04-25 12:42] severinsimmler commented on #4466
Any news on this?

[2020-04-25 13:17] trittsv commented on #4466
its still crashes with upgraded versions.. PyInstaller 3.6, MacOS Catalina 10.15.4, PyQt5-5.14.2, Python 3.8...

[2020-04-25 18:12] HappyLittleFish commented on #4334
when I uninstall anaconda, and reinstall pyinstaller by  "brew install pyinstaller", it works .
after this I check python version is not 3.7.6, back to 2.7.10. it works, never lagout.

[2020-04-26 00:05] Legorooj commented on #4836
@SuperSanglap what's the traceback? What's the full command? Have you run it from a command group?

[2020-04-26 08:39] tamil07 commented on #4829
Appending the details of1st bootloader content and 2nd bootloader below for your reference.

[code]

[2020-04-26 08:52] Legorooj commented on #4829
Ok... The bootloaders are there. That should all work. `setup.py clean` then try `pyinstaller.py test.py` again.

[2020-04-26 10:21] tamil07 commented on #4829
Thanks for sharing your time over weekend. Issue seems unresolved. PFB, the logs.
[code]

Appending the folder details again for your reference.

[code]

[2020-04-26 10:33] Legorooj commented on #4829
@tamil07 hmm. This shouldn't be happening. You definitely ran `setup.py clean`? Otherwise... We need @htgoebel on this. I've tried everything I know.

(PS: I code whenever I get the chance. PyInstaller is part of that)

[2020-04-26 14:10] cswinslow commented on #4466
In my case: the only way that I've found, so far, is to build the UI only using .ui files with Qt Creator or some such, and then reference them inside my code. I cannot, in any way, create a UI purely with Python or else it'll fail to launch with my above trace. After building using referenced .ui files, it launches correctly.

This is fine for me as it's only just a small toolkit for a small comp

[2020-04-26 14:30] tamil07 commented on #4829
Yes, I ran ` python setup.py clean` command before trying out the option you suggested.

Waiting for any other suggestion.

[2020-04-26 16:41] salarsf commented on #3753
Having the exact same problem anyone can help please??

[2020-04-26 19:08] salarsf opened #4838 "My application is not opening"
I exported an executable using pyinstaller. When I click the exec file it opens normally but when I click on the .app file opens in dock for like a second and then it quits with no error. help me pleasee

[2020-04-26 20:51] felixchenier commented on #4804
Hello
I have this same issue on macOS Catalina.
48 INFO: PyInstaller: 3.6
48 INFO: Python: 3.7.7 (conda)
56 INFO: Platform: Darwin-19.4.0-x86_64-i386-64bit

[2020-04-26 23:54] Legorooj commented on #4838
@salarsf https://pyinstaller.readthedocs.io/en/stable/when-things-go-wrong.html

[2020-04-27 00:46] sean0x42 commented on #4830
@Legorooj Have been playing around (so far unsuccessfully) with creating a hook for `django_extensions`, and I noticed something weird. When building to a directory rather than a file, I noticed that only migrations are being included in the final output, and no actual application logic.

This is all that gets included for the `support` app:
![image](https://user-images.githubusercontent.com/99985

[2020-04-27 01:08] Legorooj commented on #4830
@sean0x42 the Django hook needs a major upgrade. It's on my to-do list. After rewriting modulegraph, redoing unicode support, figuring out python 3.8 support, and removing hooks from PyInstaller into a sister package. I've got a bit to do.

Try the following:
[code]
And inside the hook:
[code]

And build with `--additional-hooks-dir=hooks`. Make sure that you pass the correct path to `hooks` if yo

[2020-04-27 01:21] sean0x42 commented on #4830
Yea sounds like you've got heaps to do! Thanks for all your support with a workload like that.

I actually did exactly what you outlined in your comment, line for line, character for character. Yet it didn't seem to actually run the hook I created. Like I think it found the hook, but then never found the `django_extensions` import or something and so never ran the hook. Either way, my Django app i

[2020-04-27 01:41] Legorooj commented on #4830
Put a `raise RuntimeError` in the hook. The build will crash if the hook is being run.

Please! Well, assuming you can edit it - I'm not the project admin. If you can't, write up the markdown in a comment and I'll copy it in.

Help with the Django hooks would be great! They need a lot of work. (And anything else of course ;-))

Note: For Django, we aren't moving it's hooks out of PyInstaller like

[2020-04-27 01:45] Legorooj commented on #4830
Actually, I'm going to close this issue; the original problem is resolved, we just need to add the correct notes in the wiki.

[2020-04-27 01:45] #4830 closed

[2020-04-27 02:21] sean0x42 commented on #4830
Okay, I've edited the wiki. You may want to just read over my changes and make sure you're happy with it.

https://github.com/pyinstaller/pyinstaller/wiki/Recipe-Executable-From-Django

[2020-04-27 02:24] Legorooj commented on #4830
@sean0x42 looks good! If you do open a PR to fix the Django hooks - or you want to discuss it, in which case open a new issue (feature template, called something like "Roadmap to update django hooks") - tag me.

[2020-04-27 06:46] tamil07 opened #4840 "Unable to install Pyinstaller on AIX"
Trying to install Pyinstaller in the below machine

[code]

1. Attempt with pip

[code]
2. Downloaded the source tar.gz, tried pip with it. PFB, the logs

[code]

3. Since it is looking for the bootloader, tried to create the bootloader by downloading the source.

[code]

strip, xlc are available in the machine. Is it looking for any specific version of strip or xlc?

Any suggestion would be more

[2020-04-27 11:30] Legorooj commented on #4840
@aixtools could you help here?

[2020-04-27 11:36] Legorooj commented on #4835
@wyz23x2 I'm going to close this issue; we can't help until python 3.8 is supported. I suggest you set a custom watch status on #4311 so you get notified when the issue is closed - support has been added.

If the issue persists after that, open a new issue.

[2020-04-27 11:36] #4835 closed

[2020-04-27 13:55] Chrisg2000 commented on #4354
At the moment I'm rethinking a bit the proposal of @treetoc and @keelung-yang, which I didn't quite understood at that time (maybe linguistically).

The suggestion is to attach a custom executable to the bootloader, which (before the rest of the application is unpacked) is extracted and started.
This would have the advantage that a developer could start a self-programmed splash screen instead of t

[2020-04-27 16:32] salarsf opened #4841 "[46518] Error loading Python lib"
Hii

I upgraded to python 3.8.2 from 3.7.4 and now when I run a exec file (which is exported from pycharm using pyinstaller 3.6) I get this error in Terminal:

[46518] Error loading Python lib '/var/folders/gk/38xsfm3j3yv9wslgvcz2s2hh0000gn/T/_MEIjH4hjc/Python': dlopen: dlopen(/var/folders/gk/38xsfm3j3yv9wslgvcz2s2hh0000gn/T/_MEIjH4hjc/Python, 10): no suitable image found.  Did find:
	/var/folders

[2020-04-27 19:02] antimatter84 commented on #4354
@Chrisg2000: now that you mentioned a "custom executable [...] that is run before the rest of the application is unpacked" got my attention. I would bring forth an idea, that has been in my head for a while.

The whole purpose of this is to provide some feedback to the user that something is happening, should the unpacking take a bit longer (large assortment of libraries, additional data files or

[2020-04-27 19:43] alexander-manley commented on #4515
@jakirkham Ubuntu 20 LTS is out with Python 3.8 as the default, along with most other new mainstream OS distros at this point.  Anaconda also has rebuilt their suite packages with Python 3.8, so it is prudent to consider all options.  One path forward is writing new application components/modules in Go, and using compiled Cython as a bridge.  That way you can continue to use legacy code that still

[2020-04-27 20:02] jakirkham commented on #4515
I'm not sure I follow. In any event Conda-forge won't update the package for Python 3.8 until it is supported.

[2020-04-27 22:35] auge opened #4842 "hook-matplotlib.py broken when pathlib is installed via pip"
## hook-matplotlib.py broken when pathlib is installed via pip

Although pathlib is now shipped with Python (>=3.4), one can still install it via pip - and there is no (easy?) way to prevent this.
Usually, we don't care since when we run `python -c "import pathlib; print(pathlib)"`, the Python-included module is loaded and used.
However, the hooks in pyinstaller seem to use the pip-version, which

[2020-04-27 23:56] Legorooj commented on #4354
@antimatter84 there's something to it, but would require a major rewrite of the lot of the bootloader and packaging system if I'm not mistaken. (But I could mistaken; the bootloader is my weak point in the codebase)

[2020-04-27 23:57] Legorooj commented on #4841
@salarsf python 3.8 is unsupported. It won't be for a few months.

[2020-04-27 23:57] #4841 closed

[2020-04-28 00:06] Legorooj commented on #4842
Hmm. How interesting. I'll add a note in the documentation - and the wiki.

Also, python 3.8 is unsupported. Support will arrive soon though.

[2020-04-28 00:13] Legorooj commented on #4824
Hey all, can you try again? With commit https://github.com/pyinstaller/pyinstaller/commit/3010fdfaa037e9b19e936711d0c0be9b314b03c6. I've updated the build tool.

[2020-04-28 00:14] Legorooj commented on #4767
Hey all. Can you please try what's described in https://github.com/pyinstaller/pyinstaller/issues/4824#issuecomment-620301709

[2020-04-28 00:21] Legorooj commented on #4342
Stale

[2020-04-28 00:21] #4342 closed

[2020-04-28 00:23] Legorooj commented on #4252
Please provide a pull request if you'd like support added.

[2020-04-28 00:23] #4252 closed

[2020-04-28 00:26] Legorooj commented on #4294
Can you try with the latest PyInstaller development version?

[2020-04-28 07:34] salarsf commented on #4841
Thanks for your reply. But I tested using python 3.7 and this error came up:

Traceback (most recent call last):
  File "site-packages/PyInstaller/loader/rthooks/pyi_rth__tkinter.py", line 30, in <module>
FileNotFoundError: Tcl data directory "/var/folders/gk/38xsfm3j3yv9wslgvcz2s2hh0000gn/T/_MEIxaV3p9/tcl" not found.
[16121] Failed to execute script pyi_rth__tkinter
logout
Saving session...
...co

[2020-04-28 08:06] Legorooj commented on #4841
That's really odd. Tkinter shouldn't be having problems. Can you try a fresh environment? New venv/conda-env, with `pip install https://github.com/pyinstaller/pyinstaller/archive/develop.zip` instead?

[2020-04-28 09:19] salarsf commented on #4841
Using python 3.7 (conda), the .app file opens and then closes immediately but exec file inside /myapp.app/Contents/MacOS works

[2020-04-28 09:20] salarsf commented on #4841
Using python 3.7 (conda), the .app file opens and then closes immediately but exec file inside /myapp.app/Contents/MacOS works

[2020-04-28 16:46] cooperbenson-qz commented on #4775
This patched fixed the same exception when I was trying to build from a virtualenv created from a PyEnv executable.

[2020-04-28 18:17] MstWntd commented on #4787
Any further thoughts?

[2020-04-28 22:19] jeremykatz commented on #4657
After a little reading into the GNU dynamic linker, it appears that LD_LIBRARY_PATH is only read during program initialization. Unsetting or changing it after does not impact dlopen within the process. Given a little testing, [jeremykatz@6bb0029](https://github.com/jeremykatz/pyinstaller/commit/6bb0029c9df43572f62d058f10f30a12bb4a63b9) appears to be a viable solution. It's also less code than the

[2020-04-28 22:22] sebolio commented on #4177
It still doesn't work for me. I keep getting:
[code]
Using macOS 10.15.4 with Python 3.7.7 installed via `brew`

[2020-04-28 23:18] smasoudn commented on #4406
I keep getting the following error when I use **fastapi** in my python application.

    File "..../miniconda3/lib/python3.7/site-packages/PyInstaller/lib/modulegraph/modulegraph.py",
    line 2912, in _load_package self._load_module(fqname, fp, buf, stuff)
    File "..../miniconda3/lib/python3.7/site-packages/PyInstaller/lib/modulegraph/modulegraph.py",
    line 2093, in _load_module m = self._lo

[2020-04-28 23:33] Legorooj commented on #4841
Can you build without windowed mode? Eg don't use `-w/--windowed/--noconsole`, before opening a terminal, and running the application from it?

[2020-04-28 23:36] Legorooj commented on #4787
@MstWntd I think your idea has merit, but I understand @htgoebel's concerns. We need his input here; he's the project lead.

[2020-04-28 23:40] Legorooj commented on #4406
@smasoudn this is the same error we've all been getting. I got it with `sympy`. I'd say that for some reason, modulegraph isn't being smart about recursion, because there's a bug. It's probably exploring the same branch of a fractal tree over and over again.

[2020-04-29 02:24] Legorooj commented on #2763
I'm closing this, it's invalid now.

[2020-04-29 02:24] #2763 closed

[2020-04-29 02:27] Legorooj commented on #4808
@masoudr are you definitely running from the same environment as pyinstaller has been installed in?

[2020-04-29 03:13] lemoncalamitous commented on #4842
This also happened to me. I am using `Python 3.7.6`, `PyInstaller dev branch`, and `matplotlib==3.2.x`. I think there are breaking changes on `matplotlib 3.x.x`.

By using `matplotlib==2.2.5`, this worked on my end. Hope this helps.

[2020-04-29 03:40] Legorooj commented on #4842
@lemoncalamitous there are. We need to update the hook. Unfortunately, there are other more pressing bugs, but if you could fix the hook for matplotlib we'd happily accept the PR.

[2020-04-29 05:08] mzy2240 commented on #4813
@Legorooj
The old one:
`absl-py==0.9.0
alabaster==0.7.12
altgraph==0.17
anaconda-client==1.7.2
anaconda-project==0.8.3
appdirs==1.4.3
argh==0.26.2
asn1crypto==1.3.0
astor==0.8.0
astroid==2.3.3
astropy==4.0
asttokens==1.1.13
atomicwrites==1.3.0
attrs==19.3.0
autopep8==1.4.4
Babel==2.8.0
backcall==0.1.0
backports.os==0.1.1
backports.shutil-get-terminal-size==1.0.0
bcrypt==3.1.7
beautifulsoup4==4.8.2

[2020-04-29 05:42] aminhusni commented on #4824
I am getting this at the moment. In the process to try to find a resolution because it might be just my PC.

[code]

[2020-04-29 05:58] masoudr commented on #4808
@Legorooj I am. Currently, I ended up creating a new environment with PyInstaller installed and bring the whole directory as a DATA folder.

[2020-04-29 06:09] Legorooj commented on #4824
@aminhusni do you have visual studio installed? Does anyone who is getting this error have visual studio installed? Just found https://social.msdn.microsoft.com/Forums/en-US/d8b2ce74-ea80-4668-9078-56e579d3ab61/vcruntimeh-file-not-found?forum=vcgeneral

[2020-04-29 06:14] Legorooj commented on #4813
@mzy2240 thanks. Well if it's working, then we only need to rewrite the encodings.

[2020-04-29 06:15] Legorooj commented on #4808
@masoudr hang on. You're trying to use PyInstaller from within a PyInstaller executable?

[2020-04-29 07:09] aminhusni commented on #4824
@Legorooj  I have Visual Studio Build Tools 2019 16.5.4 and Visual Studio Community 2019 16.5.4 installed.

[2020-04-29 08:50] masoudr commented on #4808
@Legorooj Yes. I'm using PyInstaller inside my code.

[2020-04-29 08:58] Legorooj commented on #4808
@masoudr have you tried writing a hook for PyInstaller? `collect_all`.

[2020-04-29 09:09] salarsf commented on #4841
Tried that. Didn't work neither.
These are the messages while creating the file:

(venv) salkhashs-MBP:untitled salkhash$ pyinstaller --onefile py37.py
769 INFO: PyInstaller: 3.6
769 INFO: Python: 3.7.4
868 INFO: Platform: Darwin-16.7.0-x86_64-i386-64bit
891 INFO: wrote /Users/salkhash/Documents/My Programs/untitled/py37.spec
935 INFO: UPX is not available.
938 INFO: Extending PYTHONPATH with path

[2020-04-29 10:23] AminDar commented on #2242
having this problem on MAC with python 3.7

[2020-04-29 11:16] JoeSuen opened #4843 "Mac OS Catalina App launch too slow"
Hi.
I use pyinstaller for packing pyqt app. The app launch too slow(almost 20s) after I update to Catalina. Before updating the app launch within 2s. I don't know if it is common problem or I missing some config. If you have any idea, please let me know. Thx

[2020-04-29 11:18] Chrisg2000 commented on #4354
@antimatter84 I agree, there is something to this idea but I think it is not trivial to accomplish or implement.

1. I am thinking the GUI libraries are in most cases the reason why the unpacking takes so long, because they tend to be quite heavy. For the idea to work the developer would need to figure out which components of a specific library are necessary to use it and I think libraries like Qt

[2020-04-29 12:50] donquibeats opened #4844 "Unable to find 'C:\Users\user\nltk_data'"
It appears that this old bug report: [https://github.com/pyinstaller/pyinstaller/issues/3799](https://github.com/pyinstaller/pyinstaller/issues/3799) might have been closed without being resolved?

When running PyInstaller 3.6 on Windows via PyCharm, this error is still being thrown:
`25602 INFO: Loading module hook "hook-nltk.py"...
Unable to find "C:\Users\[user name]\nltk_data" when adding bina

[2020-04-29 13:00] AlecJourdain commented on #4813
@Legorooj
C:\Dev\Project\src\FW\venv\Scripts>python
Python 3.7.6 (tags/v3.7.6:43364a7ae0, Dec 19 2019, 00:42:30) [MSC v.1916 64 bit (AMD64)] on win32
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
NameError: name 'sys' is not defined

Traceback (most recent call last):
  File "<stdin>", line 1, in <mo

[2020-04-29 13:18] JoeSuen commented on #4843
I have just found out changing -F to -D making launch speed fast as normal, so it may be the one file problem.

[2020-04-29 13:19] ABitMoreDepth commented on #4406
Is there any work around for this?  I hit it with pydantic, which I believe others have bumped into as well...

[2020-04-29 15:02] mzy2240 commented on #4813
@AlecJourdain Yes

[2020-04-29 15:04] EdwardChamberlain opened #4845 "Cannot install pyinstaller with pip"
## Description of the issue
pip hangs during install of pyionstaller:
[code]

It hangs here indefinetly (tested for 6 hours.)

## Context information (for bug reports)

* Output of `pyinstaller --version`:
```pyinstaller : The term 'pyinstaller' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the spelling of the name, or if a path was included, verify t

[2020-04-29 15:31] fantasyyxw2020 opened #4846 "Error in running exe program"
FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\ADMINI~1\\AppData\\Local\\Temp\\_MEI155402\\pyecharts\\datasets\\map_filename.json'
[6216] Failed to execute script pyecha
This is my code
`import xlrd
from pyecharts.charts import Bar
data = xlrd.open_workbook('xiaoshoushuju.xls')
table = data.sheets()[0]
names = []
sales = []
for i in range(1, table.nrows):
    name = table.row_

[2020-04-29 19:06] arrudagates opened #4847 "Huge File Sizes on Medium Sized App"
So, i am running this:
`/home/arruda/.temp_venvs/neo/bin/python -m PyInstaller /home/arruda/projects/musicplayer/neoplayer.py --workpath /home/arruda/.temp_venvs/neo/dist_cache --specpath /home/arruda/.temp_venvs/neo/dist_cache --name neoplayer --noconfirm --onefile --clean --exclude-module PyQt5 --hidden-import packaging.requirements --hidden-import pkg_resources.py2_warn --exclude-module numpy -

[2020-04-29 20:45] antimatter84 commented on #4354
Agreed, there are substantial changes involved. It is questionable, if such endeavor like this makes much sense without large demand for such a feature.

I was interested in unpacking duration. I created dummy files of various sizes, e.g. few large files (100m), more medium files (100k) and hundreds of smaller files (5 or 10k). I packed around 600m of additional data files into the single file. Th

[2020-04-29 22:23] Cross22 opened #4848 "PySide2 app blank screen when using web view on OSX"
Minimal example below. Running `pyinstaller main.py` on OSX creates an executable that launches but it is just a blank screen instead of the web page you see when running `python main.py`
[code]

[2020-04-30 00:38] Legorooj commented on #4354
@antimatter84 progress? Maybe you and @Chrisg2000 could collaborate? A `show_progress=True/False` in the `Splash` spec class.

[2020-04-30 00:55] Legorooj commented on #4841
How did you install python?

[2020-04-30 01:01] Legorooj commented on #4813
@AlecJourdain if that doesn't work know that I have 1 PR to finish, one website, then I'll be onto this. (ETA: 1 week until the PR I submit is ready for review)

[2020-04-30 04:16] Legorooj commented on #4844
@donquibeats this issue had been resolved in the development version. We haven't released it yet.

[2020-04-30 04:16] #4844 closed

[2020-04-30 04:20] Legorooj commented on #4845
@EdwardChamberlain when it freezes, is the window title something like `Select command prompt...`? If so, select the window and press space.

[2020-04-30 04:21] Legorooj commented on #4846
@fantasyyxw2020 you need to write a hook for PyInstaller. See https://pyinstaller.readthedocs.io/en/stable/hooks.html

[2020-04-30 04:21] #4846 closed

[2020-04-30 04:22] Legorooj commented on #4847
@arrudagates package it without onefile, and look inside the generated folder. Which files are the largest?

[2020-04-30 04:24] #4847 closed

[2020-04-30 04:26] Legorooj commented on #4843
@JoeSuen we can't help with app launch speeds. Everything is as optimised as we can make it for now.

That will always help with launch speed; when using `-F` the executable has to decompress all of your code before it can run.

[2020-04-30 04:26] #4843 closed

[2020-04-30 04:35] Legorooj commented on #4848
@Cross22 can you please try `pip install https://github.com/pyinstaller/pyinstaller/archive/develop.zip`?

[2020-04-30 04:38] Legorooj commented on #4820
Figured out the rough cause of the problem. We're trying to use relative paths across seperate drives. I need to look into this more.

[2020-04-30 04:42] Legorooj commented on #4814
@tingfenghanlei please write a hook for matlab: https://pyinstaller.readthedocs.io/en/stable/hooks.html

Once you've got it working, submit a PR to https://github.com/pyinstaller/pyinstaller-hooks-contrib so other users can use it.

[2020-04-30 04:42] #4814 closed

[2020-04-30 06:01] Legorooj commented on #4767
I'm going to close this issue; see #4824. There's no point having two identical issues open.

[2020-04-30 06:01] #4767 closed

[2020-04-30 07:04] salarsf commented on #4841
I installed the official 2.7.4 version for mac from python.org

[2020-04-30 08:41] Legorooj commented on #4841
@salarsf could you try python 3.7? Or does your app not support python 3?

[2020-04-30 08:50] salarsf commented on #4841
Sorry I ment 3.7.4

[2020-04-30 08:57] sergava commented on #4812
Same issue on different machine on Windows 7. Pyinstaller version = 3.6

[2020-04-30 10:48] Legorooj commented on #4824
Ok, this is weird. I can't replicate this on any environment I can procure. I've tried python 3.6-64, 3.6-32, and 3.7-32. I've tried it with and without virtual environments. I've tried it on seperate disks. With seperate clones of the git repository.

[2020-04-30 12:15] Legorooj commented on #4841
@salarsf well TK wasn't installed properly. So you need to fix that; it's not a PyInstaller error. And I can't help because I'm not a Mac developer - nor do I own a Mac.

[2020-04-30 12:16] #4833 closed

[2020-04-30 12:27] Legorooj commented on #4656
@arjuncr might have an update. You want to build for arm Linux from non-arm Linux, correct?

[2020-04-30 13:06] salarsf commented on #4841
Thanks a lot for your time. But I have no problem using py2app. If it was a problem with the system, shouldnt I faced the same problem using py2app?

[2020-04-30 13:20] waleedhammam commented on #4812
Already resolved by adding it to hidden imports hooks file

[2020-04-30 13:20] #4812 closed

[2020-04-30 16:03] antimatter84 commented on #4354
When you run the onefile binary, you would get progress information on stdout, e.g.

[code]
or other information such an refreshing line "x of y bytes decompressed...".

[2020-04-30 18:28] aminhusni commented on #4824
I've reinstalled by Build Tools but still experiencing the same error.
Maybe later I'll try reinstalling everything

[2020-04-30 18:31] Cross22 commented on #4848
Thanks Legorooj, the dev branch indeed fixes the blank screen issue!
I still see warnings at build time (missing shiboken library) and at runtime (PySide2 looking for data files in malformed path) but it does work.

[2020-04-30 18:59] sergava commented on #4812
can you, please, explain details? How to do it?

[2020-04-30 19:03] waleedhammam commented on #4812
used https://github.com/pyinstaller/pyinstaller/pull/3901
and created a hooks file with this hidden imports
hiddenimports = [your libaries]

don't know if it may works with the hidden imports int the spec file or not but that worked for me

[2020-05-01 00:05] Legorooj commented on #4841
@salarsf I don't know. I'm not a Mac developer, and don't understand. However, I just found #3753 and a specific comment that should fix your solution at https://github.com/pyinstaller/pyinstaller/issues/3753#issuecomment-432464838

[2020-05-01 00:12] Legorooj commented on #4848
@Cross22 I'll close this issue then. It's relatively safe to use the development branch; we only merge stable work into it. It's just full of new features and bugfixes.

Maybe those need fixing, maybe they don't. Feel free to open new issues if they're bugs.

[2020-05-01 00:12] #4848 closed

[2020-05-01 00:13] Legorooj commented on #4824
@aminhusni I found one forum thread that said windows SDK versions can mess stuff up. In the VS installer, can you check everything from the `C++ desktop development tools` option is installed?

[2020-05-01 00:14] Legorooj commented on #4354
@antimatter84 even better would be a progress bar on the splash screen. But that would help.

[2020-05-01 05:31] masoudr commented on #4808
@Legorooj Thanks for the help, but I'm not quite sure how to write the hook, I've looked into the docs about how to create a hook but I don't know which `datas` or `binaries` should I use with `collect_all`.  On the other hand, the error is quite strange for me as it is complaining about missing an existing module which I don't think is related to hooking the PyInstaller itself.

[2020-05-01 06:51] Legorooj commented on #4808
[code]
And inside the hook:
[code]
And `--additional-hooks-dir=hooks doesn't work?

PyInstaller needs `pywin32-ctypes` to build scripts.

[2020-05-01 08:03] August26 commented on #4659
@Legorooj, hello, i have same error, but i using python 3.7.2, windows 10 and pyinstaller 3.6
You can help me, please?

[2020-05-01 08:22] Legorooj commented on #4659
@August26 please open a new issue, and then I can.

[2020-05-01 09:39] antimatter84 commented on #4354
Yes, it is another question how helpful stdout output would be on Windows, if the binary is compiled without terminal support.
But yes, the progress information can be routed to the splash screen. So far, I haven't had a look at the current splash screen implementation by @Chrisg2000.

[2020-05-01 12:14] Legorooj commented on #4354
@antimatter84 @Chrisg2000 is redoing his implementation from scratch, using Tk linked into the bootloader directly. It'll be as part of the bootloader as onefile

[2020-05-01 13:23] Jonnyb36 commented on #3929
This is an old issue, but I just got this working on Windows with the following...

Call ```multiprocessing.freeze_support()``` immediately within the top-level app.py file i.e.

[code]
or as the first line in the first function.  I'm also using ```argparse``` so placed the freeze_support call before the argparse calls.  Some more info on [stackoverflow](https://stackoverflow.com/questions/4732529

[2020-05-01 15:46] aminhusni commented on #4824
Can't find the exact name but these are the stuff I had. Should I install?

I don't have enough disk space to install everything so this is what I had:
![2020-05-01 23_37_14-Visual Studio Installer](https://user-images.githubusercontent.com/8511047/80818340-92922d80-8c05-11ea-967e-dbbaba824b3d.jpg)

Using normal PowerShell to install will still give the same error.

Then I tried using the Develope

[2020-05-01 20:58] EdwardChamberlain commented on #4845
@Legorooj I am using the powershell from VSCode but the issue is the same on stand alone powershell. The full powershell output is:

[code]

or running in VSCode (also in a venv):

[code]
This has been sat on this step for 3 Days now.

[2020-05-01 21:00] EdwardChamberlain commented on #4845
When I cancel the operation with a keyboard interrupt (I have to do it twice) I get this error:

[code]

[2020-05-01 21:05] EdwardChamberlain commented on #4845
When running pip with the `-v` flag for verbose output I end up with this line:

`  Given no hashes to check 137 links for project 'pip': discarding no candidates`

Full log: https://pastebin.com/GUpga9We

[2020-05-02 00:15] Legorooj commented on #4824
Wth? This is really weird. Output without `--target-arch`? In the developer prompt.

[2020-05-02 00:19] Legorooj commented on #4845
Ok. Please open an issue in https://github.com/pypa/pypi-support and tag me on it.

[2020-05-02 05:59] Legorooj commented on #4845
Try `pip install https://github.com/pyinstaller/pyinstaller/archive/master.tar.gz`. that's the same release as PyPI

[2020-05-02 08:47] htgoebel commented on #4845
OP writes;

THis is a pip issue then, not related to PyInstaller.

[2020-05-02 08:51] htgoebel commented on #4840
PyInstalelr for AIX can not be installed from PyPI. You need get the source, build the bootloader and then install from this directory. See the manual for details.

Please also not that AIX is a contributed platform and not supported by the PyIsntaller voluntary project. You ma reach out Hartmut Goebel for commercial support, see http://www.pyinstaller.org/support.html

[2020-05-02 08:51] #4840 closed

[2020-05-02 08:55] htgoebel opened #4850 "Use github actions for running lint phase"
As suggested by @Legorooj https://github.com/pyinstaller/pyinstaller-hooks-contrib/issues/3#issuecomment-618176711

[2020-05-02 09:24] #4728 closed

[2020-05-02 09:58] #4057 closed

[2020-05-02 10:08] Legorooj commented on #4850
@htgoebel I'll set this up tomorrow on my fork and get it working, then check with you it's fine.

[2020-05-02 10:43] programerTobyLai opened #4851 "Exception: Cannot find PyQt4 plugin directories"
Exception: Cannot find PyQt4 plugin directories

So I uninstalled pyqt4
But it's useless！
the error still
Exception: Cannot find PyQt4 plugin directories

[2020-05-02 10:47] programerTobyLai commented on #2224
I uninstalled pyqt4
but it's useless...

[2020-05-02 12:55] Legorooj commented on #4845
Closing; a pip upgrade fixed the problem.

[2020-05-02 12:55] #4845 closed

[2020-05-02 14:53] TheMineTuberYT opened #4852 "Trojan after compiling"
Hello.

I have my own website and it is dedicated to everything that I do.
There I upload my projects, especially in Python.

Recently, I wanted to compile my Python code and upload it to my site, but when I checked if my file was downloading, my browser (i.e.Google Chrome) said that there were some viruses in the file, and after that I decided check file on VirusTotal.

I was surprised ...

It tu

[2020-05-02 18:58] jcflow commented on #1801
Solved in **Mac OSX** with this: Adding clr and adding dll.

[code]

[2020-05-02 19:05] zipy124 commented on #4852
This is a false positive, please see issue #4633 , #252 .

Suggest closing this issue, since its a anti-virus problem, not inherent to the program. Please report any incidents to the anti-virus companies as a false positive.

[2020-05-02 23:55] Legorooj commented on #4852
@TheMineTuberYT please feel free to recompile the bootloaders. They are what the antivirus is scanning. AFAIK the reason is that they were cross-compiled for windows, from Linux, so antivirus can be touchy. See https://pyinstaller.readthedocs.io/en/stable/bootloader-building.html for details on how to do this.

As for proof its not a virus? The source code is available in the bootloader folder of

[2020-05-02 23:55] #4852 closed

[2020-05-02 23:56] #4838 closed

[2020-05-03 02:49] harshnagar opened #4853 "importlib_metadata.packagenotfounderror: audio metadata"
This Error occur while running my exe file of my python program. I have created the exe file using auto-to-py-exe

[2020-05-03 05:19] Legorooj commented on #4853
You need to collect the metadata for the package with a hook. See https://pyinstaller.readthedocs.io/en/stable/hooks.html for more details.

[2020-05-03 05:19] #4853 closed

[2020-05-03 07:29] ShengHow95 commented on #4400
I will still run into errors even doing as according to your solution. But I found a workaround with by changing the code to this instead. Note that instead of using 'tensorflow_core' which couldn't work for my case, 'tensorflow.core' works fine

[code]

[2020-05-03 08:15] Legorooj commented on #4400
@ShengHow95 the development version `pip install https://github.com/pyinstaller/pyinstaller/archive/develop.zip` has tensorflow support. Please use that.

[2020-05-03 08:28] yanaytevet commented on #4628
I'm experiencing the same issues. Have you, by any chance, reached a solution?

[2020-05-03 09:52] Legorooj commented on #4628
We need @htgoebel for this. I'm afraid that unless @wmtorode or @pinobatch have solved this in the meantime... I'm not a Linux guru.

[2020-05-03 14:51] harshnagar commented on #4853
Can you tell me step by step how can i do it?

[2020-05-03 17:09] fabioz commented on #1048
I see this is closed (probably because this is hard to do)... for those that want a workaround, a simpler approach is probably creating a separate executable which calls the existing executable which is already generated by pyinstaller (i.e.: create/compile some `main.c` which calls the existing executable).

[2020-05-03 18:29] bicobus commented on #1048
It kinds of defeat the purpose of python and pyinstaller though. You'll need to create an executable for each platform and handle caveats inherent to each of them.

[2020-05-03 21:27] aminhusni commented on #4824
It will say something like please specify an architecture, unknown pointer. Sorry, can't get the exact error message because I pretty much uninstalled the whole VS setup on my PC and never got around to reinstalling it back since I mostly just write in Visual Studio Code.

[2020-05-04 00:07] Legorooj commented on #4853
@harshnagar an overview is:

1. Write a hook file. Inside the file import the correct utils and collect the metadata. Refer to the link I sent above for more info.

2. Add the hook into building with `--additional-hooks-dir=dir/with/hook-file`.

[2020-05-04 00:09] Legorooj commented on #1048
Look, if you'd like this feature, open a new issue and PR and write the feature.

[2020-05-04 00:12] mikebourbeauart commented on #4218
I'm also having this problem. I have PySide 2 pip installed and am using Qt.py as a wrapper that I link to in the .spec file.

Here's the log from running the exe file:

[code]

Here's the log from running pyinstaller:

[code]

[2020-05-04 00:23] Legorooj commented on #4851
Can we have the full traceback?

[2020-05-04 02:00] programerTobyLai commented on #4851
pyinstaller -F server.py

server.py is not a gui program
but.........
nnot find PyQt4 plugin directories
Toby
On 5/4/2020 08:24，Legorooj<notifications@github.com> wrote：

Can we have the full traceback?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-05-04 02:04] programerTobyLai commented on #4851
135 INFO: PyInstaller: 3.6
135 INFO: Python: 3.7.4
136 INFO: Platform: Windows-10-10.0.18362-SP0

Toby
On 5/4/2020 08:24，Legorooj<notifications@github.com> wrote：

Can we have the full traceback?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-05-04 02:44] Legorooj commented on #4851
@programerTobyLai that's not the full traceback. Can you copy and paste the entire output into a GitHub gist?

[2020-05-04 02:57] bjones1 commented on #4851
PyInstaller doesn't support PyQt4 under Python 3.

[2020-05-04 02:57] #4851 closed

[2020-05-04 03:09] programerTobyLai commented on #4851
i uninstalled pyqt4！

On 05/04/2020 10:57, Bryan A. Jones wrote:

PyInstaller doesn't support PyQt4 under Python 3.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-05-04 06:25] alibaltschun commented on #4639
did you find the solution?
thanks

[2020-05-04 07:39] harshnagar commented on #4853
@Legorooj
Thanks for your help, but it would be a great help if you tell me what i have to write in the hook file, I am unable to understand from the site. Please a humble request.

[2020-05-04 10:59] fabioz commented on #1048
@bicobus yes, you need to handle caveats (and if it's done maybe even contribute that to pyinstaller), but I don't think that it defeats the purpose of pyinstaller (which probably already goes through many whoops to track everything needed to create one installer -- I don't think that creating an exe that calls another exe isn't work comparable to what it already does, although I agree that it doe

[2020-05-04 11:44] Legorooj commented on #1048
@fabioz you didn't create havoc. Sorry; I was a little short.

I'll clarify:

If someone wants this feature in PyInstaller, then they need to submit a PR containing it. We'll happily accept a feature, but we don't have time to program it ourselves because there are too many bugs to fix, features to review, hooks to deal with, and other maintenance work. (We don't have support for python 3.8 yet fo

[2020-05-04 19:27] bjones1 commented on #4820
This was introduced in 042d21cec66308f39ef530bf0e6dbd5de3fa442c. I'm working on a fix.

[2020-05-04 20:05] schwingkopf opened #4854 "Improve docu about __file__ usage with relative paths in bundled mode"
I encountered inconsistent behavior between running a bundle on win10 vs linux when using relative paths and `__file__` to locate resources at run-time.

My particular problem ocurred when using relative paths that navigate to the parent or sibling folders to access data files, e.g. like :
[code]
with a folder structure like:
[code]
Running the above code within myTestCode2.py, the resolving of `p

[2020-05-05 00:04] Legorooj commented on #4820
@bjones1 you got there before I did... I'd only just figured out the problem. I hadn't even gotten to a fix.

[2020-05-05 05:07] Legorooj commented on #4854
This is unclear... How did you compile it? Which command? Which folders did you import? What did you add as a data/binary?

[2020-05-05 06:03] coder-lkl commented on #2047
The same :(
Did anyone find reasons?

[2020-05-05 08:29] Legorooj commented on #4853
What's the exact traceback? I can't write the hook without it.

[2020-05-05 08:30] Legorooj commented on #4820
Odd. https://travis-ci.org/github/bjones1/pyinstaller/jobs/683086293#L924 is failing on an exitcode of 0.

[2020-05-05 08:35] Legorooj commented on #4691
Thought I'd closed this.

I contacted the PyPI developers and got a redirect setup from pythonhosted.org/PyInstaller to RTD.

[2020-05-05 08:35] #4691 closed

[2020-05-05 08:37] Legorooj commented on #4820
@bjones1 can confirm fix in 886d932 works. Open a PR and assign me when we've got these macOS builds working.

[2020-05-05 08:45] Legorooj commented on #4808
@masoudr is this working yet?

[2020-05-05 08:49] Legorooj commented on #4824
Can you make sure we have the same stuff installed? If that doesn't work, then - if you can - replicate my VS environment by uninstalling stuff I don't have installed.
![Visual Studio Installer 5_05_2020 6_46_35 PM - Copy](https://user-images.githubusercontent.com/50370070/81049220-1f3c3480-8f01-11ea-877d-259fbfa26dc3.png)

[2020-05-05 08:55] Legorooj commented on #4752
@StephenNorCalControls I can't replicate this.

Could you try cloning the git repo, building the bootloader, and then installing before trying again?

[2020-05-05 08:56] sergava commented on #4812
hi, could you help me, I don't know what to import.
tried _socket, socket and it didn't work for me.

[2020-05-05 09:10] masoudr commented on #4808
@Legorooj I apologize for the late response.
I tried what you did; created a test script:
[code]
And put the `hook` directory and the contents next to it and froze the app. The output file size got larger but I got the same error.

[2020-05-05 09:31] klienn opened #4855 "Failed to execute script pyi_rth_multiprocessing, ImportError: DLL load failed while importing _socket: The parameter is incorrect."
I am trying to run my python ```.exe``` file on another machine but unable to. I tested it on my machine and the application works but on running it in other machine outputs the following error:

[code]

Any help will be greatly appreciated, Thanks!

[2020-05-05 09:39] Legorooj commented on #4808
@masoudr did you use the `--additional-hooks-dir=hooks` option? It won't work otherwise

[2020-05-05 09:57] samlefeon opened #4856 "Fixed : AssertionError: Hook Conflict. Please remove the following custom hook: __PyInstaller_hooks_0_ PySide2"
Hi,

When freezing my app, I had the following error :
`AssertionError: Hook Conflict. Please remove the following custom hook: __PyInstaller_hooks_0_ PySide2`

Fixed by removing `hook-PySide2.py` from `Project\venv\Lib\site-packages\PyInstaller\hooks`

Hope it will help you!

[2020-05-05 12:18] masoudr commented on #4808
@Legorooj Yes, I did, and as I said I checked the logs and the hook worked but got the same output.

[2020-05-05 12:23] Legorooj commented on #4808
@masoudr I'll try and replicate.

[2020-05-05 13:14] Odatas commented on #2084
You can put that in the console line as an argument

pyinstaller --hidden-import pkg_resources.py2_warn

I advice to use the auto py to exe which is a gui for pyinstaller.

pip intall auto-py-to-exe

[2020-05-05 15:30] robertoetcheverryr commented on #2533
@Legorooj
I have just checked and the problem still exists on:
Windows 10 x64
PyInstaller 3.6
Python 3.8.2

Code modified from the initial example:
[code]

After the parent dies, the child remains.
If I can help to isolate the problem, I'd be happy to.

[2020-05-05 16:27] StephenNorCalControls commented on #4752
After cloning the repo and building it, I still see the same issue. Attached are the output logs from two builds with slightly different parameters.

In the first  instance, I specify the icon file, and in the output logs it reports that the manifest was changed and had to be  added to the executable. In the second instance, even with `--uac-admin` specified, it correctly detects that the icon cha

[2020-05-05 17:49] ulope opened #4857 "gevent hook unnecessarily bundles ~17MB of "stuff""
## Description of the issue

The included `gevent` hook bundles about 17MB of unnecessary files.
These include:
- HTML documentation
- `__pycache__` folders
- tests
- Generated `.c` and `.h` files

## Context information (for bug reports)

* Output of `pyinstaller --version`: `3.6`
* Version of Python: `3.7.7`
* Platform: macOS 10.15.4 / Ubuntu 18.04

### A minimal example program which shows the

[2020-05-05 18:30] schwingkopf commented on #4854
I prepared a full minimal project for you in the attached .zip file. Feel free to explore.
[pyinstaller_problem_with_file_import.zip](https://github.com/pyinstaller/pyinstaller/files/4582909/pyinstaller_problem_with_file_import.zip)

The resulting program output is:
Linux (non-bundled):
[code]
Linux (bundled):
[code]
Windows (non-bundled):
[code]
Windows (bundled):
[code]

I'm running pyInstaller

[2020-05-05 23:23] srikrishnansrinivasan commented on #3793
Piling on. Seeing this error. Has this been resolved?

[2020-05-05 23:27] srikrishnansrinivasan commented on #4212
I tried with python 3.8.2 on a windows 10 64-bit system

[2020-05-06 00:05] Legorooj commented on #4854
@schwingkopf I'll take look.

[2020-05-06 00:08] Legorooj commented on #2533
@robertoetcheverryr if you could try the development version, then if it persists open a new issue with all the details. I'll help look into it.

Also, python 3.8 is unsupported, so please try another version (support is enroute).

[2020-05-06 00:10] Legorooj commented on #4752
I didn't use `--onefile`. I'll try that. Try building with `--clean`?

[2020-05-06 00:18] Legorooj commented on #4856
@samlefeon you're using the development version right?

[2020-05-06 00:19] StephenNorCalControls commented on #4752
I added `--clean` to both build strings and got the same result. It doesn't seem to change the outcome.

[2020-05-06 00:30] Legorooj commented on #4857
Hmm. Looks like the hook needs updating to remove files like that. If you'd be able to provide a PR?

[2020-05-06 00:32] Legorooj commented on #4842
Closing: https://www.google.com/search?q=pyinstaller+matplotlib+pathlib+error&oq=pyinstaller+matplotlib+pathlib+error&aqs=chrome..69i57.13289j0j7&client=ms-android-hmd-rev2&sourceid=chrome-mobile&ie=UTF-8

[2020-05-06 00:32] #4842 closed

[2020-05-06 00:33] #4815 closed

[2020-05-06 01:12] robertoetcheverryr opened #4858 "Windows executable does not signal child process"
As requested I am opening a new issue after testing with Python 3.7 and the latest PyInstaller development version.
Referencing issue #2533

Windows 10 x64 (Spanish locale)
PyInstaller 4.0.dev0+80d5078081
Python 3.7.7

Code modified from the initial example:
[code]
After the parent dies, the child remains.
If I can help to isolate the problem, I'd be happy to.

[2020-05-06 01:58] Legorooj commented on #4858
I'll verify this myself.

In theory, this should be as simple as killing all of the children of the python process.

[2020-05-06 02:33] tuda2009 opened #4859 "macOS subprocess.Popen not work"
PyInstaller  3.6
python 3.7.4

sc.spec
[code]

sc.py
[code]

run dist/scClient the worker start successfully
run dist/scClient.app, but the worker not start. how to fix it? thanks!

[2020-05-06 03:08] tuda2009 commented on #4859
`os.system('cp requirements.txt requirements.txt2')`

os.system same result as subprocess.Popen

[2020-05-06 05:46] samlefeon commented on #4856
@Legorroj Do you mean the development version of Pyinstaller ?
I installed it with this : pip install https://github.com/pyinstaller/pyinstaller/archive/develop.zip

[2020-05-06 08:21] Legorooj commented on #4856
@samlefeon yes, the development version of PyInstaller.

Which command are you using to build? What is the full output of the build?

[2020-05-06 08:32] harshnagar commented on #4853
@Legorooj thanks for your help but i have solved my problem by using python build and after that manually adding the required files.
But again thanks for your replies 👍

[2020-05-06 08:52] Legorooj commented on #4752
@StephenNorCalControls verified.

You're probably correct.

This also only occurs with `--onefile`. `-D/--onedir` works fine when running 80d5078081.

[2020-05-06 09:17] Legorooj opened #4860 "New - and consistent - failiures of the QtQml tests on macOS (CI)"
## Description of the issue

## Context information

* Output of `pyinstaller --version`: develop.
* Version of Python: e.g. 3.7.5
* Platform: OS X (macOS CI on Travis)

### Issue
QtQml is consistently failing. From Travis:

[code]

### Links to failing builds:

First noticed in https://travis-ci.org/github/bjones1/pyinstaller/jobs/683086293

* https://travis-ci.org/github/pyinstaller/pyinstaller/

[2020-05-06 09:48] Legorooj commented on #4771
Confirmed. This is a valid issue. I'll work on a fix.

[2020-05-06 12:21] m-rashwan commented on #4382
@yishangfei  you can use data_added section in spec file to copy fb_ca_chain_bundle.crt from [facebook_business] located in $python_root\Lib\site-packages\site_packages to correct path {the path you got in the error}.

[2020-05-06 13:07] TheDemystifier commented on #4639
Nope, I switched to PyQt instead. Not the best solution since PyQt needs a license, but my little project was for non-commercial use, so it was fine.

[2020-05-06 14:51] bjones1 commented on #4860
I agree -- mark as skipif for now. I ran https://travis-ci.org/github/bjones1/pyinstaller/jobs/683086293 on PyInstaller's `develop` branch and got the same failure. This raises the question: why? What changed?

[2020-05-06 15:45] asrabon opened #4862 "Numpy Import Error"
I have tried packaging an application with numpy and some computers the executable is working without issues other computers it fails on startup. Below is the output I get when creating the exe in debugging mode. I opened an issue with the numpy developers and they suspect the issue resides with Pyinstaller. Here is the thread from numpy: https://github.com/numpy/numpy/issues/16163

[23492] PyInst

[2020-05-06 19:45] bjones1 commented on #4860
Doing some looking in the past:
- Commit c389fbedea7e651205d877559e16dd049f76be98 passes per https://travis-ci.org/github/bjones1/pyinstaller/builds/683891038.
- d08a42c612a91cc320c54f9e812fe967b9c8594a passes - https://travis-ci.org/github/bjones1/pyinstaller/builds/683943570

[2020-05-07 00:04] Legorooj commented on #4639
@TheDemystifier https://wxpython.org. Free for commercial use; widely used; python bindings to the toolkit Audacity, FileZilla, and a few other programs.

[2020-05-07 00:22] Legorooj commented on #4860
@bjones1 none of us have a mac, so we can't `git bisect`. I'll see if I can setup a macOS CI job to run `git bisect` on my fork.

Also, this occurred I the last few days. #4805 has passing CI 7 days ago, so it's recent commits. With any luck, I should narrow down the cause of this in a day or two.

I'll mark as `skipif` when on PC in a bit.

[2020-05-07 01:09] Legorooj commented on #4862
We're missing the last half of the traceback. I can't help without it.

[2020-05-07 01:56] bjones1 commented on #4860
Sounds good. I'll continue playing as well when I have time. I did start too far back in time...

[2020-05-07 06:07] samlefeon commented on #4856
It is pyinstaller 3.4

I build with "fbs freeze"

No custom hooks.

[2020-05-07 06:11] Legorooj commented on #4854
@schwingkopf I've taken a look... You should be using absolute paths.

From:
[code]
To:
[code]
Does that work? I don't have a Linux box to try it out on.

[2020-05-07 06:17] Legorooj commented on #4856
We/I can't help then. `fbs` is using an outdated version of PyInstaller, and we don't offer support for it. And this error is caused by `fbs`, not PyInstaller.

[2020-05-07 06:18] #4856 closed

[2020-05-07 06:31] schwingkopf commented on #4854
@Legorooj , thanks for the suggestion, that actually does work! Resolving the path before linux has to do it solves the problem.

So adding a little note about this in the doc would be nice.

[2020-05-07 06:38] Legorooj commented on #4854
https://github.com/pyinstaller/pyinstaller/commit/5e33cce158816b9780d5456c6430a2dce1df0345

[2020-05-07 06:38] #4854 closed

[2020-05-07 06:40] Legorooj commented on #4860
I've skipped the tests in https://github.com/pyinstaller/pyinstaller/commit/6aebb5c9c8b2df795ff5ec7b99aee2474f8ce72f.

I'll work on debugging it now.

[2020-05-07 07:27] gelodefaultbrain commented on #4648
hello @gakhilbabu7983  I have the same problem as you. How did you solved it? Thank youu :) badly needed it :(

[2020-05-07 07:39] Legorooj commented on #4860
Found the bad commit. I'm going to run CI on a branch which has the commit removed to check it works, but the first bad commit is 70709cdd1b033eabc0c1f3ea36f1a9eb61504bf9 from PR #4592.

https://github.com/Legorooj/pyinstaller/runs/652139359?check_suite_focus=true

[2020-05-07 09:28] samlefeon commented on #4856
Ok. Should I install pyinstaller with this command ?
pip install https://github.com/pyinstaller/pyinstaller/archive/develop.zip

I have another problem : my executable is told to be a virus by some antiviruses (on my colleagues computers). Do you know why ?

[2020-05-07 10:29] Legorooj commented on #4856
@samlefeon that - the antivirus issue - comes and goes. Rebuilding the bootloader can fix it (see the docs).

`pip install -U PyInstaller` first. That will install PyInstaller 3.6, the latest stable version.

[2020-05-07 10:50] samlefeon commented on #4856
Ok. Thanks for all these information!

Regards

[2020-05-07 11:10] samlefeon commented on #4856
I installed pyinstaller 3.6 but received this message when launching my app :

"failed to execute script pyi_rth_pkgres"

[2020-05-07 12:21] Legorooj commented on #4860
Ok, dropping https://github.com/pyinstaller/pyinstaller/commit/70709cdd1b033eabc0c1f3ea36f1a9eb61504bf9 worked. See https://travis-ci.org/github/Legorooj/pyinstaller for passing CI.

[2020-05-07 12:30] bjones1 commented on #4860
Wow, I never would have guessed that. Nice job using `git bisect`. I have absolutely no clue why this causes it, though -- to fix, it will definitely take time on a Mac. For now, just point to this issue and add the `skipif`.

[2020-05-07 18:45] jay0lee commented on #4824
As a data point, I just saw the issue when trying to build the bootloader from a relatively long path:
[code]

but it did not reproduce once I renamed to a shorter path:
[code]

[2020-05-07 22:14] bjones1 commented on #4820
I'm waiting for tests on my fix to finish, then I'll push. This should land tomorrow.

[2020-05-08 00:18] Legorooj commented on #4856
@samlefeon google the error and if you can't find anything open a new issue.

[2020-05-08 00:32] Legorooj commented on #4824
Huh? This makes no sense. Short paths shouldn't make a difference. Can you confirm that it fails on long paths on the same CI run? So build it twice; one long path one short.

[2020-05-08 02:39] Kocaak opened #4863 "Executable file builts in Windows 10 doesnt work in Windows 7"
Hello all,

I am having trouble with make my executable PyQT5 project created by PyInstaller with --onefile command (Python 3.8, PyQT5 5.14.2, PyInstaller 3.6) work in Windows 7 since It works in Windows 10 without any problem. In latest Visual C++ Redistribution and Universal C Runtime packages installed Windows 7, I got "Failed to execute script pyi_rth_multiprocessing" error. Couldnt find any s

[2020-05-08 02:43] Legorooj commented on #4863
What's the full traceback? And we don't support python 3.8 yet.

[2020-05-08 03:23] Legorooj commented on #4860
Scratch what I said. Apparently I hadn't dropped the commit - git had sneaked it back in there. I just tried again, and got loads of conflicts.

We should leave the skipif.

@htgoebel @danyeaw can we have help here? You two wrote the code that caused this problem.

[2020-05-08 03:52] jay0lee commented on #4824
Agreed it doesn't really make sense but it's consistent on the repro. I stood up a PoC Travis config to reproduce (or not reproduce) the issue across msvc 2015/2017 with and without a longer current path of the bootloader source. See:

https://travis-ci.org/github/jay0lee/travis-hello-world/builds/684534204

the two failed builds were cloned into a longer path like:
[code]
while the successful bui

[2020-05-08 03:52] Kocaak commented on #4863
Hi, I dont have any traceback except error pop-up. I tried to re-run app with built console=True attribute and got this:

(https://i.stack.imgur.com/ZnLIS.png)

The thing that makes me confuse is file path on command prompt is actually my computer's path. (C:\users\Asus is my username not installed user's)

[2020-05-08 04:01] Legorooj commented on #4863
@Kocaak there was a bug in strip-paths, which removes paths leftover from your PC. Apparently it wasn't fixed.

Hmm. That error needs looking into.

[2020-05-08 04:04] Legorooj commented on #4863
And just to check, you're running the executable from the `dist` folder, not the `build` folder right?

[2020-05-08 04:11] Kocaak commented on #4863
Yes, I am running the exe in dist folder but then how can it be possible works in w10 but not w7. It has no sense

[2020-05-08 06:16] Legorooj commented on #4863
@Kocaak it'll be related to runtime libraries. I'm afraid that all I can do to help is say try `--win-private-assemblies` and/or `--win-no-prefer-redirects`. Otherwise, a development decision was made the other day not to offer support for EOL products. IE windows 7 is supported by PyInstaller, but the developers (us) won't offer support for it in bug tickets/PRs. Sorry!

[2020-05-08 06:16] #4863 closed

[2020-05-08 14:32] #4820 closed

[2020-05-08 16:08] Kocaak commented on #4863
I am not sure if its about runtime libraries or packaging bug since I saw my computer's path on other computers but anyway I will check your advice for sure. Thank you

[2020-05-08 23:57] Legorooj commented on #4863
@Kocaak the computer paths are intentionally pulled from your PC. However, they should have been stripped to non-revealing paths. (Remove your username, drive, etc)

[2020-05-09 06:25] Legorooj commented on #4810
As per an email, I'm tagging these authors to get their permission. The names may be wrong, but I don't think so.

* @leycec
* @bpteague
* @guimas are you `gsmatti`? I thought you might be based on the fact that https://github.com/hydroffice/hyo_bagexplorer/commit/7e039f40976b46d8f862bcf027736a71fa5647ee has your profile photo on it.
* @thiolliere
* @duploduplo
* @KenjiTakahashi

If any of you hav

[2020-05-09 14:33] uriencedric commented on #2613
You're a dick. That's was uncessary.

[2020-05-09 14:42] uriencedric commented on #2613
This is exactly why I hated myself when I started and made mistakes, because some jackass would comment like that and destroy your morale.
I used that to become a better engineer and help the less experienced engineers.
Ain't nothing like a dumb question.

[2020-05-09 17:28] mrbig033 commented on #2613
This issue is from 2017 and the asshole deleted their account a long time ago. What's even the point anymore? :P

[2020-05-10 02:18] Jeklah commented on #3328
So whats the laymans terms for the fix for this?

[2020-05-10 08:07] thiolliere commented on #4810
I agree to put my work on py-installer on the license APL

[2020-05-10 08:32] KenjiTakahashi commented on #4810
Yes, I am fine with the change. Cheers!

[2020-05-10 13:11] Fizzadar commented on #2732
Although it would be nice to have in pyinstaller, it's possible to achieve this using a custom spec file to remove the binaries from the analysis object. I've succesfully used this to a build (more) portable Linux GTK/webkit app (https://github.com/Oxygem/Kanmail/commit/f983ffca6e7d9304bc37e546942c5aa56d1fd40d).

[2020-05-10 16:11] duploduplo commented on #4810
I am fine with the changes.

Cheers,
Lorenzo/duploduplo

[2020-05-10 16:14] Akaj-lab opened #4864 "Can't install on my computer. Pip errors out with exit status 1."
## Description of the issue
I can't install `pyinstaller` on my computer.
## Context information (for bug reports)

* Version of Python: 3.8
* Platform: Windows (Slovenščina/Slovenian)
* Pyinstaller branch: develop and master
* pip version: 19.7 and 20.1

##SuperShell output
![SuperShell output](https://github.com/Akaj-lab/desktop-tutorial/blob/jaka/Opomba%202020-05-10%20174747.png)

[2020-05-10 19:25] bpteague commented on #4810
Fine by me!  Thanks for checking, and for all your hard work on PyInstaller (:

[2020-05-11 00:13] Legorooj commented on #4864
Please open an issue in https://github.com/pypa/pip. They'll be more help.

[2020-05-11 00:13] #4864 closed

[2020-05-11 03:03] Legorooj commented on #4806
Can I implement the following:

* Update hook discovery
  * Hook folder order:
    1. Command Line
    2. Packages
    3. PyInstaller
* If a second hook for a package is found, because of this order, we want to ignore the second hook. This is only for standard hooks (eg `hook-jinja2.py`), and this is also a temporary fix that would need updating later. Currently an AssertionError is raised upon a

[2020-05-11 03:07] andyfaff opened #4865 "Reoccurrence of #2322? Multiprocessing spawn in python 3 does not work on macOS"
## Description of the issue
There looks to be a reoccurrence of #2322 on macOS with spawn + multiprocessing. I came across this issue with a package that I develop (that uses PyQt5). When I try and use multiprocessing within my program I get multiple GUI windows displaying. This has only happened since building the executable with Py3.8 (spawn is default), it doesn't happen with Py3.7 (fork is def

[2020-05-11 03:54] bjones1 commented on #4806
I'm happy if you work on this. Feel free to ask for help

Re point 2: issue a warning, at least, not just ignore it. On the messy implementation, I'll need to think about it and look at the code more closely.

[2020-05-11 03:58] andyfaff commented on #4865
BTW the issue also exists for:
[code]

[2020-05-11 04:00] Legorooj commented on #4806
@bjones1 I'll do it in a PR.

[2020-05-11 04:18] Akaj-lab commented on #4864
## Solved
I solved it by installing it py `python setup.py install`.

[2020-05-11 04:18] andyfaff commented on #4865
I've just tested the MWE on Windows 7 | Python 3.8.0 | PyInstaller 3.6, it works without issue.

[2020-05-11 05:55] andyfaff commented on #4865
Amongst other failures the pyinstaller test suite also hangs at `tests/functional/test_multiprocess.py::test_multiprocess[onedir]`.

[2020-05-11 07:50] andyfaff commented on #4860
I have a mac and am happy to donate some time running tests to see where things fail. However, I'm not familiar with the internals of pyinstaller, so won't be able to contribute much to fixes to start with.

[2020-05-11 08:04] Legorooj commented on #4860
@andyfaff can you write or read C? If so, help would be great. Also, this issue isn't particularly internal (ie not modulegraph):

[2020-05-11 08:06] andyfaff commented on #4860
I'm somewhat familiar with C, but nothing better too complicated.

[2020-05-11 08:31] Legorooj commented on #4860
@andyfaff if you could take a look, that'd be great. Take a look at the source code for the failing test, and try to replicate without using `pytest` (You'll need to build with `-d noarchive -d bootloader`). Then figure out why https://github.com/pyinstaller/pyinstaller/commit/70709cdd1b033eabc0c1f3ea36f1a9eb61504bf9 is causing the failiure.

Thanks!

[2020-05-11 13:29] andyfaff commented on #4865
I *think* I know what the error is caused by here (after spending several hours on it). If you look at my log file on [L99](https://gist.github.com/andyfaff/c8402452e7bf4d27a1c86c1c486a736e#file-log-L99) you see:
[code]
Note the presence of `multiprocessing.resource_tracker` in the last entry.

This should be dealt with by the patched [`freeze_support`](https://github.com/pyinstaller/pyinstaller/b

[2020-05-11 22:50] maphew commented on #1048
suggestion: treat the opening post like a wiki page and insert the text about the feature being welcome but someone not on the core team needs to write it, add workflow info about how to go about that if someone wants to pick it up, and the pointers for where to get started.

Here's some text ready for copy-paste, from the content above, but in time it will get lost in the middle. (the blob link t

[2020-05-12 00:16] Legorooj commented on #1048
@maphew good idea. I've edited with your snippet.

[2020-05-12 17:06] maxschmi opened #4870 "executing error if freezing in windowed mode: "Failed to execute script pyi_rth_pkgres""
I have a module that is writen in python3. When I install it with pip I can start my GUI. Now I tried to create a compiled executable with pyinstaller(3.6) on Windows 10.

If I do the compilation without the argument --windowed ican start my executable from the console and everything works fine.
But if I add this option I always get the error mesage "Failed to execute script pyi_rth_pkgres", when

[2020-05-13 01:12] Legorooj commented on #4870
Build without `--windowed` and run it from a command prompt. What's the traceback?

[2020-05-13 02:07] danyeaw commented on #4860
If we are having trouble debugging the issue, we could also pull out support for macOS in the implementation of #4592. Unfortunately, I don't have a mac to test this on.

[2020-05-13 10:30] Dariusz1989 opened #4871 "PyCrypto/PyCryptodome replacement..."
Hey

Would it be possible for pyinstaller to be able to use pycryptodome as well ? Installing pycrypto is fairly painful.

I tried ussing pyCryptodome but I'm getting the same errors as this guy > https://stackoverflow.com/questions/56911760/pyinstaller-problem-when-using-key-command

TIA

[2020-05-13 10:37] maxschmi commented on #4870
the same building commands without `--windowed`, gives me this Traceback, when executing:
[code]

if I add also the `--hidden-import="pkg_resource.py2_warn"` I get this:

[code]

[2020-05-13 11:14] maxschmi commented on #4870
okay I realised that I had a spelling error.
The `--hidden-import="pkg_resources.py2_warn"` solves the problem!

[2020-05-13 11:14] #4870 closed

[2020-05-13 12:28] joanteixi commented on #4317
hi! @kirancrazy99 did you found a solution to this particular problem with pandas_profiling and pyinstaller?

[2020-05-13 12:36] bwoodsend opened #4872 "Release hook to fix `setuptools==45.0.0`"
**Is your feature request related to a problem? Please describe.**
Hi, I've been on the PyInstaller support Google group for about a month and I've already lost count of the number of times we've been asked about the ` ModuleNotFoundError: No module named 'pkg_resources.py2_warn' ` bug cause by a hidden import added in `setuptools==45.0.0`. This has been addressed in #4672 and the hook updated in

[2020-05-13 13:38] cwassert opened #4873 "Regression: pyinstaller 3.6 --onefile binaries do not run in wine anymore"
## Description of the issue
Even an executable compiled using pyinstaller 3.6 will not run in wine. Using pyinstaller 3.5 works.

It is likely caused by the fact that the temporary directory `.wine/drive_c/users/cw/Temp/_MEIXXX` used for extraction has mode `d---------` for the pyinstaller 3.6 version, but mode 'drwxr-xr-x' for pyinstaller 3.5.

### A minimal example program which shows the error

[2020-05-13 14:45] cwassert opened #4874 "wxPython breaks locale"
## Description of the issue
When using wxpython, datetime.strptime does not work anymore.

## Context information (for bug reports)
* Output of `pyinstaller --version`: 3.5
* Version of Python: e.g. 3.7.1

### A minimal example program which shows the error
[code]

### Stacktrace / full error message
[code]

[2020-05-13 15:14] Johannes0Horn commented on #2597
Anyone any idea? I am facing the same Problem for moviepy

[2020-05-13 23:47] Legorooj commented on #4872
@bwoodsend we're prepping for a release as we speak. Expect release 4.0 to land early June.

[2020-05-13 23:47] #4872 closed

[2020-05-13 23:48] Legorooj commented on #4873
Duplicate of #4628

[2020-05-13 23:49] Legorooj commented on #4871
@Dariusz1989 please see #4652, which will fix this issue.

[2020-05-13 23:49] #4871 closed

[2020-05-13 23:51] Legorooj commented on #4874
Please upgrade PyInstaller to 3.6 and try again. I

[2020-05-14 06:19] Hvjoensenn commented on #4812
me too. The same problem

[2020-05-14 09:54] cwassert commented on #4874
Confirmed for PyInstaller-3.6 with wxPython-4.1.0.

I tried to bisect the issue, because I am sure it was working at some point.
The culprit seems to be the 4.1.0 release of wxPython.

PyInstaller==3.4 wxPython==4.0.4 good
PyInstaller==3.6 wxPython==4.0.4 good
PyInstaller==3.6 wxPython==4.0.7 good
PyInstaller==3.6 wxPython==4.0.7.post2 good
PyInstaller==3.6 wxPython==4.1.0 bad

[2020-05-14 11:54] Legorooj commented on #4874
Let's focus on wxWidgets/Phoenix#1637 for now. If this is occurring when unfrozen, then fix that first. The chances are that fixing that will fix this.

[2020-05-14 13:18] kraisak commented on #4766
I also tried this on python 3.7 and it's not working. Same error

[2020-05-14 14:00] ArshanKhanifar commented on #4766
Sorry for the late reply, no it didn't work :(

[2020-05-14 17:56] leonardo-beabr commented on #4568
You need to pass some params to the task schedule, like where your script is running, see more in [here](https://stackoverflow.com/questions/51948219/pyinstaller-generated-exe-doesnt-run-with-windows-task-scheduler)

[2020-05-14 23:46] Legorooj commented on #4766
Hmm. If it's failing still, I can only assume that python must be broken. We need @htgoebel. This is too deep into Linux for me.

[2020-05-14 23:49] Legorooj commented on #4860
@danyeaw I'll pull support for the new traceback on Apple today, and `#else` the old traceback.

[2020-05-15 00:33] Legorooj commented on #4865
Yay. More issues about multiprocessing.

On the upside, you've tracked it down! But we need python 3.8 support first.

[2020-05-15 05:31] keelung-yang commented on #4745
@anshingy 是360这个SB跟进不及时，有时你编个Hello,world它也报病毒。也听说过人家正常的软件360就是不认，加一段360的代码它就不报了。360就是个免费广告机；很多功能看起来有用似的，实际没多少用，装过一段时间卸载了。怀疑病毒就去[virscan.org](https://www.virscan.org/language/zh-cn/about)或[VirusTotal](https://www.virustotal.com/gui/home)扫一下。远离流氓变警察的360

[2020-05-15 11:01] Guts commented on #4668
Not so minimal, I'm pretty interested by the @logan-pugh proposal :).

[2020-05-15 12:06] Legorooj commented on #4668
@Guts @logan-pugh I'll look into this more. (Apologies about last comment; apparently I was cranky.)

The `--manifest` option could do with an upgrade. I'll add this to my plate... ETA a few months before I actually get round to it.

[2020-05-15 16:11] avylove opened #4876 "Support hidden import hints"
**Is your feature request related to a problem? Please describe.**
I maintain a package that loads different modules depending on the environment. Periodically, I receive bug reports about the package not working when using pyinstaller. The root issue is there are modules that are loaded depending on the environment encountered and the user did not include them as hidden imports.

**Describe the s

[2020-05-16 00:30] Legorooj commented on #4876
Write a hook. A hook file provides a way to tell PyInstaller what to collect into the final executable.

See https://pyinstaller.rtfd.io/en/latest/hooks.html for details on the hook API, https://pyinstaller-sample-hook.rtfd.io for an example of how to include hooks in a package - make it part of jinxed - so PyInstaller automatically finds them.

If you don't want to include the hooks in jinxed its

[2020-05-16 00:31] Legorooj commented on #4862
@asrabon hello? I can't help without this traceback.

[2020-05-16 01:27] avylove commented on #4876
I think you closed this prematurely. The request is for hidden import hints. While you provided an alternative, you haven't implemented the feature requested or given a reason why it shouldn't be implemented.

[2020-05-16 02:48] Legorooj commented on #4876
I'll explain why it shouldn't be implemented:

1. The hook API is stable, and was designed for this and similar problems.
2. Something like a comment to specify hiddenimports is practically impossible without a huge amount of extra code going into pyinstaller. PyInstaller doens't analyze source code; it analyzes compiled bytecode and AST objects, and neither object has comments included; they're s

[2020-05-16 04:22] avylove commented on #4876
The AST part makes sense. The documentation and example for the hooks is not very clear. It seems like this requires the user to pass --additional-hooks-dir, which makes that solution not really workable. The example had a __pyinstaller directory, is that checked for hooks?

I want you to consider this from my standpoint and see if you might come up with a better solution. I don't use pyinstaller.

[2020-05-16 11:50] blourabie opened #4877 "Python - pyinstaller - executable project by pyinstaller has error Failed to execute script pyi_rth_pkges"
exe?noredirect=1#comment109363088_61809279

[2020-05-16 21:29] MstWntd commented on #4787
@Legorooj np, thank you.

@htgoebel any further thoughts on the issue?

hope you both are doing well in these covid times!..

[2020-05-16 23:55] kshahnazari1998 opened #4878 "vcomp140.dll missing with sklearn library"
Hi I'm trying to freeze my program (Windows 10) and after running my .exe file I get the following
[code]

I'm sure that I have the vcomp140.dll in my windows and it has been installed. This is only happening when I'm importing the sklearn library and when I remove it the other libraries work fine. Any ideas on how to fix this?

[2020-05-16 23:59] Legorooj commented on #4877
You don't build the `setup.py` with PyInstaller, you build the `main.py` with PyInstaller.

[2020-05-17 00:04] Legorooj commented on #4878
Find the `vcomp140.dll` and add it with `--add-binary=path\to\dll;.` when building. Also try with python 3.7. We don't support 3.8.

[2020-05-17 00:09] kshahnazari1998 commented on #4878
Just happened to find the answer sorry for ask. had to add a file in the hooks folder of the pyinstaller to fix the issue. Guess this https://github.com/pyinstaller/pyinstaller/pull/4613/commits/e2cc6401007f02c8f724e0cbc6324f90949e4e4c

[2020-05-17 00:09] #4878 closed

[2020-05-17 00:55] Legorooj commented on #4860
Support for apple has been dropped in bcf7fae. Now we need to figure out *why* it was causing errors.

[2020-05-17 01:01] bjones1 commented on #4876
@avylove, thanks for your comments. This is a great place where a bit of collaboration would help solve the problem easily: as a PyInstaller maintainer, I can provide expertise in how to specify hidden imports. As the package author, you can indicate what those hidden import are and probably provide a basic test script to ensure your package works correctly when frozen. Would you be willing to wor

[2020-05-17 01:19] Legorooj commented on #4876
@avylove can I have a list of the imports? I'll write up a diff for you that will provide the hooks. (Or just provide a link to the source code repo and I'll provide a PR)

The documentation does need cleaning up. The `__pyinstaller` directory is checked for hooks because it is registered via entry points in `setup.py`.

[2020-05-17 02:25] Legorooj commented on #4808
@masoudr sorry it took me so long to get round to this.

So this isn't a trivial problem to fix. I managed to replicate you're problem with the following hook files inside the `hooks` dir:

#### `hook-altgraph.py`
[code]
#### `hook-PyInstaller.py`
[code]
#### `hook-win32ctypes.py`
[code]
After I'd built with those hooks, I got the next error:
[code]
To fix this, the DLL/SO finding needs an edit. S

[2020-05-17 03:38] bjones1 commented on #4808
This issue makes no sense to me: why freeze a frozen application? This can't be done -- a frozen application's layout can't be analyzed for freezing, since it's no longer a pure Python application.

[2020-05-17 03:38] #4808 closed

[2020-05-17 04:20] Legorooj commented on #4808
@bjones1 I believe @masoudr is using PyInstaller to build another application from within a frozen application? If so I'll reopen.

[2020-05-17 04:34] bjones1 commented on #4808
Correct, which is why it can't work. PyInstaller has to analyzer Python source, not frozen, re-arranged frozen application stuff. I doubt ModuleGraph will understand how to peek inside the .exe file to find an archive of compressed source files; hook assume they're operating on the unfrozen source, and will be confused; etc.

[2020-05-17 04:48] Legorooj commented on #4808
You misunderstand. (I think) @masoudr is building app A, which uses PyInstaller internally. Then, he runs app A, which in turn compiles app B. @masoudr am I correct?

[2020-05-17 06:05] masoudr commented on #4808
@Legorooj @bjones1 Let me clear this for you.
First I'm not doing a non-sense work, if I had any other option I would definitely do that.
Suppose that I have an application like App A. In this app, I have a script that accepts some external executable that needs to be provided by the user to work properly. After that App A should be frozen and used for the final executable.
To automate this, I cre

[2020-05-17 07:54] #4836 closed

[2020-05-17 08:03] Legorooj commented on #4850
Took me more than a day. If @htgoebel is happy with https://github.com/pyinstaller/pyinstaller/compare/develop...Legorooj:add_lint-1 I'll merge in the changes tomorrow. (Well, replicate them. GitHub actions is picky with actions creation.)

[2020-05-17 12:23] nimo94 opened #4879 "fatal python error: initfsencoding: unable to load the file system codec lookuperror: unknown encoding: utf-8 current thread 0x00000d68 (most recent call first):"
fatal python error: initfsencoding: unable to load the file system codec lookuperror: unknown encoding: utf-8 current thread 0x00000d68 (most recent call first):

[2020-05-17 12:42] Legorooj commented on #4879
Can we please have the whole traceback?

[2020-05-17 13:53] blourabie commented on #4877
I do it thanks all work fine, but in Interface I have image but after convert by pyinstaller I don't see this image why?
this is the code :

![image into](https://user-images.githubusercontent.com/53751601/82149048-8fbe4c00-9845-11ea-9cb2-86bc0707950b.JPG)

this is the app.spec file:

![GITHUB](https://user-images.githubusercontent.com/53751601/82149009-48d05680-9845-11ea-8079-a50859c0e19d.JPG)

I

[2020-05-17 14:11] nimo94 commented on #4879
U mean the output

On Sun, 17 May 2020, 20:42 Legorooj, <notifications@github.com> wrote:

[2020-05-17 14:54] nimo94 commented on #4879
now i have a prob i redo the python file to executable its flash the screen and off

[2020-05-17 14:56] nimo94 commented on #4879
this is my warn.txt
This file lists modules PyInstaller was not able to find. This does not
necessarily mean this module is required for running you program. Python and
Python 3rd-party packages include a lot of conditional or optional modules. For
example the module 'ntpath' only exists on Windows, whereas the module
'posixpath' only exists on Posix systems.

Types if import:
* top-level: importe

[2020-05-17 15:00] nimo94 commented on #4879
this is my code`
print("Getting ready...")
import wikipedia
import time
import pyttsx3
import pickle
import requests
import os
import wolframalpha
import pytube
from datetime import datetime
import webbrowser
engine = pyttsx3.init()
rate = engine.getProperty("rate")
engine.setProperty("rate", 125)
sound = engine.getProperty('voices')
app_id = "UV6LXQ-2W562AXV73"
client = wolframalpha.Client(app_id

[2020-05-17 18:32] bjones1 commented on #4808
Not ideal, I agree, but necessary: fundamentally, frozen applications cannot freeze an application. Freezing only works from standard (unfrozen) Python.

[2020-05-17 21:47] avylove commented on #4876
The source code is here: https://github.com/Rockhopper-Technologies/jinxed

I have been telling people to specify `jinxed.terminfo.vtwin10` and `jinxed.terminfo.ansicon` as hidden imports. That seems to pull in anything those depend on. Alternatively, I suggested if they are using a spec file for pyinstaller, a more future proof option would be to put something like this in their spec file.
[code]

[2020-05-18 00:32] Legorooj commented on #4876
@avylove I'll have a play and get back to you.

[2020-05-18 00:34] Legorooj commented on #4877
What's the output from building?

[2020-05-18 00:39] Legorooj commented on #4879
@nimo94 can we please have the command you used to compile your program.

[2020-05-18 02:30] huangguifeng opened #4880 "base_library.zip disappears after first run of program"
If pyinstaller packages the program into multiple files, it can only run once after closing the program

Base_library.zip is missing, causing the second time to fail to run

[2020-05-18 02:53] Legorooj commented on #4880
@huangguifeng can you please give us steps to reproduce? This shouldn't be happening.

[2020-05-18 04:33] huangguifeng commented on #4880
找到问题了，是权限问题。需要将Base_library.zip设置为只读

[2020-05-18 04:33] #4880 closed

[2020-05-18 06:08] a12591771 commented on #1565
Thank you very much. It's very useful

[2020-05-18 08:18] #4752 closed

[2020-05-18 08:20] Legorooj commented on #4752
Tracked this failiure quite easily once I got round to it. Fixed in f11fb8b by adding `uac_admin` and `uac_uiaccess` to the manifest embedding trigger.

[2020-05-18 11:49] hightowe commented on #4354
I stumbled across this thread while facing the problem of slow starting of a program that I've recently written and packaged with pyinstaller. I think that this is a very worthy effort and I have an idea for implementation that may be helpful...

The Nullsoft Scriptable Install System (NSIS) does this exact thing with a plugin called splash and some simple scripting in the init stage of NSIS start

[2020-05-18 12:53] nimo94 commented on #4879
this is my command
`pyinstaller --noconfirm --onedir --nowindowed --hiddenimport "wikipedia" --hiddenimport "pyttsx3" --hiddenimport "espeak" --hiddenimport "wolframalpha" --hiddenimport "pytube"  "C:/Users/Aswin Selvam/PycharmProjects/assistant/assistant.py"`

[2020-05-18 18:01] nimaid commented on #4034
This does work, just make sure you don't also use the `--clean` option.

[2020-05-18 23:56] Legorooj commented on #4879
Can you navigate to the folder with the final executable, and run it from a command prompt? You should get a traceback.

[2020-05-19 06:46] nimo94 commented on #4879
i think this is my traceback
`Running auto-py-to-exe v2.7.3
Building directory: C:\Users\ASWINS~1\AppData\Local\Temp\tmpp3mchqvw
Provided command: pyinstaller --noconfirm --onedir --nowindowed --hiddenimport "wikipedia" --hiddenimport "wolframalpha" --hiddenimport "pyttsx3" --hiddenimport "espeak" --hiddenimport "pytube"  "C:/Users/Aswin Selvam/PycharmProjects/assistant/assistant.py"
Recursion Lim

[2020-05-19 07:46] Legorooj commented on #4879
That's the build log. Can you run the final executable from a command prompt? What's that output?

[2020-05-19 07:51] nimo94 commented on #4879
I can't the the output only getting ready... closes so fast

[2020-05-19 07:54] Legorooj commented on #4879
Open a command prompt, navigate to the directory with the final executable, and run it by typing `<yourexecutablename>.exe`. What's the traceback?

[2020-05-19 07:55] nimo94 commented on #4879
okay i got it
`Getting ready...
Traceback (most recent call last):
  File "site-packages\pyttsx3\__init__.py", line 20, in init
  File "c:\users\aswin selvam\appdata\local\programs\python\python37\lib\weakref.py", line 137, in __getitem__
    o = self.data[key]()
KeyError: None

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "assistan

[2020-05-19 08:12] Legorooj commented on #4879
Make a directory called `hooks`.

Copy the following into a file `hook-pyttsx3.py`, which is inside that directory.
[code]

Then, when building add the `--additional-hook-dir=path/to/hooks` option. You're using auto-py-to-exe, so instead of that option, go into `advanced options`, `what to bundle, where to search`, and select the hooks directory you created under the `--additional-hooks-dir` optio

[2020-05-19 08:17] nimo94 commented on #4879
okay

[2020-05-19 08:17] nimo94 commented on #4879
i try my best

[2020-05-19 08:17] Legorooj opened #4881 "Improve pkg_resources support"
PyInstaller's support of `pkg_resources` is, at the best, sketchy, and isn't very effective. I've got a couple of examples which need fixing:
## Providers
When using `pkg_resources`, PyInstaller registers `NullProvider` as the resource provider for the pyinstaller importer class.

I took a quick stab at this in legorooj/pyinstaller@fe88a39c, by replacing `NullProvider` with `DefaultProvider`. Howe

[2020-05-19 08:29] Legorooj commented on #4751
@gthb would you be able to provide a PR for https://github.com/pyinstaller/pyinstaller-hooks-contrib? I can do the work myself, but it'd be easier if a spacy user did it.

[2020-05-19 08:30] nimo94 commented on #4879
now i get this traceback
`PyInstaller cannot check for assembly dependencies.
Please install pywin32-ctypes.

pip install pywin32-ctypes`
this is my command
`pyinstaller --noconfirm --onedir --nowindowed --hiddenimport "wikipedia" --hiddenimport "espeak" --hiddenimport "wolframaplha" --hiddenimport "pyttsx3" --hiddenimport "pytube" --additional-hooks-dir "C:/Users/Aswin Selvam/Documents/hooks" --r

[2020-05-19 08:34] nimo94 commented on #4879
i get this traceback
`PyInstaller cannot check for assembly dependencies.
Please install pywin32-ctypes.

pip install pywin32-ctypes`

this is my command

`pyinstaller --noconfirm --onedir --nowindowed --hiddenimport "wikipedia" --hiddenimport "wolframalpha" --hiddenimport "pttsx3" --hiddenimport "espeak" --hiddenimport "pytube" --additional-hooks-dir "C:/Users/Aswin Selvam/Documents/hooks" --runt

[2020-05-19 09:32] Legorooj commented on #4879
Try `pip install pywin32-ctypes`? Does that fix the problem? And this shouldn't be happening.

[2020-05-19 09:33] nimo94 commented on #4879
that is showing the requirment already satisfied

[2020-05-19 09:53] Legorooj commented on #4879
Hmm. This is weird. Are you using virtual environments?

[2020-05-19 09:55] nimo94 commented on #4879
i'm using pycharm

[2020-05-19 09:55] nimo94 commented on #4879
can you try to convert it

[2020-05-19 11:29] danepeterpadley commented on #4671
I had a very similar problem and hope this explains it better than I can https://georgik.rocks/incompatible-library-version-requires-version-19-0-0-or-later-but-dylib-provides-version-18-0-0/

I would update QtWidgets using brew and then copy QtWidgets from /usr/local/cellar/QtWidgets/lib to usr/local/lib and that should solve the problem

[2020-05-19 13:29] JohnABC commented on #4260
How did you fix it?

[2020-05-19 13:42] astrofrog commented on #4260
@JohnABC - I included the ``windowed`` flag when running pyinstaller

[2020-05-19 14:31] wangwenchao-job opened #4882 "Question about pywrap_tensorflow in tf2.1 environment"
## My environment is ：
ubuntu 18.04
pyinstaller 3.6
tensorflow 2.1

## My error is
ImportError: cannot import name 'pywrap_tensorflow' from 'tensorflow_core.python'

----
I have tested many versions of tensorflow. It can be used normally under 1.14. If it exceeds 1.14, this problem will be reported.

Someone mentioned here that pyinstaller currently only supports tensorflow version below 1.14?
htt

[2020-05-19 23:16] Legorooj commented on #4882
PyInstaller only supports tensorflow 1.14 and below in PyInstaller 3.6. There's hooks added in the development version, which work with tensorflow 2.

We plan to release this in a month or two.

[2020-05-19 23:16] #4882 closed

[2020-05-20 02:29] Legorooj commented on #4671
@danepeterpadley interesting. I hate DLLs/SOs/DYLIBs sometimes.

@theterriblestidea don't know why I didn't see this before, but you're using an outdated version of PyInstaller. Can you `pip install -U pyinstaller` so you have `pyinstaller --version`  equal `3.6`?

[2020-05-20 02:32] Legorooj commented on #4879
@nimo94 can you navigate to the project folder in explorer? What files/folders are inside your project?

[2020-05-20 09:06] Sawada1908 opened #4883 "pyinstaller --icon option occured pywin32error"
I want to use icon which I created for .py file.
So, I entered 'pyinstaller test.py --onefile --icon=test.icon' command.
But Command Prompt returned error below.
[code]
It's My Develop environment.
OS : Window 10 Pro 1909
python : 2.7.18
pywin32 : 227
pywin32-ctypes : 0.2.0
pyinstaller : 3.6

I would like to solve this problem.
Please help me. Thanks.

[2020-05-20 10:29] nimo94 commented on #4879
![Snapshot_20-05-20_18-28-19](https://user-images.githubusercontent.com/65493569/82436007-ba1f3c00-9ac7-11ea-8dd2-71854fbe61a8.png)
this is inside my project folder

[2020-05-20 11:00] benstonezhang opened #4884 "error encoding for key string"
the code check and update length of key when it's string, then encoding it as utf-8 later. This will introduce wrong key size to AES which require the key size is 16. This solution is to encoding the string as iso8859-1, then trim or pad it to length 16. The patch is:
[code]

[2020-05-20 11:40] nimo94 commented on #4879
![Snapshot_20-05-20_18-28-19_LI](https://user-images.githubusercontent.com/65493569/82442140-aa0c5a00-9ad1-11ea-99e8-3c380651068c.jpg)
This is in my directory the arrow is my file

[2020-05-20 12:17] Legorooj commented on #4879
Navigate into the directory with your file in it. Then run `venv\Scripts\activate.bat`. Then `pip install -U auto-py-to-exe`, run `auto-py-to-exe`, and rebuild the program. Does the error still occur?

[2020-05-20 12:20] Legorooj commented on #4884
PyCrypto encryption will become unsupported in the next release and is being replaced with tinyaes-py. This feature will be released soon.

[2020-05-20 12:20] #4884 closed

[2020-05-20 12:24] nimo94 commented on #4879
in the venv directory or where i should pip install -U auto-py-to-exe

[2020-05-20 12:33] nimo94 commented on #4879
when i run the pip install in venv directory i get this trace back
`Traceback (most recent call last):
  File "C:\Users\Aswin Selvam\AppData\Local\Programs\Python\Python35\lib\runpy.py", line 184, in _run_module_as_main
    "__main__", mod_spec)
  File "C:\Users\Aswin Selvam\AppData\Local\Programs\Python\Python35\lib\runpy.py", line 85, in _run_code
    exec(code, run_globals)
  File "C:\Users\Asw

[2020-05-20 12:41] nimo94 commented on #4879
This is a big prob but i want to make a product and sell it

[2020-05-20 14:04] tanyanghan commented on #1350
If anyone isn't actually using tcl, tkinter, then you can add the `--exclude-module` argument to exclude the lot.

[code]

[2020-05-20 14:43] mesca commented on #4804
Same here...
62 INFO: PyInstaller: 4.0.dev0
62 INFO: Python: 3.7.7 (conda)
71 INFO: Platform: Darwin-19.4.0-x86_64-i386-64bit

[2020-05-20 16:20] ejeandel opened #4885 "development version of pyinstaller installs all files named qt.conf of the original system"
Dear developers,

There is a mistake in the current git version of pyinstaller, specifically caused by line 757 of this commit

https://github.com/pyinstaller/pyinstaller/commit/5d6715a24a51928658e38c26df596ca8ed7de386

On my linux version, and I expect most linuxes, the function collect_system_data in question will be called with path = "/usr"

By doing
[code]
The path will become "/". As a conse

[2020-05-20 20:10] adamurban opened #4886 "Targeting an old version of macOS when building the bootloaders causes GUI theming to break."
I have a small GUI app made using pyside2/Qt. When I launch the .py from the terminal, dark mode is supported and switches correctly as the OS does. However, when I launch the same code compiled to a .app using pysintaller (created via `pyinstaller --windowed`), the UI shows only the light interface.

[2020-05-20 23:30] Legorooj commented on #4879
@nimo94 I can't help with that import error. You're environment seems to be a bit messed up. I recommend you read a tutorial on how virtual python environments work, and how to use them, then come back.

[2020-05-21 00:30] very3b commented on #2242
@nini122 not working

[2020-05-21 02:40] Legorooj commented on #4886
@adamurban I can't explain this off the top of my head. Have you tried to figure out the cause?

[2020-05-21 02:42] Legorooj commented on #4885
Damn. This needs verifying. @htgoebel could you do this?

[2020-05-21 02:57] mirhmousavi commented on #4821
Change `runtime_tmpdir` to something other than `/tmp` in linux, solved the problem, thanks

in spec file
[code]

[2020-05-21 03:50] bjones1 commented on #4885
Do you have additional information to show that your analysis is correct? Or is this based on your examination of the code? You reference code in `collect_data_files`, not `collect_system_data`, so the diff you mention doesn't fit your description.

[2020-05-21 04:06] adamurban commented on #4886
Adding `'NSRequiresAquaSystemAppearance': 'No'` to my spec makes it so the app switches now:
`             info_plist={
                'NSHighResolutionCapable': 'True',
                'NSRequiresAquaSystemAppearance': 'No'
                },`
However, it is completely broken and none of the UI elements show up.
It throws this error:
`It does not make sense to draw an image when [NSGraphicsConte

[2020-05-21 04:14] adamurban commented on #4886
And for reference, I am running Python 3.7.7 with pyinstaller 3.6, pyside2 version is 5.14.2.1 and Qt version is 5.14.2 (these are the latest availble via homebrew today). macOS version is Catalina 10.15.4

[2020-05-21 04:27] adamurban commented on #4886
NSRequiresAquaSystemAppearance shouldn't even be required... seems like this issue is because pyinstaller is targeting too old of an SDK:

[code]

[2020-05-21 04:43] adamurban commented on #4886
And indeed, just recompiling the bootloader fixes everything:
[code]

[2020-05-21 06:12] Legorooj commented on #4886
@htgoebel can you take a look? We might want to adjust supported platforms etc so this is fixed.

@adamurban thanks for figuring out the cause(?) and the fix.

[2020-05-21 07:14] ejeandel commented on #4885
I basically put a `print(path)` before and after the two lines, and saw the "/usr" becoming "/"
Removing the second line (which was the line introduced by the patch) solved the problem. But I assume it's there for some reason related to Windows.

the beginning of the patch is about `collect_data_files`, but the line in question (line 757) is in `collect_system_data_files` (sorry for forgetting the

[2020-05-21 10:33] htgoebel commented on #4829
@tamil07 You are using a 64-bt system
[code]
but only have a32-bit bootloader:
[code]
Please check the `waf configure` options to build a 64-bit bootloader. If this does not help, you mot probably need to adjust the wscript file. Pull-request for changes are welcome.

If you need more assistance, please consider commercial support, as HP-UX a commercial platform. See http://www.pyinstaller.org/sup

[2020-05-21 10:33] Jmennius commented on #4725
@Legorooj it should really be open until it is fixed (or rejected at all), this way it is easier to understand the status. Having it open doesn't mean that maintainers are required to fix it :).
I will work on this.
What is pyinstaller policy on supporting older versions of packages - can/should I remove > 2-year-old version support?
Thanks!

[2020-05-21 10:34] #4829 closed

[2020-05-21 10:42] Legorooj commented on #4725
@Jmennius we support anything that the developers support (in theory).

Target the PR at the hooks-contrib repo in the PyInstaller account. We're moving hooks out there. (Also, ignore the CI on that repo for now. It's not complete)

[2020-05-21 11:06] htgoebel commented on #4628
* In deed running a program as root, just to work-around permission issues is a bad idea. In the best case you are hiding permission problems, in the worst case you are compromising your system.
* The temppath is choosen in pyi_utils.c::pyi_get_temp_path(), for windows %TMP% is take as the base.
* The curious directory permissions are most probably is caused by security-fix 42a67148b3bdf9211fda849

[2020-05-21 13:35] AIprototype commented on #4406
Hi guys, is there any workaround for this issue ?
Python 3.7
Pyinstaller 3.6

The modulegraph.py in pyinstaller seems to go about in a loop
Log:
wargs)[0]
  File "c:\users\vinup\anaconda3\lib\site-packages\PyInstaller\lib\modulegraph\modulegraph.py", line 2298, in _safe_import_hook
    target_attr_names=None, level=level, edge_attr=edge_attr)
  File "c:\users\vinup\anaconda3\lib\site-packages\PyIn

[2020-05-21 13:45] Jmennius commented on #4725
@Legorooj Let's reopen this issue? :)
I've prepped the commit for pyinstaller repo; checked hooks-contrib but it doesn't have this module (yet?)...
Is it OK to open a PR for it here?

[2020-05-21 15:16] nimo94 commented on #4879
cannot man,jst tell how to create a perfect clean virtual enviroment

[2020-05-21 18:06] mendhak commented on #2337
Please can this get some attention.

I'm running into the same issue.  For info I'm on:
pyinstaller version 3.6
Ubuntu 20.04
Python 3.8.2
pip3 version 20.1.1

I tried the author's example script, I then ran:

[code]

And the final file size is ~238M (249437208)

[2020-05-21 19:21] klienn opened #4890 "Can't run the .exe file: ImportError: DLL load failed: The specified procedure could not be found."
I'm pretty sure i have the module included in the dist folder.
This is the part of the code that have this error (this is the line 7 of the test.py):
[code]

after running ```pyinstaller test.spec``` and running the ```test.exe``` it gives this error:

[code]

Any help will be much appreciated.

[2020-05-21 22:00] BlondinkaQ opened #4891 "openpyxl: Failed to execute script in # Logic program"

[2020-05-21 22:56] Legorooj commented on #4725
@Jmennius that one was of the ones we didn't move apparently. I'm not going to reopen this; you've got a PR. I'll just look at that.

[2020-05-21 23:17] Legorooj commented on #4406
@AIprototype no, there isn't yet. I'll be getting to work on actually implementing the fix in a few weeks.

[2020-05-21 23:20] Legorooj commented on #4879
@nimo94 I don't have the time to write something like that - it would take me ages. All in can do is say you need to activate your virtual environment, and use that for the build. That's the problem here.

If you get that working, I'll reopen this issue once we have something I can help with.

[2020-05-21 23:20] #4879 closed

[2020-05-21 23:29] Legorooj commented on #4890
@bjones1

[2020-05-21 23:30] Legorooj commented on #4891
We can't help without the traceback.

[2020-05-22 00:50] BlondinkaQ commented on #4891
sorry i'm dont install openpyxl in my parallel os

[2020-05-22 00:50] #4891 closed

[2020-05-22 03:13] adamurban commented on #4804
This is likely a Tcl bug, but could also be related to file reading/writing and the OS X sandbox. Do *not* use —onefile; this will break everything on recent macOS builds as it tries to extract things to a tmp folder and run them from there, which the new mac security mode disallows.

If you’re reading or writing files from relative paths, make sure that you change directories into something sane.

[2020-05-22 03:51] bjones1 commented on #4890
Provide the usual details requested in the issue template: what version of Python, PyInstaller, OS, Qt, etc.

[2020-05-22 03:56] klienn commented on #4890
@bjones1 . I had python version 3.6 64-bit and solved the problem by uninstalling the python and installing python version 3.8 32-bit. Was it because of the python version that caused the problem?

[2020-05-22 04:10] #4890 closed

[2020-05-22 04:12] Legorooj commented on #4890
@klienn maybe. Note that support for python 3.8 is non-existant at the moment. If it works, great! But we can't offer support for it.

[2020-05-22 06:37] onsunsl commented on #4213
I am also facing this problem on Windows10 64bit
Python 3.6.7
Pyiinstaller 3.6

Solvoed after downgrading Pyinstaller to 3.5.

[2020-05-22 07:03] SHAANBHAYA opened #4892 "Pyinstaller --distpath broken for Mac.Not making the .app file at -distpath."
While working with Pyinstaller 3.5 and 3.6 (have not worked on older versions),found out that .app is being made in the same place where .spec file is placed.Did some digging and think that the file
osx.py at line number 95 is the problem which is joining the spec file path with dest path .

## Context information (for bug reports)

* Output of `pyinstaller --version`: ```VERSION 3.5 and 3.6```
*

[2020-05-22 07:23] SHAANBHAYA commented on #4892
One way to get around this problem is using the absolute path instead of relative path as the join operation done join the spec path if its absolute .

[2020-05-22 07:26] Legorooj commented on #4892
@SHAANBHAYA I'll try and replicate this. In theory, a bug like this would show up on other platforms, but it might not.

[2020-05-22 08:50] Jaime02 commented on #4406
@AIprototype Try using Python 3.8.x in a fresh new environment

[2020-05-22 10:04] Legorooj commented on #4406
@Jaime02 FYI python 3.8 is unsupported. If you get it working, that's great. If not, we can't offer support. Support will come in pyinstaller 4.1 AFAIK.

[2020-05-22 14:54] gthb commented on #4751
@Legorooj yes, I can cook that up next week.

[2020-05-22 15:06] Jaime02 commented on #4406
@Legorooj I know, but if you need to use PyInstaller you could try it, it works sometimes

[2020-05-23 00:29] Legorooj commented on #4751
Sounds good. I'll be waiting.

[2020-05-23 14:35] nimo94 commented on #4879
hey i make it
The problem is the hook i need to run the code as
`--hiddenimport "pytube" --hiddenimport "wikipedia" --hiddenimport "wolframalpha" --hiddenimport "pyttsx3" --additional-hooks-dir "C:/Users/Aswin Selvam/Documents/hooks" --runtime-hook "C:/Users/Aswin Selvam/Documents/hooks/hooks-pyttsx3.py" --hiddenimport "pyttsx3.drivers" --hiddenimport "pyttsx3.drivers.dummy" --hiddenimport "pyttsx