[2020-07-19 14:15] #4931 closed

[2020-07-19 14:23] digilevi2006 commented on #5007
@Legorooj,

I'm sorry, I want to reopen this... I've tested it on python 3.7.7 using virtualenv and it seems result is the same.

here is the log

[log 3.7.txt](https://github.com/pyinstaller/pyinstaller/files/4943822/log.3.7.txt)

the cmd i envoke was

`(viewYout_Common3.7) C:\Users\dad\Downloads\BOTS\viewYout_Common3.7\Scripts>pyinstaller.exe --onefile --paths C:\Users\dad\Downloads\BOTS\viewYou

[2020-07-19 15:00] ThisIsACoolBoy commented on #5005
@bwoodsend, something like an GUI / Menu.

[2020-07-19 20:52] thetheo2 commented on #5001
Excellent news, when the next release is available this issue will
disappear.  Thank you for your attention.

On Wed, Jul 15, 2020 at 2:35 PM bwoodsend <notifications@github.com> wrote:

[2020-07-19 22:59] ferdnyc commented on #4996
@LeighKorbel @Legorooj Will do, at least for the `compat.py` changes. The `wscript` changes... I want to look those over a bit more. Whether or not I really understand why we're forced down the `cygwin` path there, it seems like there are other things in `wscript` that are currently limited to the `win32` path, but should probably be included in the MSYS path as well. (Or the `cygwin` path, as the

[2020-07-19 23:35] kaflesudeep commented on #4616
Hi @ivan9394 ,
any update in your issue? Were you able to resolve it?

[2020-07-20 01:24] Legorooj commented on #4996
@LeighKorbel the second change I don't think is necessary; we want the bootloaders in the source tree.

As for the other changes, just open a PR, mark it as a draft, and ask for reviews. It's easier to review a PR then a branch

[2020-07-20 05:33] venustar2015 opened #5011 "ImportError: DLL load failed: The specified procedure could not be found."
I use fbs to pack the pyqt code **fbs run** is OK, but the application which created from **fbs freeze** cannot execute , but it report the error info like that:

Does anybody have the same issue?

[2020-07-20 06:56] 8bit-Dude opened #5012 "Matplotlib - NameError: name 'defaultParams' is not defined"
## Description of the issue
pyInstaller succesfully compiles the simple Matplotlib 2D graph example, and even copies over the "mpl-data" folder.
However, the exe fails to run. It complains about the defaultParams list, which is use by __init__.py of Matplotlib.
Note: Strangely the application tries to invoke files located in my miniconda3 installation folder...?

## Context information (for bug re

[2020-07-20 08:14] arossert opened #5014 "botocore adds 45MB to the package"
I'm PyInstaller to freeze my application and noticed that once `boto3` was added the size was increased dramatically.
After examining the content it looks like `botocore` is to blame, it adds 45MB of data.

![image](https://user-images.githubusercontent.com/7085494/87914810-ee888780-ca79-11ea-8871-80f953e1508e.png)

looking in the dir it includes multiple `json` files that take all this disk space

[2020-07-20 08:16] #4673 closed

[2020-07-20 08:39] Legorooj commented on #5007
@digilevi2006 please can you post an example program which I can use to reproduce this locally?

[2020-07-20 08:52] Jamesoli-ch opened #5015 "python2.7 pyinstaller build wx.lib.pubsub cannot work"
+++ ONLY TEXT +++ DO NOT POST IMAGES +++

## Description of the issue

## Context information (for bug reports)

* Output of `pyinstaller --version`: ```(PS C:\Project\Light\scripts> pyinstaller --version
3.6
PS C:\Project\Light\scripts>```
* Version of Python: e.g. 3.7
* Platform: Windows 10
* Did you also try this on another platform? Does it work there?
No

* try the latest development version,

[2020-07-20 09:00] Addishiwot commented on #2558
the patch does not seem to be working. up on running the pull command, I have experienced the ff error

$ Git pull +refs/pull/2428/merge
fatal: '+refs/pull/2428/merge' does not appear to be a git repository
fatal: Could not read from remote repository.

Please make sure you have the correct access rights
and the repository exists.

[2020-07-20 11:53] auziel opened #5016 "pytest plugin pytest_html fail to load"
+++ ONLY TEXT +++ DO NOT POST IMAGES +++

## Description of the issue
PyTest plugin are not loaded once packed with PyInstaller

## Context information (for bug reports)

* Output of `pyinstaller --version`: ```3.6```
* Version of Python:  3.6.3
* Platform: Windows 10 Home, using Anaconda env
* Did you also try this on another platform? Does it work there?
Didn't work on Mac using virtualenv.

* t

[2020-07-20 14:06] psandev commented on #3923
I haven't been able to find a solution. could you please, post a solution, or at least a more detailed explanation. Thanks a lot.

[2020-07-20 14:09] digilevi2006 commented on #5007
@Legorooj
Thanks for your reply bro.

Here are the 2 versions I made, I also tried to compile it using 3.4 but it's the same... did you want the py files?

[made with 3.4.zip](https://github.com/pyinstaller/pyinstaller/files/4948185/made.with.3.4.zip)
[made with 3.7.zip](https://github.com/pyinstaller/pyinstaller/files/4948186/made.with.3.7.zip)

[2020-07-20 16:01] caramelomartins commented on #2389
Sorry @Thonleb, I don't have a solution for you. Since this is dependent on a few outstanding issues to be properly solved, I guess you can only get something working (hacked) by trial and error. Do you have more details about what "it totally bugs my code" means?

[2020-07-20 18:14] thetheo2 commented on #5001
The trial fix was just something I did quickly to try to resolve the
problem.

As I think is typical for users of pyInstaller, it is just a part of an
ecosystem I keep running, so simple hacks are attempted so that I (we) can
return back to my (our) regularly scheduled programming as it were.

I did not find this fix on the web or similar as you may be concerned
about.

Again, thank you for your a

[2020-07-20 18:20] bwoodsend commented on #5001
Thanks, that's a relief to hear. If it was on something like StackOverflow then I'd  expect to be flooded with duplicates of this issue for months into the future.

[2020-07-20 18:20] #5001 closed

[2020-07-20 18:30] bwoodsend commented on #5012
This is the same issue as #5004. We're midway through fixing it. For now just `pip install matplotlib==3.2.2`.

[2020-07-20 18:30] #5012 closed

[2020-07-20 20:37] bwoodsend commented on #5014
Well it's your program. You tell me - do you need those jsons?

It looks like they're data files for different services so if you only need a subset then remove what you don't need. I find the easiest way to do this is to use and modify the spec file. Inject something like the following between the `a = Analysis(...)` and the `pyz = PYZ(...)`:

[code]
And then use `PyInstaller test.spec` instead o

[2020-07-20 20:47] bwoodsend commented on #5011
@venustar2015 Can you please provide steps to reproduce as per the [bug report template](https://github.com/pyinstaller/pyinstaller/blob/develop/.github/ISSUE_TEMPLATE/bug_report.md). Otherwise we have no way to help you.

[2020-07-20 21:17] nmaxwell commented on #4718
Just ran into this issue my self.

look into .../site-packages/shapely/geos.py, around line 66, where they are finding _lgeos,

[code]

the condition that gets hit when deployed with pyinstaller is `elif hasattr(sys, 'frozen'):`

In my anaconda distribution, there is no geos library with a name matching

```libgeos_c-*.so.*```

I'm not sure where that pattern comes from. The solution I used in my

[2020-07-20 23:57] Legorooj commented on #5015
Which version of wxPython are you using?

[2020-07-21 00:04] bwoodsend commented on #4978
Hmm, it didn't for me. But to answer your original question: To get any of the ffmpeg python libraries to work you'll need to tell PyInstaller to include the ffmpeg binaries. If you know their location at build time you can just pass it using:
[code]
(Note the trailing dot.) This will place all the ffmpeg executables into the root of your app where `python-ffmpeg-video-streaming` should be able to

[2020-07-21 00:20] Legorooj commented on #5007
@digilevi2006 yes, the python source is what I need.

[2020-07-21 00:52] 8bit-Dude commented on #5012
Thanks for the heads up!

[2020-07-21 01:04] Jamesoli-ch commented on #5015
I have tried latest 4.1 and old version 4.0.1. Current is 4.0.1

[2020-07-21 03:51] satishkrr opened #5017 "Error after creating build"
+++ ONLY TEXT +++ DO NOT POST IMAGES +++

## Description of the issue

## Context information (for bug reports)

* Output of `pyinstaller --version`: ```Traceback (most recent call last):
  File "MailSnap.py", line 31, in <module>
  File "<frozen importlib._bootstrap>", line 983, in _find_and_load
  File "<frozen importlib._bootstrap>", line 967, in _find_and_load_unlocked
  File "<frozen importli

[2020-07-21 04:59] Legorooj commented on #5015
@Jamesoli-ch can you list all of the `import` statements you're using? I can't see them in the code you posted.

[2020-07-21 05:06] Jamesoli-ch commented on #5015
import wx
import wx.xrc
import wx.grid
# import numpy as np
import binascii
from datetime import datetime
import time
from threading import Thread
from wx.lib.pubsub import pub

This what I imported to code

[2020-07-21 05:15] Legorooj commented on #5015
Please read https://docs.wxpython.org/MigrationGuide.html#wx-lib-pubsub-is-deprecated, and use `pypubsub` instead.

[2020-07-21 05:18] Jamesoli-ch commented on #5015
Yes, I have tried it, It is the same.

[2020-07-21 05:20] Jamesoli-ch commented on #5015
PyPubSub                           3.3.0

[2020-07-21 05:41] Jamesoli-ch commented on #5015
19631 INFO: Loading module hook "hook-pubsub.core.py"...
Traceback (most recent call last):
  File "<string>", line 41, in <module>
  File "<string>", line 36, in walk_packages
  File "<string>", line 20, in walk_packages
  File "C:\Python27\lib\site-packages\pubsub\core\arg1\__init__.py", line 16, in <module>
    raise RuntimeError(msg)
RuntimeError: Should not import this directly, used by pubsu

[2020-07-21 05:45] Legorooj commented on #5015
@Jamesoli-ch let me try and reproduce. I don't think I'll have much luck - I use Py3 - but we'll see.

[2020-07-21 07:21] digilevi2006 commented on #5007
@Legorooj

I'm not a very good programmer, please be kind.  I just put these things together 🔢
I assume there are mistakes to my code... 👍

[sourcce.zip](https://github.com/pyinstaller/pyinstaller/files/4951900/sourcce.zip)

[2020-07-21 07:39] Legorooj commented on #4932
@htgoebel `playsound` is actually a single python file that wraps the respective builtin sound provider for that platform.

@Salim9304 I've been unable to reproduce:
[code]
The only difference between `test.exe` and `test1.exe` is that `test1`'s source includes the `import playsound` line at the top of the script. I'm running the bleeding edge PyInstaller 4.0 with rebuilt bootloaders, and the scri

[2020-07-21 08:37] Legorooj commented on #4944
Oops I forgot to close this.

[2020-07-21 08:37] #4944 closed

[2020-07-21 09:24] Legorooj commented on #5007
@digilevi2006 I've been unable to reproduce with your code. Could you try writing a new script to reproduce? One designed to reproduce this.

[2020-07-21 09:38] digilevi2006 commented on #5007
@Legorooj

Hi... that is the one I compiled... And I've also mentioned I have no problem with mac... 3.7... So, there's a problem with my windows?

[2020-07-21 11:20] bwoodsend commented on #5005
@ThisIsACoolBoy [auto-py-to-exe](https://pypi.org/project/auto-py-to-exe/) is exactly that - Although it's quite minimal. There is another, more comprehensive, GUI in the making but it's only just started so you'll have to wait before it's even available.

[2020-07-21 13:55] bwoodsend commented on #4932
@Legorooj  No luck - my build is 6MB.

@Salim9304 If I had to guess, there's probably an `import` in `playsound` to another large library that Legorooj and I don't have installed but you do. If this is the case then PyInstaller will include said large library for you but ignore it for us - and this can happen recursively to yield enormous builds. Could you share your `xref` file with us? It should

[2020-07-21 17:55] Jerburi commented on #4968
Hi! I made a change on the code to be able to see more clearly the problem... I included a waiting time at the end as a message for the routine's ending:

`import time

## The rest of the test code goes here

print('Waiting 10 seconds to check messages...')
time.sleep(10)`

Now, when using the console there is no problem; all the three SVD functions work fine. However, the problem comes when you u

[2020-07-21 18:39] KLRussell commented on #4964
I have tried a traceback by using this code, but i am still getting the same results.

from traceback import format_exc

[code]

![image](https://user-images.githubusercontent.com/47677315/88093455-063a3b80-cb60-11ea-807f-edc534e09957.png)

[2020-07-21 19:40] bwoodsend commented on #4964
@KLRussell Ahh, you misunderstand what I mean by traceback. I mean the entire error message - not just those few lines you've screenshot. If you're still not sure what I mean, run the following from `cmd`:

[code]
This should create a file called `errors.txt`. Please send us that file or copy its contents to here.

[2020-07-21 19:59] bwoodsend commented on #4968
I think I know what this is. The numpy hooks are missing a dll called `libiomp5md` which causes this crash with no error message on Conda numpy. Just to confirm this - If you run the following from `cmd`:

[code]

This should print a filename. Copy that file into you app (in the same forlder as the .exe file). It should run then normally?

[2020-07-21 20:10] KLRussell commented on #4964
First off thank you for taking the time to help troubleshoot this. Secondly, I just compiled an .exe with this code and ran a full traceback of the .exe using the method you mentioned. this is the results:

[code]

[errors.txt](https://github.com/pyinstaller/pyinstaller/files/4955932/errors.txt)

[2020-07-21 20:20] Jerburi commented on #4968
Hi,

I copied the binary as you said, and the program runs without a problem.

I will add this binary into the spec file of my original project and hopefully it will run all!

Thanks a lot!

[2020-07-21 20:27] LeighKorbel commented on #4996
@ferdnyc As I mentioned before, the need for PyInstaller with Python 3.8 was all in regards to compiling software containing some Python GTK code in it (which requires using a MinGW shell, unfortunately). I had to build the bootloader prior to your previous instructions in a MinGW shell:

[code]

Which got me past the issue of MinGW complaining about not having one. However, PyInstaller gets to th

[2020-07-21 22:06] Salim9304 commented on #4932
Why are you trying to reproduce this issue on windows OS?  If this problem occurs on Linux?

from playsound import playsound
no import playsound.

Yes, playsound is trying to pick up gi.repos.. I don't have it either, and therefore a pass.  I'll see what has grown in size again.  Patience please.

[2020-07-21 22:46] Legorooj commented on #4932
Damn. I don't have access to a Linux box at the moment... And docker isn't working 🤦. @bwoodsend or @htgoebel? You both either have docker working or run Linux.

[2020-07-21 23:03] bwoodsend commented on #4932
Ughh whoopy. Yeah I'll try it on Linux.

[2020-07-21 23:09] phirst opened #5018 "Building Fails"
## Description of the issue

Building fails.

## Context information (for bug reports)

* Output of `pyinstaller --version`: ```4.0.dev0```
* Version of Python: `vanilla 3.7.6`
* Platform: `Catalina 10.15.6`
* Did you also try this on another platform? Does it work there?
[code]

  * [X] start with clean installation
  * [X] use the latest development version
  * [ ] Run your frozen program **from

[2020-07-21 23:16] #4968 closed

[2020-07-22 00:11] bwoodsend commented on #4932
Managed to reproduce on Ubuntu19. It's included `gi` which is making it huge. Working out why `gi` makes it huge now.

[2020-07-22 00:59] bwoodsend commented on #4932
In [hook-gi.repository.GtkSource.py](https://github.com/pyinstaller/pyinstaller/blob/develop/PyInstaller/hooks/hook-gi.repository.GtkSource.py) the following lines collect the entire of my `/usr/share/` folder:

[code]

Still digging...

[2020-07-22 03:52] Legorooj commented on #5017
Please write a hook for `google-api-python-client` which collects the metadata.

[2020-07-22 05:47] Salim9304 commented on #4932
**OS GNU/Linux (Kali) steps**

1) pip3 install https://github.com/pyinstaller/pyinstaller/tarball/develop

2) python3 -m PyInstaller --version
4.0.dev0

3) cat 1.py _#let's read the whole project: 1.py_
from playsound import playsound _#importing this [module] https://github.com/TaylorSMarks/playsound) gives fantastic GB size and long build_
print("test")

4) python3 -m PyInstaller --clean project

[2020-07-22 06:22] arossert commented on #5014
@bwoodsend Thanks for the info.

I did look a bit on the content and noticed that some services have multiple versions (separated by date) and only the most recent one is used (unless explicitly specified) so I will try to remove the old versions and see if that will reduces the size.

[2020-07-22 06:22] #5014 closed

[2020-07-22 06:48] ferdnyc commented on #4996
@LeighKorbel

OK, yeah, that's exactly the kind of stuff I was afraid of:

So it sounds like it's not even just `wscript`, but the _rest_ of pyinstaller that's doing certain things only when `is_win` is true. _Possibly_ `is_win` just **should** be set true, on MSYS, but that assumes that _all_ of the `is_win` actions are also valid in MSYS. I'd be surprised if that's the case, and if it's _not_ th

[2020-07-22 07:40] Legorooj commented on #4932
@Salim9304 hang on a second. You're not using the `--key` option in your latest example. It had been my understanding that that was the problem?

[2020-07-22 07:48] Legorooj commented on #5015
Umm ok this is really weird. Modulegraph isn't seeing this import. At all. Let me do some more digging...

[2020-07-22 07:50] mungojam commented on #3496
You should all add a thumbs up to the issue as that will help highlight that this affects other people.

I came up with a way that doesn't require manually changing the library code. This could be added as a change to the Jinja hook if somebody has the time to do so:

[code]

It basically makes a loader that looks like the Jinja2 `PackageLoader` that it tries to use so that it can be patched. In f

[2020-07-22 08:50] Salim9304 commented on #4932
I originally thought the problem was due to "--key".  But later I started digging.  And I found that the problem arises solely from the "playsound" module.

Option "--key" or without option, the result is the same: the size is huge and the error is exclusively in pyinstaller v4.0 due to the "playsound" module

[2020-07-22 09:02] Salim9304 commented on #4932
I have two lines of code in my project (1.py), module import and print.  But look, pyinstaller v4.0 pulls all files in a row from the system, even the dictionary: rockyou.txt.gz.
🙄

There is nothing like this in pyinstallet v3.6!

[2020-07-22 11:20] tamil07 commented on #4979
Added the line as suggested. Below is the current file details

[code]

Please find the current output below

[code]

[2020-07-22 12:25] digilevi2006 commented on #5007
@Legorooj

Hi bro,

So, the code doesn't have mistakes because it's working on your side right? :)
Maybe I need to compile it from another pc then...

[2020-07-22 12:28] dg-chitharthan commented on #4934
Yes, I agree too

[2020-07-22 14:03] LeighKorbel commented on #4996
@ferdnyc I should stress that this is occurring now using a MinGW shell (as opposed to the MSYS2 shell I was working in before), because pygobject requires this:

https://pygobject.readthedocs.io/en/latest/getting_started.html

So I suppose it should come as no surprise that `is_win` triggers here given the shell that I am using. I do not understand the subtle connections between the MSYS2 and Min

[2020-07-22 16:58] bwoodsend commented on #4964
Sorry, I thought I replied to this yesterday. @KLRussell That is the traceback I was asking for - thanks. Unfortunately I have absolutely no idea how to fix it. @Legorooj I'm needing help with this one.

[2020-07-22 17:04] bwoodsend commented on #5018
@phirst We need some more background information than this.

- What command did you use to build?
- Do you get this issue if you build any Python script or just a particular one?

[2020-07-22 17:47] o-mcelhin opened #5019 "Issue pulling numpy.cov"
+++ ONLY TEXT +++ DO NOT POST IMAGES +++

## Description of the issue
When freezing code containing np.cov, program will build but will crash with no error when running the .exe

## Context information (for bug reports)

* Output of `pyinstaller --version`: ```3.6```

* Version of Python: e.g. 3.7.3

* Platform: e.g GNU/Linux (distribution), Windows (language settings), OS X, conda, FreeBSD
Window

[2020-07-22 18:47] klasy opened #5020 "import error with very recent changes to pyinstaller 4.0-dev"
I think there might be something broken around sys.meta_path since my project started to have the following error in the last few days - beforehand it was building with the 4.0-dev version just fine. So the error looks like this:

[code]
The structure of the project:
[code]
The top-level files and functionality from them can be found just fine. Also if I specify the full path as if `python.src.cli

[2020-07-22 20:38] bwoodsend commented on #5020
`ModuleNotFoundError` in PyInstaller usually just means you need to pass `--hidden-import=client.host_interface` on build. Does that fix it?

If not then could you clarify which modules are importing each other? I'm guessing `app.py` is the top level module you are passing to PyInstaller? And it contains `import client` somewhere in it? And `client.__init__` contains `from . import host_interface`

[2020-07-22 20:44] bwoodsend commented on #5019
I believe this is #4968 again. Try [this](https://github.com/pyinstaller/pyinstaller/issues/4968#issuecomment-662075970). I'm working on a more permanent solution at the moment.

[2020-07-22 21:04] klasy commented on #5020
tried that - does not fix the problem (just re-checked - in case)

yes, your assumption is correct - app is top level and then it goes down to client and does
`from client.host_interface import xyz`.

I'm not 100% sure, but from what I know we are not doing pip install since it's our own project - we are just put the exe file into the folder and call it from the systemd service.

[2020-07-22 21:12] klasy commented on #5020
@bwoodsend - yes, PYTHONPATH is not set:
[code]
Also with pyinstaller 3.6 it works fine...

[2020-07-22 23:07] bwoodsend commented on #5020
OK, I'm still not entirely sure what's happening. For PyInstaller to find a module, that module needs it to be in `sys.path` and the only way it could find `client` is if your `cwd`, i.e. the `''` in `sys.path`, is  `python/src` (I think). What is your `cwd` when you run PyInstaller? Are you inside `python/src` and call `PyInstaller app.py` or at the root and call `PyInstaller python/src/app.py`?

[2020-07-22 23:22] klasy commented on #5020
ok, this is how the pyinstaller command looks like:

[code]
called in docker in sequence after copying the project to /project

[2020-07-23 00:09] bwoodsend commented on #5020
I'm fairly certain this is just `PYTHONPATH` in that case. If you put `PYTHONPATH=/project/python/src/` before the PyInstaller call does it change anything? (you may need to correct my bash syntax - it's not something I use often).

Also, when you run your `PyInstaler .....` it should create a file called `egnyte_local_cloud_client.spec` which contains all your `--hidden-import=...` and other sett

[2020-07-23 00:28] ferdnyc commented on #4996
Ah, thanks @LeighKorbel , I hadn't caught on that the latest results were from MinGW.

I may have an idea what's happening here.

[code]

Heh. Yup.

Windows file-access APIs, the older pre-universal-whatever ones that didn't show up until like Windows 7 or 8 I think, had a hard cap of 256 characters for a complete file path. MinGW is clearly using those older APIs. there is simply no way it can re

[2020-07-23 00:37] ferdnyc commented on #4996
MinGW, or MinGW Python, I should say. It's possible there's some alternate file-access module that supports the UWP (that's what they're called!!) APIs and doesn't have restrictions on path length, though you'd think if there were it would be used by default in Python 3.8...

Hmm. I was wrong. It's 260 characters, it wasn't fixed until Windows 10, and apparently it's a _filesystem_ setting that ca

[2020-07-23 00:39] LeighKorbel commented on #4996
Clever. I had no idea. So it would seem that this is a MinGW issue and not a PyInstaller issue? This is the last hurdle holding me up and if I can get past this it would make my week. I am going to attempt your suggestion now and see what I can do. I can't thank you enough for your help so far @ferdnyc!

[2020-07-23 00:42] ferdnyc commented on #4996
Yeah, I can't imagine how it's PyInstaller's fault, if the path can't be read the path can't be read. Finding some way to shorten it would be the most effective approach to solving this. It sounds like something went wrong with that Anaconda installation, if it's really located its packages directory at "C:/ProgramData/Application Data/Application Data/Application Data/Application Data/Application

[2020-07-23 00:47] LeighKorbel commented on #4996
I pretty much avoid Windows for coding as a policy, but I did install Anaconda Spyder on here (Windows 10) in case I didn't want to switch over to the Linux partition for anything Python related. I completely agree that the path is insane. I would think that the file path would be good on Windows 10 based on what you are telling me, so I don't know if the howtogeek link is relevant?

[2020-07-23 00:49] LeighKorbel commented on #4996
Also, because ProgramData/Application Data is a system junction I can't seem to navigate that path outside of CMD...

[2020-07-23 00:53] ferdnyc commented on #4996
Yeah, if you can read it from Explorer then I assume that Microsoft has already pushed the change described there out to everyone as the new default, so it shouldn't be necessary to change anything. I imagine if it _weren't_ already changed then you wouldn't be able to reach the file period.

Oh, now THAT'S interesting. Hmm. Wonder if the problem is a circular junction mapping? Can you try just ru

[2020-07-23 00:57] LeighKorbel commented on #4996
`The system cannot find the file specified.`
So... a couple of things come to mind here. First, I wonder if this dependency would be resolved by something else? What would happen if I were to uninstall Anaconda from my computer? Also, I could try repeating this process from another computer that does not have Anaconda installed?

[2020-07-23 00:59] LeighKorbel commented on #4996
There are a lot of subtleties going on here that I did not anticipate. I was really hoping to have everything self contained within the MSYS2 environment (which is why I needed PyInstaller working with the native Python 3.8 there) and not have to depend on anything within Windows, but the python GTK requirement of MinGW really put a stop to that.

[2020-07-23 01:04] ferdnyc commented on #4996
Or... actually, wait. Is there _supposed to be_ a `C:\ProgramData\Application Data\` at all?

[Answer, apparently, is](https://support.servosity.com/hc/en-us/articles/216284017--C-ProgramData-Application-Data-Application-Data-Application-Data-The-name-of-the-file-cannot-be-resolved-by-the-system):
1. Yes, it's "normal" (as normal as Windows gets)
1. It's actually just a circular reference back to

[2020-07-23 01:07] LeighKorbel commented on #4996
I mentioned previously that I can navigate that exact path and find that exact file in that location within CMD. Is it Anaconda that placed it there, or something else?

[2020-07-23 01:18] ferdnyc commented on #4996
That's one question, the other one is why PyInstaller needs to read it at all. I need to go back over your earlier post on this, I've sort of been reacting to details without an understanding of the bigger picture. Hopefully I can find some clues in the process that led you to this point.

[2020-07-23 01:22] LeighKorbel commented on #4996
It seems that the Anaconda Spyder install falls under "Python 3.6.4 (Anaconda3 5.1.0 64-bit) under Apps & Features. I am going to uninstall it now and see what happens.

[2020-07-23 01:24] LeighKorbel commented on #4996
It says it will be uninstalling from: `C:\ProgramData\Anaconda3\`
That's interesting.

[2020-07-23 01:34] LeighKorbel commented on #4996
Ugh. So I uninstalled that. Then I uninstalled PyInstaller via pip in MinGW, then remade the wheel and installed PyInstaller again. Now when I go to compile my app I get this:
[code]
Apple Mobile Device Support....?

[2020-07-23 01:38] LeighKorbel commented on #4996
And an MSI is an installer for Windows. Why in the world would that come up? This is making less sense by the minute.

[2020-07-23 02:26] Legorooj commented on #5007
@digilevi2006 give me a day or two to work on this. No, the code isn't working for me, but I'm tracing the problem.

[2020-07-23 02:40] LeighKorbel commented on #4996
I'm going to try this same process on three more computers tomorrow. I'll report back.

[2020-07-23 03:21] klasy commented on #5020
added export of the PythonPath - same problem... + this same code was building fine just last week - somewhere in the middle of it.

[2020-07-23 07:02] ferdnyc commented on #4996
Yeah, it really seems like PyInstaller is picking up paths from _somewhere_ and falling down the circular reference hole created by the `Application Data` junction. Like, I bet there really _is_ an `Apple\Installer Cache\Apple Mobile Device Support 11.0.0.30\AppleMobileDeviceSupport6464.msi` _somewhere_, either in `C:\ProgramData` or your <code>C:\Users\\<var>username</var>\\Application Data\\{Loc

[2020-07-23 07:28] digilevi2006 commented on #5007
Hi @Legorooj

Maybe because I've inserted an invalid raw pastebin link
It's under __main__,
on this line,

`links2 = getLinks2(`

so, it should be` links2 = getLinks2('https://pastebin.com/raw/HEjYza0C')`

Also, the 3.4 version, I'm not so confident about it, as I needed to downgrade some code lines. maybe mistakes are there

[2020-07-23 09:27] bwoodsend commented on #5020
Oh well - that's the more obvious causes ruled out. Looking through the git log I'm not seeing anything that seems like a likely candidate for this change. Would you be willing to track down the offending commit? You would use:

To set up:

[code]

Choose a commit ID from `git log` - anything that isn't either hooks or READMEs.

Then to set a version use `git reset --hard commit-id` or `git reset

[2020-07-23 12:21] bwoodsend commented on #4876
@avylove If you're determined to put hidden import hints directly into the code you can put either of the following in instead of a special comment:

[code]
Or:
[code]

[2020-07-23 12:30] bwoodsend commented on #5016
I'm fairly certain this is a more general problem of any `pytest` plugins that aren't part of the original `pytest` package aren't bundled and found. If you just freeze the code `import pytest; pytest.main([])` then you can see this using:

<details><summary>Non-frozen plugins: </summary>

[code]
</details>

<details><summary>Frozen plugins:</summary>

[code]
</details>

Only the plugins directly

[2020-07-23 12:32] o-mcelhin commented on #5019
That fix worked perfectly, thanks for the reply !

[2020-07-23 12:32] #5019 closed

[2020-07-23 12:38] Legorooj commented on #5016
@bwoodsend there is already a kind of solution. I'll post tomorrow; it's late here.

[2020-07-23 16:16] vincentfenet opened #5021 "Open With and MacOS .app bundle"
## Description of the issue
I can't get the "open with" file argument with a simple MacOS .app bundle.

## Context information (for bug reports)

* Output of `pyinstaller --version`: ```4.0.dev0```
* Version of Python: 3.7.8 via `brew install python@3.7`
* Platform: OS X (ok on Windows)

### A minimal example program which shows the error

Python:
[code]

Shell:
[code]
Result of the pyinstaller:
[

[2020-07-23 16:23] klasy commented on #5020
Ok, let's do that - with docker build it will be relatively easy and fast. Let me get back to you.

[2020-07-23 16:43] LeighKorbel commented on #4996
(1) Another computer on Windows 10 that also had Anaconda installed:
[code]
Removed Anaconda:
[code]
Removed Adobe Acrobat Reader:
[code]
(2) Another computer on Windows 10 that did not have Anaconda installed:
[code]
Note that this seems to be going in Alphabetical order. Anaconda3, then either Adobe or Apple. The Microsoft SQL server thing is the outlier.

(3) A fourth computer on Windows 10 tha

[2020-07-23 16:46] dvj commented on #4985
set the environment variable `QT_DEBUG_PLUGINS=1` and see if the output provides a more specific error

[2020-07-23 17:13] ferdnyc commented on #4996
Ohh-kay, I've come up with... _some_ ideas, more about how to _find out_ what's going on, than actual theories about what's going on. But, hopefully the former will produce the latter.

#### `msys-compat` branch updated

First off, I discovered in testing that, if you're using PyInstaller from my branch under MinGW, even if all of the hooks had run successfully PyInstaller wouldn't have worked pro

[2020-07-23 17:50] klasy commented on #5020
@bwoodsend, Some intermediate update:

I checked some commits. Until the `7a7eb11a7bed7024831694f973c3f2cf30fd359e` the build fails for me with the following:

[code]

Starting `7a7eb11a7bed7024831694f973c3f2cf30fd359e` it builds fine, but I have this exception about a module can not be found. I'll try to dig further, but this build error that I mentioned starts with or before `8714423aa56803027b5

[2020-07-23 18:03] LeighKorbel commented on #4996
In MinGW shell:
[code]
In CMD:
[code]
Python sys.path:
[code]
So at first glance it seems as though your pessimism was well founded. I am using GNU make on a self constructed makefile. You are looking for the output of `make -n` then?

[2020-07-23 18:05] LeighKorbel commented on #4996
Otherwise I think GNU make is verbose by default.

[2020-07-23 18:17] LeighKorbel commented on #4996
Inspecting PyInstaller:
[code]

[2020-07-23 18:18] klasy commented on #5020
Ok, any suggestions about this failure? because it goes back to 5feb4167cc55c49cd25f408b6d4b253759a735b9 which is May 21 - way far to go...

[2020-07-23 18:30] felipefariasdasilva opened #5022 "My .exe for Django project doesn't run the server."
Hi guys!

I'm trying to generate a .exe for my Django Project. But after I execute the following command

[code]

and execute my runserver command using

[code]

nothing happens, neither an error message.

This is the log builder:

[code]

And, this is the .spec that was automatically generated:

[code]
Could anyone help me?

Thanks!!

[2020-07-23 18:34] klasy commented on #5020
I actually have a better idea... can we go through the builds for 4.0-dev - those should be made daily... or do you keep just the last build?

[2020-07-23 18:42] LeighKorbel commented on #4996
Also, I could just post the contents of the makefile if that is more useful. It's pretty straightforward and I don't think there is anything there that I would consider proprietary.

[2020-07-23 19:53] klasy commented on #5020
ok, finally found later commit that builds... it has lorem ipsum problem... but :) - going up the stack now... that later commit is beginning of April... 27-th of April it's already broken with the above hook problem.. The earliest good one so far is `c6a74f060eef182365d88473961b1b1ea1a8e8d7`

[2020-07-23 19:58] bwoodsend commented on #5020
There's no daily build (at least not that I'm aware of). There's testing CI that runs each commit.

I find these lines from your last traceback odd. It appears to be running from an egg. Are you running a really old version of setuptools? I've switched over to my Linux machine and reset to that commit and I can't reproduce that failure.
[code]
Maybe just use `pip install .` without the `-e`. You'l

[2020-07-23 19:59] bwoodsend commented on #5020
Btw, when you say *very recent*, surely that's well after April?

[2020-07-23 20:10] LeighKorbel commented on #4996
Sorry, the printout from inspecting PyInstaller before was not everything, as I just assumed both STDOUT and STDERR would be printed to the shell. There is a little bit more from the redirect of both to the file as you suggested, but I am not sure that it is any more informative. Also, let me know about the makefile and we can go from there. Thank you!

[make.txt](https://github.com/pyinstaller/py

[2020-07-23 20:50] klasy commented on #5020
Doing install without `-e` is fine - I'm building new container each and every time - wiping out everything for the cleanness of the experiment... Yes, when I say very recent - it means last week... (when I originally started experience the issue it was like 1 or 2 days, but after that I spent a lot of time googling, investigating and trying to fix it myself before I went here) - 1,5 weeks max...

[2020-07-23 21:00] klasy commented on #5020
Ok, I think it's my chroot removal has to do with the problem of the path... is there a way to workaround lorem ipsum problem for a version 3.6 - just wanted to make absolutely sure?

[2020-07-23 21:01] klasy commented on #5020
BTW, building without `-e` helps to remove that build problem ;D

[2020-07-23 21:09] bwoodsend commented on #5020
Build problem being [this one](https://github.com/pyinstaller/pyinstaller/issues/5020#issuecomment-663145196)?

I don't actually know what you mean by the `lorem ipsum problem`?

[2020-07-23 21:20] klasy commented on #5020
no, the following one:
[code]
Oh, the `lorem ipsum` is about `jaraco.text` hook that was missing for quite some time... It's just a sample file containing this student's hymn in latin `Lorem ipsum` - actually was real famous...

[2020-07-23 21:26] klasy commented on #5020
Ok, so I think I'm pretty confident it's my environment problem... could you point me where to look for a possible problem? What I'm doing - I'm moving our project to py3 from py2, therefore I'm using all the libraries in new versions... So the problem might be the new python3 stuff actually (fundamentally wrong build process), because our project in py2 continues to build just fine with pyinstall

[2020-07-23 21:34] bwoodsend commented on #5020
Just to clarify: You no longer think it's a recent change in PyInstaller's development branch that's causing the `ModuleNotFoundError: No module named 'client.host_interface'`?

[2020-07-23 21:51] bwoodsend commented on #5020
I can't think of anything wrong with using `chroot` and certainly not with switching from 2 to 3.

Actually we're still not sure where this module is getting lost. It could be any of the following:

1. PyInstaller doesn't realise we need the `client` module (usually solved by `--hidden-import` which didn't work so unlikely).
2. PyInstaller does realise we need it but can't find it when building (n

[2020-07-23 21:53] klasy commented on #5020
Yes, I went down to April and was able to confirm that the problem is exhibited even there and then (which should not be true since I've been building the project with py3 and pyinstaller back then just fine... - that one is for sure). The reason I was thinking that might be a pyinstaller itself since I moved to `no chroot` commit and then rebased back since I had the build problem.. So even rebas

[2020-07-23 21:53] klasy commented on #5020
Full build log - what do you mean here?

[2020-07-23 21:56] klasy commented on #5020
Yeah - the structure is weird - there's probably a story to that since the project is more than 11 years old... hope I do not need to change this structure... That would be epic

[2020-07-23 22:00] klasy commented on #5020
Oh, and you want everything in debug? Or just maybe imports?

[2020-07-23 22:02] klasy commented on #5020
[full_build_log.txt](https://github.com/pyinstaller/pyinstaller/files/4969041/full_build_log.txt)

Ok, this is with no debug, but those debug messages do not tell much more.

[2020-07-23 22:07] bwoodsend commented on #5020
<details><summary>This is the bit I was after:</summary>

[code]

</details>

[2020-07-23 22:10] bwoodsend commented on #5020
You're right - it doesn't say much of use. What about the `xref` file? Can you get at that?

[2020-07-23 22:11] klasy commented on #5020
I can copy it somewhere I guess... or... I can just go to the last container - it should be there in theory - let me check

[2020-07-23 22:23] bwoodsend commented on #5020
Don't suppose in future you could maybe have a simpler build process? You seem to have a `venv` Python environment running with `chroot` inside docker image, building a large Python app with an unconventional structure.

[2020-07-23 22:27] klasy commented on #5020
[xref-egnyte_local_cloud_client.html.zip](https://github.com/pyinstaller/pyinstaller/files/4969339/xref-egnyte_local_cloud_client.html.zip)
Yay - was able to copy that

[2020-07-23 22:30] klasy commented on #5020
oh, this is helpful - I can see where the problem might be :)

[2020-07-23 22:31] bwoodsend commented on #5020
That's a relief - cause I can't.

[2020-07-23 22:33] klasy commented on #5020
There're a bunch of backports that I remember being there in chroot... and I can follow on :)

[2020-07-23 22:36] bwoodsend commented on #5020
You reckon you're sorted then? We can close this and I can get back to whatever dull task I'm supposed to be doing?

[2020-07-23 22:37] klasy commented on #5020
No... not just yet.. I can see here:

[code]

[2020-07-23 22:41] bwoodsend commented on #5020
Hmm, no clue. I'll have a rummage in the source code for that and see if there's anything more illuminating in there...

[2020-07-23 22:42] bwoodsend commented on #5020
I don't suppose there is anything weird about that file?

[2020-07-23 22:46] klasy commented on #5020
no... it's pretty ordinary... imports... classes.. nothing out of the blue... ok, yeah - I guess I should stay with this quite a bit longer. But thanks for your help

[2020-07-23 22:46] #5020 closed

[2020-07-23 22:47] bwoodsend commented on #5020
It's a syntax error apparently.

[https://github.com/pyinstaller/pyinstaller/blob/a728ef10d52a8325a78aa70fc393fe4c9c7f9241/PyInstaller/lib/modulegraph/modulegraph.py#L2105)

Got any old `print "hello"`s in there still? Or `\`s followed by blank lines?

[2020-07-23 22:51] Legorooj commented on #4876
Forgot to close this. Hooks for jinxed have been added to contrib.

[2020-07-23 22:51] #4876 closed

[2020-07-23 22:56] klasy commented on #5020
Thanks for the tip - I was looking for something like that... kinda hard to find... let me run 2to3 on this file and see if that is gonna be of any help

[2020-07-23 23:07] ferdnyc commented on #4996
Yeah, seems that way, darn. If `make` runs verbosely, so that it echoes commands before running them, then the output of the actual `make` run would be best. `make -n` will show what it's trying to do, but not what happens when it does it, so there'd still be pieces missing from the picture.

The first `pyinstaller` run didn't actually do anything, buried in the middle is this error message:
[code

[2020-07-23 23:15] ferdnyc commented on #4996
Yeah, that has the full details... though they're not **super** enlightening. Still, I'll sum up what's there...

[2020-07-23 23:29] ferdnyc commented on #4996
So, `hook-gi.repository.Gtk.py` is indeed the very last import before it dies. Before that, only a few others had been run (in reverse order):
* `hook-gi.py`
* `hook-encodings.py`
* `hook-distutils.py`
Before that, we had some pre-hooks:
* `pre_safe_import_module/hook-gi.repository.Gtk.py`
* `pre_find_module_path/hook-distutils.py`
And there are some utility imports and etc, but nothing that seems

[2020-07-23 23:37] LeighKorbel commented on #4996
Contents of plotter.spec:
[code]
So regarding the make then, I can either post the contents of the makefile itself, or the verbose output. I am still not sure what flag I would need to pass with GNU make to get verbose output though.

[2020-07-24 01:52] LeighKorbel commented on #4996
The output using `make --debug=j` is here:
[make_output.txt](https://github.com/pyinstaller/pyinstaller/files/4969861/make_output.txt)

[2020-07-24 01:58] LeighKorbel commented on #4996
I could swear I did this earlier and the output was the same as make, but here is the output of `make V=1`:
[make_verbose.txt](https://github.com/pyinstaller/pyinstaller/files/4969876/make_verbose.txt)

[2020-07-24 14:03] Alexander3XL commented on #3584
Hello!
I have the same bug. That looks like regression.

Additional info:
* Linux 5.7.10-arch1-1
* Python 3.8.3 (default, May 17 2020, 18:15:42) [GCC 10.1.0] on linux
* python-setuptools 1:49.2.0-1
* pyinstaller 3.6-6

Steps to reproduce:
[code]

[2020-07-24 14:06] Alexander3XL opened #5023 "pyinstaller with click leads to error ModuleNotFoundError"
Hello!
I have ModuleNotFoundError: No module named 'packaging.version'.
That looks like regression https://github.com/pyinstaller/pyinstaller/issues/3584

Additional info:
* Linux 5.7.10-arch1-1
* Python 3.8.3 (default, May 17 2020, 18:15:42) [GCC 10.1.0] on linux
* python-setuptools 1:49.2.0-1
* pyinstaller 3.6-6

Steps to reproduce:
[code]

_Originally posted by @Alexander3XL in https://github.c

[2020-07-24 17:33] bwoodsend commented on #5023
Have you tried passing `--hidden-import=packaging.version`?

[2020-07-24 17:36] bwoodsend commented on #5022
Can you please provide a minimal example Python script we can use to reproduce this issue? We can't do anything with just a build log. Also should warn you that PyInstaller doesn't support Python 3.8 yet.

[2020-07-24 18:36] snmnima opened #5024 "pyinstaller (auto-py-to-exe) error: Project output will not be moved to output folder!"
[code]
---
Command:

_pyinstaller --noconfirm --onedir --console --name "MyMainapp" --key "qXx53d02m2PrswB1" --debug "all"  "<Script Location>"_

---
When I want to convert a python file to exe (using auto-py-to-exe), these errors are shown to me:
[code]
if someone knows something, please help me! thank you.

[2020-07-24 19:30] Nezz commented on #3820
I found a solution to this issue that does not require copying `msgcat-1.6.1.tm` or any other files to the application bundle:
1. Find `console.tcl` in `/Library/Frameworks` on the machine you make the build. Usually this is located in either of these locations:
[code]
2. Replace `msgcat::mc` in the file with `::tk::msgcat::mc`

Alternatively here's a command that does it for you:
[code]

Finally,

[2020-07-24 19:34] Alexander3XL commented on #5023
[code]
It works!

[2020-07-24 20:45] bwoodsend commented on #5023
Thanks for that. I'll bung that into a hook now to hopefully fix it more permanently.

[2020-07-24 20:50] garvit-joshi opened #5025 ".EXE says failed to execute script Encryption"
## .EXE says failed to execute script Encryption

## Context information (for bug reports)

* Output of `pyinstaller --version`: ```4.0.dev0```
* Version of Python: e.g. 3.7.8
* Platform:Windows 10(English-India)
* Did you also try this on another platform? Does it work there?- No,I am only using Windows.

### A minimal example program which shows the error
```Encryption.py```
[code]
Result of pyi

[2020-07-25 09:51] digilevi2006 commented on #5007
@Legorooj

Hi bro,

Any update on this? Thanks in advanced

[2020-07-25 10:44] bwoodsend commented on #5023
@Alexander3XL Could you share your `xref` file with us as I'm unable to reproduce your issue? Find it under `build/f/xref-f.html`.

[2020-07-25 11:48] amineo99 commented on #4103
Hi Mandrilux Did you fix that ??? I have the same problem here

[2020-07-25 12:08] #5025 closed

[2020-07-25 17:45] amineo99 opened #5026 "Failed To execute script pyiboot01_bootstrap"
## Description of the issue

## Context information (for bug reports)

* Output of `pyinstaller --version`:3.6
* Version of Python: 3.7.1
* Platform: , Windows 10 x64 (conda)
*PyQt 5 and Sqlite 3

When I freeze my app without console it gives this output and --debug doesn t give me a traceback error.

[2020-07-25 18:03] amineo99 commented on #5026
The solution is either to have a Console-based .exe or you use the x32 bit bootloader the first one is obvious
you just write --console instead of --windowed whereas for the second one
1-Check where the bootloader file is
2-open cmd or anaconda prompt
3- cd into the folder where is bootloader
4-python ./waf all --target-arch=32bit for python 2
and python3 ./waf all --target-arch=32bit for python3

[2020-07-25 18:03] #5026 closed

[2020-07-26 00:16] Legorooj commented on #5007
@digilevi2006 not yet I'm afraid. I need some more time - hopefully I'll have had a thorough look by next weekend.

[2020-07-26 00:17] Legorooj commented on #4964
I'll have a look at this. Give me a few days.

[2020-07-26 01:42] Legorooj commented on #5024
This bug has been fixed in the development version. Please either `pip install -U https://github.com/pyinstaller/pyinstaller/archive/develop.zip`, or wait for the next release of PyInstaller - version 4.0 and any day now; we're waiting on our project lead to actually do the release.

[2020-07-26 01:42] #5024 closed

[2020-07-26 06:02] auziel commented on #5016
@Legorooj I'm eagerly waiting to get the solution to this issue.

[2020-07-26 07:53] Legorooj commented on #5016
Right finally found time to write up on this.

The plugins aren't being found because they use entry-points. If you don't know what those are, read [this blog post](https://amir.rachum.com/blog/2017/07/28/python-entry-points/), which does a excellent job at explaining them.

Entry-points are stored in the package metadata, which PyInstaller doesn't include by default. The only solution we currentl

[2020-07-26 07:53] #5016 closed

[2020-07-26 08:18] Legorooj commented on #5015
I managed to find the source of this issue. Give me a while to fix this - it should be working how it is, but for some reason our knife is failing to cut this Gordian Knot - which it was doing just fine a few versions of `pypubsub` back AFAIK.

[2020-07-26 08:30] #4850 closed

[2020-07-26 08:51] bufemc commented on #4957
Feels like nobody read my issue and ideas in it, so I try again in short:

Instead of a random dir, extract in a specified one, e.g. by a given parameter. Sha1 is good enough to prevent re-extracting IMHO.

The feature not to re-extract always and waste time is wished since years somehow (just use Google), please do not again just close it.

[2020-07-26 21:56] manesh83 opened #5029 "Problem creating .exe when importing Pandas"
Hi there,

I am trying to create an .exe-file from an existing python file via PyInstaller. For the sake of simplicity I wrote a very simple file called hello.py which looks like this:

hello.py
import pandas
print('hello')

Leaving out "import pandas" I don't have a problem at all, PyInstaller will create a perfectly working hello.exe.

It would be great if someone had solved this problem and cou

[2020-07-27 01:51] Jamesoli-ch commented on #5015
Cool, Thanks @Legorooj

[2020-07-27 05:08] goodtune opened #5030 "Python 2.7 test suite fails on sysconfig.get_makefile_filename in CentOS 7"
## Description of the issue

When running the test suite on the latest tag, the Python 2.7 tests fail on CentOS 7.

## Context information (for bug reports)

* Output of `pyinstaller --version`: ```(paste here)```
* Version of Python: 2.7
* Platform: GNU/Linux (CentOS 7.x)

## Example

The test program that ships with PyInstaller exhibits this issue - taken from `tests/functional/scripts/pyi_pytho

[2020-07-27 09:19] digilevi2006 commented on #5007
Thank you for your response bro...

[2020-07-27 10:11] snmnima opened #5032 "PyInstaller: clear log in cmd"
Hi, how do I clear the `log` before starting the main program? I mean, I don't want these to be displayed before the program starts!
_(image attached in this post)_

[code]

my command:
`pyinstaller --noconfirm --onefile --console --key "qXx53d02m2PrszA1" --debug "all"  "<Script Location>"`

![log](https://user-images.githubusercontent.com/26420604/88530314-70e2ef80-d016-11ea-86b6-6c5beef4390b.PNG

[2020-07-27 11:16] felipefariasdasilva commented on #5022
It's a regular Django project. My entry point is by the manage.py file:

[code]

[2020-07-27 16:09] bwoodsend commented on #5022
I'm afraid I can't reproduce at all. It all works fine on my machine. I'm using the following on Windows 8, Python 3.8.3:

[code]
Which gives what it's supposed to give:
[code]
It complains a lot during the build but still works. @felipefariasdasilva Can you confirm this hello world example doesn't work for you?

[2020-07-27 19:33] bwoodsend commented on #5029
We need an error message to have any idea what the issue is. Run `dist\hello\hello.exe` from `cmd` and post the output.

[2020-07-27 20:25] snmnima commented on #5032
@bwoodsend If I delete it, I get an error: _Failed to execute script_ !

[2020-07-27 20:37] bwoodsend commented on #5032
Ughh gross. The `--debug` option should never make or break an app. @snmnima Can you share the full error message with us? Run your app from `cmd` and copy paste what is says onto here. If you find copying in `cmd` awkward use `dist\app_name.exe >errors.txt 2>&1` then open the new file `errors.txt` and copy the contents instead.

[2020-07-27 23:00] Legorooj commented on #5030
Does this _only_ fail on python 2.7? We don't support that anymore in the development version, so no PRs/fixes for python 2 will be accepted. 3.6 is the last release to support python 2.

[2020-07-27 23:38] snmnima commented on #5032
@bwoodsend This is my error after not using `--debug "all"` : `The system cannot find the path specified.`
and the text shown in cmd:
![text in cmd](https://user-images.githubusercontent.com/26420604/88602322-d3280880-d087-11ea-99ec-bb3e98d8fdbf.png)

[2020-07-28 01:35] LeighKorbel commented on #4996
So I am guessing that I am dead in the water here, eh?

[2020-07-28 08:15] dasdebashish17 commented on #3733
`Add pypiwin32==219 to pyinstaller-win requirements to fix `
Where can I find the file where the above mentioned fix is suggested ?

Thanks

[2020-07-28 08:56] goodtune commented on #5030
It would appear so, I encountered the issue on v3.6 tag of PyInstaller and tested against Python 2.7 and Python 3.6 with only the former failing.

[2020-07-28 14:42] Amar-Unitek commented on #4740
I am also stuck at the same issue. Please let me know if anyone has the solution

[2020-07-28 15:57] isdito opened #5033 "Pyinstaller with python 3.85 not works"
Hello,

The exe give me this error, I not find the solution. reggards

[code]

[2020-07-28 16:06] bwoodsend commented on #5033
Have you tried `--hidden-import=encodings`?

[2020-07-28 16:09] isdito commented on #5033
no I'm unpacking version 3.85 and going back to a 3.7

[2020-07-28 18:06] isdito commented on #5033
hello,

`pyinstaller interface.py --hidden-import=encodings`

not works. Any solution?

[2020-07-28 18:59] auziel commented on #5016
@Legorooj thanks for your explanation.

I implemented your suggestion, adding `hook-pytest_html.py` to the code. I updated the PyInstaller freez process with ` --additional-hooks-dir=hooks` and `--hidden-import=pytest_html`. The result was that the pytest_html metadata was added to the freeze code, but **pytest_html** package was missing.
Once I added the pytest_html package using `--add-data' I w

[2020-07-28 19:19] judge2020 commented on #4127
For me, this error was caused by importing from a folder without an `__init__.py` file (not a 'package') and only happens with `--debug=noarchive` or `--debug=all` (which includes `noarchive`).

[code]

Debugging [misc.py#L152](https://github.com/pyinstaller/pyinstaller/blob/6d4cce1f8eb80c0bf49d35876d28daa55a05800f/PyInstaller/utils/misc.py#L152) with the below changes on Python 3.7.8:
[code]

![i

[2020-07-28 19:52] bwoodsend commented on #5033
Can you share your `xref` file with us. Find it in the `build` folder.

[2020-07-28 20:26] isdito commented on #5033
Hello.

[](https://www.video-boda.es/xref-interface.htmll)

Thank you

[2020-07-28 20:45] bwoodsend commented on #5033
OK, so contrary to what it says, `encodings` is being found and bundled fine but something else is upsetting it. Can we have the full output from running your exe?

[2020-07-28 20:54] isdito commented on #5033
hello.
it is posible send you private?
it is a work for a enterprise and it is not protected know

[2020-07-28 21:23] bwoodsend commented on #5033
@isdito Can we have the source `globales.py`  too?

[2020-07-28 22:32] isdito commented on #5033
Hello from Spain

https://we.tl/t-TV9UbymXqI

Give me error with a little example I put you

reggards

[2020-07-28 23:08] llamafilm commented on #3820
Most of the workarounds posted here are about Tk, but this issue is not specific to that.  I have the same problem with a simple Python code:

[code]

The binary runs okay in Terminal, but double-clicking the .app doesn't work.

But maybe this is intentional, as the docs are confusing about this:

So the `-w` option is required to make a .app bundle, but this also disables the console window.  So

[2020-07-29 00:18] bwoodsend commented on #5033
I get no error when I build your example. Do you know your filesystem encoding? Use `sys.getfilesystemencoding()` if you don't.

Also you are aware that you can't just copy the `exe` file out from the rest of the app like you sent? Use `--onefile` to make a single file executable.

[2020-07-29 00:33] Legorooj commented on #5016
@auziel can you send the working spec file?

[2020-07-29 00:41] isdito commented on #5033
Hello,

The error it is not the file.py, see the video

https://youtu.be/UYeclCNJU6U

reggards

[2020-07-29 03:43] auziel commented on #5016
[code]

[2020-07-29 05:25] jsl303 commented on #4110
I don't use sklearn nor joblib, and the built app keeps launching itself over and over.
I'm using multiprocessing.Process and Value.
Pyinstaller: 3.6
Python: 3.8.5
MacOS: 10.14.6
WXPython: 4.1.0

[2020-07-29 07:49] EgeHe commented on #4859
It seems that the working directory is root `/` when running .app.
I tested this by adding
[code]
to worker function. Working directory can then be read from `path.txt` in user home folder.
As I did not have `requirements.txt` in my root folder, the subprocess command did nothing. However, if copying fails in subprocess, it doesn't raise python exception.

Copying worked after adding full paths to

[2020-07-29 07:56] alexchandel opened #5035 "pyinstaller fails to install with pip behind a proxy"
## Description of the issue

Pyinstaller fails to install from `pip` behind a proxy, hanging at the "build dependencies."  Even if all dependencies are installed, it still tries & fails to download build dependencies.  Even if the `--no-deps` flag is passed, it still tries & fails to download build dependencies.

## Context information (for bug reports)

* Output of `pyinstaller --version`: ```(N/

[2020-07-29 09:16] fabiangeisler commented on #3944
Hello,

I got the same issue and I think this happens when a png is hiding inside the ico file (which is a possibility according to wikipedia). I could fix it by saving my icon as a bmp and then back as an ico with XnView. After that building went just fine. Hope that helps someone in the future.

[2020-07-29 10:13] bwoodsend commented on #5033
Your using the executable  from the `build` folder. That's all just intermediate temporary files and build logs. You should be using the executable from the `dist` folder.

[2020-07-29 10:33] isdito commented on #5033
Hello say me the same

C:\Users\video-boda\Desktop\PROYECTO-PHOTO\mi-codigo\build\globales2>pyinstaller globales2.exe --onefile
49 INFO: PyInstaller: 4.0.dev0
49 INFO: Python: 3.7.8
50 INFO: Platform: Windows-10-10.0.18362-SP0
51 INFO: wrote C:\Users\video-boda\Desktop\PROYECTO-PHOTO\mi-codigo\build\globales2\globales2.spec
54 INFO: UPX is not available.
55 INFO: Extending PYTHONPATH with paths
['

[2020-07-29 10:35] wym2010 opened #5036 "centos 6.6 python3.7.0 fails packaging tkinter program"
## Description of the issue
when packaging tkinter program, it fails
## Context information (for bug reports)
I am trying to packaging python script with tkinter, but met one issue when doing this, I can not search any information from internet, could you help me out?

* Output of `pyinstaller --version`: ```v3.6```
* Version of Python:  3.7.0
* Platform:  Linux-3.10.0-957.el7.x86_64-x86_64-with-c

[2020-07-29 12:10] isdito commented on #5033
ufff I install python version 3.7 and Pyinstaller 3.6  but the error persists

C:\Users\video-boda\Desktop\PROYECTO-PHOTO\mi-codigo\build\globales>pyinstaller globales.exe --onefile
56 INFO: PyInstaller: 3.6
56 INFO: Python: 3.7.8
58 INFO: Platform: Windows-10-10.0.18362-SP0
59 INFO: wrote C:\Users\video-boda\Desktop\PROYECTO-PHOTO\mi-codigo\build\globales\globales.spec
60 INFO: UPX is not availab

[2020-07-29 12:23] davideTricarico commented on #3754
Hello

About this issue, do I need to install the sse2 tf on the destination machine or on the machine which generates the pyinstaller exe?

Thanks
Davide

[2020-07-29 12:35] bwoodsend commented on #5033
Now your trying to compile an `exe` from `globales.exe`. Should be `PyInstaller --onefile globales.py`.

[2020-07-29 13:04] isdito commented on #5033
hello, not give me exe.

[code]

[2020-07-29 13:07] bwoodsend commented on #5033
`PyInstaller --onefile --hidden-import=pkg_resources.py2_warn globales.py`

[2020-07-29 13:09] isdito commented on #5033
[code]
In this moment globales not give me error?

[2020-07-29 13:10] bwoodsend commented on #5033
So it's working now?

[2020-07-29 13:11] isdito commented on #5033
I think yes, not give me error when execute, I am cheking with big py

[2020-07-29 13:14] isdito commented on #5033
I check with another py that interact and it is working.

What is the problem? reggards

[2020-07-29 14:22] jsl303 commented on #3820
If I run open test.app in terminal, the app opens without any error/warning.
However, if I click it from the finder, it doesn't open.
I use WXPython.
I'd appreciate any suggestion.

[2020-07-29 14:22] bwoodsend commented on #5033
The `pkg_resources.py2_warn` issue is due to a hidden module inside `pkg_resources` but we've already fixed that one in the PyInstaller 4.0.

[2020-07-29 15:00] jsl303 commented on #4067
I'm not using sklearn nor joblib. However including this module that I wrote causes problem.
This module runs a shell command in the background until you kill.

[code]

If I import this and use like this, it opens the app over and over, creating many instances of the app running.
[code]

If I just run the .py file without pyinstaller, it works fine.

[2020-07-29 16:46] isdito commented on #5033
hello, I could update via github?

[2020-07-29 17:33] ramith123 commented on #3799
A fix would be appreciated. Still getting the same issue

[2020-07-29 18:26] cbm755 commented on #4985
thanks @rokm the `LD_PRELOAD` for both libfreetype and libfontconfig works for me.

@dvj it doesn't give a more specific error, but maybe I need to remove some of the bundled libraries before trying that?
[code]

[2020-07-29 18:41] bwoodsend commented on #5033
`pip install https://github.com/pyinstaller/pyinstaller/archive/develop.zip`

[2020-07-29 19:31] ashkanz77 commented on #2689
I have the same problem. Here is the minimal code
import crypto
import sys
sys.modules['Crypto'] = crypto
import pyrebase
print('Hello')

[2020-07-29 20:19] isdito commented on #5033
hello,

I install but the error persist

[code]

[2020-07-29 22:35] bwoodsend commented on #5036
Could you also tell us how you installed python and tkinter? There are quite a few possible ways on linux.

[2020-07-29 22:39] bwoodsend commented on #5032
@snmnima Please copy/paste the error text or use the method from my last reply. Don't use a screenshot as we can only see the end of message. All the above screenshot tells us is that zlib tried to decompress something invalid...

[2020-07-29 23:48] Legorooj commented on #3799
@ramith123 there is already a fix. We're just waiting on our project lead to actually release the next version. Feel free to use the development version in the meantime.

[2020-07-30 00:07] ramith123 commented on #3799
@Legorooj Thank you! the development version worked!!

[2020-07-30 00:20] Legorooj commented on #5030
@goodtune we don't accept python 2 only bug reports anymore I'm afraid, so I'm going to close this issue and the linked PR. Thanks for reporting this - hopefully anyone else who encounters this can use your fix themselves.

[2020-07-30 00:20] #5030 closed

[2020-07-30 01:13] Legorooj commented on #5035
Try upgrading pip with `python -m pip install -U pip`, and if it still doesn't work raise an issue on https://github.com/pypa/pip and tag me on it.

[2020-07-30 01:24] avylove commented on #4908
Sorry, I didn't comment sooner, but this wasn't linked to the issue in the Enlighten repo, so I didn't know about it.

I just retested this and the results are the same and consistent. Here is what I get with pyinstaller

![Screenshot from 2020-07-29 21-13-41](https://user-images.githubusercontent.com/16090444/88869396-851a1e80-d1c7-11ea-8b6c-c1852195f926.png)

And what I get on the same system wi

[2020-07-30 07:24] snehri commented on #3754
Hello,
1.) Visual studio 2015-2019 C ++ red .. create.
2.) please run with administrator.

Savas

Samsung Galaxy akıllı telefonumdan gönderildi.

-------- Orijinal mesaj --------
Başlangıç tarihi: Davide <notifications@github.com>
Tarih: 29.07.2020 15:23 (GMT+03:00)
Alıcı: pyinstaller/pyinstaller <pyinstaller@noreply.github.com>
Cc: snehri <s.nehri@hotmail.com>, Comment <comment@noreply.github.com

[2020-07-30 09:24] Overdrivr commented on #3754
@davideTricarico I'm not sure if your build machine needs to support SSE2, maybe without some binaries might be missing and not end up in your package. Not sure, but it's pretty easy to fullfill this requirement on build side.

What's 100% sure and kind of more difficult is to make sure every destination machine your binary will get installed to supports SSE2. If your app is distributed to custome

[2020-07-30 09:38] davideTricarico commented on #3754
Thanks for the comment

I tried building the exe on a machine with AVX instruction and running it on the one without: it doesn't work
I'm going to try to build the exe without AVX and try again.

[2020-07-30 11:26] kjoyce77 commented on #4964
I am also having this issue with an identical traceback.  I have tried Python 3.8.3 with pyinstaller 3.6 as well as Python 3.7.4 with pyinstaller 3.5.

I am building on Window Version 1703 Enterprise N.  It works fine on my 1903 Home machine.  I copied the dist directory from my 1903 machine to the 1703 machine and I still get the error.  The corporate machine is virtual so that could be another p

[2020-07-30 12:25] KLRussell commented on #4964
@kjoyce77, interesting. I too run Windows 10 Enterprise, Version 1709, OS Build 16299.547.

[2020-07-30 13:52] shenaos opened #5037 "pyinstaller and geopandas"
Hey i would like to know if there is a way to use pyinstaller with geopandas, and how can i get it to work

[2020-07-30 14:34] pro-clock-t opened #5038 "help me"
71 INFO: PyInstaller: 3.6
72 INFO: Python: 3.7.3
72 INFO: Platform: Windows-10-10.0.18362-SP0
73 INFO: wrote C:\Windows\system32\pyinstaller.spec
76 INFO: UPX is not available.
Traceback (most recent call last):
  File "c:\users\owner\appdata\local\programs\python\python38-32\lib\runpy.py", line 194, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "c:\users\owner\appda

[2020-07-30 14:50] snmnima commented on #5032
@bwoodsend I sent you both, your method and screenshot. I received this message in the `errors.txt` file: `The system cannot find the path specified.`

[2020-07-30 15:15] BhuvneshSain commented on #2084
I did use auto-py-to-exe but still the same issue.

[2020-07-30 16:59] bwoodsend commented on #5032
That just means you used the wrong filename. You need to replace `dist\appname.exe` with whatever your app's actual file path is.

[2020-07-30 17:02] bwoodsend commented on #5038
Why are you trying to freeze PyInstaller?

[2020-07-30 17:15] bwoodsend commented on #5037
If it doesn't work out of the box you will likely need to [write a hook for it](https://pyinstaller.readthedocs.io/en/stable/hooks.html). If you can tell us specifically why it doesn't work out the box using the designated [issue template](https://github.com/pyinstaller/pyinstaller/blob/develop/.github/ISSUE_TEMPLATE/bug_report.md) then we can help you further. Otherwise this issue is just clutter

[2020-07-30 17:15] #5037 closed

[2020-07-30 17:18] bwoodsend commented on #5033
Again, can we have the full error message. Not just the last few lines...

[2020-07-30 18:07] nbrummel opened #5040 "pyinstaller fails to execute completely with error of tcl"
When I run from a .spec file it does not work and throws errors.  I have checked in a python shell the tk and tcl work with python.  Any advice or help would be great. Here is my spec file:
[code]

Here is the output:

[code]

[2020-07-31 00:35] nbrummel commented on #5040
I used pyinstaller tactile_engine.spec

[2020-07-31 07:37] Legorooj commented on #5020
@klasy did you fix this? IE was this an issue with PyInstaller or not?

[2020-07-31 07:52] Legorooj commented on #4964
Well. I've never come across this error code: https://docs.microsoft.com/en-us/windows/win32/debug/system-error-codes--1000-1299-#ERROR_NOTIFY_ENUM_DIR

Seeing as this works fine for me, frozen or not, this looks to be a harder problem to solve. @KLRussell can you please run `python -v test.py > unfrozen_imports.txt`, then build the executable with `-d imports`, and post the output of that as text

[2020-07-31 08:32] Legorooj commented on #4908
Huh. I tried again and managed to reproduce this - and it's not entirely a PyInstaller issue I think:

Using Windows terminal:
![Command Prompt 31_07_2020 6_23_30 PM](https://user-images.githubusercontent.com/50370070/89016209-b166a400-d35b-11ea-8675-34841d0b0313.png)

But with traditional command prompt:
![Screenshot 31_07_2020 6_27_37 PM](https://user-images.githubusercontent.com/50370070/890162

[2020-07-31 08:51] tingweichien opened #5041 "gmplot not work after doing Pyinstaller"
Everything works fine in .py file and I also successfully convert .py to .exe . But when I execute the exe file gmplot.draw, it shows error about gmplot.draw and FileNotFound

[code]
I I tried to fix it by adding
`gmp.coloricon = "http://www.googlemapsmarkers.com/v1/%s/"`
but still in vain

Here is my code
[code]

How could I fix it ????

[2020-07-31 08:55] avylove commented on #4908
The difference is Windows Terminal supports virtual terminal sequences by default, but CMD requires support to be turned on. The Jinxed library handles that, but restores the console mode to its previous state with [atexit](https://docs.python.org/3/library/atexit.html). For some reason, when running under Pyinstaller, the buffers aren't flushed before atexit is triggered, so the final sequences a

[2020-07-31 09:03] Legorooj commented on #4908
@avylove thanks - I'll examine the jinxed source code and look at the bootloader.

[2020-07-31 09:16] WestbrookZero opened #5042 "ImportError: numpy.core.multiarray failed to import"
My environment is Win10 , Pytorch:1.15.1、Torchvision:0.6.1、numpy：1.19.1 , when i change Torchvision to 0.2.2. Post 3 , hiddenimports=['numpy.core._dtype_ctypes'] and change numpy to 1.18.5 or 1.16.4 or 1.15.0  still have this error :
Traceback (most recent call last):
File "detect.py", line 3, in <module>
File "d:\installpath\develop\anaconda3-5.1.0\envs\yolov5\lib\site-packages\PyInstaller\loader

[2020-07-31 09:21] avylove commented on #4908
Thanks! This is the section I'm referring to.

https://github.com/Rockhopper-Technologies/jinxed/blob/d465753c34fe0a2a97568b38f323e4b504826f50/jinxed/win32.py#L186-L196

[2020-07-31 10:21] kjoyce77 commented on #4964
OK, so I discovered something new.  Being in an experimental stage I started using the default network share without thinking.  Realizing this was slowing a lot of things down I moved things to the attached storage.  It works from the attached storage.  So this could possibly be network storage protocol related or slow i/o related.

@KLRussell Are you on a network share?  If not do you have notice

[2020-07-31 10:57] bwoodsend commented on #4908
@Legorooj @avylove Mine behaved quite a bit differently. Normally I use a console emulator `cmder` rather than Window's own `cmd` which behaved fine. Running from plain `cmd` gave a missing dll error:

[code]

Patching said error in the spec file by adding to the top:
[code]
And in the `a = Analysis(...)` section:
[code]

Now it works fine but I get a seemingly incomplete runtime warning in plain

[2020-07-31 11:29] avylove commented on #4908
You only need ansicon for versions of Windows before 10.0.10586, after that virtual terminal processing is native. What version of Windows are you running?

[2020-07-31 11:38] bwoodsend commented on #4908
Windows 8.0

[2020-07-31 11:40] bwoodsend commented on #4908
Guessing that probably isn't the issue then...

[2020-07-31 12:07] avylove commented on #4908
Yeah, it would be a different issue. For your use case you would need to add jinxed.terminfo.ansicon as a hidden import. (@Legorooj, I guess that should be added in the hook) I am curious if you see issues though. I wouldn't expect you'd see the same issue, but line wrapping is enabled on Win8 by Jinxed in the same way at virtual terminal processing is enable on Win10

[2020-07-31 18:44] bwoodsend commented on #4908
Update: I copied the exe I made on my Windows 8 (which didn't have this issue) onto a borrowed Windows 10 and the issue is back. So the difference is in the runner, not the build.

![test](https://user-images.githubusercontent.com/30940778/89066328-31453c00-d365-11ea-9a42-02cd829f6c87.png)

I'm not sure if this is likely to make a difference but I have fiddled with my `cmd` to get it to use `utf-8

[2020-07-31 20:12] avylove commented on #4908
The code will try to adjust for utf. If that was the issue we'd probably be seeing diamonds where the blocks are.
Yes, there is `jinxed.win32.get_console_mode()`. You could do something like this to see if virtual terminal processing is enabled.
[code]

That said, the output at the bottom of the screenshots is unhandled terminal escape codes. It's handling them fine until `atexit` is called. So th

[2020-07-31 20:27] Dariusz1989 opened #5043 "file already exists but should not.... cant disable/fix"
Hey

I'm royally stuck with this issue. Here is the relevant part of the code I tried>

'''
for projectPath in jobRange:
    projectPath = projectPath + "**/"
    print("Project path : ", projectPath)
    for f in glob.glob(projectPath + "*.pyd", recursive=True):
        a = QFileInfo(f)
        relative = a.canonicalPath()
        for patToRemove in removePath:
            relative = relative.rep

[2020-07-31 21:27] KLRussell commented on #4964
@kjoyce77, yes I am running it on network share. After testing it on non-network share, you do not get this issue at all. However, this does seem to persist if ran on network share, which is odd because Non import _overlapped compiled exe's dont do this on network share. I don't mind running it on my machine, but it would be nice if it could be fixed for network share for multiple users.

[2020-07-31 21:43] bwoodsend commented on #4908
I've hacked together something disgusting which shows **a** difference between Python's flushing and PyInstaller's flushing. Essentially I've hijacked `stdout` and `stderr` to write additional information on `write()` and `flush()`.

[code]

The output of which is (on both Windows 8 and 10):
[code]
(Without the `print("hello")` the `FakeSTDOut: ...`s disappear but flushing stays the same.)

So the

[2020-07-31 22:51] avylove commented on #4908
Great work! It's a little different on my system for pyinstaller. Not sure why, but without print I get
[code]
Which is one more flush than you're seeing, but still doesn't match native Python.

I replaced `print("hello")` in your test code with
[code]
And I'm getting this:
[code]

This clearly shows native python is flushing both buffers before atexit is called, but that is not happening under py

[2020-08-01 01:09] Legorooj commented on #5043
What are you trying to do exactly?

[2020-08-01 02:05] Legorooj commented on #5042
Please ask this question on StackOverflow, Reddit, or the Mailing list.

[2020-08-01 02:05] #5042 closed

[2020-08-01 02:10] Legorooj commented on #5021
I'm not sure this is a problem with PyInstaller, though, unfortunately, none of us developers have a Mac, so can't replicate this or investigate this properly. Can you ask about it on StackOverflow or Reddit?

[2020-08-01 02:15] #2202 closed

[2020-08-01 02:16] Legorooj commented on #2211
Does this problem persist with the latest development version of PyInstaller?

[2020-08-01 02:17] Legorooj commented on #2234
@bwoodsend can you check if this has been done already, and if not, submit a PR? This should be an easy change.

@dhyams apologies this issue never got dealt with.

[2020-08-01 02:17] #2235 closed

[2020-08-01 02:19] #2271 closed

[2020-08-01 02:20] #1985 closed

[2020-08-01 02:24] Legorooj commented on #2358
I'm closing this. Please submit a PR if you'd like the Analysis class documenting.

[2020-08-01 02:24] #2358 closed

[2020-08-01 02:26] #2180 closed

[2020-08-01 02:27] Legorooj commented on #2162
Fix for this in progress.

[2020-08-01 02:27] #2162 closed

[2020-08-01 02:30] Legorooj commented on #2272
@coolarm is this still a valid issue? With PyInstaller 4.0.dev?

[2020-08-01 02:31] Legorooj commented on #4976
Stale.

[2020-08-01 02:31] #4976 closed

[2020-08-01 05:59] coolarm commented on #2272
Sorry. I dont manage that package or PyInstaller anymore. I am unable to verify if it is an issue on 4.0dev.

[2020-08-01 07:36] Legorooj commented on #2272
@coolarm ok thanks. I'll close this issue, and we can deal with it if someone else reports it.

[2020-08-01 07:36] #2272 closed

[2020-08-01 07:41] bwoodsend commented on #2234
There's a check for this which first appeared in 2015 which is odd considering this was raised in 2016.

[code]
It's moved around a bit since then but it certainly works currently.
[code]

A non-existent spec file just raises a `FileNotFoundError: [Errno 2] No such file or directory: 'i_dont_exist_either.spec'`.

[2020-08-01 07:58] Legorooj commented on #4979
Hmm the platforms use different variables then. Unapply the diff I sent before, and try replacing `#include "zlib.h` in `pyi_archive.c` with `#include <zlib.h>`. If that doesn't work, try:
[code]

Does compiling that fix the issue? If not, I'm afraid I can't help any more - I don't know how to modify the XLC include path using `waf`.

[2020-08-01 08:01] Legorooj commented on #4718
@bwoodsend you use conda alot - if you could take a look at this when you have time. (Finish the stuff you're working on already)

[2020-08-01 08:14] digilevi2006 commented on #5007
Hi @Legorooj ,

I know you're busy, but I'm just following it up... Hope you had time to look on it. Thanks bro.

[2020-08-01 08:29] bwoodsend commented on #4718
[Groan] Not by choice I promise. But Ok I'll look into it...

[2020-08-01 08:45] Dariusz1989 commented on #5043
When I start the app in noconsole mode I get a pop up window saying that file already exists... I press OK and the app starts. So I want to remove that warning. So far I'm unable to do so...

[2020-08-01 09:07] Legorooj commented on #5043
@Dariusz1989 please post a screenshot of this popup window.

[2020-08-01 09:11] bwoodsend commented on #4718
I think a PR  to shapely is the most sensible option. If it looks for a dll named `libgeos_c.so` when running normally (Conda or otherwise) then it should look for that name when running frozen as the `if conda` check will mislead it when frozen.

I'd probably rewrite the [elif frozen and elif conda](https://github.com/Toblerity/Shapely/blob/master/shapely/geos.py#L72-L79) bit into something like

[2020-08-01 09:58] Dariusz1989 commented on #5043
Pic >
![image](https://user-images.githubusercontent.com/13185728/89099278-f2a39600-d3e5-11ea-8ce2-07f0c8768cd0.png)

[2020-08-01 11:17] Egor-Dei opened #5045 "Compilation for MacOS"
I need to compile two programs on macOS. This requires access to macOS, which I don't have. You are required to unpack the files from the archive https://yadi.sk/d/-nwZzAE-SRnmIw.
[GROUPGAME.zip](https://github.com/pyinstaller/pyinstaller/files/5010282/GROUPGAME.zip)

 There will be files play_game.py and create_full_code.py. The first requires PyGame to be installed. I am not familiar with the po

[2020-08-01 12:50] Legorooj commented on #5045
Sorry, but we can't do this for you. I recommend setting up GitHub actions or azure pipelines to do this.

[2020-08-01 12:50] #5045 closed

[2020-08-01 12:55] dhyams commented on #2234
I think though this is precisely the point (see your post above)...a tool should not display a stack trace in this situation (unhandled exception); it should just come back with a message that says "File not found: xxxx.py".  I wouldn't close this issue, because it still exists.

[2020-08-01 19:28] bwoodsend commented on #2234
Ahh I see what you mean. But I'd argue that `ValueError: script 'E:\notebooks\pyi-issues\4908\i_dont_exist.py' not found` is as self explanatory error message and a non-zero error code is still returned. We could catch it, reword the message, then call `sys.exit(1)` but really what does that achieve (besides heavily diluting our code-base with clutter-some error messages)? Bear in mind that there

[2020-08-01 20:17] bwoodsend commented on #4718
If we were to try to fix it on PyInstaller's side I don't many appealing options.

1. Just rename the file as @djhoese initally suggested. This is possible and I don't think would break other packages that use that dll provided that the dll is marked as a `binaries` for those other packages. At worst I think we may end up with multiple copies of the same file.
2. We could in theory write put the d

[2020-08-01 22:47] Legorooj commented on #2234
@bwoodsend I'll just replace the `ValueError`s and `FileNotFoundError`s with `SystemExit(message)`. No stack trace and it'll take 2 mins.

[2020-08-01 22:55] bwoodsend commented on #5043
@Dariusz1989 Does the file already exist?

[2020-08-01 23:28] Legorooj commented on #5043
Not sure this is a PyInstaller issue. What are your imports @Dariusz1989?

[2020-08-02 04:49] amifunny commented on #5041
@tingweichien It looks like error is due to `gmplot` looking for its custom marker image in the wrong place.
When converting to .exe, pyinstaller bundles the packages in use. So relative path used in source code of gmplot-
`os.path.join(os.path.dirname(__file__), 'markers/%s.png')`
will not work.
Simply use a marker by putting it in the directory same as your `.py` file will resolve the issue. If

[2020-08-02 05:05] Legorooj commented on #5041
@amifunny good try, but you've actually got it completely wrong. If you see the path in the error: `FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\Admin\\AppData\\Local\\Temp\\_MEI366362\\gmplot\\markers/000000.png'` you'll notice it's inside a `_MEIxxxxx` directory. OneFile bundles extract to a location like this, so the `gmplot` source code isn't the issue.

If you create a

[2020-08-02 07:47] amifunny commented on #4883
@Sawada1908 Did you resolved the issue? I think the .icon extension might be the problem I guess. For ICON, .ico is used.

[2020-08-02 08:08] Legorooj commented on #4908
Phew. After messing about for hours in the bootloader I think I might have a fix for this. I'll let you know tomorrow if it worked, and get you to test it.

[2020-08-02 10:27] bwoodsend commented on #5040
It should't make any difference that your running from a spec because when don't PyInstaller just generates the spec then from that spec anyway.

Presumably what is actually happening is PyInstaller thinks your project requires tkinter, it runs `hook-_tkinter.py` to work out what files it needs for tkinter but `hook-_tkinter.py` has a bug in it. If you don't actually use tkinter then you can just

[2020-08-02 10:36] reritom commented on #5021
I haven't contributed to PyInstaller before, so this is the first thing I am looking at. I have tried to replicate this issue on macOS Catalina 10.15.5.

I am finding that using "open" is fine, as @vincentfenet noted. When using "open with" on any file, I would have expected the second argv to the filename that I am attempting to open with (correct me if this assumption is wrong)

If I attempt to

[2020-08-02 11:12] Legorooj commented on #5021
@reritom thank you. Ping me if you need any tips for debugging specific things; I may know a trick which will save you hours of Googling. (PyInstaller has a lot of builtin debugging).

[2020-08-02 11:13] heoga commented on #4964
The network share is a curious aspect.  I created a few quick shares and had difficulty reproducing but admittedly that was on a 1903 Home machine.  I have a few questions for @KLRussell and @kjoyce77

- Are you using the one-file or one-folder bundling methods?
- Are the shares from Windows machines or Linux ones?  i.e. is Samba in play here?
- What exactly is on the network share?  Build locatio

[2020-08-02 13:14] reritom commented on #5021
I believe this assumption is wrong "When using "open with" on any file, I would have expected the second argv to the filename that I am attempting to open with".

My current thought is that the problem is part of the application moreso than PyInstaller. I'll try and create a working example of using "open with".

If you want to look into it yourself in the meantime, look at NSpplication and AppKit

[2020-08-02 14:59] heoga commented on #3914
In Django you can configure the template search directories.  What you probably need to do is tell your spec file to [package](https://pyinstaller.readthedocs.io/en/stable/spec-files.html#using-data-files-from-a-module) the files from the rest_framework module and then add the resulting directory in your package to the [template configuration](https://docs.djangoproject.com/en/3.0/topics/templates

[2020-08-02 15:12] reritom commented on #5021
Basically when opening a file using "open with", it sends an Apple Event to the application. To access this you need to use the AppKit framework. There are python bindings for this which can be installed using the following:
[code]
Then a dummy application could look like this:
[code]
and once installed with PyInstaller, the "open with" fileName is correct.

[2020-08-02 15:50] isdito commented on #5033
hi,

I execute
pyinstaller interface.py

[code]
and  I will go to build folder

[code]
I execute
PyInstaller --onefile interface.py
[code]

and in dist folder de exe file works well.

![image](https://user-images.githubusercontent.com/602151/89126764-9c6b4b80-d4e8-11ea-81aa-b5be499800c7.png)

[2020-08-02 17:58] tamil07 commented on #4979
Please find the results below.

With the changes #include <zlib.h>

[code]

With the Ifdef loop added, the output is below.

[code]

I feel its the dead end!

[2020-08-02 19:03] nathanielkam commented on #1350
@rainydew, @Nutshell1 's solution worked for me and yes use sudo to run it,

I am on
144 INFO: PyInstaller: 3.6
144 INFO: Python: 3.7.6
169 INFO: Platform: Darwin-19.5.0-x86_64-i386-64bit
OSX 10.15.5

[2020-08-02 23:06] Legorooj commented on #4979
Groan. Ok I can't help more except explain that the original diff (the `CPPPATH` one was trying to add an extra include path (`../zlib`). You need to make sure that directory is on the include path when building.

[2020-08-02 23:09] Legorooj commented on #5021
@reritom good work! Can @vincentfenet confirm if this works?

[2020-08-02 23:18] Legorooj commented on #5021
And @reritom could you ping me an email via the email listed on my profile?

[2020-08-03 07:37] Legorooj commented on #4908
The atexit functions get called by https://github.com/pyinstaller/pyinstaller/blob/9ae90f8f2d954213fedb99ab02fe4b6a2129919a/bootloader/src/pyi_pythonlib.c#L693

I've fixed it by manually flushing the buffers on exit. Can you try using Legorooj@6361f9afeeaf0f3309 and seeing if this works? You'll need to recompile the bootloaders.

[2020-08-03 08:25] Dariusz1989 commented on #5043
@bwoodsend yes and no... I don't create the file. Pyinstaller does make it when I open the file each time I start the app. Curious tho that its always the same tmp file tho...

@Not sure this is a PyInstaller issue. What are your imports @Dariusz1989?
Imports? Hmmm what do you mean? I import bunch of files I made for the app & pyside2 & other libraries. I have second app with pyside2 test but it h

[2020-08-03 08:26] Dariusz1989 commented on #5043
@bwoodsend yes and no... I don't create the file. Pyinstaller does make it when I open the file each time I start the app. Curious tho that its always the same tmp file tho...

@Legorooj
Imports? Hmmm what do you mean? I import bunch of files I made for the app & pyside2 & other libraries. I have second app with pyside2 test but it has no errors like this. But its 1 file script. This one is about

[2020-08-03 08:40] Legorooj commented on #5043
@Dariusz1989 I mean which modules do you import with `import ...` and `from ... import ...`.

[2020-08-03 09:12] cqray1990 opened #5047 "pyinstall error"
when packed my code it raise the errors:
 File "/home/wb/.local/lib/python3.6/site-packages/PyInstaller/archive/writers.py", line 266, in tobinary
    flag, ord(typcd), nm + pad))
struct.error: 'i' format requires -2147483648 <= number <= 2147483647

[2020-08-03 10:40] bwoodsend commented on #5047
@cqray1990 Please fill in the issue template so we can have any hope of working out what the problem is. Closing now as an issue without said information is just clutter. Will re-open if/when you do provide those details.

[2020-08-03 10:40] #5047 closed

[2020-08-03 10:42] bwoodsend commented on #5043
@Dariusz1989 In future please don't duplicate issues onto the support forum. We have enough clutter as it is without needless duplicity.

[2020-08-03 10:58] avylove commented on #4908
Works for me! Ran into the long path issue in #4824 at first, but was able to get it to compile.

Thanks for your help on this!

[2020-08-03 12:07] Goutam-Mukherjee opened #5048 ""failed to execute script" problem in the executable"
## I've faced a problem while opening the executable created by pyinstaller

* Output of `pyinstaller --version`: ```3.6```
* Version of Python: 3.7.7
* Platform: Windows 10

I got this problem while converting the .py file into .exe

I tried all the possible ways to fix it. I downloaded this from powershell at first but I tried the github developer version also and that didn't fix the problem. I

[2020-08-03 14:18] kjoyce77 commented on #4964
@heoga In my case here are my answers.
- I have done both one-file and one-folder with the same results
- I am told the shares are NetApp.  My contact did say CIFS was being used but he also gave me the name of a subject-matter expert who might have more details.
- All of the above are on the share
- There are definitely security tools and it is very possible this is not something we are "supposed

[2020-08-03 14:23] bwoodsend commented on #5048
That's just an issue in your code. No point rearranging your environment. Launching your app from `cmd` usually gives you more information than launching from explorer. If it doesn't then you'll have to do it the long way - i.e. add lots of print statements and comment out lines in your code until you're able to find the exact line of code causing the issue. Raise a separate issue only if you've i

[2020-08-03 14:23] #5048 closed

[2020-08-03 14:45] AniruddhaGawali opened #5049 "NOT SUPPORTING pyfiglet"
+++ ONLY TEXT +++ DO NOT POST IMAGES +++

## Description of the issue

## Context information (for bug reports)

* Output of `pyinstaller --version`: ```(paste here)```
* Version of Python: e.g. 3.7
* Platform: e.g GNU/Linux (distribution), Windows (language settings), OS X, conda, FreeBSD
* Did you also try this on another platform? Does it work there?

* try the latest development version, using

[2020-08-03 15:30] bigboy32 commented on #3275
Hello, Is this Issue Still Open?
if Yes Can you tell me what mac os version this is?
i am trying to reproduce it.

[2020-08-03 17:19] snmnima commented on #5032
thank you.

[2020-08-03 19:27] bwoodsend commented on #5049
We can't  (and won't try to) explicitly add support for every package on PyPi. If you want support for a particular package then you must [write the hook](https://pyinstaller.readthedocs.io/en/stable/hooks.html) yourself. If you want that support built into future versions of PyInstaller then you can share your hook with the [user contributed hooks repo](https://github.com/pyinstaller/pyinstaller-

[2020-08-03 19:27] #5049 closed

[2020-08-03 23:24] nbrummel commented on #5040
I'm on Mac,
I installed python with:
brew install python
did not use tcl

[2020-08-03 23:49] nbrummel commented on #5040
I placed the `'tkinter'` in the `excludes=[]` and it worked.  thank.  One more question.  All the errors where the libs are missing above. Do I need to add them to hidden imports?

[2020-08-04 00:39] bwoodsend commented on #5040
@nbrummel You mean this error?
[code]

If you do then no, hidden imports are for python modules, i.e anything it'd make sense to write after `import` in Python. I assume that the tkinter hook lacks a `if not installed("tkinter"): skip this hook` guard. TKinter is generally assumed to be standard lib and therefore always available.

Just as a final check - what happens if you `import tkinter` in Py

[2020-08-04 03:04] cqray1990 opened #5050 "ERROR: gi repository 'GIRepository 2.0' not found. Please make sure libgirepository-gir2.0 resp. lib64girepository-gir2.0 is installed."
when i use python3.6 to pack an program the errors comes as follows:

ERROR: gi repository 'GIRepository 2.0' not found. Please make sure libgirepository-gir2.0 resp. lib64girepository-gir2.0 is installed.

[2020-08-04 03:36] nbrummel commented on #5040
Yes I can import tkinter fine.  I tried in python and ipython.
do you have any advice or a direction to point me in for this error `ERROR: Can not find path /usr/lib/libSystem.B.dylib`

[2020-08-04 03:37] nbrummel commented on #5040
I also tried on python 3.8 as well.  same issue

[2020-08-04 05:48] Goutam-Mukherjee commented on #5048
Respected Sir,

You were right. The issue is in my code. I know this is not your subject
but if you have some time please help me out. Actually it is a simple
program to show a notification. The program is running successfully when
executed as a .py file but pyinstaller cannot make its executable. As per
your suggestion I put some print statements and here comes the amaze. When
"pyinstaller -w -F"

[2020-08-04 07:38] #2234 closed

[2020-08-04 07:46] Legorooj commented on #5007
@digilevi2006 I've been unable to reproduce, and therefore can't offer any more support on this. Maybe try the mailing list or StackOverflow.

[2020-08-04 08:07] digilevi2006 commented on #5007
@Legorooj

Is the script not working bro OR working but not able to reproduce the issue? Thanks for your help

[2020-08-04 08:11] Legorooj commented on #5007
Both at first, but I got your script working - it needed a few minor tweaks. I wasn't able to reproduce the issue.

[2020-08-04 08:15] digilevi2006 commented on #5007
@Legorooj,

Sorry for being persistent but, were you able to compile it and Working without looping to the input OR wasn't able to compile it to exe?

Would you mind to share the one with your tweaks bro? I want to test it on my virtualenv. thanks.

[2020-08-04 08:17] Legorooj commented on #5007
It wasn't looping for me when I compiled it. And sorry but no I can't share my tweaks; I've already cleared the data. I delete any scripts once an issue has been dealt with.

[2020-08-04 08:23] digilevi2006 commented on #5007
So, it might have been your tweaks that made it working properly... There's a problem with my code then. Would you remember the things changed bro?

[2020-08-04 08:24] Legorooj opened #5051 "PyInstaller 4.0 is causing extra-large executables"
This was first reported in #4932. After much confusion, we figured out the problem. However, I managed to replicate with `matplotlib` on Windows (#4932 was Linux-only), which caused a (onefile) executable of 1.02GB in size. When using PyInstaller 3.6, the same script (onefile) is only 27mb, or 60 when onedir.

Safe to say this blocks release 4.0.

This issue **HIGHEST PRIORITY** and takes precende

[2020-08-04 08:25] Legorooj commented on #5007
@digilevi2006, sorry, but no. I actually did all the work on this a couple of days ago but forgot to ping on here.

[2020-08-04 08:30] digilevi2006 commented on #5007
Oh alas.

Anyway, thank you for your help, man.

[2020-08-04 09:30] Dariusz1989 commented on #5043
@Legorooj sys, os, most of pyside2 and about 60 ones I made in the bigger app... do you want me to list all of them? In imports as far as I can print the "generic ones" are > Analysis.datas skipping the custom ones.

[code]

I've now done a fresh windows format, and the app no longer starts after I build it, I just get `pyinstaller failed to execute script pyiboot01_bootstrap` so that's another is

[2020-08-04 09:45] Isquare1 opened #5052 "Removing console (likely) affects APScheduler execution"
I used pyinstaller to bundle my programme and it has worked  great for me, so thanks for the great tool first of all!

So the app I am freezing uses APScheduler to run several events at the same time. All the testing was done with the console activated, for debugging purposes. Now that I got it to work as it should, I removed the console window using -w or --windowed, so it is ready to be distribu

[2020-08-04 10:32] Legorooj commented on #5043
@Dariusz1989 can we have that same output but for `Analysis.binaries`?

[2020-08-04 10:51] xiaopeng-han opened #5053 "cannot import name '_create_cipher'"
Please use the mailing list see <http://www.pyinstaller.org/support.html#mailing-list> for details.

Posts that are not a bug report or a feature/enhancement request will not be addressed on this issue tracker, but closed.
08-04-2020 10:32:29 +0000 WARNING service.py@dce-ctl:123 - Traceback (most recent call last):
  File "flask/app.py", line 1813, in full_dispatch_request
  File "flask/app.py", l

[2020-08-04 11:00] Dariusz1989 commented on #5043
Hey

I think I managed to solve it... "For now" Since I'm using pycharm... and I have multiple projects loaded in 1 "project" as I attached extra project to main one, pycharm runs some sort of "add environments" so they all see each other with easy pathing... and importing. But apaprently that mess up with PyInstaller...

I ended up adding sys.paths.append() envi of root of all the projects and th

[2020-08-04 11:43] unknown989 commented on #5050
which operating system are you using??

[2020-08-04 14:27] vincentfenet commented on #5021
it works but because of the AppHelper.runEventLoop() we can't execute the real code after this: it's stalled in the event loop.

[2020-08-04 14:35] amifunny commented on #5052
@Isquare1 Delighted that you found it useful! Could you check if it does not work for even a small example including APSchedular?

[2020-08-04 15:31] reritom commented on #5021
@vincentfenet  Yes, that is the way the framework works. You will need to execute your code from inside the AppDelegate.application_openFile_(...) function. The event loop is a core part of the application, and all of your application logic will exist inside it.

Maybe like:
[code]

[2020-08-04 15:54] unknown989 commented on #5050
if you're using linux, macOS try to find the library, i did only found v1 i don't know where you can find v2 but it's there somewhere, if you're using windows try to build it from the source, if none of these worked let me know

[2020-08-04 15:58] unknown989 commented on #4963
hey there, pyinstaller only supports pyside 1 not 2

[2020-08-04 16:18] unknown989 commented on #5050
download it manually :
https://distrib-coffee.ipsl.jussieu.fr/pub/linux/Mageia/distrib/cauldron/armv7hl/media/core/release/libgirepository-gir2.0-1.64.1-3.mga8.armv7

if you're using any of .deb distros follow the steps:
- 1 - sudo add-apt-repository universe
- 2 - sudo apt-get update
- 3 - sudo apt-get install alien
- 4 - alien -i packagename.rpm

if you're using any of .rpm distros just do the f

[2020-08-04 20:07] bwoodsend commented on #5048
Quoting the docs:

That's exactly what _windowed_ means - no console to print into. So `print` does nothing, even when run from `cmd`. Generally you should never use this option unless you trust your code to never fail.

[2020-08-04 20:12] bwoodsend commented on #5040
So you do must have tcl installed somewhere. Could you locate it for us?

We can't guess the cause based on out of context single lines of error messages. You'll need to tell us how/where you got that error and what the **whole** message said.

[2020-08-04 20:41] ashkanz77 opened #5055 "Crypto module cause problem to run executable package"
I am using the pyrebase to use Google Firebase but when I make the executable file, it's impossible run.
Exists some problem with the module Crypto. Here is the minimal code

import crypto
import sys
sys.modules['Crypto'] = crypto
import pyrebase
print('Hello')

[2020-08-04 20:41] bwoodsend commented on #5051
@Legorooj I'm not seeing this at all. Using the tip of `PyInstaller/develop` commit 6b3f0efd91e192d7cd038a3e8e7530a9f1808a1c.

I've tried a minimal matplotlib which gives a 76MB bundle or a 32MB onefile:
[code]

And our go-to tkinter example which is 19MB bundle or 8MB onefile.

[code]

This is exactly what I get with `PyInstaller==3.6`.

I'm not sure #4932 is related. In that the code depended on

[2020-08-04 23:05] Legorooj commented on #4897
@lucabianchi91

[2020-08-04 23:28] Legorooj commented on #5043
@Dariusz1989 use the development version and `tinyaes` if you want up to date crypto support.

[2020-08-04 23:31] Legorooj commented on #5051
@bwoodsend with a fresh virtual environment and the following script:
[code]
I'm getting a 20mb OneDir bundle with 4.0, but if I use the same venv with 3.6 I get 15mb.

[2020-08-05 00:01] #5050 closed

[2020-08-05 02:24] lucabianchi91 commented on #4897
This pyinstaller does not get even installed
[code]

[2020-08-05 02:27] vitsensei opened #5056 "pyinstaller failed to find the resource file in library even though it is loaded in setup.py"
Hi,
I tried creating an executable that used [trimesh ](https://github.com/mikedh/trimesh) package.

However, I soon realised that one of the resource file for the package is not loaded in properly even though it is already specified in the [setup.py](https://github.com/mikedh/trimesh/blob/master/setup.py) file.

To recreate this problem, you can simply install the trimesh package and write a two

[2020-08-05 02:41] lucabianchi91 commented on #4897
Does `https://github.com/bwoodsend/pyinstaller-hooks-contrib/archive/master.zip` have to be installed after the dev version?
Because if installed alone, pyinstaller is command not found.
I did so, cleaned spec as requested, but I still get:
[code]

[2020-08-05 05:05] Legorooj commented on #4897
@lucabianchi91 can you post the build log? The latest one with @bwoodsend's changes.

[2020-08-05 05:32] amifunny commented on #5055
@ashkanz77 Can you post the error log? Is it working without conversion to executable?

[2020-08-05 05:50] amifunny commented on #5056
@vitsensei Hi,
See similar issue https://github.com/pyinstaller/pyinstaller-hooks-contrib/issues/20.

`C:\Users\ANHTRA~1\AppData\Local\Temp\_MEI10042\trimesh\resources\units_to_inches.json` is a data file of `trimesh` that hook will include.

Simple code for hook-
[code]

Name this file as `hook-trimesh.py`. Add to a folder `hooks `in your work directory.

Now for conversion to executable use comm

[2020-08-05 06:12] H4T3H4K3RS commented on #2754
Same

Same

[2020-08-05 06:17] Legorooj commented on #4908
@bwoodsend does this work for you?

[2020-08-05 06:23] Legorooj commented on #4908
Fix merged into the development branch in https://github.com/pyinstaller/pyinstaller/commit/d8e4621df273233ca379222e9a9425af0937fb3a.

[2020-08-05 06:23] #4908 closed

[2020-08-05 07:25] bwoodsend commented on #4897
Actually it looks like I've forced pushed sometime between now and when I did this as the changes are gone. Completely forgot we hadn't finished with this one. I'll reproduce them in a new branch. @lucabianchi91 I'll give you the go ahead when I'm ready for you to test them...

[2020-08-05 07:56] bwoodsend commented on #5051
I get 20mb either way. Could you diff the two bundles? I use:

[code]

`diff` is a bash command so you'll probably need to use git bash. Window's analogous `COMP` command is horrible.

[2020-08-05 08:56] vitsensei commented on #5056
Worked like a charm. Thank you @amifunny :).

[2020-08-05 08:56] #5056 closed

[2020-08-05 10:13] vitsensei opened #5057 "Pyinstaller not able to include the dlls in executable even though it is defined in .spec file and executable is created with -F option"
Hi. I would like to create an executable from my script. The idea is to give that executable to my colleagues without giving them all the necessary *.dll.

Here's the setup of my .spec:
[code]
This created an executable that I can put anywhere in my computer and it would still be able to run. However, as soon as I put it in another computer, it failed completely (cannot find dlls).

Here is the co

[2020-08-05 10:31] Sstrap commented on #4740
I posted a workaround here: https://github.com/pytorch/vision/issues/1899#issuecomment-598200938

Hope this will help you !

[2020-08-05 12:07] Legorooj commented on #5051
Damn this has vanished. Maybe it is the matplotlib backends. If I notice this again I'll reopen.

[2020-08-05 12:07] #5051 closed

[2020-08-05 13:42] vitsensei commented on #5057
After digging a bit further, I managed to get this error message when running the executable on another computer:
[code]

[2020-08-05 14:35] rokm opened #5058 "utils.hooks.collect_system_data_files() scans parent of the given path instead of the path itself"
I believe this could also be the cause of #5051 and #4932.

**The symptoms**

Trying to package a simple Gtk program:

[code]

using `pyinstaller program.py --clean` using the current development version.

On linux (Fedora 32, using system-installed python and libraries), the above build command succeeds, but results in the whole `/usr/share` being pulled in.

On Windows (msys2/mingw64 environment

[2020-08-05 16:09] nathanielmanistaatgoogle opened #5059 "importlib_resources: "Unable to find '<...>/site-packages/importlib_resources/version.txt' when adding binary and data files.""
## Description of the issue
With `Pyinstaller` 3.6, attempting to build an executable that contains `import importlib_resources` fails with `Unable to find '<...>/site-packages/importlib_resources/version.txt' when adding binary and data files.`. **WITH `pyinstaller 4.0.dev0` I AM NOT ABLE TO REPRODUCE THE ISSUE.**

## Context information (for bug reports)

* Output of `pyinstaller --version`: ```

[2020-08-05 17:34] sean85914 opened #5060 "Interact after running script"
Hi, I have successfully used PyInstaller to build my console .exe file,
but the console just closed after the script was run.

I wonder if it is possible that the console can interact with the user,
i.e., execute XXX.exe as the command `> python -i XXX.py` in a Python-installed device,
after the script was run?

[2020-08-05 17:40] nbrummel commented on #5040
So believe I have figured out the problem.  I just installed the Mac osx beta 4 and have found out that apple moved some .dylib . Also, the Xcode has changed and that has turned out to mess up with PyInstaller.  Do you have a build for the new osx/Xcode?

[2020-08-05 23:14] vitsensei opened #5061 "Current head development is not compatible with pyqtgraph"
**OS**: Windows 10
**Python version**: 3.7.5
**Pyinstaller version**: current head
Minimal .py file:
[code]
Custom .spec file:
[code]
Error output:

[code]

Observation: I don't encounter this error in the previous version of pyinstaller (the one on PyPI). When upgrading into this version, I encounter the ImportError: cannot import name 'opengl_arrays_modules' from 'PyInstaller.utils.hooks' and th

[2020-08-05 23:14] vitsensei commented on #5057
Closed because bad bug report.

[2020-08-05 23:14] #5057 closed

[2020-08-06 01:52] Legorooj commented on #5061
I'm transferring this to hooks-contrib. Could @bwoodsend take a look at this?

[2020-08-06 01:55] Legorooj commented on #5058
Ahah! It looks like you've tracked down the issue. I'll look at this in more detail when I have some time in the next few days. Thanks for figuring this out!

[2020-08-06 01:55] Legorooj commented on #5059
Please use the development version; this bug has been fixed there.

[2020-08-06 01:55] #5059 closed

[2020-08-06 01:57] Legorooj commented on #5060
@sean85914 could you clarify exactly what you mean by "interact with the user"? And you say the console just closes - is your script working or is it an error?

[2020-08-06 08:25] #1961 closed

[2020-08-06 08:26] #2535 closed

[2020-08-06 08:27] #2802 closed

[2020-08-06 10:47] Legorooj commented on #5052
@Isquare1 does using https://github.com/pyinstaller/pyinstaller-hooks-contrib/commit/286affd832cc8c781db2e5f6ba235e4de6291535 fix the issue?

[2020-08-06 10:51] Legorooj commented on #4682
Right this needs discussing. I think we should adopt the following rules:

* (For those of us who can; you need write access to do this) Lock issues when they're fully resolved. This stops people from commenting on old issues with "I have this problem still" and encourages them to open new ones, which is easier to deal with.

* Close "help me" style issues ASAP - just verify they aren't bugs first

[2020-08-06 11:07] #5009 closed

[2020-08-06 11:16] bwoodsend commented on #5040
@amifunny and/or @reritom Fancy having a stab at this one? Long story short - the tkinter hook needs to updated to track wherever the tcl dylibs have been moved to.

@nbrummel You're going to have to clarify your last comment. What does Xcode have to do with it? Unless you're using a Python shipped inside of Xcode it should be irrelevant.

[2020-08-06 15:11] nbrummel commented on #5040
I am on the new Mac OSX beta 4. Sorry for the confusion. Apple moved the libs for the new OSX Big Sur.

[2020-08-06 20:16] arosiclair opened #5062 "Mac: generated executable throws "Error loading Python lib" for any program"
## Description of the issue
The generated Mac executable for any program even a basic basic "Hello, World" script does not execute correctly. Using --onedir, --onefile, and --noupx does not remedy this issue.

## Context information (for bug reports)

* Output of `pyinstaller --version`: **```PyInstaller: 4.0.dev0``` (same issue in 3.6 release)**
* Version of Python: **3.7.7**
* Platform:  **OS X

[2020-08-06 21:14] bwoodsend commented on #4682
Well, here are my thoughts (using the same enumerations as above):

1. > Lock issues when they're fully resolved.

Is this really necessary? I'd like to know if a fix we made didn't solve the problem. Also feels kinda rude...

3. > If an issue doesn't provide the correct information, ask for it.

To be honest I think this is already far too lenient- I feel I'm still wasting a huge amount of time d

[2020-08-06 22:50] Legorooj commented on #4682
I'll enumerate in response to your thoughts:

1. I still think we should lock them and ask people to reference issues. See https://github.com/angular/angular/blob/master/docs/GITHUB_PROCESS.md for a good explanation of why.

3. Yeah, @bwoodsend's ideas work for that. I really ought to use GitHub's saved replies feature more often.

4. Yes, I think we should try migrating issues to contrib first. F

[2020-08-06 23:02] Legorooj commented on #5062
@reritom @amifunny can you take a look at this?

[2020-08-06 23:56] ashkanz77 commented on #5055
Yes, it is working without conversion to executable. I installed the gcloud, but I get the following error when running the executable file:
pkg_resources.DistributionNotFound: The 'gcloud' distribution was not found and is required by the application

[2020-08-07 02:03] abizinoto commented on #4644
Having the asbe issue here

[2020-08-07 05:40] bwoodsend commented on #4682
@Legorooj Yeah, the ones I skipped (2, 4, 5) I agree with.

[2020-08-07 06:55] reritom commented on #5062
@Legorooj I can have a look over the coming days

[2020-08-07 07:11] amifunny commented on #5055
Similar to https://github.com/googleapis/google-cloud-python/issues/4780. This comment will help - https://github.com/googleapis/google-cloud-python/issues/4780#issuecomment-484468542.

Do consider submitting a PR to help others.

[2020-08-07 07:43] bwoodsend commented on #1717
Closing as we no longer support django1.x. If this issue persists in django2.x then raise a new issue.

[2020-08-07 07:43] #1717 closed

[2020-08-07 07:44] bwoodsend commented on #2181
Closing as we no longer support django1.x. If this issue persists in django2.x then raise a new issue.

[2020-08-07 07:44] #2181 closed

[2020-08-07 08:22] Legorooj commented on #5058
@rokm does Legorooj/pyinstaller@4af297efb65ee0cbb fix this?

[2020-08-07 08:28] Legorooj commented on #5053
@xiaopeng-han what package manager are you using? - `pip`, `conda`, etc. Also, please post the build log.

[2020-08-07 09:03] rokm commented on #5058
Yes, removing the `dirname()` fixes the issue.

But I'm not entirely sure why it was added in the first place, and whether its removal reintroduces the issue that 5d6715a fixed...

[2020-08-07 09:49] rod-hendricks commented on #2714
I have been trying for a while and I can't seem to get the .ico file to work on Ubuntu 18.04. I have no issues with it when using it for Windows 10. Is there something special i need to do in ubuntu to have this working well for me?

[2020-08-07 10:27] nirousseau commented on #4674
I am also facing this issue with **PyInstaller 3.6** with onedir bundling and symlinks. As mentioned by @arielvb , downgrading to **PyInstaller 3.5** did the trick.

[2020-08-07 10:38] Isquare1 commented on #5052
Hi, apologies, I only just got back on this project. I included the the hook @Legorooj suggested but it still does not perform scheduled tasks (although this time the initially calculated scheduled time is correct, so it did help with one aspect).
I implemented a logger to see what is going on, and here is the traceback :

[code]

So this seems to be more of an issue with the patool library I use

[2020-08-07 12:15] Legorooj commented on #5058
@rokm I'll merge my commit in; if it causes a recurrence I'll dive into the problem more deeply.

[2020-08-07 12:16] Legorooj commented on #4674
@bwoodsend can you `git bisect` to figure this one out?

[2020-08-07 12:22] Legorooj commented on #5052
@Isquare1 patoolib doesn't work with PyInstaller  - and it can't be fixed by hooks of any kind. I suggest you use another library. So seeing as the hooks fixed the APScheduler issue, I'm going to close this.

[2020-08-07 12:22] #5052 closed

[2020-08-07 12:39] Isquare1 commented on #5052
It works fine with the console, I found a hook online which made it work very well :)

[2020-08-07 13:21] timurkanaz opened #5063 "WinError87 while running .EXE file"
Hello everyone! Maybe it is an offtop but I am a bit puzzled.. Just generated exe file for my GUI python program for working with some geospatial data and use folium,geopandas,shapely etc. However, while running an error occured:

[code]
The line 9 in main.py is "import geopandas as gpd"
Geopandas imports fiona and error occurs, as I understand this error message.

What is the reason?Are there any

[2020-08-07 13:35] bwoodsend commented on #4897
Ughh. I'm talking nonsense. The changes are still online - I just cleared them locally. I had to add a `-U` to the `pip3 install https://github.com/bwoodsend/pyinstaller-hooks-contrib/archive/master.zip` or it ignores it.

My `Dockerfile` (which is working for me) currently is:

[code]

[2020-08-07 13:59] amifunny commented on #4682
Yes, definitely. Most of the projects are doing this.

A welcoming reply and reminder to post error log and searching on StackOverflow will be great. Most people, including me, select and remove the comments in issue template and just start typing. A gentle reminder and Link to Frequently Asked Question will be helpful.

Agreed, a proper link and procedure should be given to create a hook and enco

[2020-08-07 14:28] bwoodsend commented on #4674
Git bisect says be948cf0954707671aa499da17b10c86b6fa5e5c which is `rebuild bootloader` so it must be one of the bootloader commits before then. I'll retry but recompiling the bootloader each time.

From playing with the error myself I'm pretty certain that @xaviergmail is correct.

[2020-08-07 15:16] bwoodsend commented on #4674
I can confirm that ebcd49cc387cc599bf003a2b9d91e2643a5a65be is the breaking commit (as xavier predicted).

[2020-08-07 16:28] phirst commented on #5018
Command used to Build:  `PyInstaller -F --clean myscript.spec`
Just this App or Others:  All that I've tried (3 or 4)

Here's the .spec file:
[code]

I've also rolled back to PyInstaller `3.6` without any difference.

[2020-08-07 17:33] bwoodsend commented on #5018
Hmm, something has as moved. Can you run the following and paste the output back here?
[code]

[2020-08-07 17:44] phirst commented on #5018
[code]

[2020-08-07 18:42] bwoodsend commented on #5018
Could you inject a print statement into your source code.
At the top of the `_find_prefix()` function in `/Users/my.user.account/.pyenv/versions/3.7.6/envs/buildpy/lib/python3.7/site-packages/PyInstaller/utils/hooks/__init__.py` put `print("filename =", filename)`. Then re-run the build.

[2020-08-07 19:17] phirst commented on #5018
[code]

[2020-08-07 19:36] phirst commented on #5018
The plot thickens...

I switched to a different virtual environment and tried rebuilding.  I also added the print statement.  The different environment (created pre-OS upgrade) worked just fine.  Here's the output of the print statement:
[code]

[2020-08-07 20:57] bwoodsend commented on #5018
Ok well I'll start with the environment that doesn't work. When PyInstaller tries to work out where to put `pyconfig.h` it wants to find its location
[code]
relative to either of
[code]
But neither of them are strict base paths, so the list of possible candidates `possible_prefixes` is empty - giving us the `IndexError`.

[2020-08-07 21:00] bwoodsend commented on #5018
For the pre OS upgrade env could you rerun [those print tests](https://github.com/pyinstaller/pyinstaller/issues/5018#issuecomment-670628149) from above?

[2020-08-07 21:06] phirst commented on #5018
[code]

[2020-08-07 21:36] bwoodsend commented on #5018
Hmm that appears to contradict what originally thought a couple of messages up. Could you also run in the env that works:
[code]

[2020-08-07 21:49] Legorooj commented on #5052
Hang on there's two patoolib's now... How are you installing it?

[2020-08-07 21:53] Legorooj commented on #4682
@amifunny on the last point, I actually have a half finished comprehensive tutorial on writing hooks. I'll finish it up and publish my website.

@bjones1 thoughts?

[2020-08-07 21:53] phirst commented on #5018
[code]

[2020-08-07 22:41] Legorooj commented on #5063
@vitsensei if you can take a look at this?

[2020-08-07 23:01] vitsensei commented on #5063
@timurkanaz Can you provide a minimal example where the same behavior is present?

[2020-08-07 23:46] bjones1 commented on #4682
I agree on locking issues. Have a set of templates (supply requested details, needs hook, retarget to hooks) would make life good.

I **fully** agree on Conda. Their flavor is so different, we shouldn't try to support it.

I think the most important thing we can do is move hooks to packages, and have ways to let us+those package maintainers collaborate on keeping hooks working. There will always b

[2020-08-08 03:22] #4932 closed

[2020-08-08 03:46] Legorooj commented on #4682
Right then. We'll start:

* Locking issues when they're fully resolved

* Closing "help me" issues after verification they aren't bugs first.

* Closing issues which don't provide the correct information with a note "we'll reopen when we have the correct information".

* Giving up easily on conda issues

* Moving hook requests to contrib

@bjones1 we're in the process of moving hooks already - wel

[2020-08-08 05:12] Legorooj commented on #5058
Damn. CI isn't working (grr). Had to yank that commit.

[2020-08-08 07:38] vitsensei commented on #5063
@timurkanaz I just take a brief look at the geopandas package and I can see that there is some differences between the Windows version and the Linux/Mac version.

[code]

Are you using unofficial wheels for these dependencies? If yes, what is your Python version?

[2020-08-08 07:48] timurkanaz commented on #5063
@vitsensei , Good day, thanks for response . I could not install geopandas with the help of pip or conda so I have downloaded all wheels from Christoph Gohlke website (https://www.lfd.uci.edu/~gohlke/pythonlibs)  and installed them . The interesting moment is when I use geopandas in Jupyter , for example, everything is ok, but when I make exe with pyinstaller, an error occurs . Yes, I have found w

[2020-08-08 08:06] vitsensei commented on #5063
@timurkanaz It seems like the fiona package is causing a bit of problem here.
From these lines:
[code]
my guess is fiona trying to load some dlls here. In specific, the GDAL dll. Now, here is the sad new from Fiona's Github page:

`Note: The GDAL DLL (gdal111.dll or similar) and gdal-data directory need to be in your Windows PATH otherwise Fiona will fail to work.`

If I understand correctly, Fion

[2020-08-08 08:17] timurkanaz commented on #5063
@vitsensei  Oh,thank you , now everything become clearer and much more interesting :) So , as I understand , the obvious way is to try to add gdal data  to Windows Path ?

On the other hand ,  why I can import geopandas with full functionality in my Jupyter projects without any problems?

[2020-08-08 08:17] Legorooj commented on #5063
@vitsensei try a `collect_all` hook.

[2020-08-08 08:32] cbm755 commented on #4970
Thanks for your help.

I think this was caused by my Centos 7 image missing various X11 and libxcb dependencies...

I played with `ldd` inside the Docker image after installing PyQt5 via pip.  That bundles Qt as well (I think) but the `site-packages/PyQt5/Qt/plugins/platforms/libqxcb.so` file was missing many `.so`  dependencies:
[code]

What then worked for me [1] using Gitlab CI was something li

[2020-08-08 10:12] vitsensei commented on #5063
Ok, I will document my process as much as I can (TLDR at the end).
Initially, I thought that the problem lies with Fiona. I downloaded the (unofficial) GDAL and Fiona library (Fiona requires CDAL to work). I tried a simple script:
[code]
After a few trial and error, I managed to get all the hidden import and put it into my .spec file:
[code]
Ok, it works, while I'm expecting it to not work. So I t

[2020-08-08 10:14] vitsensei commented on #5063
What I find strange is I still have not managed to solve the warning:
[code]
I have a feeling that this will cause some error if you evoke some function that depends on gdal301.dll. Good luck.

[2020-08-08 10:31] bwoodsend commented on #5018
Grr that makes no sense. [This one](https://github.com/pyinstaller/pyinstaller/issues/5018#issuecomment-670679744) and [this one](https://github.com/pyinstaller/pyinstaller/issues/5018#issuecomment-670727470) now contradict each other. I don't understand why that function would work during a PyInstaller build but not in the console.

[2020-08-08 10:33] bwoodsend commented on #5018
I notice in #1545 that the `pyconfig.h` might not actually be needed in the 1st place. In which case we might as well just scrap it rather than try to fix this. I'll look into it.

[2020-08-08 10:36] bwoodsend commented on #5018
Another question: Where does `sys.executable` point to in your environments?

[2020-08-08 11:05] bwoodsend commented on #5060
@sean85914 You can always just slap the following into your code:

[code]

This will switch to interactive mode with all your variables from your code still defined.

You can wrap it in with a `if "-i" in sys.argv: ...`  if you want to mimic the `python -i` behaviour.

[2020-08-08 11:13] timurkanaz commented on #5063
@vitsensei  Wow! Thank you! Now line with geopandas library import is successfully overcome ! However, another problem appeared :

[code]

As I understand , It is a problem with **branca** library which I import too. It's built over **jinja2** library. So,to overcome this problem I need to make a hook for branca?  I'm really sorry to bother you

[2020-08-08 11:28] sarthak260 commented on #4034
![image](https://user-images.githubusercontent.com/34007828/89708824-29eee580-d998-11ea-8147-d6b7b7f5233d.png)

i am still facing this issue after adding the --debug=all flag to command line pyinstaller

Can pls anyone help me out in any way?

[2020-08-08 12:19] vitsensei commented on #5063
@timurkanaz we need people to bother us so we can make the project better!
If I were you, I probably start small. Just create a script that only import branca and then create a hook for that. See how that goes.
It would help you to create a (test) exe much faster => less frustrating. I'm less familiar with branca package so you might have better luck tackle this than I am.

[2020-08-08 12:20] Legorooj commented on #5063
@timurkanaz also, if you could submit any hooks you do write to our hooks-contrib repository, that would be helpful.

[2020-08-08 14:12] reritom commented on #5062
From my first look, I haven't managed to recreate your problem so far.
Some differences are:
- I'm on Darwin-19.5, while you are Darwin-18.7
- distutils: retargeting to non-venv dir "..." target different sources.
[code]
I will continue to look into it.

[2020-08-08 14:17] timurkanaz commented on #5063
I have found similiar issue , however, no compromise was not find
https://github.com/pyinstaller/pyinstaller/issues/1898

[2020-08-08 14:26] Dariusz1989 opened #5066 "Adding icon or version causes pyside2 app to crash on start"
Hey

This is fairly interesting... I'm using spec with >

[code]

When ever I add either icon or version when I try to start the app windows just give me
`A referral was returned from the server.`
Nothing more is being said. I can see correct icon in explorer and corect details when I get file details. But the app will not start any more.

Win 10x64
Python 3.7x
PyInstaller 3.6
PySide2 + lots of ot

[2020-08-08 15:15] reritom commented on #5062
This might be a code signing related issue https://stackoverflow.com/questions/42133980/ios-code-signature-invalid-required-code-signature-missing

[2020-08-08 15:48] bwoodsend commented on #4674
@Legorooj Can I get your thoughts on this?

It looks like fixing this would involve reverting [Bootloader: Ensure that symlinks to binaries do not get resolved. #3829 ](https://github.com/pyinstaller/pyinstaller/pull/3829). Unless we could somehow use both resolved and unresolved paths? I.e resolve the path to work out where `libpython3...` is but keep the original for everything else.

To be hone

[2020-08-08 15:50] bwoodsend commented on #4718
Closing this now as I feel we've answered the original question. The fix would be far more appropriate applied to shapely than to PyInstaller.

[2020-08-08 15:50] #4718 closed

[2020-08-08 15:56] bwoodsend commented on #5066
We can't do anything without a minimal working example to reproduce the error. There could be no end of possible problems.

Try writing the smallest program you can which has this issue. Chances are you'll work it out for yourself just doing that.

We'll happily reopen this when you provide that minimal program.

[2020-08-08 15:56] #5066 closed

[2020-08-08 15:56] #5038 closed

[2020-08-08 16:23] bwoodsend commented on #5003
Closing due to lack of response from the original author. Will re-open if you
(or anyone else who has this issue) gets back to us by commenting below.

[2020-08-08 16:23] #5003 closed

[2020-08-08 16:28] bwoodsend commented on #4978
Closing due to lack of response from the original author. Will re-open if you
(or anyone else who has this issue) gets back to us by commenting below.

[2020-08-08 16:28] bwoodsend commented on #4974
Closing due to lack of response from the original author. Will re-open if you
(or anyone else who has this issue) gets back to us by commenting below.

[2020-08-08 16:28] #4978 closed

[2020-08-08 16:28] #4974 closed

[2020-08-08 16:29] #4896 closed

[2020-08-08 16:33] bwoodsend commented on #4828
@Legorooj Is this fixed and forgot to close or still on the todo list?

[2020-08-08 17:35] timurkanaz commented on #1898
Hello, excuse me , but can you explain in what files I should replace . I have the same problem while importing branca and folium libraries .....
Thanks for response!

[2020-08-08 18:10] CODAIR2 commented on #2056
How does this work again? Anyone?

[2020-08-08 19:47] kostyanoob opened #5067 "Script filename "App.py" cannot be processed by pyinstaller if a package named "App" resides in the same directory"
**Bug description:**
When your main script is called App.py, and there is a package directory called App, and you apply pyinstaller on App.py, the resulting EXE doesn't run.

**My system:**
Windows 10-64bit, Python 3.8.2, pyinstaller 4.0dev

**The minimal example to reproduce the bug:**
1) **[Edited this item]** Create file named _App.py_ with a single line in it, and create a directory _App_ with

[2020-08-08 19:57] rokm commented on #5058
I took a look at the `test_Qt5_QTranslate` that's failing on the AppVeyor.

The problem is that after the fix, the `qt.conf` file ends up in the `distroot`, and translations are therefore looked for in `distroot\translations` instead of `distroot\PySide2\translations`. Prior to the fix, the  `qt.conf` is correctly placed into `distroot\PySide2` and translations are therefore correctly looked for i

[2020-08-08 20:37] rokm commented on #5058
As a side note, without 4eba630 applied, if both PySide2 and PyQt5 are installed (e.g., on the CI), the `qt.conf` files from both are pulled into distribution directory ('`.\PyQt5\Qt\bin\qt.conf'` and `'.\PySide2\qt.conf'`) when packaging a PySide2 application. The file from PyQt5 has no effect, except for possible confusion...

[2020-08-08 20:44] xaviergmail commented on #4674
I personally use a private npm registry for lack of a better alternative (even though none of these packages actually use javascript) to install packages on certain machines. My use case for PyInstaller is to avoid the headache of having to maintain a second private package registry for my Python tools and to guarantee the same python environment at runtime. My tools are built with CI into a `dist

[2020-08-08 22:54] Legorooj commented on #4828
@bwoodsend it appears the author never retargeted #4803. Could you do this? I'd ask one of the newbies but this one is a more complex hook.

[2020-08-08 23:00] Legorooj commented on #5063
Sigh. That issue. See #4881. Long story short `branca` won't work with PyInstaller until I tackle that. Either of you can have a go, but it's a major issue. It also won't make it to the 4.0 release - though I'm going to speed up the release schedule after that.

[2020-08-09 06:11] Legorooj commented on #4674
I'll take a look at this more thoroughly in a few days. Chances are I'll just monkey-patch the old behaviour for `libpython`.

[2020-08-09 06:25] #5015 closed

[2020-08-09 06:56] amifunny commented on #5067
@kostyanoob I don't think, `.py` filename should be a problem. I have checked `dev version` on my system with slightly different specs but everything is fine. Can you check in an editor if the content of `App.py ` is what you think it is?

[2020-08-09 09:09] Isquare1 commented on #5052
@Legorooj I just use pip install patool (if this is what you meant). I can try to find a link to the hook I am using, or I can post it directly here?
Btw, has no one else encountered  **OSError: [WinError 6] The handle is invalid**  when calling a subprocess, while trying to run pyinstaller .exe without a console?
The suggestion I've read online, to pass stdin as devnull does not work for me :(

[2020-08-09 10:27] Legorooj commented on #5058
I need to take a deeper look at this - give me a few days.

[2020-08-09 11:19] htgoebel opened #5069 "Building docs yields "WARNING: unknown option: --additional-hooks-dir""
This seem to be caused by Shinx wanting to create a cross-reference to command-line-options, while we do not provide respective targets. See https://github.com/sphinx-doc/sphinx/issues/6221 and https://www.sphinx-doc.org/en/master/usage/restructuredtext/domains.html#directive-program.

Solution is to enhance `doc/help2rst.py` to augment the output. Maybe this can be done by monkey-patching PyInsta

[2020-08-09 11:23] bwoodsend commented on #5067
Likewise - I'm unable to reproduce on Windows 8.

[2020-08-09 11:30] bwoodsend commented on #5067
Clutching at straws here but can you check for anything that may also be named _App_?
To check in `PATH` Use:
[code]
And to check for Python modules:
[code]
And check if `import App` raises an `ModuleNotFound` error.

[2020-08-09 11:33] Legorooj commented on #5035
@alexchandel pinging

[2020-08-09 11:34] Legorooj commented on #5035
This is a problem with `pip`, not PyInstaller.

[2020-08-09 11:34] #5035 closed

[2020-08-09 12:25] htgoebel opened #5070 "Add check for correct names of new-fragments"
While releasing the last version, I was hindered by some news-fragments having the wrong filename. While this is not much of an issue, it  costs yet another few minutes to solve. But for a possible (half-)automated release pipeline, this would make some entries vanish from the change log.

The check could be part of the linting step.

Valid names are in <https://github.com/pyinstaller/pyinstaller/

[2020-08-09 18:02] kostyanoob commented on #5067
Hi fellows, thank you for the responsiveness. Indeed there was one more detail I omitted, which is the existence of the _App_ directory with a _\_\_init\_\_.py_ in it which makes _App_ a package. In the step-by-step reproduction instructions, I now updated "step 1", and I verified again that this reproduces the issue.

I didn't receive any ambiguity warnings about this issue, just an executable th

[2020-08-09 19:28] bwoodsend commented on #5067
Ahh in that case this is indeed a bug but it's a duplicate of #4771 (which still needs fixing). Thanks for reporting it anyway.

[2020-08-09 19:28] #5067 closed

[2020-08-09 21:03] chenrui333 opened #5072 "PyInstaller website appears to be down"
![image](https://user-images.githubusercontent.com/1580956/89741803-5f600580-da62-11ea-9882-231947ed83f5.png)

[code]

[2020-08-09 22:24] Legorooj commented on #5072
Thanks for reporting this - I've raised and issue with GitHub support. We haven't changed anything on the repo and it's saying it's working fine from the repository settings.

[2020-08-09 22:26] Legorooj commented on #5070
@bwoodsend stick this in another new action instead of linting. It's neater.

[2020-08-09 22:30] Legorooj commented on #5072
Oops it appears someone accidentally changed a setting. It was serving from the wrong branch. Fixed now.

Thanks for reporting this.

[2020-08-09 22:30] #5072 closed

[2020-08-09 23:23] Legorooj commented on #5063
Seeing as the original issue raised here has been fixed, I'm going to close this. The pkg_resources upgrade is already planned.

[2020-08-09 23:23] #5063 closed

[2020-08-09 23:32] Legorooj commented on #5002
@vitsensei can you take a look at this?

[2020-08-10 00:26] Legorooj commented on #5033
@isdito can you please run `pip install -U PyInstaller`. Does the issue persist or is it fixed?

[2020-08-10 00:45] isdito commented on #5033
Hello, @Legorooj  nop the erro persist.

I compile all with pyinstaller --onfile <name>   -->> this works

[2020-08-10 01:23] Legorooj commented on #5033
@isdito please ask this on StackOverflow or Reddit; we can't help any more.

[2020-08-10 01:23] #5033 closed

[2020-08-10 01:25] Legorooj commented on #5021
Closing as resolved.

[2020-08-10 01:25] #5021 closed

[2020-08-10 01:26] Legorooj commented on #5055
Closing - this issue has nothing to do with the `Crypto` module, and to fix the pyrebase error you need to write a hook. @amifunny has linked to the resources you need.

[2020-08-10 01:26] #5055 closed

[2020-08-10 01:27] Legorooj commented on #5022
Stale

[2020-08-10 01:27] #5022 closed

[2020-08-10 01:27] Legorooj commented on #5036
Stale

[2020-08-10 01:27] #5036 closed

[2020-08-10 01:28] Legorooj commented on #5032
@snmnima is your executable working now?

[2020-08-10 01:30] Legorooj commented on #4983
How are you including the binaries? Hooks or the command line option?

[2020-08-10 01:31] Legorooj commented on #5053
Please ask on StackOverflow or another forum - we can't help with this.

[2020-08-10 01:31] #5053 closed

[2020-08-10 01:47] Legorooj commented on #4972
Whoops sorry misclick.

@maltfield can you try the latest 4.0 version? Are the results any different?

[2020-08-10 04:19] chenrui333 commented on #5072
np, thanks for the fix.

[2020-08-10 10:14] privateOmega commented on #4732
@Legorooj I am facing the issue in Python 3.6.9, I went through related issues and PRs and seems like a py2 cleanup PR was merged, but any reason why this could still be occuring?

[2020-08-10 11:03] alanscandrett commented on #576
That would entail copying the ArcPy libs in whole or partially, in either case that breaks the ArcPy EULA and is not advisable.

[2020-08-10 11:10] Legorooj commented on #4732
@privateOmega try running the latest version - 4.0 was released yesterday. I can't find a `hook-pydoc` in our codebase so can't fix it.

[2020-08-10 11:29] privateOmega commented on #4732
@Legorooj Seems like I am already on it,

[2020-08-10 12:36] RS357 commented on #4537
Hi, could you please assign this bug to me?

[2020-08-10 13:34] kgreenspan commented on #4265
Thanks to shuax.  This issue has been dogging me for a few days.  Your suggestion fixed my issue!

[2020-08-10 14:13] phirst commented on #5018
Working : `/Users/my.user.name/.pyenv/versions/3.7.6/envs/mainpy/bin/python3`
Non-Working : `/Users/my.user.name/.pyenv/versions/3.7.6/envs/buildpy/bin/python3`

[2020-08-10 14:19] #4443 closed

[2020-08-10 14:32] bwoodsend commented on #4433
You can't do this from shell but you can using the spec file:

Inject something like the following between the a = Analysis(...) and the pyz = PYZ(...):

[code]
And then use `PyInstaller test.spec` instead of `PyInstaller test.py`. It isn't pretty put it gives you total flexibility.

[2020-08-10 14:38] bwoodsend commented on #4428
If you desperately want support for this then you'll have to do it yourself. I don't think any of us feel like trying to support it. Dynamically generate C code sounds like completely the wrong solution (irregardless of whatever the problem is). `ctypes`, `cython` and hand-written `pyd` extension modules are either seamless or near-seamless and don't require the end user to have gcc set up. I sugg

[2020-08-10 14:38] #4428 closed

[2020-08-10 14:47] bwoodsend commented on #4571
No.

[2020-08-10 14:47] #4571 closed

[2020-08-10 16:01] gitfourteen commented on #4553
### Warning Issue addressed. Here is what I did.

1. install an upgraded `Python 3.8.0` with **Pyenv**

2. `pipenv install` a virtualenv, `pipenv, version 2020.6.2`

[code]

### Note
* Though virtualenv is `3.8.0`, the log info is NOT.
[code]
* We found one more line `pyinstaller-hooks-contrib` when `pipenv graph`
* `app` still could not work,  double click and exit immediately.

Anyway, I would l

[2020-08-10 16:01] #4553 closed

[2020-08-10 16:08] LUFC999 commented on #4751
I had this problem that has stumped me for weeks for a model using Spacy and converting into .exe using PyInstaller. I kept getting the error OS could not find en_core_web_sm. After trying everything that I could find anywhere on the internet, nothing worked until I tried the above.  Thanks for the above help!

I amended the file util.py (in my spacy folder (under ....site-packages) and added a co

[2020-08-10 16:27] bjones1 commented on #4970
Nice job tracking this down. I don't know of any easy way for PyInstaller to help with this -- while it does look for missing binary dependencies, reporting all these would probably overwhelm most users with noise.

Sigh. Qt can be so painful, especially when each distro packages things differently.

[2020-08-10 17:16] cbm755 commented on #4970
This seems insane in retrospect, but I didn't even know I had to do anything other than `pip install pyqt5`...

I wonder if https://github.com/pyinstaller/pyinstaller/wiki/If-Things-Go-Wrong should say something like "*You* must ensure you've installed all dependencies for your applications: detecting or fixing this for you is out-of-scope for Pyinstaller.  Reminder: `pip` is not a package manager

[2020-08-10 17:28] bjones1 commented on #4970
In a perfect world, that would do it... Sigh.

Yes, please edit away! I'd also suggest a link to this issue, since your debug info is quite helpful.

Hmm, looking at the [code](https://github.com/pyinstaller/pyinstaller/blob/develop/PyInstaller/depend/bindepend.py#L609), I'd actually expect it to generate these warnings. Perhaps the log level wasn't high enough?

[2020-08-10 19:57] aglavic opened #5075 "can't build with matplotlib"
I'm trying to get a program with embedded matplotlib graphs to build as .exe on windows 10 and no matter what I try the final program always crashes without error when run independently. I am building using an anaconda environment and when I start the .exe from that environment it does not crash.

I find the same behavior for the embedded examples of wxagg and qtagg, but this is the minimal exampl

[2020-08-10 20:00] bluebird75 commented on #4433
That's exactly what I did for my project. Thanks for the suggestion.

[2020-08-10 20:20] joltman61 opened #5076 "Wxpython application with Matplotlib crashes when run as .exe. Missing libiomp5md.dll in dist folder."
I have a rather large python application based on a conda virtual environment.  I recently did a conda update all and ran into an issue where when I ran the application from the otherwise successfully created .exe, the application would crash when trying to create any Matplotlib plot.  The generation of these plots are requested by the user from a WxPython GUI.  Whenever a user tried to create a p

[2020-08-10 21:51] bwoodsend commented on #5018
What about `sys.real_prefix` and `sys.base_prefix`? Chances are only one of them exists.

[2020-08-10 22:01] phirst commented on #5018
`sys.real_prefix`
Working: `AttributeError: module 'sys' has no attribute 'real_prefix'`
Not-Working: `AttributeError: module 'sys' has no attribute 'real_prefix'`

`sys.base_prefix`
Working: `/Users/my.user.name/.pyenv/versions/3.7.6/Python.framework/Versions/3.7`
Not-Working: `/Users/my.user.name/.pyenv/versions/3.7.6/Python.framework/Versions/3.7`

[2020-08-10 23:28] Legorooj commented on #4732
Huh. Please open an issue on pyinstaller-hooks-contrib with your build log.

[2020-08-10 23:48] Legorooj commented on #4537
@RS357 can you submit a PR?

[2020-08-11 00:24] RS357 commented on #4537
Hi @Legorooj - please see my PR at https://github.com/pyinstaller/pyinstaller/pull/5077

[2020-08-11 00:55] liupx1988 opened #5078 "Error with pyopengl"
## Description of the issue

I run pyinstaller with a py file using opengl, and get **function not found** error.

I checked the commit log and found the opengl_array_modules() function has moved to hook-OpenGL.py which is neither included in the pypi package nor the latest branch.
See: https://github.com/pyinstaller/pyinstaller/commit/c9cbb48b364c80c09f7d91917e10c6dbc3ec3294#diff-81dba651016c0aa9

[2020-08-11 02:07] danyeaw commented on #4996
@LeighKorbel I can reproduce some of the issues you are having when using PyInstaller 4.0.

I'm not sure about all the errors you are getting when you have a computer with Anaconda installed, but this is the error that I am getting consistently with PyInstaller 4.0, that I wasn't getting in 3.6:

[code]
I'm trying to figure out a minimally reproducible program to use, a simple hello world program

[2020-08-11 04:14] liupx1988 opened #5079 "Failed to execute script pyiboot01_bootstrap on a specific machine."
I freeze a simple hello world and run on several machines, but failed on one of them.
The script is packed with follow version of tools:
 * pyinstaller: `3.6` & `4.0` & `4.1.dev.0`
 * Python: 3.8.3 x86
 * Windows: 10.0.19041.388

I try to run the exe on 4 PCs:
 1. Win10 x64 (The one I pack the script)
 2. Win7 6.1.7601 x86 with anaconda(same python version) installed
 3. Win7 6.1.7601 x86 without

[2020-08-11 07:12] privateOmega commented on #4732
@Legorooj PTAL https://github.com/pyinstaller/pyinstaller-hooks-contrib/issues/28

[2020-08-11 09:27] bwoodsend commented on #5076
This is actually an issue with Conda's numpy which currently needs that dll. The catch with that particular dll is that it's quite common and therefore may already be in your `PATH` even if you deactivate your conda environment (I have a copy inside LLVM) so it will give you the illusion that your app works when it doesn't.

The recommended method is to not use Conda and thereby avoid this horrend

[2020-08-11 09:27] #5076 closed

[2020-08-11 09:36] bwoodsend commented on #5075
@aglavic Can we have the runtime traceback? I'm aware that Conda numpy is broken and matplotlib>=3.3 is also causing issues with its data. It could be either of those or something new...

[2020-08-11 10:52] kouml commented on #2367
H, I confirmed the same bug as above.
After I found this thread, @alexisaperez's solution is working.
It should be useful if this is merged in master.

My env is Catalina(10.15.6) and using pyenv-virtualenv.

[2020-08-11 12:57] karimhasebou commented on #5042
@WestbrookZero  Have you been able to find a work around

[2020-08-11 13:39] Rhandall commented on #4265
xception ignored in thread started by: <function check_errors.<locals>.wrapper at 0x7f96f302bd30>
Traceback (most recent call last):
  File "/Users/rhandall/Documents/GitHub/school_new/venv/lib/python3.8/site-packages/django/utils/autoreload.py", line 225, in wrapper
    fn(*args, **kwargs)
  File "/Users/rhandall/Documents/GitHub/school_new/venv/lib/python3.8/site-packages/django/core/management/

[2020-08-11 13:53] LeighKorbel commented on #4996
@danyeaw Great! In the mean time I backtracked the commit on my project that was using PyGObject because of this issue. Let me know if you need anything on my end and I will get back promptly.

[2020-08-11 13:57] Rhandall commented on #4580
xception ignored in thread started by: <function check_errors.<locals>.wrapper at 0x7f96f302bd30>
Traceback (most recent call last):
  File "/Users/rhandall/Documents/GitHub/school_new/venv/lib/python3.8/site-packages/django/utils/autoreload.py", line 225, in wrapper
    fn(*args, **kwargs)
  File "/Users/rhandall/Documents/GitHub/school_new/venv/lib/python3.8/site-packages/django/core/management/

[2020-08-11 16:08] arossert opened #5080 "Error when using "-d noarchive""
I'm trying to build my app with the `noarchive` flag and getting an error:
[code]
The build is working without the `noarchive` flag and this flag is working on other apps so maybe it is an issue with external module.

Running the build with `--log-level DEBUG` generated the same output at the error.
Is there anything else I can do to debug this?

PyInstaller version: 3.6
OS: Windows
Python version

[2020-08-11 18:03] maltfield commented on #4972
Unfortunately, this is not fixed in PyInstaller v4.0

## steps to reproduce

[code]

## Snippet of output

[code]

[2020-08-11 18:50] theguymeyer commented on #871
I've been experiencing the same issue when running my bundled application on High Sierra.

`$ open mainwindow.app/
LSOpenURLsWithRole() failed with error -10810 for the file /Users/<username>/Downloads/mainwindow.app`

When double-clicking the app it crashes immediately (appears and disappears in the dock quickly), same with right-click >> Open.

Using pyinstaller I've built a simple hello world P

[2020-08-11 21:04] arossert commented on #5080
Ok, after further digging it seems that this issue was resolved in `4.0` release by this commit https://github.com/pyinstaller/pyinstaller/commit/f7168c866d7f2d583bf6eb00fbab647a513f64c1

The issue is that `4.0` dropped support in Python2, unfortunately, we still in a process of migrating to Python3 but not there yet.

Will you consider applying this fix to `3.6` and release a `3.6.1` version so i

[2020-08-11 23:21] Legorooj commented on #4972
I'll take a look at this. There's probably a whole collection of reasons this isn't reproduceable.

[2020-08-11 23:27] Legorooj commented on #5080
@arossert maybe - we're having and internal changeup at the moment so we need some time to figure out what's going on. After that I'll look at doing this. In the meantime, just apply the fix locally.

[2020-08-12 06:45] arossert commented on #5080
@Legorooj Thank you very much, it will be nice seeing it in an official release.
In the meanwhile, I will work with a fork.

[2020-08-12 07:47] Tracyrvp commented on #4346
Hello

[2020-08-12 07:47] Tracyrvp commented on #4346
Does This problem fixed?

[2020-08-12 08:10] Legorooj commented on #4346
@Tracyrvp no - I'm in the process of patching it though. The fix will be out next release (sometime december probably).

[2020-08-12 08:17] JamesRamm commented on #576
Hi @channabasavagola
Running a script that uses ArcPy on a computer where arcGIS is not installed will most certainly not work as they include license checks when you import arcpy

I believe you can install the 'ArcGIS API For Python' on any system (https://developers.arcgis.com/python/), but its functionality, specifically the 'arcpy' functionality will be limited without required licenses.

Unle

[2020-08-12 08:40] #5070 closed

[2020-08-12 09:05] isdito opened #5081 "build version not works and dist version works"
hello,

I execute pyinstaller interface.py and the buid version

![image](https://user-images.githubusercontent.com/602151/89996738-75044380-dc8b-11ea-873e-3cfde29b65d9.png)
 and the dist version

![image](https://user-images.githubusercontent.com/602151/89996831-949b6c00-dc8b-11ea-8b51-59e67ca449d4.png)

for extension I have problems with pyarmor with pyinstaller

https://youtu.be/tFSuwXfuqOo

I

[2020-08-12 09:24] aglavic commented on #5075
Hi @bwoodsend, thanks for the quick reply. I'm not sure if you were referring to the traceback when building with pyinstaller or the execution of the package, so here are both logs:

[build.log](https://github.com/pyinstaller/pyinstaller/files/5061290/build.log)
[run.log](https://github.com/pyinstaller/pyinstaller/files/5061293/run.log)

There is a warning about dependencies of the mkl libraries t

[2020-08-12 10:14] bwoodsend commented on #5075
I meant the runtime log (your `run.log`).

Use the following to find conda dll locations:
[code]
Those particular dlls aren't present on my machine either so they hopefully are not needed.

I'm afraid that doesn't prove anything - to see the crash you need to invoke specific functions in numpy.

[2020-08-12 10:27] bwoodsend commented on #5075
The error in your error log has no proper Python stacktrace which is Conda's way of saying _missing dll_. I can't reproduce I'm afraid. It works fine for me but this is typical Conda - it could be accessing a dll anywhere on my machine (typically these dlls are also in other programs I have installed), giving me the illusion that the app works when it doesn't.

We don't want to support Conda for e

[2020-08-12 10:27] #5075 closed

[2020-08-12 10:40] bwoodsend commented on #5081
@isdito Please read the docs or we're going to have to block you. As I also told you in the last issue you raised, the executable in the `build` folder is not meant to be run (nor is anything else in that folder). You run and distribute the `dist` folder.

[2020-08-12 10:40] #5081 closed

[2020-08-12 10:55] bwoodsend commented on #5079
Usually, _breaks on different machine of same OS_ boils down to either missing dlls, or something to do with encodings. That stack doesn't really look like either to be honest.

Try running `chcp` on each machine and share the results with us? Also could you share the `Locale` entries from the output of `systeminfo`?

And could you copy  the contents of `ctypes\__init__.py` from your 3.8 environme

[2020-08-12 11:05] isdito commented on #5081
ok thank you.

[2020-08-12 11:22] bwoodsend commented on #4897
@lucabianchi91 Can you try my branch again?

[2020-08-12 14:40] aglavic commented on #5075
Thank you so much for the tip with memory_maps. I could easily track down the issue by simply dumping the map before and after the command that crashed and diffing the result.

For me it was just a missing **libiomp5md.dll** which I could copy to the exe path to solve this.

[2020-08-12 14:48] bwoodsend commented on #5075
Actually I probably should have told you at the start. `libiomp5md.dll` is the rouge numpy dll that causes any numpy linear algebra to crash.

[2020-08-12 16:15] julianKD commented on #3793
Hi everybody,

In my case the solution was to upgrade the cffi package:
`pip install --upgrade cffi`

How to check:
In python try importing e.g.: `from win32ctypes.pywin32.pywintypes import pywin32error`

[code]

So it is not pywin32-ctypes but actually the cffi that is used by pywin32.
After the update of the cffi package, pyinstaller worked.

[2020-08-12 17:31] sean85914 commented on #5060
@bwoodsend  Sorry for my late reply.
The console is closed as expected since all lines are executed.
As you mentioned, after I added `code.interact(local=globals())`,
the console can interact with user just like `python -i`
What I am developing now is an API, but currently only console-mode supported.
GUI would be the future work 😄

[2020-08-12 17:31] #5060 closed

[2020-08-13 00:30] MarianoFernandez0 commented on #4114
Hi, I had the same problem and solved it by setting OCTAVE_KERNEL_JSON to the path of the kernel.json file.
In my case:
export OCTAVE_KERNEL_JSON=/home/user/miniconda3/envs/env/lib/python3.8/site-packages/octave_kernel/kernel.json

[2020-08-13 02:21] danyeaw commented on #4996
Latest development version. Ran `pyinstaller --exclude-module tkinter --onedir --debug all --noupx gtktest.py`
Minimum reproducible example:
[code]
Output:
[code]

[2020-08-13 02:26] liupx1988 commented on #5079
I cheacked all the 4 PCs' code page are `936`, and the locale are `zh-cn`. The `ctypes\__init__.py` from py3.8 lists here:
<details>
 <summary> Contents
 </summary>

[code]
</details>

So it looks more like a system problem, right?

[2020-08-13 02:37] LeighKorbel commented on #4996
Seems like you aren't falling down the circular reference hole created by the `Application Data` junction though. I'll try to reproduce this tomorrow on the computer that didn't have Anaconda installed on it.

[2020-08-13 04:29] bwoodsend commented on #5079
Well in that case we can rule out locales. I'm still not sure if it's a bug in PyInstaller or not.

Can you compile in debug mode `PyInstaller --debug my_script.py`? Then run it on platform 4.

[2020-08-13 18:25] TensorTom commented on #1679
I'm having this problem with paths and cv2 but there is no DLL. I'm using the pyinstaller onefile option.

[2020-08-13 18:50] lucabianchi91 commented on #4897
Ok, it worked. Some notes for future tests with docker:
- `RUN dist/build_test/build_test` should not be run in the Dockerfile (`docker build` is to build an image - i.e. setup an environment, build code etc. - not to run processes. For that you have `docker run`)
- I guess you added `RUN rm -rf build dist` and `--clean` because you also tried to run `pyinstaller` on bare metal first. You can dire

[2020-08-13 19:09] bwoodsend commented on #4897
Ok, good to hear. And, as you can probably tell, my understanding of docker goes as far as `docker run command` - I didn't even know you could write scripts like that until this issue.

I'll keep this issue open until merging my fixes into the main repo - otherwise I'll probably about this...

[2020-08-13 19:11] LeighKorbel commented on #4996
Result running make on my project on the machine that produced the results that were similar to yours previously @danyeaw:
'''
# make
The version of MSYS you are running is 3 (0 meaning not MSYS at all)
pyinstaller src/python/plotter.py -y -w
57 INFO: PyInstaller: 4.0.dev0
57 INFO: Python: 3.8.3
57 INFO: Platform: Windows-10-10.0.18362-SP0
58 INFO: wrote C:/msys64/home/Alex/Cybercyte/CyberSolver/p

[2020-08-13 19:29] elysoto opened #5082 "import skimage.transform causes crash"
+++ ONLY TEXT +++ DO NOT POST IMAGES +++

## Description of the issue
pyinstaller 4.0 and pyinstaller-hooks-contrib 2020.7
Attempted on scikit-image 0.16.2 and 0.15.0

Program crashes without any detailed error when importing skimage.transform

Narrowed it down to skimage.transform.histogram_matching.py
possibly from warnings import warn
which would make it related to https://stackoverflow.com/que

[2020-08-13 19:32] bwoodsend commented on #4897
@Legorooj Should we not transfer this to the hooks repo?

[2020-08-14 00:00] Legorooj commented on #4897
@bwoodsend no - and I'm not even sure that this issue will be relevant after ModuleGraph2. I didn't realize until I started on it 🙄. I'll self-assign this and add it to the modgraph2 project so I gets dealt with during the switch. If you could leave your changes that would be great.

[2020-08-14 01:18] MarianoFernandez0 commented on #4114
Hi, I had the same problem and solved it by:

1)  Adding the kernel.json file as data file in the spec file, that is explained here
https://pyinstaller.readthedocs.io/en/v3.4/spec-files.html#adding-files-to-the-bundle.
Example:
`a = Analysis(...
     datas=[ ('/home/user/miniconda3/envs/env/lib/python3.8/site-packages/octave_kernel/kernel.json', 'octave_kernel') ],
     ...
     )`

2) Assigning t

[2020-08-14 03:20] liupx1988 commented on #5079
I run the exe with `--debug all` and get the message:
<details>
<summary> Error message (Platform 4) </summary>

[code]
</details>

I try to run on a normal platform, get:

<details>
<summary> Platform 1 </summary>

[code]

***Platform 4 breaks here.***

[code]
</details>

Sorry for replying late because I have been in contact with a confirmed covid-19 patient and need to be isolated and observed

[2020-08-14 13:12] rokm commented on #4996
The above `Permission denied` errors are likely due to #5058.

[2020-08-14 13:13] arossert opened #5083 "ImportError: No module named zope.interface"
In continue to #5080, after applying the fix I encounter a different issue when compiled with the `noarchive` flag everything is working but when running the `exe` I get this error:
[code]

Again the `zope.interface`, I tried to add `--hidden-import=zope` or `--hidden-import=zope.interface`, nothing worked.
I also tried to add a `hook` with `datas = collect_data_files('zope')` but this ends up wit

[2020-08-14 13:45] LeighKorbel commented on #5058
Yes, this is precisely the *additional* issue coming up in MSYS2/MinGW on https://github.com/pyinstaller/pyinstaller/issues/4996.

[2020-08-14 15:16] bwoodsend commented on #5082
If I had to guess it's probably [this numpy dll issue](https://github.com/pyinstaller/pyinstaller/issues/4968#issuecomment-662075970) but we don't support Conda so I'm closing this.

[2020-08-14 15:16] #5082 closed

[2020-08-14 15:19] bwoodsend commented on #5083
`--hidden-import=zope.interface` is what you should be using. Or in a hook you'd use `hiddenimports = collect_submodules("zope")`.

[2020-08-14 15:31] bwoodsend commented on #5029
Closing due to lack of response from the original author. Will re-open if you
(or anyone else who has this issue) gets back to us by commenting below.

[2020-08-14 15:32] bwoodsend commented on #5011
Closing due to lack of response from the original author. Will re-open if you
(or anyone else who has this issue) gets back to us by commenting below.

[2020-08-14 15:32] #5029 closed

[2020-08-14 15:32] #5011 closed

[2020-08-14 15:32] bwoodsend commented on #4956
Closing due to lack of response from the original author. Will re-open if you
(or anyone else who has this issue) gets back to us by commenting below.

[2020-08-14 15:33] bwoodsend commented on #4940
Closing due to lack of response from the original author. Will re-open if you
(or anyone else who has this issue) gets back to us by commenting below.

[2020-08-14 15:33] bwoodsend commented on #4930
Closing due to lack of response from the original author. Will re-open if you
(or anyone else who has this issue) gets back to us by commenting below.

[2020-08-14 15:33] #4956 closed

[2020-08-14 15:33] bwoodsend commented on #4924
Closing due to lack of response from the original author. Will re-open if you
(or anyone else who has this issue) gets back to us by commenting below.

[2020-08-14 15:33] #4940 closed

[2020-08-14 15:33] #4924 closed

[2020-08-14 15:34] #4930 closed

[2020-08-14 15:37] bwoodsend commented on #4877
Closing due to lack of response from the original author. Will re-open if you
(or anyone else who has this issue) gets back to us by commenting below.

[2020-08-14 15:38] #4877 closed

[2020-08-14 15:42] bwoodsend commented on #4577
Closing due to lack of response from the original author. Will re-open if you
(or anyone else who has this issue) gets back to us by commenting below.

[2020-08-14 15:43] #4577 closed

[2020-08-14 15:44] bwoodsend commented on #4531
Closing due to lack of response from the original author. Will re-open if you
(or anyone else who has this issue) gets back to us by commenting below.

[2020-08-14 15:44] #4531 closed

[2020-08-14 15:48] bwoodsend commented on #4294
Closing due to lack of response from the original author. Will re-open if you
(or anyone else who has this issue) gets back to us by commenting below.

[2020-08-14 15:48] #4294 closed

[2020-08-14 15:49] #4281 closed

[2020-08-14 15:50] bwoodsend commented on #4186
Closing due to lack of response from the original author. Will re-open if you
(or anyone else who has this issue) gets back to us by commenting below.

[2020-08-14 15:50] #4186 closed

[2020-08-14 15:53] #4045 closed

[2020-08-14 15:54] #4011 closed

[2020-08-14 16:06] #3664 closed

[2020-08-14 16:07] #3604 closed

[2020-08-14 16:22] bwoodsend commented on #3440
This is resolved now.

[2020-08-14 16:22] #3440 closed

[2020-08-14 16:23] #3356 closed

[2020-08-14 16:25] #3238 closed

[2020-08-14 16:27] #3018 closed

[2020-08-14 16:28] #2995 closed

[2020-08-14 16:30] bwoodsend commented on #2958
We no longer support `Django 1.x`. Please create a new issue if this persists in `django >= 2.0`

[2020-08-14 16:30] #2958 closed

[2020-08-14 16:31] #2946 closed

[2020-08-14 16:37] bwoodsend commented on #2808
We no longer support `Django 1.x`. Please create a new issue if this persists in `django >= 2.0`.

[2020-08-14 16:37] #2808 closed

[2020-08-14 16:42] bwoodsend commented on #4784
Closing due to lack of response from the original author. Will re-open if you
(or anyone else who has this issue) gets back to us by commenting below.

[2020-08-14 16:42] #4784 closed

[2020-08-14 16:58] #3878 closed

[2020-08-14 17:38] elysoto commented on #5082
Yes that was the issue. Thank you!

[2020-08-15 00:24] danyeaw commented on #4996
Thanks @rokm, I agree this seems to be the same issue.

@LeighKorbel Can we close this one?

[2020-08-15 08:08] arossert commented on #5083
@bwoodsend Thanks for the reply, I did try to use `--hidden-import=zope.interface` (had a typo in the original message) and it did not work, the same error appeared.

I did try it with Python 3.7.7 and PyInstaller 4.0 and it seems to work without adding any flags to the command.
My simple app script that reproduces this issue is:
[code]

As mentioned, this worked is the `-d noarchive` flag is not

[2020-08-15 08:14] Legorooj commented on #5069
Hmm this is a bit more complex than I thought. I think I'll rewrite the whole `help2rst` scheme - it will be less work overall.

[2020-08-15 15:39] bwoodsend commented on #5083
Some logs to get you started.

[code]
[code]

2cf7654e looks a likely candidate. I'm afraid we really have ditched Python 2 support so I'm going to close this (although we can keep chatting on here if you think I can help).

[2020-08-15 15:39] #5083 closed

[2020-08-15 18:36] chen-zehua commented on #4886
python 3.7

[2020-08-15 19:20] arossert commented on #5083
@bwoodsend Thanks, I looked at the mentioned commit and it looks like a pretty old one (May 26, 2014) so most of the files there no longer exist in the current version, It looks like a lot of work to make it compatible to Python2.
As we are in a process to move to Python3, I will just create the `__init__.py` file in `zope` directory until we will stop using Python2.

[2020-08-15 22:55] Legorooj commented on #4886
Hmm. Try the latest release on PyPI? (4.0)

[2020-08-16 08:22] Legorooj commented on #4892
Closing due to lack of response from the original author. Will re-open if you
(or anyone else who has this issue) gets back to us by commenting below.

[2020-08-16 08:26] Legorooj commented on #4828
@vitsensei how about you?

[2020-08-16 08:39] Legorooj commented on #4656
@arjuncr sorry, but we can't support this feature at this time. If you want to build for arm, please build on arm.

[2020-08-16 08:39] #4656 closed

[2020-08-16 09:00] nimo94 opened #5084 "ERROR: ffprobe/avprobe and ffmpeg/avconv not found. Please install one. Can't download mp3"
when i run in another computer i stuck in here in my pc working well

[2020-08-16 10:53] bwoodsend commented on #5084
Please fill in the issue template provided then we'll reopen. Otherwise we can't do anything.

[2020-08-16 10:53] #5084 closed

[2020-08-16 13:42] LokotamaTheMastermind opened #5086 "This is to the developers of the PyInstaller package"
**Is your feature request related to a problem? Please describe.**
The issue of the package not working on **`>Python 3.8`**
For all developers pip announced the way that installing packages will change before December 2020.
To prove it try installing another package with the latest version of pip and it will suggest that all packages should be tested with **`use-feature=2020-resolver`** for those

[2020-08-16 14:02] nimo94 opened #5087 "ERROR: ffprobe/avprobe and ffmpeg/avconv not found. Please install one."
## This work in my pc fine but in my friends pc showing this type of error

## ERROR: ffprobe/avprobe and ffmpeg/avconv not found. Please install one.

* Output of `pyinstaller --version`: ```2020.something```
* Version of Python: e.g. 3.7
* Platform:, Windows 10 64bit
* Did you also try this on another platform? Does it work there?:No

### Stacktrace / full error message

[code]

[2020-08-16 14:12] SHAANBHAYA commented on #4892
I am really sorry for the late response .This is not a bug that can not be reproduced on windows as the problem lies in osx.py file ,where we are joining the  spec file path with dest path,which leads to the behavior mentioned above.
We use pyinstaller for making the executables for both windows and osx and with the same spec files and this happens only in osx.
 Here is the code that i think is ca

[2020-08-16 17:38] bwoodsend commented on #5079
Could you put a print statement into your `ctypes.py` at line 373?
[code]
Then try again...

[2020-08-16 21:23] migueldingli1997 commented on #3957
Any progress on this? I'm experiencing this on Mac OS.

[2020-08-16 22:52] Legorooj commented on #4892
@SHAANBHAYA yes it is. Good find. Could @cjakuc take a look at this?

[2020-08-16 23:00] Legorooj commented on #5062
@arosiclair pinging

[2020-08-17 04:52] amifunny commented on #4828
A new PR https://github.com/pyinstaller/pyinstaller-hooks-contrib/pull/33 is redirected to `pyinstaller-hooks-contrib` regarding this issue.

[2020-08-17 07:08] liupx1988 commented on #5079
Get error message like this:
<details>
 <summary>Error Message</summary>

[code]
</details>

Thanks!

[2020-08-17 07:33] Legorooj commented on #4828
@vitsensei never mind; @amifunny has done it.

[2020-08-17 07:44] Legorooj commented on #4963
@unknown989 not true; we support PySide2 and PyQt5 only - no other python Qt variants are supported.

[2020-08-17 07:48] Legorooj commented on #5086
@amifunny or @vitsensei please take a look at [this](https://discuss.python.org/t/announcement-pip-20-2-release/4863) and check the new dependency resolver works with PyInstaller. If it doesn't, then submit a PR to fix it.

[2020-08-17 07:50] Legorooj commented on #4947
I still haven't had time to replicate this unfortunately. Could @nithinreddyy take a look at this?

[2020-08-17 07:51] Legorooj commented on #4901
@Pathfinder216 did you manage to take a closer look?

[2020-08-17 08:00] nithinreddyy commented on #4947
Hi @XtremeGood, do you have any dependencies on your main .exe file?

[2020-08-17 08:20] XtremeGood commented on #4947
@nithinreddy actually, I do not remember anything now. Better to close this one.

[2020-08-17 08:21] nithinreddyy commented on #4947
Ok @XtremeGood, thanks for your time. Have a great day!

[2020-08-17 08:22] #4947 closed

[2020-08-17 08:30] Legorooj commented on #4618
@nithinreddyy can you take a look at this?

[2020-08-17 08:56] nithinreddyy commented on #4618
Hi @arbitrager44, will you please try to remove all unwanted files and try that again. It helps.

[2020-08-17 09:14] bwoodsend commented on #5079
Ohh that promising...

If you run `where kernel*` from `cmd` the output should include `C:\Windows\System32\kernel32.dll` on the machines that do work but not on the ones that don't. Can you confirm this?

[2020-08-17 11:40] liupx1988 commented on #5079
Ops, no, `kernel32.dll` is found on both platform 1 and 4. (Platform 4 is actually x64, sorry, I neglected it before.)
And I guess windows will crash if `kernel32.dll` is missing.
The version of platform 4's `kernel32.dll` is `6.1.7601.17514`. I checked the hash and it's same with what I found here.
[http://filelog.net/file/kernel32.dll/5c02af0206c299f5bcab8da4237cfc92e3e93495](url)

[2020-08-17 11:59] bwoodsend commented on #5087
Well that's an improvement from #5084 one but you're still missing the minimal example to reproduce and we need the full stacktrace - not just the last line. Just edit this issue - don't create a new one.

[2020-08-17 11:59] #5087 closed

[2020-08-17 13:52] LeighKorbel commented on #4996
I would probably wait until a pull request from @ferdnyc is merged before this is closed, as that was the original problem. Once that is complete, then yes, you can absolutely close this out.

[2020-08-17 14:26] bwoodsend commented on #3679
You should be giving your main script to PyInstaller. `main.py` imports `lei.py` and `s_lei.py` so those will be included automatically. Your command should be:
[code]
Which builds fine for me.

[2020-08-17 14:42] bwoodsend commented on #4618
@arbitrager44 Can we have your build command (e.g. `PyInstaller myscript.py`) so we can verify you're not doing something completely unorthodox?

I also notice your working directory `C:\Users\arbit\OneDrive\Documents\python\sweater` - is that `OneDrive` folder not a special reserved folder for syncing Documents with the cloud?

And I'm fairly certain that #3679 has nothing to do with this - that'

[2020-08-17 14:49] amifunny commented on #5086
@Legorooj Are you working on it?

[2020-08-17 14:53] amifunny commented on #4567
@bwoodsend @Legorooj was it resolved in the new version?

[2020-08-17 14:53] #4567 closed

[2020-08-17 15:11] amifunny commented on #4437
@ghost Could not reproduce your error and not much info is provided. Closing the issue. Reopen if you still face the issue.

[2020-08-17 15:11] #4437 closed

[2020-08-17 15:27] bwoodsend commented on #4567
I can't actually tell what *it* was so your guess is as good as mine - probably no. @appleUserName If you're still with us we'd need quite a bit more info than what you've provided. See the [issue template](https://github.com/pyinstaller/pyinstaller/blob/develop/.github/ISSUE_TEMPLATE/bug_report.md).

[2020-08-17 15:29] bwoodsend commented on #3679
I'm closing this as I'm almost certain this is just misuse as opposed to a bug. Comment below if otherwise.

[2020-08-17 15:29] #3679 closed

[2020-08-17 15:32] bwoodsend commented on #5086
@amifunny No this ones all yours...

[2020-08-17 16:20] arbitrager44 commented on #4618
Hi. This problem went away on its own a few days later. I don't know what changed. I did clear out the `dist` folder as well as the `.spec` files, but I did it several times before it worked, so that was probably coincidental. Most likely this was just some internal conflict or corruption on my side.

On the OneDrive bit, the only time I've had trouble with that directory is when OneDrive is activ

[2020-08-17 17:00] bwoodsend commented on #4618
OK. I'm going to close this for now as we have no way to reproduce this, let alone solve it. If you encounter this again and you're able to hone in more on when it happens then raise a new issue.

[2020-08-17 17:00] #4618 closed

[2020-08-17 19:20] LokotamaTheMastermind commented on #5086
**Please what build dependencies are you using?**

**Seems there's a bug with it**

[2020-08-17 19:35] LokotamaTheMastermind commented on #5086
**`Strange thing setting up the package from within the cloned repo is not giving errors`**

[2020-08-17 19:52] LokotamaTheMastermind commented on #5086
**Are you meant to import pyinstaller?**

**Because I found out some packages that it uses but don't automatically install if they are not found in the setup.py file**

[2020-08-17 21:38] LokotamaTheMastermind commented on #5086
**Found a temporary solution to the problem until it is properly fixed!**

**First run the command `git clone --branch --single-branch develop https://github.com/pyinstaller/pyinstaller.git` in the terminal**

**Then `cd pyinstaller`**

**Then specifically run the commands after this sections:**

1. **`pip install --upgrade setuptools wheel pip` for windows or `pip3 install --upgrade setuptools wh

[2020-08-18 02:48] chen-zehua commented on #4886
you mean try python 4.0? but many dependencies may not support python 4.0.

[2020-08-18 04:05] Legorooj commented on #4886
@chen-zehua no - I mean try PyInstaller 4.0

[2020-08-18 07:47] #4828 closed

[2020-08-18 10:03] LokotamaTheMastermind commented on #5086
_**Sorry the picture is blurry**_

[2020-08-18 12:48] LokotamaTheMastermind commented on #5086
**I suggest putting the 4.0 release in `beta` mode**

[2020-08-18 12:56] LokotamaTheMastermind commented on #5086
Did the suggestion work

[2020-08-18 12:58] LokotamaTheMastermind commented on #5086
**cus I am not good at writing C code and it will be buggy, but the suggested method actually works well and the `--onefile` flag works as well as the `normal method`**

[2020-08-18 14:40] bwoodsend commented on #5086
@LokotamaTheMastermind I'm afraid that you've lost all of us. You'll need to explain...

I gather that by _new dependency solver_ you mean [this](https://pip.pypa.io/en/stable/user_guide/#changes-to-the-pip-dependency-resolver-in-20-2-2020). Now I've run their [prescribed list of checks](https://pip.pypa.io/en/stable/user_guide/#how-to-test) and I haven't noticed any problems. Can you explain exac

[2020-08-18 14:50] LokotamaTheMastermind commented on #5086
I mean`Python 3.8 and above if any`

[2020-08-18 14:53] LokotamaTheMastermind commented on #5086
**And you really want the full traceback of the error while installing right ...**

[code]

**Here you go, `hope you can read it`**

[2020-08-18 15:02] LokotamaTheMastermind commented on #5086
**For the full the log ...**
**Good luck reading it**

[code]

[2020-08-18 15:33] bwoodsend commented on #5086
@LokotamaTheMastermind I'm not seeing this error. I'm using the following on both a 32-bit and 64-bit clean installation of Python (as well as my messy home environment):
[code]
Can you tell us the command you are using?

[2020-08-18 15:47] bwoodsend commented on #5079
This is more likely to be the cause (although it should still work).

Bit of a gambit but... if you:
- copy `kernel32.dll` from the x64 machine onto the x86 that has python (don't put it in the `system32` folder - just put it in `Documents` or some other normal user directory).
- Open Python on x86 then type:
[code]
Do you get the same `OSError`?

[2020-08-18 16:26] LokotamaTheMastermind commented on #5086
**I'm using a Windows**

**I may try it Kali too see the result**

[2020-08-18 16:35] bwoodsend commented on #5086
No I mean what are you typing into `cmd`?

[2020-08-18 17:39] LokotamaTheMastermind commented on #5086
**Well _`pip install pyinstaller`_ like normal people would do ...**

[2020-08-18 18:48] arosiclair commented on #5062
Upgraded to Catalina macOS 10.15.6 but running the excutable still produces the same error:

[code]
Not familiar with code signing but this is the error the CLI reports for the binary in question:

[code]

[2020-08-18 20:27] reritom commented on #5062
To me this seems to resemble this open issue https://github.com/pyinstaller/pyinstaller/issues/2439

[2020-08-19 00:38] Legorooj commented on #5062
Try adding the `--deep` option - that can help sometimes.

[2020-08-19 01:43] pythonwood commented on #2383
**same problem with property_cached**

[code]

[code]

[2020-08-19 02:25] rjsdotorg commented on #2468
I tried the recipe by @Stevoisiak in #1048 using runtime hooks.
Some .pyd and some dll files could be moved to the /lib folder and be found, but many/most could not.
I do not know the underlying mechanisms well enough to understand why or predict which can be moved to a sub-dir, or how to allow others.
Python27\Scripts\pyinstaller, v3.6

[2020-08-19 06:32] liupx1988 commented on #5079
Hahaha, I think I found the reason! Just missing hotfix KB2533623!
---

On my Win10 x64 system, I cannot successfully run `ctype.CDLL('kernel32.dll')` with neihter x86 nor x64 python, and get different error messages.

I'm very confused and try to test under Win7. Beacuse I'm staying at home and not easy to operate the PC in the office. I built a 32bit Win7 with SP1 virsual machine, and tried to r

[2020-08-19 10:25] liupx1988 commented on #5079
Yes, that's the problem! It's not pyinstaller's fault! I'll close the issue. Thank you for your help!

[2020-08-19 10:25] #5079 closed

[2020-08-19 11:15] quentinemusee opened #5088 "Another "Failed to execute script" while building with matplotlib and numpy"
## When i'm trying to build with one dir, I get a fatal error "Failed to execute script".
Indeed, my distpath has this essue while my workpath has an "error loading Python DLL".

## I'm using the following console command :
pyinstaller.exe --clean --noconfirm --noconsole --onedir --noupx --distpath ".\dist_onedir" --workpath ".\build_onedir" Simulationv3.py

* Output of `pyinstaller --version`: 4.

[2020-08-19 16:59] bwoodsend commented on #5088
:rocket: :rocket: :rocket:

[2020-08-19 17:00] bwoodsend commented on #5088
Can we have the stack trace (the full error message when you run it)?

[2020-08-19 19:00] mihirsn commented on #4857
Hi, I want to pick this up.

[2020-08-19 21:03] Stevoisiak commented on #2468
@rjsdotorg You can directly link to the comment with the following url: `https://github.com/pyinstaller/pyinstaller/issues/1048#issuecomment-382050987`.

As for the hook itself, I got it from [this blogspot post](http://unafaltadecomprension.blogspot.com/2014/07/pyinstaller-separating-executable-from.html). I'm afraid I don't know much more than that.

[2020-08-19 23:30] Legorooj commented on #4857
@mihirsn I've tracked this issue down and I'm in the process of fixing it. Thanks for the offer though!

[2020-08-19 23:42] Seraphppy commented on #4067
bump

[2020-08-19 23:48] Seraphppy commented on #4067
Did you fix this?

[2020-08-20 02:01] fzuccolo commented on #4855
Installing security update [KB2533623](https://www.microsoft.com/en-us/download/details.aspx?id=26767) in Win7x86 host should solve this issue, tested for python 3.8.5.

[2020-08-20 03:39] jsl303 commented on #4067
I gave up using multiprocessing.Process, and used threading.Thread instead.

It works for my purpose, but if you really need
multiprocessing.Process,I'm not sure how to fix it.

[2020-08-20 06:37] glennra commented on #2754
Same issue "Failed to execute script pyiboot01_bootstrap". Python 3.7.8, Windows 10, latest develop of PyInstaller

[2020-08-20 09:58] Dev-I-J commented on #2652
It's a problem with anaconda; Just Create A VirtualEnv only including the modules you want.

[2020-08-20 11:22] amifunny commented on #4519
@pianocomposer321 was the issue resolved? Closing due to no activity. Reopen if the problem persists.

[2020-08-20 11:22] #4519 closed

[2020-08-20 13:20] minorsecond commented on #3923
I included this in `datas` in my .spec file and it fixed it. Modify as needed and give it a shot.

`("C:\\Users\\rwardrup\\anaconda3\\envs\\TEST\\Lib\site-packages\\palettable\\colorbrewer\\data\\colorbrewer_all_schemes.json", "palettable\\colorbrewer\\data\\")`

[2020-08-20 13:31] oskarsliwinski opened #5089 "ModuleNotFoundError: No module named 'mysql'"
Python 3.8
pyinstaller 4.0

I cannot import mysql-connector
I get an error while building the exe file:
`ModuleNotFoundError: No module named 'mysql'
[6388] Failed to execute script main`

I am using:
`pyinstaller --onedir main.spec && .\dist\main.exe`

[2020-08-20 13:35] oskarsliwinski commented on #5089
Result:
`92 INFO: PyInstaller: 4.0
93 INFO: Python: 3.8.5
93 INFO: Platform: Windows-10-10.0.18362-SP0
95 INFO: UPX is not available.
97 INFO: Extending PYTHONPATH with paths
['C:\\Users\\ELTE_00026\\PycharmProjects\\pythonProject1',
 'C:\\Users\\ELTE_00026\\PycharmProjects\\pythonProject1']
107 INFO: checking Analysis
107 INFO: Building Analysis because Analysis-00.toc is non existent
107 INFO: I

[2020-08-20 14:03] pianocomposer321 commented on #4519
@amifunny I actually don't remember for sure, but I think the font was the problem. After I used an included font it worked...I think. I don't even remember what project it was that had the problem XD.

[2020-08-20 14:12] psandev commented on #3923
BLESS YOU, it worked!!! I spent quite many hours and lost hope already(
although, at the end I was close, but not quite there😀). I was using
plotnine from the interpreter and seaborn for the executable. No more!!!
Many thanks!

On Thu, Aug 20, 2020 at 4:20 PM Robert Ross Wardrup <
notifications@github.com> wrote:

[2020-08-20 17:25] stianvale opened #5090 "406 Client Error: Not Acceptable for URL ..."
## Description of the issue
Hi!
I'm having a problem with building an executable from a python script. Running the python script works fine and building the pyinstaller .exe works fine. However, when running the .exe, I'm getting an **406 Client Error: Not Acceptable for url <...>**.

As the script usually works, there are no issues with the code, but rather with doing the API call from the execut

[2020-08-21 03:23] deathart76 opened #5091 "NFD / NFC normalize issue on MacOS"
Below is my environment.

OS : MacOS Mojave 10.14.6
Python : 3.8.5 (venv)
Pyinstaller : 4.0
trouble related package : pygi ( 1.0.3 ) , pygobject ( 3.36.1 ) - using GTK+3
trouble description :
   - I'm using GTK Entry inside application and sometimes input requires Korean .
   - Before I'm packaging , Application works well . but after packaging with onefile option, normalization issue happened .

[2020-08-21 08:14] htgoebel commented on #4865
@andyfaff Can you please summarize the issue? AFAIU, the process is running in an endless-loop. Is this the issue?

[2020-08-21 08:25] htgoebel commented on #4865
@andyfaff And can you please check whether the test-suite triggers an error. Otherwise we need new test-cases.
[code]

[2020-08-21 12:22] isdito opened #5094 "PyInstaller-built Windows EXE fails with multiprocessing"
Hello I have a problem when compiling in one file

[code]

compile `pyarmor pack -e " --onefile" pycubelut.py`

Not works and give this error

[code]

hello I must to put this line?

`multiprocessing.freeze_support()`

[2020-08-21 17:43] nathanielmanistaatgoogle opened #5095 "Easy-mode executable-from-sdist"
With PyInstaller 4.0 and the codebase contained in [this sdist](https://github.com/pyinstaller/pyinstaller/files/5110297/representative-0.0.20200813144015583612.tar.gz) I can create a single-file executable with `python -m PyInstaller --onefile --add-data="representative/util/resource.txt:representative/util" --name=representative representative/__main__.py`. Woohoo!

... but there's room for an e

[2020-08-21 21:16] Mohamed-Sharif opened #5096 "Anaconda Installation: [2812] failed to execute script pyibbot01_bootstrap"
Hello,
I have been trying to install Anaconda for several days and I have always got the same message error: `"Failed to create menus"`. I have tried all the available solutions to this problem from changing the path variable to delete my Java environment, this came without any success. I finally decided to set up a new windows and I got the same error. with the same problem. I think it is a probl

[2020-08-21 23:00] #5096 closed, assigned to nobody

[2020-08-22 00:02] isdito opened #5097 "matplolib error"
Hello, give me error one file compilation.

I check hook-matplotlib.py
ald install matplotlib

but nothing.

[code]
I go down to

 pip install matplotlib==3.0.3

[2020-08-22 12:11] #5097 closed, assigned to Legorooj

[2020-08-23 19:50] isdito commented on #5094
With this line fox

multiprocessing.freeze_support()

[2020-08-23 19:50] #5094 closed

[2020-08-23 19:54] isdito opened #5099 "ico to the exe?"
Hello,

I try put a ico in the exe but have problems

`pyarmor pack -e " --onefile --icon=logo.ico" slider-photos-web.py
`
I put the ico file with the py file.

I create  ico file with

https://icoconvert.com/

for windows 7

I reduce to

pyinstaller --onefile --icon=logo2.ico slider-photos-web.py

and see inside spec

[code]
alsi I check

`pyinstaller --onefile --icon='C:\Python37\proyectos\photo

[2020-08-23 20:15] isdito commented on #5099
Ok finally I find the solution:

[code]

[2020-08-23 20:15] #5099 closed

[2020-08-23 20:27] cbm755 commented on #4970
I so edited the wiki.  Haven't tried again with explicitly changing the log level but presumably default should surely be lower than ERROR...

Anyway, thanks again for your help!

[2020-08-23 22:52] GamiDPC opened #5100 "Error on launching index.exe"
Error on launching index.exe

code
`
from pyrogram import Client
from flask import Flask, request
import base64
import urllib.parse
import config

flask = Flask(__name__)

app = Client(config.session_name, config.api_id, config.api_hash)

app.start()

@flask.route('/eval')
def eval_data():
    response = 'response:error'
    data = request.args.get('data')
    data = urllib.parse.unquote(data)

[2020-08-24 00:35] deathart76 commented on #5091
Q: Just to clarify - it messes up your keyboard input so you type '한글' into the text box and it appears as 'ㅎㅏㄴㄱㅡㄹ'?
A: Exactly

Q: And what happens if you put '한글' directly into your code? e.g. self.entry.set_text("한글"). Or if you print what is typed by adding the following?
A: I just tested with below codes .
    if I set "한글" with set_text in code, "한글" showed correctly .
    But if I typed . I

[2020-08-24 09:35] xmeow commented on #4130
Same situation here, after some dig into how pyinstaller's loader sequence. I found that there should be somehow or other a builtin CoreFoundation in the bundled app, or from `/System/Library/Frameworks/CoreFoundation.framework/CoreFoundatio` ,so there is no reason to pack another one. So my workaround would be add 'CoreFoundation' to exclude session in spec file, and turn whoever using the CoreFu

[2020-08-24 13:06] vitsensei commented on #5002
@gcervantes8 @joshd-7 I am currently trying to reproduce the bug. However, I found [this ](https://github.com/tensorflow/tensorflow/issues/36441) thread. Apparently tensorflow_core is a new feature in tensorflow 1.15, which explains why @gcervantes8 can create an executable using 1.14.

[2020-08-24 13:35] bwoodsend commented on #5100
You need to `--add-data` your `mime.types` file so PyInstaller knows to include it. See [adding data files](https://pyinstaller.readthedocs.io/en/stable/spec-files.html?highlight=add%20data#adding-data-files). I strongly recommend you debug `FileNotFoundError`s in `--onedir` mode then switch to `--onefile` when it's working.

[2020-08-24 13:35] #5100 closed

[2020-08-25 10:28] ManPython commented on #4855
Installing security update KB2533623 in Win7x64 host should solve this issue, tested for python 3.8.5.
https://www.microsoft.com/en-us/download/confirmation.aspx?id=26764
The KB2533623 as Win7x64 wan't install due to some problems 0x80070422 if win update is turned of.

[2020-08-25 10:29] ManPython commented on #4812
I sugesting to check this
https://github.com/pyinstaller/pyinstaller/issues/4855#issuecomment-676851508

[2020-08-25 12:20] simaoafonso-pwt commented on #4957
Why not build using the `--onedir` method then? You can create a setup file using InnoScript or similar to install the folder, and you get the best of both worlds:
- Run from the extracted folder, no performance loss
- Single File distribution
- No spurious antivirus deleting the temporary folder

[2020-08-25 13:03] simaoafonso-pwt opened #5101 "Documentation: Mention bootloader requirements"
I tried (and succeded) to build the bootloader on ARM 32 bits (specifically, CentOS 7 ARM version), and the documentation was missing two requirements:

https://pyinstaller.readthedocs.io/en/latest/bootloader-building.html#development-tools

- zlib, named `zlib-devel`
- cmocka, named `libcmocka-devel`. This seems to be optional, but the logs mention it

This is in addition to the documented `yum g

[2020-08-25 14:22] keelung-yang commented on #4957
@simaoafonso-pwt It's not portable(copy & run) from the view of end users, even though it's portable actually.

[2020-08-25 15:11] simaoafonso-pwt commented on #4957
There's always [`--runtime-tmpdir`](https://pyinstaller.readthedocs.io/en/latest/usage.html#rarely-used-special-options)...

[2020-08-25 17:01] viniciusklein12 opened #5102 "Django project compiled with PyInstaller leads to stack overflow error"
We have a django rest api project which is responsible for connecting with an internal DLL passing the parameters coming from the api request to run some calculations. We are using ctypes to load the DLL in the api server. The api is working when running django only. I have compiled the django project with PyInstaller and the compilation worked fine and I am able to run the server using manage.exe

[2020-08-25 17:10] bwoodsend commented on #2846
I'll give this one a bash...

[2020-08-25 17:14] bwoodsend commented on #5091
OK, so we're pretty certain it's on reading your keyboard that the mistakes are happening and not an error in output.

I'm fairly certain these will be ok but could you also try just:
[code]

[2020-08-25 17:35] bwoodsend commented on #5102
Unless you can whittle it down to a minimal example that we can use to reproduce your problem then we can't do anything to help you.

[2020-08-25 17:35] #5102 closed

[2020-08-25 17:41] bwoodsend commented on #5101
@Legorooj Can you confirm these are actually build requirements? We have a copy of zlib [in the bootloader already](https://github.com/pyinstaller/pyinstaller/tree/develop/bootloader/zlib) - surely we don't need another? And I've certainly never needed to explicitly install them - although I may have had them already without realising....

[2020-08-25 19:10] htgoebel commented on #4865
@andyfaff @reritom I added test-case replicating your examples. I could not reproduce the need patching spawning.Popen being required for Py 3.8 on MacOS. Please
* clone https://github.com/hgoebel/pyinstaller.git,
* run `git checkout issue-4865`
* perform the commands in the comment above and
* report the result.
Thanks

[2020-08-25 19:34] reritom commented on #4865
@htgoebel I will perform the commands and report the result, however the linked repo https://github.com/hgoebel/pyinstaller.git is not found, could you check that please?

[2020-08-25 20:33] htgoebel commented on #4865
@reritom Sorry, there is a typo in the repo (missing t). Here is the correct one: https://github.com/htgoebel/pyinstaller.git,

[2020-08-25 23:16] andyfaff commented on #4865
@htgoebel I ran:

[code]

the test suite doesn't pass, with a fail in `FAILED tests/functional/test_multiprocess.py::test_multiprocess_pool[onefile]`. The log file is [here](https://gist.github.com/andyfaff/44f7f99a8a7f528a988471cf3ab48710)

[2020-08-26 00:03] andyfaff commented on #4865
I'll attempt to summarise the issue as best I can.

- I am trying to use `multiprocessing` in a standalone pyinstaller packaged executable.
- On macOS 3.8 the default start method for multiprocessing is `spawn`. On macOS 3.7 it was `fork`.
- With the original example I supplied (test.py and test.spec) if I make the pyinstaller single folder distribution using the `develop` branch and run the `test

[2020-08-26 01:58] andyfaff commented on #4865
I should qualify that test run a bit more. That was on branch `issue-4865`. It did run to completion, even if there was a failure. With branch `develop` the test run never gets pass the first one, and new processes are continually being spawned that requires a reboot to stop them.

[2020-08-26 02:27] cdgriffith commented on #4178
I am experiencing the same issue on Windows 10, UPX 3.86. Using console and onefile.

ucrtbase.dll is not designed to run on Windows...Error status: 0xc000007b

[2020-08-26 03:15] deathart76 commented on #5091
I appended code

I appended code like below,

[code]

and I input using console and below is result. appended codes work normally.

[code]

[2020-08-26 09:07] htgoebel commented on #4865
@andyfaff Thanks for providing the information. Just to double check:
- Using branch `develop`,  both examples (https://github.com/pyinstaller/pyinstaller/issues/4865#issue-615555063 and https://github.com/pyinstaller/pyinstaller/issues/4865#issuecomment-626456657) can be frozen, but the frozen executables do not terminate (they keep spwaning new processes over and over again)
- Using branch `issu

[2020-08-26 09:09] htgoebel commented on #2846
@bwoodsend Maybe you could find a sophisticated way to skip library tests based on paths? THis might be even better, since it's not the developer how needs to think about adding the tag.

[2020-08-26 09:10] andyfaff commented on #4865
@htgoebel your statement is correct, except today I didn't check the second example, just the first.

[2020-08-26 09:12] jharrang commented on #1441
It would be helpful to remove the 'u' runtime option from the documentation if it is not working or clarify the subset of conditions under which it works. The current documentation is very misleading given that this appears to be functionally not yet implemented.

[2020-08-26 09:14] htgoebel commented on #4957
As others already mentioned, there is `--runtime-tmpdir` and there is `--onedir` mode.  Please explain why these two options so not fir your needs.

[2020-08-26 09:17] htgoebel commented on #1441
@jharrang Pull request welcome :-)

[2020-08-26 09:21] htgoebel commented on #4865
Thnx

[2020-08-26 10:09] jharrang commented on #1441
@htgoebel - Perhaps you unintentionally missed the point? I'm not suggesting that this needs to be implemented. While that would be great, it's obviously not been a priority.

What **should** be a high priority and is an easy fix would be updating the documentation to better reflect the current state of the package. I am not sufficiently well-versed in the history of this issue or the current stat

[2020-08-26 11:43] htgoebel commented on #4311
Good news: I got some funding for developing this. Expect a release supporting Python 3.8 really soon now.

[2020-08-26 13:23] bwoodsend commented on #2846
Hmm possibly - any paths you had in mind?

We're also quite good at using our commit prefixes. Anything marked `Cleanup:` or `Docs:` we can probably skip. Ideally hook changes will limit themselves to tests for that hook.

[2020-08-26 13:34] htgoebel opened #5103 "multipackage not fully working and not fully tested"
multipackage is not full working and not fully tested.

Not working:
- If the dependent requires some files the dependency does not provide, this file is not transferred. Thus (at least in one-dir mode), the executable does not find this file.
     (Needs validation)
- if the depending package contains data files in a sub-directory, these are transferred to th dependency, but the path in the archi

[2020-08-26 13:35] htgoebel commented on #5103
@coreydexter Since you have been working on multipackaging lately, maybe you want to give it a try?

[2020-08-26 14:31] keelung-yang commented on #4957
@htgoebel @simaoafonso-pwt
Ok then. If I run app N times, it extract N times with same files, even if `--runtime-tmpdir`

WHAT I WANT TO DO IS: run N times, extract ONLY ONE time.

`--onedir` show too many files to end users, its clear and simple if there is only one file.

[2020-08-26 15:12] simaoafonso-pwt commented on #4957
Build with `--onedir` and distribute that in a zip.

Make an installer or self-extracting ZIP file, if the user is too confused by too many files on a folder, that allows to create a shortcut on the Desktop.

---

Yet another option:
- Build with `--onedir`, on a subfolder
- Make a shortcut to the "main" executable

Something like:

[code]

That way, the user only sees a folder and a thing to doub

[2020-08-26 23:38] samtanderson commented on #4213
Seems like this issue is still lurking.
When building a file using the following, I get `<NULL>` error and traceback

`pyinstaller --onefile --icon=favicon.ico --noconsole --windowed calcPatch.py --debug all`

Everything works correctly and forms a running application when dropping `--noconsole` . Seems strictly related to this parameter.

[2020-08-26 23:57] coreydexter commented on #5103
Yes I can take a look at it

On Wed, Aug 26, 2020 at 11:36 PM Hartmut Goebel <notifications@github.com>
wrote:

[2020-08-27 00:12] glennra opened #5104 "Failed to execute script pyiboot01_bootstrap"
## Description of the issue
When launched the frozen executable displays a message box with "Failed to execute script pyiboot01_bootstrap" .

## Context information (for bug reports)

* Output of `pyinstaller --version`:

[code]
Wasn't expecting the above error. The version is the 4.0 tagged version from the github master branch

* Version of Python :3.7.8
* Platform: Windows 10 build 2004
* Did y

[2020-08-27 01:04] keelung-yang commented on #4957
@htgoebel Why not just behaving as .pyc? just add a bool argument `--runtime-cached`.
If  `_MEI_SHA1_OF_APP` existed then skip extracting, run `_MEI_SHA1_OF_APP/app` directly, or extracting firstly.

@simaoafonso-pwt All you mentioned methods either need additional work for developers or end users, or make things more complicated. There is a simple way as described above.