[2015-09-04 17:12] #1126 closed

[2015-09-04 17:16] htgoebel commented on #1370
@matysek Do you still want to rename the top-level, then please push to Milestone 3.1. Or can we close this ticket?

[2015-09-04 17:18] htgoebel commented on #1343
We should do this prior to release 3.0 to get a clean interface for the users.

[2015-09-04 17:25] htgoebel commented on #541
test_eggs1 now passes, see ce50cb9fc and now closed #1362.

[2015-09-04 17:25] #541 closed

[2015-09-04 17:38] htgoebel commented on #669
This clound to be related to #362

[2015-09-04 17:41] htgoebel commented on #1430
Is this solved already? See https://github.com/pyinstaller/pyinstaller/issues/1382#issuecomment-131452540

[2015-09-04 18:42] matysek commented on #1374
@htgoebel Could this be closed?

[2015-09-04 19:05] matysek commented on #1309
This requires a lot of work, removing from `PyInstaller 3.0` milestone.

[2015-09-04 19:08] matysek commented on #502
@htgoebel Is this already done?

[2015-09-04 19:22] matysek commented on #542
I did some research and it is mostly done.

[2015-09-04 19:22] #542 closed

[2015-09-04 19:25] matysek commented on #689
PortablePython is not developed anymore and any of the following replacement is recommended (Not sure if PyInstaller works with them or not):
* https://python-xy.github.io/
* https://winpython.github.io/
* https://store.continuum.io/cshop/anaconda/
* https://www.pythonanywhere.com/

[2015-09-04 19:25] #689 closed

[2015-09-04 19:30] adammenges commented on #1430
@htgoebel: I haven't gotten it working, but I'm more then willing to checkout a branch/commit/tag and give it a go. Which one would you like me to try?

[2015-09-04 19:31] matysek commented on #795
This should be already fixed and nobody new ever complained about it anymore.

[2015-09-04 19:31] #795 closed

[2015-09-04 19:44] matysek commented on #1370
@htgoebel I would like still to do that but there is no rush with it and it could wait.

[2015-09-04 19:59] matysek commented on #769
This should be fixed. I was not able to reproduce it with matplotlib 1.4.3. I added a test for this.

[2015-09-04 19:59] #769 closed

[2015-09-04 20:03] matysek commented on #769
According to http://stackoverflow.com/questions/18596410/importerror-no-module-named-mpl-toolkits-with-maptlotlib-1-3-0-and-py2exe it looks like this was related to #502.

[2015-09-04 20:08] matysek commented on #788
Should be fixed, `os.sep` is no longer in the new recipe: https://github.com/pyinstaller/pyinstaller/wiki/Recipe-Multiprocessing

[2015-09-04 20:08] #788 closed

[2015-09-04 20:34] Redsandro opened #1457 "[Wiki] Some notes about expected filesize"
I've seen packagers in the past include half the python libraries, resulting in 25 MB .exe files.

How does `pyinstaller` handle the packaging? What file sizes are expected?

Some notes on this are a welcome addition to the wiki.

[2015-09-04 21:11] codewarrior0 commented on #1457
Here ars a few examples for Windows apps built with `onefile`:

- Python 2.7, "hello world" app: 3.3MB
- Python 3.4, "hello world" app: 4.9MB
- Python 2.7, medium sized app using PySide, numpy, PyOpenGL, and others: 27.4MB

`onefile` apps are pretty slim, since they can compress the python libraries. `onedir` apps can be 50-100% larger.

[2015-09-04 21:34] matysek commented on #768
This should be fixed:
* `python3` branch no longer uses fake `site` module
*  test_ipython works.

[2015-09-04 21:34] #768 closed

[2015-09-04 21:37] matysek commented on #762
If this is still an issue please reopen it.

[2015-09-04 21:37] #762 closed

[2015-09-04 21:47] matysek commented on #811
Does not contain much information for reproducing this issue and also  there are other reports related to pysub that are being worked on.

[2015-09-04 21:47] #811 closed

[2015-09-04 22:07] matysek commented on #836
applescript is outdated and fails with some other errors so it is hard to reproduce this error.

[2015-09-04 22:07] #836 closed

[2015-09-04 22:13] matysek commented on #1360
@htgoebel Do you think this should be done for 3.0 milestone?

[2015-09-05 07:47] AcidWeb opened #1458 "PyQt 5.5 bundling don't work correctly"
Apparently something changed in PyQt 5.5 as both pyinstaller and py2app can't bundle needed files anymore.

https://gist.githubusercontent.com/AcidWeb/4eabc71ac2114da779de/raw/b0e052a3936905b106c1f241c3851b508f5dc288/gistfile1.txt

Additionally entire process crash with error:
`Security-Alert: try to store file outside of dist-directory. Aborting. '/usr/lib/libc.dylib'`

Tested on OS X 10.10 and 1

[2015-09-05 08:10] htgoebel commented on #1430
@adammenges I would appreciate if you would test this ASAP. The current python3 branch head is the one to check out.

[2015-09-05 08:13] htgoebel commented on #1457
Would someone mind adding this to the wik?

[2015-09-05 08:14] htgoebel commented on #1360
@matysek I would like to have this for the 3.0 release, but I'm afraid we will not make it until then. Fixing the bugs is more important.

[2015-09-05 08:15] htgoebel commented on #1458
Please provide more information, see https://github.com/pyinstaller/pyinstaller/wiki/How-to-Report-Bugs

[2015-09-05 08:40] AcidWeb commented on #1458
I don't really have anything to add. I'm mentioning this issue mostly because py2app also fail similar way with QT 5.5. So it look more like generic error caused by some change in QT/PyQT itself.

When using QT 5.4.* bundle frameworks correctly but pyinstaller crash with Security-Alert.

I don't use pyinstaller for this project yet so I don't have any tweaked spec file. It is output of bare pyinst

[2015-09-05 08:51] FinlayDaG33k opened #1459 "14 ERROR: You are running PyInstaller as user root. This is not supported"
this error showsup when using PyInstaller, yet the only user I have on my system is root (Kali Linux)... how do I solve this without making another user?

[2015-09-05 08:57] matysek opened #1460 "allow attributes 'binaries' and 'datas' in spec file"
Allowing attributes 'binaries' and 'datas' in spec file will simplify the datafiles recipe and make it much easier for users to supply own data files or binaries.

Syntax of `datas` and 'binaries' would be the same as in import hook files and even glob statements would be allowed.

Snippet of a customized .spec file with datas:
[code]

[2015-09-05 09:02] codewarrior0 commented on #1459
In `utils/misc.py`, edit the function `check_not_running_as_root()` to return `True`.

[2015-09-05 09:02] FinlayDaG33k commented on #1459
Did it thanks!

[2015-09-05 09:09] #1459 closed

[2015-09-05 09:13] FinlayDaG33k opened #1461 "Not generating an exe?"
Pyinstaller does for some reason not generate an exe?
it showsup my scriptname in build, but it's not an exe (the extension isn't there, and when I rename it, it doesn't run properly)

the helloworld.py:
[code]

[2015-09-05 09:56] #1460 closed

[2015-09-05 10:56] Redsandro commented on #1457
Thanks for this information. Too bad medium apps get this huge.

I added this to the wiki here: https://github.com/pyinstaller/pyinstaller/wiki/FAQ#features point 3.

Is there a difference in packaging process (filesize) when you do
`from library import feature` as opposed to
`import library`?

[2015-09-05 15:47] htgoebel commented on #502
This is done - according to https://github.com/pyinstaller/pyinstaller/issues/1283#issuecomment-131061632, even support for `pkgutil.extend_path()` is implemented. Thanks for reminding my on this issue.

[2015-09-05 15:47] #502 closed

[2015-09-05 15:51] htgoebel opened #1462 "Rework and comment the test-cases for pkgutil.extend_path()"
This is a follow up to #1283 (see https://github.com/pyinstaller/pyinstaller/issues/1283#issuecomment-131061632).

The `python3`-branch supports `pkgutil.extend_path()`. But the test-cases (`import/test_nspkg3*.py`).work only "basically", because `pkgutil.extend_path()` behaves different from the other namespace-techniques if zipped eggs are involved. And this is the case in the current test-case.

[2015-09-05 15:56] htgoebel commented on #769
ACK. The code there shows it is using `pkg_resources.declare_namespace()`, which PyInstaller supports (see https://github.com/pyinstaller/pyinstaller/issues/502#issuecomment-129922052).

[2015-09-05 15:58] htgoebel commented on #1457
No, in both cases `library` will be imported and thus included into the frozen app.

[2015-09-05 15:58] #1457 closed

[2015-09-05 16:05] htgoebel commented on #1460
Good idea!

[2015-09-05 16:07] htgoebel commented on #1461
Please read the manual, look at https://github.com/pyinstaller/pyinstaller/wiki/If-Things-Go-Wrong and https://github.com/pyinstaller/pyinstaller/wiki/How-to-Report-Bugs. Thanks.

[2015-09-05 16:07] #1461 closed

[2015-09-05 16:09] htgoebel commented on #1370
@matysek I'm still wondering why.

[2015-09-05 16:15] htgoebel commented on #1323
So I'm closing this as fixed.

[2015-09-05 16:15] #1323 closed

[2015-09-05 16:16] htgoebel commented on #1335
Postboning

[2015-09-05 16:18] #1283 closed

[2015-09-05 16:22] htgoebel commented on #810
This is an old issue, we never managed to reproduce, and my request for restarting the search is 10 month old without answer. So I'm closing this as invalid.

[2015-09-05 16:22] #810 closed

[2015-09-05 16:24] htgoebel commented on #1351
Post-boning this cleanup to milestone 3.1

[2015-09-05 16:26] htgoebel commented on #1349
As reproducing this is more complicated, I'm post-boning to milestone 3.1

[2015-09-05 16:44] htgoebel commented on #967
Post-boning features to milestone 3.1

[2015-09-05 16:49] htgoebel commented on #1374
This can be closed. Reworking the tests is still open, but there is pull-request #1452 for this:

[2015-09-05 16:49] #1374 closed

[2015-09-05 18:48] matysek commented on #967
This is actually implemented I just wanted to add small improvements.

[2015-09-06 03:42] xulai1001 commented on #1291
confirmed when using current HEAD (July 29, 9d0e0ad ), still got error 14001 with 64-bit os & python
(I was packaging a tiny django site)
When I rollback to 67610f2 revision, however, the #1067 problem ( cannot merge list with str) occured.

[2015-09-06 03:47] codewarrior0 commented on #1291
Python version? Side-By-Side error information?

[2015-09-06 08:59] AcidWeb commented on #1458
Problem occurs only when official binary QT installation is used to compile PyQt.
When QT is compiled thru brew all files are bundled correctly.

So IMHO this is upstream bug and it can be closed.

[2015-09-06 11:09] FinlayDaG33k commented on #1461
I've read the documentation carefully, yet there is still no exe.
all dependencies are installed.

[2015-09-06 14:47] #1458 closed

[2015-09-06 14:49] htgoebel commented on #1461
We still need *much* more information. "It doesn't work" is no point for starting to find out where there could be a problem.

[2015-09-06 16:03] FinlayDaG33k commented on #1461
I use command:
'pyinstaller --onefile helloworld.py -n helloworld.exe'

but the .exe is not able to run in windows, but is able to run in Linux
using the c9.io IDE to compile

[2015-09-06 16:22] htgoebel commented on #1461
PyInstaller does not support cross-freezing.

This was my last answer on this issue until you give *all* the information we request on https://github.com/pyinstaller/pyinstaller/wiki/How-to-Report-Bugs

[2015-09-06 17:18] FinlayDaG33k commented on #1461
Please make the documention so that people can actually do what why they use this script:
compile a python script to an windows exe script :)

[2015-09-06 17:35] matysek opened #1463 "manual - document new hook types (Post-create package hooks, In-safe import hook hooks)"
Pull request #1393 will introduce new hook types (Post-create package hooks, In-safe import hook hooks)

This new hook types should be well documented and as well how to migrate from old-fashionated hooks to any of these types.

[2015-09-06 17:36] matysek commented on #1463
@htgoebel Not sure if this should go to 3.1 or 3.0.1 milestone?

[2015-09-06 18:29] tallforasmurf commented on #1461
See in the doc, third paragraph under this heading:
http://pythonhosted.org/PyInstaller/#overview-what-pyinstaller-does-and-how-it-does-it

The output of PyInstaller is specific to the active operating system and

This is what Hartmut means by "PyInstaller does not support
cross-freezing." If you want a windows app, you must run PyInstaller on
Windows.

[2015-09-06 18:39] FinlayDaG33k commented on #1461
Weird, because every tutorial I follow says it will compile a windows exe even from the Linux environment since 1.4 :\

[2015-09-06 18:53] FinlayDaG33k commented on #1461
Managed to get it to work after fidling around with ActivePython and Pywin32 :)

[2015-09-06 19:01] matysek commented on #1460
@tallforasmurf This is something you could document in the manual :-)

[2015-09-06 19:28] matysek opened #1464 "update changelog / readme / credits.txt for PyInstaller 3.0"
This is the current changelog in `doc/CHANGES.txt` in `python3` branch:
[code]
TODO list:
* ~~reformat the changelog to RestructuredText, use `rst2html` for testing~~
* ~~include `doc/CHANGES.txt into `long_description` for pypi~~
* ~~include `README.rst` into `long_description` for pypi~~
* update `doc/CREDITS.rst` based on merged pull requests for release 3.0.
* *update `doc/CHANGES.txt` from co

[2015-09-06 20:34] htgoebel commented on #1406
Should be implemented in 3.0, as most of the hooks using this need to be touched for removing `add_binary` and `add_data`.

[2015-09-06 20:35] htgoebel commented on #1464
What do you think about sorting the changes by importance? For me, the most important user-visible changes are:
- Added support for Python 3.3 and 3.4
- Removed support for Python 2.6 and lower
- Full unicode-support in the bootloader ... list some of the issues solved by this

[2015-09-06 20:40] htgoebel commented on #1463
IMHO the documentation should be written after the dust has saddled. We'll see when this is done

[2015-09-06 20:55] codewarrior0 commented on #1464
The two big issues solved by the unicode support are only present on Windows:

- Python 2.7 apps can now run from paths with non-ASCII characters
- Python 2.7 `onefile` apps can now run for users whose usernames contain non-ASCII characters

Aside from that, full unicode support was *required* to properly support Python 3, since the Python 3 API is unicode-only in a lot of places.

[2015-09-06 21:59] tallforasmurf commented on #1460
Question is, will this be exposed also as a command line argument, --datas=path etc? Or only by editing spec?

Sent from my iPhone

[2015-09-07 04:12] cam82 commented on #1454
Hi,

I migrated the application code in my example to python 3 and pyinstaller 3 and is having the same exact issue.
I already went trough the link you sent me and I do not see any issue from my side. Furthermore launching the application by executing

open gui.app/Contents/MacOS/gui
works perfectly fine.

It does not start only if I try to launch the app itself: open -a gui.app --> fail
7/09/2015

[2015-09-07 04:43] codewarrior0 commented on #1454
The first thing to try is a debug build:

`pyinstaller -w --debug guiTest.py`

That will give you more output in Console when you double click the app.

[2015-09-07 05:27] cam82 commented on #1454
Thanks for the tip!
I enabled debugging and the console output is exactly the same when the app works or when it does not. (except for the last 3 lines where I get the crash report)

I checked with diff
![diff](https://cloud.githubusercontent.com/assets/3450547/9709754/b1e0ffb2-5574-11e5-9436-f731d9d05386.png)

[2015-09-07 05:53] codewarrior0 commented on #1454
It says it saved a crash report for the crash. Why don't you post that, too?

[2015-09-07 07:42] cam82 commented on #1454
Here you go!
[code]

[2015-09-07 08:01] matysek commented on #1460
It could be exposed. I'm not sure about the format for command line arguments because `path` usually conists of two items:
[code]
Do you have any suggestion how this could be expressed as cli arguments?

[2015-09-07 08:12] codewarrior0 commented on #1454
My gut instinct is that `Tk` is freaking out because the stdio streams are closed. Correct me if I'm wrong: When you do `open test-gui.app`, the OS X LaunchServices launches the app in GUI mode with no stdio. But when you do `open gui.app/Contents/MacOS/gui`, it opens another window in the Terminal application where you can see the app's stdio.

[2015-09-07 08:16] matysek commented on #1454
@cam82  when you use the --w and --debug options what messages do you get in the `OS X Console`? By OS X Console I mean the OS X utility, where you can see syslog messages from all OSX apps. The created .app bundle should print there some messages: `All apps -> Other -> Console`

[2015-09-07 12:53] Csega commented on #1365
Guys! It works now! :) I'm really happy, thanks! :) With the latest commit (this one: https://github.com/pyinstaller/pyinstaller/commit/76c5c2f58a3dceaf95cc50153d27fbe49f734e1a) it works! However, I found a new issue with scipy.linalg, I'll open a ticket for it in a minute. ;)

[2015-09-07 12:57] Csega opened #1465 "scipy linalg import does not work"
Hi Guys!

I just found, that when import the following statement:

[code]

It works with Python, PyInstaller generate the exe file for it, but when I try to run the exe, it gives the following error message:

[code]

I'm using Python 3.3.5 (32 bit) on Windows 8.1 (64 bit) with scipy 0.16.0 (official release through pip).

How can I solve this? Please help!

[2015-09-07 17:02] adammenges commented on #1430
@htgoebel unfortunately it ends in the same way: `Security-Alert: try to store file outside of dist-directory. Aborting. '/usr/lib/libobjc.dylib'`

https://gist.github.com/adammenges/3cc0e4cade2b517b7371

[2015-09-07 23:50] cam82 commented on #1454
Hi Matysek,

Here the output of the console. (As mentioned before it is the same between a working and non working instance except for the last 3 messages when it crashes)

[code]

[2015-09-08 00:32] tallforasmurf commented on #1454
The key message here is this:

  selector gestaltSystemVersion is returning 10.9.5 instead of
  10.10.5...

If you search on the phrase "Gestalt selector gestaltSystemVersion is
returning" you get
many, many hits. Apparently this method for some reason refuses to return a
two-digit version "10" and changes it to "9" and this causes the caller to
go wrong.
Abort trap 6 is apparently (I can't find f

[2015-09-08 09:04] htgoebel opened #1466 "Fix security alert when using ctype with an absolute path for the lib"
This is the ticket for what is described in https://github.com/pyinstaller/pyinstaller/pull/1452#issue-104772547

and https://github.com/pyinstaller/pyinstaller/pull/1452#issuecomment-138097402:

[2015-09-08 09:05] htgoebel commented on #1430
@adammenges IC. This is a different issue, see #1466, blocking this one.

[2015-09-08 09:18] htgoebel opened #1467 "Implement "monkey-patching" spec-files for generating test-cases"
If a test-case needs to pass some extra or different argument to the .spec-file we currently need to provide the whole spec-file. This has some draw-backs:
- The diff of the special .spec-file to a standard one is hard to spot (except one is documenting the change, which is rarely the case)
- These spec-files need to be maintained

My idea is to implement some kind of "monkey-patching" the .spec-f

[2015-09-08 13:24] matysek commented on #1465
Could you try installing scipy from http://www.lfd.uci.edu/~gohlke/pythonlibs/?

[2015-09-08 13:26] matysek opened #1468 "update FAQ to reflect PyInstaller 3.0"

[2015-09-08 14:30] Csega commented on #1465
I tried, but it gives the same... :(

[2015-09-08 14:55] htgoebel commented on #1465
Please step-by-step follow the instructions in https://github.com/pyinstaller/pyinstaller/wiki/How-to-Report-Bugs#make-sure-everything-is-packaged-correctly, esp. the `pyi-archiveviewer?-part to see the archive content. There should be a `scipy.linalg` module in the embedded PYZ.

[2015-09-08 14:58] htgoebel opened #1469 "Remove unittests from scipy"
When looking at [`scipy/__init__.py`](https://github.com/scipy/scipy/blob/master/scipy/__init__.py#L59), I have the impression, that scipy's whole unittest-suite is included. We should exclude it.

[2015-09-08 15:29] htgoebel opened #1470 "Cleanup useless line-continuation with `\`"
E.g. in hookutils.

[2015-09-08 15:57] htgoebel commented on #1405
I eliminated `add_binary` and `add_datas`, see https://github.com/htgoebel/pyinstaller/tree/1405-eliminate-add_binaries-add_datas. I'll pull-request and merge as soon as the CI tests pass.

[2015-09-08 15:59] htgoebel commented on #1406
After eliminating  `add_binary` and `add_datas` (see https://github.com/pyinstaller/pyinstaller/issues/1405#issuecomment-138608759), all useless `hook()` functions in hooks are gone. too. So I'm closing this.

[2015-09-08 15:59] #1406 closed

[2015-09-08 16:07] htgoebel opened #1471 "Rename ...utils.hooks.hookutils into ...utils.hooks"
After watching (parts of)  David M. Beazley's tutorial [Modules and Packages: Live and Let Die!](http://www.dabeaz.com/modulepackage/) I decided to *definitely* cleanup the ugly package-name `PyInstaller.utils.hooks.hookutils`.

**This should be simply called `PyInstaller.utils.hooks`.**

I'm going to rename `hookutils.py` to `__init__.py` as soon as laycec finished his work on the new hooks. @ley

[2015-09-08 16:35] htgoebel commented on #1405
@matysek: I wonder what is the difference between `excludedimports` and those removed using `del_import`. The later ones are simply passed to [`mod_graph.removeReference()`](https://github.com/pyinstaller/pyinstaller/blob/python3/PyInstaller/building/imphook.py#L300), while for the former once we have [a lot of code](https://github.com/pyinstaller/pyinstaller/blob/python3/PyInstaller/building/imph

[2015-09-08 16:37] matysek commented on #1469
Does this mean modify `collect_submodules()` to something like this?
[code]

[2015-09-08 16:39] htgoebel commented on #1469
I did not look into this yet. But I assume, yes.

[2015-09-08 18:22] htgoebel commented on #1357
For the records: Neither of these approaches work:
[code]
Removing `recursive-include PyInstaller *` from `MANIFEST.in` does not work either.

[2015-09-08 18:23] adammenges commented on #1430
@htgoebel Cheers

[2015-09-08 18:33] htgoebel commented on #1357
Okay, when thinking on this, the reason is obvious: `pefile_py2` is not a package :-) So the solution would be to make it a package by renaming to `pefile_py2/__init__.py`. But this does not solve the issue either :-( The file is still included and compiled.

[2015-09-08 20:03] matysek commented on #1405
@htgoebel I think 'del_import' was supposed to work the way `excludedimports` works.

[2015-09-09 01:32] cam82 commented on #1454
Hi,
I get the same message also when I launch the application form the CLI and it works just fine.
Also my code is not calling that method. Is probably coming from Tkinter.

Cam

[2015-09-09 08:09] wirehack7 opened #1474 "PE not built, but shows it is built"
When I want to compile a PE (.exe) it shows it has been built, but there is no PE built:

[code]

[2015-09-09 13:19] Csega commented on #1465
I read and followed the steps and I succeeded. The module was missing.

I had success with the following command:
pyinstaller test.py --onedir --log-level=DEBUG --hidden-import=scipy.linalg --hidden-import=scipy.linalg.cython_blas --hidden-import=scipy.linalg.cython_lapack

I tried to formulate this experience in a hook-file, but what I tried to make wasn't successful. I made two hook files,
one w

[2015-09-09 14:12] tartley commented on #1436
Confirmed this now works fine for me on the tip of python3 branch. Thanks everyone, you rock!

[2015-09-09 14:36] matysek commented on #967
I did a redesign of the hook and simplified it.

[2015-09-09 14:36] #967 closed

[2015-09-09 16:53] bsavelev opened #1476 "something strange with python-rpm"
I try to pack simple app that use python-rpm (4.11.3-1.1, from Debian 8) with PyInstaller==2.1
[code]

Pack --onedir
[code]
and run
[code]

strace -ff -etrace=open ./dist/test/test
[code]

Ooook. It's a first bug. Why it looks into dist/test/rpm dir and not found in dist/test?
Create dir and copy so
[code]
and run
[code]

```error: Failed to initialize NSS library``` is it an another bug?

rpm.tra

[2015-09-09 19:24] matysek commented on #1476
@bsavelev Could you try the `python3` branch? There is now the main development focus and we'd like to release a new version in a month or so.

[2015-09-09 19:31] matysek commented on #1474
@wirehack7 Could you be more specific what does not work for you?  The app was generated and you haven't posted any failure. And you haven't even try to run your created executable:
[code]

[2015-09-09 20:48] codewarrior0 commented on #1474
Cross-compiling is not supported. To build a Windows PE .exe, you need to use Windows.

[2015-09-10 01:27] matysek commented on #1465
It's weird that `scipy.linalg` is not found even when explicitly imported in your code. It looks like this issue is similar to #1430 . @Csega could you look at it to confirm it is similar?

[2015-09-10 05:30] wirehack7 commented on #1474
Ah, thought there cross compiling was made possible, thank you. Yes, on Windows it's compiled as PE.

[2015-09-10 05:32] #1474 closed

[2015-09-10 08:02] bsavelev commented on #1476
just try with
[code]
First error gone away.
The two last are present:
[code]

[2015-09-10 09:18] matysek commented on #357
For pyside there already is a test case.

[2015-09-10 09:24] Csega commented on #1465
I just read through the thread you mentioned, and yes, it seems similar to me. Additionally, I found an explicit relative import error with h5py. I get the following error message:

[code]

However, I hidden-imported the h5py._errors module, and it is in the list (in --onedir mode):

[code]

[2015-09-10 10:07] shrx commented on #703
Just came to say I'm looking forward to this, IMO it's a really useful addition.

[2015-09-10 10:59] Csega commented on #1465
I can get rid of the error by using the following hidden imports:

--hidden-import=h5py._errors --hidden-import=h5py.defs --hidden-import=h5py.utils --hidden-import=h5py.h5ac --hidden-import=h5py._proxy

[2015-09-10 13:23] htgoebel commented on #1367
Some summary of the insights found in https://github.com/pyinstaller/pyinstaller/pull/1393#issuecomment-138739193 and following:

* The "old" implementation of the `wx.lib.pubsub*` hooks is wrong, because the default pubsub is *not* `kwargs` but `v1` (or maybe even no default at all, depending on the version of wx)
* The order in which the old imptracker is processing imports is *unpredictable* (o

[2015-09-11 07:54] matysek commented on #1460
@tallforasmurf Related issue for cli arguments is probably #703 .

[2015-09-11 09:04] ctulhu opened #1479 "Error 'pip install pyinstaller' for Python 3.4.3 Win"
I see error:
[code]

For bug reproduce:
[code]

OS: Windows 8.1 Enterprise 64-bit
Python version 3.4.3

[2015-09-11 09:07] matysek commented on #1476
* What tells you command `ldd dist/test/rpm._rpm.so`?
* Are `libnss*` in dist/test directory?
* `libnss*` are excluded by default on Linux (file PyInstaller/depend/dylib.py). Could you try to comment out lines like `r'/libnss_*` and try again?
* This issue looks like a question whether `libnss` should be on Linux bundled or not by default.

[2015-09-11 09:15] htgoebel commented on #1479
PyInstaller 2.1 does not support Python 3. Even the categories in PyPi tell so, just pip ignores them.
Use
`pip install https://github.com/pyinstaller/pyinstaller/archive/python3.zip`

[2015-09-11 09:15] #1479 closed

[2015-09-11 09:26] htgoebel commented on #1479
I just updated the wiki to hold this information

[2015-09-11 09:41] matysek opened #1480 "Appveyor tests are waiting on something (times out)"
The appveyor jobs run out of time:

* The log says that tests finished in 20 minutes but
* the job times out after 40 min.

Pytest is probably waiting on some subprocesses. My gues is that it might be related to `test_interactive.py`.

[2015-09-11 09:56] bsavelev commented on #1476
[code]

[code]

excluding ```libnss_*``` doesn't help

BUT!
As you can see in first code block (ldd) rpm._rpm use libnss3.so which have own nss plugins...
I do this:
[code]

And test program works well.

So I need special hook for libnss3 to copy it own plugins?

[2015-09-11 10:14] matysek commented on #1480
Running all tests on Windows 7 confirms that 'test_interactive.py::test_pyside' keeps pyside window opened even after running the tests. Appveyor probably waits even for the pyside window to exit.

[2015-09-11 10:24] matysek commented on #1480
https://docs.python.org/3/library/subprocess.html#module-subprocess This tells that subprocess should be killed when timed out but probably it is not the case everywhere.

[2015-09-11 10:34] htgoebel commented on #1480
Adding a (qt-) timer to the script could be a solution.

[2015-09-11 11:16] matysek commented on #1476
Probably. But here are some questions:
* How does libnss determine path where to load its plugins? LD_LIBRARY_PATH?
* Could be `libnss3` considered as something that has stable api and is available in every linux distribution?
* Do you think that pyinstaller should bundle `libnss3` by default or ignore it?
* Does your app work when you remove all 'libnss3*' files and its plugins from `dist/test` d

[2015-09-11 11:39] htgoebel commented on #1480
I just pushed https://github.com/pyinstaller/pyinstaller/tree/issue-1480-Appveyor-timeout-out implementing the timer. Let's see if this solves the issue

[2015-09-11 11:55] matysek commented on #483
This ticket is too old. Closing.

[2015-09-11 11:55] #483 closed

[2015-09-11 11:59] matysek commented on #1381
* I created a `3.0.dev0` prerelease: https://pypi.python.org/pypi/PyInstaller/3.0.dev0
* It can be installed by:
[code]

[2015-09-11 12:06] bsavelev commented on #1476
I belive that it defined at compile time

Libnss has backcompat feature (http://upstream.rosalinux.ru/versions/nss.html) but it not in every distro in core (in every repo, maybe. chromium, for example use this lib)

I think it should be bundled

Yes, it work, but in runtime use system libnss.
[code]

[2015-09-11 12:14] matysek commented on #1476
Thanks. Could you find out what files exactly should be bundled? libnss3, libnssutil, plugins, etc?

[2015-09-11 12:15] htgoebel commented on #1476
Since it is similar to openssl, I would handle it like openssl.

[2015-09-11 13:09] matysek commented on #1476
I think postponing this for 3.1 is fine.

[2015-09-11 13:33] matysek commented on #1381
* I will try to do next prerelease `3.0.dev1` signed.

[2015-09-11 15:03] tallforasmurf commented on #1460
I knew there was SOME reason this seemed like such a good idea...

[2015-09-11 21:26] tallforasmurf opened #1481 "COPYING.TXT needs attention before 3.0 release"
"About the PyInstaller Development Team" is perhaps out of date, or at least the embedded date "as of 2013" needs to be changed. Related: the file doc/credits.txt omits at least a couple of names that have been contributing a lot in recent months.

IANAL but the runtime-exception language seems rather loose to me. Perhaps you can find someone who is a lawyer to look at https://www.gnu.org/licenses

[2015-09-12 09:28] htgoebel commented on #1360
Images are at https://web.archive.org/web/20140701132655/http://www.pyinstaller.org/wiki/PyInstallerLogos

[2015-09-12 10:13] htgoebel commented on #1360
I just pushed an initial version of a new web-site.The existing index.html is kept since this page still needs some tuning.

[2015-09-12 17:30] topiwala opened #1482 "Forcing the use of packaged python interpreter"
I've packaged my code in Ubuntu 14.04 LTS, and when the binary is run on a fresh Ubuntu 14.04 LTS, it works fine (It has the same Python interpreter 2.7.6).
However, when run on Fedora 18, which has a different interpreter (2.7.9), it doesn't work (fails on a Popen call that invoked subprocess._execute_child with the message "no such file or directory"

I think this is because it's trying to use t

[2015-09-12 17:55] matysek commented on #1482
@topiwala could you try the python3 branch?

[2015-09-12 18:22] topiwala commented on #1482
My code extensively uses Python 2.x features, and as such will not work with the Python3 interpreter. Moving my codebase to Python3 is a much larger exercise that I'd like to avoid. Is there any relation between the Python3 branch, and the interpreter?

[2015-09-12 18:27] topiwala opened #1483 "Packaging binaries used from within Python"
How does one package large binaries (like gcc, say)?
I've tried the simple:

a.binaries += TOC([('gcc', '/usr/bin/gcc', 'BINARY')]), where a is the Analysis object. I see it in the PKG.TOC, but it doesn't seem to work when called from inside my python code in a pristine Linux environment with no gcc.

[2015-09-13 01:26] codewarrior0 commented on #1376
I'm confident this is fixed now. Extra dependency entries are no longer added to manifest files so the SxS error caused by having two different versions of a dependency in one manifest will not happen anymore.

@mmolero, you may try again with the newest `python3` branch when you get a chance. (It works with Python 2.7 also). If you still get the same problem, I'll reopen the issue.

[2015-09-13 01:26] #1376 closed

[2015-09-13 01:28] codewarrior0 commented on #1291
Try again with the latest `python3` branch. I've just fixed a lot of problems related to assembly versions and manifest dependencies. I'm still waiting for more detailed info about the SxS error: [this wiki page](https://github.com/pyinstaller/pyinstaller/wiki/How-to-Report-Bugs#errors-specific-to-windows) describes how to get that info.

[2015-09-13 01:30] codewarrior0 commented on #1291
@psi29a I noticed you're using GDAL. A SxS error related to GDAL was reported in #1376, and I'm confident that error is fixed now.

[2015-09-13 01:33] codewarrior0 commented on #827
This is fixed. PyInstaller now follows policy redirects while searching for assemblies: If an executable requires version 21022 of the CRT90, but only version 30729 is installed, then version 30729 will be bundled with the executable (and all bundled manifests are updated to that version).

[2015-09-13 01:33] #827 closed

[2015-09-13 01:39] codewarrior0 commented on #1066
`pyi_path_executable` was recently made more robust, and tries to use platform-specific functions to get the *real, absolute* path to the executable instead of relying on `argv[0]`. This issue is probably fixed.

@ping13, if you could test this using the latest `python3` branch, your results would be helpful. (The branch also works with Python 2.7.)

[2015-09-13 01:48] codewarrior0 commented on #1483
I believe it is not enough to include only `/usr/bin/gcc`. I'm not too familiar with gcc, but I understand it is made up of a lot of different files - arch-specific gcc backends, stdlib headers, crt1 startup code, linkers and other support exes... and since a lot of those are full of platform- or distribution-specific code, I wouldn't expect it to work even if you did manage to bundle *all* of the

[2015-09-13 01:50] codewarrior0 commented on #1482
The `python3` branch has been compatible with Python 2.7 since sometime this summer. Give it a try!

[2015-09-13 06:29] psi29a commented on #1291
GDAL was only recently added (in master/trunk, not yet tagged and released), my problem with pyinstaller on windows was months before this (in our 0.18 release).

[2015-09-13 14:19] stefsmeets commented on #1350
I'm encountering the same problem. Running pyinstaller (2.1) on:

    import Tkinter
    Tkinter._test()

results in the same errors described by wahid. Is there a work-around for this?

[2015-09-13 15:03] wahid commented on #1350
What has worked for me is copying Tcl binary from "/System/Library/Frameworks/Tcl.framework" and Tk binary from "/System/Library/Frameworks/Tk.framework" to the output folder after the process completed.

[2015-09-13 15:35] htgoebel commented on #1350
Sorry, I pojnted you to the wrong version to use. Please use the current development version from the `python3` branch. See https://github.com/pyinstaller/pyinstaller/wiki#downloads for installation instructions.

[2015-09-13 16:22] htgoebel commented on #1483
If you need such a package like `gcc`, I strongly recommend using the operating-system mechanisms. `binaries` is meant for single files.

[2015-09-13 16:22] #1483 closed

[2015-09-13 16:23] stefsmeets commented on #1350
@htgoubel Using the python3 version results in the same errors.
@wahid This seems to work well, thanks!

[2015-09-13 18:39] mmolero commented on #1376
@codewarrior0 I've tried with the branch you said but the error is the same as in the beginning:

[code]
 And using the **Event Logs** I got the following:

[code]

So I can say  I still get the same problem, thanks in advance for your time!!!!

[2015-09-13 23:21] codewarrior0 commented on #1376
Could you try again, but this time run `pyinstaller` with the `--clean` option?

[2015-09-14 00:47] codewarrior0 opened #1484 "pefile.py using lots of CPU time (appveyor optimization)"
I built the `pyi_interact_pyside.py` test script under profiling and got this result:

[Profiler graph](http://i.imgur.com/jiKQByZ.png)

75% of the CPU time is spent in `bindepend.Dependencies` searching for binary dependencies by parsing the export and import tables of PE files using `pefile.py`. A quick look at `pefile.py` revealed a lot of low-hanging fruit - things like RVA ranges for sections

[2015-09-14 06:27] mmolero commented on #1376
@codewarrior0 Now It works!!!!! thanks

[2015-09-14 08:14] htgoebel commented on #1484
Should we aim for solving this in 3.1 already? Feel free to set it as milestone.

[2015-09-14 08:30] codewarrior0 commented on #1484
Nah, it's not that important. It would have a bigger impact on AppVeyor times than it would for any users. If we ever get impatient waiting for AppVeyor to finish, this is where to start.

[2015-09-14 08:32] #1480 closed

[2015-09-15 07:03] davidenkoization opened #1488 "Error with --onefile when having both pywin32 / pypiwin32 installed"
I am using Python 3.4.3 with the Anaconda 2.3.0 (64 bit) release on a 64-bit Winsows 7 computer and PyInstaller 3.0.dev1 to create an executable out of my python script. If I choose the onefolder option everything runs smoothly as wanted. When I use the --onefile option the creation of my exe works but when I run it the program I get following message:

WARNING: file already exists but should not:

[2015-09-15 07:23] codewarrior0 commented on #1488
I don't have any experience with using `multiprocessing` when frozen, so I don't know if this info still applies for PyInstaller 3.0, but have you read the [Multiprocessing Recipe](https://github.com/pyinstaller/pyinstaller/wiki/Recipe-Multiprocessing) page on the Wiki?

[2015-09-15 07:45] davidenkoization commented on #1488
thank  you, I will look into that and let you know if it solves my issues.

[2015-09-15 08:29] matysek opened #1489 "remove old COM server code"
Windows COM server is no longer supported:
* There was no new bug report related to COM server for a few years.
* It looks like it is not in use so it should be safe to drop all related code.

Cleanup files:
* ./utils/make_comserver.py
* ./PyInstaller/utils/cliutils/make_comserver.py
* ./bootloader/windows/dllmain.c
* ./bootloader/windows/dllmain.def

[2015-09-15 08:31] htgoebel commented on #1489
ACK

[2015-09-15 08:48] codewarrior0 commented on #1489
Dumb story that's not really related:

I got a bug report for MCEdit half a year ago: Whenever the user opened an "Open File..." dialog, the app would crash with an ImportError that indicated some py2exe internal module. I don't use py2exe, which made it really confusing. As it turned out, the user had installed some other 3rd party software that installed a COM server built with py2exe. It was re

[2015-09-15 19:27] tallforasmurf opened #1490 "Remove pyi-build"
Per Martin, "Yes, pyi-build should be dropped since it only duplicates the behavior of 'pyinstaller'
command."

[2015-09-15 21:21] jonnojohnson commented on #1291
I'm having the same issue using 2.1.1.dev0 checked out today.
I'm using Python 2.7.10 (64) via Anaconda on a WIn7 platform. I get this error when running the .exe on the same platform.

I followed the instructions above to get the trace.txt and get:
[code]

[2015-09-15 21:27] htgoebel commented on #1291
@jonnojohnson PyInstaller 2.1 is far outdated. Please try the current `python3` branch head or the preview release from PyPI and **report back here**. Thanks.

[2015-09-15 21:29] jonnojohnson commented on #1291
@htgoebel I have tried using the Python3 branch but it won't build at all. I get a max recursion depth exceeded issue there.

[2015-09-15 21:33] tallforasmurf opened #1491 "doc/source/Makefile use of _pyinstaller-options-options"
Manual.rst displays all options with one line of code, `.. include:: _pyinstaller-options.tmp` which is certainly a good idea.

However in build_main.py.\_\_add_options() the default values for --distpath and --workpath are set to \_\_init\_\_.py.DEFAULT_DISTPATH and \_\_init\_\_.py.DEFAULT_WORKPATH. Also a good idea.

But  `make html` in the doc/source directory builds _pyinstaller-options.tmp by

[2015-09-15 22:01] jonnojohnson commented on #1289
Just came across this issue I believe:
[code]

It then returns to the line:
[code]
then repeats.

Using:
Python 2.7.10 (64) on Win7
Pyinstaller 3.0.dev1 installed from zip on Github using pip today.
Matplotlib (1.4.3)

[2015-09-16 00:44] yniesp opened #1492 "Failed to run packaged GTK3 application on Mac OS"
(process:61069): GLib-GObject-CRITICAL **: g_param_spec_pool_lookup: assertion 'pool != NULL' failed
(process:61069): GLib-GObject-CRITICAL **: g_param_spec_pool_insert: assertion 'pool != NULL' failed
(process:61069): GLib-GObject-CRITICAL **: g_param_spec_pool_lookup: assertion 'pool != NULL' failed
Segmentation fault: 11

This is the output after I run the .app file directly, but I can directly

[2015-09-16 01:21] codewarrior0 commented on #1492
Not enough info. Read this: https://github.com/pyinstaller/pyinstaller/wiki/How-to-Report-Bugs

Since you're on OS X, also attach the CrashReporter log for the segmentation fault.

[2015-09-16 01:30] yniesp commented on #1492
Sorry, please see this crash report:
https://www.dropbox.com/s/o4pgg2m52dfkl69/main_2015-09-15-182538_Stevens-MacBook-Pro-212.crash?dl=0

Platform details:
sw_vers
ProductName:	Mac OS X
ProductVersion:	10.11
BuildVersion:	15A279b
python --version
Python 2.7.10
pyinstaller --version
2.1

[2015-09-16 01:32] codewarrior0 commented on #1492
Version 2.1 is outdated. Could you try the 3.0 prerelease version? `pip install -U --pre pyinstaller`

[2015-09-16 01:39] codewarrior0 commented on #1289
I can reproduce this with Anaconda 2.3.0 64-bit and the latest `python3` branch. I'll try to find out whether it's a deeply nested AST tree or whether it's a recursive loop.

[2015-09-16 01:49] codewarrior0 commented on #1289
ModuleGraph debug output indicates it is a deeply nested AST tree.

(ModuleGraph debug output is also slightly buggy. At some point it stops indenting the output and none of the output lines are indented.)

[2015-09-16 07:01] matysek commented on #1491
What about introducing a "hidden option" like `--doc-formatting' that would be like `--help` but `pyinstaller.py` will print the default values like CURRENT DIRECTORY/dist etc.?

[2015-09-16 07:30] leycec opened #1493 "Bootloader Uncompilable under OS X 10.6 (Snow Leopard)"
**Howdie, neighbour.**

The bootloader appears to assume Carbon system headers available only under OS X >= 10.7 (Lion); attempting to rebuild the bootloader under OS X 10.6 (Snow Leopard) yields the following fatal error:

[code]

Of course, `Process.h` only defines `kProcessTransformToForegroundApplication` under OS X 10.6; `kProcessTransformToBackgroundApplication` is undefined. According to `g

[2015-09-16 07:41] matysek commented on #1493
Does it fail on OS X only when compiling as 32bit? Have you tried 64bit?

[2015-09-16 07:45] codewarrior0 commented on #1493
This is going to sound like heresy:

We ought to hard-code the constant value of `kProcessTransformToBackgroundApplication`

The section of code that uses it is a workaround for some odd behavior on OS X 10.9 - I'm a bit murky on the details, but it was something about the application menu bar not updating while the app is launched.

If we used conditional compilation, tweaking `wscript` as you su

[2015-09-16 08:01] codewarrior0 commented on #1493
Oh, if you just want to get it working right away:

`kProcessTransformToBackgroundApplication = 2`

[2015-09-16 17:54] yniesp commented on #1492
Thank you for your reply. I still get the similar error from the output:
(process:72905): GLib-GObject-CRITICAL **: g_param_spec_pool_lookup: assertion 'pool != NULL' failed
(process:72905): GLib-GObject-CRITICAL **: g_param_spec_pool_insert: assertion 'pool != NULL' failed
(process:72905): GLib-GObject-CRITICAL **: g_param_spec_pool_lookup: assertion 'pool != NULL' failed
(process:72905): Gtk-CRI

[2015-09-16 21:34] glennra opened #1494 "Code in hookutils.py is not Python 2 compatible"
In Python 2 the str() function takes only one parameter.
https://github.com/pyinstaller/pyinstaller/blob/python3/PyInstaller/utils/hooks/hookutils.py#L431

[2015-09-17 02:54] codewarrior0 commented on #1289
It seems the only solution is to change modulegraph to use no recursion when adding modules. Instead of having `_scan_code` indirectly call `_safe_import_hook` via visitor methods, it should instead push the imports it finds onto a queue to be processed outside of `_scan_code`. What I'm not sure of is the proper time to process this queue.

My first attempt at this seems to be broken because I'm n

[2015-09-17 07:25] codewarrior0 commented on #1494
Should be fixed now.

[2015-09-17 07:25] #1494 closed

[2015-09-17 08:21] sechacking opened #1496 "can not us upx"
hi,

so,first i have upx

[root@ops bincache01_py27]# whereis upx
upx: /usr/bin/upx /usr/share/man/man1/upx.1.gz
[root@ops-pdc-02 bincache01_py27]# upx -v
                       Ultimate Packer for eXecutables
                          Copyright (C) 1996 - 2013
UPX 3.91        Markus Oberhumer, Laszlo Molnar & John Reiser   Sep 30th 2013

Usage: upx [-123456789dlthVL] [-qvfk] [-o file] file..

Com

[2015-09-17 08:26] codewarrior0 commented on #1496
The executable produced by pyinstaller is in `./dist`. It is not in `bincache01_py27`.

`cd` to the folder containing your `software_port_script.py` and start over.

[2015-09-17 08:47] sechacking commented on #1496
@codewarrior0 thanks,i konw the script is in dist,i mean is upx file in bincache01_py27?

[2015-09-17 08:48] sechacking commented on #1496
@codewarrior0  in dist,the script seem like not upx....so i don't konw what wrong

[2015-09-17 08:56] codewarrior0 commented on #1496
The executable in `dist` should be compressed with UPX.

You can compare the sizes by running pyinstaller once normally, and then running it again with the `--noupx` option.

[2015-09-17 09:11] htgoebel commented on #1289
In https://github.com/htgoebel/pyinstaller/commit/d832ad6425261e0d24bd76100b02fe515dfd7d7b I've implemented something like this (and more). But according to leycec's description about tree invariants (https://github.com/pyinstaller/pyinstaller/pull/1393#issuecomment-139492918), this very code *seams* to break the modulegraph invariant. But then again, if `_process_imports` in `_scan_code`, the inv

[2015-09-17 09:44] htgoebel commented on #1491
Indeed "hidden option" seams to be possible:
- with argparse: `help=argparse.SUPPRESS`
- with optparse: `help=optparse.SUPPRESS_HELP`

But help is generated at the same time `--doc-formatting` is evaluated. So changing the help-message to a fixed value as suggested above seams to be the best solution.

[2015-09-17 09:46] htgoebel commented on #1360
I'l take core of at least a elementary front page.

[2015-09-17 10:22] sechacking commented on #1496
@codewarrior0  thank you,i want upx my script,but pyinstall seems like not work....see my question

[2015-09-17 10:28] codewarrior0 commented on #1496
The executable in `dist` will already be compressed with UPX. You don't need to do anything else.

Closing as I don't see what the problem is.

[2015-09-17 10:28] #1496 closed

[2015-09-17 19:17] tallforasmurf commented on #1491
I am not sure I understand the plan. Is it:

1. In \_\_main\_\_.\_\_add\_options(), add an option --doc-formatting that would be used only by the doc Make file,

2. with that option use help=optparse.SUPPRESS_HELP so that it will not show up in the normal help display,

3. Around line 85 of \_\_main\_\_.py we have parsed the args, so we may now test `if opts.doc-formatting :` and...

Here I am not

[2015-09-18 01:57] codewarrior0 commented on #1491
PyInstaller doesn't call `os.chdir` anywhere, so isn't it safe to just change DEFAULT_DISTPATH to a relative path?

[2015-09-18 04:47] codewarrior0 commented on #1289
Good point. Right now I'm just pushing lists of modules to be imported (as PendingImport tuples that include the parent module, the import name, and all the other options from Visitor) onto a stack, and then popping them off in an order that matches the previous traversal order. In order to make sure post-call hooks are only given a complete module, I could probably put the PendingImports onto the

[2015-09-18 07:23] htgoebel commented on #1289
From https://github.com/pyinstaller/pyinstaller/pull/1393#issuecomment-139722879:

So I assume it should by okay to collect all imports in order within `_scan_code` (and the other `_scan_*`-Methods) and process them prior to returning from `_scan_code`.

[2015-09-18 07:37] codewarrior0 commented on #1289
That's what I thought at first, but that just results in recursion. Processing an import will eventually call `_scan_code`. I was hoping there would be only a single point where I could process the pending imports, a place that wouldn't end up making recursive calls, but the best I could do was two. Those are the two places the clients of modulegraph can cause a module to be added:

- The end of `

[2015-09-18 07:54] codewarrior0 commented on #1289
Trying to pick apart the flow of control through `modulegraph` by reading the source can get kind of confusing, so let's do it visually. Lucky for me, I already have a call graph from the last time I ran PyInstaller under profiling, so let's use that:

![image](https://cloud.githubusercontent.com/assets/307683/9954633/557c3b1e-5d86-11e5-9cb1-358f3c304796.png)

I've cropped out all the parts that d

[2015-09-18 08:11] htgoebel commented on #1289
I gave it a try too, ending with one place. https://github.com/htgoebel/pyinstaller/commit/6f20fb9bd924a9475f382662772d857df2b3bbbb - but this fails terribly, too.

[2015-09-18 08:38] codewarrior0 commented on #1289
This is where I'm at now: https://github.com/codewarrior0/pyinstaller/commit/415c00fe47005705085da0b5a078b0b78017ee5b

Much better than my first attempt. It's passing all of the basic tests locally, and I'm waiting for [the Travis job] to finish so I can see if any of the other tests are broken. It still has the problem that there's no way to know that a particular module is completely imported an

[2015-09-18 09:19] htgoebel commented on #1289
So we are back to the modulgraph invariant :-(

[2015-09-18 09:41] htgoebel commented on #1491
I've implemented my proposed solution in ebefab6e514

[2015-09-18 09:43] matysek commented on #1489
@tallforasmurf I removed commands `pyi-build` and `pyi-make_comserver`. Could you reflect that in your manual update? Thanks.

[2015-09-18 09:43] #1489 closed

[2015-09-18 10:43] matysek commented on #1381
I created another prerelease so I'm closing this.

https://pypi.python.org/pypi/PyInstaller/3.0.dev2

[2015-09-18 10:43] #1381 closed

[2015-09-18 10:50] matysek commented on #804
@tallforasmurf assigning this to you since you are working on manual.

[2015-09-18 10:52] matysek commented on #1333
@tallforasmurf could you please do this too while working on manual?

[2015-09-18 10:58] matysek commented on #1417
@htgoebel Are we going to merge `python3` before `3.0` release or are we fine with having python3 as the default branch?

[2015-09-18 11:01] htgoebel commented on #1417
IMHO the blockers for merging into develop are release-blockers, too.

[2015-09-18 11:22] matysek commented on #1490
I already removed it when working on #1489 :-)

[2015-09-18 11:22] #1490 closed

[2015-09-18 15:21] htgoebel commented on #1360
Okay, I've rebuild the old front-page and the logos page. Also added some dummy-pages redirecting to the wiki. Improvements, esp. optical ones :-) are welcome.

@tallforasmurf Feel free to change whatever you need. I added you to that repo, so you should be able to commit directly. Please mind to rebuild the pages when necessary by running `make`.

[2015-09-18 15:21] #1360 closed

[2015-09-18 16:12] htgoebel opened #1499 "Update maintainers on website"
* David Vierra need to be added
* David Cortesi should be added as doc-maintainer
* Giovanni should be stated as project founder and former core-developer

[2015-09-18 16:22] matysek opened #1500 "Update website for 3.0 release"
Website pyinstaller.org is outdated and does not contain information about PyInstaller 3.0.

[2015-09-18 16:43] #1471 closed

[2015-09-18 16:45] htgoebel commented on #1481
See also #1499: "Update maintainers on website"

[2015-09-18 17:41] tallforasmurf commented on #1491
that fixes the issue. I put a comment on the commit, but you can close this, with that.

[2015-09-18 21:14] #1414 closed

[2015-09-19 12:21] matysek commented on #498
Closing since basic PySide support is already done.

[2015-09-19 12:21] #498 closed

[2015-09-19 12:22] matysek commented on #299
Closing since basic PySide support is already done.

[2015-09-19 12:22] #299 closed

[2015-09-19 12:24] matysek commented on #779
Closing. Not enough info.

[2015-09-19 12:24] #779 closed

[2015-09-19 12:36] matysek commented on #368
We will not implement this unless anyone is willing to contribute this feature.

[2015-09-19 12:36] #368 closed

[2015-09-19 12:38] matysek commented on #404
Please test this with python3 branch and reopen this issue if it is still not fixed there.

[2015-09-19 12:38] #404 closed

[2015-09-19 13:11] matysek commented on #436
too old bug report.

[2015-09-19 13:11] #436 closed

[2015-09-19 13:13] matysek commented on #487
User reported it works so closing.

[2015-09-19 13:13] #487 closed

[2015-09-19 13:16] matysek commented on #516
Attached patch is old and python library filename is no longer hardcoded in bootloader.

[2015-09-19 13:16] #516 closed

[2015-09-19 13:18] matysek commented on #529
Numpy test is working with latest dev version.

[2015-09-19 13:18] #529 closed

[2015-09-19 13:23] matysek commented on #573
I believe this is fixed in python3 branch since support for namespace packages was implemented.

[2015-09-19 13:23] #573 closed

[2015-09-19 13:30] matysek commented on #604
Please test the latest dev version. If that does not work then report a new issue.

[2015-09-19 13:30] #604 closed

[2015-09-19 13:32] matysek commented on #605
There is no example how to reproduce this issue.

[2015-09-19 13:32] #605 closed

[2015-09-19 13:47] matysek commented on #622
This is already fixed. There is already check if 'egg' directory exists.

[2015-09-19 13:47] #622 closed

[2015-09-19 13:50] matysek commented on #622
This is already fixed. There is a check if an `egg` directory exists.

[2015-09-19 14:08] matysek commented on #664
We are not going to support this mode.

[2015-09-19 14:08] #664 closed

[2015-09-19 14:10] matysek commented on #702
The description is not understandable.

[2015-09-19 14:10] #702 closed

[2015-09-19 14:13] matysek commented on #707
All errors with unicode paths and 8.3 dos paths should be fixed latest dev version

[2015-09-19 14:13] #707 closed

[2015-09-19 14:16] matysek commented on #708
@htgoebel he probably meant this: http://asciidoc.org/asciidocapi.html

[2015-09-19 14:16] #708 closed

[2015-09-19 14:24] matysek commented on #309
Closing. Support for unzipped eggs was recently implemented.

[2015-09-19 14:24] #309 closed

[2015-09-19 14:29] matysek commented on #648
This should be fixed with latest dev version. If not everywhere, please report a new issue.

[2015-09-19 14:29] #648 closed

[2015-09-19 14:33] #872 closed

[2015-09-19 14:34] matysek commented on #906
It is fixed in latest dev.

[2015-09-19 14:34] #906 closed

[2015-09-20 12:40] Domii894 opened #1501 "Unable to run a packaged python program with standard socket libary"
Hello pyinstaller team!

I just tried to pack a little py file to a mac-executable, but that didn't work out correctly.

I tried to pack a py file with following code in it:
[code]

and tried to pack it into an executable with following command:
[code]

I am working currently on a mac (Yosemite 10.10.5 (14F27)) with the newest python version (3.5) and the newest pyinstaller version (from GitHub (p

[2015-09-20 12:46] htgoebel commented on #1501
Python 3.5 is not supported, see https://github.com/pyinstaller/pyinstaller/wiki

[2015-09-20 12:46] #1501 closed

[2015-09-20 12:47] Domii894 commented on #1501
Oh, sorry. I didn't see that :/
Thanks for the quick response.
Do you know, when python3.5 will be supported?

[2015-09-20 12:49] codewarrior0 commented on #1501
It looks like the frozen importlib is slightly different from the normal one on 3.5.

The ExtensionFileLoader class is moved to `_frozen_importlib._bootstrap_external.ExtensionFileLoader`

[2015-09-20 17:21] jksfiftyfive opened #1502 "Security-Alert: try to store file outside of dist-directory. Aborting."
Hi

Im trying to compile an exe on Win 7 64bit, with pyton 2.7.9 32bit.

One piece of equipment im using is a small I2C device called a Sub20.  It comes with a dll and Ive used  ctypes to create a wrapper for the functions I need.  The code works fine.

However, now that im finished with the code, id like to build the exe.

Ive tried onedir option and onefile option.

With the onedir option, i get

[2015-09-20 17:41] codewarrior0 commented on #1502
Possible duplicate of #1466.

[2015-09-20 18:32] htgoebel commented on #1502
Please try the current `python3` head.

[2015-09-20 18:52] jksfiftyfive commented on #1502
Im sorry. I dont understand what "try the python3 head" means.  How would i use/install that?  Does that require python 3 to be installed?

thanks

[2015-09-20 19:28] ThomasWaldmann opened #1503 "bootloader uncompilable under freebsd 10.2 64bit"
There is no ready-to-use bootloader bundled for freebsd and building one from git python3 branch also fails:
[code]

[2015-09-20 19:30] ThomasWaldmann opened #1504 "wrong python dynlib name on freebsd 10.2?"
see PR #1506

[2015-09-20 19:34] ThomasWaldmann opened #1505 "be more helpful when the python dynlib is not found"
it currently points out that this is a common issue when the python-dev package is missing on debian/ubuntu.

while that's helpful there, it doesn't help on other platforms at all. more helpful would be:

- to say in which pathes it looked
- to say for which filenames it looked
- to say which code file one must hack to fix this

[2015-09-20 21:01] ThomasWaldmann commented on #1307
+1 Just had the same issue on cygwin.

[2015-09-20 21:06] matysek commented on #1502
It means using the development version and it works with Python 2.7.

[2015-09-20 21:09] matysek commented on #1505
Pull request are welcome.

[2015-09-20 21:11] matysek commented on #1504
@ThomasWaldmann Please create a pull  request.

[2015-09-20 21:13] ThomasWaldmann commented on #1504
first issue #1503 needs to get fixed, otherwise this can't be tested.

[2015-09-20 21:16] matysek commented on #1503
@ThomasWaldmann we do not have capacity for freebsd so freebsd supporst is solely based on user contribution.

[2015-09-20 21:18] ThomasWaldmann commented on #1503
Pity. But I am not the right guy to fix that.
I just have a freebsd vagrant box to do borgbackup testing, but I don't use it otherwise.

[2015-09-21 00:51] jksfiftyfive commented on #1502
ok, i removed the other version to be sure im using correct one.

https://github.com/pyinstaller/pyinstaller/zipball/develop

and installed and rebooted.  deleted the dist and build dirs

got the same error:

72769 INFO: Changing x86_microsoft.vc90.crt_1fc8b3b9a1e18e3b_9.0.21022.8_none_bc
b86ed6ac711f91.manifest into private assembly
Security-Alert: try to store file outside of dist-directory. Abo

[2015-09-21 05:38] codewarrior0 commented on #1503
Should be fixed as of 81164eaf07e260695e00dc3ed322c8d906c148eb. Give it a try.

[2015-09-21 07:45] htgoebel commented on #1504
Perhaps we should simply trade `is_freebsd` like `is_unix` here, as the later also searches for `m` and `mu`.

[2015-09-21 07:49] htgoebel commented on #1435
The pull-request has been merged. Can we close this issue?

[2015-09-21 07:53] codewarrior0 commented on #1289
I haven't yet found out why those few library tests are failing with my no-recursion patch... but what I did manage to do is get a list of all the chains leading back from each module to the method that caused it to be added to the graph. These are [the import chains for `test_helloworld`](https://gist.github.com/codewarrior0/d1389a422bfa3e26708f) without the patch.

[2015-09-21 08:54] matysek commented on #1435
* No, see the description for more details.
* The guidebook cannot be updated unless 3.0 is released.

[2015-09-21 12:14] matysek commented on #1501
@Domii894 could you try again? This commit might fix this issue: https://github.com/pyinstaller/pyinstaller/commit/f54579ca3a76c78f89f8f26985f1e6ccb80c6818

[2015-09-21 15:45] matysek commented on #1503
@ThomasWaldmann Could you test the potential fix for FreeBSD?

[2015-09-21 16:51] matysek commented on #1464
@htgoebel @codewarrior0 could you look at the following pypi page and provide some feedback regarding appearence, formatting and information there?

https://testpypi.python.org/pypi/PyInstaller/3.0.dev5

Final pypi page for 3.0 will look like that. (Still need to update changelog for 3.0) Thanks

[2015-09-21 17:20] htgoebel commented on #1464
Am 21.09.2015 um 18:51 schrieb Martin Zibricky:

Look good for me. Just some remarks:

  * Python version 2.7 / 3.3+. should be *2.7 / 3.3—3.4* as*we are not
    yet supporting Python 3.5*
  * Near the top: In the source "documentation", "website", "code"
    should have a colon on front, too. This will give a definition list
  * Nitpicking: Near the top: "documentation", "website", "code" should

[2015-09-21 17:23] ThomasWaldmann commented on #1503
@codewarrior0 thanks for fixing it, compiling the bootloader does work now!

do you think a compiled bootloader could be packaged with pyinstaller?

for linux, I had not to compile it myself, it was just contained in a ready-to-use form, so I could just pip install pyinstaller and then use pyinstaller.

for freebsd, one can't just use pip to install it because then the bootloader is missing (and a

[2015-09-21 17:26] #1491 closed

[2015-09-21 17:27] htgoebel commented on #1482
@topiwala Does thy python3-branch work for you? If so, please close this ticket.

[2015-09-21 17:28] ThomasWaldmann commented on #1504
@htgoebel i tried just commenting the "elif freebsd" block, but it still did not find the libpython.

freebsd (10.2): libpython3.4m.so.1  <- this is the correct name, but the code does not search for it.

linux: libpython3.4m.so.1.0

I am unsure whether the freebsd version could be just added to the generic "unix" list.

[2015-09-21 17:30] ThomasWaldmann commented on #1504
note: #1503 is fixed, so this is the last thing to make it work for freebsd (when starting from a pyinstaller git checkout and compiling the bootloader manually).

[2015-09-21 17:33] matysek commented on #1503
@ThomasWaldmann We do not plan to package freebsd bootloader with PyInstaller. But your request could be solved with #1377 and it is planned for another release.

I'm closing this since it is fixed.

[2015-09-21 17:33] #1503 closed

[2015-09-21 17:34] htgoebel commented on #1504
@ThomasWaldmann IC, I overlook that. Please submit a pull-request.

[2015-09-21 17:35] htgoebel commented on #1503
@ThomasWaldmann

We'd appreciate a pull-request for #1377, though :-)

[2015-09-21 17:53] matysek commented on #1504
Closing, it is fixed in #1506

[2015-09-21 17:53] #1504 closed

[2015-09-21 19:29] htgoebel commented on #1289
I think, I've found a reason: In [line 1148](https://github.com/pyinstaller/pyinstaller/blob/b5fe082b380f55dbdcc242cb5172dcb657b60f44/PyInstaller/lib/modulegraph/modulegraph.py#L1148), a module is not imported if it is already in `globalnames`. But `globalnames` is set in `_scan_bytecode_stores()`, which is called just after `_scan_ast()`, for each `from xxx import abc`. So we need to process the

[2015-09-21 19:55] htgoebel opened #1507 "tkinter gets included unconditionally"
I just found a *very* curious problem: When running the test-suite using Python 2.7, tkinter get included unconditionally:
[code]
whereas this doe not happen with pyth 3.4:
[code]
Unfortunately, this makes the test-case fail (otherwise I would not have recognised it).

Any hints where to look at?

(Side-Note: at travis this does not happen. Curious, very curious!)

[2015-09-21 20:08] codewarrior0 commented on #1507
The import chain leading to `Tkinter`:

[code]

[2015-09-21 20:12] htgoebel commented on #1507
Thanks. From where did you get this that quick?

[2015-09-21 20:17] htgoebel commented on #1507
So we are back on https://github.com/pyinstaller/pyinstaller/pull/1393#issuecomment-141631473.

[2015-09-21 20:17] #1507 closed

[2015-09-21 20:19] codewarrior0 commented on #1507
I did a quick patch to modulegraph the other day to write the import chains to a file. I haven't merged it because I did it quickly just for debugging and I don't expect it to work all the time.

Diff: https://github.com/codewarrior0/pyinstaller/commit/a69e61fbebcbb143db64bc84510cbf4fda53c604

Branch: https://github.com/codewarrior0/pyinstaller/tree/write-import-chains

[2015-09-21 20:22] htgoebel commented on #1289
According to #1507, this case is failing because `site` is included where it should not. So I'd assume, https://github.com/htgoebel/pyinstaller/commit/36baccf478b4d763935a2856ce3dc08f515f5df0 would solve the problem. But I'm delaying this change until the problem with `site` is solved.

[2015-09-21 20:59] tartley commented on #1435
Agree with matysek: My PR on python-guide was only a modest few intro paras. It did not dive into describing PyInstaller at all yet.

[2015-09-21 21:06] matysek commented on #1464
@htgoebel I incorporated your suggestions. Thanks for the feedback: https://testpypi.python.org/pypi/PyInstaller/3.0.dev6

[2015-09-21 22:06] tallforasmurf opened #1508 "Missing module error messages do not appear on the console"
Mac OS X 10.10.5, running the very latest python3 branch (git fetch upstream). This is the program:

    print('hello from the magic tavern')
    import fubar

Execute this command:

    $ python pyinstaller/pyinstaller.py -y --log-level=WARN minimal.py

No WARN or ERROR output to console. Executing dist/minimal/minimal of course produces ImportError.

    $ cat build/minimal/warnminimal.txt | gre

[2015-09-21 22:31] matysek commented on #803
Not enough info for debugging.

[2015-09-21 22:31] #803 closed

[2015-09-21 22:33] #771 closed

[2015-09-21 22:39] matysek commented on #763
Tcl should work.

[2015-09-21 22:39] #763 closed

[2015-09-21 22:42] matysek commented on #758
The linked file does not exist anymore.

[2015-09-21 22:42] #758 closed

[2015-09-21 22:43] #755 closed

[2015-09-21 22:45] matysek commented on #744
This should be fixed.

[2015-09-21 22:45] #744 closed

[2015-09-21 22:50] #723 closed

[2015-09-21 22:56] matysek commented on #357
pygtk is not actively developed anymore and this is the successor of pygtk: https://wiki.gnome.org/action/show/Projects/PyGObject?action=show&redirect=PyGObject

[2015-09-21 22:56] #357 closed

[2015-09-21 22:59] matysek commented on #430
@htgoebel Is this still relevant feature?

[2015-09-21 23:01] matysek commented on #501
This is a duplicate of #802

[2015-09-21 23:01] #501 closed

[2015-09-21 23:07] #669 closed

[2015-09-21 23:10] matysek commented on #676
Not much information to reproduce.

[2015-09-21 23:10] #676 closed

[2015-09-21 23:18] matysek commented on #1151
PyInstaller is already doing that.

[2015-09-21 23:18] #1151 closed

[2015-09-21 23:22] #835 closed

[2015-09-22 08:36] htgoebel commented on #430
It's bee a suggestion on the mailinglist back in 2011. If you think, this is useful. Otherwise just close the ticket.

[2015-09-22 08:38] htgoebel commented on #835
Reson: pygtk is not actively developed anymore and this is the successor of pygtk: https://wiki.gnome.org/action/show/Projects/PyGObject?action=show&redirect=PyGObject

[2015-09-22 08:44] matysek commented on #1508
For dependency analysis it is hard to find out the right reason why module is missing:
* Conditional import? The module is used only when available.
* Platform specific module?
* Is it really a missing module that could not be found?

Complain about every missing module is not feasible.

@tallforasmurf Do you have any heuristic how to choose subset of missing modules that are relevant for users?

[2015-09-22 08:48] matysek commented on #430
I'm closing this. This feature is up to every app to implement any logging. And on OS X in debug mode pyinstaller debug messages are sent to syslog so it is easy to see those messages.

[2015-09-22 08:48] #430 closed

[2015-09-22 08:53] matysek commented on #722
Closing since there not clear description for reproducing and there hasn't been reported anything similar.

[2015-09-22 08:53] #722 closed

[2015-09-22 08:57] matysek commented on #1305
Closing. User reported that `python3` branch works.

[2015-09-22 08:57] #1305 closed

[2015-09-22 09:11] htgoebel opened #1511 "Document using `spec_namespace` in .spec-files."
matysek had the great idea of implementing `spec_namespace`. Now this need to be documenting for how to use it on `.spec`-files (if doc is required for this). See `build/buildmain:build()`.

[2015-09-22 09:30] matysek commented on #1511
* `CONF` is meant for runtime configuration and not for .spec files.
* I would hold on for 3.1 with documenting it. I think it needs some time to settle down.

[2015-09-22 11:54] matysek commented on #1285
Closing. It is duplicate of #1283

[2015-09-22 11:54] #1285 closed

[2015-09-22 12:18] matysek commented on #1261
@MartinBriza How this could be reproduced?
* What tools did you install and with that options? Just standard installation?
* Did you use `python3` branch?

[2015-09-22 12:24] matysek commented on #848
This is probably related to #727

[2015-09-22 12:24] #848 closed

[2015-09-22 12:37] matysek commented on #1320
I think this should be fixed in `python3` branch.

[2015-09-22 12:37] #1320 closed

[2015-09-22 13:04] #1505 closed

[2015-09-22 13:11] ThomasWaldmann commented on #1505
Well, the main point of this issue is still todo, see first post.

[2015-09-22 13:34] matysek commented on #1268
Closing, not enough info was provided.

[2015-09-22 13:34] #1268 closed

[2015-09-22 13:59] codewarrior0 commented on #1289
With your patch, the `matplotlib` test case passes with Anaconda 2.3.0.

Hmm! It looks like your patch was more conservative than my attempt. I was trying to remove recursion from modulegraph entirely... whereas with your patch, modulegraph is still recursive, but you have separated the recursion into the AST trees from the recursion through import statements, by processing imports only after the

[2015-09-22 14:20] matysek commented on #1407
* This is related travis bug report: https://github.com/travis-ci/travis-ci/issues/4834 about missing libpython3.4m.so.
* It looks like Travis guys fixed that: https://travis-ci.org/pyinstaller/pyinstaller/jobs/81581825

[2015-09-22 14:50] matysek commented on #1407
Closing since the travis tests passed with Python 3.5. We've got Python 3.5 support in pyinstaller.

[2015-09-22 14:50] #1407 closed

[2015-09-22 15:13] htgoebel commented on #1407
Yeah!

[2015-09-22 16:22] yyuu commented on #1505
Umm. Showing all candidate library paths would be somewhat complicated since the library path is pretty diverse per platform. Showing only candidate _filename_ would be easy, though.

[2015-09-22 16:38] yyuu commented on #1505
@ThomasWaldmann Pushed another fix as b53eb24975ae35a3a73c573e46ce0dcf84360043. This might be still insufficient to find what is missing on the system, but I believe it'd be clear somehow than before. I'll open another PR later.

[2015-09-22 17:30] matysek commented on #1200
The warning should be fixed in `python3` branch.

[2015-09-22 17:30] #1200 closed

[2015-09-22 17:32] matysek commented on #1198
This should be fixed since related fixes were merged.

[2015-09-22 17:32] #1198 closed

[2015-09-22 17:35] matysek commented on #1195
Please try `python3` branch. If the issue remains, please reopen.

[2015-09-22 17:35] #1195 closed

[2015-09-22 17:38] ThomasWaldmann commented on #1505
ah, better. now one at least knows what filename it could not find.
and use it as starting point for own search.

[2015-09-22 17:40] matysek commented on #615
@ypereto This will be fixed in 3.0.   2.2 won't be released.

[2015-09-22 17:45] matysek commented on #1191
@barn As you wrote the 'safe' way is to build on 10.8. The failure might be related to your environment - homebrew, macports, stock OSX python. Usually the best way to use python on OS X is macports or homebrew.

There is not much we could do about it. Closing.

[2015-09-22 17:45] #1191 closed

[2015-09-22 17:54] matysek commented on #1193
This was recently fixed in this #1495 pull request. If it does not work for you please reopen. Thanks.

[2015-09-22 18:23] matysek commented on #1088
Closing. Author did not respond for a long time.

[2015-09-22 18:23] #1088 closed

[2015-09-22 18:33] matysek commented on #915
I just tested the code example and it  works for me with latest dev version. Closing.

[2015-09-22 18:33] #915 closed

[2015-09-22 21:42] matysek commented on #1065
This should be fixed in latest dev version.

[2015-09-22 21:42] #1065 closed

[2015-09-23 03:16] giumas commented on #1488
On Win7 with Miniconda (by both using Python 2.7.10 32 bit and 3.4.3 64bit) and only if I use `--onefile`, I get the same type of warning: `WARNING: file already exists but should not: C:\Users\xxxx\AppData\Local\Temp\_MEI12345\pywintypes27.dll` and `WARNING: file already exists but should not: C:\Users\xxxx\AppData\Local\Temp\_MEI12345\pywintypes34.dll`. This happens with different applications t

[2015-09-23 03:56] matham opened #1513 "Hook datas copies directory contents rather than the directory (and contents)"
Hi,

There seems to have been a lot of recent changes to build_main.py in the pyhton3 branch which broke packaging in kivy. After fixing our abuse of pyinstaller internals (specifically the global `rthooks` seems to have been removed) we are left with one issue which doesn't seem to be due to our misuse.

In our hook we have
[code]

Before, the `kivy.kivy_data_dir` directory itself (and of course

[2015-09-23 06:22] neworan opened #1514 "Pyinstaller not able to find path (@rpath) of dynamic library in OS X ()"
Platform: OS X 10.10.5
Python: 2.7
pyinstaller: 3.0.dev2

Hi,

Pyinstaller works well on simple files (like hello.py). However, it has problem finding path of dynamic libraries using @rpath. Following is the error on running:

30849 INFO: Looking for dynamic libraries
30945 ERROR: Can not find path ./lib/libmkl_intel_thread.dylib (needed by /Users/XXX/software/canopy/User/lib/python2.7/site-packag

[2015-09-23 07:42] matysek commented on #1488
Yes, that is correct. Could you try uninstall the pywin32 package that you got from http://sourceforge.net/projects/pywin32/files/pywin32/?

I think this could solve your issue.

[2015-09-23 07:54] matysek commented on #1513
Yes, that is intentional. It was changed to allow renaming of the directory you are copying. New manual should cover this. So your fix would be:
[code]

@tallforasmurf Could you confirm that documentation will cover this?

[2015-09-23 08:01] matysek commented on #1514
@neworan Please  provide more info about:
* How you installed Python
* Where on your disk are files `./lib/libmkl_intel_thread.dylib` and friends.
* Simple code example to reproduce your issue.

[2015-09-23 08:09] matysek commented on #1488
@davidenkoization Could you try:
1. uninstall both - pywin32 and pypiwin32
2. pipinstall again pypiwin32

[2015-09-23 08:29] neworan commented on #1514
Hi @matysek

Thanks for quick response.

(1) I downloaded source code and installed it on mac by "python setup.py install"
(2) Missing files are on /Applications/Canopy.app/appdata/canopy-1.5.5.3123.macosx-x86_64/Canopy.app/Contents/lib. I also tried putting them on /usr/lib, ./lib, or other DYLD_LIBRARY_PATH, none worked

(3) it is easy to reproduce the issues: simply import any of numpy, scipy,P

[2015-09-23 08:33] neworan commented on #1514
BTW, this issue could be fixed manually by
install_name_tool -change "@rpath/lib/libmkl_intel_thread.dylib" "/Applications/Canopy.app/appdata/canopy-1.5.5.3123.macosx-x86_64/Canopy.app/Contents/lib" /Users
/XXX/software/canopy/User/lib/python2.7/site-packages/numpy/core/_dotblas.so

But I have ~1000 such errors...  Need a way to fix them at a time.

Thanks

[2015-09-23 08:41] matysek commented on #1514
* I meant Python not pyinstaller.
* What is it Canopy.app and where could I get it?
* Could you try latest dev version directly from github? Still the same issue?

[2015-09-23 09:02] neworan commented on #1514
Sorry.

I got python from https://www.enthought.com/products/canopy/. I used numpy, scipy, panda a lot, so I got used canopy python.

FYI, I also tried using python from official site where I got pkg. Same issue.

I tried latest dev version and yes it is the same issue.

Thanks

[2015-09-23 11:00] gclsoft opened #1515 "pkg_resources.DistributionNotFound: distribute"
pyinstaller Main.py:
[code]

[2015-09-23 11:15] matysek commented on #1515
Please provide more information:
* https://github.com/pyinstaller/pyinstaller/wiki/If-Things-Go-Wrong
* https://github.com/pyinstaller/pyinstaller/wiki/How-to-Report-Bugs

[2015-09-23 11:42] davidenkoization commented on #1488
I tried your suggestion, now I only have pypiwin32 running. I still get the same error messages using the --onefile option. When using the --onedir flag everything works fine. I think it is an issue with the multiprocessing as codewarrior0 suggested. My program uses multiprocessing pools (i didn't write that part myself) and I am not sure how to implement the multiprocessing recipe to that problem

[2015-09-23 12:08] matysek commented on #833
It's more open for user contribution.

[2015-09-23 12:14] matysek commented on #845
@JMSwag is this issue still relevant or could it be closed?

[2015-09-23 12:22] matysek commented on #1488
@davidenkoization Do you have any code example you could share for reproduction?

[2015-09-23 12:58] giumas commented on #1488
My system's `pywintypesXX.dll` comes from  http://www.lfd.uci.edu/~gohlke/pythonlibs/#pywin32 by running the post-installation script execution (as suggested), not directly from http://sourceforge.net/projects/pywin32/files/pywin32/

@matysek : as you well know, it is not uncommon for Windows users to have wheels from `~gohlke` together with multiple Python installations.

However, removing that i

[2015-09-23 13:00] matysek commented on #871
Closing, don't know how to reproduce it.

[2015-09-23 13:00] #871 closed

[2015-09-23 13:01] matysek commented on #891
The website no longer exist.

[2015-09-23 13:01] #891 closed

[2015-09-23 13:02] matysek commented on #911
Not much info.

[2015-09-23 13:02] #911 closed

[2015-09-23 13:07] matysek commented on #1130
@lucapinello could you try with latest dev version?

[2015-09-23 13:12] matysek commented on #1488
@giumas thanks for testing it. This is what I though.

[2015-09-23 13:14] matysek commented on #1488
The solution is to uninstall system's pywin32 package and keep only pypiwin32 which is per Python installation. Closing.

[2015-09-23 13:29] matysek commented on #1138
@rvitale tests now go to `./tests/functional/test_libraries.py` and testing main scripts to `./tests/functional/scripts`.

[2015-09-23 13:45] matysek commented on #1051
Closing, too old.

[2015-09-23 13:45] #1051 closed

[2015-09-23 14:08] matysek commented on #1240
I tested the code example `unicode_simple.py` and it is still not fixed for Python 2.7 on OS X (Python 3 works).
* frozen output
[code]
* unfrozen output
[code]

Question is if this should be really fixed or just create a recipe with described workaround is enough.

[2015-09-23 14:17] codewarrior0 commented on #1240
I think this is something we should fix.

@matysek Does the test `test_stdout_encoding` fail on OS X with Py2.7?

[2015-09-23 14:21] htgoebel commented on #1513
You want to use `os.path.join`  of course. :-)

[2015-09-23 14:26] codewarrior0 commented on #1240
Actually, I think that test may not catch this error, because the Python 2.7 DLL will only set the encoding of stdout when it is connected to the terminal. The test normally runs under py.test output capturing, which redirects stdout to a temp file.

[2015-09-23 14:48] codewarrior0 commented on #1240
Never mind. I can reproduce this on Linux, too. I have a feeling it's because the `encodings` module isn't importable during Py_Initialize, which tries to lookup the codec given by `nl_langinfo(CODESET)`. Since the module isn't importable (it's in the PYZ archive and we can't install the PYZ importer before calling Py_Initialize), it seems the only way out is to use `base_library.zip` on Python 2

[2015-09-23 16:13] codewarrior0 commented on #1240
I was right. The `encodings` module isn't importable at `Py_Initialize` time, so this is causing the stdio streams to have a None encoding. This is also what's causing sys.getfilesystemencoding to return None on Linux, and why we have a few dozen lines copied from pythonrun.c to set it after initializing the FrozenImporter.

I'm going to make a few changes to have the Python 2.7 builds use base_li

[2015-09-23 16:41] giumas opened #1516 "R6034 error only on single-file executable (Win7 64 bit and Python 2.7.10)"
On Win7 64bit and Python 2.7.10 32bit, I have a quite large GUI application (using `wxPython`) that it works properly when frozen as single-folder, but fails with R6034 error when frozen as single-file.

Using `Process Explorer`, I noticed that only in single-file mode, the process loads 2 instances of `mscvr90.dll` and `msvcp90.dll`.

![r6034_issue_msvcr390](https://cloud.githubusercontent.com/as

[2015-09-23 16:44] codewarrior0 commented on #1516
Read [How To Report Bugs](https://github.com/pyinstaller/pyinstaller/wiki/How-to-Report-Bugs). What version of PyInstaller did you use? Try the latest `python3` branch - it supports Python 2.7 too.

[2015-09-23 16:45] giumas commented on #1516
![pyinstaller_version](https://cloud.githubusercontent.com/assets/2849257/10051733/feffea14-61f0-11e5-91c4-7ec304aba0c5.PNG)

[2015-09-23 16:47] codewarrior0 commented on #1516
That is not a released version. `git rev-parse head` will give you the commit ID. Again, try the latest `python3` branch.

[2015-09-23 17:06] giumas commented on #1516
The commit ID is the latest: acffffab6384f45a01a1c3e35551b3bca67d10d2

[2015-09-23 17:09] codewarrior0 commented on #1516
Do you have an associated Python stack trace? Can you come up with a minimal `wxPython` program that reproduces the error?

[2015-09-23 17:10] codewarrior0 commented on #1516
What version of `wxPython` are you using?

[2015-09-23 17:20] giumas commented on #1516
After the error message:

![r6034](https://cloud.githubusercontent.com/assets/2849257/10052518/79f829b2-61f5-11e5-9998-8eddd45d097d.PNG)

I get this stack trace:

    Traceback (most recent call last):
      File "<string>", line 1, in <module>
      File "c:\users\xxxxxxx\appdata\local\yyyyyy\py2\lib\site-packages\PyInstaller-3.0.dev6-py2.7.egg\PyInstaller\loader\pyimod03_importers.py", line 313,

[2015-09-23 17:30] giumas commented on #1516
I will work later on the minimal example.

I don't know if it is related, but the single-folder application crashes at exit with this error message:

![single_folder_error_message](https://cloud.githubusercontent.com/assets/2849257/10052779/95312eee-61f6-11e5-81e1-c5ed37797386.PNG)

without any stack trace.

[2015-09-23 19:07] htgoebel commented on #1488
@tallforasmurf : I think, this is a note to be put into the docs?!

[2015-09-23 19:38] matysek commented on #1240
@codewarrior0 Postpone your commit after 3.0 release.

[2015-09-23 22:40] codewarrior0 commented on #1240
All right.

[2015-09-23 23:45] glennra opened #1517 "FileExistsError is not available in Python 2 (python 2 compatibility)"
https://github.com/pyinstaller/pyinstaller/blob/python3/PyInstaller/building/osx.py#L209

[2015-09-24 01:45] giumas commented on #1516
Here the minimal example grabbed directly from http://wiki.wxpython.org/GettingStarted:

    import wx
    import random

    def GetRandColor():
        red = random.randint(0,255)
        green = random.randint(0,255)
        blue = random.randint(0,255)
        return (red, green, blue)

    class ColorPanel(wx.Panel):
        def __init__(self, parent, color='rand'):
            wx.Panel.__ini

[2015-09-24 08:03] stefsmeets commented on #1350
Just for your information, I reinstalled python via homebrew, following a suggestion elsewhere, and it magically solves this problem. I don't like this solution, but with everything runs as I would expect. I was using the standard PSF python before.

[2015-09-24 09:10] Domii894 commented on #1501
Yeah I will do that
I've installed python 3.4 now and won't switch back to python 3.5 that early.
The issue is closed and python 3.5 is still not supported, but I promise, that I will.

[2015-09-24 09:11] matysek commented on #1350
@stefsmeets Do you know if python from homebrew uses tcl/tk library from the OS or it compiles it's own version?

My guess is this:
* Pyinstaller does not bundle tcl/tk from the system Python, because it is considered as a system library.
* PyInstaller however modifies the path where _tkinter.so will load tcl/tk library. It modifies it to: `@loader_path/Tcl` - it means look for `Tcl` in the same d

[2015-09-24 09:18] matysek commented on #1517
@glennra you are right. It breaks python 2 compatibility on osx.

[2015-09-24 09:45] matysek commented on #1516
Could this be related to #1367 ?

[2015-09-24 10:02] matysek commented on #1501
current status of python 3.5 support is experimental. We made some fixes for Python 3.5.

[2015-09-24 10:09] matysek commented on #1517
@glennra I just pushed a fix. Could you try latest dev version?

[2015-09-24 12:25] codewarrior0 commented on #1516
It is more closely related to #1180

Error R6034 is "Attempted to load CRT without activation context present".

This is what I think is happening:

Onefile and onedir builds handle activation contexts differently. In onedir builds, the initial (Process Default) context is loaded automatically by Windows from the "appname.exe.manifest" file alongside the app. This context provides linkage info for

[2015-09-24 12:39] giumas commented on #1516
Based on this last sentence, I assume that you have been able to reproduce my error.

[2015-09-24 13:01] codewarrior0 commented on #1516
All it took was `import wx`.

I found what the crash-on-exit is too. It's an "early deactivation" error - apparently wx doesn't clean up after itself by deactivating the context it created. There's an extra flag I can pass to `DeactivateActCtx` for that, too.

[2015-09-24 13:29] matysek commented on #1516
@codewarrior0 is this something that should be fixed for 3.0?

[2015-09-24 13:32] codewarrior0 commented on #1516
It may as well go into 3.0, since it already has a full overhaul of how assembly manifests are handled, compared to 2.1. I've got my changes done and I'm about to push so @giumas can try them.

[2015-09-24 13:39] codewarrior0 opened #1518 "Protect branches against force-push or merges not passing CI tests"
[Github recently added a new feature](https://help.github.com/articles/about-protected-branches/) that allows a branch to optionally be protected against forced pushes, and/or be protected against merges that don't pass the CI tests. Do you think we should enable this feature?

Settings link (admins only): https://github.com/pyinstaller/pyinstaller/settings/branches/python3

[2015-09-24 14:10] codewarrior0 commented on #1516
@giumas Try the latest `python3` branch. This should be fixed as of 2cec73aa996e232649ea5a760647dd972bbea14b

[2015-09-24 14:16] giumas commented on #1516
Using https://github.com/codewarrior0/pyinstaller 2cec73aa996e232649ea5a760647dd972bbea14b, everything works smoothly on my machine (both the minimal example and my original application). This commit also fixed the crash at exit.

Thank you for being so responsive to my issue!

[2015-09-24 14:19] codewarrior0 commented on #1516
No problem. Thanks for testing.

Watch out for #1367, though. It still isn't fixed.

[2015-09-24 14:19] #1516 closed

[2015-09-24 14:26] stefsmeets commented on #1350
@matysek Homebrew python will use the system Tk/Tcl (version 8.5.9) that ships with OS X 10.10.

[2015-09-24 15:12] matham commented on #1513
Ok, great. I guess I'll leave it open so the docs could be updated/fixed.

[2015-09-24 17:13] matysek commented on #1518
I enabled protection for branches `master` and `develop`. `python3` will be merged into develop one day.

I don't think enable protecting against  merges that don't pass CI tests is necessary (At least not yet). But it should be discussed.

[2015-09-24 17:14] jksfiftyfive commented on #1502
I know you guys are working hard to fix this, but wanted to check in and see if this is where i should check on updates or if there is another open ticket (like referenced above), should i check there?

thanks

[2015-09-24 17:18] codewarrior0 commented on #802
Should be fixed in 574f04b65ed977e4cf77efc2ed912bff06a33d4e

[2015-09-24 17:18] #802 closed

[2015-09-24 20:19] giumas opened #1521 "Using osgeo.osr in single-file mode shows "Failed to get UTF-8 buffer size" message"
On Win7 64bit, python 2.7.10 32bit and last `python3` commit (abe435cce27878b7c1738a236722e8f14819aea2), I get the following error message: `Failed to get UTF-8 buffer size (WideCharToMultiByte: The parameter is incorrect.)`

This is a minimal example code that provides that message:

    import osr

    osr_inputs = osr.SpatialReference()
    osr_inputs.ImportFromEPSG(4326)
    osr_calc = osr.Spa

[2015-09-24 21:07] codewarrior0 commented on #1521
Build your app with `pyinstaller --debug` and post the full output from running the built exe.

[2015-09-24 21:30] glennra commented on #1517
Thanks, that fixes it for me.

[2015-09-24 21:34] #1517 closed

[2015-09-24 22:18] tallforasmurf commented on #1488
Just to be clear, this problem arises when you already have pywin32 installed, and THEN install pypiwin32 ALSO?

What if you ONLY have pywin32 installed, for example because you had used an earlier version of PyInstaller which recommended pywin32?

If you follow our other recommendation and use a VENV, and install pypiwin32 in the VENV, is there then a problem with the system pywin32?

[2015-09-24 22:21] glennra commented on #1193
The change in [#1495] (https://github.com/pyinstaller/pyinstaller/pull/1495) isn't quite right. It allows a browser window to be opened but it also creates an extra icon on the dock. Please reopen this.

[2015-09-24 22:49] giumas commented on #1521
After having updated at the last f47b910207743bc2fcd7a70d80dd5f48d86cb5e7 commit, the message is disappeared. Cool!

Incidentally, I would have a more general, but related question about the `osgeo` hook, but I believe that is better to open another ticket.

[2015-09-24 22:54] codewarrior0 commented on #1521
I had a feeling that's what it was. The debug output isn't needed, then.

Go ahead and open another issue for the `osgeo` hook.

[2015-09-24 22:54] #1521 closed

[2015-09-24 23:13] giumas opened #1522 "Hook for `osgeo` libraries"
I am attempting to put together a hook file for `osgeo` libraries (i.e., `gdal`, `ogr`, `osr`, ) that is required to be a bit flexible to adapt at different possible installation flavors.

As first step, I am attempting to manage these two configurations on `Python 2.7.10 32bit`:
- classic `cpython` (using the `gdal` wheel from http://www.lfd.uci.edu/~gohlke/pythonlibs/#gdal with `1.11.3`)
- `mini

[2015-09-25 00:15] JMSwag commented on #845
@matysek this can be closed.

[2015-09-25 08:23] #845 closed

[2015-09-25 09:02] matysek commented on #1193
@glennra Are you going to work  on it?

[2015-09-25 10:09] matysek commented on #1522
Some notes:
* use import `from PyInstaller.compat import is_win`
* add more comments about what is conda and where it stores data files
* `sys.executable` won't work in virtualenv. To obtain data dir, rather use `sys.real_prefix`.
* put there  a `TODO` that it should be tested on other platforms.
* You could replace this whole code
[code]
with just
[code]

[2015-09-25 13:10] matysek commented on #1488
How to reproduce:
1) install system-wide pywin32 package
2) create VENV, pip install pypiwin32
3) run this code with --onefile option
[code]
4) you will get messages like this:
[code]

[2015-09-25 13:23] matysek commented on #1488
@tallforasmurf It's weird that it still complains eve when I uninstalled system pywin32. `pywintypes.__file__` still  points to `c:\Windows\System32\pywintypes33.dll` even when this file no longer exists.  There might be any issue with some caching.

[2015-09-25 13:26] matysek commented on #1488
additional requirement is that your app has dependency on module `pywintypes`.

pip install will install pypiwin32 so you have then both installed.

Yes, you have to uninstall the system pywin32.

[2015-09-25 16:37] tallforasmurf commented on #1488
It is a "feature" of PyInstaller 3 that pip auto-installs pypiwin32 with it. But that new feature can create this problem for the user, no? So what to say in the doc? "Before you install PyInstaller 3 with pip, you should first uninstall pywin32" ?

[2015-09-25 16:44] matysek commented on #1488
We could try modify `setup.py` to install `pypiwin32` only if `pywintypes` is not importable. Would that help?

[2015-09-25 18:08] matysek commented on #1488
But still, the user might use virtualenv with ignoring 'global-site-packages' (this is the default virtualenv settings) and having system pywin32 then pypiwin32 get's installed. So we still need to get this fixed anyway.

I suggest this for resolving this issue:
* install pypiwin32 only if `pywintypes` is not importable (verify if that works)
* find out and fix why pyinstaller complains about havi

[2015-09-25 18:42] glennra commented on #1193
Yes

[2015-09-25 19:06] matysek commented on #1488
@davidenkoization look at the multiprocessing recipe. I updated it so it should make your code working even with `--onefile` option: https://github.com/pyinstaller/pyinstaller/wiki/Recipe-Multiprocessing

See especially these line:
[code]

[2015-09-25 19:15] tallforasmurf commented on #1335
should this be replaced by #1463 ?

[2015-09-25 19:44] tallforasmurf commented on #1108
Added wiki page Recipe python-daemon package

[2015-09-25 19:44] #1108 closed

[2015-09-25 20:03] tallforasmurf commented on #804
I added one sentence to the paragraph where we recommend virtualenv. I don't want to take virtualenv out entirely because we still support 2.7 and probably will forever. Anyway if someone was porting from 2.7 with VENV, would they change to pyvenv? Prbly not.

[2015-09-25 20:03] #804 closed

[2015-09-25 20:05] tallforasmurf commented on #690
We have now a nice discussion of ``pyi-grab_version`` and ``set_version`` command use with a link to the MSoft "version info structures" page.

[2015-09-25 20:05] #690 closed

[2015-09-25 20:20] tallforasmurf commented on #1361
I have added COLLECT lines to the skeleton example, and updated the path to the tests (in old_suite now). I don't think including a really complete example in the manual would help, but re-open if you want more.

[2015-09-25 20:20] #1361 closed

[2015-09-25 20:21] tallforasmurf commented on #1333
Done in pull request

[2015-09-25 20:21] #1333 closed

[2015-09-25 21:38] springermac commented on #1466
I've come up with something that may fix this. See #1526

[2015-09-25 22:19] codewarrior0 commented on #1502
We're still working on our `ctypes` support in [a number of other issues.](https://github.com/pyinstaller/pyinstaller/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+ctypes)

I have a question, though. In your code that uses `ctypes`, you load the `sub20` DLL using an absolute path, right? We may not be able to automatically include that DLL because it would require modifying your code during the pac

[2015-09-25 22:50] matysek opened #1527 "multipackage (MERGE) boken in PyInstaller 3.0"
In PyInstaller 3.0 no much attention was paid to 'multipackage' feature and it is broken:
- MERGE should be fixed
- MERGE tests should be migrated to pytest

[2015-09-25 23:22] adammenges commented on #1466
Sweet! I'll give it a go where I'm experiencing this ASAP.

[2015-09-26 00:06] giumas commented on #1488
On Win7 x64 and Anaconda Python 2.7.10, I have started with a new&clean Python installation.

After having installed `pyinstaller` (from the `python3` cd5d9ac72fbe9262c9b62ccee7c0a19ac84bd0ad), I get this warning::

* `28182 WARNING: One binary added with two internal names. C:\Users\xxxx\AppData\Local\yyyyy\py2\lib\site-packages\pypiwin32-219-py2.7-win32.egg\pywintypes27.dll was placed at .\pywin

[2015-09-26 00:25] giumas commented on #1522
Using `gdal 2.0.0`, it freezes but I get an error when I run the application. This is the full trace:

    PyInstaller Bootloader 3.x
    LOADER: executable is C:\zzzz\test_data\gdal\dist\minimal\minimal.exe
    LOADER: homepath is C:\zzzz\test_data\gdal\dist\minimal
    LOADER: _MEIPASS2 is NULL
    LOADER: archivename is C:\zzzz\test_data\gdal\dist\minimal\minimal.exe
    LOADER: No need to extr

[2015-09-26 02:54] giumas commented on #1522
So far, this is where I am with the `gdal` hook for vanilla and Anaconda `cpython` (tested also on Yosemite and Ubuntu):

    from PyInstaller.utils.hooks import collect_data_files
    from PyInstaller.compat import is_win, is_darwin

    import os
    import sys

    # The osgeo libraries require auxiliary data and may have hidden dependencies.
    # There are several possible configurations on h

[2015-09-26 07:59] matysek commented on #1522
Yes, for this purpose there are runtime hooks. See:
* PyInstaller/loader/rthooks
* PyInstaller/loader/rthooks.dat

For example the matplotlib rthook does it too.

[2015-09-26 13:56] matysek commented on #1488
@giumas
* Anaconda already contains  pywin32: http://docs.continuum.io/anaconda/pkg-docs
* I don't know if `conda list` will tell you that pywin32 is installed or not.
* uninstall pypiwin32
* then try run this code if you get `ImportError`
[code]
* This confirms that installing pypiwin32 if pywin32 is not installed is the way to go.

[2015-09-26 14:27] giumas commented on #1488
@matysek

I am actually using Miniconda (http://conda.pydata.org/miniconda.html) to just have `conda` and the python installation.

I get:

    Traceback (most recent call last):
      File "C:\Users\xxxxx\AppData\Local\yyy_x86\py2\Scripts\pyinstaller-script.py", line 5, in <module>
        from pkg_resources import load_entry_point
      File "C:\Users\xxxxx\AppData\Local\yyy_x86\py2\lib\site-pac

[2015-09-26 19:41] matysek opened #1529 "website redirections for manual / downloads"
Manual contains some old links pointing to old Trac installation. We should fix these urls and set website redirections to github wiki:
* FAQ: http://www.pyinstaller.org/wiki/FAQ -> https://github.com/pyinstaller/pyinstaller/wiki/FAQ
* https://github.com/pyinstaller/pyinstaller/wiki/Supported-Packages
* http://www.pyinstaller.org/wiki/Recipe -> https://github.com/pyinstaller/pyinstaller/wiki/Recip

[2015-09-26 20:33] giumas commented on #1522
@matysek , do you prefer to keep open this ticket for this issue related to `osgeo >=2.0` or to close it for opening an issue-specific ticket?

[2015-09-26 20:37] codewarrior0 commented on #1367
Here's one more detail to agonize over.

wxPython 2.8 decides whether to use the legacy `v1` API (its default) by checking for the existence of the `wx.lib.pubsub.autosetuppubsubv1` module. To do this, it calls `imp.find_module`. `imp.find_module` does not honor `sys.meta_path` and thus does not call our FrozenImporter to ask it for a loader. It always returns None, causing wxPython 2.8 to select

[2015-09-26 20:41] matysek commented on #1522
@giumas let's this ticket open eve for >=2.0.

[2015-09-26 20:47] matysek commented on #1488
* @giumas Are you sure that even minconda does not have pywin32?
* What is the __file__ attribute of pywintypes module?
[code]

[2015-09-26 20:56] codewarrior0 commented on #1367
I'm thinking we'll need a runtime hook that imports `wx` only to check its version. If it is <=2.8, it will ask FrozenImporter (via pkgutil?) if `wx.lib.pubsub.autosetuppubsubv1` exists, and if so, simply import `wx.lib.pubsub.setupv1` to emulate the auto-setup.

In any case, with the path-aware FrozenImporter in place, the wx_lib_pubsub family of tests now passes on Python 2.7 with versions 2.9.5

[2015-09-26 21:30] giumas commented on #1488
Yes, I am sure. I have also double-checked with a system search for pywin* in the miniconda installation folder.

This is the `conda list` with a clean Miniconda installation:

    # packages in environment at C:\Users\yyyyyy\AppData\Local\Continuum\Miniconda:
    #
    conda                     3.16.0                   py27_0
    conda-env                 2.4.2                    py27_0
    menui

[2015-09-27 08:29] htgoebel commented on #1527
Maybe a chance to rework this. PyInstaller supports loading modules from a external file, see `old_suite/basic/test_pyz_as_external_file.spec` and `bootloader/main`. We could change `MERGE` into using this and dramatically simplify the code.

[2015-09-27 09:54] htgoebel commented on #1529
I've just set up redirects for faq, recipes and supported packages.

The old Downloads are linked to sourceforge, so I don't know what to change here.

[2015-09-27 09:54] #1529 closed

[2015-09-27 09:57] htgoebel commented on #1367
I don't see any need for a runtime-hook. IMHO all the detection can be done at freeze-time and using the new redirect-hooks resp. `__path__`-extension-hooks.

[2015-09-27 10:12] codewarrior0 commented on #1367
Let me explain again.  wxPython 2.8 contains this code:

[code]

The call to `imp.find_module` does not go through our FrozenImporter. It only uses the normal module import system. Because of this, wxPython 2.8 can never find that module, even if it is frozen. As a result, when frozen, it does not use the version 1 API. When not frozen, it does use the version 1 API because it can find the module

[2015-09-27 10:30] codewarrior0 commented on #1367
A few other solutions, off the top of my head:

1. Wrap the `imp` module with a module that searches FrozenImporter (or generally, `sys.meta_path`) for modules. Going down this route will probably look a lot like porting Python 3's `importlib` to Python 2.

2. Place the file `wx/lib/pubsub/autosetuppubsubv1.py` in the COLLECT folder (or onefile temp folder) as an ordinary file, instead of packing

[2015-09-27 10:31] htgoebel commented on #1367
Yes, but `autosetuppubsubv1.py` does nothing, it's just a marker which makes wxPython 2.8 import `setupv1`. So in hook-wx.lib.pubsub, we simply need to detect `autosetuppubsubv1` ourself an - if it's available - add a hidden import for `setupv1`.

The only think we have to take care of is: `setupv1` and the other `setup`-modules need to redirect the correct modules.

[2015-09-27 10:32] htgoebel commented on #1335
yes

[2015-09-27 10:32] #1335 closed

[2015-09-27 10:33] codewarrior0 commented on #1367
Yes, it is just a marker, but that's not the issue here. The issue is that the marker is *never detected* whenever it is in a PYZ archive - and it is not detected because `imp.find_module` does not go through FrozenImporter. The marker is in fact inserted into the PYZ archive by the latest version of the `wx.lib.pubsub` hook - nothing special to do there.

The problem is that `imp.find_module` sim

[2015-09-27 10:38] htgoebel commented on #1367
But my point is, that there is no need to detect it at run-time. We can detect it at freeze-time already.

And - to be frank - I'm strictly against implementing a complicated hack for `imp` when a *simple* workaround is available: The user could simply import `setupv1` explicitly - like it is done in current wx version.

[2015-09-27 10:45] codewarrior0 commented on #1367
All right, the third option sounds good, then. I'll update the wiki with a note about wxPython 2.8.x.

[The new hook](https://github.com/pyinstaller/pyinstaller/blob/python3/PyInstaller/hooks/hook-wx.lib.pubsub.py) works with 2.9.x *and* 3.0.x, according to the wx_lib_pubsub tests. It just brings in all of the submodules and relies on the __path__ support to sort everything out.

The reason the ne

[2015-09-27 11:04] codewarrior0 commented on #1367
Added wiki page [Recipe-wxPython-2.8.x](https://github.com/pyinstaller/pyinstaller/wiki/Recipe-wxPython-2.8.x)

[2015-09-27 11:04] #1367 closed

[2015-09-27 11:36] htgoebel opened #1530 "Rework hooks for wx.lib.pubsub"
Follow-up to #1367: We made the hooks work by including *all* submodules of `wx.lib.pubsub` (see 6f9820413057276ada) and by adding a hock to FrozenImporter (see 47907e76b7b3393cdc5d62f975e6baf80366596e). But PyInstallers aim is to include only the required modules - which in case of wx.lib.pubsub should be determinable at freeze-time e.g. by manipulating the modules `__path__` like the implementin

[2015-09-27 12:09] htgoebel opened #1531 "Use `textwrap.dedent()` in hooks, utils.hook and test-suite"
This allows indenting the statements to be executed into the normal code block and enhance readability of the code.

[2015-09-27 12:13] htgoebel opened #1532 "Rework hooks manipulating __path__ into post-create package hooks."
As of today, all these hooks seam to work. But we should check them:
`grep __path__ PyInstaller/hooks/*.py`.
- `hook-win32com` used `__path__` manupulation in PyInstaller 2.1 – now we include all
- `hook-PyQt4.uic.port_v2` inhibits the import of this very package if Python3 is used. Related are hooks for port_v3 and PyQT5. -> Create a test-case for this kind of stuff
- `wx.lib.pubsub`, see #1530

[2015-09-27 12:19] htgoebel commented on #1367
@codewarrior0 Please remove `@xfail` from the tests, though.

[2015-09-27 12:21] htgoebel commented on #1322
This has basically been solved by implementing post-create package hooks. Since as of today we have no failing test for this and esp. win32com is working, I'm closing this issue. I've opened #1532 as a follow up for checking all hooks if they need to be converted.

[2015-09-27 12:23] htgoebel opened #1533 "Add test-case for post-create package hooks"
Build a test-case for `__path__`-manipulations like wx.lib.pubsub or win32comm but without using an external library.

[2015-09-27 12:25] htgoebel opened #1534 "Rearrange test-cases"
While converting from the old test-suite to the new one and after that some new tests have been put into `test_basic` while they are related to import or even to specific libraries. This should be cleaned up.

[2015-09-27 12:31] htgoebel commented on #1417
#1393 was merged today.
I closed #1322, as this has basically been solved by implementing post-create package hooks.

[2015-09-27 12:38] htgoebel commented on #1420
That merge also solves this issue, see 62642f3

[2015-09-27 12:38] #1420 closed

[2015-09-27 12:40] htgoebel commented on #1417
Now all blocking issues are solved, I'm going to merge. But I'll have to do some minor cleanup-work first. Although It should happen today.

[2015-09-27 13:18] htgoebel commented on #1417
Done!

[2015-09-27 13:18] #1417 closed

[2015-09-27 13:42] htgoebel commented on #1417
Branch python3 is gone! Please continue. contribution on the `develop` branch

[2015-09-27 13:47] htgoebel commented on #1417
Wiki main-page is updated.

[2015-09-27 14:00] htgoebel opened #1535 "importing xml.elementtree.ElementTree fails"
Todo: add a test-case for this.

[2015-09-27 14:08] htgoebel commented on #1402
est_wx_pubsub_arg1, test_wx_pubsub_kwargs and test_wx_pubsub now pass, see https://github.com/pyinstaller/pyinstaller/issues/1367#issuecomment-143542610

[2015-09-27 14:10] htgoebel commented on #1402
All tests beside the weird hack `test_pkg_structures` pass now. I'. closing this issue.

[2015-09-27 14:10] #1402 closed

[2015-09-27 14:19] htgoebel commented on #1535
Me fool: The module is called `xml.etree.ElementTree`.

[2015-09-27 14:19] #1535 closed

[2015-09-27 15:25] htgoebel commented on #1289
I rebased my changes into the current `develop` head (merged from `python3` just today). But again, this [fails for PYthon 2.7 and 3.4)[https://travis-ci.org/htgoebel/pyinstaller/builds/82421152]
See https://github.com/htgoebel/pyinstaller/tree/issue-1289-maximum-recursion-exeeded.

[2015-09-27 15:40] htgoebel opened #1536 "Restore `fake-site` module"
When running the current development head outside a virtual env, the original `site-package` is included. So we need to revert 12de5e2fdc0e7560119aceb4847f and re-establish the fake-site module, see e47e4a2c672e2.

See also https://github.com/pyinstaller/pyinstaller/pull/1393#issuecomment-141635640 and  #1507.

[2015-09-27 16:26] htgoebel opened #1537 "Error: Hook Directory not found"
When running
[code]
from a plain checkout, I get the error:
[code]
This happens with both virtual env and without.

[2015-09-27 16:43] htgoebel opened #1538 "No source in py.test traceback-output"
I just did some work containing an error in PyInstaller itself. When running `pytest` I get error-message but no source lines in the traceback:

[code]

@matysek May this be related to some changes you made recently? Maybe a change to the working directory?

[2015-09-27 16:49] htgoebel commented on #1537
I tried fixing `PyInstaller.configure.get_importhooks_dir()`, but this fails:
- `__file`__ does not contain an absolute path, thus this function return a path pointing to `/tmp/pytest-2/...`
- `pkgutil.get_loader('PyInstaller.hooks') return `None`, meaning the module can not be found
- `importlib.import_module('PyInstaller.hooks')` fails importing the module, too.

I assume, this is related to #15

[2015-09-27 17:00] Pixdigit opened #1539 "Missing pyconfig.h raises unnesseccary error"
While "compiling" a python file on Ubuntu studio 14.10 with Pyinstaller 3.0.dev6 and the --onedir tag it raises the error:
`PyInstaller.compat.FileNotFoundError: Path or glob "/usr/include/python2.7/pyconfig.h" not found or matches no files.`
Simply creating an emtpy pyconfig.h solved the problem.

[2015-09-27 17:24] Pixdigit opened #1540 "Pyinstaller 3.0.6dev produces no executable"
While using Pyinstaller 3.0.6dev on Ubuntu studio 14.10 and using the --onedir or --onefile tag in combiniation with --noupx no contents are produced in ./dist/ . Also no errors get returned. Last output is:
`20040 INFO: Appending archive to EXE <insert source path here>/dist/test` (with the <> replaced by the actual path).

[2015-09-27 17:52] #1537 closed

[2015-09-27 17:56] htgoebel opened #1541 "RuntimeWarning: Parent module 'pyi_hook' not found while handling absolute import"
Whenever a hook is executed, I get this error message from within the hook::
[code]

I also get this for other import types, e.g. `Parent module 'pyi_pre_find_module_path' not found while handling absolute import`.

This occurs when the hook is loaded and executed via `importlib_load_source`. I assume, it is related to #1537 and #1538 and caused by changing the working directory.

[2015-09-27 18:09] codewarrior0 commented on #1541
This is because the call to `importlib_load_source` uses a dotted module name for the new module's name:

[code]

The dotted module name makes the import machinery think there is a package module called `pyi_hook`. It should be enough to change the module name to e.g. `'pyi_hook_`+self._name.

[2015-09-27 18:20] codewarrior0 commented on #1367
Sure.

[2015-09-27 19:19] htgoebel commented on #1540
Please run `pyinstaller --clean` to clean PyInstaller cache and remove temporary files before building.

[2015-09-27 19:24] Pixdigit commented on #1540
Thank you. Now works completely fine. And I am sorry for forgetting to do this even after reading through the before reporting bug page.

[2015-09-27 19:24] #1540 closed

[2015-09-27 20:01] #1536 closed

[2015-09-27 20:33] htgoebel commented on #1289
I rebased my changes into the current `develop` head (re-introducing the `fake-site`-module) and the [results](https://travis-ci.org/htgoebel/pyinstaller/builds/82455332) look okay now. Since the maximum recursion depth exceeded erro never occurred here: Can you please test this branch with your sampled?! Thanks.
See https://github.com/htgoebel/pyinstaller/tree/issue-1289-maximum-recursion-exeeded

[2015-09-27 20:52] codewarrior0 commented on #1289
Yep, still passing. Looks like you did it!

[code]

[2015-09-27 21:15] matysek commented on #1488
@giumas yes, this is definitely an issue. It should be there only once, as `BINARY`. Thanks for debugging.

[2015-09-27 21:27] matysek commented on #1541
Yesterday I implemented a fix for this. I need to do some testing first before pushing.

[2015-09-27 22:37] matysek commented on #1539
@Pixdigit is your issue solved by installing package `python-dev`?

[2015-09-27 22:41] matysek commented on #1538
@htgoebel How this could be reproduced? My recent changes were only related to relative paths - main script/datas/binaries - relative to .spec location. Is this what you mean?

[2015-09-27 23:04] matysek opened #1545 "verify if bundling pyconfig.h is still necessary with some hooks"
hooks-distutils.py
hooks-sysconfig.py

[2015-09-27 23:09] matysek commented on #1529
@htgoebel I copied all tarballs from sourceforge to github releases (https://github.com/pyinstaller/pyinstaller/releases) so downloads should go now only to github releases and sourceforge can be dropped.

[2015-09-28 03:49] KipperK commented on #1347
I'm having the same problem here with Python 3.4 and PyInstaller 3.0dev-345ab15 from the download page.  Here is a sample traceback for pyi-grab_version: http://pastebin.com/9q9Vgh9m

That exact command works with the same PyInstaller build if I use Python 2.7.

[2015-09-28 03:56] codewarrior0 commented on #1367
While removing the `@xfail` marker, I tried out the workaround I wrote in the Recipe-wxPython-2.8.x wiki page, by adding it to the "default protocol" test for 2.8.x. It didn't work! The reason turned out to be that `collect_submodules` can't find the files in the `pubsub1` or `pubsub2` folders because they are not packages and don't have an `__init__.py`... so those files never get included.

To r

[2015-09-28 04:46] Pixdigit commented on #1539
@matysek Well as stated in the original message I created an empty pyconfig.h . After that everything worked fine so I imagine that somewhere in the code only a check needs to be done weather this file exists and if not it creates an empty file. But should I still try deleting pyconfig.h, install python-dev and then check if a pyconfig.h is present?

[2015-09-28 05:26] glennra commented on #1279
Since updating to the recently merged develop branch. PyInstaller is no longer packaging google.protobuf. This was working in the python3 branch of a few days ago.

[2015-09-28 07:09] #1193 closed

[2015-09-28 07:13] matysek commented on #1279
Could you provide any code example?

[2015-09-28 07:16] matysek commented on #1539
@Pixdigit yes, please try that.

[2015-09-28 08:29] matysek opened #1547 "appveyor: python 3.5 tests"
Appveyor recently added python 3.5 to their environment. We should run tests with this Python version too.

[2015-09-28 08:59] htgoebel commented on #1289
Okay, so I'll merge it later this day.

[2015-09-28 09:25] matysek commented on #1547
Python 3.5 test fail at the moment because there are missing some precompiled dependencies, e.g. matplotlib .whl package: https://github.com/matplotlib/matplotlib/issues/5155

Appveyor run: https://ci.appveyor.com/project/matysek/pyinstaller-ewwmo/build/114/job/xapf86wdwjb16c50

[2015-09-28 09:25] htgoebel commented on #1279
@glennra Can you bisect this? The merge did not change anything (from python3`-branch point of view), so you could start at acaef99734d62023488ad1eb0ff61836f98596d3

[2015-09-28 09:27] htgoebel commented on #1545
Which hooks are you thinking of?

[2015-09-28 09:32] htgoebel commented on #1529
@matysek Yes, but we can not put redirects on sourceforge. What do you mean?
(Currently index.html contains a link to the PDF-manual at sourcforge, but this is the only occurrence.)

[2015-09-28 10:13] matysek commented on #1529
@htgoebel I do not want any redirects to sf.net. What I mean is replace the `Downloads` section by link to https://github.com/pyinstaller/pyinstaller/releases if anyone ever wants to try older releases.

[2015-09-28 10:40] htgoebel commented on #1529
IMHO the Download section should stay there – even if this is another place we need to update on releases. Whenever I'm searching for some tool-download, I prefer to have it on the main-page. Put feel free to change it yourself. You – of course – have commit-permission there, too.

[2015-09-28 10:48] Pixdigit commented on #1539
@matysek Installing python.dev solved the problem too. But this should not be necessary because even with no information in pyconfig.h the processing still work fine. Because I am not one of the makers of Pyinstaller I don't know if it uses a fallback if pyconfig.h is empty. In this case it would be ok for this error to occur but instead it should print a warning and create an empty pyconfig.h .

[2015-09-28 12:25] htgoebel commented on #1539
Processing (freezing) your application may work. But obviously your app is including on of the packages requiring `pyconfig.h`. E.g. `sysconfig`, `distutils` or `numpy`. And some function in there require `pyconfig.h`.

[2015-09-28 15:11] Pixdigit commented on #1539
@htgoebel Indeed it might work too. The problem is not that its not working. Its just that I think that the error has no need to be risen. Maybe a warning but not an error. For the argumentation look at my answer to @matysek above. But I also might be completely wrong.

[2015-09-28 20:07] htgoebel commented on #1538
Shame on me, I missed stating the command line.
[code]
You need to put some wrong code into PyInstaller/building/build_main.py:396: of course :-)

[2015-09-28 20:49] #1541 closed

[2015-09-28 20:50] glennra commented on #1279
0a5075f096d79e5a8bc97d5fcec5c6a75fe1a83e is the first bad commit

[2015-09-28 21:07] matysek commented on #830
The PIL hooks were broken in develop branch so I fixed them.

[2015-09-28 21:07] #830 closed

[2015-09-28 23:13] ThomasWaldmann commented on #1464
Note: 3.5 support is there now and also the readme has already been updated accordingly.

[2015-09-28 23:30] ThomasWaldmann opened #1552 "document compatibility of binaries and best practices"
Quite some people run into compatibility issues (e.g. glibc) and learn by trial and error. Some documentation could improve this.

Also, the binaries built with pyinstaller need to be documented, telling their compatibility properties and requirements, but they are (partly) unknown.

Linux:
- requires a glibc version >= the glibc version you built the binary on.
- matching cpu architecture (32bit

[2015-09-29 09:10] matysek commented on #1552
Regarding Linux there is FAQ that covers something of that.

[2015-09-29 09:21] htgoebel commented on #1541
Thanks.

[2015-09-29 09:30] htgoebel opened #1553 "Make the existing (old) "ImportHook" handler submit a API"
Originally from @leycec https://github.com/pyinstaller/pyinstaller/pull/1393#issuecomment-143632631:
@htgoebel Excellent questions! You always keep me on my gangrenous toes. :footprints:

**Absolutely.**

The new `building.imphookapi.PostGraphAPI` class has been designed to be a drop-in replacement for the old `building.imphook.FakeModule` class. Despite bundling `PostGraphAPI` with this commit, I

[2015-09-29 09:34] htgoebel commented on #1553
I personally would prefer this switch to go into 3.0 already, since this is changing the user-api. Only the switch to `PostGraphAPI`! The hook-cache should be kept for 3.0, as this is internal only. @matysek What do you think?

[2015-09-29 09:43] htgoebel opened #1554 "Unify hooks into a single file"
When implementing 250acf24e8 (Restore `fake-site` module) I got terribly hit by a "old" `hook-site.py` which as overwriting my new pre-find_module-hook.

We should think about merging all types of hooks into a single file, containing functions `pre_find_module_path()`, `pre_safe_import_module()` and `hook()`/`post_graph()` (or however this should be called).

There is one problem, though: The "bod

[2015-09-29 09:47] #1289 closed

[2015-09-29 10:05] matysek commented on #1553
For 3.0 I agree only with removing `FakeModule` and use the drop-in replacement for `def hook()` functions if it's done until Friday and CI still pass. Nothing else. There are not a lot of hooks using `hook()` function so it should b e safe. It covers following hooks:
* `hook-_tkinter.py` - could be easily updated to not use hook() function
* `hook-PyQt4.uic.port_v2.py`
* `hook-PyQt4.uic.port_v3.p

[2015-09-29 10:06] matysek commented on #1554
I love this idea. It also came to my mind one day.

[2015-09-29 10:25] htgoebel commented on #1466
@adammenges We are *short* before releasing PyInstaller 3.0. Please report your feedback until 2015-10-01 20:00 CET. If it still does not work, I need a minimal example, including *all* required setup, which I can just cut and paste. Otherwise this will not make it into PyInstaller 3.0.

If I don't get feedback, I'll assume it*s fixed.

[2015-09-29 11:18] matysek commented on #1488
I found out that Pyinstaller is anywhere not trimming some dots in paths. I got this output:
[code]

[2015-09-29 11:44] matysek commented on #1488
@giumas It should be fixed. The warning should be gone.
@tallforasmurf For documentation: having both system pywin32 and pypiwin32 should not matter. But pyinstaller does not install now pypiwin32 is pywin32 is already available.

[2015-09-29 11:44] #1488 closed

[2015-09-29 11:45] matysek commented on #1279
@glennra Do you have any error log from pyinstaller?

[2015-09-29 11:47] matysek commented on #1343
@htgoebel What is the status of this issue? Is it still valid with the new replacement for FakeModule?

[2015-09-29 11:51] matysek commented on #1430
@adammenges Could you try again latest develop if anything was improved since then?

[2015-09-29 11:52] matysek commented on #1405
@htgoebel What is the status of this issue? Is it still valid with the new replacement for FakeModule?

[2015-09-29 11:59] matysek commented on #1513
@tallforasmurf Could you please add to the manual section `Adding Data Files` append an example that bundles recursively whole content of a directory? e.g.
[code]
Then please close this issue. Thanks.

[2015-09-29 12:27] giumas commented on #1488
@matysek, I can gladly confirm that the warning is gone!

[2015-09-29 13:08] phelixbtc commented on #490
This would be very helpful. The resulting executable looks like it is ordered differently (not in onefile mode). Everything else is relatively easy to match.

[2015-09-29 15:34] jonnojohnson commented on #1291
Just re-tried with today's python3 dev branch after the max recursion depth issue was fixed but I'm still getting this error.
Trace output:
[code]

[2015-09-29 15:43] bsavelev opened #1555 "libxml2 not included: No module named libxml2mod"
Hello!
I have a test app
[code]
run pyinstaller (from git  3.0.dev2-231-gf411960)
```../pyinstaller.py -y --clean -D --hidden-import=libxml2mod ./t.py```

try to run and gets and error
[code]

[2015-09-29 17:17] tallforasmurf commented on #1529
I've updated these links, commit ea6821a to be pushed shortly.

[2015-09-29 17:36] tallforasmurf commented on #1552
80921dd, to be pushed shortly.

[2015-09-29 17:41] htgoebel commented on #1553
@matysek: This is exactly what I meant. And as fas as I understood, this is what @leycec has already prepared.

[2015-09-29 17:43] htgoebel commented on #1343
I'll implement this as a property, just for the case the change to PostGraphAPI (see https://github.com/pyinstaller/pyinstaller/issues/1553#issuecomment-144012794) will not be done.

[2015-09-29 17:48] tallforasmurf commented on #1513
#bcdfe51

[2015-09-29 17:48] #1513 closed

[2015-09-29 17:51] tallforasmurf commented on #1488
636e334

[2015-09-29 18:04] ThomasWaldmann commented on #1552
Please reopen, the docs about Mac OS X and FreeBSD are still missing.

Thanks for clarifying Linux builds in the docs.

[2015-09-29 18:13] adammenges commented on #1430
Awesome, seems we're past the `Security-Alert` :smile:

Here's the output: https://gist.github.com/adammenges/033426e741c91798b2ad

Looks like it's back to failing on a relative import.

[2015-09-29 18:15] adammenges commented on #1430
cc @matysek & #1466

[2015-09-29 18:17] adammenges commented on #1466
This looks great, `develop` no longer has a security-alert for me :grinning:

[2015-09-29 18:21] htgoebel commented on #1405
Well, `del_import` works differently: It just calls `mod_graph.removeReference` for each listed node (see [line 338](https://github.com/pyinstaller/pyinstaller/blob/develop/PyInstaller/building/imphook.py#L338)). Whereas `excludedimports` result in more magic, see [line 404](https://github.com/pyinstaller/pyinstaller/blob/develop/PyInstaller/building/imphook.py#L404).

So I'm totally unsure what t

[2015-09-29 18:23] #1466 closed

[2015-09-29 18:24] tallforasmurf commented on #1552
I'll leave it open. Re Mac, the only question is 32- vs. 64-bit. It builds 64-bit by default, but every time you run it, it prints a detailed warning that for compatibility with old releases, you should build 32-bit and gives directions on how to do that.

For FreeBSD, Solaris, and AIX, I don't know of any info. We say "Users have reported success running PyInstaller on these platforms, but it is

[2015-09-29 18:26] htgoebel commented on #1430
Have you verified `libsvm` is included in the frozen app? Use `archive-viewer` for checking.

[2015-09-29 18:31] matysek commented on #1430
@adammenges Does the title `not handing relative imports` mean relative module names in `hiddenimports` in hooks?
[code]
Please try to use full module names in these hooks.

[2015-09-29 19:12] #1343 closed

[2015-09-29 19:21] htgoebel commented on #1555
`libxml2mod` is imported by `libxml2` in the very first line. So there should be no need for a `--hiddenimport` (neither in he command line nor in a hook). Something else is wrong here.

[2015-09-29 19:26] htgoebel commented on #1502
@jksfiftyfive Please tet again using the current `develop` branch head. This should be fixed now.

[2015-09-29 19:27] bsavelev commented on #1555
Yes, I add hidden-import for sure that libxml2mod not included in result... So I cant add this module force too. Its strange)

[2015-09-29 19:32] ThomasWaldmann commented on #1552
@tallforasmurf

Mac: if I build on OS X 10.10, will it also work on 10.6/7/8/9?

FreeBSD: that it works is not the question (I have done builds on FreeBSD and they work), the point of this ticket is whether a build on current FreeBSD will also work on older ones or not.

[2015-09-29 19:44] tallforasmurf commented on #1552
All I really know is what pyinstaller says every time I run it on Mac,

    $ python pyinstaller/pyinstaller.py --clean -y minimal.py
    73 INFO: PyInstaller: 3.0.dev7+a98a518-mod
    73 INFO: Python: 3.4.2
    85 INFO: Platform: Darwin-14.5.0-x86_64-i386-64bit
    86 INFO: wrote /Developer/PYINSTALLERWORK/minimal.spec
    86 WARNING: You are running 64-bit Python: created binaries will only work

[2015-09-29 20:03] codewarrior0 commented on #1291
Could you try building with `pyinstaller --clean` and see if that still happens?

[2015-09-29 20:09] htgoebel commented on #1555
I tracked this down: `libxm2mod.so` is found as expected, but removed from the list of binaries in `PyiModuleGraph._make_toc()` (see [line 308](https://github.com/pyinstaller/pyinstaller/blob/6ffbb5180557/PyInstaller/depend/analysis.py#L308)). I'm assigning this to @matysek as he implemented this part in 812f5f2bd99c9

[2015-09-29 20:27] jonnojohnson commented on #1291
Running the .exe after building with -F --clean I get:
[code]

[2015-09-29 20:33] jonnojohnson commented on #1291
I got something similar when trying to use py2exe last year.
PyVISA is here: https://github.com/hgrecco/pyvisa
Was told some of the suggestions here might help: http://stackoverflow.com/questions/7446187/no-module-named-pkg-resources
But don't really understand what's going on.

[2015-09-29 21:04] codewarrior0 commented on #1291
For the record, Anaconda includes pkg_resources as part of the setuptools egg:

[code]

Whereas regular Python includes it as a plain package inside `site-packages`:

[code]

So it might be related to the way PyInstaller includes eggs? I'm not sure at this point.

[2015-09-29 21:57] matysek commented on #1552
@ThomasWaldmann This really depends on the Python you use and how it was compiled: OS X SDK version, ...
There is not much PyInstaller could do in this regard.

[2015-09-29 22:09] matysek commented on #1555
@htgoebel That makes an assumption that python module name won't: start with `lib` and having extension `.so`. But `libxml` is the corner case :-)

[2015-09-30 00:17] adammenges commented on #1430
@htgoebel Not sure if I'm using the tool correctly, but from what I gather in the docs:

`pyi-archive_viewer ./build/llks/out00-PYZ.pyz` prints out a large list of modules, but libsvm isn't one of them.

-------------

@matysek That title was changed up there ^^ when @codewarrior0 had a guess as to what the problem is. Here's the ending snippet from what's posted above:

[code]

The syntax `from .

[2015-09-30 07:41] bsavelev commented on #1555
It have prefix ```lib``` because builded with libtool, I think. And python binding to libxml2 is not the only one

[2015-09-30 07:49] matysek commented on #1430
@htgoebel `libsvm` - it is probably related to #1555

[2015-09-30 07:50] matysek commented on #1555
@bsavelev That's what I found out.

[2015-09-30 13:51] matysek commented on #1555
@bsavelev Try this version, if that fixes it: 825ff6868cf949e99ef08f2b3230c5b08a268bb0

[2015-09-30 13:52] matysek commented on #1430
@adammenges  Try this version, if that fixes it: 825ff6868cf949e99ef08f2b3230c5b08a268bb0

[2015-09-30 15:55] ThomasWaldmann opened #1556 "3.0.dev6 is on pypi, but not tagged in the repo"

[2015-09-30 16:07] ThomasWaldmann commented on #1552
I didn't ask for pyinstaller code being changed to "do something about it", but that the known(?) best practices and compatibility properties get documented.

[2015-09-30 17:17] htgoebel commented on #1430
@adammenges

Well, this means the file is not packed into the PYZ. But as weknow now, i's an extension-module, so it would not be in the PYZ anyway. But it is missing, see #1555.

[2015-09-30 17:17] #1430 closed

[2015-09-30 18:10] htgoebel opened #1557 "Remove FakeModule and use the drop-in replacement for def hook() functions"
From https://github.com/pyinstaller/pyinstaller/issues/1553#issuecomment-144012794:

For 3.0 I agree only with removing `FakeModule` and use the drop-in replacement for `def hook()` functions if it's done until Friday and CI still pass. Nothing else. There are not a lot of hooks using `hook()` function so it should b e safe. It covers following hooks:
* `hook-_tkinter.py` - could be easily updated

[2015-09-30 21:46] matysek commented on #1556
I forgot to push tags ( git push --follow-tags ). Thanks for reminder.

[2015-09-30 21:46] #1556 closed

[2015-10-01 00:19] glennra opened #1559 "OSX - recipe when codesign fails with QtWebEngineProcess"
codesign fails on a packaged app because <app dir>/QtWebEngineProcess.app/Contents/Info.plist is a symlink to ../../../Resources/QtWebEngineProcess.app/Contents/Info.plist

[2015-10-01 00:36] glennra commented on #1279
148 INFO: PyInstaller: 3.0.dev6+e2ad398
148 INFO: Python: 2.7.10
154 INFO: Platform: Darwin-14.5.0-x86_64-i386-32bit
154 DEBUG: Testing for UPX ...
159 INFO: UPX is not available.
159 INFO: Removing temporary files and cleaning cache in /Users/glenn/Library/Application Support/pyinstaller
163 DEBUG: script: /Users/glenn/rp/src/demo/test-protobuf.py
163 INFO: Extending PYTHONPATH with /Users/glenn/

[2015-10-01 03:21] giumas commented on #1556
There is at least 1 missing file ('doc/CHANGES.rst') in the archive loaded in PyPi: https://pypi.python.org/packages/source/P/PyInstaller/PyInstaller-3.0.dev6.tar.gz

This is the stack trace:

    C:\zzz_dev>pip install --pre pyinstaller
    Collecting pyinstaller
      Downloading PyInstaller-3.0.dev6.tar.gz (2.7MB)
        100% |################################| 2.7MB 204kB/s
        Complete ou

[2015-10-01 05:34] giumas opened #1560 "Can not find path ./libwx_osx_cocoau-3.0.0.0.0.dylib"
With the last `develop` on Yosemite 10.10.5 and Anaconda python 2.7.10, when freezing a `wxpython`-based application, I get (both single-file and single-folder):

    30980 ERROR: Can not find path ./libwx_osx_cocoau-3.0.0.0.0.dylib (needed by /Users/test/zzz_x86/py2/lib/python2.7/site-packages/wx-3.0-osx_cocoa/wx/_misc_.so)
    30985 ERROR: Can not find path ./libwx_osx_cocoau-3.0.0.0.0.dylib (ne

[2015-10-01 07:44] htgoebel opened #1562 "verify hook enchant.checker.wxSpellCheckerDialog"
hook enchant.checker.wxSpellCheckerDialog does nothing at the moment, but it contains this comment
[code]

Verify the comment is valid and if so, create an new hook, based on modulegraph, removing this dependency. Otherwise remove the then useless hook.

[2015-10-01 07:56] matysek commented on #1560
@giumas Could you verify that this issue is similar to #1514 ?
* It is also related to using directly a 3rd party Python distribution.

[2015-10-01 08:35] matysek commented on #1556
Thanks, will do a new prerelease.

[2015-10-01 08:49] bsavelev commented on #1555
3.0.dev6-25-gd6350ee

It works!

[2015-10-01 08:49] #1555 closed

[2015-10-01 11:13] matysek commented on #1556
It is fixed: https://pypi.python.org/pypi/PyInstaller/3.0.dev7

Thanks man.

[2015-10-01 12:35] bsavelev commented on #1503
same for pyi_pythonlib.c

[2015-10-01 12:54] htgoebel commented on #1503
@bsavelev Patch? pull-request?

[2015-10-01 14:27] matysek commented on #1559
@glennra Do you have any guess why it is happening?
Does it happen for every app or just thoose using QtWebEngine?

[2015-10-01 15:34] matysek commented on #1481
@tallforasmurf I updated COPYING.txt and put there  link to gpl license. If you have any idea for new wording of the bootloader exception please go ahead.

[2015-10-01 15:34] #1481 closed

[2015-10-01 15:58] bsavelev opened #1564 "No handlers could be found for logger "PyInstaller.utils.misc""
3.0.dev6-25-gd6350ee
[code]

[2015-10-01 16:14] #1468 closed

[2015-10-01 16:29] glennra commented on #1559
@matysek This issue is specific to QtWebEngine. QtWebEngineProcess runs in a separate process and in order for it to not create an extra dock icon it is required to be located inside an app bundle with an Info.plist file that has the LSUIElement key set to true. PyInstaller puts the QtWebEngineProcess binary in the correct location `<app_dir>/Contents/MacOS/QtWebEngineProcess.app/Contents/MacOS/Qt

[2015-10-01 16:53] AcidWeb opened #1565 "UPX breaking vcruntime140.dll (64bit)"
PyInstaller: 3.0.dev8
Python: 3.5.0 64bit
Platform: Windows-10.0.10240

UPX compression is corrupting vcruntime140.dll.
Both in `onedir` and `onefile` output is affected.
Replacing vcruntime140.dll with not compressed copy fix the issue.

Considering that vcruntime140.dll is one of **core** DLLs in 3.5 release forcing UPX to skip this file would be good idea.

Issue can be replicated using **any**

[2015-10-01 17:02] AcidWeb opened #1566 "Universal CRT not found building with Py3.5 on Win10 (Python 3.5 not usable on Windows)"
PyInstaller: 3.0.dev8
Python: 3.5.0 64bit
Platform: Windows-10.0.10240

Freezing **any** code in this environment output some warnings:
https://gist.githubusercontent.com/AcidWeb/aa423c3f402cb86f1806/raw/d0bc853ffe262a4dfccef9febf0fac0b086aa458/gistfile1.txt

This is output of `pyinstaller test.py` where test.py is empty file(!).

[2015-10-01 17:46] adammenges opened #1567 "ValueError: numpy.dtype has the wrong size, try recompiling"
Hello there, I'm back again. :smile:

This time I thought I'd make it dead simple to reproduce the error I'm seeing. The simpleapp repo can be found here: https://github.com/adammenges/simpleapp. Basically I just import a bunch of things from sklearn and nltk.

This was run with the latest in develop. Here's stdout:

[code]

[2015-10-01 17:48] AcidWeb commented on #1347
Well reason is quite simple. utils/win32/versioninfo.py is not Python3 ready.

pywintypes.Unicode() don't work correctly with Python3.

Replace ```pywintypes.Unicode(text)``` with ```text``` (if string is needed) or ```bytes(text, encoding)``` (if bytes is needed).

After that that entire code will probably fail due tons of concat errors but it will be start to making it right.

But making that co

[2015-10-01 17:52] springermac commented on #1559
@glennra I can't reproduce this using `codesign -s Test --deep Test.app`. The symlinks are intentional to allow codesigning to work since it fails if there are any non binary files in the `MacOS` folder.

[2015-10-01 17:58] giumas commented on #1560
I believe that is the same issue:

    tests-Mac:_bag test$ otool -L /Users/test/zzz_x86/py2/lib/python2.7/site-packages/wx-3.0-osx_cocoa/wx/_misc_.so
    /Users/test/zzz_x86/py2/lib/python2.7/site-packages/wx-3.0-osx_cocoa/wx/_misc_.so:
        /usr/lib/libstdc++.6.dylib (compatibility version 7.0.0, current version 7.4.0)
        @rpath/libwx_osx_cocoau-3.0.0.0.0.dylib (compatibility version 1.0

[2015-10-01 20:30] htgoebel commented on #1564
Does this happen when not running as root? And why are you running PyInstaller as root at all?

[2015-10-01 20:31] matysek commented on #1565
@AcidWeb What is your upx version?
Could you try to apply different combination of upx options on vcruntime140.dll if you are able to find out the right one?

[2015-10-01 20:37] matysek commented on #1566
@AcidWeb Thanks for reporting. Those warnings should be harmless.

I think PyInstaller should just ignore them.

@codewarrior0 Is it safe to ignore dlls with names like:
[code]

[2015-10-01 20:44] matysek commented on #1560
@giumas I'm closing this and follow #1514 for updates.

[2015-10-01 20:44] #1560 closed

[2015-10-01 20:49] AcidWeb commented on #1565
upx 3.91
NRV data compression library 0.84
UCL data compression library 1.03
zlib data compression library 1.2.3
LZMA SDK version 4.43

Not found any option combination that work.

[2015-10-01 20:53] codewarrior0 commented on #1566
Probably not. Those DLLs are part of the Universal CRT that Python 3.5 uses. I had to add them to the DLL whitelist to make sure they get included. They should be installed by the Python 3.5 installer so I'm curious why they aren't... maybe it's related to Windows 10, or to having them installed via Windows Update instead of by the Python 3.5 installer.

[2015-10-01 21:01] matysek commented on #1566
@codewarrior0 Are you going to fix this for 3.0?

[2015-10-01 21:03] matysek commented on #1566
Or does it require more investigation?

[2015-10-01 21:07] bsavelev commented on #1564
only when running as root
Because I can!-)))
if seriously I have build system where pyinstaller running with uid=0 (fakeroot, docker, kvm)

[2015-10-01 21:07] AcidWeb commented on #1566
Well I don't have any api-ms-win-* DLL files. And I got entire Visual Studio installed here.

Both Python and files created by PyInstaller work correctly.

[2015-10-01 21:09] codewarrior0 commented on #1566
At least one of these must be false. Would you mind using Dependency Walker on your python.exe and tell me where it is loading the api-ms-win-crt-*.DLL files from?

This is expected. Even if PyInstaller doesn't bundle the CRT files, the built app will still run on *your* system, since you have the CRT files installed system wide. I'd also expect the built app to fail when moved to a system that do

[2015-10-01 21:10] matysek commented on #1566
@codewarrior0 Are those warnings harmless in general?

[2015-10-01 21:11] AcidWeb commented on #1566
Dependency Walker say they are missing.

[2015-10-01 21:12] matysek commented on #1566
@codewarrior0 Moving this issue to 3.1 milestone. If you think it should be in 3.0 do otherwise.

[2015-10-01 21:15] glennra commented on #1559
@springermac With a minimal test app I can't reproduce it either. This is the error message that I get from attempting to sign a more complex app:

    /path/toMyApp.app: signed bundle with Mach-O thin (i386) [org.qt-project.Qt.QtWebEngineCore]
    /path/toMyApp.app: the main executable or Info.plist must be a regular file (no symlinks, etc.)
    In subcomponent: /path/to/MyApp.app/Contents/MacOS/

[2015-10-01 21:17] codewarrior0 commented on #1566
Needs more investigation. I don't even know where to begin fixing it.

I wouldn't say they're harmless, but I don't know if making them fatal is right, either. The built app still works as long as the CRT is installed at the system level, after all.

That's just baffling.

I can't reproduce the warnings on my Windows 7 machine. I wonder if Windows 10 is doing some kind of magic to load those DLLs

[2015-10-01 21:22] codewarrior0 commented on #1566
Any more info you can get would be helpful. Thanks.

[2015-10-01 21:25] AcidWeb commented on #1566
Eh apparently wildcard search don't work on Windows 10. That is reason why I not found any -.-

Still I don't have any in Windows directory. But i have multiple copies as part of VS and Windows SDK.

I'm going to sleep now - I will try provide some additional information tomorrow.

[2015-10-01 21:25] matysek commented on #1559
@glennra Is it possible to generalize this workaround and integrate into pyinstaller or is it more like a candidate for a recipe in the wiki?

[2015-10-01 21:28] codewarrior0 commented on #1566
For the record, I was wrong about the Python installer earlier. It doesn't install the CRT itself; instead, I had to install [The UCRT Release for Windows Vista,7,8 from Microsoft](https://www.microsoft.com/en-us/download/details.aspx?id=48234) before installing Python 3.5. This release isn't needed on Windows 10 because the UCRT is preinstalled.

[2015-10-01 21:30] codewarrior0 commented on #1566
@matysek Since this isn't fixed for 3.0, is there somewhere we can note this as a known issue?

"Apps built with Windows 10 and Python 3.5 may not run on Windows versions earlier than 10."

[2015-10-01 21:32] glennra commented on #1559
Given that it works for a minimal test app then, for now, it's probably better as a wiki recipe. The way that QtWebEngineProcess is packaged into the app is currently not ideal because it requires a specific bundle identifier (org.qt-project.Qt.QtWebEngineCore) to make it work. I couldn't figure out any other way to do it.

[2015-10-01 21:59] matysek commented on #1566
@codewarrior0 I think either README.rst or doc/CHANGES.rst.

[2015-10-01 22:28] springermac commented on #1559
@glennra Is the source code for the more complex app available somewhere?

[2015-10-01 22:30] glennra commented on #1559
@springermac No sorry, it's a proprietry app.

[2015-10-01 22:40] htgoebel opened #1568 "test_celementtree fails if _xmlplus (PyXML) is installed"
It fails with `ImportError: No module named xml.etree.cElementTree` on my system. CI passes, but this *could* be a sign for some deeper problem.
Using 896a85e0590 and Python 2.7.

For Python 3 it passes.

[2015-10-02 03:38] codewarrior0 commented on #1567
[code]

For what it's worth, I've seen this problem before: I compiled a Cython file against numpy 1.9, and then upgraded to numpy 1.10, then whenever the Cython file is imported it raises this error. So it's a version mismatch of some kind.

Did you try `pyinstaller --clean --force` too?

[2015-10-02 05:54] leycec commented on #1553
**Woops.** It's Friday already in the Great White North (Canada) and I got distracted by #1561. I can probably get this out by the end of the day... but it'll be a close shave. :haircut:

Deadlines: the bane of my all-too brief existence.

[2015-10-02 05:57] AcidWeb commented on #1566
@codewarrior0
Clean Windows 10  - My executable work. Dependency Walker say that  ``api-ms-win-*`` are missing. Not found that DDLs anywhere.

Sadly I don't have access to any clean 64bit Windows 7/8 enviroments. But I tested it on random computers without Python 3.5 and as expected they crash due missing DLLs files. **But** Dependency Walker display only few missing DLL files. **Much** more are m

[2015-10-02 06:05] leycec commented on #1553
**O.K.!** Great work on your end, htgoebel. I fully agree that the existing family of `FakeModule` methods (e.g., `add_datas()`, `add_binary()`) are awkward and should probably go away. Currently, the new `PostGraphAPI` preserves these methods purely for backward compatibility. I'd be happy to eliminate those, but I'd rather not replicate work [already done](https://github.com/htgoebel/pyinstaller

[2015-10-02 06:19] codewarrior0 commented on #1566
I am intrigued and terrified. Someday I'll have to install Win10 myself to get to the bottom of this. All I know is, Microsoft says those DLLs are included with Win10 by default, and I know I have them on Win7 because I installed the UCRT package.

[2015-10-02 06:20] leycec commented on #1553
**[**_Tasty Food for Thought_**]**

Incidentally, the current implementation of the `excludedimports` hook global isn't necessarily ideal. Attempting to undo previous `ModuleGraph` operations (in this case, undoing previous imports) usually violates the module graph invariant – a recipe for subtle disaster. This may help explain why `hook-django.core.management`, which sets `excludedimports`, appe

[2015-10-02 06:21] AcidWeb commented on #1566
You can use ModernIE VM to testi this out: https://dev.modern.ie/tools/vms/

[2015-10-02 06:22] codewarrior0 commented on #1566
Thanks! I almost forgot about ModernIE.

[2015-10-02 06:24] AcidWeb commented on #1566
So I guess for now a "fix" is bundling proper redist packages with application installer.

[2015-10-02 06:26] codewarrior0 commented on #1566
Yep. Here's the link for the redist needed for Python 3.5:

https://www.microsoft.com/en-us/download/details.aspx?id=48234

[2015-10-02 06:40] AcidWeb commented on #1566
Separate installer for every windows release? That is major pain in the ass.

[2015-10-02 07:01] AcidWeb commented on #1566
@codewarrior0 @matysek Just confirming ``Visual C++ Redistributable for Visual Studio 2015`` contain all missing DLLs and for now must be distributed with PyInstaller output when Windows 10 + Python 3.5 is used.

[2015-10-02 07:03] codewarrior0 commented on #1566
Thanks. Hopefully I should have this figured out in time for PyInstaller 3.1.

[2015-10-02 08:33] htgoebel commented on #1553
@leycec I replaced FakeModule by PostGraphAPI tonight #1557. Sorry, I've been to tired for putting a note here. It's up to matysek to decide if this will go into 3.0.

Regarding `add_datas()` and `add_binary()`: I kept them for the PostGraphAPI. First I did it only to reduce the number of changes. But then I found that this is a good place to also accept a TOC or Tree and convert it here. And *if*

[2015-10-02 08:40] leycec commented on #1553
You are the true hero of might and magic.

That makes complete sense. And so we soldier bravely onward.

**100% agreed.** I have nothing meaningful to say.

[2015-10-02 10:03] htgoebel commented on #1405
This can be closed if #1557 will be merged.

[2015-10-02 11:03] AcidWeb commented on #1552
Linux builds - Docker containers with old glibc version are very good build environments.

[2015-10-02 11:08] htgoebel commented on #1552
Within a docker container, the processes are running as root. So you will not be able to access root-squashed  NFS shares. Working around this is much of an effort. Solution by docker itself is still pending, see https://github.com/docker/docker/issues/2918

[2015-10-02 13:17] #1405 closed

[2015-10-02 13:17] #1557 closed

[2015-10-02 13:25] tartley commented on #305
A comment above contains a link to the recipe that is now broken. The correct link is now:
https://github.com/pyinstaller/pyinstaller/wiki/Recipe-Setuptools-Entry-Point

[2015-10-02 13:40] matysek commented on #305
@tartley thanks I updated the description with the link.

[2015-10-02 13:58] matysek opened #1574 "in get_homebrew_path() use functions from module 'PyInstaller.utils.osx'."

[2015-10-02 14:10] matysek commented on #1253
This was already fixed probably in 2a853f6eeadcc8ffbe95468bfc9b7223d3e32cd0.

[2015-10-02 14:10] #1253 closed

[2015-10-02 14:25] matysek commented on #1553
I'm with you too.

[2015-10-02 15:09] matysek opened #1575 "windows - .spec file should not contain 'appname.exe' but just 'appname' - be platform neutral"
On Windows PyInstaller generates .spec file that contains code with suffix `.exe` in appname. PyInstaller should generate .spec without containing `.exe` suffix.

Spec snippet now
[code]
requested
[code]

[2015-10-02 15:48] matysek commented on #1575
@codewarrior0 This should fix the issue with .exe suffix in .spec files in PIL test.

[2015-10-02 15:48] #1575 closed

[2015-10-02 15:54] matysek commented on #1552
@tallforasmurf since you do not have time for this at the moment, moving to 3.1 milestone.

[2015-10-02 16:35] htgoebel commented on #1575
Huh? I though, windows requires this extension for taking a program as being executable?!

[2015-10-02 16:58] matysek commented on #1575
Windows requires it but our .spec might not require it and you could build then app from the same .spec  for several OS without any OS specific code.

[2015-10-02 17:03] adammenges commented on #1567
[code]

[2015-10-02 17:27] htgoebel commented on #1575
Ups, I've only seen the second commit. So I did not recognize you moved the logic somewhere else. Sorry.

But this solution is a good idea IMHO :-)

[2015-10-02 19:23] AcidWeb commented on #1309
Lack of this feature also break file association mechanism.

[2015-10-02 20:31] matysek commented on #1309
@AcidWeb Do you have any suggestion how this could be fixed?

[2015-10-02 20:36] AcidWeb commented on #1309
I don't know OS X well enough to comment this issue.

But I know that py2app approach work on all current OS X releases:
https://bitbucket.org/ronaldoussoren/py2app/src/79e351a5f029f80a2505ed2e2ff7a57a896a1a8f/py2app/bootstrap/argv_emulation.py?at=default&fileviewer=file-view-default

[2015-10-02 21:43] codewarrior0 commented on #1567
My bad, it's just `pyinstaller --clean`. Clean means the same thing as force. I'm wondering if there are stale files in the bincache.

[2015-10-02 21:47] ThomasWaldmann opened #1576 "setup.py is not py 3.2 compatible"
[code]

u'...' requires 3.3+.

seen with 3.0.dev7.

[2015-10-02 22:03] codewarrior0 commented on #1576
[PyInstaller requires Python 2.7 or Python 3.3+](https://github.com/pyinstaller/pyinstaller/blob/develop/README.rst#requirements-and-tested-platforms). Won't fix.

[2015-10-02 22:03] #1576 closed

[2015-10-02 22:08] codewarrior0 commented on #1575
Nice. :+1:

[2015-10-02 23:49] ThomasWaldmann commented on #1552
OS X binary built on 10.10 executed on 10.7 crashes with:
[code]
So I suspect it is maybe similar as on Linux and one needs to build on an old system / with old libs?

[2015-10-03 00:12] ThomasWaldmann commented on #1576
ah, ok.

[2015-10-03 05:22] AcidWeb commented on #1552
Theoretically Python and all dependencies need to be compiled with ```QMAKE_MACOSX_DEPLOYMENT_TARGET=10.7``` to make it work @ThomasWaldmann.

But I noticed that simply using older OS X version cause less headaches.

[2015-10-03 06:34] AcidWeb commented on #1309
I want small clarification. Documentation states:

Handlers in application code or handlers in bootloader code?

[2015-10-03 06:44] AcidWeb commented on #1309
When I have .app created by py2app and already one instance of it is running and I try to open file associated to this application that first instance receive event ``QtCore.QEvent.FileOpen``.

In PyInstaller I got nothing. It is like application don't start at all second time.

And I'm not sure if PyInstaller simply require other approach to parse these events or just support for any event parsin

[2015-10-03 07:01] AcidWeb commented on #1309
OK. This explain much.

[2015-10-03 11:06] micmica opened #1577 "Problem with hiddenimports and hooks"
First, sorry for my English I hope you can understand me.
My application works fine from PyCharm, after creating exe with PyInstaller I get "No module name geventwebsocket" so I've added to the hiddenimports- geventwebsocket, and  then I get "No module name server" so I added geventwebsocket.server and so on.. Now I get "Can not import name WebSocketError" which is a class in geventwebsocket.excep

[2015-10-03 18:04] htgoebel commented on #1577
Did you read the manual? Is so, please read both https://github.com/pyinstaller/pyinstaller/wiki/If-Things-Go-Wrong and https://github.com/pyinstaller/pyinstaller/wiki/How-to-Report-Bugs carefully and follow the instruction there. Otherwise we are not able to help.

[2015-10-03 18:11] micmica commented on #1577
I have read it, and I wrote my hook files, and I called pyinstaller --additional-hook-dir=myhook script.spec (I also tried pyinstaller --additional-hook-dir=.myhook script.spec) and I don't know why is not working.

I want to add all moduls from sqlalchemy like:

from PyInstaller.utils.hooks import collect_submodules, collect_data_files

hiddenimports = (collect_submodules('sqlalchemy.engine') +

[2015-10-03 18:14] htgoebel commented on #1577
So the next step is to read [How to report Bugs](https://github.com/pyinstaller/pyinstaller/wiki/How-to-Report-Bugs).

[2015-10-03 20:30] matysek commented on #1464
@htgoebel and @codewarrior0 I finished updating `CHANGES.rst` and `CREDITS.rst`. Please look at it if you would like to append something. Tomorrow I will use these files for the release.

[2015-10-03 20:45] matysek commented on #1500
@htgoebel Are you going to work on this or should I do that?

[2015-10-04 07:24] htgoebel commented on #1500
I'll prepare it this morning. So you'll just need to add the sha-2 checksum, `make` and push.

[2015-10-04 07:32] htgoebel commented on #1464
@matysek: Neither you not me is listed for PyI 3.0. There is no need to hide you light under a bushel. I suggest adding this at the *very* top:

* Martin Zibricky - Core developer and release manager
* Hartmut Goebel - Core developer

[2015-10-04 07:59] htgoebel commented on #1464
In the changelog I changes some entries into sentences, so it's clear what happened)

[2015-10-04 08:38] htgoebel commented on #1500
I prepared this as far as I could. @matysek Please review
- the *maintainers* section
- the *features* section*

and adopt to whatever you think is correct.

[2015-10-04 14:33] matysek commented on #1464
fixed ;-)

[2015-10-04 14:33] #1464 closed

[2015-10-04 14:36] matysek opened #1578 "script which creates .zip archive from doc and uploads it to pythonhosted.org"

[2015-10-04 16:29] matysek commented on #1499
I think this is already done.

[2015-10-04 16:29] #1499 closed

[2015-10-04 16:29] matysek commented on #1500
@htgoebel Thanks! I update the download links and checksums.

[2015-10-04 16:29] #1500 closed

[2015-10-04 17:25] micmica commented on #1071
Have you find the solution for this one? I have the same problem with flask.ext and with flask_bootstrap, I would like to write I hook but I'm really new with this. Do you know come example of hook where I can see how to add directory from module with html documents.
In flask_bootstrap I have directory template that pyinstaller doesn't recognize even if I add to the hiddenimports flask_bootstrap..

[2015-10-04 17:33] micmica opened #1579 "Pyinstaller, hook for flask_bootstrap"
Hello. I'm new with pyinstaller but I have read manual and really tried to make it work but I guess It's too complicate for me at this moment so I would need a help from people with more experience.
However I have a problem with flask_bootstrap, after adding flask_bootstrap to hiddenimports my error No modul name flask_bootstrap was gone, but now I see that hiddenimports did not helped pyinstaller

[2015-10-05 05:44] leycec commented on #1553
**Congratulations on the PyInstaller 3.0 release extravaganza!**

Fantastic work, all. It's been a harrowing two-year process, but the PyInstaller Crew pulled it through. Enjoy a well-deserved slice of gourmet greasy pizza: :pizza:

Due to a family health emergency (and a slight feeling of burn-out), I'm probably going to take a week or two off from PyInstaller development. Until then, know that y

[2015-10-05 07:30] jksfiftyfive opened #1580 "pandas: C extension pandas.lib not included"
Hi,

Im using python 2.7.9 32 bit python on windows 7.

I tried this with the development version of pyinstaller

Im getting this error when trying to run my exe.  it seems to build ok, but doesnt execute.  The following message appears:

ImportError: C extension: lib not built. If you want to import pandas from the source directory, you may need to run 'python setup.py build_ext --inplace' to bui

[2015-10-05 07:38] jksfiftyfive commented on #1580
i should also add that the code works fine.  i dont get the error when running within python

im only having issues with the executable

[2015-10-05 08:26] htgoebel commented on #1580
You probably need to create a hook for pandas. See http://pythonhosted.org/PyInstaller/#understanding-pyinstaller-hooks. The description there should still be okay for your case.

[2015-10-05 14:00] ChrisTruncer commented on #1564
I'd be interested in this as well.  Pyinstaller is used in special linux distributions for security testing where you will be running it as root.  So it would be good to know if there's an issue in this case.

[2015-10-05 15:42] gkorf opened #1581 "Importing zipped eggs broken (migrate egg tests to pytest)"
* When building my project with pyinstaller 3.0, modules are reported missing for dependencies which are found as zipped eggs.
* If I unzip the egg, the module is imported properly.
* Tested on Linux, Python 2.7.6 and virtualenv.
* I think this behavior is introduced in https://github.com/pyinstaller/pyinstaller/commit/0a5075f096d79e5a8bc97d5fcec5c6a75fe1a83e
* it happens with both: Python 2 and 3

[2015-10-05 16:12] jksfiftyfive commented on #1580
But what file(s) should the hook point to?  looks like its not complaining that it cant find the file, it looks like its complaining that a C extension file isnt built.

Any ideas?
thanks

[2015-10-05 19:11] phelixbtc opened #1582 "Reproducible Freeze"
The resulting executable looks like it is ordered differently between builds (not in onefile mode). Everything else is relatively easy to match.

See also https://github.com/pyinstaller/pyinstaller/issues/490

For motivations see: https://media.ccc.de/browse/congress/2014/31c3_-_6240_-_en_-_saal_g_-_201412271400_-_reproducible_builds_-_mike_perry_-_seth_schoen_-_hans_steiner.html#video&t=18

[2015-10-05 19:15] matysek commented on #1581
@gkorf Do you have any code example to reproduce this issue?

[2015-10-05 19:48] matysek commented on #1582
@phelixbtc Do you think that this could be fixed when files / modules would be ordered for example alphabetically?

[2015-10-05 20:03] gkorf commented on #1581
In a virtualenv run:
$ pip install pyinstaller
$ pip install --egg ws4py

$ cat main.py
from ws4py import websocket
if __name__ == "__main__":
    print websocket

$ pyinstaller main.py
$ ./dist/main/main
Traceback (most recent call last):
  File "<string>", line 1, in <module>
ImportError: No module named ws4py
main returned -1

On Mon, Oct 5, 2015 at 10:15 PM, Martin Zibricky <notifications@gith

[2015-10-05 21:08] phelixbtc commented on #1582
Yes, that might be all that is needed. In any case it should be one of the necessary steps. I would be happy to test.

[2015-10-05 21:36] JMSwag commented on #1553
@htgoebel @matysek @leycec @codewarrior0

Thank you!

[2015-10-06 09:20] g0tmi1k commented on #1564
The following patch makes the error going away (when running as root).
[code]

Not sure if this is correct, but its working for me.

Kali Linux (https://www.kali.org/) is root by default.
This is working for me:
[code]

[2015-10-06 09:28] r0x0r commented on #1322
What is a solution to this one? I am using version 3.0 and still getting this issue with win32com.shell.

[2015-10-06 09:47] codewarrior0 commented on #1322
The problem is that the folder `win32comext` is added to the `__path__` of package `win32com`, but ModuleGraph can't follow this path addition because it is done at runtime. I can't think of a quick-fix that you can use right now.

[2015-10-06 10:03] codewarrior0 commented on #1322
`win32comext` modules are not covered by our test suite. I'm introducing some new functional tests for these modules.

[2015-10-06 10:11] matysek commented on #1564
@g0tmi1k thanks for debugging.

Question is how to handle the root requirement in PyInstaller:
* PyInstaller implemented a root check to stop if running as root.
* On the other hand, there could be some cases where running as root might be necessary.
* I suggest keep the default behavior (stop when running as root) and add there an option that would skip this root check - probably anything like `-

[2015-10-06 10:19] codewarrior0 commented on #1564
I did some digging on why PyInstaller tries to stop you from running as root.

Long ago, before it was installable via setuptools, PyInstaller was run by using `python pyinstaller.py`. Running it like this did not forbid running as root. There were also several scripts in the `utils` folder, such as `utils/bindepend.py`. Since these scripts needed to modify `sys.path` in order to load the `PyInsta

[2015-10-06 11:02] matysek commented on #1579
@micmica
* Hooks are placed in `./PyInstaller/hooks/`
* `PyInstaller/utils/hooks` is only for helper functions
* As an example you could use any file from `PyInstaller/hooks` that contains `collect_data_files`.
* It looks like you need hook like `hook-flask_bootstrap.py`:
[code]

[2015-10-06 11:05] matysek commented on #1582
@phelixbtc What pyinstaller and python version do you use? Is it the same with Python 2 and Python 3?

[2015-10-06 11:22] matysek commented on #1581
@gkorf Thanks for the example.

[2015-10-06 11:30] matysek opened #1583 "migrate import tests to pytest"
All tests from `./tests/old_suite/import` should be migrated to `./tests/functional/test_import.py`

[2015-10-06 12:18] phelixbtc commented on #1582
I have tested pyinstaller 2.1 and 3.0dev6. I have only tested with Python 2.7.10 so far. If you can point me to the right place I could try using an ordered dictionary or something and eventually submit a PR.

[2015-10-06 12:21] ChrisTruncer commented on #1564
@matysek - I'd definitely like to chime in again and say that I absolutely have a use case for having this run as root.  As @g0tmi1k stated earlier, Kali linux uses root by default due to the permissions required by a variety of its tools.  I would love to have pyinstaller be allowed to run as root, even if it is like you suggested where we just add an extra cli options such as "--skip-root-check"

[2015-10-06 12:55] matysek commented on #1582
@phelixbtc I think you should hack the pyinstaller phases when you get messages like:
[code]
* If you use archive_viewer you should see output like this:
[code]
* In function `PyInstaller.depend.analysis:get_bootstrap_modules()` you can see items where the order is really important.'
  * when using 'archive_viewer' after these items then follows:
    1. rthooks
    1. user scripts
    1. compresse

[2015-10-06 13:11] phelixbtc commented on #1582
Thanks. Sounds more complicated than I thought :)  I will try to make time but it may take a while.

[2015-10-06 14:57] micmica commented on #1579
Thank you! :+1:

[2015-10-07 08:57] georgemunteanu opened #1584 "excludedimports in hooks - modules not bundled at all (e.g. FixTk)"
[INPUT]
[code]

[OUTPUT]
[code]

NOTE: I am using: python 2.7.10. I am using pyinstaller: 3.0
NOTE: When running the .py everything works as expected.
NOTE: If I remove the openNotepad function than the exe file will not return any error, therefore the app. created with Tkinter works.
NOTE: If I remove the the Tkinter part (thus leaving only the openNotepad) then the exe file open the Notepad.
NOT

[2015-10-07 09:17] phelixbtc commented on #1582
Modifying `datastruct.TOC.extend` like below seems to do the job or at least improve things. Unfortunately this also breaks the executable. Probably some things should not be sorted :)

[code]

[2015-10-07 11:17] matysek commented on #1582
Try to use `archive_viewer` to examine the order of the items inside the executable.

[2015-10-07 11:22] codewarrior0 commented on #1582
See also #490 - one root cause of the non-reproducible freeze is the hash seed randomization in Python 3.3+. This affects the order that modules are read out of a ModuleGraph using `graph.flatten()`, among other things.

Another, which I've just discovered, is that files written to the base_library.zip using `ZipFile.writestr` are given a timestamp of the current time which will of course vary fro

[2015-10-07 12:07] matysek commented on #1584
@georgemunteanu Does any of these workarounds work?
1. use pyinstaller option `--hiddenimport=FixTk`
1. explicitly import only the items you need and not importing all like `from Tkinter import *`

[2015-10-07 12:13] matysek commented on #1582
Should we just somehow write "a constant date" into base_library.zip and override the timestamp?

[2015-10-07 13:20] georgemunteanu commented on #1584
thanks for reply.
1. I've tried: pyinstaller.exe --onefile --windowed --hiddenimport=FixTk C:\automat\test.py.
The system returns:
Usage: pyinstaller-script.py [opts] <scriptname> [ <scriptname> ...] | <specfile>
pyinstaller-script.py: error: no such option: --hiddenimport

2. I;ve alter the code so that "from import ...." statement is no longer needed. I got the same result.ImportError: No module

[2015-10-07 13:37] matysek commented on #1584
Ups. Typo. The option is `--hidden-import` sorry about that.

[2015-10-07 13:37] georgemunteanu commented on #1584
no biggie. I did pyinstaller.exe --help and I found the correct syntax.

[2015-10-07 14:33] georgemunteanu commented on #1584
yes yes yes yes. I found the fix:
"
import sys
sys.path.append(r'C:\Python27\lib\lib-tk')
"

I hope this will help others.

[2015-10-07 14:37] josephbisch commented on #1582
The Gitian build system for reproducible builds uses faketime for setting a particular date-time to use consistently across builds, so that should handle any timestamp issues that might occur when doing a build with the Gitian system of any software that uses pyinstaller.

Debian's reproducible build project uses their own tools (not Gitian). They have created a standard called SOURCE_DATE_EPOCH.

[2015-10-07 14:50] codewarrior0 commented on #1582
Thanks Joseph. We'll consider supporting SOURCE_DATE_EPOCH.

The ZipFile class does have a date-time parameter, but it is on the ZipInfo helper class, which is not usable directly. We can indirectly pass a timestamp by writing the data to a temporary file and changing its mtime, and then passing that to `ZipFile.write`... but this could get a bit thrashy. Shouldn't be a big deal because zipfiles s

[2015-10-07 14:56] codewarrior0 commented on #1582
I'm mildly curious if any distros enable hash-seed randomization for Python 2.7. All it takes to find out is to run this command twice and compare the values; if unequal, the hashes are randomized:

`python2 -c "print(hash('hello world'))"`

[2015-10-07 15:03] josephbisch commented on #1582
I get the same value each time I run that. But I am on Debian Testing (Stretch), not Debian Stable (Jessie), so I don't know about Jessie. So I am using python2.7 version 2.7.10-4 instead of 2.7.9-2.

But I'm guessing if randomization isn't enabled for newer Debian releases, it probably isn't for Jessie either.

[2015-10-07 15:03] josephbisch commented on #1582
Oh, sorry I am using 2.7.10-3.

[2015-10-07 15:04] matysek commented on #1584
@georgemunteanu yes, it won't work on other PCs. This just confirms that for some reason, FixTk is not bundled with the executable.
* Does the defualt `--onedir` mode work?
* What other Python packages besides `pywinauto` do you have installed?

[2015-10-07 18:09] adammenges commented on #1567
Seems to be, I tried with a `rm -rf dist build app.spec` beforehand with the same result.

Did you have any luck with reproducing it?

[2015-10-07 18:12] adammenges commented on #1567
FWIW: If someone needs to install scikit-learn and company, I've found [fonnesbeck/ScipySuperpack](https://github.com/fonnesbeck/ScipySuperpack) to be nice and easy.

[2015-10-07 19:15] micmica opened #1585 "No module named hookutils"
I have installed new version pyinstaller 3.0 and I get this error:
 from PyInstaller.hooks.hookutils import collect_submodules
ImportError: No module named hookutils

Pyinstaller 2.1 worked fine :(

Any idea why this happened?

[2015-10-07 20:05] matysek commented on #1585
Please provide more info.
* it looks like you have some customized hooks or .spec and files
* in 3.0 this module was renamed: `PyInstaller.hooks.hookutils -> PyInstaller.utils.hooks`

[2015-10-07 21:12] micmica commented on #1585
Thank you I did not know that. However now I get :
  File "C:\Python27\lib\site-packages\flask\exthook.py", line 87, in load_module

    raise ImportError('No module named %s' % fullname)
ImportError: No module named flask.ext.sqlalchemy.sys
manage returned -1

As I said I did not have these problems with 2.1 version... Any advice will help.

My hooks for flask_sqlalchemy:
 from PyInstaller.utils.

[2015-10-08 02:12] machawk1 opened #1586 "OSX 10.11: Unable to build even simple script in El Capitan (missing 32bit bootloader)"
I am having fundamental issues with Pyinstaller 3.0 (installed with `pip`) after upgrading both from Pyinstaller 2.1 and from OS X 10.10.5 to OS X 10.11. I first completely uninstalled python via homebrew and removed all remnants of Pyinstaller per [How to Report Bugs](https://github.com/pyinstaller/pyinstaller/wiki/How-to-Report-Bugs). A very basic program runs as expected.
[code]
[code]

An erro

[2015-10-08 02:19] codewarrior0 commented on #1586
Precompiled bootloaders for 32-bit Python are no longer included. 64-bit Python is supposed to be the default version on newer versions of OS X. I believe you can use this command (from `man python`) to set the default back to 64-bit:

`defaults write com.apple.versioner.python Prefer-32-Bit -bool no`

[2015-10-08 02:23] machawk1 commented on #1586
@codewarrior0 I ran the command to no avail.
[code]
I also opened a new terminal session and re-ran the above with the same result, just to verify there was not anything sticking to the session.

[2015-10-08 02:29] machawk1 commented on #1586
I noticed there is a directory at `/Library/Python/2.7/site-packages/PyInstaller/bootloader/Darwin-64bit` but nothing at `/Library/Python/2.7/site-packages/PyInstaller/bootloader/Darwin-32bit`. Is it possible to instruct Pyinstaller to use the 64-bit bootloader?

[2015-10-08 02:32] codewarrior0 commented on #1567
I haven't tried reproducing this yet (and I doubt I'd be able to). Did you also remove `~/Library/Application Support/pyinstaller`? That is another cache folder the `--clean` argument is supposed to remove.

[2015-10-08 02:34] codewarrior0 commented on #1586
Yes, all it takes is to run the 64-bit version of Python. Maybe the `pyinstaller` script is sticking to the 32-bit Python, since it was installed using a 32-bit `pip`. Try running `python -c "import platform; print(platform.architecture())"` to verify that python is running as 64-bit, and then `pip uninstall -y pyinstaller; pip install pyinstaller` to reinstall PyInstaller.

[2015-10-08 02:46] machawk1 commented on #1586
`python -c "import platform; print(platform.architecture())"` was indicating 32-bit but another `defaults write com.apple.versioner.python Prefer-32-Bit -bool no` results in `('64bit', '')`. I am encountering a different error with the same program.

[code]

[2015-10-08 07:03] AcidWeb commented on #1586
I suggest you to use python2 from homebrew.

Additionally you should be aware that building your script on 10.11 make in incompatible with older OS X releases.

[2015-10-08 07:07] georgemunteanu commented on #1584
Hi,
a) i have tried: --onedir option. Result: works om localhost but not on other env.
b) Apart from default libraries, I have installed: twilio, pyautogui.
NOTE: in the mean time  I added: "import sys; sys.path.append(r'C:\Python27\lib\lib-tk')" in Tkinter.py + FixTk.py. Result:  works om localhost but not on other env.
I will keep digging....

take care

[2015-10-08 08:05] matysek commented on #1584
@georgemunteanu Could you post here the full debug pyinstaller output you get for your app? Options `--debug --log-level=DEBUG`. For more details see
* https://github.com/pyinstaller/pyinstaller/wiki/If-Things-Go-Wrong
* https://github.com/pyinstaller/pyinstaller/wiki/How-to-Report-Bugs

[2015-10-08 08:25] matysek opened #1587 "PyInstaller GUI - try library Gooey"
- PyInstaller does not have a working gui.
- We could try the python library https://pypi.python.org/pypi/Gooey/
- this library should turn CLI app into GUI dialog with all available options
- this liibrary could replace the old Tkinter script `pyinstaller-gui.py`

[2015-10-08 08:29] matysek commented on #1585
@micmica try the option `--hidden-import=flask.ext.sqlalchemy.sys`

When you get flask hooks working please create a pull request.

[2015-10-08 08:42] matysek commented on #1586
@machawk1 Please try to use pyinstaller with option `--clean`.

[2015-10-08 08:43] matysek commented on #1579
@micmica Could this be closed?

[2015-10-08 10:50] micmica commented on #1585
I have tried that but it's still the same.I will, if I get them work.

[2015-10-08 11:00] georgemunteanu commented on #1584
Full build stack is:
========================================
47 INFO: PyInstaller: 3.0
47 INFO: Python: 2.7.10
47 INFO: Platform: Windows-2008ServerR2-6.1.7601-SP1
47 INFO: wrote C:\Users\gmunteanu\test.spec
47 INFO: UPX is not available.
47 INFO: Extending PYTHONPATH with C:\automat
47 INFO: checking Analysis
108 INFO: checking PYZ
140 INFO: checking PKG
171 INFO: Building because C:\Users\gmunt

[2015-10-08 12:00] matysek commented on #1584
@georgemunteanu This is what I though.

Does it work when you comment out line starting with `excludedimports` in files `\PyInstaller\hooks\hook-PIL.py` and `hook-PIL.SpiderImagePlugin.py`?

[2015-10-08 12:20] georgemunteanu commented on #1584
yes. it does.
status: problem solved
thanks a bunch for helping me out.

[2015-10-08 12:35] ansonl opened #1588 "Missing api-ms-win-crt-runtime-l1-1-0.dll"
The Pyinstaller [feature](https://github.com/pyinstaller/pyinstaller/wiki/Features) page mentions

When I create an executable and run it on another computer with Windows 7, I get an error about a missing api-ms-win-crt-runtime-l1-1-0.dll . I don't have the rights to install the VC Redistributable to this computer.
![image](https://cloud.githubusercontent.com/assets/546458/10366137/5277c1ca-6d96-1

[2015-10-08 12:48] codewarrior0 commented on #1588
OS version? Python version?

[2015-10-08 12:51] phelixbtc commented on #1582
@codewarrior0 On Windows Python 2.7.10 your command always gives the same answer (`-1500746465`).

Oddly enough I did not run into any timestamping issues so far.

[2015-10-08 13:32] machawk1 commented on #1586
@AcidWeb I thought I was but the paths read otherwise. Is there anything I can do to ensure my script's compatibility with older 64-bit versions of OS X? Is there a ticket I can follow for improving this backward compatibility? Now:
[code]

@matysek In using the `--clean` option, I still get the error:
[code]

[2015-10-08 13:37] AcidWeb commented on #1586
Backward compatibility on OS X is somewhat complex.

Easy way: Compile everything on oldest OS X release you want to support.
Hard way: Experiment with MACOSX_DEPLOYMENT_TARGET. And make sure that everything that is packed in to executable was compiled when this system variable was set to oldest OS X version you want to support.

[2015-10-08 13:42] machawk1 commented on #1586
@AcidWeb, thanks for the info. I will refer back to your comment once I can get pyinstaller working again on El Capitan (this ticket).

[2015-10-08 13:47] Repiklis commented on #1291
Hi all,

I got the same problem with win 7 and python 2.7.10, but with pyinstaller 3.0. I don't have Anaconda and build in a directory (not onefile). Used to work with the development version I got, which was a couple of months old.
The message I get now is: "Error loading Python DLL: C:\PathToExe\python27.dll (error code 14001)
Here is the trace output. As fas as I can tell, it is pretty similar

[2015-10-08 13:48] ansonl commented on #1588
Both build and target computers are running Win7 SP1. Build computer has python 3.5.

Build cmd output is below:
[code]

[2015-10-08 13:49] ansonl commented on #1588
Currently installed pip packages
[code]

[2015-10-08 13:49] codewarrior0 commented on #1291
Could you try again with `pyinstaller --clean` and see if that still happens?

[2015-10-08 14:09] Repiklis commented on #1291
The --clean option seems to have resolved the issue.

[2015-10-08 14:11] codewarrior0 commented on #1291
All right, I think I see what's happening now. The bincache stores cached versions of files that are modified while being collected, and if our modifications change, it will still use the cached version that has the old modifications. I think the solution is to add a "version" key to the cache.dat file in the bincache folder, and compare that with a version constant that gets updated whenever the

[2015-10-08 14:33] codewarrior0 commented on #1566
I found out that there is, in fact, some magic involved.

On Windows 10, the DLLs `api-ms-win-crt-*.dll` do not actually exist. They are magic words that when passed to the `LoadLibrary` function, will load a completely different DLL as part of what Windows calls an _API Set_. This completely different DLL seems to be in all cases `ucrtbase.dll`.

However, on Windows Vista/7/8, those DLLs do exist

[2015-10-08 14:37] codewarrior0 commented on #1588
This problem seems intractable for the moment. See https://github.com/pyinstaller/pyinstaller/issues/1566#issuecomment-146564554

As a workaround, you can recommend users on Windows Vista, 7, and 8 to install update `KB2999226` via Windows Update, or manually install the [VC 2015 Redistributable](https://www.microsoft.com/en-US/download/details.aspx?id=48145)

[2015-10-08 14:50] AcidWeb commented on #1566
Good job.

I already heard about that update. But relying on that is QA no-go for me. Fortunately I distribute Windows version of my application in Inno Setup form - so bundling that runtime is not a problem.

[2015-10-08 16:04] machawk1 commented on #1586
For testing's sake, I `pip uninstall pyinstaller` then `pip install pyinstaller=2.1`, repeated the steps above with the `hello.py` and more complicated Python scripts with complete success. I would like to use the features in Pyinstaller 3.0 but will sticking with 2.1 ensure a greater degree of backward compatibility with older versions of OS X for now, @AcidWeb?

[2015-10-08 16:08] AcidWeb commented on #1586
Version of Pyinstaller is not connected to backward compatibility. Any piece of code that is compiled on 10.11 without proper environment **might** fail on older OS X versions.

[2015-10-08 20:32] htgoebel commented on #1582
Data schould be sorted when creating the output, not in eavh `extend()`

Am 7. Oktober 2015 11:17:15 MESZ, schrieb phelixbtc <notifications@github.com>:

--
Diese Nachricht wurde von meinem Android-Mobiltelefon mit K-9 Mail gesendet.

[2015-10-08 21:18] matysek commented on #1588
@ansonl Or preferably downgrade to Python 3.4 on the build computer if possible.

[2015-10-08 21:30] matysek commented on #1586
@machawk1 Look at this wiki page. It contains some information about macports and how to achieve somme backwards compatibility: http://wiki.openlp.org/Testing:Mac_OS_X_Testing_Environment#Settings_for_Mac_OS_X_Compatibility

[2015-10-08 21:32] matysek commented on #1586
@tallforasmurf Are there any information about OS X compatiblity in this discussion that is worth document in the manual?

[2015-10-08 21:53] matysek commented on #1582
@phelixbtc Is this because you are still testing only onedir mode?

[2015-10-08 21:57] phelixbtc commented on #1582
@htgoebel yeah, that makes more sense. I modified writers.ArchiveWriter._add_from_table_of_contents but the executable still breaks (but it is building reproducibly for me).

[2015-10-08 21:59] phelixbtc commented on #1582
@matysek Yes, I have only been testing onedir mode so far.

[2015-10-08 21:59] matysek commented on #1582
@phelixbtc Could you create a pull request so that we could see your modifications and provide feedback directly to your code?

[2015-10-08 22:04] htgoebel commented on #1582
This is simply because PyInstalle does not store any timestamp into the frozen executable – it does not need one.

[2015-10-08 22:13] htgoebel opened #1589 "Add alias-option `--hiddenimports`"

[2015-10-08 22:14] htgoebel commented on #1585
Closing this issue. It's about "No module named hookutils", which is solved.

[2015-10-08 22:14] #1585 closed

[2015-10-08 22:20] htgoebel commented on #1584
As already stated in the first comment above, this is to be solved by https://github.com/pyinstaller/pyinstaller/issues/1553#issuecomment-144934669 which says:

[2015-10-08 22:39] tallforasmurf commented on #1586
It looks as if something should be said about this. Right now the manual just says what the program says when it runs, "will only work on 10.6+". But before making any changes, some things are not clear.

* is it true the distributed 32-bit bootloader does not work in 10.11? What versions does it work in? Can it be upgraded or is it dead as of 10.11?

* do I get the impression that when bundling i

[2015-10-09 04:38] AcidWeb commented on #1586
@tallforasmurf - Remember that bootloader is not only compiled part. Python, C parts of Python extenstions etc.

Execute ``export DYLD_PRINT_LIBRARIES=1`` in console and start binary made by PyInstaller. You will see how many system libraries are used. If any part of frozen app expect to find any endpoint that exist only in 10.11 - application will fail. ``MACOSX_DEPLOYMENT_TARGET `` tell compiler

[2015-10-09 07:32] #1579 closed

[2015-10-09 07:45] phelixbtc commented on #1582
@matysek Voilá: https://github.com/pyinstaller/pyinstaller/pull/1590

btw when starting the executable I get three popups:
[code]

[2015-10-09 07:47] codewarrior0 commented on #1566
Apparently, by installing the [Windows 10 SDK](https://dev.windows.com/en-us/downloads/windows-10-sdk) (_1.9 GB_) onto Windows 10, you will also install the "missing" `api-ms-win-crt-*` DLLs which will be found under `C:\Program Files\Windows Kits\10\Redist\ucrt`. That's hardly the beginning of a solution. Nobody is going to install the SDK just to use PyInstaller.

I looked at the other downloads

[2015-10-09 07:48] phelixbtc commented on #1582
@htgoebel It's very handy Pyinstaller does not store timestamps. Exactly the way it should be. :)

[2015-10-09 08:12] notgonnacodethat commented on #1580
hi i'm experiencing the same problem, got the following error during build (both --onedir and --onefile) and running the .exe

ImportError: C extension: lib not built. If you want to import pandas from the source directory, you may need to run 'python setup.py build_ext --inplace' to build the C extensions first.

i tried to build with "python setup.py build_ext --inplace --force" as well as using

[2015-10-09 08:29] micmica commented on #1585
Are you sure it's about that? I have changed in hook-flask_sqlalchemy and hook-flask,
PyInstaller.hooks.hookutils  to  PyInstaller.utils.hooks, and still won't work.

[2015-10-09 08:35] micmica commented on #1585
I was wandering if this could be a bug? It seems like pyinstaller isn't detecting an import of the standard library's sys? I'm really trying to make this work, and I don't think it's about hookutils.

[2015-10-09 08:47] htgoebel commented on #1585
See the title of the ticket. Matysek gave you the solution. You are now talking about a totally different issue. Please open a new ticket for this.

Am 9. Oktober 2015 10:29:14 MESZ, schrieb micmica <notifications@github.com>:

--
Diese Nachricht wurde von meinem Android-Mobiltelefon mit K-9 Mail gesendet.

[2015-10-09 09:18] matysek opened #1591 "add tests for XML modules from the standard Python library"
* PyInstaller contains several hook files `hook-xml.*.py`.
* These files are old and some of them might be useless.
* Create several tests for 'xml.*' module and remove not needed hook files.

[2015-10-09 09:30] matysek opened #1592 "revisit usecase for ATTRS attribute in hooks (overriding Python module attributes in frozen state)"
Import hook attribute `attrs` is already broken for several years and some hook files (hook-xml.*.py) use it. These hooks are thus broken.

We should:
* decide if we want to support global `attrs` in import hooks
* find proper usecase for that:

  * this use case overlaps with rthooks:
    * It looks like it  should allow to override some module attributes for frozen state with a fixed value
    *

[2015-10-09 09:52] goyodiaz opened #1593 "GraphError: Invalid nodes matplotlib.backends.qt_compat -> PyQt4.QtCore ( broken excludedimports )"
I am getting this error when trying to package a script using matplotlib.

Microsoft Windows [Versión 6.1.7601]
Python 2.7.9
PyInstaller 3.0 (also 3.1.dev0 installed using pip on 2015-10-09)
Matplotlib 1.4.3

The script is as simple as it goes:
[code]

The error:
[code]
Full output and the script:
https://gist.github.com/goyodiaz/5bdbc1461c01a79f8b08

[2015-10-09 11:09] matysek commented on #1593
@goyodiaz This looks similar to #1584 .

[2015-10-09 11:15] matysek commented on #1593
@goyodiaz Could you try the same as mentioned in #1584?
[code]

[2015-10-09 11:25] matysek commented on #1580
@jksfiftyfive It looks like pyinstaller does not bundle C extension and pandas thus complains that it was not compiled.
* Question is why do you need to compile anything with pandas yourself when there are prebuilt pandas wheel packages on pypi: https://pypi.python.org/pypi/pandas/
* You still haven't provided enough info for reproducing this issue: https://github.com/pyinstaller/pyinstaller/wiki/

[2015-10-09 11:29] matysek commented on #1588
Closing, as there were suggested some workarounds and it is duplicate of #1566.

[2015-10-09 11:29] #1588 closed

[2015-10-09 11:45] matysek commented on #1566
@codewarrior0 Some ideas.
* Could it be that `api-ms-win-crt-*` are not "real dlls" and that Windows knows it should redirect `api-ms-win-crt-*` calls to UCRT.dll?
* It could be a new feature of Windows 10?
* MSVC runtime 2015 probably contains `api-ms-win-crt-*` for backward compatibility and in reality `api-ms*.dlls` just internall redirects calls  to ucrt?
* Probably win10sdk contains them for

[2015-10-09 11:58] codewarrior0 commented on #1566
Yes, this is a new feature called _API Sets_.

Yes, this is how _API Sets_ are implemented for the UCRT on systems earlier than Windows 10. These DLLs simply redirect their exports to `ucrtbase.dll` using the Forwarded Exports feature of DLL files. I implemented support for this feature several weeks ago, which is how `ucrtbase.dll` will get collected when building Python 3.5 on Windows Vista/7/8.

[2015-10-09 12:15] matysek commented on #1586
I think we should drop this message then.

Summary what we should document:
* recommend using older OSX if app compatibility is needed. This should be the safest option.
* recommend using macports/homebrew and play with the `MACOSX_DEPLOYMENT_TARGET` and we could try to find some linkes to macport/homebrew doc that mentions this.

[2015-10-09 12:17] AcidWeb commented on #1586
Relevant: https://github.com/Homebrew/homebrew/issues/16285

[2015-10-09 12:19] matysek commented on #1566
* What  file size are we talking about?
* I think for redistribution we would have to create a special .whl just for Win?

[2015-10-09 12:25] codewarrior0 commented on #1566
300kB all together. They're just redirects, after all.

Well, technically yes, if you want to comply with the SDK clause that says "only for use on Windows systems". Or you could wave your hands, say "they're not actually used on the other systems we support", and just throw them in the sdist, the same way we include the bootloaders for all platforms.

If we did build wheels for each platform, the

[2015-10-09 12:28] goyodiaz commented on #1593
Thanks, @matysek. I will be unable to try until monday. I will report back then.

[2015-10-09 14:52] matysek commented on #1566
So it is 600kB for both 32 and 64bit?

I would recommend then fix this issue by including those dlls with PyInstaller to have a workaround before trying anything else more complex that might not work. You then do not need to worry if another solution won't work.

I suggest this implementation:
* Add those dlls into directories `./PyInstaller/bootloader/Windows-32/64bit`
* Have those dlls in the gi

[2015-10-09 14:57] codewarrior0 commented on #1566
Yep.

I'll give it a try when I have time. It will take a while for me to properly test because I need to use virtual machines.

[2015-10-09 18:13] tallforasmurf commented on #1586
@AcidWeb yes, highly relevant. What that says is, **anything you install with homebrew** will be built for the current system -- which would include Python itself and any .so's built by pip/setup. So if you use homebrew, any PyInstaller bundle is contaminated for use in an older system. This adds weight to the  recommendation, "build on the oldest system you need to support". That is a simple, cle

[2015-10-09 19:59] tallforasmurf commented on #1586
Check the updated text under "Building Mac OS X App Bundles". If no problems I will close this.
https://github.com/pyinstaller/pyinstaller/blob/develop/doc/Manual.html

[2015-10-09 20:04] AcidWeb commented on #1586
Changes are good but I think we derailed this issue a "little". I think that original problem is still not solved.

[2015-10-09 21:13] matysek commented on #1586
* Original problem was about 32bit python and missing bootloader and it was clarified.
* For the another issue with permissions error there should be created a new ticket.
@tallforasmurf Please close this issue if you are fine with your doc updates.
@machawk1 If you'd like the `OSError: [Errno 1] Operation not permitted:` to be debugded please open a new issue with description how to reproduce it.

[2015-10-09 23:12] dloman commented on #1580
I'm also having this issue trying to use pyinstaller on centos. I don't understand which files I need to add to hook.

I tried running with the ```--onedir```,  ```--onefile``` and  ```--noupx``` flags

[2015-10-09 23:40] dloman commented on #1580
fixed this issue on my end.  Pyinstaller wasn't including ``$PYTHONDIR/site-packages/pandas/lib.so``` just copied this into the dist directory and named it pandas.lib.so and it appears to be working. Pyinstaller is awesome keep up the good work!

[2015-10-10 01:33] #1586 closed

[2015-10-10 01:46] machawk1 commented on #1586
@matysek Is the original ticket's title, "Unable to build even simple script in El Capitan" solved? If one gets pyinstaller via pip on OS X 10.11, will they be able to compile a script to an OS X .app?

Can anyone else verify success with compiling scripts to binary with pyinstaller on OS X 10.11 (to mitigate any environment issues I have)? That was the purpose of this ticket.

[2015-10-10 08:36] matysek commented on #1586
@machawk1 The original title was too vague and 'missing bootloader' was the first identified error. If there is another start a new ticket that will be dedicated just to that issue.

[2015-10-10 10:27] matysek commented on #1580
@dloman thanks for debugging

[2015-10-10 17:35] matysek commented on #1581
It looks like modulegraph has lost the ability to detect `.eggs` and in this case the module `ws4py` is recognized as a `missing` module and written to `warnings.txt`.

[2015-10-11 10:43] rth commented on #1580
@matysek  Regarding your earlier comment,

I can confirm that the same issue occurs with prebuild pandas package for anaconda on Windows 8.1 (python 2.7).

Here is a minimal working example:

**test.py**

    import pandas as pd

    assert pd.lib.is_float(1) == 0

**Makefile.bat**

    conda create --yes -n test_env pip future nose cython setuptools=18 pywin32 libpython numpy=1.9 scipy=0.15 panda

[2015-10-11 18:02] htgoebel commented on #1592
According to [the manual](https://github.com/pyinstaller/pyinstaller/blob/v2.1/doc/source/Manual.rst#hooks-in-detail):

modulegraph has a somewhat similar but automated approach by collecting assignments to global variables. But *I assume* at the moment this does not work as expected due to #1550. So IMHO we should fix this in modulegraph and completely drop the `attrs` in hooks.

To fix collectin

[2015-10-12 02:07] notgonnacodethat commented on #1580
@dloman thanks for your answer, works like a charm
for windows, just copy lib.pyd from pandas folder to dist folder and rename it to pandas.lib.pyd

[2015-10-12 02:56] tallforasmurf commented on #1580
could this be managed with an added binaries item? As described here:
https://pythonhosted.org/PyInstaller/#adding-binary-files

[2015-10-12 09:08] notgonnacodethat commented on #1580
@tallforasmurf tried modifying the spec file by adding binary / data file, but the "pandas.lib.pyd" file will be automatically placed in "dist/pandas.lib.pyd" folder instead of the root "dist" folder and that doesn't work

anyone know how can I modify in the spec file so that a binary can placed in the same folder as the .exe?

[2015-10-12 10:11] htgoebel commented on #1581
Setting to medium as there is a simple work-around: Just do not install as `.egg`.

[2015-10-12 10:33] matysek commented on #1581
Well, I found out that on my Linux fc22 `setuptools` is in virtualenv installed as an .egg and thus all modules that require `pkg_resources` fail because modulegraph cannot find it. Not sure what workaround is for this.

[2015-10-12 10:47] htgoebel commented on #1581
Okay, re-prioritizing to high.

[2015-10-12 10:48] gkorf commented on #1581
Also, running setup.py install (using setuptools) on a project, it will
install the zip-safe dependencies as eggs.

On Mon, Oct 12, 2015 at 1:33 PM, Martin Zibricky <notifications@github.com>
wrote:

[2015-10-12 11:43] matysek commented on #1581
@htgoebel I migrated the `test_eggs` to pytest and marked them as xfail. `egg4testing` directory is in `./tests/scripts`.

[2015-10-12 12:05] matysek commented on #1583
* I created a repo for running OS X tests on: https://travis-ci.org/pyinstaller/pyinstaller-osx-tests/
* However, I still haven't found out how to automate running OS X tests - notify Travis to run tests when another repository changes. @htgoebel and @codewarrior0 do you have any suggestion?

[2015-10-12 12:14] htgoebel commented on #1583
Instead of using a separate repo you chould use a separate branch. Or you need to add this repo as another project to travis.

[2015-10-12 12:44] codewarrior0 commented on #1583
Hmm... can't you use `$TRAVIS_OS_NAME` to conditionally run the OS X-specific install stuff only on OS X?

From the [Travis environment variables reference](http://docs.travis-ci.com/user/environment-variables/)

[2015-10-12 15:04] matysek commented on #1448
* I created a repo for running OS X tests on: https://travis-ci.org/pyinstaller/pyinstaller-osx-tests/
* However, I still haven't found out how to automate running OS X tests - notify Travis to run tests when another repository changes. @htgoebel and @codewarrior0 do you have any suggestion?

[2015-10-12 15:05] matysek commented on #1583
I commented about OS X in a wrong ticket. Let's continue in #1448 .

[2015-10-12 15:10] matysek commented on #1448
@codewarrior0 I can't use this variable because travis config file allows to specify only one programming language in it:
* Linux uses `language: python` - this does not work on OS X yet.
* OS X workaround is `language: objective-c` - workaround used by other projects to run tests on OS X with Travis.

@htgoebel could you tell more about this how it would work?

[2015-10-12 16:47] htgoebel commented on #1564
The reason for this is
1. `logging.error()` is called in `utils.misc.check_not_running_as_root()`
2. The logging is set up late, even after processing the options, see 6970c1cefdb21e7aa46f2cd11934bd0ed1a54b35

Removing the utils will remove the ability to use PyInstaller without installation – which is what I do all the time. But we could move the urils into the base folder – where they do not nee

[2015-10-12 19:40] dloman commented on #1580
I also tried modifying the binaries section of the spec file and that didn't work. I got --onefile version working by first running ```pyinstaller --onefile pandasScript.py``` then going into the build directory and editing ```*Analysis.toc```, ```*COLLECT.toc```, ```*EXE.toc```, and the ```*PKG.toc``` files. In all of those files I searched for the word hashtable and found this line ```('pandas.h

[2015-10-12 20:24] bjones1 opened #1595 "Old PyQtX._qt hidden import"
When building my PyQt4-based application, I get a lot of `13325 WARNING: Hidden import 'PyQT4._qt' not found (probably old hook)` messages. Checking on Python, `import PyQt4._qt` fails. Is this old code that could be removed from the many `hook-PyQt4.*.py` files it appears in?

[2015-10-12 21:14] matysek commented on #1595
It looks like it is old code. I tried `import PyQt4._qt` on Debian 7 and it is not there. It should be safe to remove it from hooks.

[2015-10-12 21:17] matysek commented on #1448
I tried set up this service: https://nightli.es/
* it should run the tests once a day.
* Let's see if it works.

[2015-10-13 00:17] tallforasmurf commented on #1580
@dloman if what you say is true, I think that if the following change to your spec file does not work,

    a = Analysis([' ... script name ... '],
     ...
     binaries= [   (  '/usr/local/lib/python2.7/site-packages/pandas/lib.so', 'pandas.lib' ) ] ,
    ...

...then there must be a bug somewhere. Because that is exactly what the binaries arg is supposed to accomplish.