[2020-02-07 20:19] efahl opened #4672 "pkg_resources has a new hidden import as of setuptools 45.0.0"
Create tiny test script:
[code]

Crash at startup:
[code]
Python 3.7.4
PyInstaller 3.6
setuptools 45.0.0 (and 45.1.0, same issue)
Windows 10 Pro x64

Hack in a change to Python37/Lib/site-packages/PyInstaller/hooks/hook-pkg_resources.py
[code]

Rebuild and try again:
[code]

[2020-02-07 20:22] efahl commented on #4672
Oops, I see Harmut already addressed this.

[2020-02-07 20:22] #4672 closed

[2020-02-07 22:36] Legorooj commented on #4644
Hmm. Probably won't make a difference but try just plain old `.\Main.exe`. Are you building with `--onefile`?

[2020-02-07 22:39] Legorooj commented on #4670
Please see https://github.com/pyinstaller/pyinstaller/issues/4343#issuecomment-516817073

[2020-02-07 22:39] #4670 closed

[2020-02-07 22:52] Legorooj commented on #4669
@MaddiLoo unfortunately we don't have time to build hooks for libraries. I will have to close this, but we can keep talking and offer guidance.

[2020-02-07 22:52] #4669 closed

[2020-02-07 23:04] Legorooj commented on #4620
You already can. If it has a `COLLECT` call, it's `onedir`. If not, and `a.datas` etc is passed to the `EXE` call, it's `onefile`. Use the `pyi-makespec` command to generate spec files. You run it the same as the `pyinstaller` command, it just doesn't run the build.

[2020-02-07 23:04] #4620 closed

[2020-02-07 23:06] Legorooj commented on #4668
We can't do this unfortunately. This is a system problem, not a PyInstaller one. Most users don't need long path support, and the few who do can mod their *system* themselves. PyInstaller can't be playing with the registry.

[2020-02-07 23:06] #4668 closed

[2020-02-07 23:16] Legorooj commented on #4656
This is unclear. `objcopy` has nothing to do with PyInstaller. How is this related?

[2020-02-07 23:20] Legorooj commented on #4671
Looks like you need a (new?) Hook for OpenCV. PyInstaller is bundling the wrong version of Qt.

[2020-02-07 23:23] Legorooj commented on #4666
Let me guess that there is no way to remove `glibc`. It's gonna be a dependency of Qt isn't it?

[2020-02-07 23:25] logan-pugh commented on #4668
@Legorooj I am not asking for anything to do with the registry, only the application manifest. Could you reopen the issue?

[2020-02-07 23:27] Legorooj commented on #4668
@logan-pugh there are minimal users who need this. Would adding something to the docs be helpful, so that users can do this themselves?

[2020-02-07 23:29] Legorooj commented on #4607
Have you tried with the `--windowed` flag instead? They're pretty much the same thing, but it's worth a go.

You're saying that your script works fine without this flag? Could you open a command line and run the executable from there, and then post the traceback?

[2020-02-07 23:42] Legorooj commented on #4597
Try adding the files *without* `Tree`? The docs say how.

[2020-02-07 23:45] #563 closed

[2020-02-07 23:47] Legorooj commented on #161
Closing due to inactivity.

[2020-02-07 23:47] #161 closed

[2020-02-07 23:48] Legorooj commented on #679
Can this be closed now?

[2020-02-07 23:49] Legorooj commented on #469
Closing due to inactivity.

[2020-02-07 23:49] #469 closed

[2020-02-07 23:49] Legorooj commented on #1749
Closing due to inactivity.

[2020-02-07 23:49] #1749 closed

[2020-02-07 23:50] Legorooj commented on #727
Closing due to inactivity.

[2020-02-07 23:50] #727 closed

[2020-02-08 00:02] logan-pugh commented on #4668
@Legorooj I agree would be good to document the workaround I mentioned (perhaps in the [Recipes](https://github.com/pyinstaller/pyinstaller/wiki/Recipes) section of the wiki), as well as the registry setting the end user (or their administrator) would need to enable.

However PyInstaller should let the developer embed the application manifest with the necessary contents, that way they don't need t

[2020-02-08 00:50] Legorooj commented on #1559
Can this be closed?

[2020-02-08 03:04] bjones1 commented on #4609
Looks like this is already done, thanks to @htgoebel's hard work -- see https://github.com/pyinstaller/pyinstaller/blob/develop/setup.cfg#L60.

[2020-02-08 03:04] #4609 closed

[2020-02-08 03:05] bjones1 commented on #4666
It's a dependency of pretty much any program. I opened this for informational purposes, to document what I knew and where the problem is.

[2020-02-08 03:31] Legorooj commented on #4666
Damn. Is there any workaround short of fixing the `glibc` bug?

[2020-02-08 04:57] iamMHZ commented on #4644
@Legorooj

yeah i'm using `--onefile ` and `--windowed`

[2020-02-08 07:52] Legorooj commented on #4644
@iamMHZ And without those? Does the error persist? If so, when not using one file, in the exe folder there'll be a `running.log` or similar. If you could stick it in a gist?

[2020-02-08 08:02] Legorooj commented on #4644
@iamMHZ And without those? Does the error persist? If so, when not using one file, in the exe folder there'll be a `running.log` or similar. If you could stick it in a gist?

[2020-02-08 08:04] arjuncr commented on #4656
when we are creating executable file for arm using x86 host, during this time pyinstaller should use arm-linux-gnu-objcopy instead of objcopy (its for x86) other wise error will come (unrecognized file format).

[2020-02-08 08:06] Legorooj commented on #4656
How does PyInstaller know you're building for arm? And which arm platform are you talking?

[2020-02-08 08:08] Legorooj commented on #4465
Please see the docs.

[2020-02-08 08:08] #4465 closed

[2020-02-08 08:11] Legorooj commented on #4215
Closing due to inactivity.

[2020-02-08 08:11] #4215 closed

[2020-02-08 08:13] arjuncr commented on #4656
i am talking about 32 bit soft float arm platform, have to add one provision to pass ( entry inside spec file) target platform related info in pyinstaller so if x86/i386 pyinstaller can use  objcopy or arm 32/64 bit use arm-linux-gnueabi-objcopy (soft float) / arm-linux-gnueabihf-objcopy (hard float).

[2020-02-08 08:29] Legorooj commented on #3013
I'm going to close this issue because there is a fix above. A PR can still be added at a later date.

[2020-02-08 08:29] #3013 closed

[2020-02-08 08:37] Legorooj commented on #4656
I think I see what you mean. This is something for @htgoebel to look at.

[2020-02-08 08:41] Legorooj commented on #3601
@yihuiyu PyInstaller supports PyQt5 just fine. This bug is unicode related.

[2020-02-08 08:58] #4580 closed

[2020-02-08 09:36] Legorooj commented on #4526
Closing due to inactivity.

[2020-02-08 09:36] #4526 closed

[2020-02-08 09:38] Legorooj commented on #4463
@htgoebel why did you reopen?

[2020-02-08 09:39] Legorooj commented on #1693
Closing due to inactivity

[2020-02-08 09:39] #1693 closed

[2020-02-08 09:42] Legorooj commented on #1712
Closing due to inactivity

[2020-02-08 09:42] #1712 closed

[2020-02-08 09:43] Legorooj commented on #1612
Closing due to inactivity

[2020-02-08 09:43] #1612 closed

[2020-02-08 09:45] Legorooj commented on #1587
I've got a project I did plenty of design for, but never implemented. Would a spec file IDE be helpful? An interactive wizard, syntax highlighting, etc. You could then click the `run` button and it'd run the compilation.

Whatdya think?

[2020-02-08 09:48] Legorooj commented on #1797
Maybe a splash screen option? User adds an image with `--splash=image.formst`. The screen shows until app is ready to run.

[2020-02-08 09:49] Legorooj commented on #1824
Closing due to inactivity and the fact that it has "been resolved" as such.

[2020-02-08 09:49] #1824 closed

[2020-02-08 09:51] Legorooj commented on #1784
Closing due to inactivity and an easy fix.

[2020-02-08 09:51] #1784 closed

[2020-02-08 09:52] Legorooj commented on #2017
Closing due to inactivity

[2020-02-08 09:52] #2017 closed

[2020-02-08 09:53] Legorooj commented on #1674
What is the status on this?

[2020-02-08 09:53] Legorooj commented on #1846
Closing due to no response from author.

[2020-02-08 09:53] #1846 closed

[2020-02-08 09:54] tbhaxor commented on #4643
I had tried all (listed in this issue, from pyenv issues, and stackoverflow's), still same error

[2020-02-08 09:54] Legorooj commented on #1756
Closing due to inactivity and hotfixes being implemented (as far as I can tell)

[2020-02-08 09:56] Legorooj commented on #4643
How does that comment answer this?

[2020-02-08 10:00] Legorooj commented on #1138
Closing due to inactivity

[2020-02-08 10:00] #1138 closed

[2020-02-08 10:01] Legorooj commented on #1807
We gonna do anything about this then?

[2020-02-08 10:02] Legorooj commented on #1893
Closing due to inactivity

[2020-02-08 10:02] #1893 closed

[2020-02-08 10:04] Legorooj commented on #1962
Closing due to inactivity

[2020-02-08 10:04] #1962 closed

[2020-02-08 10:05] Legorooj commented on #1941
Closing due to inactivity

[2020-02-08 10:05] #1941 closed

[2020-02-08 10:06] Legorooj commented on #2082
Closing because fix discovered.

[2020-02-08 10:06] #2082 closed

[2020-02-08 10:11] Legorooj commented on #2016
Closing because it isn't a bug

[2020-02-08 10:11] #2016 closed

[2020-02-08 10:13] Legorooj commented on #1937
Closing due to inactivity

[2020-02-08 10:13] #1937 closed

[2020-02-08 10:14] Legorooj commented on #1926
Closing due to inactivity

[2020-02-08 10:14] #1926 closed

[2020-02-08 10:14] Legorooj commented on #1947
Closing due to inactivity

[2020-02-08 10:14] #1947 closed

[2020-02-08 10:15] Legorooj commented on #1942
Closing due to inactivity

[2020-02-08 10:16] Legorooj commented on #2045
Closing due to inactivity

[2020-02-08 10:16] #2045 closed

[2020-02-08 10:17] Legorooj commented on #2004
Closing due to inactivity

[2020-02-08 10:17] #2004 closed

[2020-02-08 10:18] Legorooj commented on #2009
Closing due to inactivity

[2020-02-08 10:18] #2009 closed

[2020-02-08 10:21] Legorooj commented on #2081
Closing due to inactivity. @tallforasmurf `hmac` is part of the python standard library.

[2020-02-08 10:21] #2081 closed

[2020-02-08 10:24] Legorooj commented on #2018
Closing due to inactivity

[2020-02-08 10:24] #2018 closed

[2020-02-08 10:24] Legorooj commented on #2097
Closing due to inactivity.

[2020-02-08 10:24] #2097 closed

[2020-02-08 10:25] Legorooj commented on #2128
Closing because:

* Inactive
* Not a valid issue.

[2020-02-08 10:25] #2128 closed

[2020-02-08 10:26] Legorooj commented on #2132
Closing due to inactivity

[2020-02-08 10:26] #2132 closed

[2020-02-08 10:30] Legorooj opened #4673 "Add another hooks repo"
PyInstaller is getting an extraordinary amount of hook related pull requests. I think we should migrate hooks to another repo, and add a command line app (`pyi-addhook`) that installs the extra hooks from said repo. Maybe even support something like `pyi-addhook django`, which installs the hook for Django?

[2020-02-08 10:31] Legorooj commented on #4673
To be clear we should still include a select set of hooks, but a cut down version of the expanse we have.

[2020-02-08 10:37] MerlijnWajer commented on #1942
I'm sorry - but this is a still a real issue. If you don't plan to support PyQt4, then say so, but closing this due to inactivity doesn't make sense to me.

[2020-02-08 10:38] Legorooj commented on #1942
Sorry, but have you tested the latest version? There's a hook for PyQt4 that works.

[2020-02-08 10:41] MerlijnWajer commented on #1942
Did you read the bug that is being reported here? It's not about a missing hook. It's about a grave bug that caused me to lose many work days until I finally figured out what was causing all this grief.

I have no reason to believe the bug is fixed now, but I'm happy to re-test it for you. I provided plenty of examples to reproduce the problem in the first post of the issue. What makes you think i

[2020-02-08 11:01] Legorooj commented on #1942
If you can prove that this is still an issue, I'll reopen.

[2020-02-08 14:39] bjones1 commented on #4666
Not that I know of. However, it's intermittent...

[2020-02-08 15:40] iamMHZ commented on #4644
@Legorooj
I still  have same issues  and
there is no log file in any folder

[2020-02-08 19:44] MerlijnWajer commented on #1942
@Legorooj - I stand corrected. I've tried all the examples above that used to hang, and it looks like they no longer hang. Please close the issue, as something seems to have fixed it.

Thanks!

[2020-02-08 19:46] vsalvino opened #4674 "Cannot find libpython when running from a symlink"
## Description of the issue
Program built with PyInstaller 3.6 (or develop) cannot load libpython when run via a symlink on Linux. This same behavior works fine on programs build with PyInstaller 3.5

## Context information (for bug reports)

* Output of `pyinstaller --version`: ```3.6```
* Version of Python: 3.7
* Platform: Debian 9 (GNU/Linux)
* Did you also try this on another platform? Does it

[2020-02-08 20:31] tbhaxor commented on #4643
Yes I am getting same error :laughing:

[2020-02-08 20:34] tbhaxor commented on #4643
@Legorooj
With `--enable-shared` the issue still persists, and `--enable-framework` is not working

[code]

[2020-02-08 22:07] Legorooj commented on #4666
@bjones1 really? Hmm. Let me see if I can see a pattern. All the analytical data I'd need is public isn't it?

[2020-02-08 22:09] Legorooj commented on #4643
Thanks. Let me try an reproduce this on my machines. Unfortunately my manjaro one isn't accessable right now :-(

[2020-02-08 22:10] Legorooj commented on #1942
Excellent. Good to know it's all working now!

[2020-02-08 22:10] #1942 closed

[2020-02-08 22:15] Legorooj commented on #4644
Right two more things:

* Try running from the CLI on a build without `--windowed`
* If there is still no traceback, when you build the app, you get two folders, dist and build. Go into build and find a `warn-****.txt` file, and post that.

[2020-02-08 22:20] Legorooj commented on #4674
Hmm this looks system specific, and if it didn't cause the error on an older version...

I know Linux as well as anybody who uses windows as their primary OS would, but this is a problem for @htgoebel

[2020-02-08 22:22] Legorooj commented on #4673
An an update:

* I have an FTP server - I could make a public folder with read access for everyone.
* This folder would automatically get refreshed from the repo every 7 days - I can code an app to do that from the same server.

[2020-02-08 22:25] Legorooj commented on #4629
So is this issue fixed? Can it be closed?

[2020-02-08 22:27] Legorooj commented on #224
Closing due to inactivity

[2020-02-08 22:27] #224 closed

[2020-02-08 22:28] Legorooj commented on #2248
Probably added more features that 3.5 couldn't support. Closing due to inactivity

[2020-02-08 22:28] #2248 closed

[2020-02-08 22:31] Legorooj commented on #2136
You've proved in your comment that it's reading the `--help` option properly, therefore you might have an error in your script.

[2020-02-08 22:31] #2136 closed

[2020-02-08 22:31] Legorooj commented on #2127
Closing due to inactivity

[2020-02-08 22:31] #2127 closed

[2020-02-08 22:33] Legorooj commented on #2138
Closing due to inactivity

[2020-02-08 22:33] #2138 closed

[2020-02-08 22:42] thorrak commented on #4629
I'm still having issues with this, unfortunately. The error I'm getting in the console when I try to run a codesigned app that has the above mentioned entitlements is as follows:

```Library Validation failed: Rejecting '/private/var/folders/_g/cgqmyrn95vdbdn5f1hkr_85r0000gn/T/_MEIB8nQ2C/Python' (Team ID: none, platform: no) for process 'BrewFlasher(54984)' (Team ID: RAS94LVJ7S, platform: no), rea

[2020-02-08 22:57] thorrak commented on #4629
I found the solution for that - Apparently you also need to add `com.apple.security.cs.disable-library-validation` per https://github.com/electron-userland/electron-builder/issues/3940

[2020-02-08 23:53] Legorooj commented on #4629
Solved then?

[2020-02-08 23:58] Legorooj commented on #2365
@ProjectThreepio I've a request - @naufraghi said he doesn't want the bounty. Could this then be given to @htgoebel to fund support and development?

[2020-02-09 00:03] Legorooj commented on #2365
@ProjectThreepio and anyone else who had committed to the bounty - is there a way for @htgoebel to claim it due to the fact @naufraghi isn't interested? To fund PyInstaller maintenance and development

[2020-02-09 00:04] Legorooj commented on #2365
Oh and if @naufraghi's solution doesn't work/satisfy, I'll be happy to implement this with `cryptography`.

[2020-02-09 02:55] ProjectThreepio commented on #2365
The bounty is for whoever can write code that makes whatever cut is required to get accepted into the production version of PyInstaller.  So in a sense @htgoebel decides the matter, not me.  If the person who writes that code doesn't want to claim it, I believe I can (and would) revert it to general PyInstaller project maintenance, or another PyInstaller bug.

[2020-02-09 04:33] Legorooj commented on #2365
@ProjectThreepio I agree. It should be repurposed at the least. As my second comment says, I could do this, but don't see the point of doing it if naufraghi's solution works - and if I do end up doing it, I'd donate half of the bounty to the team.

[2020-02-09 06:19] micahflee commented on #4629
Yes I think it's solved. It might be useful to document this somewhere though, since it's required now for macOS.

[2020-02-09 06:19] #4629 closed

[2020-02-09 07:12] Legorooj commented on #4629
@micahflee you mean apple dists need to be signed - it's mandatory now?

[2020-02-09 09:34] cculianu commented on #4629
Yeah it's required now.  You can't notarize the app if it's not hardened runtime.  $%#%#% Apple.

[2020-02-09 11:05] Legorooj commented on #4629
Hmm. This need some more attention. @htgoebel @bjones1

[2020-02-09 11:18] cculianu commented on #4629
Yeah and you can't distribute the app to Catalina users if it's not notarized.  Grrrrr... $#%$##$%# Apple!!!

[2020-02-09 11:53] Legorooj commented on #4629
I feel you. My personal opinion is that apple's OSes are a beautiful work of art, but too restrictive. I prefer windows and linux.

[2020-02-09 12:15] cculianu commented on #4629
Yeah same.  Also the consumer market for macOS is decent if you make games or other apps (mac app store) -- it's not hard to make a little revenue from their platform.. but yeah. I feel the exact same as you about it.

[2020-02-09 14:31] Rego0116 commented on #4594
Yes it is.

Legorooj <notifications@github.com> ezt írta (időpont: 2020. febr. 7., P
6:32):

[2020-02-09 15:23] ThomasWaldmann commented on #1756
https://github.com/pyinstaller/pyinstaller/releases as one can see there, there are usually no hotfix releases, two .1 patch releases in 2017 being rather the exception than the rule.

So I do not consider this solved.

[2020-02-09 16:10] tbhaxor commented on #4643
Try with pyenv and choose the version `3.7.5`

[2020-02-09 22:58] Legorooj commented on #4643
Thanks!

[2020-02-09 22:59] #4594 closed

[2020-02-09 23:02] Legorooj commented on #1756
Good point. I'll reopen if @htgoebel agrees. This either needs attention, or no attention - ie forget the idea. It's a good idea though.

[2020-02-10 01:53] ThomasWaldmann commented on #1756
A good way to deal with this would be:
- after x.y(.0) release, create a x.y-maint branch
- patch releases, like x.y.1, x.y.2, etc. are tags within that x.y-maint branch
- if something serious is fixed, it needs backporting to that x.y-maint branch (except if it does not apply)

[2020-02-10 02:02] Legorooj commented on #1756
Maybe. I'll reopen - it needs discussion.

[2020-02-10 02:50] bjones1 commented on #1756
Doing this requires work by the maintainers. If funded, hotfixes might be possible.

[2020-02-10 03:40] Legorooj commented on #1756
@bjones1 (groan) and we come straight back round to the funding issue.

[2020-02-10 03:49] micahflee commented on #4629
Yup. As @cculianu said, apps that don't have hardened runtime enabled can't be notarized, and apps that aren't notarized won't run in macOS Catalina. It's definitely important for the PyInstaller project to pay attention to.

[2020-02-10 04:28] Legorooj commented on #4629
This is very important. Could one of you open a new issue about this? Specifically the need to sign executables. I'd do it, but I don't run any apple, and you'll have more details than me. I'll tag the issue when it's opened.

[2020-02-10 06:23] sameerCoder opened #4675 "Segmentation fault (core dumped) Error while running EXE ."
Hi,
I have created EXE of python file using auto-py-to-exe . While running the exe half of the python program is working fine but after some time i am getting **Error :**
**(base) username@username-Desktop:~/cartopy2$ ./cartopy2
run fun
/home/username/anaconda3/lib/python3.7/site-packages/PyInstaller/loader/pyimod03_importers.py:623: MatplotlibDeprecationWarning:
The MATPLOTLIBDATA environment var

[2020-02-10 08:59] xylix commented on #4574
Passing it from the command line worked. Thanks for the help :)

I think I tried it before, but probably did a mistake somewhere if it didn't work back then but worked now.

[2020-02-10 09:02] naufraghi commented on #2365
I'm OK to give the bounty to the dev team, I very thank them for their work with PyInstaller!

I added a test suite to the wrapper, using hypothesis and found a bug, the bug is fixed, so I think I'll release `tinyaes-py` 1.0.0 later today and rebase the PR pointing the release (or a semver 1-ish one).

[2020-02-10 09:30] Legorooj commented on #2365
I'll review the wrapper at some point soon as well. It's always good to have a second pair of eyes look over it! @naufraghi

[2020-02-10 09:31] #4574 closed

[2020-02-10 10:13] paulgr2008 opened #4676 "pyinstaller doesn't pack my own modules"
I have a project like this:
proj -
       main.py
       another.py

and I have in main.py 'import' string like this:
import another
...

Pyinstaller doesn't include file another.py to the final .exe file (and running script failed) and I have to copy it to the folder with .exe file by myself. Then it's working properly. Is it possible to do something with that or it's normal practice for modules

[2020-02-10 14:50] The-Compiler commented on #4631
I must've missed your earlier comment in the depths of my mail inbox, so thanks for taking care of it, @bjones1!

I'm guessing this can be closed then?

[2020-02-10 15:33] bjones1 commented on #4631
My pleasure. Oops, yes -- closing.

[2020-02-10 15:33] #4631 closed

[2020-02-10 15:48] MAKOMO commented on #4569
Newer Keyrings also fail to work in apps bundled with py2app. Can't find any workaround despite modifying the keyring lib. Monkey patching seems not to be possible.  So I downgrade to `keyring==19.2.0` again. Bad.

[2020-02-10 16:02] durden commented on #4404
I did a lightning talk at the PyCascades talk to try and draw some attention to the need for funding. I also talked to some folks who have more experience in this. @htgoebel I can give you some names of people to talk with if you contact me directly.  Here's the short talk if anyone is interested: https://t.co/twLQi3zSoS?amp=1

[2020-02-10 22:40] Legorooj commented on #4404
@durden sounds great. @htgoebel this needs following.

[2020-02-10 22:41] bjones1 commented on #4673
I agree that hook requests dominate PRs and issues, distracting from core development. These need to go elsewhere. Some ideas:

- A lot of hooks have questionable quality and come with no testing. Perhaps we could create a separate package that accepts third-party, untested hooks. This would be the first destination for all untested hooks.
- Hooks that include a test, including many hooks currentl

[2020-02-10 22:42] Legorooj commented on #4675
@sameerCoder this is unclear. Can we please have more info?

[2020-02-10 22:42] bjones1 commented on #4666
Yes, it's in the Travis CI results.

[2020-02-10 22:43] bjones1 commented on #1587
I think that would be helpful. However, it should live in a separate package.

[2020-02-10 22:45] Legorooj commented on #4673
@bjones1 so maybe close all current hook requests (and remove some minor hooks from the core) with the message that the library developers need to maintain them?

Even so I still think that we need a centralised place to store hooks. Would a pypi like web service be helpful?

[2020-02-10 22:48] bjones1 commented on #4673
I'd wait on this until #4582 is merged, then start working to move hooks out of PyInstaller and into libraries (tested) or another hooks-only package (untested).

[2020-02-10 22:49] Legorooj commented on #4673
@bjones1 sounds good.

[2020-02-10 22:51] Legorooj commented on #1587
@bjones1 of course another repo. It'll be "seperate" from PyInstaller.

[2020-02-11 01:04] zachbateman commented on #4676
@paulgr2008 what command do you use to package your project with PyInstaller, and what error does the .exe throw when it fails?

You shouldn't have to copy another.py to the .exe folder.  As long as you have "import another" at the top of main.py, Pyinstaller should include another.py in the resulting file or folder.

[2020-02-11 04:47] ProjectThreepio commented on #2365
I had no idea PyInstaller was in such financial straits until now!  Yes, absolutely redirect my bounty to general PyInstaller operations, ASAP!

[2020-02-11 05:56] Legorooj commented on #2365
@ProjectThreepio thanks! I've only been on the team a week, and I offered htgoebel help with the GitHub end to start with. If he doesn't have to sort through the many support issues and other ones that don't need core developer attention, he'll be able to put more if his funded time towards PyInstaller core...

[2020-02-11 10:24] sameerCoder commented on #4675
Hi,
    Actually i made exe of my python script using autopyexe , there is no error in making  autopyexe  exe as other simple programe exe is working fine but this matplotlib , cartopy exe while running is giving Error :- Segmentation fault (core dumped ) after running half of the code of script ,

**For More details you can go to this link https://github.com/brentvollebregt/auto-py-to-exe/issues/

[2020-02-11 19:18] mrnuke commented on #4507
I get the same result if I use `--uac-admin'

[2020-02-11 22:54] Legorooj commented on #4507
@mrnuke I know now that it's an error caused by pyenv. Could you try running it in a venv venv? (ie python(3) -m venv venv)

[2020-02-11 23:01] Legorooj commented on #4621
If you're trying to install PyInstaller on py2.7, then please see if the error persists in python 3. We no longer support python 2.

[2020-02-11 23:38] mrnuke commented on #4507
Bingo! I used the `python.exe` and `pip3.exe` under `venv\Scripts` to install the modules and run PyInstaller

And it worked.

[2020-02-11 23:50] Legorooj commented on #4507
??? This needs working out. Can you run with `--log-level=TRACE` - make sure to redirect the output to a file (it'll be thousands of lines long) - and the log files to legorooj@protonmail.com?

[2020-02-12 05:31] iestatic commented on #4507
Help more with this please! i'm not sure what you mean to do here.

[2020-02-12 07:37] enfshin commented on #4607
I soleved this
https://stackoverflow.com/questions/59484223/pyinstaller-noconsole-option-makes-exe-fatal-error-solved

[2020-02-12 07:37] #4607 closed

[2020-02-12 08:09] iamzhangyunlu commented on #2175
Same problem here, I update all but the problem is still here

[2020-02-12 08:10] iamzhangyunlu commented on #2175
Same problem here, I update all but the problem is still here @MarinerT

[2020-02-12 11:05] Legorooj commented on #4507
@iestatic please try:

 * Entering your virtual environment (eg `venv/Scripts/activate.bat`)
 * Then running the same compilation command that failed, replacing `pyinstaller` with `python -m PyInstaller myscript.py --option`. Does this work? If so, we may have found more of the error.

[2020-02-12 15:24] NHades commented on #4670
I had same issue last week with Microsoft Defender.
I reported it to them and they fixed issue with latest definitions update.

[2020-02-12 15:44] chwba commented on #4212
I got Pyinstaller 3.6 installed :\

[2020-02-12 15:50] aglpy opened #4679 "Use Python >= 3.5 on Windows < 10"
There is a known issue, when compile a python script with Python higher than 3.5 to run the exe file on Windows 7 (for example), it doesn't run.

Here on docs it is explained 3 ways to solve this issue: https://pyinstaller.readthedocs.io/en/stable/usage.html#platform-specific-notes-windows

I prefer to use the solution 2, because I use windows 10 and I can't install software on the final pc (with

[2020-02-12 16:00] chwba commented on #3793
I have the same issue, tried all fixes that were suggested here: https://github.com/pyinstaller/pyinstaller/issues/4212

[2020-02-12 19:11] MarinerT commented on #2175
@iamzhangyunlu Are you able to access packages or other programs in Anaconda? For me the all packages became inaccessible, in Jupyter Notebooks, Spyder, etc. I could use the programs, but I couldn't import packages like NumPy. I forget the steps I took before conda update --all, which obviously are key to have solved it, but they weren't anything fancy.  Knowing me, I probably tried checking if pa

[2020-02-12 20:47] aclbandit commented on #4506
@marioortizmanero , I'm having a very similar problem: after packaging with pyinstaller an application that relies on python-vlc, I end up with error
`AttributeError: 'NoneType' object has no attribute 'media_player_new'`
same as you. I found your issue report and bookmarked it in hope of some solution, but finally found a solution myself.

Environment:
Python 3.7.6, Fedora 31 (x86_64), PyInstalle

[2020-02-12 22:07] MaddiLoo commented on #4669
Ok that's fair. Do you have any idea where I'm going wrong in the Stackoverflow post I linked? It feels like I'm close to figuring it out. If I do figure it out I'll share the results.

[2020-02-12 22:16] ScamCast commented on #4506
@aclbandit Thanks for the find. I've had my project on hold for a while that needed this fix. I'll give it a shot soon.

Thanks again!

[2020-02-12 22:43] Legorooj commented on #4670
@NHades awesome.

[2020-02-12 22:48] mrnuke commented on #4507
@Legorooj  Failing log in [this gist](https://gist.github.com/mrnuke/1cf4b89231b2e8a927ec73ef3118585a)

[2020-02-12 22:53] Legorooj commented on #4669
What are the imports on your file? Just plain old `import smartsheet`?

[2020-02-12 22:56] MaddiLoo commented on #4669
I've tried `import smartsheet` and `from smartsheet import models`

[2020-02-12 22:57] marioortizmanero commented on #4506
That's an awesome fix @aclbandit! Thanks for sharing it on here and dedicating it some time. I will try it soon and report back, too.

[2020-02-12 23:08] Legorooj commented on #4507
@mrnuke that gist either is incomplete or *not* failing. Which command are you calling, and does the executable work?

[2020-02-12 23:09] mrnuke commented on #4507
@Legorooj It is complete. You have to [View the full file](https://gist.githubusercontent.com/mrnuke/1cf4b89231b2e8a927ec73ef3118585a/raw/e2deee93ef8d4eed0b909a216b2750e52e8a54f7/gistfile1.txt)

[2020-02-12 23:16] Legorooj commented on #4507
@mrnuke thanks for pointing that out 🙄. I'll have a good read later - it's not easy on a mobile.

[2020-02-12 23:24] Legorooj commented on #4669
Try adding the hidden import option on the command line multiple times, ie once for each import from the requirements listed in the [smartsheet readme](https://github.com/smartsheet-platform/smartsheet-python-sdk/blob/master/README.md)
* `--hidden-import=MODULE_NAME`

[2020-02-13 00:20] micahflee commented on #4430
The `v3.6` tag was signed by the same key, but the public key is still nowhere to be found:

[code]

[2020-02-13 00:23] yochananmarqos commented on #4430
PyPI has no signature for the 3.6 release, either: https://pypi.debian.net/pyinstaller

[2020-02-13 00:32] MaddiLoo commented on #4669
Ok that broke it completely but I think I know what the issue is now. It seems like some of the pyinstaller hooks aren't.... hooking things. There are a lot of missing modules from urllib3, pkg_resources, and the wincom32.gen_py module is missing. I attached my warning file below.
[warn-snow_gps.txt](https://github.com/pyinstaller/pyinstaller/files/4195920/warn-snow_gps.txt)

[2020-02-13 03:34] L0y3r commented on #4004
I'm having this issue too, have I to report it in another issue?

[2020-02-13 03:58] iamzhangyunlu commented on #2175
The problem is **mkl**, so I update mkl pakage and the problem has been solved, thank you so much! @MarinerT

[2020-02-13 04:33] Legorooj commented on #4669
@MaddiLoo at least we know (think) that this is just missing imports. You'll need to trace all of the modules you're missing. Basically you have to dependency walk the smart sheet modules you're using, and their dependencies, etc. Write those down, imports in functions or if statements as well, then check if any of those are in the warn file. Then add missing dependencies with hidden imports. Igno

[2020-02-13 04:41] Legorooj commented on #4679
Method 2 doesn't mean PyInstaller. It means a tool like innosetup, or an installation wizard. Then the software that installs your software will also install the needed DLLs.

You'll have to find the DLLs yourself, but they'll probably be in system32 or another windows folder.

[2020-02-13 04:41] #4679 closed

[2020-02-13 04:43] Legorooj commented on #4676
If it works when you copy the files, then the `--add-data` option is what you need.

[2020-02-13 04:43] #4676 closed

[2020-02-13 04:43] Legorooj commented on #4675
@htgoebel you're the Linux guru. Could you take a look at this?

[2020-02-13 04:49] jefflgaol commented on #3970
Hi, there! I have a question about how to encrypt or hide a module. For instance, I use the OpenCV module inside my python code. If I run it, the OpenCV module will be showed-up at folder '_MEIxxxxxx'. Is it possible to hide or mangling this OpenCV module?

Currently, I use this approach:
[code]

[2020-02-13 11:14] tbhaxor commented on #4643
any updates? i have to use docker for it....

[2020-02-13 14:39] aclbandit commented on #4506
@marioortizmanero , I wouldn't go so far as to call it a 'fix' -- definitely a workaround at best. Since things like this, when built via pyinstaller, ought to 'just work,' there's a bug someplace that needs reported, fixed, etc. Just need the time to dedicate to tracking it down...

But anyway, for both of you, you're welcome. I hope it helps you.

[2020-02-13 18:37] marioortizmanero commented on #2702
This will happen when both the generated binary and the directory you want to create have the same name. In Unix, there can't be a directory and a file with the same name at once, so it prints an error.

[2020-02-13 21:18] bjones1 opened #4681 "Improved requirements management"
We should move away from simply installing from `requirements-*.txt`, and instead use a `requirements-*.in` along with [pip-compile](https://pypi.org/project/pip-tools/) to avoid surprises when a version change of the dependencies of our requirements change. We should also change pyup to then update requirements in these in files, then regenerate the .txt files (probably manually).

[2020-02-13 22:31] Legorooj commented on #4643
@tbhaxor couple more days...

[2020-02-13 23:34] pr0ximo commented on #2546
@sebitoelcheater  can you elaborate on your answer? Which file?

[2020-02-14 03:21] trodick commented on #1565
Is there a similar option for use in a .spec file? I am working on an open-source project where most of our users aren't going to want to have to mess with adding more command-line options to the build command.

[2020-02-14 07:22] cpuwolf commented on #4265
it works thanks

[2020-02-14 17:07] tbhaxor commented on #4643
@Legorooj  You can use https://github.com/pyenv/pyenv/issues/1504 issue to coordinate with pyenv team if required

[2020-02-14 17:45] hobbsd commented on #1565
@trodick: add `upx=False` to the `exe = EXE(...)` section.

[2020-02-14 18:09] bjones1 opened #4682 "Improved issue template and policy"
We need to find ways to reduce the number of issues that users create which don't relate to the core of PyInstaller. Specifically, the issue tracker has, over time, become a user support forum. This is not the purpose of an issue tracker -- we need to focus exclusively on issues related to core PyInstaller development only. My thoughts:

- I think some of the language at https://github.com/pyenv/p

[2020-02-14 18:12] bjones1 commented on #4643
I'm closing this -- the PyInstaller team lacks the funding and time to support non-standard platforms such as pyenv. However, we would be happy to consider a PR.

[2020-02-14 18:12] #4643 closed

[2020-02-14 22:21] Legorooj commented on #4682
I agree on points 1-4, but not always on 5. I think those should be given a bit more help. But support questions should be closed. I've actually been sorting issues as `least recent activity` and closing old ones which no-one bothered to when they were fixed, or stale issues. We really need to get this under control.

[2020-02-14 22:25] bjones1 commented on #4682
I'm open to discussing item 5 (Conda and friends). Mainly, I don't want to devote development resources (i.e. me and Hartmut) to doing this, since we're spread thin enough already with core PyInstaller (e. g. supporting Python 3.8).

[2020-02-14 22:28] Legorooj commented on #4682
@bjones1 I fully agree with that. I actually contacted harmut because it was obvious you needed help with the GitHub end. I'll likely never have time to work on the core. Python 3.8 is a big jump.

[2020-02-14 22:31] Legorooj commented on #2070
Closing this because this is expected behaviour.

[2020-02-14 22:31] #2070 closed

[2020-02-14 22:33] Legorooj commented on #1845
Has this been addressed, or is it closable?

[2020-02-14 22:34] #2134 closed

[2020-02-14 22:34] Legorooj commented on #2151
Closing due to inactivity

[2020-02-14 22:34] #2151 closed

[2020-02-14 22:38] bjones1 commented on #4682
Yep. We're drowning in issues, and many are not even valid. I appreciate your help.

[2020-02-14 22:53] Legorooj commented on #2192
Closing due to inactivity

[2020-02-14 22:53] #2192 closed

[2020-02-14 22:54] Legorooj commented on #2157
This is a support question. Please ask on stackoverflow or somewhere else.

[2020-02-14 22:54] #2157 closed

[2020-02-14 22:58] Legorooj commented on #2159
Sorry but we can't support this type of issue anymore! Please use stackoverflow or somewhere else.

[2020-02-14 22:58] #2159 closed

[2020-02-14 23:15] Legorooj commented on #2197
Closing due to inactivity

[2020-02-14 23:15] #2197 closed

[2020-02-14 23:17] Legorooj commented on #2265
The linked PR has been merged.

[2020-02-14 23:17] #2265 closed

[2020-02-14 23:17] Legorooj commented on #2264
Linked PR has been merged

[2020-02-14 23:17] #2264 closed

[2020-02-14 23:19] Legorooj commented on #2254
Closing this due to inactivity.

[2020-02-14 23:19] #2254 closed

[2020-02-14 23:21] #2165 closed

[2020-02-14 23:24] Legorooj commented on #2291
Closing due to inactivity.

[2020-02-14 23:24] #2291 closed

[2020-02-14 23:26] Legorooj commented on #2749
Can this be closed?

[2020-02-15 03:24] RichsJeson opened #4683 "Qt not copying libs into .app bundle"
When I build a .app bundle, PyInstaller doesn't copy the required libraries into it.

4036 WARNING: Hidden import "PyQt5.QtWebSockets.abi3" not found!
4037 WARNING: Hidden import "PyQt5.QtRemoteObjects.abi3" not found!
4037 WARNING: Hidden import "PyQt5.QtWidgets.abi3" not found!
4037 WARNING: Hidden import "PyQt5.QtHelp.abi3" not found!
4037 WARNING: Hidden import "PyQt5.QtPositioning.abi3" not f

[2020-02-15 03:39] bjones1 commented on #4683
Already fixed in master.

[2020-02-15 03:39] #4683 closed

[2020-02-15 09:56] Legorooj commented on #2727
@htgoebel may I suggest, for PyInstaller 4, we make this "law"?

[2020-02-15 10:09] #4549 closed

[2020-02-15 10:22] Legorooj commented on #4626
#4684 is a "fix" as such, meaning it'll now tell you that you need to remove X custom hook - It actually tells you which one.

[2020-02-15 15:51] geekgao opened #4685 "Windows alert:ucrtbase.dll VCURNTIME140.dll cross-platform is not working"
reference  issue #2137 .I have doing these (Dev) https://github.com/pyinstaller/pyinstaller/issues/2137#issuecomment-238879639

Packing my app on Win7-64bit. Then running on Win10-60bit ,it doesn't work.
Windows alert overview:

But, the older release version it's works well.

[2020-02-15 17:06] geekgao commented on #4685
Solved. Disabled UPX.

[2020-02-15 17:06] #4685 closed

[2020-02-15 19:25] ddnomad commented on #2047
Same issue :|

[2020-02-16 02:36] Legorooj commented on #2089
Closing due to inactivity

[2020-02-16 02:36] #2089 closed

[2020-02-16 02:36] Legorooj commented on #1900
What's the status in this issue?

[2020-02-16 02:38] Legorooj commented on #2130
Closing due to inactivity. If you wish to submit a PR, please do. This issue is not needed any more.

[2020-02-16 02:38] #2130 closed

[2020-02-16 02:38] Legorooj commented on #2185
Closing due to inactivity and it being non-reproducable.

[2020-02-16 02:38] #2185 closed

[2020-02-16 02:40] Legorooj commented on #1554
Hooks in one file is a very good idea - replace hook files with functions in `hook.py`?

[2020-02-16 02:55] Legorooj commented on #4682
@bjones1 I'm going to start closing issues from point 4 with `Feel free to submit a PR` and a link to the hook docs.

[2020-02-16 03:15] Legorooj commented on #4663
We are no longer accepting issues like this. PRs are welcome though.

[2020-02-16 03:15] #4663 closed

[2020-02-16 03:15] Legorooj commented on #4649
We are no longer accepting issues like this. PRs are welcome though.

[2020-02-16 03:15] #4649 closed

[2020-02-16 03:16] Legorooj commented on #4625
We are no longer accepting issues like this. PRs are welcome though.

[2020-02-16 03:16] #4625 closed

[2020-02-16 03:54] Legorooj commented on #4420
Please try this with the latest version of PyInstaller, 3.6.

[2020-02-16 03:57] Legorooj commented on #4489
@K3nn3th2, I'm going to have to close this, as we no longer support python 2. If the error persists on python 3(.5/6/7), I'll reopen.

[2020-02-16 03:57] #4489 closed

[2020-02-16 04:15] vsalvino commented on #3582
I am also experiencing this issue. In my case:

[code]

When run in native python on the machine, it works fine. When `/usr/bin/psql` is invoked from a shell on the OS it also works fine. But when run from a program built with pyinstaller, I get the following error:
[code]

Which leads me to believe somehow the program built with PyInstaller is not able to load libraries from the system during run

[2020-02-16 05:19] Legorooj commented on #3856
Closing due to inactivity and the fact that we're no longer accepting issues about missing hooks. Feel free to submit a PR.

[2020-02-16 05:19] #3856 closed

[2020-02-16 05:39] Legorooj commented on #4086
Thanks for letting us know about this. Unfortunately, we are unable to focus on hooks at the moment. Feel free to submit a PR though!

[2020-02-16 05:39] #4086 closed

[2020-02-16 05:44] Legorooj commented on #3810
Closing due to inactivity - and there's a fix described in the issue

[2020-02-16 05:44] #3810 closed

[2020-02-16 05:59] Legorooj commented on #2806
What's the status on this folks?

[2020-02-16 06:14] farlee2121 commented on #2806
The company never replied to me and I think they went out of business. I'll try one more time, but I don't have high hopes

[2020-02-16 06:16] Legorooj commented on #2806
@farlee2121 why was your code there in the first place?

[2020-02-16 06:17] farlee2121 commented on #2806
Because I wrote the code for that company while working for that company

[2020-02-16 06:17] Legorooj commented on #4538
Good idea on this. I've dealt with many issues that are based around this. It took weeks to track the root ofsome of them down.

[2020-02-16 06:26] Legorooj commented on #2806
@farlee2121 thought so. Can you remember any of the code?

[2020-02-16 06:34] Legorooj commented on #3715
I'm going to close this - it's stale and as @bjones1 pointed out, `tox wants to run multiple environments`. True, this could simplify CI in the long run, but it isn't worth the effort for such little gain.

[2020-02-16 06:34] #3715 closed

[2020-02-16 06:36] Legorooj commented on #3581
A check is probably a good idea, though is there any point building the docs for every PR?

[2020-02-16 06:37] Legorooj commented on #3391
Closing this because it's stale and not being looked at.

[2020-02-16 06:37] #3391 closed

[2020-02-16 06:38] Legorooj commented on #3328
Closing due to inactivity

[2020-02-16 06:38] #3328 closed

[2020-02-16 06:39] Legorooj commented on #3304
Closing - the docs no longer suggest that and are clearer.

[2020-02-16 06:39] #3304 closed

[2020-02-16 07:53] Legorooj commented on #4599
Closing this. I'll happily reopen if you can:
* Prove it's a PyInstaller bug
* And give us more information

If this is a support question, please go elsewhere (eg StackOverflow)

[2020-02-16 07:53] #4599 closed

[2020-02-16 07:55] Legorooj commented on #4648
@gakhilbabu7983 pinging

[2020-02-16 07:55] Legorooj commented on #4589
@yishangfei pinging

[2020-02-16 07:57] Legorooj commented on #4532
@jiveman pinging

[2020-02-16 07:59] Legorooj commented on #4531
@bschollnick not true. This could be a problem with windows UAC - the permissions can be detailed - and get messed up. Are you running as admin? If not run from an admin CMD prompt

[2020-02-16 08:00] Legorooj commented on #2348
Pinging...

[2020-02-16 08:30] Legorooj opened #4686 "lint check on CI six incompatability error"
https://travis-ci.org/pyinstaller/pyinstaller/jobs/651034980?utm_medium=notification&utm_source=github_status line 727 shows that pyinstaller needs `six`.

Why do we need this anymore? We don't support py2.

[2020-02-16 08:33] Legorooj commented on #4682
@bjones1 @htgoebel we really aught to create a team with no perms in pyinstaller to discuss this sort of thing, and for general developer chat - we don't have a way to talk to one another privately and ask questions.

[2020-02-16 09:35] Legorooj commented on #3931
Hope this helps:
https://github.com/Legorooj/pyinstaller/tree/recursiontrack/RecErr

I've uploaded the log files and a script to set it (the error) off.

[2020-02-16 10:38] StanHR opened #4687 "PyInstaller with Python-VLC: No Attribute “media_player_new” Error"
I'm using Python-VLC to create a video player and PyInstaller to generate the executable file on my Windows 10 machine. Initially, it gave me the error:
[code]
To solve this issue, I added the missing dlls in the binaries of the .spec file in the following manner:
[code]
After doing this, I'm no more getting the above error. However, now I'm getting the following error:
[code]
The code which leads

[2020-02-16 11:50] Legorooj commented on #4687
Python-VLC doesn't have a hook. Unfortunately we can't write these for you. Please see the `using hook files` in the docs for info. Please also feel free to submit a PR for a hook!

[2020-02-16 11:50] #4687 closed

[2020-02-16 12:00] genadijrazdorov commented on #4663
Please check PR #4664.

[2020-02-16 14:39] bjones1 commented on #4682
I agree. There's some way to tag the maintainers -- @pyinstaller/hook-maintainers and @pyinstaller/core-developers, for example (whose feedback I would like). But I don't know how to make an issue private. Probably some other medium (e-mail, etc.) would be more appropriate.

[2020-02-16 14:44] bjones1 commented on #4686
py3 code that hasn't migrated away from six still needs it.

[2020-02-16 14:44] #4686 closed

[2020-02-16 14:48] bjones1 commented on #1554
I agree that it's a good idea, but also note that pre-find/pre-safe hooks are very rare. So, changing the interface IMHO would be fine. However, from another perspective, this would have little impact since it's rarely used.

[2020-02-16 19:29] farlee2121 commented on #2806
It's not really that kind of code. I basically just kept adding dependencies to the list until the generated executable stopped complaining

[2020-02-16 20:58] Legorooj commented on #4663
@genadijrazdorov I know it exists. I was just closing the issue

[2020-02-16 21:00] Legorooj commented on #2806
@farlee2121 that method. Well let us know if you have any luck with the company - maybe you know on of the workers there? They might respond faster.

[2020-02-16 21:00] Legorooj commented on #4686
@bjones1 expected a PR soon then.

[2020-02-16 21:01] Legorooj commented on #4682
@bjones1 we can just ask @htgoebel to create a new team in the PyInstaller organisation that has no repo permissions. That'll be basically a private forum.

[2020-02-17 02:02] Legorooj commented on #2339
Should we just mark the mailing list as dead? I've got a server I could run a small WP based forum on instead?

[2020-02-17 02:50] Legorooj commented on #3333
#3444 fixed this

[2020-02-17 02:50] #3333 closed

[2020-02-17 02:57] Legorooj opened #4688 "Switch to Azure pipelines for CI instead of Travis and Appveyor"
I think we ought to consider moving CI to Azure Pipelines for open source, due to the fact we can therefore run on one CI, not two, we get unlimited minutes in Pipelines, and 10 concurrent jobs. Thoughts @bjones1 and @htgoebel?

[2020-02-17 02:58] Legorooj commented on #4659
@SF12-Studies pinging?

[2020-02-17 03:00] Legorooj commented on #4644
@iamMHZ pinging

[2020-02-17 03:42] bjones1 commented on #4688
Not free for PyInstaller-scale usage (1800 minutes/month free tier = 30 hours); given 8 1 hour build per PR, this is nothing. Also, I suspect @htgoebel isn't a big Microsoft fan.

[2020-02-17 03:45] bjones1 commented on #2339
We should. I'd rather push this to some 3rd party (Stack Overflow or something similar), and not have it be one more thing to maintain / answer / deal with.

[2020-02-17 03:55] pinobatch commented on #4628
I had to upgrade from Wine 3.6 to Wine 5 just to install Python because Python 3.8's own installer was creating no-permissions directories. After that, here are some steps to reproduce...

I'm using PyInstaller 3.6 in Python 3.8.1 for Windows in Wine 5.0 (from WineHQ repo) in Ubuntu 18.04 LTS in order to [cross-compile](https://www.andreafortuna.org/2017/12/27/how-to-cross-compile-a-python-script-

[2020-02-17 05:37] Legorooj commented on #4688
@bjones1 maybe you didn't see that open source organisations - if you register as one - get unlimited minutes? And 10 concurrent jobs, not 3. Harmut may not, or may, but if we can get something like this *for free*, it's worth considering.

[2020-02-17 05:39] Legorooj commented on #2339
Or a new PyInstaller subreddit?

[2020-02-17 05:55] bjones1 commented on #4688
I see that now. But it will take dev work to get this going...

[2020-02-17 06:17] Legorooj commented on #4688
@bjones1 I could definitely do the switch. I just need @htgoebel's approval...

[2020-02-17 08:52] Legorooj commented on #4688
Oh and @bjones1 could you send me an email at legorooj@protonmail.com? I'd like to discuss a PyInstaller GUI I have in development.

[2020-02-17 21:18] pschmalenberg commented on #2834
fonnesbeck,

You need to install shapely through conda forge if using anacaonda
Like so:
conda config --add channels conda-forge
conda install shapely

I had the same error as you, and this worked for me.

[2020-02-17 21:50] clragon commented on #2379
Looks like this will never get fixed since the entire project got discontinued.

[2020-02-17 22:15] gotexis opened #4689 "HEnsure only 1 process / disallow parallelism / detect running process?"
Hi, I have searched a lot of places, but I don't think this is mentioned as far as I have searched.

I am running a flask server inside a pyinstaller which is called by an electron instance. I am uncertain about the `will-quit` hook but it doesn't seem to terminate my flask service properly.

So I would have a pile of background service running, so long as I close electron app and reopen.

Thanks

[2020-02-17 22:15] gotexis opened #4690 "(How to) Ensure only 1 process / disallow parallelism / detect running process?"
Hi, I have searched a lot of places, but I don't think this is mentioned as far as I have searched.

I am running a `flask` server inside a pyinstaller which is called by an `electron` instance. I am uncertain about the `electron` `will-quit` hook, but it doesn't seem to terminate my flask service properly as I have coded. (Could any `electron` users please advice)?

So I would have a pile of back

[2020-02-17 22:30] #4689 closed

[2020-02-17 22:31] gotexis commented on #4690
Update: I see what's happening. The process.ID recorded by node when spawning pyinstaller instance is not the same one as the real python process id, so it seems like pyinstaller has a wrapper that futher spawn the real program.

With that said, I am yet to find a solution.

[2020-02-18 00:47] Legorooj commented on #4690
@gotexis Sorry, but the pyinstaller team doesn't have time or funding to help you with this. StackOverflow or freenode#pyinstaller are the best places to ask for help

[2020-02-18 00:47] #4690 closed

[2020-02-18 00:53] Legorooj commented on #4650
You mean a new command line option (eg `--include-stdlib`) that means the compiled enviroment would be like a default python install? Plus the other modules you've included of course.

[2020-02-18 00:56] Legorooj commented on #4004
@L0y3r could yoy provide more details?

[2020-02-18 07:45] Legorooj opened #4691 "Update pythonhosted documentation"
Many articles around the web teach about PyInstaller. Many also point to https://pythonhosted.org/PyInstaller for the documentation. This needs to be modified, to forward to the readthedocs url, as it currently shows docs for PyInstaller 3.2.

[2020-02-18 10:06] Legorooj commented on #4507
@mrnuke I've had a look through the log. The issue is definitely a windows permissions error. And I can't believe I didn't notice this before.

@keelung-yang @EffortlessFury @iestatic @kevinhalgren @mikumiku2468 @ncwtf

Are you all using python from the windows store?

[2020-02-18 10:30] Legorooj commented on #4666
@bjones1 Can you link to some of them? I'm unable to find PyQt5 related failiures *at all*.

[2020-02-18 11:02] SimoneNigro commented on #4400
Just a little note. If you don't want to create another file, like `hook-tensorflow_core.python.py`, you can also write what @logvik suggested inside your spec file, if you're using one, since it's python code.
Then, the pyinstaller comment would be just `pyinstaller yourSpecFile.spec `

Here's a sample spec file
[code]

[2020-02-18 13:02] kcsekhar14 commented on #4561
Still i didn't work for me, still it is showing warning when i click on the exe file to open

[2020-02-18 13:51] bjones1 commented on #4666
I'll have to dig some...but if current PRs/commits aren't affected, perhaps this occurs very occasionally. I'd suggest closing it for now, but reopening if it pops up again.

[2020-02-18 16:02] BoboTiG opened #4693 "AppImage builds are broken since version 3.6"
## Description of the issue

Since the commit 392aba1817b696e3fedd92bfd05dc5266126f018, the resulting frozen directory was missing `_struct` and `zlib` folders. The binary was working, but when packaged into an `AppImage`, the followig error was shown:
[code]

## Context information (for bug reports)

* Output of `pyinstaller --version`: 392aba1817b696e3fedd92bfd05dc5266126f018
* Version of Python

[2020-02-18 16:48] BoboTiG commented on #4693
Hm the fix works on my local machine but not from a docker container :thinking:

[2020-02-18 17:08] L0y3r commented on #4004
@Legorooj  I already resolved the issue, my project depends on selenium and I bundle it with `--onefile` and `--windowed` flags, and when I tried to run from the .app folder it doesn't start the program, but the terminal executable can start as a normal app

**I fixed it, specifying the path of `service_log_path` pointing to `f'{sys._MEIPASS}/geckodriver.log'`**

[2020-02-18 21:08] jpakkane commented on #4650
Yes, exactly.

[2020-02-18 22:08] Legorooj commented on #4666
I'll close then. If you notice one failing because of that again, let me know.

[2020-02-18 22:13] Legorooj commented on #4004
Closing then.

[2020-02-18 22:13] #4004 closed

[2020-02-18 22:41] Legorooj commented on #4666
https://travis-ci.org/pyinstaller/pyinstaller/jobs/651959687?utm_medium=notification&utm_source=github_status

[2020-02-18 22:58] Legorooj commented on #4666
@bjones1 I'll try and raise this error on my Linux VM. It'll be interesting to see if it occurs on Debian(Well Kali).

[2020-02-18 23:35] dmcdonald8 commented on #3799
This problem still exists and is solved by #3900 which has been approved but not merged.

I would encourage using [the fix from that PR](https://github.com/pyinstaller/pyinstaller/pull/3900/files) as it doesn't rely on hard-coded directory paths.

You can find the file you need to edit at "/Lib/site-packages/PyInstaller/hooks/hook-nltk.py"

[2020-02-19 05:01] tbhaxor opened #4694 "AV detecting it as malicious file"
+++ ONLY TEXT +++ DO NOT POST IMAGES +++

## Description of the issue
I am building my `app.py`, which is a selenium driven application using pyinstaller 3.6 (also used the development version). As soon as it creates an executable in dist directory, the windows defender detects it as malicious code and immediately quarantines that. I want to publish this application for my customers.

## Context i

[2020-02-19 06:21] M4rc3lv commented on #4576
Same problem 'Lorem ipsum.txt' resource not found in 'jaraco.text'. Anybody knows more how to solve it?

[2020-02-19 07:52] kcsekhar14 opened #4695 "WARNING: file already exists but should not: C:\Users\105067~9\AppData\Local\Temp\_MEI1103602\torch\_C.cp37-win_amd64.pyd"
+++ ONLY TEXT +++ DO NOT POST IMAGES +++

## Description of the issue

## Context information (for bug reports)

* Output of `pyinstaller --version`: ```(paste here)```
* Version of Python: e.g. 3.7
* Platform: e.g GNU/Linux (distribution), Windows (language settings), OS X, conda, FreeBSD
* Did you also try this on another platform? Does it work there?

* try the latest development version, using

[2020-02-19 07:59] kcsekhar14 commented on #4695
This issue is similar to [(https://github.com/pyinstaller/pyinstaller/issues/4561)] but it doesn't solve for me -
Python 3.5.4
PyInstaller 3.6

I have tried various option like -
1. use --onedir instead of --onefile can avoid this problem. -> Doesn't Worked
2. --hidden-import ctypes -> Doesn't Worked
3. for d in a.datas:
    if '_C.cp37-win_amd64.pyd' in d[0]:
        a.datas.remove(d)
        bre

[2020-02-19 08:18] teemukataja commented on #3525
Hi, I know this is really late, but this solved it for me https://github.com/pyinstaller/pyinstaller/issues/1684#issuecomment-449607479

I gave it as a command line parameter
[code]

[2020-02-19 08:34] Legorooj commented on #4694
As many issues have reported before, this can happen. Unfortunately this is a sporadic problem (I get no issues with windows defender) and we can offer no support for it. You might be able to "report file as false positive" or similar.

[2020-02-19 08:34] #4694 closed

[2020-02-19 08:38] Legorooj commented on #4695
Wait a sec - this happens in one folder mode? Try one folder, but build with the `--clean` option.

[2020-02-19 08:40] Legorooj commented on #4650
@bjones1 what do you think of this?

[2020-02-19 08:41] #4654 closed

[2020-02-19 08:44] Legorooj commented on #4628
`temppath` is the system temporary directory, eg `/tmp`, `/var/tmp` etc.

[2020-02-19 08:45] Legorooj commented on #4628
This appears to be permission related. Can you run as Sudo?

[2020-02-19 09:23] tbhaxor commented on #4694
@Legorooj is there anything your team could do, except closing issues?

[2020-02-19 10:15] kcsekhar14 commented on #4695
@Legorooj I am sorry, one correction. with --onedir it is working fine. I am not having issue. But i want to compile it as --onefile so that all others will be loaded in temp folder.
Is it possible to build the application with --onefile option

[2020-02-19 10:34] Legorooj commented on #4695
@kcsekhar14 good. I thought something was really wrong for a sec. I'll look into this.

[2020-02-19 10:40] Legorooj commented on #4666
@bjones1 what are the chances of this being completely unrelated to PyInstaller? As in nothing we do will fix it?

[2020-02-19 10:56] Legorooj commented on #4694
@tbhaxor we can't help with this unfortunately. For instance, we can't replicate it, etc. I use windows defender and it works fine for me. The only suggestion I have is to contact Microsoft and report it as a false positive.

[2020-02-19 11:36] tbhaxor commented on #4694
Let me alert you if this is a reason. Any script kiddie can compromise your
system.

On Wed, 19 Feb, 2020, 4:26 PM Legorooj, <notifications@github.com> wrote:

[2020-02-19 11:55] michaelhochleitner opened #4696 "Packaging spacy ImportError: cannot import name _custom_kernels"
## Environment

PyInstaller: 4.0.dev0+a1f92c6a08
Python: 3.6.9
Platform: Linux-4.15.0-88-generic-x86_64-with-Ubuntu-18.04-bionic
spaCy Version: 2.2.3

## Reproduction steps
All necessary files for reproduction are available at https://github.com/michaelhochleitner/spacy-pyinstaller .

I'm packaging the following python script.
[code]
I use the following command to package the script.
[code]

Here

[2020-02-19 12:34] kcsekhar14 commented on #4695
Libraries used inside the Python -
from PyQt5 import QtCore, QtGui, QtWidgets
import tkinter as tk
from tkinter import filedialog
from tkinter import messagebox
import os,sys
from mat4py import loadmat
from matplotlib import pyplot as plt

[2020-02-19 13:58] bjones1 commented on #4666
Very high -- it seems like a race condition, based on the bug report. The only thing I know to do is find ways to avoid triggering this.

[2020-02-19 14:05] bjones1 commented on #4650
I don't think this is used frequently enough to merit a command-line option, but would perhaps make a good [recipe](https://github.com/pyinstaller/pyinstaller/wiki/Recipes). A script to iterate through all modules in `sys.prefix + '/lib'`, for example, would probably work.

[2020-02-19 22:07] Legorooj commented on #4695
@kcsekhar14 thanks that might help.

[2020-02-19 22:19] Legorooj commented on #4666
@bjones1 can we make the test fail and not fail at the same time if you mean? Eg "All checks passed successfully" but if you go into Travis you can see the error?

[2020-02-19 22:20] Legorooj commented on #4650
Could we bundle another import package with PyInstaller called "pyinstaller_stdlib" that doesn't actually do anything but has a hook file that bundles the stdlib?

[2020-02-19 22:32] bjones1 commented on #4650
That doesn't make sense to me -- how would users specify that they want this package? What would it hook on to? Etc.

However, I can see this being placed in a hook (for meson, etc.) that gathers all the stdlib using code similar to:

[code]

[2020-02-19 22:33] bjones1 commented on #4666
We can mark this one test as xfail or even skip it, but then that leaves testing holes.

[2020-02-19 22:39] Legorooj commented on #4650
@bjones1 you have library that does absolutely nothing and is part of PyInstaller (`PyIndstaller.stdlib`) and the user imports it in their script. It has a hook which includes the stdlib in the bundle.

[2020-02-19 22:39] Legorooj commented on #4666
Can we get Travis to pass but with a warning?

[2020-02-20 00:05] Legorooj commented on #4696
You need a hook for spacy to bundle it properly. https://pyinstaller.readthedocs.io/en/stable/hooks.html

[2020-02-20 00:05] #4696 closed

[2020-02-20 01:34] mrnuke commented on #4507
@Legorooj Yes, from windows store.

[2020-02-20 01:46] Legorooj commented on #4507
@mrnuke I'm now quite sure what the problem is... Lets wait until a couple more if the above mentioned answer.

[2020-02-20 02:32] bjones1 commented on #4666
We can mark it as [xfail](http://doc.pytest.org/en/latest/skipping.html#xfail-mark-test-functions-as-expected-to-fail), but this means it's allowed to fail for any reason (an actual bug in PyInstaller or this internal error we don't care about).

[2020-02-20 02:36] bjones1 commented on #4650
I see. Although this seems like a roundabout approach -- a program imports from PyInstaller, which has no actual effect on the program but does trigger a hook. Perhaps more direct would be adding a hook utility to gather the stdlib, then allowing hooks to call that -- the hook could then be something like

[code]

... but is the common enough to include in PyInstaller? Again, it seems like a recip

[2020-02-20 02:44] Legorooj commented on #4666
Is it possible to, in the test, fail silently if it's that specific bug? If we can trace the specific error, we can xfail with the raises parameter or similar. Let me have a look into that.

[2020-02-20 02:48] CzsGit opened #4697 "Unable to packaging tensorflow.estimator"
## ImportError: No module named tensorflow.estimator

* pyinstaller version: 3.4
* Version of Python:  2.7.5
* Platform: CentOS7

mesh-tensorflow                    0.0.5
tensorboard                        1.13.1
tensorflow                         1.13.1
tensorflow-estimator               1.13.0
tensorflow-gpu                     1.13.1
tensorflow-probability             0.6.0

test code

import t

[2020-02-20 04:51] Legorooj commented on #4697
PyInstaller 3.4 is no longer supported. Please let us know if the issue persists in 3.6 or the development version.

[2020-02-20 05:36] CzsGit commented on #4697
I just retested with pyinstaller3.6, and the problem is the same as with pyinstaller3.4 @Legorooj

[2020-02-20 07:12] CzsGit commented on #4697
I just retested with pyinstaller3.6, and the problem is the same as with pyinstaller3.4 @Legorooj

[2020-02-20 08:26] Legorooj commented on #4697
Can you link to the tensorflow.estimator docs?

[2020-02-20 09:49] CzsGit commented on #4697
link can be referred to https://www.tensorflow.org/api_docs/python/tf/estimator/ModeKeys
Estimator is an outer package,If you use a specific API, you can use the following code

import tensorflow as tf
t=tf.estimator.ModeKeys.TRAIN
print(t)

There is a new error if you use tensorflow directly without importing estimator

error message:
    import tensorflow as tf
  File "/tmp/pip-unpacked-wheel-ek

[2020-02-20 10:46] komodovaran commented on #4400
Worked for me with Tensorflow 2.0 and `hook-tensorflow_core.py`:
[code]
and using `tensorflow_core.python` for imports.

Other versions, hooks or imports ended up giving me ModuleNotFound errors or even SegFault 11.

[2020-02-20 14:32] bjones1 commented on #4666
Probably -- perhaps we could catch the exception that pytest.fail raises [here](https://github.com/pyinstaller/pyinstaller/blob/develop/tests/functional/conftest.py#L268)? But this doesn't provide a way to look at the stderr. So, that sounds messy.

Perhaps we should just mark this as an xfail in Linux only and move on.

[2020-02-20 14:41] bjellesma-mastermans commented on #3733
I see this issue in pyinstaller 3.6 running python 3.6 and installing pypiwin32 seemed to fix is as well

[2020-02-20 17:58] cbenhagen commented on #3550
Maybe @springermac can remember why he excluded `base_library.zip` from symlinking in Python 3? Symlinking it does work for us in Python 3 and fixes our notarization issues.

[2020-02-20 22:26] Legorooj commented on #4666
One more idea. `with contextlib.suppress(TypeError):`. You can suppress any exception. It simply won't be raised. Is there a way that could be worked in?

If not, then marking it as xfail on Linux is probably the best option.

[2020-02-20 22:30] #4659 closed

[2020-02-20 23:12] bjones1 commented on #4666
I don't think it would help -- xfail is a more descriptive way to do the same thing.

[2020-02-20 23:17] Legorooj commented on #4666
Ok then. PR needed.

[2020-02-20 23:46] pinobatch commented on #4628
[Wine FAQ 6.2: Should I run Wine as root?](https://wiki.winehq.org/FAQ#Should_I_run_Wine_as_root.3F)

How would I go about setting up a container to protect the rest of my system from the damage that `sudo wine` can cause? How would I debug pyinstaller to see what exact path it is trying to construct for the temporary directory and which error code Wine is returning?

[2020-02-20 23:55] Legorooj commented on #4628
Umm. If you have enough ram a VM running Ubuntu might work... Replicate the Env etc. Also py3.8 isn't supported yet, and likely won't be until PyInstaller 4.1 (2 releases away).

[2020-02-21 00:40] pinobatch commented on #4628
Does it support Python 3.7.6? Because I uninstalled Python 3.8.1, installed Python 3.7.6, tried again, and got the same error:
[code]
`sudo wine dist/wav2brr.exe` produced the following error:
[code]

This leaves setting up a virtual machine. This being my first virtual machine in my life, it may take a day for me to get back to you.

[2020-02-21 00:54] Legorooj commented on #4628
There are guides online. I'd recommend Virtual Box as your manager. Yes 3.7 is supported. Can you check the permissions on your temp folder? `touch` might work.

[2020-02-21 01:46] gotexis commented on #3753
I encounter this problem when building on MacOS from a makespec file generated on windows. If i make a makespec file from MacOS it runs fine.

[2020-02-21 02:23] pinobatch commented on #4628
Both temp folders that I know of are world-writable:
[code]

## Everything below is in a guest
Once I had established `ssh -X` connectivity to a freshly installed copy of Xubuntu 18.04 in VirtualBox, I ran these commands:
[code]

This actually worked:
[code]

Then I repeated this under a second wineprefix owned by an ordinary user in the same VM:
[code]

Same error as before:
[code]
What further s

[2020-02-21 03:31] CzsGit commented on #4697
Hidden import ERROR

166951 INFO: Analyzing hidden import 'tensorflow.estimator.ModeKeys.TRAIN'
166951 ERROR: Hidden import 'tensorflow.estimator.ModeKeys.TRAIN' not found

[2020-02-21 05:13] Legorooj commented on #4628
Hmm. We need to figure out the actual temp directory... What does `python -c "import tempfile; print(tempfile.gettempdir())"` output?

[2020-02-21 05:15] Legorooj commented on #4697
@CzsGit interesting. Which PyInstaller command raised that error? And can you upload the `spec` file?

[2020-02-21 05:29] CzsGit commented on #4697
code

import tensorflow as tf
t=tf.estimator.ModeKeys.TRAIN
print(t)

spec file

# -*- mode: python ; coding: utf-8 -*-

block_cipher = None

a = Analysis(['test.py'],
             pathex=['/home/caozs/pyinstaller_test'],
             binaries=[],
             datas=[],
             hiddenimports=['tensorflow','tensorflow.python'],
             hookspath=[],
             runtime_hooks=[],

[2020-02-21 06:36] #4621 closed

[2020-02-21 06:38] Legorooj commented on #4616
This appears to be a duplicate of #4406

[2020-02-21 06:40] Legorooj commented on #4595
You probably need a hook for awscli. Please see the documentation: `Understanding hook files`

[2020-02-21 06:40] #4595 closed

[2020-02-21 07:01] troyready commented on #4674
Can confirm the same issue, getting the `Error loading Python lib '<symlinkdir>/libpython3.7m.so.1.0': dlopen: <symlinkdir>/libpython3.7m.so.1.0: cannot open shared object file: No such file or directory` on any linux system. Error does not appear to be occurring on macOS systems that we've tested.

[2020-02-21 10:32] Legorooj commented on #4639
Stale

[2020-02-21 10:32] #4639 closed

[2020-02-21 10:33] #4648 closed

[2020-02-21 10:34] Legorooj commented on #4658
Can you please provide tracebacks, what's the bug, etc. We can't help if you can't provide info.

[2020-02-21 10:36] Legorooj commented on #4651
Umm what exactly are you trying to do? Run compile PyInstaller using PyInstaller? And compile stuff with that?

[2020-02-21 10:37] #4508 closed

[2020-02-21 10:45] Legorooj commented on #4506
Sorry this issue didn't get attention sooner. PyInstaller needs a runtime hook for vlc it appears. Surprisingly there's nil documentation covering how to write them. I'll get back to you soon with more info!

[2020-02-21 10:56] fu050409 commented on #4561
I got the same: [46296] WARNING: file already exists but should not: C:\Users\12935\AppData\Local\Temp\_MEI462962\Crypto\Cipher\_AES.cp36-win_amd64.pyd

[2020-02-21 11:03] BoboTiG commented on #4629
FTR using the plist file from [that comment](#issuecomment-577438510) works like a charm for [Nuxeo Drive](https://github.com/nuxeo/nuxeo-drive).

[2020-02-21 12:03] kivdev commented on #4651
I want to create an executable file that takes the name of the script through a parameter, collects everything necessary for it(images, files, etc.) and builds it.

[2020-02-21 12:06] Safihre commented on #4576
Just add this:
[code]

[2020-02-21 13:10] chwba commented on #4658
Check https://github.com/dashingsoft/pyarmor/issues/180 for details

[2020-02-21 14:03] pinobatch commented on #4628
[code]
Is there a chat server where we could do this troubleshooting in real time, and then I later summarize to this issue?

[2020-02-21 20:58] jondy commented on #4658
Just ignore pyarmor, it should be same to run this command by PyInstaller:
[code]

[2020-02-21 21:30] jondy commented on #4658
This problem could be described by another way. How PyInstaller to pack these 2 scripts to one bundle?

The main scripts is `MRT.py`:
[code]

The other script is `./MRTFiles/attack_controller.py`:
[code]

One problem is that `sys.executeable` is not python interpreter in the final bundle, the other problem is that the final bundle always reports the following error when start the feature
[code]

[2020-02-21 22:06] Legorooj commented on #4651
That won't work - PyInstaller collects stuff from your environment when building. That means that if your script has a library import your exe doesn't, it won't work. Sorry, but we can't offer support for this use of PyInstaller because it won't work.

[2020-02-21 22:06] #4651 closed

[2020-02-21 22:43] Legorooj commented on #4628
None I know of. What are the permissions on the actual temppath? The Linux one. Every folder in it, starting from `.wine` to `Temp`.

[2020-02-22 02:20] kivdev commented on #4651
Do you know what is the most interesting? I had a version of Python 3.7.2 and everything worked, then I replaced it with 3.8, I got an error, I rolled back completely to 3.7.2 - it did not help, I installed all versions of setuptools to the version released before the release of 3.7.2, this did not solve my problem ... It worked, it stopped right now, it's a bug.

[2020-02-22 03:50] Legorooj commented on #4658
Ok I think I understand. `sys.executable` is what it is meant to be. Could you send a *minimal* zipped example that showcases this to legorooj@protonmail.com? Ready to unzip and poke at?

[2020-02-22 04:44] Legorooj commented on #4651
@kivdev I had that at one point - it's a windows caching error. If the PyInstaller build was failing, then try the `--clean` option.

[2020-02-22 05:10] pinobatch commented on #4628
[code]

Is there a reason why the bootloader prints `[44] LOADER: temppath is ` without anything else on the line after the word `is`?

[2020-02-22 05:11] kivdev commented on #4651
Windows 10 x64
Python 3.7.2 x32
PyInstaller==4.0.dev0+d08a42c612
CMD: pyinstaller --onefile --clean test_for_build.py
test_for_build.py:
[code]

The error has not changed.

[2020-02-22 10:41] Legorooj commented on #4628
The line above `temppath is` says `INTERNAL ERROR: cannot create temporary directory!`. Hmm this is really confusing. Is the output different if you use the `dosdevices` path instead? Sometimes forwarding things Cann mess with permissions - on windows anyway.

[2020-02-22 10:48] Legorooj commented on #4651
To do this you'd need a hook for PyInstaller - we don't have one and won't create one. You'd also need to mod the bootloader process, create runtime hooks, and loads more. We can't, won't and don't support or encourage this.

[2020-02-22 11:16] kivdev commented on #4651
Suppose I need hooks, but how did it work before, if it cannot work without them?

[2020-02-22 12:39] NHades commented on #4694
@tbhaxor I had same issue two weeks ago (along with others) (see #4670 ).
I reported issue to Microsoft and they updated their AV definitions.  Pyinstaller team can't do anything here, so no blame game.

[2020-02-22 21:07] pinobatch commented on #4628
What do you mean by "use the `dosdevices` path"? Where in particular would I "use" it?

[2020-02-23 05:18] CzsGit commented on #4697
Any Suggestions?

[2020-02-23 06:43] Legorooj commented on #4697
@CzsGit the file should work. I'll get back in a day or two when I can replicate the issue.

[2020-02-23 06:45] Legorooj commented on #4628
@pinobatch run the following command and check that the output is the same as the similar one above.
[code]

[2020-02-23 09:13] Legorooj commented on #4507
Ok @mrnuke can you try python not from the windows store? I've a feeling that it's (Indirectly) because of the windows store version. You'll need to uninstall from windows store and reinstall from https://python.org/download.

Once thats done, go into `settings > Apps and Features > App execution aliases` and toggle the python switches to off. See the below images for details.
![AppsAndFeatures -

[2020-02-23 09:39] Legorooj commented on #4696
@michaelhochleitner I've added an answer on the SO Q

[2020-02-23 13:26] hdf commented on #870
I think you might be overthinking this. Would it not be enough to change this line:
https://github.com/pyinstaller/pyinstaller/blob/a1f92c6a08b45ed53be369298c648627ba189205/PyInstaller/utils/win32/icon.py#L148
and this one:
https://github.com/pyinstaller/pyinstaller/blob/a1f92c6a08b45ed53be369298c648627ba189205/PyInstaller/utils/win32/icon.py#L241
to this?
[code]
(Based on [this](https://pywin32-c

[2020-02-23 15:17] hdf commented on #4697
I would do 2 things:
1: Make `hiddenimports` empty, as it is definitely visible in the script, so it should not be hidden. (https://pyinstaller.readthedocs.io/en/stable/usage.html#what-to-bundle-where-to-search)
2: Set `upx` to `False` (in both places). As I found, that upx and CUDA do not mix. And I assume you are not running TF on the CPU...

The example throws a different error for me, the infa

[2020-02-23 15:24] pinobatch commented on #4628
All are world-readable, group-writable, and world-traversable, yet the _MEI* directories created inside are permissionless:
[code]

[2020-02-23 22:33] Legorooj commented on #4697
@hdf really? Hmm. As I said, I'll get back in a day or two - I've a PR I need to finish first.

[2020-02-23 22:39] Legorooj commented on #4628
Hmm. That is odd, but probably not related - the error is "can't *create* temp dir". I'm going to have to say that I've exhausted all of my Linux knowledge (which for a windows user is pretty good) and hand this one to @htgoebel, out in house Linux guru.

[2020-02-24 00:50] Legorooj commented on #4558
@tinjaw thanks for letting us know.  I'm going to close this issue, as I've tracked it down and will include it in my next PR

[2020-02-24 00:50] #4558 closed

[2020-02-24 00:56] Legorooj commented on #4563
@saschahofmann with `--onedir` the longer startup time is to do with caching, size of the app, etc. There are loads of factors. But `--onedir` will always be faster than `--onefile`. There is a PR that is adding a splash screen option, that shows a splash screen while starting up.

[2020-02-24 00:56] #4563 closed

[2020-02-24 00:57] Legorooj commented on #4611
You need hook files and runtime hook files. We can't and won't support using PyInstaller from a frozen app.

[2020-02-24 00:57] #4611 closed

[2020-02-24 00:57] #4603 closed

[2020-02-24 01:01] Legorooj commented on #4550
@JarekParal try opening a command prompt and running the exe from there - unless you were already doing that? And the subdir thing shouldn't change anything.

[2020-02-24 01:03] Legorooj commented on #4540
It'll be because the command isn't available from your environment - virtual it not. This is not an issue with PyInstaller, it's an issue with your system.

[2020-02-24 01:03] #4540 closed

[2020-02-24 01:04] #4542 closed

[2020-02-24 01:04] Legorooj commented on #4542
Stale

[2020-02-24 01:05] Legorooj commented on #4533
This is fixed.

[2020-02-24 01:05] #4533 closed

[2020-02-24 01:10] #4479 closed

[2020-02-24 01:14] #4434 closed

[2020-02-24 01:17] Legorooj commented on #4430
Please email harmut (htgoebel) at h.goebel@crazy-compilers.com to discuss this. This is not a PyInstaller issue.

[2020-02-24 01:17] #4430 closed

[2020-02-24 01:19] Legorooj commented on #4391
Onedir will be bigger, because the C object libraries (DLL/SO/PYD) aren't compressed. In one file it's all compressed. We can't help with this

[2020-02-24 01:19] #4391 closed

[2020-02-24 01:22] Legorooj commented on #4356
This is not a PyInstaller issue; if it's causing you trouble, we can't help. (Though maybe see if `--exclude-module=tkinter` helps - if it doesn't crash the app, then none of your dependencies use it)

[2020-02-24 01:22] #4356 closed

[2020-02-24 01:24] Legorooj commented on #4346
Please us me #4406 to follow this.

[2020-02-24 01:24] #4346 closed

[2020-02-24 01:41] isolet commented on #1350
None of the above solutions worked for me with mac 10.15.3 (19D76) and Python 3.7.6. Does anyone has any suggestion? Thanks!

[2020-02-24 01:48] CzsGit commented on #4697
Looking forward to your reply

[2020-02-24 02:58] yishangfei commented on #4589
@Legorooj  First, I ran the code shown in pycharm to compress autojump.png. Then I packaged it into exe through pyinstaller -F -w b.py, and Failed to execute script b appeared. I do n’t know if it was not accessible to https
![a](https://user-images.githubusercontent.com/15099278/75126325-58337e00-56f4-11ea-95b0-aa24abee67cc.png)

code：
import tinify
tinify.key = 'mhDgfkycPsLfqZyrB5D8TrqlXR8fKPt2'

[2020-02-24 03:01] CzsGit commented on #4697
I tried your method and the result is the same as before
https://github.com/pyinstaller/pyinstaller/issues/4697#issuecomment-588868509

[2020-02-24 05:01] Legorooj commented on #4589
@yishangfei try adding the option `--add-data=autojump.png;.`. (Don't run in powershell, only cmd).

[2020-02-24 08:00] JarekParal commented on #4550
@Legorooj I'm not sure if I tried to run the app from command prompt but that isn't a solution for me. I moved the file `test.py` to a subfolder and it works well for me. But I had to change the `import` structure.

[2020-02-24 08:58] yishangfei commented on #4589
sorry, I didn't understand

[2020-02-24 08:58] Legorooj commented on #4550
Hmm. Could you type out a file structure for us (For both the working and not working config)? Eg:
[code]
And tell us which pyinstaller command you used?

[2020-02-24 08:59] Legorooj commented on #4589
See if `pyinstaller -F -w b.py --add-data=autojump.png;.` works

[2020-02-24 09:20] yishangfei commented on #4589
![image](https://user-images.githubusercontent.com/15099278/75140049-196beb00-5729-11ea-8369-8b34e58fc4ef.png)
![image](https://user-images.githubusercontent.com/15099278/75140056-1e309f00-5729-11ea-9170-162ca28b2f82.png)

Still the same，My photos are generated every time

[2020-02-24 09:36] MarcelFerrari commented on #1350
I was not able to get PyInstaller working, but if you are not absolutely forced to use that you can try Platypus which is quite similar.

As I mentioned a few comments up, I’ve written this tutorial if you are interested: https://marcelferrari.com/Package-PySimpleGUI-scripts-as-Os-X-app-bundles-with-Platypus/

[2020-02-24 09:56] htgoebel commented on #4430
I uploaded the key to https://keys.openpgp.org/. But since this server allows a single key to be associated with an e-mail-addresse, I have bo ID attached.

[2020-02-24 10:53] JarekParal commented on #4550
I tried to [create MCVE](https://github.com/JarekParal/pyinstaller-project-structure-issue) but I couldn't reproduce this issue on any simple MCVE, which mean that my previous comment about simple test file isn't correct:
[code]

But I can still reproduce the issue in my code. As it is an internal project, I couldn't share the code base, but [I exported at least the build log files](https://github

[2020-02-24 11:04] #4616 closed

[2020-02-24 12:02] rcoup commented on #1684
👍 for @Prophacy's answer. Note that it should either be:
[code]
in your `.spec` file.

Or `pyinstaller --hidden-import=_cffi_backend ...` on the command line

[2020-02-24 13:11] gwhenne opened #4701 "Cannot make hardened runtime for Catalina"
+++ ONLY TEXT +++ DO NOT POST IMAGES +++

When I try to notarize my app, I get this message back from Apple:
[code]

Before attempting to notarize, I do this:
[code]

I'm using the tips in #4629.

This is important: Since sometime in January, MacOS Catalina requires all apps to be notarized, and that the executables be hardened.

[2020-02-24 15:20] phw commented on #4701
On our project we run this command on the app folder itself with the `--deep` flag. Also to enable the hardened runtime you need to pass the `--options runtime` argument. So this works here for my app:

[code]

[2020-02-24 16:47] gwhenne commented on #4701
That was it - thank you!

[2020-02-24 16:47] #4701 closed

[2020-02-24 18:36] logan-pugh commented on #1835
How can I use a custom hook to override which DLLs are included by an imported library? Similar to  @pebbywebby's comment https://github.com/pyinstaller/pyinstaller/issues/1835#issuecomment-428015480, I want to prevent certain DLLs from being included my the built executable, e.g. `opengl32sw.dll` which needlessly bloat the file size of the executable.

[2020-02-24 22:00] Legorooj commented on #4550
Wait a sec. Your saying the following folder structure doesn't work:

[code]
Am I right?

[2020-02-24 22:08] Legorooj commented on #4589
No you changed the option. Please try with the exact option a pointed out.

[2020-02-25 00:01] Jalkhov commented on #4644
@Legorooj  I don't know if I can do this but I will publish my problem (which is similar to this one) so as not to create a new topic. First of all, my application works with **PyQt5**, the command line I use to generate the executable is the following:

`pyinstaller --icon=icono.ico --upx-dir=c:\upx --name myapp main.py`

Then, when I execute the .exe the console closes automatically, to be able

[2020-02-25 00:35] Legorooj commented on #4644
Ok... Could @bjones1 take a look at this? He is the local PyQt expert.

[2020-02-25 01:17] bjones1 commented on #4644
I don't have time to support this.

[2020-02-25 01:17] #4644 closed

[2020-02-25 07:43] JarekParal commented on #4550
Actually it is more like that:
[code]

But yes, you are right.

[2020-02-25 12:47] Jaime02 commented on #4406
I'm having this annoying issue in my main computer. I am able to use pyinstaller in other computers with the same code so it is a computer specific problem. I have a virtual machine in my main computer where it works, It is very strange.

[2020-02-25 15:50] BoboTiG commented on #4693
So the real fix, for now, is to go with the parent commit: 41237b1.

[2020-02-25 22:42] Legorooj commented on #4406
@Jaime02 python 3.8 isn't supported yet. Also PyInstaller 3.4 isn't supported, please use PyInstaller 3.6 (`pip install -U PyInstaller`/master branch)

[2020-02-26 03:27] Legorooj commented on #4550
Try renaming `calmanimo.py` to `main.py` and building. Don't change anything else. @JarekParal

[2020-02-26 04:30] Legorooj commented on #2735
Pinging everyone

[2020-02-26 04:31] Legorooj commented on #4619
We can't help with this. It does sound like it could be a bug, but if you can track it down, let us know. We don't have time to help with this. (Also python 3.8 isn't supported)

[2020-02-26 04:31] #4619 closed

[2020-02-26 04:31] #4597 closed

[2020-02-26 04:32] Legorooj commented on #4589
I'm going to close this, seeing as SO and the docs will help you fix this.

[2020-02-26 04:32] #4589 closed

[2020-02-26 04:37] Legorooj commented on #4653
We don't support `pipenv`, and you will need to write a hook for the modules. Please refer to the docs.

[2020-02-26 04:37] #4653 closed

[2020-02-26 04:41] Legorooj commented on #4617
@rorobertostring this is, as mentioned above, already known about. Maybe try compressing the `.pb` model?

[2020-02-26 04:41] #4617 closed

[2020-02-26 04:45] Legorooj commented on #4608
We can't support this; this is a windows permission error. And it shouldn't be failing because `ntdll.dll` is part of windows, and every program can read it. If a program can't then something is wrong.

[2020-02-26 04:45] #4608 closed

[2020-02-26 04:47] #4463 closed

[2020-02-26 04:53] #1103 closed

[2020-02-26 04:55] #1534 closed

[2020-02-26 04:56] Legorooj commented on #1110
This has been implemented( Pretty sure anyway; the docs say so.)

[2020-02-26 04:56] #1110 closed

[2020-02-26 04:58] #2488 closed

[2020-02-26 04:59] #3943 closed

[2020-02-26 05:00] Legorooj commented on #3939
Pinging

[2020-02-26 05:00] #3580 closed

[2020-02-26 05:01] #3579 closed

[2020-02-26 05:02] #3557 closed

[2020-02-26 05:03] Legorooj commented on #3550
@mshunshin is this still valid now?

[2020-02-26 05:04] #3441 closed

[2020-02-26 05:18] Legorooj commented on #3178
I'm closing this. Python 2.7 is not longer supported; therefore it's no longer a problem

[2020-02-26 05:18] #3178 closed

[2020-02-26 05:20] #2914 closed

[2020-02-26 05:20] Legorooj commented on #2533
@tzarebczan is the problem still there?

[2020-02-26 05:23] Legorooj commented on #1587
I'm closing this. I've got a pyinstaller gui, `PyCompile`, which currently supports spec file generation for *most* of the options under final development. I'll let you all know when it's ready to go live. (@bjones1 would you be willing to have a look at it?)

[2020-02-26 05:23] #1587 closed

[2020-02-26 05:24] Legorooj commented on #1371
Pinging

[2020-02-26 05:25] Legorooj commented on #1222
Now supported (With a few bugs, but works 90% of the time)

[2020-02-26 05:25] #1222 closed

[2020-02-26 05:25] #869 closed

[2020-02-26 05:27] #844 closed

[2020-02-26 05:29] Legorooj commented on #3553
I'm closing this. GitHub is a fine platform, and microsoft have really turned around to support open source (eg Azure DevOps gives Unlimited minutes to open source).

[2020-02-26 05:29] #3553 closed

[2020-02-26 05:31] Legorooj commented on #2339
@htgoebel please respond.

[2020-02-26 05:33] Legorooj commented on #4300
@htgoebel #4688 might be of interest. I know you're not a microsoft fan, but...

[2020-02-26 05:47] Legorooj commented on #1187
This is implemented

[2020-02-26 05:47] #1187 closed

[2020-02-26 05:48] Legorooj commented on #1185
This had been fixed

[2020-02-26 05:48] #1185 closed

[2020-02-26 05:48] #1041 closed

[2020-02-26 05:50] Legorooj commented on #1048
(Oops accident - tab somehow clicked it)

[2020-02-26 05:51] #969 closed

[2020-02-26 05:56] Legorooj commented on #3634
This is not an issue of PyInstaller

[2020-02-26 05:56] #3634 closed

[2020-02-26 05:58] Legorooj commented on #3282
What is the status on this?

[2020-02-26 05:58] #3460 closed

[2020-02-26 06:00] Legorooj commented on #2117
This can't be done due to windows restrictions.

[2020-02-26 06:00] #2117 closed

[2020-02-26 06:00] #2293 closed

[2020-02-26 06:02] Legorooj commented on #2239
Stale

[2020-02-26 06:02] #2239 closed

[2020-02-26 06:02] Legorooj commented on #1071
Stale

[2020-02-26 06:02] #1071 closed

[2020-02-26 06:03] #679 closed

[2020-02-26 06:04] Legorooj commented on #1184
Closing this. UPX compresses exe's; therefore it has to uncompress them before runtime.

[2020-02-26 06:05] #1184 closed

[2020-02-26 06:05] Legorooj commented on #1957
Closing; Stale

[2020-02-26 06:05] #1957 closed

[2020-02-26 06:07] Legorooj commented on #3206
Stale

[2020-02-26 06:07] #3206 closed

[2020-02-26 06:09] Legorooj commented on #3899
Closing due to inactivity. If the error persists, please open a new issue, after testing with a supported version of python and the develop branch

[2020-02-26 06:09] #3899 closed

[2020-02-26 06:11] Legorooj commented on #1422
Stale

[2020-02-26 06:11] #1422 closed

[2020-02-26 06:12] Legorooj commented on #1996
Author not responding

[2020-02-26 06:12] #1996 closed

[2020-02-26 06:13] Legorooj commented on #3605
Stale.

[2020-02-26 06:13] #3605 closed

[2020-02-26 06:14] Legorooj commented on #3389
Stale

[2020-02-26 06:14] #3389 closed

[2020-02-26 06:17] Legorooj commented on #3799
I've requested a review from people who can merge this. In the meantime, I'm going to close this issue.

[2020-02-26 06:17] #3799 closed

[2020-02-26 06:18] Legorooj commented on #3198
Python 2 is no longer supported.

[2020-02-26 06:18] #3198 closed

[2020-02-26 06:18] Legorooj commented on #3422
Stale

[2020-02-26 06:18] #3422 closed

[2020-02-26 06:42] Legorooj commented on #4400
https://stackoverflow.com/questions/60384288/pyinstaller-modulenotfounderror @komodovaran

[2020-02-26 06:42] Legorooj commented on #4697
https://stackoverflow.com/questions/60384288/pyinstaller-modulenotfounderror

[2020-02-26 06:42] #4697 closed

[2020-02-26 06:43] Legorooj commented on #4697
I also tested with main.py as the code you mentioned above.

[2020-02-26 06:44] Abdur-rahmaanJ commented on #4619
My take is that since pyinstaller extracts everything, at next run everything is wiped then reextracted resulting in a new db same as original

[2020-02-26 06:59] Legorooj commented on #4619
That's probably the case when using `--onefile` mode. Have you tried omitting that option?

[2020-02-26 07:15] Abdur-rahmaanJ commented on #4619
That's the case with onefile mode. I'm using folder mode right now.  A pity you can't use sqlalchemy on onefile mode.

[2020-02-26 07:47] JarekParal commented on #4550
Yes, this seems to fix this issue. Do you know why that happens?

[2020-02-26 07:53] k870611 opened #4703 "use subprocess and move from centos 62 to centos72 it report error: error: ipmitool: symbol lookup error: /lib64/libncurses.so.5: undefined symbol: _nc_putchar"
I have use subprocees in code -

cmd = "ipmitool -V"
p = subprocess.Popen(shlex.split(cmd), stdin=subprocess.PIPE, stdout=subprocess.PIPE, stderr=subprocess.PIPE)

when I package at CentOS 62 it works fine, but when I move to CentOS 72 it will raise error - ipmitool: symbol lookup error: /lib64/libncurses.so.5: undefined symbol: _nc_putchar

I use same code and package by pyinstaller, CentOS72 it

[2020-02-26 08:51] leileigong opened #4705 "PyInstaller3.6 got an error "No module named 'PyQt5.sip‘ ”"
+++ ONLY TEXT +++ DO NOT POST IMAGES +++

## PyInstaller3.6 got an error "No module named 'PyQt5.sip‘ ”

## Context information (for bug reports)
i got an executeable bin file on raspberry successfully.
But when i try to run it, got an error:

[code]

* Output of `pyinstaller --version`: ```3.6```
* Version of Python: 3.6
* Platform: Linux raspberrypi 4.14.50-v7+ #1122 SMP Tue Jun 19 12:26:26 BST

[2020-02-26 08:53] leileigong commented on #4705
on raspberry, i use pyinstaller 3.4 and python3.6, it works fine.

[2020-02-26 09:59] CzsGit commented on #4697
I tried this method, but it was the same error
Create the hook folder in the same directory as test.py, and write hook_tensorflow.py in it:

from PyInstaller.utils.hooks import collect_all

def hook(hook_api):
    packages = [
        'tensorflow',
        'tensorflow_estimator'
    ]
    for package in packages:
        datas, binaries, hiddenimports = collect_all(package)
        hook_api.add_da

[2020-02-26 09:59] CzsGit commented on #4697
I tried this method, but it was the same error
Create the hook folder in the same directory as test.py, and write hook_tensorflow.py in it:

from PyInstaller.utils.hooks import collect_all

def hook(hook_api):
packages = [
'tensorflow',
'tensorflow_estimator'
]
for package in packages:
datas, binaries, hiddenimports = collect_all(package)
hook_api.add_datas(datas)
hook_api.add_binaries(binaries)
h

[2020-02-26 10:03] CzsGit commented on #4697
I tried this method, but it was the same error
Create the hook folder in the same directory as test.py, and write hook_tensorflow.py in it:

from PyInstaller.utils.hooks import collect_all

def hook(hook_api):
    packages = [
         'tensorflow',
         'tensorflow_estimator'
     ]
    for package in packages:
        datas, binaries, hiddenimports = collect_all(package)
        hook_api.add

[2020-02-26 10:06] CzsGit commented on #4697
I tried this method, but it was the same error
Create the hook folder in the same directory as test.py, and write hook_tensorflow.py in it:
[code]
test.py
[code]
Both versions of pyinstaller 3.4 3.5 3.6 have been tried, and tensorflow has tried both versions of 1.9 1.13

[2020-02-26 10:07] mshunshin commented on #3550
Sorry - haven’t used pyinstaller since my first comment, fixing it, and distributing the software - so can’t comment if any changes.

[2020-02-26 10:09] CzsGit commented on #4697
##### error log
Traceback (most recent call last):
  File "test.py", line 1, in <module>
    import tensorflow as tf
  File "/tmp/pip-unpacked-wheel-r8Cr7R/PyInstaller/loader/pyimod03_importers.py", line 395, in load_module
  File "tensorflow/__init__.py", line 24, in <module>
  File "/tmp/pip-unpacked-wheel-r8Cr7R/PyInstaller/loader/pyimod03_importers.py", line 395, in load_module
  File "tensorf

[2020-02-26 10:23] ChaoSephiRoX commented on #4002
Hi, I got the same problems, can't run asgi server of exe runserver built  by pyinstaller.
Have you solved it?
Thanks

[2020-02-26 14:54] bjones1 commented on #4705
Already fixed in develop.

[2020-02-26 14:54] #4705 closed

[2020-02-26 14:59] bjones1 commented on #1587
@Legorooj sure.

[2020-02-26 16:47] frakman1 commented on #3899
@Legorooj What a cop-out.

[2020-02-26 17:03] Elendiar opened #4706 "Failed to execute script pyi_rth_multiprocessing, ImportError on elder win7x86"
#4244  Description of the issue
Cant run frozen python script on some windows 7 installations.

### Stacktrace / full error message
....
multiprocessing.reduction not found in PYZ

code object from 'D:\\main2\\multiprocessing\\reduction.pyc'

pickle not found in PYZ
code object from 'D:\\main2\\pickle.pyc'
_compat_pickle not found in PYZ
code object from 'D:\\main2\\_compat_pickle.pyc'
import '_co

[2020-02-26 19:09] htgoebel opened #4707 ""Security-Alert" due to subtle difference in os.path.dirname()"
I stepped of a subtle error, where `os.path.normpath()` behaves different on Windows (resp. package `ntpath` does, so one can reproduce this even on non-Windows systems).

 On Windows, `normpath` does not remove a trailing (back-)slash in all cases:
[code]

This inhibits [`collect_data_files()`](https://github.com/pyinstaller/pyinstaller/blob/v3.6/PyInstaller/utils/hooks/__init__.py#L697) and [`co

[2020-02-26 19:32] htgoebel commented on #4707
This analysis correct, but this is not the reason for the Security-Alert, as `normpath` is not used in `collect_data_files()`. But the same subtle difference exists for `dirname()`. On Windows the trailing slash is kept in some cases, while on Posix it is always removed:
[code]

[2020-02-26 19:43] bjones1 commented on #4707
Hmm -- strange. I'm not sure what `//aaa/bbb` means on Windows -- if it were `\\aaa\bbb`, that's a network share. Playing with the newer `pathlib.Path.resolve()`:

[code]

So, the behavior of these two functions is consistent, and probably varies on the backslash based on if it's interpreted as a network share or not.

[2020-02-26 21:52] Legorooj commented on #3899
@frakman1 is the issue still present? I'll reopen. (Btw inactive issues can't be dealt with.)

[2020-02-26 22:03] Legorooj commented on #4697
Use tensorflow 2.1. that's what I tested with. Also add `artor` to the packages list.

[2020-02-26 22:05] Legorooj commented on #3550
Ok then. I'll close now, but reopen if someone produces the problem with py3 and PyInstaller dev

[2020-02-26 22:13] Legorooj commented on #4550
When you import `calmanimo`, python is trying to import itself, ie calmanimo.py. If you name a python file `os.py`, and try to import the `os` module, it'll fail. If you want the python file named that, change the name of the directory to something like `_calmanimo`

[2020-02-26 22:13] Legorooj commented on #4550
@conlin-matt have you tried with the latest version of PyInstaller?

[2020-02-27 00:15] olegmitrakhovich opened #4708 "Empty DEST not allowed when adding binary and data files. Maybe you want to used '.'."
## Description of the issue

I am attempting to build an older version of SPMT - v0.4.2, here is the link to the release:

https://github.com/PIVX-Project/PIVX-SPMT/releases/tag/v0.4.2a

when I run **pyinstaller SecurePivxMasternode.spec**, I get

**Empty DEST not allowed when adding binary and data files. Maybe you want to used '.'.
Caused by 'C:\\Windows\\system32\\vcruntime140.dll'.**

not sure

[2020-02-27 02:31] #4703 closed

[2020-02-27 03:37] conlin-matt commented on #4550
I haven't tried since November. I ended up having so many issues with this that I switched gears to fbs, a great package that puts a nice wrapper on Pyinstaller. That being aid, I've had success building some (simpler) apps with Pyinstaller since then, so I don't think whatever was going on here serves as an Issue for Pyinstaller anymore. As far as I'm concerned this issue seems resolved.

[2020-02-27 03:39] Legorooj commented on #4550
@conlin-matt I'll close then. In case you're interested, I've got a PyInstaller GUI I'm in late development stages with. It'll be released soon.

[2020-02-27 03:39] #4550 closed

[2020-02-27 03:45] Legorooj commented on #4706
You can't build exes on windows 7 and port them strait over to windows 10. You need to install the windows SDK or something. @htgoebel thoughts?

[2020-02-27 03:46] Legorooj commented on #4708
Please upload the spec file.

[2020-02-27 03:48] #4414 closed

[2020-02-27 03:49] #1656 closed

[2020-02-27 03:53] Legorooj commented on #4054
Closing.

[2020-02-27 03:53] #4054 closed

[2020-02-27 10:53] BruceChen034020 commented on #4111
Should this be closed?
#3944 was closed.
This error is raised when the icon is collapsed or in incorrect format.

If someone wants to work on this error,
this is reproducible when assigning a .jpg file to the icon.

[2020-02-27 11:55] Elendiar commented on #4706
No! I build on win10 with installed windows sdk, but cant run exe on some win7. I tried copy all dlls from sdk folder to work directory, but it  only fix api-...dll missing, that also can be done with redist installation. After that something bad happens with importing _socked.pyd.

[2020-02-27 12:01] cbenhagen commented on #3550
@Legorooj please reopen. I can reproduce the issue and fix it by linking like explained in the issue.

Guess we can remove `base_library.zip` from https://github.com/pyinstaller/pyinstaller/blob/555c5e81639091caa629a87c5ffd9b0dd9585a73/PyInstaller/building/osx.py#L177 unless someone has a good reason not to link it.

[2020-02-27 16:04] olegmitrakhovich commented on #4708
Thank you for the response, @Legorooj

`# -*- mode: python -*-
import sys
import os
import os.path
import simplejson as json

os_type = sys.platform
block_cipher = None
base_dir = os.path.dirname(os.path.realpath('__file__'))

# look for version string
version_str = ''
with open(os.path.join(base_dir, 'src', 'version.txt')) as version_file:
	version_data = json.load(version_file)
version_file.clos

[2020-02-27 16:54] ArefAz opened #4710 "cannot bundle sklearn package on Raspbian "no module named joblib""
## Description of the issue

Hello,

I already read the docs and If-Things-Go-Wrong, so excuse me if I missed something.
I am using sklearn svm.SVC class and train_test_split in my code (not any other packages from sklearn). So I found that the error relates to sklearn by testing pyinstaller on my main.py and reading the errors.

I should mention that I tried `--hidden-import` and `-p` to fix the

[2020-02-27 17:58] getachew015 commented on #4265
Fixed --> try using older versions of python; it is compatibility issue. I changed to 3.7.6 and works fine now

[2020-02-27 19:30] frakman1 commented on #3899
If it isn't fixed, then it's still present.

[2020-02-27 21:53] tkang007 opened #4711 "How to build for using target system's shared library, ibm db2 for z/OS ?"
Hi,
Is there any option to allow PyInstaller bundled onefile to access target system's shared library at Linux and/or Windows?

Is this possible scenario or not ?

For IBM DB2 z/OS (Mainframe), it require to use separated installed DB2 clidriver with properly license file though ibm_db python package (it not allowed to use builtin DB2 clidriver of ibm_db package.)

I have tried with below code, bu

[2020-02-27 22:34] Legorooj commented on #3899
@frakman1 I've closed over 100 issues in PyInstaller in the last week and 90% have been fixed. Without the issues being closed, or the members knowing it's been fixed by another PR that's fixed that issue as a side effect. So what you say is not true on a project as large as PyInstaller. If an issue is inactive, I'll close it until it's proved still active.

[2020-02-27 22:35] Legorooj commented on #3550
@cbenhagen ok. Please submit a PR!

[2020-02-27 23:44] logan-pugh commented on #1835
Well to answer my own [question](https://github.com/pyinstaller/pyinstaller/issues/1835#issuecomment-590483347), here's an example of using a "pre-find-module-path" hook to override a default hook (`hook-PyQt5` in my case): https://gist.github.com/logan-pugh/c37b359bc65a365480310c157b1d284e

It's not pretty, but at least it is better than editing the PyInstaller source.

[2020-02-28 09:53] Legorooj commented on #4688
Just for info we already use Microsoft. I found out that ReadTheDocs is hosted on Microsoft Azure. Microsoft cover the costs, equalling about USD$3000/month. I think Msoft are quite good now. (They didn't used to be though - a lot of open source people don't like them, because of what they did over a decade ago)

@bjones1 did you send me an invite for that google hangout? I didn't get one.

[2020-02-28 09:58] Legorooj commented on #4711
@bjones1 this is out of my depths.

[2020-02-28 09:59] Legorooj commented on #4710
Python 2 is not supported. Please try with python 3. (I will reopen if the issue persists)

[2020-02-28 09:59] #4710 closed

[2020-02-28 10:03] Legorooj commented on #4708
I can't read that - could you format it like so:
[code]
That will render it as code. (PS you could use tildes instead - ie `~~~`)

[2020-02-28 13:26] tkang007 commented on #4711
Hello,
How about using target systems odbc setting ?
Does this case could be rsolved with runtime hook mechanism?
Thanks

[2020-02-28 15:11] ptrivedi2610 opened #4713 "Getting error while running bind hooks from pytest-assume plugin while running the executable"
Hi @itszero ,

Recently I have been working on a Project that requires to create an executable that includes the source code and some hooks from pytest-assume plugin of pytest library.
When the .exe file is executed, there arises an error regarding the usage of hooks, as below

collecting ... INTERNALERROR> Traceback (most recent call last):
INTERNALERROR>   File "_pytest\main.py", line 185, in wr

[2020-02-28 15:19] ptrivedi2610 commented on #4713
@itszero
Any help will be much appreciated.

[2020-02-28 15:41] bjones1 commented on #4711
I lack the time to provide free support for issues such as this. Contact @htgoebel if you'd like paid support.

[2020-02-28 15:41] #4711 closed

[2020-02-28 15:48] olegmitrakhovich commented on #4708
Sorry, I updated my previous comment, I hope its easier to read now. @Legorooj

[2020-02-28 16:58] bjones1 commented on #4688
@Legorooj invitation sent.

[2020-02-28 20:40] djhoese opened #4714 "Python library not found in conda-forge environment on CentOS 7"
## Description of the issue

Running pyinstaller on a simple script results in it not being able to find the python library. Running `pyinstaller test.py` on a script with:

[code]

Results in:

[code]

The libraries are there:

[code]

## Context information (for bug reports)

* Output of `pyinstaller --version`: ```3.4.dev0+g7817d3f.mod```
* Version of Python: 3.7 from conda-forge in miniconda e

[2020-02-28 20:41] djhoese commented on #4714
This seems familiar to https://github.com/pyinstaller/pyinstaller/issues/4210 that @aixtools filed.

[2020-02-29 01:35] Legorooj commented on #4713
@ptrivedi2610 you'll need a hook for the module. Please refer to the docs ("Understanding PyInstaller hooks")

[2020-02-29 01:35] #4713 closed

[2020-02-29 01:38] Legorooj commented on #4210
Is this still valid in PyInstaller 4.0dev?

[2020-02-29 01:39] Legorooj commented on #4714
Please try PyInstaller `3.6` & `4.0dev0` (Dev branch). PyInstaller 3.4 is unsupported.

[2020-02-29 01:41] Legorooj commented on #4657
This can or can't effect this. Sometimes it will, etc. It depends if your app uses it. @htgoebel could you please respond? (Harmut is the Linux guru - I use windows mostly)

[2020-02-29 03:59] djhoese commented on #4714
:man_facepalming: I thought I was using the newest version because I installed it from a local git repository, but it turns out my local `develop` was tracking my fork which hadn't been updated since 2018. Oh boy.

Well it still looks like I'm having issues with shapely (and probably dask too), but those I can put in PRs when I fix them. Thanks. I'll close this for now. If I fix up all the other l

[2020-02-29 03:59] #4714 closed

[2020-02-29 04:00] Legorooj commented on #4714
@djhoese great!

[2020-02-29 23:02] anthion commented on #4604
I ran into this behavior. In my case it was caused by having enum34 installed. pip uninstall enum34 then install pyinstaller. worked for me. I'm running pip ver 19.3.1 and python 3.7

[2020-03-01 04:43] Legorooj commented on #4691
This appears to have been resolved...

[2020-03-01 08:21] justincnn commented on #3753
tks for  your help ,
my mac os is :10.15.3
python vision:3.8.1

when pyinstaller is done ,the ***.app cannot run still .but the ***.exc can run with a terminal window.
is there a solution for my issue.tks for your great on my case ag.

[2020-03-01 09:44] Legorooj commented on #4708
Can you post the full traceback? That will help me know what is going on.

[2020-03-01 09:45] Legorooj commented on #4406
@htgoebel there are log files available in Legorooj/pyinstaller@recursiontrack

[2020-03-01 09:49] Jaime02 commented on #4406
Where? @Legorooj
![image](https://user-images.githubusercontent.com/38530589/75623436-37fb3780-5baa-11ea-8484-bb4253e008c8.png)

[2020-03-01 11:27] Legorooj commented on #4406
@Jaime02 crap - I must have acidentally deleted it. (Groan).

To replicate:

(In a fresh venv)
[code]
`pyinstaller test.py --log-level=TRACE`

[2020-03-01 14:02] fullback555 opened #4715 "PyInstaller 打包app报错：LSOpenURLsWithRole() failed with error -10810"
我使用PyInstaller 3.6打包一个PyQt5的程序，打包过程指示有一个错误：
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/zmq/backend/cffi/__pycache__/_cffi_ext.c:269:10: fatal error:
      'zmq.h' file not found

但依然能生成可执行文件：exam.app，双击该文件，无法打开，使用终端打开也无法打开，并且报错：LSOpenURLsWithRole() failed with error -10810 for the file /Users/wenlong/GitHub/exam_demo/dist/exam.app.

试过PyInstaller 3.6/3.5这个两个版本，结果

[2020-03-01 18:19] jaywalkerpaz commented on #4004
I was having the same issue. I run: pyinstaller -w --windowed --noconsole --onefile main.spec and didn't get an app file. I ran pyinstaller on my py file directly and then got an app file, but saw my spec file was overwritten. When I rebuilt my spec file I'm now getting the .app file. I don't know why this happened, but maybe a typo in my spec or something hosing it up? Anyway just in case others

[2020-03-01 22:52] arossert commented on #4657
@Legorooj thanks for the reply.
I still can’t figure it out, I’m building on a machine with readline 6.1 and this is the version that is copied to the dist dir, why it is looking for version 6.3 on another machine?

[2020-03-02 01:39] Legorooj commented on #4657
Try the Development branch. It's probably something to do with the bootloader or a DLL/SO etc in the library that uses it.

[2020-03-02 01:42] Legorooj commented on #4715
Translated version:
[code]

[2020-03-02 01:52] Legorooj commented on #4715
Please read the following documentation link: https://pyinstaller.readthedocs.io/en/stable/hooks.html

<hr>

请阅读以下文档链接：https://pyinstaller.readthedocs.io/en/stable/hooks.html

[2020-03-02 01:52] #4715 closed

[2020-03-02 01:58] Legorooj commented on #3805
Closing. This requires a hook to fix; please write one. See above link (https://github.com/pyinstaller/pyinstaller/issues/3805#issuecomment-429884433) for details and doc links.

[2020-03-02 01:58] #3805 closed

[2020-03-02 02:00] Legorooj commented on #1804
@jongiambi please see #4704
Closing - stale.

[2020-03-02 02:00] #1804 closed

[2020-03-02 02:03] Legorooj commented on #3709
@Overdrivr win8>win7 will work; windows is the same platform. The other way round may not due to underlying OS changes.

[2020-03-02 05:25] kk0087 commented on #4561
Maybe crypto and pycryptodome are both installed and conflicted

[2020-03-02 08:52] arossert commented on #4657
Thanks @Legorooj, I will try the develop branch and update.

[2020-03-02 13:15] pasbi commented on #3584
It took me quite a while to figure out this trick, though it's obvious in the aftermath. Maybe this is helpful for others:
You don't need to fiddle with system files. Use the option `--hidden-import`:

    pyinstaller myscript.py --onefile --hidden-import 'packaging.requirements' --hidden-import 'pkg_resources.py2_warn'

[2020-03-02 13:23] fullback555 commented on #4715
总算解决了。
第一个问题使用：brew install zeromq
第二个问题：将代码中读写文件使用到的相对路径改为绝对路径即可。

[2020-03-02 13:32] danielhrisca opened #4717 "Exception when importing a CPython extension module with Python 3.8"
## Description of the issue
When loading a CPython extension (_cutils_ from the traceback) I get the exception. Running the main application script using the python interpreter does not raise an exception.

With Python 3.7 this error did not occur.

## Context information (for bug reports)

* Output of `pyinstaller --version`: ```3.6```
* Version of Python: 3.8
* Platform: Windows
* Did you also t

[2020-03-02 15:33] arossert commented on #4657
@Legorooj I have tried the latest develop version (`4.0.dev0+a1f92c6a08`) and got the same results.
On the target machine, the pre-installed version is `libreadline6-6.3` and on the build machine is `libreadline6-6.1`.
If I'm replacing the `libreadline.so.6` file on the target machine with the one that comes preinstalled in the bundle directory the error message disappears.

@htgoebel maybe you ca

[2020-03-02 16:15] mcsimps2 commented on #4579
I'll also add to the conversation that I'm experiencing this bug - in my case, I'm actually getting `cacert.pem` deleted, which is causing TLS issues with the `requests` library.  I can also vouch that, trying to use `--runtime-tmpdir` only moves the `_MEI` extraction folder to the root of the drive and not to the specified location.

[2020-03-02 17:02] olegmitrakhovich commented on #4708
Sorry not really sure how to get a traceback when doing a build, but this is all I'm getting on my console when running "pyinstaller SecurePivxMasternode.spec"

2494 INFO: PyInstaller: 4.0.dev0+a1f92c6a08
2495 INFO: Python: 3.7.3
2495 INFO: Platform: Windows-10-10.0.17763-SP0
2668 INFO: UPX is not available.
Adding file C:\Windows\system32\vcruntime140.dll
2958 INFO: Extending PYTHONPATH with path

[2020-03-02 17:34] BKJackson commented on #4265
I'm getting the error even after loading
[code]

I'm currently using python 3.8.1.

[2020-03-02 18:45] djhoese opened #4718 "shapely can't find libgeos from conda-based environment"
## Description of the issue

I'm building an application that uses the shapely package. I create my environment with conda using packages from conda-forge. This means that shapely is not installed from a wheel and does not include a bundled libgeos. I plan on making a pull request to fix this, but wanted to get feedback and help before trying anything.

The issue stems from how shapely looks for l

[2020-03-02 22:28] Legorooj commented on #4715
English:

Finally resolved.
 The first question uses: brew install zeromq
 The second problem: change the relative path used to read and write files in the code to an absolute path.

[2020-03-02 22:31] #4626 closed

[2020-03-02 22:31] Legorooj commented on #4708
Is `datas.img` a folder?

[2020-03-02 22:34] Legorooj commented on #4657
@arossert yes you'll need a Linux person - I don't understand Unix executables much. It's probably something to do with the PyInstaller bootloader or the library.

[2020-03-02 22:35] matham commented on #4626
Should this be closed, given that the fix simply tells you which hook is duplicated? Or is overriding a hook present in pyinstaller source with a custom version of the hook not officially supported?

[2020-03-02 22:38] olegmitrakhovich commented on #4708
Don't see a folder like that... where do you expect it to be? @Legorooj

[2020-03-03 01:15] mcsimps2 commented on #4579
Wrote a patch for this, will open up a PR tomorrow so that maintainers who have a more detailed understanding of the workings can verify that everything is sound.

[2020-03-03 01:50] mcsimps2 commented on #4579
PR open.  If you need to, checkout that branch; the following tests work:
 - `pyinstaller --onefile --runtime-tmpdir ^%LOCALAPPDATA^%\MyNewApp app.py`
 - `pyinstaller --onefile --runtime-tmpdir C:\Users\ms\randomfolder app.py`

`app.py`:
[code]

[2020-03-03 06:20] Legorooj commented on #4708
`add_files = [('src/version.txt', '.'), ('img', 'img')]`. Is `img` a folder?

[2020-03-03 06:22] #3647 closed

[2020-03-03 06:48] Legorooj commented on #2785
The solution by @bjones1 works in most scenarios, but in the few it doesn't, then please edit the matplotlib hook *in a venv*. Do not edit the hook in your main install.

[2020-03-03 06:48] #2785 closed

[2020-03-03 06:55] Legorooj commented on #4626
@matham if you want to override default hooks, you currently have to edit the PyInstaller one. Otherwise, submit a PR that adds an option `--prefer-custom` which, when presented with a custom hook and a default one, prefers the custom hook.

[2020-03-03 06:55] Legorooj commented on #4626
Btw this wasn't a bug; it's simply not an error message.

[2020-03-03 06:58] Legorooj commented on #2525
@conlin-matt yes there is:

* We can't fix this due to the fact that this isn't a bug in PyInstaller. If `pkg_resources` can't find `cryptography` (which works on windows btw) then we can't fix the problem with `pkg_resources`. Please take it up with https://github.com/pypa/setuptools.

[2020-03-03 06:58] #2525 closed

[2020-03-03 10:06] Legorooj commented on #4691
Nope I had the wrong link somehow. Edited. @htgoebel

[2020-03-03 10:07] Legorooj commented on #4717
Python 3.8 is unsupported. Please let me know if the issue persists in 3.5-3.7. If so, I'll reopen.

[2020-03-03 10:07] #4717 closed

[2020-03-03 10:08] danielhrisca commented on #4717
Can you at least give your opinion if the error comes from pyinstaller or Cpython?

[2020-03-03 10:09] Legorooj commented on #4717
Your `daxil` module or pyinstaller.

[2020-03-03 10:12] danielhrisca commented on #4717
ok, thank you

[2020-03-03 10:16] arossert commented on #4657
@Legorooj thanks for trying to help.
I'm still trying to figure it out and will wait for @htgoebel input.

[2020-03-03 10:16] Legorooj commented on #4718
@sgillies will need to help here.

[2020-03-03 10:19] Legorooj commented on #4657
@arossert one pointer: `--debug=all` will debug when running - imports, loading, unpacking etc. Look at `build/warn-**.txt`. And redirect the output of the command with the `--log-level=TRACE` to a file - because there'll be 100,000+ lines.

[2020-03-03 10:43] cvtsi2sd commented on #1793
Just had the same problem since this week. The problem seems to be that `PyInstaller` modifies all the dlls adding an embedded manifest to make sure they refer to the bundled msvcrt files (that specific version, so whatever revision is installed on the build machine); however, plugins dlls don't reside in the root directory of the application (-> in the temp extracted directory for the `--onefile`

[2020-03-03 13:24] ptrivedi2610 commented on #4713
@itszero
I referred the same and did my changes in the zuth.spec file, but was unsuccessful.
Are there any samples available that uses specific custom created hooks integration flow with pyinstaller?

Please point to if any.

[2020-03-03 14:12] #4507 closed

[2020-03-03 19:25] dails08 commented on #3688
Same here.

[2020-03-03 21:55] shotarok commented on #2735
@Legorooj In my case, this hook solved the `SSLError: [Errno 2] No such file or directory` issue.
[code]

[2020-03-03 21:57] Legorooj commented on #4713
@ptrivedi2610 you don't modify the spec file at all when using hooks. The docs are perfectly clear on that. Please re read them.

[2020-03-03 21:59] Legorooj commented on #2735
@shotarok cool... But I was just giving you all a kick to look at this issue again. @chriswolf-nrg this hook looks useful for you.

[2020-03-04 00:35] nathanielatom opened #4721 "Crash when bundling package on github actions"
## Description of the issue

I was hoping to setup github actions to run pyinstaller for bundling my exe. I'm using the `windows-latest` runner / VM which has this [software configured](https://github.com/actions/virtual-environments/blob/master/images/win/Windows2019-Readme.md). It bundles successfully locally on Windows 10. I looked but didn't see anything to indicate windows server isn't suppor

[2020-03-04 08:39] Legorooj commented on #4721
`--log-level=TRACE`? This will only output a few lines if it's crashing this early on. Only run this once; just compiling `from sympy import *` outputs 100000+ lines.

[2020-03-04 14:53] vashek commented on #4672
@efahl , would you share how/where, please? I can't find anything. Thanks.

[2020-03-04 15:26] efahl commented on #4672
@vashek, it's in https://github.com/pyinstaller/pyinstaller/commit/91481570517707fc70aa70dca9eb986c61eac35d

[2020-03-04 15:35] JoveCat commented on #4167
I encountered this problem, can you tell me how to solve it

[2020-03-04 16:00] vashek commented on #4672
I see, thanks! So it's not released yet. (But also, not mentioned in https://pyinstaller.readthedocs.io/en/latest/CHANGES.html)

[2020-03-04 17:20] nathanielatom commented on #4721
Oh wow. In this case, still the same result:
[code]
What does the integer on the left signify? Could it be an issue finding the correct python location? Python itself seems to be on the PATH and works fine.

[2020-03-04 20:07] IlyaOrson commented on #4625
This is the library I used: https://pypi.org/project/argon2-cffi/

[2020-03-04 21:02] kingmak commented on #2613
What a dumbass.

[2020-03-04 22:29] Legorooj commented on #4721
Sorry - misclick. The `46` is to do with logging, and is normal. Hmm. Can you link to the GitHub action? And can you run with system diagnostics enabled? I'd like to have a look. (technically we don't support usage like this but this might be a bug...)

[2020-03-05 00:12] nathanielatom commented on #4721
I created a mimal repo that reproduces it here: https://github.com/nathanielatom/pyinstaller-github-actions-test/runs/486348747?check_suite_focus=true
How can system diagnostics be enabled? I set `ACTIONS_RUNNER_DEBUG` and `ACTIONS_STEP_DEBUG` to true.

[2020-03-05 07:45] CzsGit commented on #4697
Can you test it with version 1.13.1 or 1.9 of tensorflow?Because I can only use this version in my project now。now I still can't work with this method

[2020-03-05 08:58] Legorooj commented on #4697
@CzsGit I don't have the time. The linked SO question/answer should provide you with all you need, when combined with the docs.

[2020-03-05 09:04] Legorooj commented on #4721
Hmm nothing else I can find - I use Azure DevOps and you can enable system diagnostics which prints all sorts of useful info. I tracked down a bug because the sys had an old lib on it, and sys diagnostics printed the lib's version.

Thanks for the link. As it's a seperate repo, could you give me write access so I can change and try a few things?

[2020-03-05 09:11] Legorooj commented on #4721
Whaaat...? That's weird. The next line in the PyInstaller code logs something else, so how it's failing I don't know. If you can give me access to the repo I'll try something - I could talk you through it but that'd be really slow.

[2020-03-05 09:25] ptrivedi2610 commented on #4713
@Legorooj
Yes I have gone through the document again to iterate over the hook details. However, still unable to progress further.

Let me summarize the issue.
1. I am trying to create installer out of my application that extensively uses pytest and its **3rd party plugin pytest-assume**.
2. The created executable is unable to find pytest-assume. I have tried every single way possible, namely creat

[2020-03-05 11:21] Fudthhh opened #4724 "Trojan:Win32/Wacatac.C!ml"
I use Python 3.X and installed pyinstaller 3.6 and higher, after assembling the executable file, windows complains that it has a trojan called: "Trojan:Win32/Wacatac.C!ml". With pyinstaller 3.5 and below, everything is fine.

[2020-03-05 12:28] gsemet opened #4725 "Py3.6: Unable to find .../site-packages/importlib_resources/version.txt""
Hello,

On latest version of pyinstaller, the hook for importlib_resource seems to look for a non existing version.txt file. It is not provided by the latest version 1.2.0 of the backport: https://gitlab.com/python-devs/importlib_resources

[2020-03-05 12:28] weyou commented on #1565
@trodick add the following to spec file:
`exe = EXE(... upx=True, upx_exclude="vcruntime140.dll", ...)`

[2020-03-05 12:39] MiaoSamaCoder opened #4726 "WIN32COM MODULES"
| These words are translated into English using Google Translate, so there will be grammatical issues. | I run pyinstaller on 32-bit windows7, and the traceback list tells me that there is no win32com module. And some of the packaged modules are not needed by me. I only used pygame, time and other modules, but added SciPy, 2to3 and other modules. How can I fix this? I did not reinstall it.

[2020-03-05 12:41] MiaoSamaCoder commented on #4726
Also, things like fake-dir are added.

[2020-03-05 17:20] jugges commented on #2572
You just saved me from going down that dns hidden_imports rabbit hole...
THANK YOU! ❤

[2020-03-05 19:27] nathanielatom commented on #4721
Ok I invited you under Manage Access, hopefully that includes write permissions. Let me know if not. Thanks for taking a look!

[2020-03-05 21:50] Legorooj commented on #4721
@nathanielatom I can push, so that's good enough. I'll try a few things over the next few days.

[2020-03-05 22:38] Legorooj commented on #4721
Hmm - fails on windows but not Ubuntu. Very odd. https://github.com/nathanielatom/pyinstaller-github-actions-test/runs/488865251?check_suite_focus=true

[2020-03-05 23:08] Legorooj commented on #4658
Hello?

[2020-03-05 23:21] #2828 closed

[2020-03-05 23:21] #3103 closed

[2020-03-05 23:21] #3754 closed

[2020-03-05 23:21] #4400 closed

[2020-03-05 23:21] #4438 closed

[2020-03-06 01:25] jondy commented on #4658
@Legorooj
I have list 2 files for one minimal example above, main script is  `MRT.py`, and the other is `MRTFiles/attack_controller.py`. Actually this is not my problem, I just help @chwba to fix this problem, I may not know the more details.

[2020-03-06 06:44] Legorooj commented on #4658
I need a bit more help from @chwba to fix this.

[2020-03-06 07:15] Legorooj commented on #4713
Can you post the traceback that the executeable generates?

[2020-03-06 09:18] arossert commented on #4404
@htgoebel I have talked to my supervisor at my workplace and we want to help support this project, she and I sent you emails regarding possible funding but didn't get any response from you.
We would like to get some information on how we can support this project to keet it alive.

[2020-03-06 11:05] Legorooj commented on #4404
@arossert awesome! Finally someone who's workplace will offer support. You'll need Harmut for financial details, but please send questions my way if you have questions - I might be able to answer.

[2020-03-06 11:38] aixtools commented on #4210
I think it is resolved in PyInstaller 3.6 - but I need to do a virgin install to be sure. I may still have "adjustments" made to my environment so that I do not notice it.

PyInstaller 4.0dev does not build (I tried that yesterday with (nearly) the very latest off of develop branch.

Also, iirc, starting with Python3.9 this issue also goes away because it appears Python is no longer adding the (m)

[2020-03-06 11:47] Legorooj commented on #4210
Python 3.9 is unsupported - so is 3.8. If you can check this is still valid in a clean Env etc please do so.

[2020-03-06 12:03] aixtools opened #4728 "Pyinstaller(3.6) uses a variable before setting it - and this breaks applications"
+++ ONLY TEXT +++ DO NOT POST IMAGES +++

## PyInstaller application fails with message: [5242980] DLL name length exceeds buffer

## Short description
9012 INFO: Building COLLECT COLLECT-00.toc completed successfully.
(py37) aixtools@x064:[/home/aixtools/aixpert]./dist/demo02/demo02
[5242980] DLL name length exceeds buffer

Basically, the packaging succeeds
* Output of `pyinstaller --version`: ``

[2020-03-06 13:43] MiaoSamaCoder commented on #4726
here is
Traceback (most recent call last) :
File "<string>" line 2, in Knodule>
ModuleNotFoundErorr: No module namedwin32com
56667 INFO: Processing pre-safe import module lhook   win32com
Traceback most recent call last) :
File '<string>". line 2, in <module>
ModuleNotFoundErorr: No nodule named' win32com'

[2020-03-06 17:17] chwba commented on #4658
Sorry, there was a lot of work the past 2 weeks, sending the full source to legorooj@protonmail.com now

[2020-03-06 17:38] chwba commented on #4658
@Legorooj sent

[2020-03-06 18:01] aixtools commented on #4210
Was not asking for support on either 3.8 or 3.9, just commenting the 'm' character is disappearing (gone in 3.8 in any case).

[2020-03-06 22:31] Legorooj commented on #4658
@chwba I've received the msg. I'll have a look when on PC.

[2020-03-06 22:37] Legorooj commented on #4210
@aixtools that's useful to know. I've figured out the source of this; https://github.com/pyinstaller/pyinstaller/blob/96897fc78d9cbb5b8be9d353499b25295badbc9f/PyInstaller/compat.py#L73. If you can submit a PR which adds an extra name to the list etc that fixes it, please do.

[2020-03-06 23:29] dimaqq commented on #4404
@Legorooj would you be a good contact to fix paypal in Japan or to find an alternative?

The reason I've posted https://github.com/pyinstaller/pyinstaller/issues/4404#issuecomment-572354149 was that I ambushed our CEO, who supports Python conferences and projects, and pointed out that we used to and may still use pyinstaller, so he tried to contribute on the spot. And couldn't 😭

[2020-03-07 05:22] Legorooj commented on #4404
@dimaqq I'll find an alternative. Note that I can't and won't take any money, because I can donate plenty of time for free, and harmut is the one who needs funding.

[2020-03-07 07:47] Legorooj commented on #4728
PR wise, develop is our default branch. If you could get it working on that, that would be best, but if not, then you'll need @bjones1 to answer that. Also, thanks for finding this bug - this is actually quite major.

What issues are you encountering in develop? Due to our workflow, `develop` is actually almost as stable as a release. Nothing gets published to that which hasn't been tested thourog

[2020-03-07 10:06] aixtools commented on #4210
With pleasure - I'll make a PR. But which branch should I submit it against. Against "develop" I can submit a PR, but there are additional issues with "develop" that block a build. Still need to dig. (Just as build of PyInstaller3.6 against Python3-3.8.2, for mysterious reasons is not working).

[2020-03-07 10:28] Legorooj commented on #4210
Python 3.8 isn't supported; the bootloader needs a major overhaul for that version due to cpython differences. What are the issues with develop? It should be stable - as such.

[2020-03-07 10:59] aixtools opened #4730 "assoc_programm ctx.env.append_value('STRIPFLAGS') neither needed nor working (AIX)"
## Flag not needed, nor properly parsed by AIX for "STRIP" assoc_programm

## Context information (for bug reports)

* Output of `pyinstaller --version`: ```3.6```
* Version of Python: e.g. 3.7.4, 3.6.10
* Platform: AIX
* Did you also try this on another platform? Does it work there?
No, AIX specific

###  Details:
[code]

## Fix (submitted as PR - against develop, will need backport - please)
[co

[2020-03-07 11:08] aixtools commented on #4728
I'll try develop again, and write issues (and hopefully PR) as I find them.

[2020-03-07 11:19] Legorooj commented on #4728
@aixtools tag me on them.

[2020-03-07 11:26] aixtools opened #4732 "ImportError: cannot import name 'is_py2' from 'PyInstaller.compat' (on AIX)"
## Cannot package hello.py --> print("hello")

## Context information (for bug reports)

* 110 INFO: PyInstaller: 4.0.dev0+g96897fc7.mod
* 111 INFO: Python: 3.7.4
* 161 INFO: Platform: AIX-1-00C291F54C00-powerpc-32bit

* Did you also try this on another platform? Does it work there?
No, specifically working on AIX

* try the latest development version, using the following command:
Is the latest ve

[2020-03-07 22:01] Legorooj commented on #4732
Thanks for spotting this. The hook will need updating.

[2020-03-07 22:10] vashek opened #4735 "bcrypt needs _cffi_backend"
Please add a hook for bcrypt, identical to nnpy. It needs the hidden import _cffi_backend.

[2020-03-07 23:28] Legorooj commented on #4735
@vashek please submit a PR if you need this hook. (Please also refer to the development guide if you do)

[2020-03-07 23:28] #4735 closed

[2020-03-08 00:34] Legorooj commented on #4650
I'm going to close this. @jpakkane if this is a feature you really want, submit a PR. We don't have time to put towards such a little used feature.

[2020-03-08 00:34] #4650 closed

[2020-03-08 00:37] Legorooj commented on #4708
Hi?

[2020-03-08 00:39] Legorooj commented on #305
Stale

[2020-03-08 00:39] #305 closed

[2020-03-08 00:39] Legorooj commented on #1098
Closing - stale

[2020-03-08 00:39] #1098 closed

[2020-03-08 00:40] Legorooj commented on #1309
Closing - stale

[2020-03-08 00:40] #1309 closed

[2020-03-08 00:41] #1371 closed

[2020-03-08 00:43] Legorooj commented on #1048
Closing; stale

[2020-03-08 00:43] #1048 closed

[2020-03-08 00:44] Legorooj commented on #709
Stale

[2020-03-08 00:44] #709 closed

[2020-03-08 00:44] #833 closed

[2020-03-08 00:45] #782 closed

[2020-03-08 00:45] Legorooj commented on #877
Stale

[2020-03-08 00:45] #877 closed

[2020-03-08 00:47] olegmitrakhovich commented on #4708
hey man sorry for the late response, I was busy at work with something ... Do I need to add that line somewhere in the code... give me a little more detail Ill have it done monday. Again I apologize. @Legorooj

[2020-03-08 00:47] #1606 closed

[2020-03-08 00:48] #1629 closed

[2020-03-08 00:49] Legorooj commented on #4708
@olegmitrakhovich it's fine - just need a yes or no. In the above line of code, is `img` a file or directory?

[2020-03-08 00:50] #1559 closed

[2020-03-08 00:51] #1372 closed

[2020-03-08 00:53] Legorooj commented on #1915
@bjones1 @htgoebel @matysek is there any point now? `pyinstaller.readthedocs.io` is so well known that people will get confused if we switch.

[2020-03-08 00:54] Legorooj commented on #1895
Please address each test in its own PR.

[2020-03-08 00:54] #1895 closed

[2020-03-08 00:56] olegmitrakhovich commented on #4708
yes "img" is a folder with images in it. @Legorooj

[2020-03-08 01:24] Legorooj commented on #4708
@olegmitrakhovich you can't add directories. You'll need to either add each and every file like:
`add_datas.append(('img/IMG.jpg', 'img'))` or look at the Tree class described [here](https://pyinstaller.readthedocs.io/en/stable/advanced-topics.html#the-tree-class)

[2020-03-08 01:24] #4708 closed

[2020-03-08 01:45] ScamCast commented on #4506
Made a new little discovery today in regards to this issue and thought I'd share it. Figured out how to build the windows exe file without having to include the plugins folder and all the DLL's. All that is required is you have VLC installed.

For some reason, there is an issue when the DLL's are imported in vlc.py
First you have to open up vlc.py and on line 161, right before os.chdir, you have t

[2020-03-08 01:57] ScamCast commented on #4506
Made a new little discovery today in regards to this issue and thought I'd share it. Figured out how to build the windows exe file without having to include the plugins folder and all the DLL's. All that is required is you have VLC installed.

For some reason, there is an issue when the DLL's are imported in vlc.py
First you have to open up vlc.py and on line 161, right before os.chdir, you have t

[2020-03-08 03:15] Legorooj commented on #4695
Try building with `--exclude-module=torch`?

[2020-03-08 03:41] flutefreak7 opened #4736 "PyInstaller executable fails to bundle *.js dependencies of panel"
## Description of the issue
When I tried to freeze an application that depends on `pyvista` which depends on `panel` the resulting executable crashes due to an import-time FileNotFoundError for some Jupyter-notebook-related *.js file.

My frozen application doesn't need pyvista's Jupyter features, so it's possible I can just block panel from getting bundled, but I figured I'd post the bug report i

[2020-03-08 11:33] niuzhenjiang opened #4737 "Problem importing shibokensupport:No module named 'typing'"
It was normal to use pyinstaller before, and it will report an error today. Changing a lot of versions will not work, I hope someone can give a solution

Problem importing shibokensupport:
No module named 'typing'
Traceback (most recent call last):
  File "(builtin)", line 93, in ensure_shibokensupport
  File "(builtin)", line 133, in bootstrap
  File "C:\Users\PandaQzz\AppData\Local\Temp\embedded

[2020-03-08 18:24] aixtools commented on #4210
The initial issue #4732 and #4733 - you fixed already, and closed #4733. That is mainly what I was referencing.

I have a heavy load this week - so I have my doubts that I will get a vanilla system installed to test 3.6 and 3.7 library naming by CPython.

[2020-03-08 18:32] aixtools commented on #4732
Since you already fixed this - closing.

[2020-03-08 18:32] #4732 closed

[2020-03-08 22:29] Legorooj commented on #4210
@aixtools when you can test for more issues, please do.

[2020-03-08 23:14] Legorooj commented on #4732
@aixtools I'll fix the hook in my py2 cleanup PR. (#4729)

[2020-03-09 01:08] Legorooj commented on #4736
Try the following:
[code]
And inside the hook:
[code]
And add the `--additional-hook-dir=hooks` option to the command.

Let me know if it works.

[2020-03-09 01:10] Legorooj commented on #4737
Try with the option `--hidden-import=typing`? Does that work?

[2020-03-09 06:23] Legorooj commented on #4657
@arrosert you know a bit more Linux then I do, and I just remembered [this](https://github.com/pyinstaller/pyinstaller/wiki/FAQ#gnulinux). See section one - it might help.

[2020-03-09 06:26] Legorooj commented on #4730
@aixtools can you link the PRs to your issues? With `Closes #issuenum` in the main comment.

[2020-03-09 12:59] arossert commented on #4657
@Legorooj Thanks for trying to help with this issue.

I'm already aware of the `GLIBC` limitation that PyInstaller has, this is why I'm building my application on a docker container with `ubuntu10` as the base to have an old `GLIBC` version.

I have an idea on the root source of this error, I'm building Python from source and on the machine, we have `libreadline6.1` so Python is linked to that ver

[2020-03-09 18:00] chwba commented on #4658
@Legorooj let me know if there is anything I can do to help

[2020-03-09 19:35] aixtools commented on #4730
please excuse my ignorance - how do I do that?

p.s. I'll try to remember how to write a better title :)

[2020-03-09 20:15] aixtools commented on #4210
Built Python v3.6 and it only builds one shared library - adding the "m" character.

`-r-xr-xr-x   1 bin      bin         6160233 Mar 09 18:08 /opt/lib/libpython3.6m.so`

so I'll proceed to work on a PR for this. Thx for the pointer on where to work!

[2020-03-09 20:50] aixtools commented on #4210
OK. I have a PR - which I will post. I tried to include the news file in advance (using the issue number) .. news/4210.bug.rst. Do I need to rename this after the PR is created so that it has the PR number rather than the issue number?

[2020-03-09 21:33] aixtools opened #4739 "(AIX) wheel name does not include pep425 tag"
## A wheel built using `python setup.py bdist_wheel` does not include the PEP425 tag

## Wheels and binary content

* Output of `pyinstaller --version`: ```3.6```
* Version of Python: e.g. 3.6.10
* Platform: AIX
* Did you also try this on another platform? Does it work there?
No. Only testing AIX

* try the latest development version, using the following command:
Will try later...
[code]

## Resul

[2020-03-09 22:59] Legorooj commented on #4730
@aixtools if you want to link issues, you have to - in the original comment - say Closes #4730 or whichever issue you want. There are other keywords, eg Fixes, that do this, but Closes is the most common.

[2020-03-09 23:00] Legorooj commented on #4657
@arossert in the section I linked to there's a tool called staticX. Maybe that could work?

[2020-03-10 03:10] gmywq392 commented on #4124
@martin0258 exactly same case here, please help! We use pyinstaller v3.4 to build on windows 10 and run the .exe on the client server which is windows server 2008 r2! We run perfectly on our own computers and there was "ImportError: DLL load failed" on the client side...

[2020-03-10 04:08] Legorooj commented on #4739
This isn't a bug in PyInstaller at all. I've encountered this in other similar situations. Have you tried Dev?

[2020-03-10 04:08] #4739 closed

[2020-03-10 09:36] gmywq392 commented on #4124
well, after some efforts, I simply fix the problem :rofl:

If anybody faced the same situation, maybe the following links will be helpful:
https://social.technet.microsoft.com/Forums/en-US/f7cac36d-cf58-40e8-8509-d36c10ee2a8c/dll-files-missing-inwindow-server-2012-r2?forum=winserver8gen

https://manage.accuwebhosting.com/knowledgebase/2190/How-to-Install-Desktop-Experience-On-Windows-Server.html

[2020-03-10 09:51] arossert commented on #4657
@Legorooj Thanks, I struggled before with `staticx` and couldn't make it work, I gave it another shot today and realized that it only works if PyInstaller is used in one file mode and not in dir mode.

I did try it with one file (I want to use one dir at the end but tried it anyway) and when executing the app on an old machine I get this error:
[code]

Probably I need to build on an older kernel a

[2020-03-10 10:47] Legorooj commented on #4657
@arossert when @htgoebel is active he'll be able to help. Nothing more I can do on this specific issue; I'm a windows guy. (For desktop - Linux runs servers.)

[2020-03-10 11:01] Legorooj commented on #4693
@BoboTiG if you could submit a PR that'd be great.

[2020-03-10 12:45] BoboTiG commented on #4693
@Legorooj I would love to do that, but what is the fix? :D

I do not thinkg reverting the commit 392aba1 is the good move :thinking:

[2020-03-10 14:47] arossert commented on #4657
I was able to pinpoint the module that causes this error, using [keyring](https://github.com/jaraco/keyring) is causing this:
[code]
Building only this reproduces this error, I'm using version 18.0.1, this is the latest that still supports Python2.7.

After doing some more digging using `strace` I have noticed that if the `.so` is not there it will use the system one instead.

This is the output w

[2020-03-10 18:13] Sstrap opened #4740 "Pyinstaller not working with torchvision >= 3.0.0"
## Description of the issue

Pyinstaller frozen application that needs torchvision can't be properly run. The message error comes from `site-packages/torchvision/ops/misc.py`:

[code]
## Context information (for bug reports)

* Output of `pyinstaller --version`: `3.5`
* Version of Python: 3.6.10
* Pytorch version: 1.3.1
* torchvision version: 0.4.2
* Platform: e.g GNU/Linux (Ubuntu 16.04)

I simpl

[2020-03-10 22:44] Legorooj commented on #4726
@MiaoSamaCoder try `pip install pywin32` and run again.

[2020-03-10 22:48] Legorooj commented on #4693
@BoboTiG revert the commit on a new local branch, and try reapplying different versions of it until it works. Then submit a PR

[2020-03-10 22:54] Legorooj commented on #4657
That's useful to know. Assuming you're not using keyring (directly/indirectly) see if `--exclude-module keyring`

[2020-03-10 22:58] Legorooj commented on #4721
@nathanielatom can you try using Azure DevOps instead? They give unlimited minutes to public repos.

[2020-03-11 02:21] simzhangbest commented on #3738
from PyQt5.Qsci import QsciScintilla
my Main.py file need this import file and using pyinstaller (version 4.0) to package my python-project to exe, when I run my Main.exe "ModuleNotFoundError: No module named 'PyQt5.QtPrintSupport'". can you help me to find how can I fix this? THX

[2020-03-11 04:12] cutright opened #4742 "Bokeh >1.4.0 and _sri.json"
Beginning in bokeh==2.0.0, they've added a required file `_sri.json` in the top-level bokeh directory.  I've edited the `hook-bokeh.py` so that `datas` includes `collect_data_files('bokeh')`.  This solved the issue, however:

* Is this the most appropriate way to simply include `_sri.json`?
* Perhaps the `hook-bokeh.py` could be updated for future PyInstaller versions?

Initial conversation with B

[2020-03-11 06:01] ptrivedi2610 opened #4743 "Is it possible to make the created executable fetch runtime packages from Python Library ?"
@Legorooj

Recently I have a requirement where the executable created by Pyinstaller, abc.exe, itself generates some package.
The abc.exe then runs a given setup.py and installs the generated package in Python system library path.

However, what I observed is that if a package is generated and installed after abc.exe is created from Pyinstaller, it doesn't go to search in Python system path.

To s

[2020-03-11 12:04] sgauert commented on #4436
I get the same error under Windows 7 Python 3.7.3.
installing with --no-chache-dir does not solve it.
Any ideas?
`>pip install --no-cache-dir pyinstaller
Collecting pyinstaller
  Downloading PyInstaller-3.6.tar.gz (3.4 kB)
ERROR: THESE PACKAGES DO NOT MATCH THE HASHES FROM THE REQUIREMENTS FILE. If you have updated the package versions, please update the hashes. Otherwise, examine the package cont

[2020-03-11 12:12] arossert commented on #4657
@Legorooj I'm using `keyring` in my app so I cannot exclude it.
I have done some more investigation around this, I have upgraded `libreadline.so` to version 8 so the file that is packed in my app is `libreadline.so.8`.
When executing the app I do not get this error again and looking at `strace` output it seems that it loads the system `libreadline.so.6`, on other Linux systems like `Ubuntu` this l

[2020-03-11 12:30] sgauert commented on #4436
Same with:
`pip install pyinstaller==3.1.1`

BUT
works with
`pip install pyinstaller==3.1`

[2020-03-11 13:21] ptrivedi2610 commented on #4743
runtime hooks solved the issue

[2020-03-11 13:21] #4743 closed

[2020-03-11 14:15] htgoebel commented on #3809
Given you today message on the mailinglist, I assume you are building concurrently - which is an important information missing above.

As you can this, this happens in `update_resources`, which means: most probably this is a write access. And of course two concurrent processes must not write to the same file at the same time.

[2020-03-11 14:15] #3809 closed

[2020-03-11 15:13] anshingy opened #4745 "同一套源码，用pyinstaller3.6版本打包后360杀毒软件报毒，而3.5版本的不报毒"
Please use the mailing list see <http://www.pyinstaller.org/support.html#mailing-list> for details.

Posts that are not a bug report or a feature/enhancement request will not be addressed on this issue tracker, but closed.
如上题

[2020-03-11 15:18] anshingy commented on #4724
我也碰到这种情况  3.5版本的正常 3.6版本的报毒

[2020-03-11 15:19] efahl commented on #3809
Actually, no, PyInstaller is the only process being run at the time the
error occurs.  If Windows is doing something in the background, I have no
way of knowing what or how to detect that, so as I said, it remains
virtually impossible to determine the root cause.

On Wed, Mar 11, 2020 at 7:16 AM Hartmut Goebel <notifications@github.com>
wrote:

[2020-03-11 18:33] Axemen commented on #3983
Had the same issue and found that the hook-nltk.py hook was grabbing all possible nltk_data paths and giving them to pyinstaller. My Solution to this was to change the code inside of the hook from
https://github.com/pyinstaller/pyinstaller/blob/96897fc78d9cbb5b8be9d353499b25295badbc9f/PyInstaller/hooks/hook-nltk.py#L14-L25

To

[code]

The only change that i made was checking if the path exists us

[2020-03-11 20:32] chwba commented on #4658
@Legorooj any news?

[2020-03-12 02:45] cutright commented on #4742
Pull request created [here](https://github.com/pyinstaller/pyinstaller/pull/4746)

[2020-03-12 02:45] #4742 closed

[2020-03-12 02:51] Legorooj commented on #4724
@anshingy please contact Microsoft if you're having issues.

[2020-03-12 04:09] nlowell11 commented on #4740
I have also been running into this issue, have not found a solution.

[2020-03-12 05:35] Legorooj commented on #4658
@chwba yes. So I've figured out how to fix you're problem. You said that every time you started a feature, the main app starts again. The problem is, when compiled, `sys.executable` is the compiled program. In other words, every time you start a new feature, you start the app again. You'll need to recreate the app structure, using imports like `myfeature.py` is import `MRTFiles.myfeature` and `myf

[2020-03-12 05:35] #4658 closed

[2020-03-12 05:48] ptrivedi2610 opened #4747 "pytest.assume causes exception from its library when used with PyInstaller"
@itszero @Legorooj

Currently in my project, I have used pytest-assume 3rd party plugin using the hook of pyinstaller. I have created hook-pytest_assume.py to fetch the plugin from system.

The issue here is that when my project code is executed, pytest-assume library crashes from within. If I don't create executable it works fine.

Is there any specific process that happens when I include pytest-

[2020-03-12 05:58] Legorooj commented on #4747
Does this script definitely work as source?

[2020-03-12 19:24] MattDnv2 opened #4748 "Use pyunpack inside an executable file made with pyinstaller in combination with try except"
NB: I have already opened the same issue on StackOverFlow here:

[https://stackoverflow.com/questions/60655910/use-pyunpack-inside-an-executable-file-made-with-pyinstaller-in-combination-with](https://stackoverflow.com/questions/60655910/use-pyunpack-inside-an-executable-file-made-with-pyinstaller-in-combination-with)

I have a strange behaviour for pyunpack, a package for unpacking, inside an exe

[2020-03-12 22:58] Legorooj commented on #4740
Please write a hook for PyInstaller & torch vision. The hook docs are available [here](https://pyinstaller.readthedocs.io/en/stable/hooks.html). The Dev team doesn't have time to write these.

[2020-03-12 22:58] #4740 closed

[2020-03-12 23:01] Legorooj commented on #4745
抱歉，如果您的防病毒软件将此报告为恶意软件。 请与供应商联系以解决问题。

Sorry if your antivirus software reports this as malware.  Contact the vendor to resolve the issue.

[2020-03-12 23:01] #4745 closed

[2020-03-13 04:21] SF12-Studies commented on #4659
@Legorooj sorry, yes that's the case, when will they support 3.8?

[2020-03-13 04:29] Legorooj commented on #4659
v4 /v4.1 probably (by the end of the year)

[2020-03-13 08:39] ptrivedi2610 commented on #4747
@Legorooj
Also I need one fundamental information

1. When pyInstaller searches for pytest and pytest-assume, does it modify these libraries in any format ? Or they are taken just as is ?
2. Is it possible that since my source file is converted to exe file, the inspect module doesn't find file and its context from stack as in error mentioned above ?

Meanwhile, I will post the code in sometime

[2020-03-13 09:28] chwba commented on #4658
Actually thats not the problem, everytime when I start the feature nothing happens

[2020-03-13 09:29] chwba commented on #4658
Also sys.executable is supposed to be the python executable which is passed to the subprocess to open a different python script when a button is clicked

[2020-03-13 10:15] Legorooj commented on #4747
@ptrivedi2610 PyInstaller doesn't modify the library in any way, but it might not include all of it - but the hook file should fix that.

Do you mean that are you not seeing the full stack trace?

[2020-03-13 10:17] Legorooj commented on #4658
@chwba `sys.executable` when frozen is the exe; we don't bundle the python executable, only the DLL.

Please try using imports instead, or wait a bit until `MERGE` is fixed.

[2020-03-13 10:33] ptrivedi2610 commented on #4747
@Legorooj
Yes, that's right. It loses stack info.
I have tried with both Pyinstaller as well as Pyarmor.

The moment I remove that single file using pytest-assume from bundling into executable, or obfuscation (in case of Pyarmor), it works fine.

Any thoughts on the same ?

[2020-03-13 10:36] Legorooj commented on #4747
You shouldn't lose any traceback whatsoever. (In fact, it's almost impossible you do). Can you send source code for said file, or a new file to reproduce the issue?

[2020-03-13 10:49] ptrivedi2610 commented on #4747
Please use below steps
1. pip3 install pytest==4.0.2
2. pip3 install pytest-assume

Please create a file test_source.py using below code
==============================================
import pytest

def test_1():
    pytest.assume(True)
    pytest.assume(False)
==============================================

4. Run using below command
   pytest -s test_source.py

5. Now create exe out of the sourc

[2020-03-13 20:10] bjones1 commented on #1915
I agree. Let's leave this as is.

[2020-03-13 20:10] #1915 closed

[2020-03-14 01:20] cfclrk commented on #2294
Ah, I revisited this tonight and found that you can, in fact, just use `copy_metadata()` right in your pyinstaller spec file (instead of introducing a hook). Like this:
[code]
This will copy the current project's metadata into the binary Pyinstaller creates, and you will be able to access the metadata with `pkg_resources` or `importlib.metadata`. Much nicer!

I've updated a working example [here](

[2020-03-14 07:39] unwenliu commented on #4307
I encountered the same problem. Is it resolved now?

[2020-03-14 10:05] #4707 closed

[2020-03-14 11:50] htgoebel commented on #4657
Many thanks for you detailed analysis - which is much better any most other bug reports.

Now, this is a tricky one :-)

1. The bootloader is not executing `sh`, thus this can not be the conflict. I assume the error message is a bit confusing - or `keyring` is executing an external program.
2. https://github.com/pyinstaller/pyinstaller/issues/4657#issuecomment-597126547 shows that the readline bun

[2020-03-14 14:04] #4210 closed

[2020-03-14 15:04] arossert commented on #4657
@htgoebel thanks a lot for your response.

I have investigated it a bit more and have a full `strace` log of what is happening and will attach the log here.

What I can see is that something is running `sh -c uname -p 2> /dev/null` (file 6657)
```execve("/bin/sh", ["sh", "-c", "uname -p 2> /dev/null"], [/* 50 vars */]) = 0```

This process is created by the main process (file 6654) and I'm not sur

[2020-03-14 20:05] arossert commented on #4657
@htgoebel I was finally able to locate the root cause of this error, it is not coming from `keyring` per se, `keyring` is using `platform.system()`, after looking at the source code of `platform` I have found [this](https://github.com/python/cpython/blob/2.7/Lib/platform.py#L1265).

It seems that `platform.uname()` is using `uname -p` command to get the processor information, when running this it

[2020-03-14 23:00] gthb opened #4751 "Bundled Python package not found in pkg_resources.working_set"
## Description of the issue

A package I'm bundling with my application in a pyinstaller build checks for another package by looking it up in `pkg_resources.working_set`. This doesn't work in the pyinstaller-built executable, as `pkg_resources.working_set` contains only one entry, `importlib-metadata` (discovered by poking in a `print(...)` call into the loop over `pkg_resources.working_set` in `s

[2020-03-15 07:13] chwba commented on #4658
@Legorooj When will MERGE be fixed (and what is it? :D)

[2020-03-15 07:55] Legorooj commented on #4658
@chwba MERGE allows you to create multiple executables in the same environment. Each executable file has access to the same imports. https://pyinstaller.readthedocs.io/en/stable/spec-files.html#multipackage-bundles

[2020-03-15 09:00] Legorooj commented on #4691
@htgoebel this needs addressing.

[2020-03-15 09:25] Legorooj commented on #1441
Pinging.

[2020-03-15 09:30] #2183 closed

[2020-03-15 09:31] #2086 closed

[2020-03-15 10:05] htgoebel commented on #4732
Even if this is already closed:
1. `is_py` is not in 96897fc7:
[code]
2. A simple `print("Hello")` script should never trigger `hook-pydoc`. I assume there is something wrong in your setup.

[2020-03-15 10:08] Legorooj commented on #4732
@htgoebel sometimes PyInstaller includes unused libraries. I'm not sure why yet; I'll add a bug report when I can nail it down.

[2020-03-15 10:38] htgoebel commented on #4673
Sounds good for me :-)
@Legorooj This idea basically already come in #4232, which nobody worked on. Now that @bjones1 implemented it #4582, this is a good point to pick this up again. There already is a repo https://github.com/pyinstaller/pyinstaller-hooks which could be used as a base. We could also an another repoo (e.g. pyinstaller-hooks-contrib) for untested/contributed hooks, as @bjones1 sugg

[2020-03-15 10:53] Legorooj commented on #4673
@htgoebel I agree; with the new entry point, we just release a package (PyInstaller-hooks-contrib) that installs extra hooks. I'd be happy to manage the whole thing - I've experience with auto releases - and it saves your time. I think I've learned PyInstaller well enough to run a hooks repo.

[2020-03-15 14:12] MattDnv2 commented on #4748
EDIT:

I have made some progress: In the script, after print(1), if I add:

sys.executable = "C:\\Users\\myname\\AppData\\Local\\Continuum\\anaconda3\\python.exe"

Then it works again. However I have a non portable .exe

Since importing only the python.exe file via the spec file is not enough, the other solution would be to add into the spec file

sys.executable = "C:\\Users\\myname\\AppData\\Loca

[2020-03-15 20:05] VessToska commented on #2379
@clragon Do you have a source on that...? I'm not seeing any news in that regard, not sure what I'm missing here.

[2020-03-15 20:43] clragon commented on #2379
@VessToska
cant remember how I got to that conclution, but it seems like they are currently on a donation model, and not meeting their planned support.

I wouldnt assume this issue here to be fixed. ever.

[2020-03-15 23:14] Legorooj commented on #4748
@MattDnv2 thank you for this issue. I'm closing; SO is the right place for this. I'm directing some attention there. Please do not set `sys.executable` - that can break stuff.

[2020-03-15 23:14] #4748 closed

[2020-03-16 02:56] Metallicow commented on #4404
For those of us that know blender, just the text plot is thickning quite a bit.

[2020-03-16 06:02] ptrivedi2610 commented on #4747
@Legorooj

Did you get a chance to reproduce the issue ?

[2020-03-16 06:05] Legorooj commented on #4747
Not yet. I need a few more days; my workload is high.

[2020-03-16 10:43] chwba commented on #4658
@Legorooj so if we wait until this is released we dont have to rewrite the application?

[2020-03-16 12:59] kcsekhar14 commented on #4695
@Legorooj Sorry for the last reply. I have compiled and tested, now it is working without any popup messages, Thank you for the reply

[2020-03-16 14:24] xushaozhi commented on #2399
Adding ‘import xlrd’ to the script，although 'xlrd' isnot really used，can solve the problem.

[2020-03-16 16:27] Metallicow commented on #4404
Of course getting people to pass out/hand flyers and stuff at local refurbishers/shops/schools takes time and the stock and ink might be minimal, but does help if you actually have something in hand when talking with whoever you might meet with some info on it.

[2020-03-16 18:08] StephenNorCalControls opened #4752 "PyInstaller --uac-admin not working without Specified Icon"
+++ ONLY TEXT +++ DO NOT POST IMAGES +++

## Description of the issue
Using the --uac-admin option or specifying uac_admin=True in the spec file will not prompt windows to open the exe as an admin unless an icon is also specified (I suspect that it just has to be some manifest-based resource)

My spec file: (names changed for anonymity)
[code]

* Output of `pyinstaller --version`: 3.6
* Version of

[2020-03-16 20:05] Sumit1673 opened #4753 "Pyinstaller not working with VLC"
I created an app using Python3.7 and PyQt5. Then I created a .exe for the app using Pyinstaller and ran the following commands:

pyinstaller --paths=. --onefile ./controller.py --hidden-import vlc

But it failed to find the VLC module.

Below is the image of the error:
![error](https://user-images.githubusercontent.com/29515440/76795562-e654ce80-679f-11ea-8d38-81f3f298d93a.PNG)

I even tried copyi

[2020-03-16 23:26] Legorooj commented on #4658
@chwba yes - but you need to manually edit the spec file. It's doable, just *very* complex.

[2020-03-16 23:31] Legorooj commented on #4404
@Metallicow flyers are a good idea in alot of situations, but our target is online.

[2020-03-16 23:32] Legorooj commented on #4695
I'll close then. Could you please edit the original comment with the solution?

[2020-03-16 23:32] #4695 closed

[2020-03-16 23:47] Metallicow commented on #4404
I look at it for the 5/5/5 deal usually. For example the cost of a linux system on disk is like 5 bucks. The software developer needs 5 bucks too, then the person/shop which is selling it at the cash register obviously has to pay some sort of store front so they bump the price 5 bucks. Usually it works out great for local musicians at music shops. As far as software folk nowadays it is a bit harde

[2020-03-17 02:56] Legorooj commented on #4404
@Metallicow the *only* place I would agree to something physical (flyers etc) would be a PyCon.

[2020-03-17 05:27] reactivatecx commented on #4333
I'm also having this issue. I tried applying the fix @tinybug mentioned but it doesn't seem to fix the issue for me. I can confirm that the entitlements are present for my app:

[code]

Anyone got any ideas?

[2020-03-17 09:38] wackxu commented on #4008
@PabloBeranger Have you solved this problem?

[2020-03-17 12:19] harshithdwivedi opened #4755 "Error while packaging sentry with pyinstaller"
## Description of the issue
I'm trying to package sentry_sdk with pyinstaller but it doesn't seem to work as I can't see it packaged in my app and running it throws an error about missing files related to sentry.

Version of the sentry sdk: 0.14.2

## Context information (for bug reports)

* Output of `pyinstaller --version`: ```3.6```
* Version of Python: 3.7
* Platform: OS X

  * [x] start with

[2020-03-17 14:02] Sumit1673 commented on #4506
Fix looks good. I am also facing this issue but could not resolve it. I tried adding the windll.kernel32.SetDllDirectoryW(None) before import vlc but it didn't work. :(. I am not sure what happened.
Also, I added the same command inside the vlc.py.  The error which I get now while building the .exe is the missign libvlc.dll. Before it was module not found vlc. Don't know what to do. Please help.

[2020-03-18 02:40] MiaoSamaCoder commented on #4726
The problem was weird. When I restarted the computer, it was packaged, but it worked again.

[2020-03-18 03:34] Legorooj commented on #4726
@MiaoSamaCoder I've tried to reproduce this and failed. Let me know if it reappears in a traceable way.

[2020-03-18 03:34] #4726 closed

[2020-03-18 05:42] ptrivedi2610 commented on #4747
@Legorooj
Sure, no hurry. Meanwhile, we did changes in pytest-assume library as a workaround for the same. Please look at your convenience.

Also, one more question

I observed that the python script I executed took almost double time after I obfuscated and converted to .exe using Pyarmor and Pyinstaller

Are there any optimization flags/options in Pyinstaller that can help achieve speed optimizat

[2020-03-18 08:36] ScamCast commented on #4506
@Sumit1673 can I see what your spec looks like?

[2020-03-18 09:37] M0nd0liay commented on #4715
Im still struggle with this. Question where do you place this code to change the path?

os.path.join(os.path.dirname(sys.argv[0]), 'your_name.db')

And way is the name now your_name.db and not your_name.py?

thnx

[2020-03-18 14:44] Sumit1673 commented on #4506
@ScamCast Thank you for your time. I solved the missing libvlc.dll error by changing the installed VLC from 32bit to 64 bit. It started working normally using PyCharm IDE. Now, when I try to run it as a .exe I am facing a new error.  Below is the image attached.

![error2](https://user-images.githubusercontent.com/29515440/76972701-592b8a00-6905-11ea-8f5a-ab2409b9bfcf.PNG)

[2020-03-18 14:47] Sumit1673 commented on #4506
@ScamCast Here is my spec file:
[# -*- mode: python ; coding: utf-8 -*-

block_cipher = None

a = Analysis(['controller.py'],
             pathex=['D:\\Speechrecog\\16march_2020\\Frenchuolinguo-master\\Frenchuolinguo'],
             binaries=[],
             datas=[],
             hiddenimports=[],
             hookspath=[],
             runtime_hooks=[],
             excludes=[],
             win

[2020-03-18 15:52] nancwang commented on #4507
The solution works. Thank you!

[2020-03-18 19:25] EkS2018 opened #4756 "Exe applications created using this library do not run on Windows"
The pywin32 227 library only works normally with Python versions up to 3.7.x, and starting from branch 3.8.x (on Windows), the exe files that it creates do not run. Can you fix it?  Below is a text of the error that appears when you try to run an exe file created using this library:
Failed to execute script "name of my file"

[2020-03-18 20:57] delijati commented on #305
Could someone provide a example repo.

[2020-03-18 23:10] Legorooj commented on #4507
@nancwang please don't edit that module; please instead use a virtual environment.

[2020-03-19 00:04] Legorooj commented on #4747
About the second Q:

Are you using onefile? The speed will be much slower if you are. PyArmor will also slow things down - and I'd recommend using Cython and extension modules; much faster, free, and it obsfuscates the bytecode as well.

Otherwise, no, there aren't any more flags/options/methods.

I'll have a look at pytest assume, see if I can find the cause of the problem.

[2020-03-19 05:59] Legorooj commented on #4688
Actually, this isn't needed.

[2020-03-19 05:59] #4688 closed

[2020-03-19 06:00] ptrivedi2610 commented on #4747
@Legorooj No I am not using onefile mode

Besides,
1. Document says PYTHONOPTIMIZE is not safe ? I ran one of my script and it worked fine. How can we verify if our entire  code can be bundled with PYTHONOPTIMIZE safely ?
2. UPX compresses the code, which means it will decompress during execution.
Does using --noupx saves sometime (time that gets spend in compress/decompress)?

[2020-03-19 07:04] Legorooj commented on #4756
Python 3.8 isn't supported.

[2020-03-19 07:04] #4756 closed

[2020-03-19 07:05] Legorooj commented on #4755
You'll need to write a hook for `sentry_sdk`. Please see https://pyinstaller.readthedocs.io/en/stable/hooks.html and submit a PR

[2020-03-19 07:05] #4755 closed

[2020-03-19 07:06] Legorooj commented on #4753
Minimal, reproducable example please.

[2020-03-19 08:35] gmywq392 commented on #2785
I met the situation, and solved this way.
Find file "hook-nltk.py" in your %venv% and the original code like following:

[code]

then change to

[code]

If the path doesn't exist, those errors should be ignored.

Hope this will be helpful.

[2020-03-19 13:44] Sumit1673 commented on #4753
Hi,
I was able to solve the above error because the VLC installed was 32 bit instead of 64. But there is a new error which I am facing. Here is **my script which works:**

from ctypes import windll
windll.kernel32.SetDllDirectoryW(None)
import vlc
import time
import sys
if __name__ == '__main__':

	import sys
	player = vlc.MediaPlayer("File1.wav")
	player.play()
	# time.sleep(10)
	sys.exit(0)

Thi

[2020-03-19 21:50] Legorooj commented on #4753
Can you try writing a hook for vlc? And the other modules.

[2020-03-19 22:33] nathanielatom commented on #4721
Sorry, our priorities have shifted, and I don't think I will have the bandwidth for continuing with that approach. I appreciate your time spent investigating this issue.

[2020-03-19 22:45] cdgriffith commented on #3815
Link to requirements page: https://pyinstaller.readthedocs.io/en/stable/requirements.html#gnu-linux

There is currently nothing on the [installation](https://pythonhosted.org/PyInstaller/installation.html) or [quickstart](https://www.pyinstaller.org/) sections that mention additional Linux requirements, and this is currently top result for this issue so wanted to add easy link.

[2020-03-20 00:04] Legorooj commented on #4721
@nathanielatom all right then.

[2020-03-20 00:04] #4721 closed

[2020-03-20 13:59] Sumit1673 commented on #4753
I don't know how to create a hook but I will find out, try and let you know.

[2020-03-20 15:13] riverbr commented on #2714
did exactly the same thing, changing the -n to my app name and it works.
ex: pyinstaller pyfile -w -i "icon_name.ico" -n app_name

[2020-03-20 18:20] themeswordpress opened #4757 "PLease help urgent pkg_resources.DistributionNotFound: The 'checksumdir'"
Dears,

I have faced the following issue plz help urgently!

Traceback (most recent call last):
  File "fim2.py", line 3, in <module>
  File "<frozen importlib._bootstrap>", line 969, in _find_and_load
  File "<frozen importlib._bootstrap>", line 958, in _find_and_load_unlocked
  File "<frozen importlib._bootstrap>", line 673, in _load_unlocked
  File "/usr/local/lib/python3.5/dist-packages/PyInst

[2020-03-20 21:07] Legorooj commented on #4753
@Sumit1673 https://pyinstaller.readthedocs.io/en/stable/hooks.html

[2020-03-20 21:58] themeswordpress opened #4758 "i have faced `GLIBC_2.25' not found"
I have faced the following issue
plz advice

dlopen: /lib/x86_64-linux-gnu/libc.so.6: version `GLIBC_2.25' not found (required by /tmp/_MEIgGJyYB/libpython3.6m.so.1.0)

[2020-03-20 22:39] Legorooj commented on #4747
@ptrivedi2610 in the pytest assume code, I couldn't find the problem, before realising that astraw38/pytest-assume#33 (by you) fixed the problem, the day before I managed to look at the code.

Decompression will slow it down, yes. Also PYTHONOPTIMIZE will only remove assert statements and a few things, so barely speed it up. Cython is your best bet by far - it speeds up code by up to 150x, and obs

[2020-03-20 22:39] #4747 closed

[2020-03-21 04:38] Legorooj commented on #4757
@themeswordpress please create minimal, reproducible example.

[2020-03-21 04:39] Legorooj commented on #4758
@themeswordpress we can't fix that; python needs a newer version of glibc. Please build on the oldest system you have available.

[2020-03-21 04:39] #4758 closed

[2020-03-21 17:49] tartley commented on #305
pdfposter is mentioned in this issue description, but the link is bad. A working link is:
https://gitlab.com/pdftools/pdfposter/-/blob/develop/setup.py
(could someone with privs update the issue description)

[2020-03-22 04:27] #4736 closed

[2020-03-22 14:01] imedwei commented on #3704
This still doesn't work in pyinstaller 3.6.  See
https://stackoverflow.com/questions/59742078/enabling-windows-long-file-path-support-in-pyinstaller-application

Wish we reopen this issue.

[2020-03-22 17:33] Salim9304 opened #4759 "Compiled GNU / Linux program does not start"
The compiled program does not work on other Linux distributions.
The compilation itself is successful.

1)Directory assembly
2)Assembly to file

[code]

[code]
`libpython3.7m.so.1.0': dlopen: /lib/x86_64-linux-gnu/libm.so.6: version GLIBC_2.29' not found (required by /dir/program/libpython3.7m.so.1.0)`

[2020-03-22 23:35] Legorooj commented on #4759
Is this the machine you built it on?

[2020-03-23 10:52] Salim9304 commented on #4759
No, on the machine on which he built everything works.
Does not work on the same machine, but on other Linux distributions.

[2020-03-23 11:22] fhabermacher commented on #4557
Thanks @carandraug, I had a very similar issue with setuptools being installed but not being properly recognized/used (when installing sqlalchemy offline on windows), and simply adding your `--no-build-isolation` in `pip install -r requirements.txt --no-index --find-links=whl\ --no-build-isolation` or in `pip install sqlalchemy --no-index --find-links=whl\ --no-build-isolation` saved me

[2020-03-23 15:47] kurtjohnsonADA commented on #3738
Hi simzhangbest,

I created a spec file and added it to my list of hiddenImports as shown below:

a = Analysis(['ADAMain.py'],
             pathex=['C:\\Users\\Kurt\\Desktop\\PythonScripts\\ADA Repository\\code'],
             binaries=[],
             datas=added_files,
             hiddenimports=['cython', 'sklearn', 'sklearn.ensemble', 'sklearn.neighbors.typedefs', 'sklearn.neighbors.quad_tree'

[2020-03-23 21:44] Legorooj commented on #4759
Which OS did you build on? We need to know both the target and the build system's details

[2020-03-24 06:47] Salim9304 commented on #4759
ldd --version
2.29

In other distributions 2.28, apparently therefore an error.

[2020-03-24 06:47] #4759 closed

[2020-03-24 07:33] Legorooj commented on #4753
I'm closing; this can be fixed by:

* Making sure the VLC version installed is the same architecture as your python install.
And/Or
* Writing hooks: https://pyinstaller.readthedocs.io/en/stable/hooks.html

[2020-03-24 07:33] #4753 closed

[2020-03-24 11:30] LYF511 opened #4763 "Please add hook of pyuserinput (pykeyboard and pymouse) or what's a good way to generate hook by yourself."
Please add hook of pyuserinput (pykeyboard and pymouse) or what's a good way to generate hook by yourself.
I recently encountered a difficulty in developing a project: my project uses pykeyboard, but pyinstaller doesn't have his hook. This module is very easy to use, and I can't bear to let users configure Python environment.
Please add hook of pyuserinput (pykeyboard and pymouse).
Or what's a goo

[2020-03-24 15:33] Sumit1673 commented on #4753
@Legorooj
Hi,
Sorry for the delay. I tried using --hidden-import=vlc, it didn't work
Also, I created a mediaplayer.py a script for hook and mentioned the following line:

hiddenimports = ['vlc', 'vlc.MediaPlayer']

But the above methods didn't have any effect. Is anything else I am missing.

[2020-03-24 22:38] Legorooj commented on #4753
Try:
[code]
And in `hook-vlc`:
[code]
And when building add the option: `--additional-hooks-dir=hooks`.

[2020-03-25 00:30] Sumit1673 commented on #4753
Thanks for the help. The error is still same. Here is the log
[(base) D:\Speechrecog\16march_2020\Frenchuolinguo-master\Frenchuolinguo>pyinstaller --additional-hooks-dir=hooks --onefile controller.py
74 INFO: PyInstaller: 3.6
75 INFO: Python: 3.7.3 (conda)
75 INFO: Platform: Windows-10-10.0.17763-SP0
76 INFO: wrote D:\Speechrecog\16march_2020\Frenchuolinguo-master\Frenchuolinguo\controller.spec
78

[2020-03-25 06:03] Legorooj commented on #4753
@Sumit1673 I don't have the time to debug this app. You'll need to build it from the ground up, and try and find what's causing the error. Sorry I can't help more, but this is too large & time consuming.

[2020-03-25 14:48] Sumit1673 commented on #4753
Thanks for your help.

[2020-03-25 16:36] lukasberbuer opened #4764 "Inspect fails to retrieve source code inside frozen app (.py files included)"
## Description of the issue

I'm trying to use `inspect.getsource(<object>)`, e.g. `inspect.getsource(datetime.date)` in a frozen application.
Although I manually added the source files to datas
[code]
the application crashes with `OSError: could not get source code`.
~~The file path seems to get extracted correctly with `inspect.getsourcefile(datetime.date)` though.~~
**Edit**:  `inspect.getsourc

[2020-03-26 13:18] mhbdev commented on #3432
Run command as administrator then the pyinstaller command!
That worked for me :/

[2020-03-26 15:20] ArshanKhanifar opened #4766 "Error on Linux OpenWrt 4.14.169 MIPS"
#  Description of the issue
I am using `pyinstaller` on `OpenWrt` to turn a simple "hello" python application into an executable

## Context information (for bug reports)

* Output of `pyinstaller --version`: ```3.6```
* Version of Python: `3.8.1`
* Platform: e.g GNU/Linux (distribution), Windows (language settings), OS X, conda, FreeBSD
I am using the OpenWrt OS on a [Zbt3526 Router](https://open

[2020-03-27 07:26] andreynovikov commented on #4436
Windows 10
```pip install pyinstaller==3.6``` - fails
```pip install pyinstaller==3.5``` - works

[2020-03-27 07:30] TilmanK opened #4767 "Building bootloader fails with LNK1169/LNK2005"
## Description of the issue
I'm trying to build the bootloader since building my application with the current version from pypi will generate an executable that is detected as Trojan by Windows Defender.

The build fails with the following error:
`libucrt.lib(strnlen.obj) : error LNK2005: strnlen ist bereits in pyi_utils.c.2.o definiert.
C:\Users\krumm-ti\Documents\PycharmProjects\pyinstaller-deve

[2020-03-27 09:40] lgervich opened #4768 "Why 'help' function is not working in pyinstaller distribution?"
When I'm calling python 'help' function from pyinstaller binary I get an error:

Is this a bug or limitations of the framework?

[2020-03-27 12:16] Domin19901111 commented on #3733
I have this issue using python 2.7.17, pypiwin32==223 and pyinstaller versions 3.5/3.6.  Any solutions?

[2020-03-27 14:24] Chrisg2000 commented on #4768
This is a restriction set intentionally by PyInstaller.
 `help` is implemented in the module `site,` which is replaced by the fakemodul `fake-modules/site` when compiling with PyInstaller. This does not seem to work at the moment.
Use `pydoc.help` or similar instead to get the same functionality.

[2020-03-27 15:36] graysuit commented on #4642
This works fine<code><pre>C:\Users\root\Example_folder_path/newfolder>pyinstaller example.py</pre></code>
This fails<code><pre>C:\Users\root\Example folder path/newfolder>pyinstaller example.py</pre></code>

See the path difference

[2020-03-27 16:01] jaymegordo commented on #4265
^Dev version fixed the issue using pyinstaller, but now back to the same issue while trying to make PyUpdater work. Any word on when this fix will be released as stable?

[2020-03-27 16:29] arielvb commented on #4674
I have the same issue, although using **Python 3.6** on CentOS 7.

As mentioned, it works as expected when using PyInstaller 3.5.

[2020-03-27 22:27] capsocrates commented on #1441
I am encountering this issue as well.

[2020-03-27 23:02] Legorooj commented on #4642
This works fine for me... Spaces shouldnt matter.

[2020-03-28 07:58] graysuit commented on #4642
But must review your code one time whether you are missing some single/double quotes,
Because this is testing many times,
Thanks for helping

[2020-03-28 22:44] Legorooj commented on #4763
What is the problem/traceback you're getting?

[2020-03-28 22:55] Legorooj commented on #4764
This is weird... Do you have the time to track the line that raises the `OSError`?

[2020-03-28 22:57] Legorooj commented on #4766
Please try python 3.7; we don't support 3.8

[2020-03-28 23:11] Legorooj commented on #4767
Try python 3.7; we don't support 3.8

[2020-03-28 23:13] Legorooj commented on #4768
Is the correct solution @Chrisg2000

[2020-03-28 23:13] #4768 closed

[2020-03-28 23:14] Legorooj commented on #4752
Can you try on another machine? I can't reproduce this.

[2020-03-28 23:36] jay0lee commented on #4767
I saw this issue also recently. I noticed that with Visual Studio 2017, waf configuration would fail to detect strnlen, thus on make bootloader the strnlen from pyi_utils.c would be included and you would get this error.

I switched to VS 14.0 and the package from Chocalatey and it worked for me:

https://chocolatey.org/packages/vcbuildtools

this is also the route recommended in the bootloader bu

[2020-03-28 23:47] jay0lee commented on #4767
Here's a build on Travis CI that was showing this problem. You can see bootloader build configure is failing to find strnlen here:

https://travis-ci.org/github/jay0lee/GAM/jobs/667814988#L228

and here's the dump of config.log that shows the failure when testing for strnlen:

https://travis-ci.org/github/jay0lee/GAM/jobs/667814988#L885

hope this helps.

[2020-03-29 00:41] ruxia-TJY opened #4770 "The command line window is displayed without the Windows taskbar icon"
Please use the mailing list see <http://www.pyinstaller.org/support.html#mailing-list> for details.

Posts that are not a bug report or a feature/enhancement request will not be addressed on this issue tracker, but closed.

A command line program, I want to display the command line window, but not the Windows taskbar icon.
Just like VB.net's ShowInTaskBar property
Use Google Translate to speak ina

[2020-03-29 01:18] StephenNorCalControls commented on #4752
Hi, I tested on a completely different system with the same result. Are you using anything like a virtual environment? I tried both with a venv and without, and got the same result. Attaching an icon file correctly builds the exe with a manifest, and consequently appends the resource that is responsible for signalling to the windows OS that the executable needs to run as admin. If uac-admin is spe

[2020-03-29 08:43] lukasberbuer commented on #4764
Ah I was wrong. The problem already occurs in resolving the right filepath:
`filepath = inspect.getsourcefile(datetime.date)` should return `[...]\dist\main\lib\datetime.py` but returns `[...]\dist\main\datetime.py`

I stepped through the `getsourcefile` function (see comments for values and branches):
[code]

So already `getfile(object)` returns a non-existing file path `C:\Dev\pyinstaller_inspec

[2020-03-29 11:30] Legorooj commented on #4770
Please use a third party tool. All the GUI toolkits support this, and you can do it with other methods, but I don't know them.

This is not a feature for PyInstaller.

[2020-03-29 11:30] #4770 closed

[2020-03-29 16:18] mightymercado opened #4771 "filename.py conflicts with filename/__init__.py"
When compiling for **Windows 10** with `pyinstaller filename.py`, and having a sub-module coincidentally named `filename` with an `__init__.py`, the compiler will treat the starting point to be `__init__.py` instead of `filename.py`. The issue doesn't occur with other OS'es.

[2020-03-29 16:29] ArshanKhanifar commented on #4766
Thank you, I'll try this and post the results here.

[2020-03-29 16:39] Venusguy opened #4772 "Failed to execute pyiboot01_bootstrap"
Hello guys,

First of all I'm not a programmer or anything like that. I'm just trying to open an .exe file (that was creating with python I guess). My friends could open it in their laptop, but I get the error message: failed to execute pyiboot01_bootstrap
My friends don't have python, they don't even know what python is.
It might be something related to my settings ? I have no idea what to do to

[2020-03-29 20:48] KevinSydaptic commented on #4404
I believe PyInstaller is an important resource for myself and my company so we have donated to the Harmut to show our support.  I am hoping that my company will be able to contribute on a recurring basis.

[2020-03-29 23:54] Legorooj commented on #4771
Can you provide a working example? Minimal, reproducible etc

[2020-03-29 23:56] Legorooj commented on #4772
What's the program called? I'm closing this issue, but I'll help track down the provider of the exe; they're the ones to contact at the moment.

[2020-03-29 23:56] #4772 closed

[2020-03-30 00:32] Legorooj commented on #4764
@lukasberbuer `getfile` returns, in this case, `datetime.__file__` - the `datetime` *module*, not the class. We need to figure out why it's returning what it is.

[2020-03-30 02:25] Legorooj commented on #4577
Can you try changing the print statement to `print(x, end='', flush=True)`?

[2020-03-30 07:11] lukasberbuer commented on #4764
@Legorooj: I think the modules filename `datetime.py` is correct, because inspect will find and extract the `date` class definition there.

The `getsourcefile(datetime.date)` call returns, because the module has an attribute `__loader__` (PEP 302 loader), which is injected by PyInstaller.
`getsource(...)` will call `getsourcelines(...)` -> `findsource(...)` -> `linecache.getlines(...)` -> `linecac

[2020-03-30 07:15] Legorooj commented on #4764
I'm not actually sure - but it's likely something to do with the python import system.

[2020-03-30 08:11] carter54 opened #4774 "is it possible to obtain system python environment in the module packed by Pyinstaller?"
The app.py code is
[code]
when I run app.py directly, I can get following results:
[code]

after packing this code to app.exe by Pyinstaller, I get following result:
[code]
no result from ```jedi.find_system_environments()```
which means app.exe cannot get the python environments in the system.
any idea to get system environment? Thanks

[2020-03-30 11:58] Venusguy commented on #4772
why close the issue ?
the program is a tool for a game called onmyoji

[2020-03-30 12:25] Venusguy commented on #4772
but it's a chinese tool cause the game is from china originally
i used this tool a few months ago but now it doesnt work while it works for others so i dont think the problem is the exe

[2020-03-30 18:27] jonathannaguin commented on #4627
I am also having this issue, if I run the app from sources, it does have the dark mode and the window is rendered correctly. After freezing it, the window is transparent and nothing is rendered or visible.
Using PyQt5==5.13.2.

[2020-03-30 23:43] Legorooj commented on #4772
Which OS are you running? Windows 7, 8, or 10?

I closed the issue because it's officially out of our support scope.

[2020-03-31 00:05] Legorooj commented on #4774
PyInstaller completely seperates your code from the python Env on your system, meaning no you can't access it with `sys.executable` or anything like that.

[2020-03-31 00:05] #4774 closed

[2020-03-31 09:22] poudro opened #4775 "Path of pyconfig.h in pyenv venv is outside of excpected scope"
## Description of the issue

When using `pyinstaller` within a `pyenv` virtualenv, `_find_prefix` raises an error.

The error is linked to `pyconfig.h` not being properly located within venv path by pyenv.

To be more precise, the `filename` parameter passed to `_find_prefix` is
[code]

When allowd prefixes is following list
[code]

Thus `possible_prefixes` is an empty list when the function tries

[2020-03-31 13:35] Wlodarski commented on #2379
You won't interfere with concurrent pyinstaller instances if you leave read only folders alone.

[code]
Of course, ideally, we want this issue solved from within pyinstaller rather than applying hacks on every app that runs under pyinstaller. This is only a short term workaround.

[2020-03-31 14:49] Venusguy commented on #4772
ok thanks. Im on windows 10

[2020-03-31 23:16] Legorooj commented on #4772
Ok, I can't think of any reason for it to be failing off the top of my head - I'd need some source code, which the company would never let me have. I'd suggest you contact the provider. Sorry I can't help more!

[2020-03-31 23:43] Legorooj commented on #3863
Closing; there is a finished PR waiting to be merged: #4634

[2020-03-31 23:43] #3863 closed

[2020-03-31 23:47] Legorooj commented on #4771
@mightymercado thanks for letting us know.

[2020-04-01 00:51] zurgeg opened #4776 "AssertionError when running frozen program using Lark."
+++ ONLY TEXT +++ DO NOT POST IMAGES +++

## Description of the issue

## Context information (for bug reports)

* Output of `pyinstaller --version`: ```3.5```
* Version of Python: 3.7
* Platform: Windows (English)
* Did you also try this on another platform? Does it work there? No, and it doesn't appear to be a platform problem.

* try the latest development version, using the following command:

[2020-04-01 02:38] Legorooj commented on #4776
This is a problem with `Lark`, not PyInstaller. `Lark`'s code is raising this error.

[2020-04-01 02:38] #4776 closed

[2020-04-01 02:39] #4763 closed

[2020-04-01 07:39] Legorooj commented on #4767
Can you try using the installer from https://visualstudio.microsoft.com/downloads/#build-tools-for-visual-studio-2019? Those are the latest build tools, which work fine on my system - It all builds sucessfully. (If using chocolatey, please uninstall all choco packages first)

[2020-04-01 12:59] poudro commented on #4775
Here's the patch if it can help:
[code]

[2020-04-01 13:09] zurgeg commented on #4776
No, the code works when not frozen so I think it’s a problem with the way
pyinstaller freezes. Before it gave me an error about not finding
common.lark which I then put in the CWD.

[2020-04-01 14:40] zurgeg commented on #4776
See the issue that mentions this one for a fix.

[2020-04-01 15:34] MegaIng commented on #4776
The problem is a single data file that is not being included. How is the best way to solve this? I guess this would be with a hook. Should this hooked be placed inside PyInstaller. the problem with that is the package `lark-parser` has the the same import name as the less used package `lark`.

[2020-04-01 17:20] zurgeg commented on #4776
@Megalng I think the solution is to put lark-hook.py in lark-parser itself.

[2020-04-01 17:22] MegaIng commented on #4776
The question is whether or not PyInstaller will search for hooks there. I am not sure, and I didn't manage to find information about that.

[2020-04-01 20:47] #3283 closed

[2020-04-01 23:25] Legorooj commented on #4776
@MegaIng you can integrate hooks straight into your package, but note that feature is in final Dev and will only go live next release. Would you be willing to give it a go? We'd like some feedback on it's usability.

[2020-04-01 23:30] MegaIng commented on #4776
So #831 did get implemented in some form? Then of course, that would be the most optimal solution. Notice however that I am not the actual user of PyInstaller, that is @zurgeg.

Where should the hook be placed? (@erezsh is the actual maintainer of lark-parser. He might be interested in this discuss as well)

[2020-04-01 23:51] Legorooj commented on #4776
@MegaIng (@erezsh) the exact issue is #4582. It's almost complete, and the details for adding hooks in the setup.py is [here](https://pyinstaller-sample-hook.readthedocs.io/en/latest/setup.py.html). It's very much alpha/beta so feedback would be great.

[2020-04-02 00:03] Johannes0Horn commented on #4072
@MichaelFomenko May I ask on which OS you made it work?

[2020-04-02 00:36] MichaelFomenko commented on #4072
Ubuntu and Windows 10, but I dont recomend deploying your apps as exe files, deploy with tensorflow,js because webgl is everywhere supported.

[2020-04-02 07:30] erezsh commented on #4776
@Legorooj

Isn't there another way for packages to specify their essential data files, say through `setup.py`? Lark can't be the first package to require files that don't end in `py`..

How did you solve this before this new feature?

[2020-04-02 07:36] erezsh commented on #4776
I mean, you're already reading `setup.py`, looking for `entry_points/pyinstaller40`. Why not just read `package_data`? It's part of the Python standard and it's right there. Excuse me if I misunderstood.

[2020-04-02 09:18] PCarle opened #4779 "annotation color, page background color"
I create a Qt(PySide) color picker and try use picked color for create annotation,
so the annotation rendering seem's different from color selected, for cofirming this i create the minimum script:
[code]
with ./image_annot_sel_color.jpg is :
![image_annot_sel_color](https://user-images.githubusercontent.com/16350743/78231475-266fbd00-74d3-11ea-8aac-19952df39df4.jpg)
a screendump of the PySide colo

[2020-04-02 10:19] PCarle opened #4780 "Annot color, page background color"
I create a Qt(PySide) color picker and try use picked color for create annotation.  annotation rendering seem's wrong from color selected, for confirming this i created the minimum script bellow:
[code]
where "./image_annot_sel_color.jpg" is:
![image_annot_sel_color](https://user-images.githubusercontent.com/16350743/78234379-5f119580-74d7-11ea-90b0-33aef5781537.jpg)

a screen dump of the PySide c

[2020-04-02 12:28] PCarle opened #4781 "Stange behaviour of AnnotsetBlendMode(fitz.PDF_BM_Multiply) on Text Annotation"
The the text annotation icon is masked:
[code]
the result:
![multiply pymupdf](https://user-images.githubusercontent.com/16350743/78248968-db16d800-74ed-11ea-9df7-2600e83e6648.png)

if I comment "annotText.setBlendMode(fitz.PDF_BM_Multiply)" the result :
![multiply pymupdf_2](https://user-images.githubusercontent.com/16350743/78249126-1fa27380-74ee-11ea-9a07-8233f07a4206.png)

[2020-04-02 12:32] PCarle opened #4782 "Add fill for Text Annotation"
If annot is a text annotation  The fill argument of annot.setColor  (icon represented) will change the icon color ! (stroke argument change the background !)

[2020-04-02 12:33] PCarle commented on #4779
sorry for duplicated question

[2020-04-02 12:33] #4779 closed

[2020-04-02 15:57] MateKristof commented on #3448
### I have a three +1 step solution for this problem:
_Working with pyinstaller onefile "exe" like a charm_

1. **Copy** the "VLC" folder from the C:\Program Files\VideoLAN
2. **Paste** only the VLC\plugin folder and the 2 dll files to the project root folder:

     - PycharmProjects\root\VLC\libvlc.dll
     - PycharmProjects\root\VLC\libvlccore.dll
     - PycharmProjects\root\VLC\plugins

3. **In

[2020-04-02 16:21] MateKristof commented on #4506
### I have a three +1 step solution for this problem:
_Working with pyinstaller onefile "exe" like a charm_

1. **Copy** the "VLC" folder from the C:\Program Files\VideoLAN
2. **Paste** only the VLC\plugin folder and the 2 dll files to the project root folder:

     - PycharmProjects\root\VLC\libvlc.dll
     - PycharmProjects\root\VLC\libvlccore.dll
     - PycharmProjects\root\VLC\plugins

3. **In

[2020-04-02 16:35] MateKristof commented on #4369
### I have a three +1 step solution for this problem:
_Working with pyinstaller onefile "exe" like a charm_

1. **Copy** the "VLC" folder from the C:\Program Files\VideoLAN
2. **Paste** only the VLC\plugin folder and the 2 dll files to the project root folder:

     - PycharmProjects\root\VLC\libvlc.dll
     - PycharmProjects\root\VLC\libvlccore.dll
     - PycharmProjects\root\VLC\plugins

3. **In

[2020-04-02 19:52] htgoebel commented on #4782
This does not belong to PyInstaller.

[2020-04-02 19:52] #4782 closed

[2020-04-02 19:53] htgoebel commented on #4781
This does not belong to PyInstaller.

[2020-04-02 19:53] #4781 closed

[2020-04-02 19:54] htgoebel commented on #4780
This does not belong to PyInstaller.

[2020-04-02 19:54] #4780 closed

[2020-04-02 19:54] htgoebel commented on #4779
This does not belong to PyInstaller, anyway.

[2020-04-02 21:09] Venusguy commented on #4772
ok sad

[2020-04-02 22:59] Legorooj commented on #4506
@MateKristof this is good! We can figure out a solution from this.

[2020-04-02 23:02] Legorooj commented on #4776
@erezsh no, we aren't reading setup.py. When a package installs, it registers the entry point in
the enviroment. We (will, as of next release,) read it from the env. RE first comment, you use a
hook file, which collects the data files, or binary extensions if required.

Currently, hooks are integrated into pyinstaller - we have over 100 included. (We'll probably be
moving those to another package

[2020-04-03 08:02] jonathannaguin commented on #4627
I've just upgraded to PyQt5==5.14.1 and the problem remains. Having 'NSRequiresAquaSystemAppearance' set to False breaks the rendering.
I am now re-evaluating the fact we need NSRequiresAquaSystemAppearance on the Plist at all, according to the docs we only need the app built using SDK >= 10.14:
[code]
And actually, the PyQT code seems to honour that statement as well: https://codereview.qt-projec

[2020-04-03 08:45] erezsh commented on #4776
It seems a little elaborate, but I don't mind adding it to Lark, as long as it's unobtrusive. Since the solution is very simple, and the only complication arises from having to install the hooks correctly, is there any chance that you could spare a minute and do it?

[2020-04-03 09:01] MegaIng commented on #4776
I did just added a PR: https://github.com/lark-parser/lark/pull/553. But I would like @Legorooj to look over it to check if I understood the example correctly.

[2020-04-03 10:14] Legorooj commented on #4776
@MegaIng looks great! I've left a review. I'm going to close the PR into PyInstaller - I can always reopen if needed.

[2020-04-03 10:40] iwinsticks opened #4784 "Custom bootloader failed to compile."
+++ ONLY TEXT +++ DO NOT POST IMAGES +++

## Description of the issue
Issue Compiling a custom bootloader:
https://pyinstaller.readthedocs.io/en/stable/bootloader-building.html
## Context information (for bug reports)

* Output of `pyinstaller --version`: ```(3.5)```
* Version of Python: 3.7.5
* Platform: Windows 10 pro
* Did you also try this on another platform? Does it work there?
I want to com

[2020-04-03 10:59] Legorooj commented on #4784
Please use the latest version of PyInstaller.

[2020-04-03 11:27] Legorooj commented on #4752
@StephenNorCalControls I'll have another go.

[2020-04-03 12:43] Johannes0Horn commented on #4072
Thank you @MichaelFomenko,
For me this command worked with Anaconda Python 3.7, Windows 10 64 bit, pyinstaller 4.0.dev0+g86906259 and plaidml 0.7.0:
1.) cd to App.py
2.)
`pyinstaller "App.py" --add-data ./Include;Include --add-data ./library;library. --add-data ./share;share --clean`

Include, Library and Share folders had to be in the same directory as App.py.

[2020-04-03 13:33] lstolcman commented on #3688
check whether this hook helps: https://github.com/pyinstaller/pyinstaller/pull/4613

I encountered similar problem today, and hook from PR solved the problem

[2020-04-03 14:36] #2834 closed

[2020-04-03 14:56] p-virex opened #4785 "Unpacked module wx._html"
Hi. Faced a problem that the pyinstaller does not pack the wx._html module, and the application cannot start

## Context information (for bug reports)

* Output of `pyinstaller --version`: ```3.5```
* Version of Python: 2.7.16
* Platform:  Windows-10-10.0.17763
* Did you also try this on another platform? Does it work there?
Only windows specific boot-loader.

### A minimal example program which s

[2020-04-03 20:13] l3n-ru commented on #4784
I am using the latest version. Same output, same errors.

[2020-04-03 21:22] sammosummo commented on #3935
I'm having the same issue, but with `google-cloud-texttospeech`. Presumably we need to add a "hook" but I don't know how to find the missing distribution(s).